[2022-07-04 15:21] sensorCalib commented on #498
Hi @miguelriemoliveira ,

thank you very much for your help so far. I've retried the collect data step with the fix you added and I am getting past that bug mentioned above. As you suspected, there is an error further down the line:

`[ERROR] [1656944209.650737, 1656052507.832743]: bad callback: <bound method InteractiveDataLabeler.sensorDataReceivedCallback of <atom_calibration.collect.interactiv

[2022-07-04 15:39] danifpdra opened #501 "Possible depth labelling problem with robot"
What do you think @miguelriemoliveira ?

We should really implement the delete points feature in the dataset reviewer

![image](https://user-images.githubusercontent.com/47574905/177185830-0a5ea4c2-ce0d-49b8-9f6c-ca8ea3aba4f3.png)

[2022-07-04 15:48] miguelriemoliveira commented on #501
Yes, perhaps we should. Can you post a small bagfile please?

[2022-07-04 16:13] danifpdra commented on #501
Here it is: https://we.tl/t-f6AgXH2CQu

I don't think we have the sync bagfiles folder in the larcc server so I used wetransfer. You have to run it with a bag_rate of at least 0.3 because of the sim time "problem"

[2022-07-04 16:55] manuelgitgomes commented on #495
Closed by #502

[2022-07-04 16:55] #495 closed, assigned to manuelgitgomes

[2022-07-04 19:37] miguelriemoliveira commented on #501
What do you mean?

If its a new folder it copies ...

I will download and add.

[2022-07-05 09:54] danifpdra commented on #501
The sync is only for the datasets folder, no?

[2022-07-05 13:56] danifpdra opened #503 "Images don't appear while calibration due to wrong configuration of rviz template"
Hi @miguelriemoliveira ,

You have changed the format of the number of the collections but you have not changed the configurations generated by the configure_calibration_package for example while calibrating...

![image](https://user-images.githubusercontent.com/47574905/177344363-26336d3e-618a-4103-8095-1c59dbe4d7da.png)

Now the images don't appear and we have to change to the correct topic if w

[2022-07-05 22:10] miguelriemoliveira commented on #503
Hi @danifpdra ,

right, If you know how to please do it ..., otherwise I will try to find  some time later this week.

[2022-07-05 22:11] miguelriemoliveira commented on #501
Right, forgot about that. Sorry. I am doing a lot at the same time ... I will try to look at this later in the week.

[2022-07-06 10:14] danifpdra commented on #503
Yes, I did it.. The question is... That value is static, always collection 000... For example, in my case I'm not using collection 000, I'm using only from 001 because the 000 was not good. So I can't see the images anyway... Is there any way that this value could be read in real time?

[2022-07-06 10:32] miguelriemoliveira commented on #503
Hum, I don't think so.

This Image displays only show one image of a sensor, so a collection must be selected.

I don't think there is a way, at configuration time, to know which is the best collection, so 000 is selected.

You may change it in RVIZ later on.

[2022-07-06 10:33] danifpdra commented on #503
ok, it is solved then. closing

[2022-07-06 10:33] #503 closed, assigned to miguelriemoliveira

[2022-07-08 13:35] danifpdra opened #504 "Pyrdown causing error increase in depth modality"
Before fixing:

![image](https://user-images.githubusercontent.com/47574905/178002165-12cd199c-0a9f-4862-aa90-d5f54ae78608.png)
![image](https://user-images.githubusercontent.com/47574905/178002262-ba305ac3-8542-424e-9243-2dada435a9bc.png)

After fixing with manual labelling:

![image](https://user-images.githubusercontent.com/47574905/178002410-64b0e39a-39c2-48af-8251-1668cbbb743b.png)
![image](h

[2022-07-12 09:53] danifpdra opened #505 "Evaluate if Realsense images are not fit for depth labelling"
Several examples... Some are ok and some are not

![image](https://user-images.githubusercontent.com/47574905/178462855-e922336f-20de-42b1-a5c7-14dd202a1fd4.png)
![image](https://user-images.githubusercontent.com/47574905/178463005-f44c0659-cae5-4ec3-a8ad-1e1a74df48a4.png)
![image](https://user-images.githubusercontent.com/47574905/178462723-01e903be-17d8-48c4-88e9-6ef2a9f695b2.png)
![image](https

[2022-07-12 13:26] sensorCalib commented on #498
To get around that crash in line 156, I flattened the pc variable. So instead of
`x, y, z = pc['x'][idx], pc['y'][idx], pc['z'][idx]`

I am using

`x, y, z = pc['x'].flatten()[idx], pc['y'].flatten()[idx], pc['z'].flatten()[idx]`

now. It's running without a crash for a while, but the outout dir defined in the command-line parameter only is an empty dir.
Eventually, the data collection will fail a

[2022-07-12 13:29] miguelriemoliveira commented on #505
Asus vs real sense

![image](https://user-images.githubusercontent.com/11350998/178501428-7534b132-7666-4d25-9eb3-450d7e7c5093.png)

[2022-07-12 22:05] miguelriemoliveira commented on #501
@danifpdra ,

as I told you I cannot work on this until probably next september. Do you know how you could do it? Or we can wait til then ...

[2022-07-13 09:23] manuelgitgomes commented on #378
@miguelriemoliveira they requested some changes on:
https://github.com/ros-visualization/rviz/pull/1737
Should we think about this in the future? To keep this available for everyone

[2022-07-13 09:51] miguelriemoliveira commented on #378
Hi @manuelgitgomes ,

thanks for the reminder. Definitely we want to advance with this.
I plan to look into this sometime on Friday. If you want we can do it together.

[2022-07-13 09:55] manuelgitgomes commented on #378
Sure!

[2022-07-13 14:36] eupedrosa opened #506 "Access to multiple ORBBEC's rgb image with a simplified ROS node"
Hi @miguelriemoliveira and @danifpdra

How do you access to multiple ORBEC's rgb image? Do you have a simplified ROS node for this?

[2022-07-13 14:38] miguelriemoliveira commented on #506
Hi @eupedrosa ,

we set up this launch file to call the usb_cam_node script, and it works fine.

[code]

[2022-07-13 14:53] miguelriemoliveira commented on #498
Hi @sensorCalib ,

thank you for the urdf. However, the urdf calls for several stl files that you did not share.

Let me say that this is not my preferred  way of working. You clearly created a github account just for creating this issue, which appears to have the clear intent of hiding your identity or that of your company, and now you are providing information drop by drop, which makes progress

[2022-07-13 15:23] eupedrosa opened #507 "Velodyne - IP change"
Hi @miguelriemoliveira

The default IP of the the velodyne is 192.168.1.201. However, it clashes with our internal network.

I will change the IP to 192.168.3.201 and I will revert it back to its initial value once I return the sensor back to you.

[2022-07-14 10:00] eupedrosa commented on #506
It looks like you solution only works with the Pro version. The older Orbbecs do not create a /dev/video* device.
Anyway, I was able to have two (2) old Orbbecs running in the same computer with the `astra_camera` package.

@miguelriemoliveira, do you think that the 640x480 resolution of the old orbbecs is too low? Maybe we can try this in the simulation?

[2022-07-14 10:04] miguelriemoliveira commented on #506
ok, great.

I think it will be. @danifpdra do you have any input on this?

@eupedrosa you can also just run the detector with that script you created to see whether or not it can detect. @danifpdra now has the calibration pattern, but she told me that when you need it she can bring it to the UA.

[2022-07-14 10:07] danifpdra commented on #506
640x480 works depending on the distance from the pattern to the sensor... I could not make it work at the position of the sensors we have right now. A higher resolution would be better/safer.

Yes, I have the pattern at home and I'm currently running some tests. When do you need it @eupedrosa ?

[2022-07-14 10:15] miguelriemoliveira commented on #506
Thanks @danifpdra ,

Just a correction: when I said "I think it will be. @danifpdra do you have any input on this?"

I meant

I think it will **not** be

[2022-07-14 10:17] eupedrosa commented on #506
Would the smallest pattern that I have (30x14 cm) be detected by the velodyne? It would allow us to have the pattern closer to the cameras.

Not 100% sure. Because of @miguelriemoliveira, the cameras are not yest installed on the robot, he wants them to overlap. But I already found a way to installed them the way he wants. I will dot it next monday. After that is just a matter of choosing a day fo

[2022-07-14 10:22] danifpdra commented on #506
I have never tried to use a smaller pattern on LiDARs. You could maybe try on simulation. But LiDARs have a low resolution so I guess that using a smaller pattern would increase the error.

Ok, next week I will leave the pattern at the university

[2022-07-14 21:39] danifpdra commented on #506
FYI @eupedrosa, I ended up having to go to UA today so I brought the calibration pattern back to LAR

[2022-07-15 08:47] sensorCalib commented on #498
Hi @miguelriemoliveira ,
thank you very much again for you help and please excuse that way of communication. I indeed tried to not reveal more information than necessary, but you are absolutely right: if I am asking for your help, there should be some mutual trust. I have talked to my superior about this and got permission to share more information.

So, about my identity and the project I am work

[2022-07-16 02:15] robofoundry opened #508 "ERROR: Could not find a version that satisfies the requirement ros_numpy (from versions: none)"
Tried to follow getting started instructions here - https://lardemua.github.io/atom_documentation/getting_started/

After cloning the repo and trying to install requirement.txt got the error:

ERROR: Could not find a version that satisfies the requirement ros_numpy (from versions: none)
ERROR: No matching distribution found for ros_numpy

Tried to do some google searches to find a fix/workaround a

[2022-07-16 02:45] robofoundry commented on #508
This error was resolved after installing the ros_numpy package from source like this:

git clone https://github.com/eric-wieser/ros_numpy

cd ros_numpy

sudo pip3 install .

Hope this helps someone else.

[2022-07-16 02:45] #508 closed, assigned to nobody

[2022-07-16 03:04] robofoundry opened #509 "ERROR: Could not find a version that satisfies the requirement KeyPressManager (from versions: none)"
Tried to follow getting started instructions here - https://lardemua.github.io/atom_documentation/getting_started/

First error I received was relating to ros_numpy not found and had to install it from source, I logged and closed a separate issue #508 for that. After that I got the next error below.

trying to install requirement.txt got the error:

ERROR: Could not find a version that satisfies t

[2022-07-16 07:58] miguelriemoliveira commented on #498
Hi @sensorCalib ,

ok, thanks for the response. I will try to figure out what's going wrong and get back to you.

[2022-07-16 10:03] miguelriemoliveira commented on #498
Hi @sensorCalib ,

so I was working on this today and was able to advance a bit.

I created a new private repo to which I invited you.

https://github.com/miguelriemoliveira/agri-gaia-test

Then fixed a few issues while trying to calibrate.
The crash you were reporting was fixed and does not occur anymore.

However, to test, now I am gonna need a bigger bag file (30 secs at least), because only 4

[2022-07-16 11:14] miguelriemoliveira commented on #509
Hi @robofoundry ,

thanks for giving it a shot.

I removed the KeyPressManager dependency from the requirements.txt. This functionality was directly integrated into ATOM in an effort to reduce the number of dependencies.

ATOM is not supported for ROS2, just ROS 1.  I will try to make it clear in the instructions.

I did not work with ROS2 yet, so I am not sure what will be the effort to change to

[2022-07-16 14:27] robofoundry commented on #509
Thanks for being so fast in response and updating the requirements.txt. Appreciate the clarification ROS2. Would be glad to help if any help is needed to port it to ROS2. I learned ROS on ROS2 so always looking for all these great tools to become available on foxy/humble.

[2022-07-16 14:27] #509 closed, assigned to miguelriemoliveira

[2022-07-19 11:38] sensorCalib commented on #498
Hi @miguelriemoliveira

thank you very much for fixing the crashes. (And also for fixing the problem with the config file being None. I had noticed this bug occasionally, but I thought it was a mistake on my setup or something like that.)

1. A longer bag file has been uploaded here:
https://drive.google.com/drive/folders/1cufWx50qeXVnndhDZpJkdV8986wDW84x?usp=sharing
The pattern ist standing sligh

[2022-07-20 00:42] miguelriemoliveira commented on #498
Hi @sensorCalib ,

thanks. I will try to pick this up on Friday and get back to you.

[2022-07-20 10:19] danifpdra opened #511 "How should I annotate a calibration pattern that is not entirely visable?"
Hi @manuelgitgomes and @miguelriemoliveira ,

Take this example...

![image](https://user-images.githubusercontent.com/47574905/179958749-92f399ff-e300-4023-acfc-7bda843596bc.png)

This new annotation tool doesn't allow me to ignore one side of the chessboard... or maybe it does, and I don't know how. can you explain me?

[2022-07-20 10:22] manuelgitgomes commented on #511
Hello! I had this problem as well. What I did was randomly click the side not used, and then clean it. It's not the best form, but it works.

[2022-07-20 10:23] danifpdra commented on #511
How do I clean just one side @manuelgitgomes ?

[2022-07-20 10:24] manuelgitgomes commented on #511
The letter "x" cleans all points from the current side!

[2022-07-20 10:24] danifpdra commented on #511
oh ok, thanks

[2022-07-20 20:12] miguelriemoliveira commented on #511
Thanks for helping  Manuel

On Wed, Jul 20, 2022, 11:24 Daniela Rato ***@***.***> wrote:

[2022-07-21 15:14] danifpdra opened #512 "Click mouse to indicate seed point in depth labeling does not entirely work"
I click and click and the seed point doesn't change

![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/47574905/180249814-f1c45922-5d43-4222-954c-755b63f5af6e.gif)

[2022-07-21 15:15] danifpdra commented on #505
![image](https://user-images.githubusercontent.com/47574905/180249967-f2d8479f-e782-41ac-9804-a04dc9503414.png)

[2022-07-21 22:29] miguelriemoliveira commented on #512
Hum, strange. Do you have the rviz version installed? Can you post the rostopic list?

[2022-07-21 22:30] miguelriemoliveira commented on #505
I don't like the depth very much, but we can try to calibrate and see how it goes...

[2022-07-22 09:34] danifpdra commented on #505
![image](https://user-images.githubusercontent.com/47574905/180410822-a54f912a-8b22-4e99-9222-41cdc0b95829.png)

[2022-07-22 09:38] danifpdra commented on #505
![image](https://user-images.githubusercontent.com/47574905/180411533-bc02f80a-5bfa-402e-a01a-11e531d0e459.png)

[2022-07-22 09:43] danifpdra commented on #505
I feel like a doctor analysing an x ray

![image](https://user-images.githubusercontent.com/47574905/180412565-b4f55472-b5eb-4c75-8f6f-824bc8b63bbc.png)

[2022-07-22 10:39] miguelriemoliveira commented on #505
The data looks awful ...I would not use this camera.

[2022-07-22 13:16] danifpdra commented on #505
so should I remove this from the paper?

[2022-07-22 14:15] miguelriemoliveira commented on #498
Hi @sensorCalib ,

Right, this makes it impossible to segment the pattern automatically. But I will try to use the manual segmentation and see if it works.

![image](https://user-images.githubusercontent.com/11350998/180446163-7f647c98-a367-4a9e-9cf2-729cc8e1088d.png)

Yes, you have to move it around to get several collections. Not sure if you have done so, but read through the documenttion and ch

[2022-07-23 16:56] miguelriemoliveira commented on #498
So I traced down the problem (one of them) to the fact that this OS lidar, unlike the velodyne we use, outputs dense point clouds.

I will try to adjust the data labeller to tackle these as well.

I cheked and about 50% of the points in the Ouster cloud are invalid

(65536, 3) all points
(38079, 3) only valid points

Its probably because it is pointing to the sky? In any case it was confusing the

[2022-07-23 17:05] miguelriemoliveira opened #513 "Automatic Lidar labeller does not tackle dense point clouds"
Problem appeared in #498

[2022-07-23 17:57] miguelriemoliveira opened #514 "Check consistency in sensor frame_id in topics and calibration.yaml"
In #498 I used a configuration where the calibration.yaml said the sensor data was in one tf frame, and then it was in another.

The Calibration.yaml

[code]
and the calibration configuration report:

![image](https://user-images.githubusercontent.com/11350998/180617054-2988a1e6-6c3e-4cf0-965b-79c481fa1527.png)

But when we run a rostopic echo of the **/ouster_cloud_os1_0/points** topic we get

[c

[2022-07-23 18:18] miguelriemoliveira opened #515 "Collection key error 000"
Hi @manuelgitgomes ,

I just recorded a dataset and was planning to use the dataset reviewer but It gives me this error:

I remember we changed the collections from 0,1,2 to 000, 001, 002 but then we rolled back theses changes ...
didn't we have an issue about this? I can't find it.

Can you help me ?

[2022-07-24 06:31] miguelriemoliveira commented on #515
So I know why this is occurring. Its because we never used a dataset where a lidar sensor was not labelled.

Will try to fix ...

[2022-07-24 06:40] #515 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-07-24 07:01] miguelriemoliveira commented on #514
Implemented.

If inconsistency found, outputs something like:

In fact we should remove the **link** field from the calibration.yaml sensor config, since we can collect it from the header.frame_id of the messages.

Should do this in a later version of ATOM.

[2022-07-24 07:02] miguelriemoliveira opened #517 "Remove the link field from the calibration.yaml sensor config"
In fact we should remove the **link** field from the calibration.yaml sensor config, since we can collect it from the header.frame_id of the messages.

Should do this in a later version of ATOM.

Check #514 .

[2022-07-24 07:03] #514 closed, assigned to miguelriemoliveira

[2022-07-24 08:26] miguelriemoliveira commented on #513
The problems due to the fact that this OS lidar, unlike the velodyne we use, outputs dense point clouds.

Moreover, if you have the lidar pointing to the sky, all points will not have measurementes and, because we are using a dense point cloud, not be discarded and measured as 0,0,0 .

So the os agri_gaia point cloud has a lot of zeros ... The solution was to remove all points with 0,0,0 before ru

[2022-07-24 08:29] miguelriemoliveira commented on #513
Works for larcc with 3 velodyne lidars

![image](https://user-images.githubusercontent.com/11350998/180638928-af525ba5-f43c-4079-a0a1-98b27ecc3236.png)

... and also for agri_gaia with a ouster dense lidar

![image](https://user-images.githubusercontent.com/11350998/180638865-4f6ab74a-0ced-46f2-9d8a-a5b75ccead3b.png)

[2022-07-24 08:30] #513 closed, assigned to miguelriemoliveira

[2022-07-24 08:31] #511 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-07-24 08:31] miguelriemoliveira commented on #504
@danifpdra we decided that this was not going to be fixed right? Can you close?

[2022-07-24 08:38] miguelriemoliveira opened #520 "Dataset playback does not work with dense lidar3d"
Identified when working on #498 .

The problem is that the lidar point cloud should be read from the dataset and published to rviz.
It is not being shown correctly.

![image](https://user-images.githubusercontent.com/11350998/180639275-cf7be31a-7dc6-426a-a971-0ee825d1b812.png)

I suspect it is because the ouster lidar has a dense point cloud with 64 layers, probably were only reading the first.

[2022-07-24 08:40] miguelriemoliveira commented on #498
Hi @sensorCalib ,

There was a lot of work to do as you can see above, but now I think the collector is working fine also for ouster lidars.
You can see in #513 that the lidar auto detection is now working.

As we discussed, in your bag file the pattern is too close to the ground, so the detection will not be accurate.

Then I tried  to manually edit the lidar labels using the dataset playback fun

[2022-07-24 10:41] miguelriemoliveira commented on #520
Traced the problem down to the fact that the pypcd library is not saving the pcd point clouds correctly when they are of dense format.

[2022-07-24 11:56] miguelriemoliveira commented on #520
Well this was a challenging one. Tried to use open3d instead but it messed up the label indices.

Ended up having to flatten the point cloud to make sure that pypcd knows how to save it.

![image](https://user-images.githubusercontent.com/11350998/180645861-aa7e558f-bdca-4ac2-84b4-67bceec5e27b.png)

Now its possible to use the dataset playback for oister point clouds.

[2022-07-24 12:01] miguelriemoliveira commented on #520
Checked and it continues to work with larcc (velodynes). Closing.

[2022-07-24 12:02] #520 closed, assigned to miguelriemoliveira

[2022-07-24 12:12] miguelriemoliveira commented on #498
So I fixed #520 so now you can use dataset playback to manually label the chess.

You can try it out if you want. Don't forget to reconfigure your calibration package.

You should use the github I set up for agri gaia

https://github.com/miguelriemoliveira/agri-gaia-test

If you give me a better bagfile I can try to calibrate.

Some important tips for the bagfile:

1. The bag should contain the pa

[2022-07-25 11:16] eupedrosa opened #522 "Ground Detected as Pattern"
Hi ATOM people.

The pattern detection jumps between the ground and the actual pattern.

![detection_jump](https://user-images.githubusercontent.com/6196901/180764912-dd84dcf7-410c-4117-8143-5050a400aa77.gif)

 Is there a way to filter the ground?

[2022-07-25 15:35] sensorCalib commented on #498
Hi @miguelriemoliveira ,
thank you for these fixes.

The ouster os1 has a horizontal field of view of 360°, so yes, it is also pointing towards the sky.
https://data.ouster.io/downloads/datasheets/datasheet-rev06-v2p3-os1.pdf
I guess that explains, why so many points were invalid (?)

Our pattern is 1200x900mm^2 and quite big already, but obviously too far away. I will try to provide a recording i

[2022-07-25 16:20] miguelriemoliveira commented on #522
Hi @eupedrosa ,

You are also an "ATOM people"!

This is a know limitation. You have two options:

1. put the pattern a bit more above the ground
2. annotate the pattern manually using the dataset reviewer

[2022-07-25 16:20] #522 closed, assigned to nobody

[2022-07-26 00:32] miguelriemoliveira commented on #498
Hi @sensorCalib ,

As you had before ATOM should  also be able to calibrate.

In any case, I changed just because of following the ROS convention.
Note that ROS uses a x forward, y left, z up convention for the coordinate frames. The exception is the frames of camera sensors, that typically have a reference frame as per the ROS convention, and then have an optical frame that follows camera convent

[2022-07-27 14:16] sensorCalib commented on #498
Hi @miguelriemoliveira
thanks for that explanation.

Could you explain how to use this tool? This script accepts the following arguments:
 [-t {charuco,chessboard}] [-d DICT] -x NUM_X -y NUM_Y -L LENGTH [-l INNER_LENGTH] topic
In my case, I would call
-t chessboard,
-x 12 (since there are 12 edges in x direction)
 -y 9 (since there are 9 edges in y direction)
-L 100 (since each edge has a length o

[2022-07-27 21:26] miguelriemoliveira commented on #498
Hi @sensorCalib ,

About the question you did before and I forgot to answer, how many corners should we say, 11 or 12, I am never completely sure about this one. It says in the config.yaml  file:

[code]

So I would try first the number of corners (not the number of squares) in each direction.

Yes, the size of each square.

It is the topic in which your camera is being published. You can run a

r

[2022-07-27 21:29] miguelriemoliveira commented on #498
Ok, please open a specific issue for this one and I will try to take a look.

You can download and test the https://github.com/miguelriemoliveira/agri-gaia-test . I did it so we can work together on the same repo.

All you have to do is to configure the calibration package for your machine, and it should function similarly to my side.

[2022-07-27 21:31] miguelriemoliveira commented on #498
Data collection is a manually triggered step. You have to press a green sphere which is somewhere in your 3d space in rviz and then select the "save collection" to save a collection.

For this lets first try to run the view_frames script to make sure the configuration of the pattern is ok. I will try it and get back to you.

[2022-07-27 21:34] miguelriemoliveira commented on #498
Sure, I will try it tomorrow and get back to you.

And thank you for being so patient with ATOM. Its really nice to have an outsider finding all sorts of bugs :-)

Perhaps, I get this to calibrate in your system and , we can arranje a zoom meeting so I can show you how it works.

[2022-07-27 21:39] miguelriemoliveira commented on #498
oops, can't download the new bagfile. Not sure why, just get this message:

![image](https://user-images.githubusercontent.com/11350998/181376976-4907cb42-c345-4c29-ab0c-1cf868c4ec43.png)

I went to the folder from a link I received from a Roman Weisgerber and I find there bag

recording_2022-07-26-14-53-46_0.bag

is this the one?

[2022-07-28 09:42] sensorCalib commented on #498
Thanks. What should happen, if the configuration of the pattern is correct? And what if it isn't? I called the script, but didn't see any success message or something like that. As it seems, the configuration is incorrect(?)
<img width="718" alt="view_pattern" src="https://user-images.githubusercontent.com/108126721/181473662-961bad12-5159-4733-8c02-e6fbfd34ea7c.png">

The screenshot shows the out

[2022-07-28 10:12] sensorCalib opened #523 "Requirements can not be installed"
The requirements from the tutorial
https://lardemua.github.io/atom_documentation/getting_started/
couldn't be installed. Apparently, ros_numpy doesn't exist anymore.

`sudo pip3 install -r src/atom/requirements.txt
[sudo] password for martelv:
Requirement already satisfied: rospy_message_converter in /usr/local/lib/python3.8/dist-packages (from -r src/atom/requirements.txt (line 1)) (0.5.2)
Requir

[2022-07-28 10:13] miguelriemoliveira commented on #498
It should draw something in the image I think ... but I will try it later today or tomorrow and get back to you ...

[2022-07-28 10:14] miguelriemoliveira commented on #523
Hi @sensorCalib ,

    sudo apt-get install ros-$release-ros-numpy

from https://answers.ros.org/question/270439/ros_numpy-package/

Does it work?

[2022-07-28 10:49] sensorCalib commented on #523
Hi @miguelriemoliveira

`sudo apt-get install ros-noetic-ros-numpy`

did work for me.

[2022-07-28 11:02] sensorCalib commented on #498
Yes, that is the latest bag file.

Thank you for having a look at it.

No problem. Although, I can not deny that I would have preferred it to work immediately without having to find these bugs. :-)

[2022-07-28 11:22] danifpdra opened #524 "Hand-eye calibration not going as expected"
![image](https://user-images.githubusercontent.com/47574905/181493428-531fd71e-94a6-46be-a5f1-715d31ac5a8d.png)

[2022-07-28 13:54] miguelriemoliveira commented on #524
Hi @danifpdra ,

I need more details as well as the conditions to replicate.

In any case I am not I will be able to work on this in july ...

[2022-07-28 15:44] miguelriemoliveira commented on #523
OK, thanks. I will change the documentation to add this information.

[2022-07-28 15:44] #523 closed, assigned to nobody

[2022-07-28 16:21] miguelriemoliveira commented on #498
Me too :- )

[2022-07-28 16:35] miguelriemoliveira commented on #498
Hi @sensorCalib ,

I just tried the view pattern script and the result was this:

![image](https://user-images.githubusercontent.com/11350998/181590719-8e713d50-2286-49d6-a368-35bd68fba164.png)

The figure on the right is created by the script and shows the circles on top of the corners, signaling that the chessboard is being detected.

I ran the script like this:

    rosrun atom_calibration view

[2022-07-28 16:54] miguelriemoliveira commented on #498
I just successfully collected a dataset

https://youtu.be/7EEnSdLBdyk

The dataset is here:

[test1.zip](https://github.com/lardemua/atom/files/9212726/test1.zip)

Tomorrow I can try the calibration to see how it goes.

Also, I will try to help you with your bugs.

[2022-07-28 18:17] miguelriemoliveira commented on #498
Just pushed to agri_gaia_test.

After git pull you should check the calibration.yaml, uncomment your paths and comment mine and reconfigure your calibration package.

[2022-07-28 18:31] miguelriemoliveira commented on #498
I just tested the dataset playback and corrected the lidar automatic labels for two collections.

https://youtu.be/Xk56xqCWAj0

Here's the dataset also with the **dataset_corrected.json**

[Uploading test1.zip…]()

[2022-07-29 08:48] danifpdra commented on #524
This was just for documentation... I will work on this

[2022-07-29 08:53] miguelriemoliveira commented on #524
Ah, ok. You assigned me so I panicked :- )

[2022-07-29 08:58] danifpdra commented on #524
Just FYI

[2022-08-03 11:16] sensorCalib commented on #498
This worked for me too, thank you. Ok, understood which parameters to choose for x and y. (Also, the parameter for -L has to be passed in meters, not in milimeters as I previously did.)

Great to see, that you were able to collect data. (It's still crashing for me as mentioned in
https://github.com/miguelriemoliveira/agri-gaia-test/issues/1 )

[2022-08-06 09:47] miguelriemoliveira commented on #498
Should be solved now. I will try to run a calibration ...

[2022-08-06 09:56] miguelriemoliveira opened #525 "Print feedback in dataset playback"
I get lost using it because adding a removing points takes a while ...

[2022-08-06 10:50] miguelriemoliveira commented on #498
So to calibrate I need all collections correctly annotated, so I went back to the dataset playback and manually corrected the annotations, so we now have:

**Collection 000**
![image](https://user-images.githubusercontent.com/11350998/183245698-fc327d02-8ac6-41a5-8bb1-d24cc73061f6.png)

**Collection 001**
![image](https://user-images.githubusercontent.com/11350998/183245706-c2ceede6-ae84-4166-b9c8

[2022-08-06 10:56] #525 closed, assigned to miguelriemoliveira

[2022-08-06 11:30] miguelriemoliveira commented on #498
Hi @sensorCalib ,

so here's the first calibration of agri-gaia.

![image](https://user-images.githubusercontent.com/11350998/183247009-4fad8a03-d060-4ac3-9c35-ae26af19a100.png)

Results were the following:

[code]

[2022-08-06 11:31] miguelriemoliveira opened #526 "Agri-gaia pattern visualization not working"
![image](https://user-images.githubusercontent.com/11350998/183247087-5a6a871a-fe01-453b-a0eb-4be4feeb23f3.png)

[2022-08-06 11:32] miguelriemoliveira commented on #498
The visualization is not working well. I will check the pattern. I think its because of the position of the origin ...
Created #526

The pixel errors of the zed are too high. I will investigate.

[2022-08-06 11:56] miguelriemoliveira commented on #526
I confirm the axis of the dae file  is in the center of the pattern. It should be by convention on the center of the bottom left corner

![image](https://user-images.githubusercontent.com/11350998/183247931-3664374a-a03f-4bc1-b4ae-60bbcea1d56b.png)
.

[2022-08-06 15:06] miguelriemoliveira commented on #526
So I did some experiments. I am able to change the position of the origin in meshlab, which is my usual procedure.

The problem is that I loose the textures when I do this.

Can you provide the pattern 3d textured mesh in another format such as obj or stl?

[2022-08-07 12:21] miguelriemoliveira commented on #526
So I solved it creating a new chessboard pattern with the dimensions you gave me.

The convention is not as I said origin bottom left corner, x left to right, y bottom to top. That is the convention for charucos.

For chessboards the convention is origin top left corner, x left to right, y top to bottom.

Here's a visualization of the pattern during calibration

![image](https://user-images.github

[2022-08-07 12:34] #526 closed, assigned to miguelriemoliveira

[2022-08-09 11:23] sensorCalib commented on #498
Hi @miguelriemoliveira
with the crash in
https://github.com/miguelriemoliveira/agri-gaia-test/issues/1
being fixed, I was able to collect data as well. Thank you very much once again.

I then tried to calibrate as you did above, but ran into another error. This might have happened because I am not directly working on the machine and instead using a remote desktop software (x2go), but I havn't figu

[2022-08-09 14:44] miguelriemoliveira commented on #498
I never had this before. What is your open3d version? Mine is 0.15.2 ...

![image](https://user-images.githubusercontent.com/11350998/183678737-ae60f2ba-c8bd-4c75-9ff9-cbf94b43d71c.png)

[2022-08-09 14:50] miguelriemoliveira commented on #498
Hi again @sensorCalib ,

here they say they had to compile from source ... What machine do you have? A standard ubuntu?

The remote desktop may have problems, I remember using anyviewer crashed sometimes with rviz.
You could just use ssh -X to the machine, but visualization is slower ...

[2022-08-11 11:06] sensorCalib commented on #498
Hi @miguelriemoliveira ,

"pip show open3d" told me, that open3d was installed. However, calling python3 and trying to "import open3d" as you did, resulted in an error.

So, I tried to install open3d from source as you suggested following this guide
http://www.open3d.org/docs/release/compilation.html
and created the python package with
make python-package
But I still got the same error when trying

[2022-08-11 11:35] miguelriemoliveira commented on #498
Hi,

Glad to hear you advanced.

To visualize in rviz you should activate the visualization flags . Try with

-v -rv -si

https://lardemua.github.io/atom_documentation/procedures/#calibrate

[2022-08-11 13:17] sensorCalib commented on #498
Hi,

I currently am at the "Dataset playback" step to correct the labels. The flags you mentioned arn't available here (?).

But since that step is optional, I can skip it and directly go to the "Calibrate sensors" step. So, now I am calling

`roslaunch agri_gaia_calibration calibrate.launch`
`rosrun atom_calibration calibrate -json /home/martelv/catkin_ws/data/ag_out3/dataset.json -v -rv -si`

Bu

[2022-08-11 14:08] miguelriemoliveira commented on #498
Hi @sensorCalib ,

sorry, that's what happens when you try to answer during lunch ...

Let's try again:

Not sure why this happens. Can you confirm the messages are being sent?
Just do a

    rostopic echo /zed2i_0/rgb_raw/image_raw_color/labeled2d

Do you see any data being sent?

To me it works fine with my dataset. Can you try with this dataset to make sure its not the dataset?

[test1.zip](htt

[2022-08-11 15:31] sensorCalib commented on #498
Hi,

no problem, thanks for helping even during lunch break.

There were no messages being sent:

WARNING: no messages received and simulated time is active.
Is /clock being published?

However, that warning lead me to
https://answers.ros.org/question/12083/messages-being-blocked-from-publishing/
which told me how to fix the problem.

I don't know how and when I set "use_sim_time" to true and why

[2022-08-11 16:05] miguelriemoliveira commented on #498
That's strange.

When you run a bag file, its normal to set the use_sim_time parameter to true.  Its in the automatically generated launch files:

https://github.com/miguelriemoliveira/agri-gaia-test/blob/4de14bfd4054c1d6c302dc97fc00e67f72500f23/agri_gaia_calibration/launch/playbag.launch#L67

In order for this to work some node should publish the clock (not the real clock, but the bag file clock)

[2022-08-11 16:08] miguelriemoliveira commented on #498
Don't forget that for that you need to:

1. Compile the ATOM repo. There's a small c++ code that runs as an rviz plugin. Actually, this is the only ATOM c++ code.

   cd catkin_ws
   catkin_make

2. Install a special fork of rviz as explained here

https://lardemua.github.io/atom_documentation/getting_started/#clone-rviz-fork

[2022-08-11 16:27] miguelriemoliveira commented on #498
Just thought about it ... I don't think you'll need this since you don't have a depth camera.

[2022-08-12 14:07] sensorCalib commented on #498
I called

so I guess that I am using "agri-gaia/launch/playbag.launch" (?).

As for the calibration: I corrected the labels and started a calibration, these were the results:

One optimizer iteration has 13 function calls.
Starting optimization ...
Errors per collection (anchored sensor,  max error per sensor, not detected as "---")
+------------+------------+----------+
| Collection | ouster_os1

[2022-08-12 18:43] miguelriemoliveira opened #527 "No visualization msg in dataset playback - use_sim_time"
From #498, did not understand why this occurs. Should investigate further. Previous posts:

-----

Just checked. Actually, during dataset_playback, since we are reading from the dataset and not the bag file there is no "rosbag play" and therefore no one publishing the clock.

what happened was that you ran the collect_data , which called the **playbag.launch**

https://github.com/miguelriemoliveir

[2022-08-12 19:03] miguelriemoliveira commented on #527
Just fixed this. To have effect you'll need to reconfigure your calibration package.

In any case I already committed the latest version to agri-gaia-test.

[2022-08-12 19:03] #527 closed, assigned to miguelriemoliveira

[2022-08-12 19:06] miguelriemoliveira opened #528 "Make calibration output more comprehensible"
In #498

The prints should make clear the units and be easy to understand.

[2022-08-12 19:07] miguelriemoliveira commented on #498
Hi @sensorCalib ,

About the use_sim_time, I figured it out. See #527.

About the calibration, camera error is in pixels, lidar in meters (opened #528 to improve that).

I will try to pick it up tonight or tomorrow and get back to you.

Have a nice weekend.

[2022-08-14 16:55] miguelriemoliveira commented on #498
Hi again @sensorCalib,

so I looked around for a reason why the errors were so high and there is a problem in the calibration.yaml.

We are saying that the calibration pattern is fixed (line 114). In your case the pattern is not fixed, since it moves from collection to collection.

I will fix this and results should be better.

[2022-08-14 17:09] miguelriemoliveira commented on #498
Hi again @sensorCalib ,

[code]

So now its much better.  Camera errors under 1 pixel.

Can you try to achieve these values as well?

Note: I had to manually change the parameter fixed from true to false. For consistency I did it in both the **dataset.json** and the **dataset_corrected.json** files. But this was a hack to avoid having to create a new dataset.

If you change the calibration.yaml an

[2022-08-14 17:49] miguelriemoliveira commented on #498
I ran the point_cloud_to_image evaluation to see if the calibration makes sense:

    clear && rosrun atom_evaluation point_cloud_to_image -json atom_calibration.json -ls ouster_os1 -cs zed2i_0

![image](https://user-images.githubusercontent.com/11350998/184548724-2a37cd9c-d245-4b41-9d7c-2588c387fe05.png)

Looks good. Color transitions are changes in lidar range measurements, and are aligned with

[2022-08-15 13:19] miguelriemoliveira commented on #528
Added the units by the sensor's name in the error table.

[code]

Closing.

[2022-08-15 13:19] #528 closed, assigned to miguelriemoliveira

[2022-08-15 13:21] miguelriemoliveira commented on #512
Closing ... no feedback.

[2022-08-15 13:21] #512 closed, assigned to miguelriemoliveira, danifpdra

[2022-08-15 13:21] #507 closed, assigned to nobody

[2022-08-15 13:22] #505 closed, assigned to miguelriemoliveira, danifpdra

[2022-08-15 13:22] #504 closed, assigned to miguelriemoliveira, danifpdra

[2022-08-15 13:23] miguelriemoliveira commented on #497
I think me and @manuelgitgomes  did this one.

[2022-08-15 13:23] #497 closed, assigned to miguelriemoliveira

[2022-08-15 13:23] miguelriemoliveira commented on #489
Thanks for the feedback. Closing.

[2022-08-15 13:23] #489 closed, assigned to miguelriemoliveira

[2022-08-15 13:24] miguelriemoliveira commented on #447
Will not change now.

[2022-08-15 13:24] #447 closed, assigned to miguelriemoliveira

[2022-08-15 14:23] #480 closed, assigned to miguelriemoliveira

[2022-08-15 14:23] #484 closed, assigned to miguelriemoliveira, danifpdra

[2022-08-15 14:24] miguelriemoliveira commented on #484
Implemented.

[2022-08-15 14:24] miguelriemoliveira commented on #480
Closed because  #484 is done.

[2022-08-15 14:25] #483 closed, assigned to miguelriemoliveira

[2022-08-15 14:27] miguelriemoliveira opened #531 "Terminate atom scripts without throwing error"

[2022-08-16 08:06] sensorCalib commented on #498
I used your quick hack too and modified the parameter "fixed" from true to false, this was the result:

[code]

Hi @miguelriemoliveira

thank your very much again for these fixes and adjustments.

After evaluating the calibration with
[code]

I got this result:
![grafik](https://user-images.githubusercontent.com/108126721/184828785-42f71c0b-b24e-42f5-a87b-4e40da1f8872.png)

This looks off.

[2022-08-16 09:17] miguelriemoliveira commented on #498
Hi ,

Can you share your dataset? I think your labelling may have something wrong
...

On Tue, Aug 16, 2022, 09:06 sensorCalib ***@***.***> wrote:

[2022-08-16 10:22] sensorCalib commented on #498
Here is the dataset I used:
[ag_out2.zip](https://github.com/lardemua/atom/files/9349826/ag_out2.zip)

[2022-08-16 19:46] miguelriemoliveira commented on #498
Thanks @sensorCalib ,

I have done several experiments and I get the same results. The alignment is not the best,

I did not understand whats the problem yet. Strange because in my dataset it calibrates fine, Can you try with my dataset?

I will try to investigate further.

[2022-08-17 14:11] sensorCalib commented on #498
I think I found the problem: The path to the mesh file is wrong in both my dataset.json and my dataset_corrected.json. Could that be the reason? If yes, I will adjust the path, collect a new data set and give the calibration another try.

By the way, where did you put the chess_pattern.dae? It was removed in
https://github.com/miguelriemoliveira/agri-gaia-test/commit/4de14bfd4054c1d6c302dc97fc00e6

[2022-08-17 15:13] sensorCalib commented on #498
The calibration looks fine with your dataset:
![grafik](https://user-images.githubusercontent.com/108126721/185171360-851d2317-521a-49c8-9f93-234bbfe10407.png)

(In a  previous and now deleted message, I assumed that I used the wrong mesh-file for the chessboard pattern, but I am not sure. Is
`"package://atom_calibration/meshes/chessboard_7x11_corners/pattern.dae"` (the mesh-file used in my datase

[2022-08-17 18:36] miguelriemoliveira commented on #498
That's when I changed the pattern to have the correct reference frame and added it to the atom calibration package so other could use it as well.

Its here:

https://github.com/lardemua/atom/tree/noetic-devel/atom_calibration/meshes/chessboard_7x11_corners

But you just have to git pull the atom repo and then the mesh should be automatically found.

The  "package://atom_calibration/meshes/chessboa

[2022-08-17 18:40] miguelriemoliveira commented on #498
In any case this mesh issue should not be the problem, because its only used for drawing the mesh. I think your dataset has something wrong, although I cannot understand what ... can you please try to produce a new dataset (making sure you have the updated calibration.yaml and reconfigured your calibration package) and see if that one works?

[2022-08-17 19:07] miguelriemoliveira commented on #498
The strange thing about your dataset is that each collection separately calibrates very well, e.g. for collection 5:

![image](https://user-images.githubusercontent.com/11350998/185221699-c3f65b77-c5e4-46d7-8621-524b1eb48e58.png)

But whenever I try to use more than one collection, it seems the system gets confused.

For example, using only collections 4 and 5

![image](https://user-images.githubu

[2022-08-22 13:25] miguelriemoliveira commented on #498
Hi @sensorCalib ,

I did not have any ideas on how to solve your mystery dataset. I will wait that you confirm this also occurs for another dataset before trying anything else ok?

Thanks,
Miguel

[2022-08-22 13:48] sensorCalib commented on #498
Hi @miguelriemoliveira ,

thank you for trying to find the issue with my dataset. I will give it another try later this week.

[2022-08-22 13:53] miguelriemoliveira commented on #498
Ok, great. Let me know if I can help.

[2022-08-26 12:56] sensorCalib commented on #498
Hi @miguelriemoliveira ,
it turns out your assumption is correct: lidar and camera are running on the same computer, but they are not synchronized. I guess in some of the images from my dataset, there had been a movement that was too fast so that camera and lidar were off.

So, to get around this problem, I should either try to synchronize the sensor data or record another bagfile in which the pat

[2022-08-26 14:54] miguelriemoliveira commented on #498
Hi @sensorCalib ,

I will write some directives on how to take a good bag file and put them in the documentation. Will get back to you when its online ...

[2022-08-26 16:54] miguelriemoliveira commented on #498
Hi @sensorCalib ,

so I added some guidelines on how to record a good bag file for calibration. My suggestion is that you read this section again

https://lardemua.github.io/atom_documentation/procedures/#collect-data

Let me know if something is not clear afterwards.

Thanks for the help.
Miguel

[2022-08-30 09:30] danifpdra commented on #506
Hi @eupedrosa,

Are you still needing the ChArUcO?

[2022-08-30 10:16] eupedrosa commented on #506
When do you need the ChArUcO?

[2022-08-30 13:47] danifpdra commented on #506
I need to record some new data because I will be going to Barcelona for 3 months and I can't do it there. Do you need it next week ?

[2022-08-30 14:02] eupedrosa commented on #506
No, I do not need it next week. When do you want to get it at the lab?

[2022-08-30 14:14] danifpdra commented on #506
I am waiting for the engineer to produce a support piece to install a different camera on the robotic arm, and he only comes back from the holidays on Monday, so can I let you know when that's ready because I only need the calibration pattern after that?

[2022-08-30 14:39] eupedrosa commented on #506
Ok. Just let me know when you need it.

[2022-08-30 17:02] v4hn opened #532 "comparison with robot_calibration?"
Someone just pointed me at this framework after I spent quite a bit of time (successfully!) setting up https://github.com/mikeferguson/robot_calibration for our system recently. I am happy with we have there right now, but I do wonder what kind of advantages it could bring along to switch to ATOM.

You do list various papers and compare to quite a few baselines in your publications, but I did not

[2022-08-30 17:43] mikeferguson commented on #532
I'm going to guess that's at least partially because I don't have any academic papers published on robot_calibration (we did have a ROSCON talk, but never actually got the academic paper accepted since it wasn't a big enough "theory" improvement over [Calibrating a Multi-arm Multi-sensor Robot](https://www.semanticscholar.org/paper/Calibrating-a-Multi-arm-Multi-sensor-Robot%3A-A-Pradeep-Konolige/7

[2022-08-30 18:49] eupedrosa commented on #532
Hi @v4hn

If [robot_calibration](https://github.com/mikeferguson/robot_calibration) works great for you may not need to change it.

But you can take a look at https://lardemua.github.io/atom_documentation and see if you find the information useful.

I guess that @mikeferguson may be partially correct. The lack of an academic paper may have been one of the reasons why is was not mentioned (maybe de

[2022-08-30 21:25] alexlin2 opened #533 "ZED camera to INS Calibration"
Problem Statement:

I have an INS and a ZED camera that are rigidly attached to each other with a fixed transform. I want to get the transform between INS and ZED. Below is the transform summary pdf. The INS gives 2cm accuracy RTK corrected Odometry. The camera is approximately 20 cm from the pose of the center of the INS. Attached below is also a photo of the INS and the camera.
[summary.pdf](htt

[2022-08-30 22:53] miguelriemoliveira commented on #532
Hi @v4hn ,

we did not know about the software, but the paper @mikeferguson cites was actually a source of inspiration back in 2018 when we started ATOM. We actually cite this paper in our most recent publication  for sure (https://linkinghub.elsevier.com/retrieve/pii/S0957417422012234), and I think in some others as well.

I went to take a look at the [robot_calibration](https://github.com/mikefe

[2022-08-30 23:01] miguelriemoliveira commented on #532
@mikeferguson , we also get a lot of these kind of reviews ... "it is only incremental", "no real contribution", etc.
For example, in our last paper, one reviewer suggested that an entire section on the integration of ATOM with ROS was to be moved to appendix. According to him, the real scientific contribution was the ATOM method, not the implementation.
We ended up removing the entire section and

[2022-08-30 23:10] miguelriemoliveira commented on #533
Hi @alexlin2 ,

thanks for posting here. We never had a calibration case with and INS system implemented in ATOM.
Let me think about it for a couple of days and get back to you until the end of this week.

[2022-08-30 23:23] alexlin2 commented on #533
I am trying a lot of different parameters and I've got some reasonable calibrations. But I'm not sure if this is just because I have a really good initial estimate. I'd love to hear back from you. Thank you so much.

[2022-08-30 23:29] miguelriemoliveira commented on #533
you can get an answer to that question by testing with some noise on top of the initial estimate.
Use the --noisy-initial-guess (-nig) option in the calibrate script, and see if ATOM still finds a good solution.

https://lardemua.github.io/atom_documentation/procedures/#calibrate

[2022-09-02 15:00] miguelriemoliveira commented on #533
Hi @alexlin2 ,

So finally I had a bit of time to look into this.

First thing is your summary.pdf is strange.

   1. The odometry information published by the INS is providing transformations from **odom
(world link)** to **ins_link**? If so that sounds ok, provided that the **map** to **odom(world link)** remains static.

   2. Second strange thing is that you are trying to calibrate **ins_link*

[2022-09-02 21:16] alexlin2 commented on #533
Hi Miguel,

Thank you so much for looking into this. This is of huge importance to my project. First, I'm going to answer some of your questions.

1. The INS is providing transforms from odom to ins_link. There is only a static transform between map and odom, and this transform is not necessary at all so I will remove it. Also the transform between `ins_link` and `zed2i_camera_center` should be
st

[2022-09-02 21:23] miguelriemoliveira opened #534 "Configure calibration pkg detecting static transform as dynamic"
Appeared from #533 ,

[2022-09-02 21:25] miguelriemoliveira commented on #534
The problem should be here ...

https://github.com/lardemua/atom/blob/8e51fa5cf5ad5b13b268c7ccafa8c604c02a324d/atom_calibration/scripts/configure_calibration_pkg#L146-L179

[2022-09-02 21:38] miguelriemoliveira commented on #534
Hi @alexlin2,

The way the configure calibration pkg script (the code above) detects if a transform is static or not is by checking if transformation is published on the  **/tf** or  **/tf_static** topic.

If you take a look at the [tf2 migration guide](http://wiki.ros.org/tf2/Migration) they suggest the usage of **tf_static** for static for static transforms.

So I would say that  ATOM's assumpti

[2022-09-02 21:39] miguelriemoliveira commented on #533
Hi @alexlin2 ,

I think I found the problem. Take a look at #534. I think if you change your launch file as suggested if should work fine.

Let me know if it worked.

[2022-09-06 02:27] alexlin2 commented on #534
Sorry I missed that. I will try the calibration with the static transform published in /tf_static. And I will keep you updated on the results.

[2022-09-07 09:28] sensorCalib commented on #498
Hi @miguelriemoliveira ,

thank you very much for the additional documentation. I have another basic question: Before calibration, the human estimated coordinates for the Zed are
https://github.com/miguelriemoliveira/agri-gaia-test/blob/main/agri_gaia_description/urdf/agri_gaia.urdf.xacro#L46
and for the Ouster they are
https://github.com/miguelriemoliveira/agri-gaia-test/blob/main/agri_gaia_descr

[2022-09-07 10:34] miguelriemoliveira commented on #498
Hi @sensorCalib ,

yes, we often have this problem. ATOM only estimates the relative transformation between the sensors.

The most common solution is to have one sensor fixed (we call it anchored in ATOM) and during the optimization only the other sensors can move around.

For example, if you add to config.yaml

https://github.com/miguelriemoliveira/agri-gaia-test/blob/086527616869106a0222ab099969

[2022-09-13 14:42] miguelriemoliveira commented on #534
Hi @alexlin2 ,

I am doing a bit of housekeeping and I will close the issue. I you need additional help let me know.

[2022-09-13 14:42] #534 closed, assigned to miguelriemoliveira

[2022-09-13 14:43] miguelriemoliveira commented on #533
Hi @alexlin2 ,

Can you let me know if ATOM was successful in calibrating the setup you described?

Thanks,
Miguel

[2022-09-13 14:43] #533 closed, assigned to nobody

[2022-09-13 14:43] miguelriemoliveira commented on #524
Hi @danifpdra ,

any news on this front? Should we close the issue?

[2022-09-13 14:44] #532 closed, assigned to nobody

[2022-09-13 14:46] danifpdra commented on #524
Hi @miguelriemoliveira,

No news, I am waiting on the support for the new camera to be installed.

Also, the RGB-D calibration is not working as expected so that should be solved first. I made lots of experiments but could not understand the difference between real data (not well calibrated) and simulated data (well calibrated)

[2022-09-13 14:47] miguelriemoliveira commented on #524
strange ... we can discuss it when you want, but perhaps its better we do it with the new data.

[2022-09-13 14:48] danifpdra commented on #524
yeah, sure. I can give you the asus rosbag (only RGB and depth) if you want to try it on your side on the camerabot

[2022-09-15 14:53] danifpdra commented on #524
Hi @miguelriemoliveira,

as we talked before, this serves to pass you information for you to replicate the problems on RGB-D calibration on your side.

**Bagfile**

https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EfOzjgb-Rg1LrsYEf73EBWkBOX67YofuvjGNGzfhRy_NcQ?e=OSw6UY

**System**

https://github.com/danifpdra/camerabot

**Configuration**

`rosrun camerabot_calibration configur

[2022-09-15 15:13] miguelriemoliveira commented on #524
Thanks @danifpdra ,

I will try to look into this sometime next week, hopefully. Cannot make any promises right now.

[2022-09-15 15:17] danifpdra commented on #524
Not a problem. If you use the already recorded dataset you can run it easily. It calibrates fast.

[2022-09-18 10:35] miguelriemoliveira opened #535 "Problem configuring mysoftbot"
Hi   @eupedrosa ,

I was trying to test your bag, but when tring to configure the mysoftbot_calibration package with the command:

    rosrun atom_calibration configure_calibration_pkg -n mysoftbot_calibration -utf

I get this error:

[code]

I will look into it later.

[2022-09-19 10:46] eupedrosa commented on #535
Should't the launch file be auto-generated?

[2022-09-19 11:09] miguelriemoliveira commented on #535
Yes, its a strange problem, but I've had it before in #498 .

I will check it ...

[2022-09-19 13:32] miguelriemoliveira commented on #535
Got it. The problem is when the directories launch , urdf, etc, that were supposed to be there do not exist. Now we create them if they are not there.

[2022-09-19 13:34] miguelriemoliveira commented on #535
Another issue ... cannot fin the urdf

[code]

[2022-09-19 13:41] miguelriemoliveira commented on #535
Solved. Had to create the nonexistent folders at the beginning of the script.

[2022-09-19 13:49] miguelriemoliveira commented on #535
Hi @eupedrosa ,

so finally I could test your bagfile.  Comments:

- In general it looks good.
- I would make sure the height of the pattern is enough for the automatic labeler to work.
- Your camera topics are at 30 hz, no need for so much. I normally put 10Hz for recording the calibration bagfile.
- for consistency, I would create a namespace for the velodyne and put the topics under it, somethi

[2022-09-20 14:09] kovlo opened #536 "RViz fork integration failure"
collectdata.launch and set_initial_estimate.launch gives the following error:

`[ERROR] [1663681699.871330719]: PluginlibFactory: The plugin for class 'rviz_visual_tools/KeyTool' failed to load.  Error: According to the loaded plugin descriptions the class rviz_visual_tools/KeyTool with base class type rviz::Tool does not exist. Declared types are  rviz/FocusCamera rviz/Interact rviz/Measure rviz/

[2022-09-20 14:19] miguelriemoliveira commented on #536
Hi @kovlo ,

Two separate problems:

1. The ATOM calibration RVIZ plugin that appears on the video is not available yet, as we do not have it robust enough for release.

2. The crash you are having is another problem. Some ideas:

Key tool is not an ATOM plugin, so I am not really sure what's wrong.

a) Did you install rviz visual tools?

   sudo apt-get install ros-noetic-rviz-visual-tools

b) An

[2022-09-21 14:46] kovlo commented on #536
Hi @miguelriemoliveira !

Thanks for your quick replies!
a) was missing for me, thanks for the help!

This caused the error! This does not seem to be a real bug but only a missing package.

#######################

I collected the required additional packages, they might be shown in the installation notes and/or requirements.txt:
[code]

b) My installation steps were:
- I cloned the atom repo to _

[2022-09-21 14:48] #536 closed, assigned to nobody

[2022-09-21 15:12] miguelriemoliveira opened #537 "Charuco pattern detection not working"
Spawned from #536 .

Detection of pattern not working for @kovlo

[2022-09-21 15:13] miguelriemoliveira opened #538 "Improve requirements.txt and installation tutorial"
In #536 there are some important tips we should include.

[2022-09-21 15:14] miguelriemoliveira commented on #536
Thanks for reporting your installation procedures. We will use it to try to improve the documentation and the requirements.txt (#538 ).

About the pattern detection, I opened #537 to track this issue.

[2022-09-21 15:14] miguelriemoliveira commented on #537
From @kovlo

[2022-09-21 15:23] miguelriemoliveira commented on #537
The usual problem is a problem with the configuration of the pattern in the calibration/config.yaml of your calibration package.

@kovlo Can you post your config.yaml so I can take a look?

Also, you can make sure the configuration of the pattern is correct by using the test script view pattern, e.g.

    rosrun atom_calibration view_pattern.py

which has to be properly configured in order to work

[2022-09-21 15:25] miguelriemoliveira commented on #536
if both ATOM and the rviz fork are on the same catkin workspace, then you only have to run catkin_make once.

I have them in separate workspaces...

[2022-09-21 18:38] kovlo commented on #536
Great, thanks!
I have both the ATOM and the rviz fork in the same workspace, they seem to work fine.

[2022-09-23 09:56] kovlo commented on #538
`pip3 install prettytable`
is required for calibration.

[2022-09-23 09:59] miguelriemoliveira commented on #538
Thanks. Added.

[2022-09-23 11:00] kovlo commented on #538
These were also required (mentioned in the referenced issue). I copy them here:
[code]

[2022-09-23 11:02] kovlo commented on #537
I checked my config line by line, and I configured my pattern with wrong row and column sizes.
Now the patterns seem to be detected, the rainbow colored markings are visible on the GUI as well, and I can run the calibration.
But the results are not satisfying, I'm working on it to figure them out.

[2022-09-23 11:04] miguelriemoliveira commented on #537
OK, let me know if you think I can help.

[2022-09-23 13:26] kovlo commented on #537
This is what is shows for this call:
`rosrun atom_calibration view_pattern.py /camera/image_color -t charuco -d DICT_4X4_100 -x 7 -y 5 -L 120 -l 80`
Is this what I should expect?
![Screenshot from 2022-09-23 14-36-58](https://user-images.githubusercontent.com/12111565/191961886-5dc225a7-78c7-456d-bc60-50d79030db52.png)

When I run the calibration
(`rosrun atom_calibration calibrate -json /data/ATO

[2022-09-23 14:16] miguelriemoliveira commented on #537
No, I don't think its right, the circles should all be on the corners of the pattern. Is your dictionary correct?

Try to have the pattern better illuminated to see if the detection is better ...

If you want, later this afternoon I can take a look at it, if you post a small bag file with the images ...

[2022-09-23 15:06] eupedrosa commented on #537
Hi there. I belive the size must be in SI, i.e in meters not in millimiters.
Also, make sure the X and Y are not switched.

[2022-09-23 20:53] miguelriemoliveira commented on #538
Thanks @kovlo .

I added all dependencies to the requirements.txt.

[2022-09-23 20:53] #538 closed, assigned to miguelriemoliveira

[2022-09-26 14:14] kovlo commented on #537
Thank you @miguelriemoliveira  and @eupedrosa for your comments!
I set the W,H in wrong order as you pointed out, and even the sizes were in mm in the script I used (the config.yaml was good.)

This is what I see now, I hope it is closer to the expected:
![Screenshot from 2022-09-26 15-20-33](https://user-images.githubusercontent.com/12111565/192298942-861be020-c00e-444a-99b2-a48efa3a8387.png)
![S

[2022-09-26 14:29] miguelriemoliveira commented on #537
That's seems right.

Let us know if you have other problems ahead.

I will close this issue.

[2022-09-26 14:29] #537 closed, assigned to miguelriemoliveira

[2022-09-27 12:37] kovlo opened #539 "Livox-Camera calibration improvement"
I've been trying to use ATOM for calibrating a Livox lidar (https://www.livoxtech.com/avia) to a camera. The camera was placed on the right of the livox, having ~7cm lateral distance between their optical centers.

This is the best result I could get so far for the following command:
`rosrun atom_calibration calibrate -json /opt/robows/data/ATOM_Result/dataset.json -v -rv -si -oi -ss 1`

![Screens

[2022-09-27 12:55] miguelriemoliveira commented on #539
Hi @kovlo ,

Yes, it should be better. I will try to take a look at this by the end of this week.

Should tell you something on Friday ...

[2022-09-27 13:02] kovlo commented on #539
Magnificent, thank you very much in advance!

[2022-09-30 08:19] miguelriemoliveira commented on #539
Hi @kovlo,

I created a minimal ros ecosystem to test your calibration

It is all here:

https://github.com/miguelriemoliveira/atom_test_cam_livox

We have a **cam_livox_description**, containing the urdf

and a **cam_livox_calibration**, for calibration

Right now I can play back the bagfile ...

![image](https://user-images.githubusercontent.com/11350998/193223705-803b967a-d61f-4f21-bdf9-7e98d9e

[2022-09-30 08:21] miguelriemoliveira commented on #539
One question: are you sure about these border sizes you entered in the config.yml?

https://github.com/miguelriemoliveira/atom_test_cam_livox/blob/a681e770ef4967754bb0dedd79f4619174bfec0c/cam_livox_calibration/calibration/config.yml#L129-L132

[2022-09-30 08:28] miguelriemoliveira commented on #539
I was able to set and initial  estimate without problems ...

![image](https://user-images.githubusercontent.com/11350998/193227202-954088da-59a2-4ae6-947a-a3b48a38e6fa.png)

[2022-09-30 08:46] miguelriemoliveira commented on #539
Now I recorded a dataset with 3 collections. Here it is:

[test_mike1.zip](https://github.com/lardemua/atom/files/9682644/test_mike1.zip)

I am inspecting it using the dataset_playback functionality, and figured out the labels are not correct.  I think the automatic annotator does not work because of the way points are structured in the livox.

![image](https://user-images.githubusercontent.com/11

[2022-09-30 08:54] miguelriemoliveira commented on #539
For annotating the pattern points I went to the first collection, removed all automatic annotations and then started annotating manually. Here's the result:

![image](https://user-images.githubusercontent.com/11350998/193232393-c1526241-0487-4161-bebf-9c5867babde6.png)

You should be careful and look from a side perspective to make sure points all lie on the patterns plane. This does not have to b

[2022-09-30 09:11] miguelriemoliveira commented on #539
This is the result of calibration:

Observing a single collection:

![image](https://user-images.githubusercontent.com/11350998/193235268-870e04c9-aa5c-4ba8-b3ab-6f7c2be4aa92.png)

All collections:

![image](https://user-images.githubusercontent.com/11350998/193235458-67eb10ee-afe9-4a11-a321-1b015daea6a3.png)

The results are not visually perfect, but they are much closer than what you had.

Some

[2022-10-05 07:30] miguelriemoliveira commented on #535
Hi @eupedrosa ,

any news?

[2022-10-05 07:30] miguelriemoliveira commented on #539
Hi @kovlo ,

did you succeed in calibrating your system?

[2022-10-05 13:40] eupedrosa commented on #535
Still on hold, but not forgotten!!

[2022-10-05 13:42] miguelriemoliveira commented on #535
OK, great.

[2022-10-11 06:55] miguelriemoliveira commented on #366
Nice!

On Tue, Mar 22, 2022, 23:40 Manuel Gomes ***@***.***> wrote:

[2022-10-11 07:09] manuelgitgomes commented on #439
Hello!

Thank you, by bad. I will use the dataset_correct.json and update you.

________________________________
From: Miguel Riem de Oliveira ***@***.***>
Sent: 04 May 2022 10:14:52
To: lardemua/atom
Cc: Manuel Gomes; Author
Subject: Re: [lardemua/atom] Atom Evaluation (Issue #439)

I also think that may be the problem. You probably are correcting the dataset.json using the dataset playback, whic

[2022-10-11 07:36] miguelriemoliveira commented on #463
Thanks Manuel. Looks good.

On Sun, May 22, 2022, 20:44 Manuel Gomes ***@***.***> wrote:

[2022-10-11 07:40] miguelriemoliveira commented on #387
Thanks. I will kook into it.

On Thu, Apr 14, 2022, 09:51 Daniela Rato ***@***.***> wrote:

[2022-10-11 08:12] miguelriemoliveira commented on #505
No. Lets see the results ... whats the accuracy?

On Fri, Jul 22, 2022, 14:16 Daniela Rato ***@***.***> wrote:

[2022-10-11 08:30] miguelriemoliveira commented on #367
Hi Daniela,

As soon as I can I will try to help, but today my daughter had cirurgy so I
am not sure when I will be available.

I call you as soon as I can.

Miguel

On Tue, Mar 15, 2022, 13:56 Daniela Rato ***@***.***> wrote:

[2022-10-11 09:22] manuelgitgomes commented on #479
I had a similar error on a different script. This is due to the new version of pyyaml. Try installing the 5.4.1 with
[code]

Obter o Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Daniela Rato ***@***.***>
Sent: Tuesday, May 31, 2022 4:11:13 PM
To: lardemua/atom ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [lardemua/atom] Error launching collector (Issue #

[2022-10-11 09:24] manuelgitgomes commented on #439
Yes. The best/average is automatically generated.
To use the aligned, use the -ma flag.
To use the initial, do not use the previous flag

Obter o Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Daniela Rato ***@***.***>
Sent: Wednesday, May 25, 2022 3:53:03 PM
To: lardemua/atom ***@***.***>
Cc: Manuel Gomes ***@***.***>; Mention ***@***.***>
Subject: Re: [lardem

[2022-10-12 14:13] kovlo commented on #539
I measured them again. The board edge width is 20+/-2mm, the big squares are 12 cm, while the smalls are 8cm.

[2022-10-12 14:27] kovlo commented on #539
I managed to reproduce your steps both on your collection, and I created a bigger calibrated collection with 15 manually annotated samples.
The calibration errors I got were much lower than I had previously. The 3D visualized results are significantly better:
![Screenshot from 2022-10-12 16-21-15](https://user-images.githubusercontent.com/12111565/195369336-fa4b3bdf-c7ba-4712-9aff-6b2cad3e7810.png

[2022-10-12 15:51] miguelriemoliveira commented on #539
Hi @kovlo ,

I can try to look into it but only during the weekend or next week.

The data from LIVOX is not great, so I am afraid I am not expecting a very accurate calibration.

I will try anyway and get back to you.

Best regards,
Miguel

[2022-10-19 16:11] miguelriemoliveira commented on #539
Hi @kovlo ,

I am sorry but I could not pick this up last week. I will try to take a look this weekend.

Best regards,
Miguel

[2022-10-22 11:25] miguelriemoliveira commented on #498
Hi @sensorCalib ,

I will close the issue since we had no further contact for a while. I hope ATOM worked for you, and would appreciate some feedback.

Thanks,
Miguel

[2022-10-22 11:25] #498 closed, assigned to miguelriemoliveira

[2022-10-22 11:25] miguelriemoliveira commented on #539
hi @kovlo ,

so finally I could find some time to take a look at this.

I opted to start analysing your dataset labels first, using the dataset_playback functionality.

I looked into the dataset_corrected.json, which I assume is the one you are using for calibration, right?

There are minimal miss labels, which should not affect the calibration's accuracy  all that much. Some examples are:

Collec

[2022-10-24 12:17] sensorCalib commented on #498
Hi @miguelriemoliveira
as you suggested, we fixed the ouster lidar and calibrated the camera position. The resulting calibaration file looked alright.

Thank you very much again for your detailed and extensive help.

[2022-10-24 14:22] kovlo commented on #539
Hi @miguelriemoliveira!

Thank you for your detailed answer again!
I checked what you wrote and I could reproduce your result on a single collection.

I tried to create a clean new collection to avoid the unlabeled collections from the previous one. (There I annotated only a subsection of the lidar clouds intentionally, by assuming that the unannotated point clouds will be skipped by the calibrato

[2022-10-24 19:35] miguelriemoliveira commented on #498
Hi @sensorCalib ,

great news. Thanks for the feedback.

[2022-10-24 19:47] miguelriemoliveira commented on #539
Hi @kovlo ,

Hi @miguelriemoliveira!

yes, docker could delay things and de-synchronize sensor data, which explains why calibrating for a single collection works well, but calibrating for multiple collections does not.

I agree with you, you should create a new dataset (probably record a new bagfile) where these desync problems are solved are at least controlled.

Let me know if I can help.

[2022-11-11 14:50] miguelriemoliveira opened #540 "Collect data tripod_rgb_rgb fails"
Collect data fails when I record a collection.

error is

Also, some strange things are being printed:

[2022-11-11 15:02] miguelriemoliveira commented on #540
We seems to have found the cause.

The average_time computation is failing for the bag file and this line fails

https://github.com/lardemua/atom/blob/58a2a860cb2d29459874f248ac14bd2363973d8c/atom_calibration/src/atom_calibration/collect/data_collector_and_labeler.py#L324

Heres the print.

The bag was recorded in gazebo without the sim time on. That could be the reason...

[2022-11-11 15:12] miguelriemoliveira commented on #540
The problem was because of the sim time.  The documentation should be clear about this.

[2022-11-11 15:13] #540 closed, assigned to miguelriemoliveira