[2020-07-30 07:24] miguelriemoliveira commented on #219
To profile:

https://github.com/rkern/line_profiler

[2020-07-30 07:37] miguelriemoliveira commented on #219
Objective function profile for a agrob full sensor calibration with 20 collections, i.e.:

`calibrate -json /home/mike/datasets/agrob/agrob_01_07_2020/data_collected.json -csf 'lambda x: int(x) < 20' -ssf 'lambda name: name in ["left_camera","right_camera", "vlp16"]' -oi -rv -si -sr 0.3`

Right now, caching is only being done for functions **getPointsInPatternAsNPArray** and **getPointsInPatternAs

[2020-07-30 07:40] miguelriemoliveira commented on #219
Take a look at line 395 (one of the functions being optimized)

[2020-07-30 07:54] miguelriemoliveira commented on #219
Here's a video of the calibration of an Agrob dataset with 55 collections. Took 2 or 3 minutes.

https://youtu.be/QNEyUrZm8eg

[2020-07-30 10:22] eupedrosa commented on #67
Should this be closed?

[2020-07-30 10:37] eupedrosa commented on #198
Hi @miguelriemoliveira and @aaguiar96,
I have some news about this.

Yesterday @miguelriemoliveira give the ideia of normalizing the residuals by the mean per message type. This works. All the other ideas were plain bad.

The best results that I got was **0.7676447357290376** pixels for both cameras and **0.0069623491671051332** meters for the velodyne. The optimization has the following options:

[2020-07-30 11:51] miguelriemoliveira commented on #67
Yes. Its too old.

[2020-07-30 11:51] #67 closed

[2020-07-30 12:01] eupedrosa commented on #219
The `objective_function` has more commented code that executing code.

[2020-07-30 12:13] miguelriemoliveira commented on #219
Cleaning on the way, don't worry.

[2020-07-30 15:22] aaguiar96 commented on #206
Tested the calibration with ILCC's perspective dataset and it works.
Here's some pictures of the reprojection:

![0002_cal_backproj](https://user-images.githubusercontent.com/35901587/88941330-cd494780-d280-11ea-8b84-f648354c0f71.png)
![0003_cal_backproj](https://user-images.githubusercontent.com/35901587/88941333-cf130b00-d280-11ea-819e-dcd8170c213c.png)
![0004_cal_backproj](https://user-images.g

[2020-07-30 15:23] aaguiar96 commented on #206
So, what should I do next?...

[2020-07-30 16:21] eupedrosa commented on #206
This means the algorithm is working. Now you should try making it work with our datasets. If I remember correctly it was not working right?

@miguelriemoliveira and @aaguiar96, should we meet to discuss this?

[2020-07-30 16:23] aaguiar96 commented on #206
Yes. I'm almost certain that this is happening because the framework does not support charuco.

Fine by me!

[2020-07-30 16:31] eupedrosa commented on #206
This is a problem... We need partial detections to make it work, otherwise it is a pain-in-the-a** to detect the chessboard.

[2020-07-30 16:34] aaguiar96 commented on #206
Eheh :-)

Can't we have a charuco and a chessboard side-by-side simultaneously in the same dataset? I know it is not ideal, but...

[2020-07-30 16:52] eupedrosa commented on #206
OpenCVs's chessboard detector works with a charuco board, therefore, the same pattern can be detected by both detectors. The problem is that the chessboard detector needs to detect all corners for a valid detection. Unless, the chessboard detector also returns partial detections.

[2020-07-30 17:26] aaguiar96 commented on #206
PointCloud loaded from pcd file generated on atom. It has intensity.

![rviz_screenshot_2020_07_30-18_24_58](https://user-images.githubusercontent.com/35901587/88954267-05a55180-d292-11ea-81c6-cf912c447880.png)

So, I'll look into ILCC's code to see what's going one.
@eupedrosa can you send me the 50 collection dataset please?

[2020-07-30 17:32] eupedrosa commented on #206
Check your email.

[2020-07-30 17:33] aaguiar96 commented on #206
Thanks! :)

[2020-07-30 17:35] eupedrosa commented on #206
@aaguiar96, don't forget to update your `OptimizationUtils` repo, it has changes that speeds ups the optimization.

[2020-07-30 18:18] eupedrosa commented on #198
This issue is addressed in commit 60eccedb9f1f4d1767118f716263724e4001255e.
Please update to the newest version for a nice boost.

[2020-07-30 18:44] eupedrosa commented on #206
@aaguiar96 and @miguelriemoliveira, I believe this solution will not work with the charuco. If it uses the intensity to find the chessboard it will not work, because the white spaces are occupied with aruco markers. It will never detect the corners with the charuco, it has black where it expects white.

[2020-07-31 07:52] #219 closed

[2020-07-31 07:55] miguelriemoliveira commented on #198
Hi @eupedrosa ,

great commit and post. Now it seems the normalization is a settled matter. Thats a big breakthrough!

Great work. Thanks.

I noticed you went into a minimalistic frenzy and removed all the report from the objective function. I will put it back with a verbose flag ok? I think it is important for debugging.

About this:

You're right, makes sense. We should fix this in #201 .

[2020-07-31 08:17] miguelriemoliveira commented on #198
Hi @eupedrosa ,

Unless I did something wrong, the code you pushed was not working. You removed the step from the function **getPointsInPatternAsNPArray** but not from the creation of the residuals.

Did you test before commiting?

[2020-07-31 08:22] eupedrosa commented on #198
Yes I tested. I'm gonna check if I forgot to commit something.

[2020-07-31 08:38] eupedrosa commented on #198
Strange, with the `step` only on residual creation it was working. It was failing to you?

[2020-07-31 08:48] aaguiar96 commented on #206
Makes sense... So, should we use a chessboard?

[2020-07-31 08:59] miguelriemoliveira commented on #198
I think its because I am using -sr 0.3 and you used something else?

[2020-07-31 09:00] miguelriemoliveira commented on #198
In any case, its fixed. Don't worry about it,

[2020-07-31 09:05] miguelriemoliveira commented on #155
Hi @aaguiar96 ,

I think you code in calibrate breaks the usage of older datasets.

[code]

We can put an if this key exists, load, if not, assume the point cloud data is there already, right? Can you do it now or should I?

[2020-07-31 09:10] eupedrosa commented on #155
I think it is a little bit more than that, I just did that and it does not work.

[2020-07-31 09:11] aaguiar96 commented on #155
I'm on it!

[2020-07-31 09:11] miguelriemoliveira commented on #155
It should ... Lets see what @aaguiar96 says ...

[2020-07-31 09:15] aaguiar96 commented on #155
Fixed. Just added this:

[code]

[2020-07-31 09:17] eupedrosa commented on #155
You can use `collection['data'][sensor_key].has_key("data_file")`

[2020-07-31 09:18] aaguiar96 commented on #155
@eupedrosa and @miguelriemoliveira can you try both versions now?

Ok @eupedrosa I'll change on a next commit.

[2020-07-31 09:22] miguelriemoliveira commented on #155
That

`key in dictionary.keys()
`
versus

`dictionary.has_key(key)
`
is what was taking so long in the optimization utils. It was a large dictionary and the first method takes a long time. It makes sense if we think about it. The second method uses the hash key to quickly locate the key-value in the dictionary, but the second method first converts the dictionary keys to a list and then searches fo

[2020-07-31 09:24] aaguiar96 commented on #155
Makes sense. Fixed!

[2020-07-31 09:24] eupedrosa commented on #155
@aaguiar96, It now fails when writing the final json file. Just remove the line `collection['data'][sensor_key]['data'] = cloud_msg`

[2020-07-31 09:26] aaguiar96 commented on #155
Hmm... I use that in visualization. It breaks because of that?

[2020-07-31 09:30] miguelriemoliveira commented on #155
Hi @aaguiar96 ,

another comment:

You should do this loading of the point cloud immediately after loading the json, not when you're about to label the point clouds.

The place to do it is this:

https://github.com/lardemua/atom/blob/40e692d1ca85b40e8f516ff116102e1b4a1d374a/atom_core/scripts/calibrate#L166-L190

Notice we are doing it also there for the camera images.

[2020-07-31 09:33] aaguiar96 commented on #155
@miguelriemoliveira I already told you that it was breaking when saving the json. Now it breaks also with the old dataset so, it might be some error that I introduced...

@eupedrosa says this: `collection['data'][sensor_key]['data'] = cloud_msg` is the problem, but it is exactly what you do for cameras right?

[2020-07-31 09:34] miguelriemoliveira commented on #155
Actually, even better, you should have a function to load and another to save the json file.

**The function to load should:**

check for data_file fields and they exist load the respective file into the data field.

**The function to write should:**

check for the data field and, if it exists, save a new image or point cloud
Do not save if the field data_file exists and points to an image or poin

[2020-07-31 09:36] miguelriemoliveira commented on #155
Yes, it could be that the cloud_msg is a np array or contains one inside. In any case, if you do as I said above (in particular point 3. ) you wont have this problem when saving.

[2020-07-31 09:39] aaguiar96 commented on #155
I do not understand this...

[2020-07-31 10:29] eupedrosa commented on #155
What @miguelriemoliveira  is saying is that we should process the data before writing the json file. This way we prevent unecessary data to be written to file.

I guess the *loading* and *saving* of the json file is getting bigger. Maybe it is time to move it to the utilities? or other place?

[2020-07-31 12:01] aaguiar96 commented on #155
Thanks.

I'm dealing with a strange bug. When I do this:
[code]
at the beginning (while reading data from json) it works. The exact same line when I'm writing to the json gives:
[code]

Any idea why is this happening?

[2020-07-31 14:13] miguelriemoliveira commented on #155
Hi @aaguiar96 ,

I will call you in 30 mins or 1 hour.

[2020-07-31 14:13] eupedrosa commented on #155
Yes, it is an object of type 'PointCloud2' that does have an __iter__() function.

[2020-07-31 14:16] miguelriemoliveira commented on #155
Hi @aaguiar96 ,

but I am confused ... when you write should you not do the inverse operation, i.e.

convert_ros_message_to_dictionary

instead of

convert_dictionary_to_ros_message

Perhaps I am misunderstanding ...

[2020-07-31 15:53] aaguiar96 commented on #155
But it does not happen anymore with the exact same arguments...

No. I use it while reading the json file if the data is saved in the json. To write the json file I have to use it to write to the pcd file, since the function that writes uses a ROS message and convert it to pcd.

[2020-07-31 16:13] aaguiar96 commented on #155
Hi @miguelriemoliveira  and @eupedrosa

I solved it. It was a rookie mistake, I was confused about the variable types.
Now everything is working.

* Read dataset without pcd files
* Read dataset with pcd files
* Write dataset that did not have pcd files, removing the data field from json and creating a pcd file for each tested collection
* Write dataset that already had pcd files

Can you also tes

[2020-07-31 16:57] eupedrosa commented on #155
It is working for me.

[2020-07-31 21:08] miguelriemoliveira commented on #155
Hi all,

I confirm its working. I used data collector to save, and calibrate to read. It works.

Could not test for an rgbd point cloud because I don't have a bag file with those. But I think it will work.

Great work @aaguiar96, closing issue.

[2020-08-01 06:31] miguelriemoliveira commented on #155
I will organize this into function to put in utilities as @eupedrosa suggested.

[2020-08-02 11:09] miguelriemoliveira commented on #155
Hi @aaguiar96 .

This took longer than expected. I did a significant overhaul from what we had before, based on your code.
The goal was to have a function for loading and another for saving the results json, and that all scripts used these functions. What I did:

1. a loadResults json and a save results json. For now they are in utilities but I will suggest some changes in a proposal of better org

[2020-08-02 11:12] #155 closed

[2020-08-02 11:13] miguelriemoliveira commented on #111
Irrelevant now that we can calibrate lidars.

[2020-08-02 11:13] #111 closed

[2020-08-02 11:14] miguelriemoliveira commented on #190
This would implicate a huge overhaul of a lot of code. Canceling.

[2020-08-02 11:14] #190 closed

[2020-08-02 11:17] miguelriemoliveira opened #222 "Reorganization of ATOM (August 2020)"
Hi @eupedrosa and @aaguiar96 l,

I am thinking of improving the structure of atom. The utilities whic are in atom core are now huge.

My proposal is to create an atom_lib package which will contain the utilities (eventually divided into different modules, for better organization).

In the meantime I will also pickup functions from the optimization_utils utilities module which should be in atom.

I

[2020-08-02 11:29] eupedrosa commented on #222
I agree, except with the `atom_lib` package. I think that `atom_core` is the right place. `lib` and `core` can mean the same thing in this case.  We can further discuss this if you like.

May we should talk first before diving into this...

[2020-08-02 11:41] miguelriemoliveira commented on #222
Hi Eurico,

OK, I wait for our talk. Are you available today?

Actually, I was thinking that the names we have don't make a lot of sense
and perhaps we could change more stuff.
My comprehensive solution would be:

atom_core
    just the utilities, ios, cache, etc,

atom_framework or atom_accessories (old atom_calibration)
     scripts for set_initial_estimate, configure calibration package, etc

a

[2020-08-03 09:57] miguelriemoliveira commented on #222
@eupedrosa 's suggestion makes more sense.

atom_core keeps the utilities
atom_calibration takes also the calibrate and related functions.

I am on it.

[2020-08-03 09:58] miguelriemoliveira commented on #201
@eupedrosa said he will work on this.

[2020-08-03 15:06] eupedrosa commented on #201
Hi @miguelriemoliveira.
I already have a working version. But there is a catch. Being "random" the results are not deterministic, it this Ok for you or should I add the possibility to set a *seed* for when a deterministic outcome is desired?

[2020-08-03 16:19] miguelriemoliveira commented on #201
Setting the seed is helpfull for debugging purposes.

On Mon, Aug 3, 2020, 16:06 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-08-04 07:46] miguelriemoliveira commented on #198
Hi @eupedrosa ,

I think your 64c426acca56fc47ad3702c4f6d357256c136a89 breaks the calibrate executable.
Can you check it out? Here's the error log.

[code]

Don't forget to git pull since the reorganization #222 is ongoing. calibrate and the objective function are now in atom_calibration.

For this reason, the <your_robot>_calibration packages must be reconfigured to generate new launch files, but

[2020-08-04 08:47] miguelriemoliveira commented on #222
@eupedrosa don't forget to pull before doing anything else. This was a huge commit.

[2020-08-04 08:57] miguelriemoliveira commented on #222
Hi @eupedrosa ,

as you can see the reorganization is in full steam. One proposal: How about creating a new ros package called atom_calibration_patterns which would contain the code for creating and detecting the patterns, as well as the meshes for the patterns.

Right now these meshes are in atom_calibration and it is not very pretty. Any other ideas?

Another point: atom_core now does not have s

[2020-08-04 10:57] eupedrosa commented on #198
Hi @miguelriemoliveira.
Your commit 045381fca72dfe633ffc7449d52a17dd59be5906 deleted the code for the normalization that I pushed in 64c426acca56fc47ad3702c4f6d357256c136a89.

I will commit it again.

[2020-08-04 11:04] #198 closed

[2020-08-04 11:04] #201 closed

[2020-08-04 11:21] eupedrosa commented on #222
I think it is not necessary to create a new ros package. Why should the patterns be special?

I'm more concerned with the unecessary meshes that we have in the package. And why it is not pretty?

Right!

[2020-08-04 11:27] miguelriemoliveira commented on #198
Oopps ... sorry

On Tue, Aug 4, 2020, 11:57 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-08-04 11:28] miguelriemoliveira commented on #222
Ok. I will remove unnecessary meshes and keep it in atom calibration

On Tue, Aug 4, 2020, 12:21 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-08-04 19:37] miguelriemoliveira commented on #201
Hi @eupedrosa ,
I tested again several combinations of agrob with varying number of collections and other parameters. It seems to be working fine. I did not observe again 100+ iterations.

Lets not worry about it.

[2020-08-04 20:06] miguelriemoliveira opened #223 "Reporting errors"
Hi @eupedrosa ,

I suggest that you create a reporting function that may be called in all objective function iterations (if we select verbose) or just at the end.

[2020-08-05 09:10] miguelriemoliveira commented on #222
I have done all I could remember. Will close. If something else comes up I will reopen.

[2020-08-05 09:10] #222 closed

[2020-08-05 09:12] miguelriemoliveira commented on #212
Vou avançar para esta solução...

[2020-08-05 22:33] miguelriemoliveira commented on #185
Hi @eupedrosa

Removed dependency on **KeyPressManager**

You should remove the path for KeyPressManager from $PYTHONPATH which is installed with
https://github.com/miguelriemoliveira/KeyPressManager/blob/master/install.sh

Check your .bashrc or .zhrc.

I will also remove the dependency from rospy_urdf_to_rviz_converter, later on I ask you to try it out using your docker magic OK?

[2020-08-05 22:45] miguelriemoliveira commented on #185
Also removed dependency from rospy_urdf_to_rviz_converter

Again, in the .shrc you should remove both these lines

[code]

@eupedrosa , it works from my side. Can you test with docker to see if a new installation runs smoothly?

[2020-08-05 22:47] miguelriemoliveira commented on #185
Is there any other dependency to remove?

[2020-08-06 10:13] eupedrosa commented on #185
The installation is yet to run smoothly. But it is getting easier. I guess the worst part right now is the `OptimizationUtils`. Requiring the user to do
[code]
is not the best, specially if it is the only alternative.  In my opinion there are two ways to solve this:
1. Change `OptimizationUtils` to a ros package.
2. Create a proper `setup.py` so that we can use `pip install`

Yes there is. For exa

[2020-08-06 11:06] eupedrosa commented on #185
There is another thing that we should address, which is the removal of uncessary code and lines and lines of commented code. We use *git* for history, therefore there is no need to keep old code in comments.

[2020-08-06 12:28] miguelriemoliveira commented on #185
Hi @eupedrosa ,

About this:

Does not make sense because other projects use it too, including non ROS projects .

Right now we have an install.sh, but that option would be better. Can you work on that?

I think pandas is not really a problem. You can install it using

`pip install -r requirements.txt`

This is really simple to do, and you already have to do it for the other dependencies.

We have

[2020-08-06 12:29] miguelriemoliveira commented on #185
I can do that. I will try to do a cleaning.

[2020-08-06 13:08] eupedrosa commented on #185
Yes, I can do that.

I know it is easy to install pandas. I am talking about the *cost-benefit*  ratio. I remember (if I am not mistaken) that ROS used to declare *texlive* as a dependency just to create a PDF with the TF tree. That said, after removing *KeyPressManager* and *rospy_urdf_to_rviz_converter* you can have *pandas*.

[2020-08-07 01:13] miguelriemoliveira commented on #185
Hi @eupedrosa ,

Since we are releasing it to the public, wrote a large tutorial for OptimizationUtils. It is in the readme.md of the OptmizationUtils.

If you can take a look and replace add whatever you think.

Visualization function and starting up the optimization are still missing.

[2020-08-07 11:27] miguelriemoliveira opened #224 "Numpy fails in visualization function"
Hi @eupedrosa ,

visualization fails:

[code]

it should be your changes concerning numpy ... can you fix?

[2020-08-07 12:38] #224 closed

[2020-08-07 12:40] eupedrosa opened #225 "Unknown visual in visualization."
This happens when I launch the visualization for agrob:

[code]
Can you fix this @miguelriemoliveira ?

[2020-08-07 12:53] eupedrosa commented on #223
I think I already did this, see 69dc3a125a765c98155297717d6c2b1a7beb3f6b.

[2020-08-07 13:00] eupedrosa commented on #185
I did not understood your example for optimization. The `cat` and `dog` stuff. What are you trying to optimize???
Why not use the cosine example?

[2020-08-07 22:07] miguelriemoliveira commented on #185
The idea was to use an abstract example, in which you have the weight and height of a dog and a cat as parameters of the optimization.

The goal would be to get a dog and a cat that have the same weight and height. The good thing about this example is the fact that it is a sparse problem.

The cosine fitting has the sparse matrix with all ones, which is really not very helpful for explaining ... a

[2020-08-07 22:13] miguelriemoliveira commented on #225
Hum, strange. It works fine for me. Are you sure you are using the correct rospy_urdf_to_rviz_converter.py?

From the print it seems the correct one, since its inside the atom_core.

How about the urdf_parser_py, do you have it installed?

[2020-08-08 08:20] miguelriemoliveira commented on #185
I just finished with the reorganization of optimization utils. Now all that's left form that side is the readme. Will work on that once we agree on an example.

[2020-08-08 08:20] #223 closed

[2020-08-13 07:58] miguelriemoliveira opened #226 "Improve the readme."

[2020-08-24 16:12] aaguiar96 commented on #221
Hi @miguelriemoliveira, thanks for the tips.

This evening I was implementing the projection.
I'm getting a result that I do not know if it's right and the calibration is bad, or if the projection has some error.

Here (projections in blue):

![Screenshot from 2020-08-24 17-10-53](https://user-images.githubusercontent.com/35901587/91069004-ed281d00-e62c-11ea-90c6-f54b2c47405d.png)
![Screenshot fro

[2020-08-24 16:15] aaguiar96 commented on #221
Also, I will record the final train and test datasets and try another calibration to see if the error comes from the calibration itself.

[2020-08-24 16:54] aaguiar96 commented on #221
Ok, I think it was error on the calibration.
I calibrated only the two cameras:
![Screenshot from 2020-08-24 17-51-03](https://user-images.githubusercontent.com/35901587/91073280-bbb25000-e632-11ea-85c7-1e651e7cd7fd.png)

and now I got this:

![Screenshot from 2020-08-24 17-51-29](https://user-images.githubusercontent.com/35901587/91073329-d08ee380-e632-11ea-9a5b-6ccaee00de81.png)

![Screenshot fr

[2020-08-24 16:56] aaguiar96 commented on #221
Also, I recorded a new training dataset.

Nr of collections: 29
Bagfile: calibration_2020-07-01-10-08-10_0.bag
File: [train_dataset.zip](https://github.com/lardemua/atom/files/5119188/train_dataset.zip)

I tested a full calibration with all the collections, and the cameras do not seem to be well calibrated.
Can you try and give me your feedback @miguelriemoliveira?

[2020-08-24 16:58] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

I will take a look at this tonight and try to help.

[2020-08-24 17:34] aaguiar96 commented on #221
Ok @miguelriemoliveira

With the last commit, the script is already working and outputting the metrics! Check it out please.
The only thing that is still not supported are the partial detections. This case is a little tricky because we have to associate the corners, and some of them will not have any association. Did you solve this before, or did you only consider full detections?

[2020-08-25 09:35] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

Sorry, fell asleep last night. Will look into this this afternoon.

For the partial detections your must use match the id field of each point, to make sure you are comparing only the same indices.
Indices that are only detected in one camera should be discarded as it is not possible to compute the error in that case.

We do that in the objective function but in a somewhat cryptic

[2020-08-25 09:36] miguelriemoliveira commented on #185
Closing. Some more efforts should be endeavored but we should open specific issues for each.

[2020-08-25 09:36] #185 closed

[2020-08-25 09:37] miguelriemoliveira commented on #226
Improved significantly. Closing for now.

[2020-08-25 09:37] #226 closed

[2020-08-25 09:42] aaguiar96 commented on #221
Ok thanks @miguelriemoliveira

I did not know that the indexes correspond, i.e., I thought they could have some random order.
But nice, that way is simple. I'll add that feature and then I think the script is ready. :)

[2020-08-25 13:17] aaguiar96 commented on #221
I @miguelriemoliveira

Implemented with the last commit. I think we're ready to generate the results.

[2020-08-25 15:41] eupedrosa commented on #221
Hello @aaguiar96 and @miguelriemoliveira, I guess I am (almost) back from my vacations.

I found a bug here:
https://github.com/lardemua/atom/blob/d7e626a90ccac847d7e18b5a70a4dbcb84176ae5/atom_evaluation/scripts/camera_to_camera_evalutation.py#L254

The axis should be `axis=0`, otherwise the standard deviation is not correctly calculated.

I used your dataset for trainning and my dataset with more

[2020-08-25 15:48] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

tried it. Really nice. I like the print. Some suggestions:

1. You should add a key to stop showing images and just go to the end and print everything.
2. You could sort the collections before testing, just so you go from 0 to end.

My concern now is the problem you mentioned that we had bad results when calibrating also with the lidar. @eupedrosa , can you test just training with

[2020-08-25 15:49] miguelriemoliveira commented on #221
Hi @eupedrosa , nice to have you back, but I can't resist remembering you saying "I will work the entire August " : - ).

[2020-08-25 15:50] aaguiar96 commented on #221
Hi @eupedrosa

Thanks!

Ok nice. Did you push that fix?

Ok, you used a different train and test dataset and it works, that's nice.
I do not have done that test yet, but I think that the number of collections on the train dataset must be equal or bigger of the number of collections in the test dataset, otherwise the script will break. This is because we use the transformations of the training json

[2020-08-25 15:50] miguelriemoliveira commented on #221
Not that I am complaining ... I also did almost nothing these last few weeks : - )

[2020-08-25 15:51] aaguiar96 commented on #221
Thanks @miguelriemoliveira
I'll add that features.

[2020-08-25 15:51] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

This should not occur ... Can you pinpoint the line that causes this?

[2020-08-25 15:53] aaguiar96 commented on #221
I do not test yet, but the way I implemented I think this will occur.
How did you avoid this @miguelriemoliveira? I go through the collections present in the test dataset to compute the error. For each collection of the test dataset, I extract the calibration result for the same collection in the training dataset.

[2020-08-25 16:04] miguelriemoliveira commented on #221
Well, I think that all we want from the train dataset (the results.json) is the transformations that were marked to be calibrated.

In the train.json, you have this:

[code]

which means you can create a list of all transformations being optimized, as we do here:

https://github.com/lardemua/atom/blob/d7e626a90ccac847d7e18b5a70a4dbcb84176ae5/atom_calibration/scripts/calibrate#L291-L298

You will a

[2020-08-25 16:10] miguelriemoliveira commented on #221
Just calibrated @eupedrosa 's 55 collection dataset and evaluation gives poor results ...

Calibration seemed to run just fine, reporting camera errors below 1 pixel...

[code]

So I guess we have a bug ... but where? In the calibrate or the evaluation?

[2020-08-25 16:17] aaguiar96 commented on #221
Yes makes sense @miguelriemoliveira, but we only have transformations per collection right? Which collection to choose in the training dataset?

[2020-08-25 16:20] aaguiar96 commented on #221
Should be on evaluation due to the problem we're discussing or this:

[2020-08-25 16:22] miguelriemoliveira commented on #221
Hi @aaguiar96,

All transformations marked for optimization should be replaced in all collections of the training dataset. Notice that since the transformations are being optimized, we are sure they are fixed, i.e. constant throughout all collections.

So for example,  if you have optimized a **base_to_camera1** transformation, then you can copy from your training dataset (any collection will be f

[2020-08-25 16:24] aaguiar96 commented on #221
I was missing this. Now I got it. It's an easy fix, I'll commit in few moments.
Thanks @miguelriemoliveira

[2020-08-25 16:24] miguelriemoliveira commented on #221
Yes, on evaluation. This is good news : - )

Also, another thing: I calibrated with only cameras (again good final errors reported) and in the end I get the same large errors. This is good.

Are we using intrinsics and distortion ? Not sure ... I will call you .

[2020-08-25 16:25] aaguiar96 commented on #221
Yes, we are.

[2020-08-25 16:26] eupedrosa commented on #221
For @miguelriemoliveira

I have no recollection of that....

Maybe not. Remeber, we are projecting from one camera to the other.
The errors adds all the way and we have several sources of error:
- corner detection in the source
- SolverPnP that is influenced by the corner detection
- transformation chain
- cornder detection in the target

Another error that is not accounted is the image synchroniz

[2020-08-25 16:29] aaguiar96 commented on #221
No, I'll do that.

I'm fixing this.

I agree with this @eupedrosa. I think I could try gym, but it will delay the paper... :-(  So, if we are sure that this is having impact, maybe trying to have a support? A chair should work right?

[2020-08-25 16:36] miguelriemoliveira commented on #221
I also agree a static pattern will improve things ... but I think this is not the fundamental problem here.

Look, during calibration we get sub pixel errors, if we run evaluation with that same train and test dataset then we must see the same magnitude of errors (if not the same). Do you agree?

[2020-08-25 16:37] aaguiar96 commented on #221
Fixed with last commit.

[2020-08-25 16:38] aaguiar96 commented on #221
Yes, I think so. Did you test that @miguelriemoliveira ?

[2020-08-25 16:44] eupedrosa commented on #221
Yes, I agree, that is why I always had reservations about the Homography.
Can I "my" method to the evaluation script?

[2020-08-25 16:45] aaguiar96 commented on #221
Sure @eupedrosa.

[2020-08-25 17:01] miguelriemoliveira commented on #221
Sure. Do it in a new script please.

On Tue, Aug 25, 2020, 17:45 André Aguiar <notifications@github.com> wrote:

[2020-08-25 19:27] eupedrosa commented on #221
Before pushing any code.
Here is some results with "my" approach:
- train dataset provided by @aaguiar96
- teste dataset provided by me
[code]

Now the reverse:
- train dataset provided by me
- test dataset provided by @aaguiar96
[code]

[2020-08-25 22:07] miguelriemoliveira commented on #221
Hi @eupedrosa ,

looks good. I would suggest push in a new script. Two questions:

1. We talked about this before and you promised you would write some latex similar to the RAS paper section 4.1 talking about your metric, which I could never understand entirely.
2. Do you consider the undistortion?

[2020-08-26 10:11] eupedrosa commented on #221
Why?  The changes are small. I added the "--po, --pattern_object" option to tell the script to use "my" method. Is this ok with you?

I do not promised this kind o things.. But yes, I said I would do it. However, I think if I push the code and you analyse the source code you will understand immediately

Yes. But the correct question would be "Do you consider the distortion?"

[2020-08-26 10:19] aaguiar96 commented on #221
Hi @eupedrosa

Great news, thanks! Did you detect any bug on my code? I will look at it again this afternoon.

[2020-08-26 10:24] eupedrosa commented on #221
Yes @aaguiar96..

https://github.com/lardemua/atom/blob/596a71ca73d75805456cec13b2cd15bf7674bc24/atom_evaluation/scripts/camera_to_camera_evalutation.py#L87-L91

This actually does `distortion` and not `undistortion`

[2020-08-26 10:28] aaguiar96 commented on #221
Ok, I did not validate that since it seems to work in the deprecated camera-to-camera evaluation script, that actually generated the RAS results. So, are you sure?...
But, in any case, we can substitute that function with [this one](https://docs.opencv.org/2.4/modules/imgproc/doc/geometric_transformations.html#undistortpoints) right?

[2020-08-26 10:45] eupedrosa commented on #221
The lines 89, 90 and 91 are the same piece of code that you can find in the `projectToCamera` function. @miguelriemoliveira any comment about this?
If this is true, then RAS results may be slighly incorrect.

Yes, do you wanna try it?

[2020-08-26 10:46] aaguiar96 commented on #221
Yes, I'll try!

[2020-08-26 11:00] eupedrosa commented on #221
Sorry @aaguiar96, I already try it...

[2020-08-26 11:00] aaguiar96 commented on #221
Eheh :-) And did it solve the issue?

[2020-08-26 11:02] eupedrosa commented on #221
I guess so, take a look at the results
[code]

The results are very similar to "my" approach. The error is slighly higher, but that is expected.

[2020-08-26 11:04] aaguiar96 commented on #221
Ok, great!

Why? Because of the homography?

Can you push the code, please?

[2020-08-26 11:19] eupedrosa commented on #221
The homography uses the detected corners from both images while "my" approach uses the points from the pattern object that have no detection error because they are known.

Yes, I am gonna push the code. I also corrected the drawing of the projected corners. Using Homography, these corners do not have distortion, but the image has.

[2020-08-26 11:26] miguelriemoliveira commented on #221
Hi,

A lot of work you guys are doing ... great!

we use distortion, yes.
The idea is to undistort, then project, the distort for the other camera.

The writting of a latex is important because we need to explain how we
compute the results. And, in my opinion, the current homography looks quite
nice on a paper .

You could write it in Andre's overleaf ... then we can compare ...

On Wed, Aug 26, 2

[2020-08-26 14:10] aaguiar96 commented on #221
So, I tested a camera-camera calibration with @eupedrosa's dataset with only 10 collections (I cannot do it with all of them, the calibration takes too long, do you know why @miguelriemoliveira?). These are the results:
[code]

Then, I run the evaluation with the same train and test json (the one obtained) and I got:

With homography:
[code]

@eupedrosa's approach:
[code]

Here, homography have lo

[2020-08-26 14:34] eupedrosa commented on #221
* Make sure you have the latest version of [OptimizationUtils](https://github.com/miguelriemoliveira/OptimizationUtils#installation)
* Use Ubuntu package for numpy `sudo apt install python-numpy`
* Make sure you remove pip's numpy: `pip uninstall numpy` or `sudo -H pip uninstall numpy` (You may have to execute this more that once)

It is the error __mean__  for all collections per sensor, i.e. `me

[2020-08-26 14:37] aaguiar96 commented on #221
Ok thanks @eupedrosa

Anyway, the evaluation seems to be working. Your version seems closer to the calibration result than homography.

So,
* Which cam-2-cam evaluation method to use?
* Are we able to start generating results for the paper?

[2020-08-26 14:52] eupedrosa commented on #221
Both methods are working, but the homography has a nice math behind it.
We could present both, but they are a little redundant.

But more important than this is which metrics to use:
1. The mean of pixel difference, per component
2. The mean of the pixel error, i.e. euclidean distance.
3. The RMSE
4. The translation and rotation error - The calculated pattern pose in `source_sensor`  should be equ

[2020-08-26 14:55] aaguiar96 commented on #207
Hi @eupedrosa

Since you've been helping me with camera-to-camera scipt, can you also test this one just to make sure nothing is missing me?
It seems to be working well.

[2020-08-26 15:12] eupedrosa commented on #207
Ok, maybe tomorrow I will test it.

[2020-08-26 15:24] miguelriemoliveira commented on #221
Hi guys,

you make me feel bad for being on my last vacation days .. thanks a lot.

I did not get what was going wrong ... I guess now both are giving similar results so that's very good.

About going slowly, in my machine it is quite fast. Calibrated the 55 collections in 3/4 minutes. Try @eupedrosa 's suggestions. Another suggestion is to run without visualization. Take the -v -rv -si -vo flags

[2020-08-26 15:27] aaguiar96 commented on #221
Hi @miguelriemoliveira

If you want, you can take a look at [this](https://github.com/lardemua/atom/issues/207#issuecomment-680932308).
If you think it's working, maybe tomorrow I can start generating the results for the paper.

I saw it. Really nice!

[2020-08-26 15:32] miguelriemoliveira commented on #207
OK, I will try to experiment this also.

[2020-08-26 15:32] aaguiar96 commented on #207
Thanks guys!

[2020-08-26 16:11] aaguiar96 opened #227 "Missing wheels on agrob description visualization"
Hi @miguelriemoliveira  and @eupedrosa

Did you noticed that when running the calibration we get these warnings:
[code]
and so, agrob wheels are not displayed?

It is strange, because if you run agrob bringup package
[code]
everything works and the wheels are shown.

Do you know how to fix this? It's somehow important because I want to generate figures for the paper, but with this I can't.

[2020-08-27 09:37] miguelriemoliveira commented on #227
Hi @aaguiar96 ,

I will try to look at this now. Will give you some feedback in a moment.

[2020-08-27 10:22] miguelriemoliveira commented on #227
Hi @aaguiar96 ,

I was searching around and I think the good news is that our code is working ok.

I think the reason why you do not have the wheels is because you have used a bag file which did not contain the joint_state messages. You remember I told you we needed these also (https://github.com/lardemua/atom/issues/157)?

Because there are no joint state messages, no transformations exist for th

[2020-08-27 12:43] aaguiar96 commented on #227
I @miguelriemoliveira

I do remember. I never confirmed if agrob contains anything publishing joint_state...
It's strange because it worked in previous bagfiles, and in this one, it doesn't.

How do I do that? Aren't the joint_state messages generated by the robot description? That does not come on the bagfile right?

[2020-08-27 13:04] miguelriemoliveira commented on #227
Hi aaguiar96,

you can use the command

I think agob has joint states, take a look at #128

Why it was working before I am not really sure, but I think at some time I abolished the usage of robot_state_publisher in the calibrate, perhaps it was before this.

[2020-08-27 13:08] aaguiar96 commented on #227
Hm...

From [here](https://github.com/lardemua/atom/issues/128#issuecomment-595693527) I can see that agrob has a topic publishing the `joint_states` but I never recorded it in any rosbag.

[2020-08-27 13:19] miguelriemoliveira commented on #227
yes, that's the problem. If you don't record this then you cannot see the
wheels.

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Thu, 27 Aug 2020 at 14:08, An

[2020-08-27 13:20] aaguiar96 commented on #227
Oh, ok... So, do you suggest that I record a new rosbag or there is any workaround to draw the wheel with the ones we have?

[2020-08-27 13:29] miguelriemoliveira commented on #227
Hi André,

I can do a hack ... kust for taking nice images. Give me 1 hour

On Thu, Aug 27, 2020, 14:21 André Aguiar <notifications@github.com> wrote:

[2020-08-27 13:32] aaguiar96 commented on #227
Ok thanks
Meanwhile, while I'm waiting for yours and eurico's validation of the LiDAR-to-camera evaluation script, I'm writing the paper.
I am using RAS and hand-eye papers as a baseline. I think it's getting nice!

[2020-08-27 14:56] miguelriemoliveira commented on #227
Hi @aaguiar96 ,

I did the hack. Its here

https://github.com/lardemua/atom/blob/34f2f38593849603c1287f8c23c38d4b99a515c9/atom_calibration/src/atom_calibration/calibration/visualization.py#L420-L433

You can then comment / delete the lines once you have the images.

I also added a new flag --all_joints_fixed  or -ajf which you should use.

When doing calibration the visualization does not really k

[2020-08-27 15:00] aaguiar96 commented on #227
Ok, thanks @miguelriemoliveira

It's working. As soon as I end up writing the paper, I'll delete this code.

Closing the issue.

[2020-08-27 15:00] #227 closed

[2020-08-28 09:27] aaguiar96 opened #228 "Error visualizing LaserBeams"
Hi @miguelriemoliveira  and @eupedrosa

Can you visualize the laser beams on rviz?
I'm getting this error:
[code]

[2020-08-28 09:30] miguelriemoliveira commented on #228
Hi @aaguiar96 ,

I think we removed the calculation of the laser beams and replaced it with the orthogonal distance to speed up the objective function.

Now that we have a much faster objective function we could consider retrieving the beam distance ...

[2020-08-28 09:30] miguelriemoliveira commented on #228
Do you want me to work on this?

[2020-08-28 09:38] aaguiar96 commented on #228
Not exacly what I wanted.
I just wanted to visualize something like this:
![image](https://user-images.githubusercontent.com/35901587/91546512-76d03700-e91a-11ea-845f-9e9b7b44d826.png)

to show the impact of orthogonal distance before and after calibration on the paper.
But, if it implies too much work, it's not important, I can use other images!

[2020-08-28 09:39] aaguiar96 commented on #228
By "like this" I only meant adding the blue laser beams to our visualization system.

[2020-08-28 09:42] miguelriemoliveira commented on #228
Hi @aaguiar96 ,

To be plotted we need to compute the blue lines first, and these were being computed in the beam distance code.

If your idea is to use the orthogonal distance, then I would use a different plot uniting each lidar data point to the closest point on the plane, i.e. the brown line in this image

https://mathinsight.org/distance_point_plane

Makes sense?

[2020-08-28 09:45] aaguiar96 commented on #228
Ok, makes sense.
I'll try to make that code to work on rviz.

Thank's @miguelriemoliveira, I think we can close the issue right?

[2020-08-28 10:26] miguelriemoliveira commented on #228
Yes.

[2020-08-28 10:26] #228 closed

[2020-09-01 08:59] aaguiar96 commented on #221
Hi @miguelriemoliveira  and @eupedrosa

I finished all the paper sections except the abstract, results, and conclusions.
Soon, I'll start to work on the results.
Here (camera to camera), what should I used? Homography, @eupedrosa's approach, or both?

[2020-09-01 09:18] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

great. @eupedrosa , you want to split the sections for review of the paper? Or should we revise first one and then the other?

About the results: For sure we should use just one, since they are very similar. We can use Eurico's approach, no problem by me, but for that he must first write down the methodology. The homography approach needs only be updated with the undistort/distort

[2020-09-01 09:40] aaguiar96 commented on #221
Fine by me, 15h30 then?

[2020-09-01 09:53] miguelriemoliveira commented on #221
OK.

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Tue, 1 Sep 2020 at 10:40, André Aguiar <notifications@github.com> wrote:

[2020-09-01 10:11] eupedrosa commented on #221
I agree that we should meet to talk about this. 15h30 then?

[2020-09-02 17:35] aaguiar96 commented on #205
Hi @miguelriemoliveira and @eupedrosa

Can you confirm this table?
This is the summary of the comparisons that will be done on results. Did I miss anything?
This table does not account for the characterization.

![Screenshot from 2020-09-02 18-32-38](https://user-images.githubusercontent.com/35901587/92017007-0b87ca00-ed4b-11ea-86ef-de621ee544d9.png)

[2020-09-03 07:35] miguelriemoliveira commented on #205
I think that's it. I would call it full system instead of simultaneous.

[2020-09-03 08:22] aaguiar96 commented on #205
Ok thanks @miguelriemoliveira

I recorded a dataset with 58 collections yesterday.
Today I'll test it.

[2020-09-03 12:55] aaguiar96 commented on #221
Hi @eupedrosa

Will you had the e_R and e_t metrics to the script or do you want me to?
I think it is the only thing that is missing.

[2020-09-03 13:11] eupedrosa commented on #221
You should do it.. I will not be able to do it until next Wednesday, sorry.

[2020-09-03 16:23] aaguiar96 commented on #221
Ok, no problem! I'll do it.

Just to make sure, in this, we have the RMS that is computed with the homography also right?

[2020-09-03 17:12] aaguiar96 commented on #221
Hi @eupedrosa

The `angle(delta_R)` from equation 17 you eye-hand paper returns an error per component (roll, pitch, yaw)?
I implemented and that is what is returning...
Do I have to make the average of the three components?

[2020-09-03 22:23] eupedrosa commented on #221
The error is mean root squared

Not, it its the difference of the the Rodrigues angle-axis.
Here is an example where you have AX - ZB
https://github.com/lardemua/atom/blob/34f2f38593849603c1287f8c23c38d4b99a515c9/atom_calibration/scripts/deprecated/view_errors.py#L25-L67

[2020-09-04 14:20] aaguiar96 commented on #221
Hi @eupedrosa

That code uses a library that I think does not exist anymore.

This one:
[code]

Can you find it?

[2020-09-04 22:43] eupedrosa commented on #221
Hi @aaguiar96.
I was able to code a little and I added the calculation of the translation and rotation error. The error output is milimeters for the translation and degrees fo the rotation. I hope it helps.

[2020-09-06 07:25] miguelriemoliveira opened #229 "When to go to Ubuntu 20.04 and ROS Noetic?"
Hi @eupedrosa and @aaguiar96 ,

I am preparing classes in which I will be teaching linux / ROS. I was wondering when we should jump to Ubntu 20.04 and the new ROS. Any opinions on this one?

[2020-09-06 09:45] aaguiar96 commented on #229
Hi @miguelriemoliveira

For an instant, I thought you will say ROS2 :-)

I think If we do so, we should create a new branch "noetic" where we update the code for this version.
The official code (master) should be the one we have now that runs on melodic since it is the version that most people use by now right?

[2020-09-06 10:01] eupedrosa commented on #229
In terms of development is like @aaguiar96 says. Create a "noetic-devel" branch and work on it.

But out focus, for now, should be melodic. Mainly because noetic requires a rewrite to python3.

@miguelriemoliveira, if you are teaching the basics os ROS you should go with noetic and ubuntu 20.04.

[2020-09-06 10:10] miguelriemoliveira commented on #229
Thanks for the inputs. I now I should go into 20.04, but I don't want to be using both 18.04 for research and 20.04 for teaching. I think I will just use 18.04. Next year, when we already migrated, I will use 20.04.

[2020-09-06 10:10] #229 closed

[2020-09-06 14:14] aaguiar96 commented on #221
Thanks @eupedrosa

I tested with the dataset I recorded.
Using the same train and test datasets:

[code]

Using a different train and test dataset:
[code]

The `e_t` is really high, right?...

[2020-09-06 14:17] aaguiar96 commented on #221
I left here the train and test dataset if you want to test:

Train: https://drive.google.com/file/d/1SDViW9Cn3onGxh1CfF0fUXLWENAl9JHk/view?usp=sharing
Test: https://drive.google.com/file/d/1jBC3M4Mfp0KFJmmI9aXSQvcHkU0GYQDv/view?usp=sharing

[2020-09-06 14:35] eupedrosa commented on #221
The e_t is in millimeters. Is 1.5cm bad? Maybe.. But for me an angular error of 2 degrees is worst.

Is this a full calibration? With the 50 collections that I have , I have lower errors. I cannot show you the actual results right now, I will not be at home until Wednesday.

From what I see, the overall error are higher compared with my dataset. You may have a lot of unsychronized images.

To summ

[2020-09-06 14:40] aaguiar96 commented on #221
With @eupedrosa's dataset:
[code]

It is actually much better! I'll check if it also works well in LiDAR-camera. If so, I'll use this one as train dataset.

[2020-09-06 14:58] aaguiar96 commented on #207
Hi @miguelriemoliveira and @eupedrosa

I noticed a limitation of our approach while testing this script.
To execute it, we need also to run the calibration for the test dataset since the `limit_points` are only calculated on the calibration, and not on the data collection.

Maybe in the future we can migrate the limit points calculation for the data collector right?

[2020-09-06 15:04] eupedrosa commented on #207
Yes, it should be calculated by the collector.. I believe that I already discussed that with @miguelriemoliveira. The rationale for not being calculated by the collectors was the existence of old datasets where that calculation was not present.

What we should do is put the calculation in the collector and only calculate the limit_points if not present. Eventually, the calculation in the calibrate

[2020-09-06 15:10] aaguiar96 commented on #207
Seems fine to me!

[2020-09-06 15:11] aaguiar96 commented on #207
@eupedrosa's dataset is working for LiDAR-Camera

Example for one collection:

[code]

![Lidar to Camera reprojection - collection 0_screenshot_06 09 2020](https://user-images.githubusercontent.com/35901587/92328854-8870b780-f05b-11ea-8e68-e5c6b6f84aef.png)

So, now I can start filling the tables on the paper! :)

[2020-09-06 18:40] miguelriemoliveira commented on #221
Yep, these results look nice. These are with Eurico's dataset for training and another for testing right?

How about Eurico for training and Eurico for testing?

I suggest using SI units for everything, lets use meters rather than millimeters.

Great work.

[2020-09-06 18:45] miguelriemoliveira opened #230 "What should go into the collector_and_labeller?"
My take:

- [ ] 2D lidar edge deection
- [x] 3D data labelling which in now inside calibrate (limit points)
- [x] Image Corner detection refinement which in now inside calibrate

In the (distant) future we should consider splitting the collector and the labeller.

Anything else?

[2020-09-06 18:46] miguelriemoliveira commented on #207
yes, me and @eupedrosa discussed this. The best place to have that is definitely the collector_and_labeller.

Right now this is a single node, in the (distant) future we should consider splitting the collector and the labeller.
Opened #230 to discuss this.

[2020-09-06 20:19] aaguiar96 commented on #221
Yes @miguelriemoliveira

[code]

And radians rather than degrees?

[2020-09-07 21:27] aaguiar96 commented on #221
Hi @miguelriemoliveira and @eupedrosa

Can anyone do a calibration with @eupedrosa's dataset using only the two cameras?
Just to compare with the result I am getting. The calibration is taking too long, and visually does not seem perfect.

[2020-09-07 21:51] miguelriemoliveira commented on #221
Hi

I can try tomorrow morning

On Mon, Sep 7, 2020, 22:28 André Aguiar <notifications@github.com> wrote:

[2020-09-08 07:32] miguelriemoliveira commented on #221
Hi  @aaguiar96 ,

I tried this:

`rosrun atom_calibration calibrate -json /home/mike/datasets/agrob/agrob_01_07_2020/data_collected.json -csf 'lambda x: int(x) < 66' -ssf 'lambda name: name in ["left_camera","right_camera"]' -oi -sr 0.5 -v -ajf`

with the final report:

[code]

and it finished in under 1 minute ... if you want we can do a zoom to discuss it and debug your side ...

[2020-09-08 08:22] aaguiar96 commented on #221
Hi @miguelriemoliveira

Thanks. I figured out that was because I was executing the calibration with roslaunch.
With rosrun it is much faster, and I add similar results.

[2020-09-08 08:43] miguelriemoliveira commented on #221
Hum ... this is strange ... can you input the exact command you used for roslaunch?

Also, post the contents of your roslaunch (not sure if you have the latest generated version)

[2020-09-08 08:44] miguelriemoliveira commented on #221
But the good news is its working!

[2020-09-08 17:24] aaguiar96 commented on #205
Hi @eupedrosa and @miguelriemoliveira

What do you think of this template for the characterization experiments?
Here is an example of the experiments to evaluate the impact of the number of collections.
The idea is to fix all the other parameters except the one we will evaluate.

![Screenshot from 2020-09-08 18-23-57](https://user-images.githubusercontent.com/35901587/92508434-8d22a080-f200-11ea-8

[2020-09-09 08:55] aaguiar96 commented on #205
The tables are actually looking like this now:

![Screenshot from 2020-09-09 09-52-44](https://user-images.githubusercontent.com/35901587/92577202-4ecdc580-f282-11ea-9050-432361fa28ad.png)

However (as represented on table 2), I want to vary the number of collections with no dependencies on other parameters.
To do so, I activate the `remove partial detections` parameter.
With this, I'm getting thi

[2020-09-09 09:41] eupedrosa commented on #205
The labels of collection 11 are remove, then collection 11 is used to detect the pattern (maybe for first guess?). Obviously, it fails.

[2020-09-09 10:00] aaguiar96 commented on #205
Ok, but so this is a bug since removed collections should not be used further, right?

[2020-09-09 10:26] eupedrosa commented on #205
Yes, it is a bug. Create an issue and assign it to @miguelriemoliveira ;)

[2020-09-09 10:30] aaguiar96 opened #231 "Error while calibrating without partial detections"
Hi @miguelriemoliveira

Can you solve this one?

[code]

[2020-09-09 13:47] miguelriemoliveira commented on #205
Thank you very much @eupedrosa ... you are very nice :-)

I can take a look tonight (@aaguiar96 please create the issue), but perhaps now you could try to discard that collection 11 using the -csf flag ...

[2020-09-09 13:47] miguelriemoliveira commented on #205
The tables look nice. I like them.

[2020-09-09 13:48] miguelriemoliveira commented on #231
On me for tonight ...

[2020-09-09 13:48] aaguiar96 commented on #231
Thanks @miguelriemoliveira

It is @eupedrosa's fault...

[2020-09-09 13:52] eupedrosa commented on #205
No problemo...

About the tables.. I think that a column for the standard deviation may not be the best way. Usually **means** are presented like this: `mean +- std` (you can use  \pm in latex for the +-) . This way you remove two unecessary columns while increasing readability.

[2020-09-09 13:54] aaguiar96 commented on #205
Makes sense! I'll change that.

I cannot @miguelriemoliveira. If I remove collection 11, it happens with other collections.

[2020-09-09 14:01] eupedrosa commented on #205
@aaguiar96, are you sure there is collections with full detections, i.e. without partial detections ?

[2020-09-09 14:23] miguelriemoliveira commented on #205
Yes, that could be a problem ... how many non-partial detections we have?

[2020-09-09 14:26] aaguiar96 commented on #205
I think atom outputs all the non partial collections detected right?

[code]

[2020-09-09 14:29] aaguiar96 commented on #221
Hi @miguelriemoliveira  and @eupedrosa

From you experience, does the `stereocalibrate` routine from opencv accepts partial detections?
I am stuck with this error:

[code]

[2020-09-09 14:31] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

no, Opencv uses a chessboar only. So partial detections won't work here ... I can try to help tonight...

[2020-09-09 14:31] aaguiar96 commented on #221
This is bad... Most of our collections are partial detections...

[2020-09-09 14:32] aaguiar96 commented on #221
Ok, I will commit a script for the opencv stereocalibration soon so you can look at it

[2020-09-09 14:35] miguelriemoliveira commented on #221
Ok, I will. @eupedrosa , after detecting the charuco board is it not possible to derive the coordinates of all points (some of them will be outside the image, but that's ok).

Does this exist?

[2020-09-09 14:39] aaguiar96 commented on #221
How to run:

[code]

[2020-09-09 15:44] aaguiar96 commented on #130
Hi @miguelriemoliveira and @eupedrosa

Sadly I did not record the depth image topic nor the point cloud topic from zed...
So, now I have to generate them from the stereo images.

Do you know any toolbox to do that?

[2020-09-09 15:45] aaguiar96 commented on #130
I tried to generate a disparity image using opencv but the result is really bad...

[2020-09-09 16:46] eupedrosa commented on #130
I am sorry @aaguiar96, I did not want to be the one to tell you but.... you need a new dataset !!!!!!
We should use the point cloud created by the zed camera.

[2020-09-09 20:48] aaguiar96 commented on #130
Ahah, I know that's the most logical solution, I was lazy... :-)

I will go to the lab next week, maybe Wednesday. I will record a new dataset.
I think I will not generate more results until then, because I will have to repeat everything with the new training dataset right?

[2020-09-10 05:51] miguelriemoliveira commented on #130
Hi,

you can also use the http://wiki.ros.org/depth_image_proc nodelets constellation to produce point clouds from raw images.
That would avoid having to take a new bag file. If you use a camera_info msg which is build using the data from the zed factory calibration, you could say this is the "factory" calibration... Not absolutely true, since the zed api uses a different stereo algorithm, but pre

[2020-09-10 06:24] miguelriemoliveira commented on #231
Hi @aaguiar96 ,

I think it is solved. The problem was this:

[code]

Please test and close if appropriate.

[2020-09-10 06:40] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

I was thinking about this question I asked @eupedrosa

and I think it is possible. There is an alternative path which I also detail bellow.

Lets call this **Option A**:

After detection of the charuco board you have:

1. The pose of the charuco w.r.t the camera
2. The camera's intrinsics
3. A description of the charuco

So now you can generate a list of 3D points in the local cha

[2020-09-10 08:11] aaguiar96 commented on #221
I @miguelriemoliveira

Thanks for the inputs. I think I will go for option B. This is a limitation from OpenCV. So, I don't think we should fix it.
Thanks again.

[2020-09-10 08:18] aaguiar96 commented on #231
I @miguelriemoliveira

It works. Thanks!

[2020-09-10 08:18] #231 closed

[2020-09-10 08:23] miguelriemoliveira commented on #231
Great!

[2020-09-10 08:23] miguelriemoliveira commented on #130
Hi André,

I think so. We could try with the fisheye. But if you can skip the bagfile
altogether don't repeat it because of us

Thanks,
Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de San

[2020-09-10 08:52] aaguiar96 commented on #221
I @miguelriemoliveira and @eupedrosa

The script for OpenCV calibration is working.
It returns intrinsics and cam2cam extrinsic calibration.

Now I have to generate a json file with these results right?
My question is, the extrinsic results is directly from camera to camera. In the json, we do not have such transformation right?
Do I have to compute the chain of tf's from base to each camera using

[2020-09-10 08:59] miguelriemoliveira commented on #221
Hi @aaguiar96 ,

that was fast!

Better said, you need to augment or update a json file which is given to the script (just like in the calibrate)

Right, we don't

I would prefer that, yes. @afonsocastro tackled this in his stereo script but I don't remember if he did it inside the stereo calibrate script or later in the comparison script.

In any case it is better if all scripts output the same,

[2020-09-10 09:02] aaguiar96 commented on #221
Ok @miguelriemoliveira, I will try to do that.

Just to make sure I'm doing everything ok. Here's my approach:

1. Read pattern complete detections from train json file.
2. Use `cv2.calibrateCamera` for each camera to compute OpenCV's intrinsics estimations.
3. Use `cv2.stereoCalibrate` with the intrinsics result to get the extrinsics.

[2020-09-10 10:36] miguelriemoliveira commented on #221
Hi André,

I think 2 is not needed. You get the extrinsics from the input json file.

Miguel

On Thu, Sep 10, 2020, 10:03 André Aguiar <notifications@github.com> wrote:

[2020-09-10 10:38] aaguiar96 commented on #221
Ok @miguelriemoliveira

[2020-09-10 10:38] eupedrosa commented on #221
I actually think that @aaguiar96 should do the 3 steps. That way we can do a direct comparison with our solution that also computes intrinsics.

[2020-09-10 10:39] aaguiar96 commented on #221
That was also my idea.

[2020-09-10 10:58] miguelriemoliveira commented on #221
No need. If you want to optimize the instrinsics you can use the proper flags in the opencv stereocalibrate function. Check:

https://docs.opencv.org/2.4/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html#stereocalibrate

If you want an opencv stereo which also estimates intrinsics then also use another which does not, so you have two opencv stereo approaches.

[2020-09-10 12:21] eupedrosa commented on #221
In a higher level we are doing the three steps, so I guess we are in the same page.
The difference is that the implementation allows to do step 2 and 3 at the same time.
Nonetheless, opencv is doing the intrinsic estimation.

[2020-09-15 10:20] aaguiar96 commented on #205
Hi @miguelriemoliveira and @eupedrosa

I'm at the lab today, and I recorded two rosbags with all the info we wanted.
Here:

[code]

I will now test, and start generating the results.

[2020-09-15 10:22] aaguiar96 commented on #205
Some notes and questions:

* I will have to add some dummy code to the data collector to save a .pcd file extracted from `/zed/zed_node/point_cloud/cloud_registered`, right?
* To evaluate the impact of the initial guess in the calibration, how should I do it? Can I do it in a single training dataset?

[2020-09-15 12:46] aaguiar96 commented on #205
Here is a snapshot of one of the rosbags (30 secs): https://drive.google.com/file/d/14IWXlIE-rCdrrwqrKzgANvkNZZUkRRB_/view?usp=sharing

[2020-09-15 14:07] eupedrosa commented on #205
Hello @aaguiar96.

As I understand, you want to register this point cloud with the point cloud generated by the velodyne, right?
Maybe it should not be part of the data collector. It is an external tool.

I think so, maybe you could manipulate the initial pose of the sensor in the calibrate script.

---

By the way. I **hacked** an autocollector. The data is synchronized with a maximum difference

[2020-09-15 14:11] aaguiar96 commented on #205
Hi @eupedrosa
What do you mean by "hacked an autocollector"?
Did you get the 44 collections from the 30 secs of bagfile?

[2020-09-15 14:15] eupedrosa commented on #205
A script that collects the data without our intervention. It receives a rosbag and a config file. An then it collects.

Nop, from a 5 minutes bagfile. From the recent bagfile of 30 seconds I got 0 collections....
The CameraInfo messages have no stamp...

[2020-09-15 14:18] aaguiar96 commented on #205
Great! 👍

Ok, I'll repeat the data collection and see what's going on. Thanks!

[2020-09-15 15:23] miguelriemoliveira commented on #205
Hi ,

It is not a question of if you can, you must do it. Because otherwise you could not ensure you were using the same images and point clouds and could not say that the difference in results is solely due to the change in the initial guess.

I suggest you get one dataset with a good first guess (the best you can get).

Then you add noise to the adequate transformations in the json (or when load

[2020-09-15 15:25] miguelriemoliveira commented on #205
Well, the problem is it must be the data collector to save these zed point clouds to make sure they are from the same time as the collections. I will work on it tonight. We will need this functionality for the rgbd cameras I think.

[2020-09-15 23:30] miguelriemoliveira opened #232 "Fix bag file with empty stamp in camera_info"
@aaguiar96 , I could not find your issue so I created a new one ...

[2020-09-15 23:35] miguelriemoliveira commented on #232
Bag info is:

[code]

The problem is with topics  _/zed/zed_node/left_raw/camera_info _ and  _/zed/zed_node/right_raw/camera_info_ which have the stamp always equal to 0.

[2020-09-16 00:15] miguelriemoliveira commented on #232
I think it is fixed. The logic was to play the bag remapping the problematic topics to new names, e.g.

_/zed/zed_node/left_raw/camera_info _
->
_/zed/zed_node/left_raw/camera_info/incorrect _

Then, we run a topic tools transform (http://wiki.ros.org/topic_tools/transform) to fix the message for each camera.

This script should play the bag with the corrected stamps. You could make a new bag file

[2020-09-16 00:17] miguelriemoliveira opened #233 "Save zed point clouds when collecting data"
Too late now. Will work on this tomorrow ok @aaguiar96 ?

[2020-09-17 09:14] miguelriemoliveira commented on #233
Hi @aaguiar96 ,

there is a difference in the topics for this new bag file

Before it was:

[code]

and now it is:

[code]

You are now using the raw images for the zed ... was this intentional? What was the reason?

[2020-09-17 09:49] miguelriemoliveira commented on #233
The problem we have now is that we want some of the data in the bag file to be saved in synchronous fashion with our collections, to ensure a fair comparison later on. My suggestion is to add a functionality in which you can specify additional data to store for each collection.  That we we get a general solution to this particular problem, which we can ue for other stuff later on.

Here are the de

[2020-09-17 09:51] aaguiar96 commented on #233
Yes @miguelriemoliveira

Thanks! I'll do that. 👍

[2020-09-21 12:18] aaguiar96 commented on #232
Hi @miguelriemoliveira

This is working. Just had to add some minor changes.
Thanks

[2020-09-21 12:18] #232 closed

[2020-09-21 13:10] miguelriemoliveira commented on #232
Great!

On Mon, Sep 21, 2020, 13:18 André Aguiar <notifications@github.com> wrote:

[2020-09-21 14:58] aaguiar96 commented on #233
This is done.
Tested with ZED's pointcloud and RealSense's images, simultaneously.

In theory, the approach supports all types of ROS data.

Here is a screenshot of a test dataset:

![Uploading Screenshot from 2020-09-21 15-56-23.png…]()

[2020-09-21 14:59] aaguiar96 commented on #233
I will close the issue. If for some reason we find any bug in the future, we open it again.

[2020-09-21 14:59] #233 closed

[2020-09-21 15:14] miguelriemoliveira commented on #233
That's good news!

[2020-09-21 15:15] aaguiar96 commented on #217
Can we close this for now?

[2020-09-21 15:16] aaguiar96 commented on #216
Can we close this for now?

[2020-09-21 15:16] aaguiar96 commented on #211
Can we close this for now?

[2020-09-21 15:16] aaguiar96 commented on #206
Can we close this for now?

[2020-09-21 15:17] miguelriemoliveira commented on #217
Sure, please just add some detail as to why it did not work. If the information is in another issue point to it.

[2020-09-21 15:17] miguelriemoliveira commented on #206
Yes

[2020-09-21 15:17] #206 closed

[2020-09-21 15:19] aaguiar96 commented on #217
This framework uses a pattern with circular wholes.
Not compatible with atom calibration.

Closing the issue.

[2020-09-21 15:19] #217 closed

[2020-09-21 15:19] #216 closed

[2020-09-21 15:20] aaguiar96 commented on #211
This package uses aruco patterns.
Not compatible with atom calibration.

Closing the issue.

[2020-09-21 15:20] #211 closed

[2020-09-21 15:21] aaguiar96 commented on #205
Closing this issue.
Opening a fresh one to discuss the paper results.

[2020-09-21 15:21] #205 closed

[2020-09-21 15:28] aaguiar96 opened #234 "Generate final agrob paper results"
Hi @miguelriemoliveira and @eupedrosa

I think I have all the tools I need to start generating all the results for agrob paper.
For now, I have two questions:

* The first I have asked before:

and @miguelriemoliveira answered:

I suggest you get one dataset with a good first guess (the best you can get).
Then you add noise to the adequate transformations in the json (or when loading) so that you

[2020-09-21 15:32] miguelriemoliveira commented on #234
I would add an option on the loader to add the noise to the transformations (the question is to which of those).
It is better than to have lots of datasets.

[2020-09-21 15:35] aaguiar96 commented on #234
Hm, ok. That's an option.
My idea was to have a single dataset, but multiple initial guesses generated from atom. Then, I would have to change the config file each time I want to change the initial guess.

[2020-09-21 15:35] miguelriemoliveira commented on #234
I also like your idea. Any would be fine I think.

[2020-09-21 15:42] aaguiar96 commented on #234
Hm, ok! I will wait for @eupedrosa's opinion, also about the second question.
For now, I will start generating all the other results, I leave these ones for when I finish all the others.

[2020-09-21 15:43] miguelriemoliveira commented on #234
I would prefer that we have a script, because we could reuse it in the future. With cloud compare the only way I see to ensure the same first guess would be to to change the position of the points before loading them into cloud compare. But that would be very complex and generate new point clouds (I don't like it). I suggest that if we do go to ICP them we assume we will use different first guesse

[2020-09-21 15:59] aaguiar96 commented on #234
Ok, I agree! I'll work on the script.
It should not be complicated.

[2020-09-21 16:04] eupedrosa commented on #234
I'm with @miguelriemoliveira on this one. We should be able to quantify how much error we can apply to the initial guess.
We can even use the optimized poses as initial guess. This way, we known that the final result should be equal to the initial one.
We can even use Pode Differences to quantify the error.

About the second question. Again aligned with @miguelriemoliveira point of view.

[2020-09-21 16:06] aaguiar96 commented on #234
Ok great. So, I think the generation of noisy initial guesses will deserve another isolated issue.
As soon as I start working on it, I'll create it.
Thanks @miguelriemoliveira and @eupedrosa

[2020-09-21 17:29] aaguiar96 commented on #234
If you want to test:

Train dataset: https://drive.google.com/file/d/1i3Won2hSNDBVZPy0oVz6bOD3acX9c3DA/view?usp=sharing

Test dataset: https://drive.google.com/file/d/1BysyBaDBhTxXMPgJHHkkqk-fKssp_OkE/view?usp=sharing

[2020-09-22 16:25] aaguiar96 commented on #234
Hi @miguelriemoliveira and @eupedrosa

So, I have generated all the results **except** the characterization of the initial guess, OpenCV, and ICP.
I removed the analysis of partial detections, since almost all the collections are partial.
Even so, we have many many results!

See here the summary tables.
Results missing: **M1**, **M2**, **M5**, **M6**, **M26**-**M31**.

![Screenshot from 2020-09-22

[2020-09-22 16:32] miguelriemoliveira commented on #234
Hi @aaguiar96 ,

great work. I took a look at the tables, they look really nice. I would only suggest that you use only 3 decimal places instead of four. It would make the tables lighter.

About 3. did we not discuss this yesterday? What is your question? I am lost ...

[2020-09-22 16:46] eupedrosa commented on #234
No hints, but my thoughts :brain: and prayers :pray:  are with you!

[2020-09-22 16:50] aaguiar96 commented on #234
Sorry, youre right. You said this:

So, just pick some transformation (maybe the one we are optimizing), and add that percentage of noise? Should I do that on `calibrate` script?

[2020-09-22 16:51] aaguiar96 commented on #234
Thanks @eupedrosa. Today I am particularly inspired, it must be it... :rofl:

[2020-09-22 17:10] miguelriemoliveira commented on #234
Hi @aaguiar96 ,

yes, in the calibrate (using some argument).

Concerning which transformations to add noise to, this is from the hand-eye paper:

so we have 3 different different initializations depending on the nature of the parameter. I would say you should only add noise to the atomic transformation which are listed for calibration in the yaml file, i.e. those that we set manually using rviz.

[2020-09-22 17:12] aaguiar96 commented on #234
Ok @miguelriemoliveira thanks.
I'll work on that.

[2020-09-23 10:47] eupedrosa commented on #234
Hi @miguelriemoliveira and @aaguiar96.

Matlab 2020b has a new Lidar Toolbox with a [Lidar and Camera Calibration](https://www.mathworks.com/help/lidar/ug/lidarcameracalibrationexample.html)  module.
Maybe it is worth checking it out. It references an IROS and a PAMI paper.

[2020-09-24 15:22] aaguiar96 commented on #130
Hi @miguelriemoliveira  and @eupedrosa

Can you test this `python -c "import pcl"` on your computers and tell me the output?
I have pcl installed, but I'm always getting:

[code]

It seems that Ubuntu 18.04 is prepared to use newer versions of PCL, but ROS still uses python2, so it crashes...

[2020-09-24 16:51] eupedrosa commented on #130
You have to compile the pcl module. Easy right? Wrong!
But alas, I found out how to make it work. Just do
[code]

It will compile the python module with the current libpcl, BUT, I had to disable the visualization module.

[2020-09-24 16:54] aaguiar96 commented on #130
Nice! Thanks @eupedrosa

We should add that to the requirements.txt in the future...

[2020-09-24 17:11] eupedrosa commented on #130
Why do we need `python-pcl` in the project? It is just for the ICP right? Something that we are doing just for the paper.
Addicionally, it may not be a good idea to depend of a modified package.

[2020-09-24 17:15] aaguiar96 commented on #130
Yes you're write.

So, I don't think this should be on `atom_evaluation/scripts/others`.
I'll just use it as a standalone script, just for the paper.

[2020-09-24 17:17] eupedrosa commented on #130
You can still save it there. We just don't declare its dependencies.

[2020-09-28 10:21] aaguiar96 commented on #130
Hi @eupedrosa and @miguelriemoliveira

This is implemented.
The result seems to be really bad.

Look here.

* Good initial guess (the best case used for atom) - see the patterns almost aligned

![first](https://user-images.githubusercontent.com/35901587/94420815-9b6b3900-017c-11eb-9d7b-61d4cda598f6.png)

![rviz_screenshot_2020_09_28-11_14_58](https://user-images.githubusercontent.com/35901587/9442

[2020-09-28 10:25] aaguiar96 commented on #130
Two things now:

* I saw that PCL also has other methods such as ([GICP](https://nlesc.github.io/python-pcl/#pcl.registration.gicp), [ia_ransac](https://nlesc.github.io/python-pcl/#pcl.registration.ia_ransac), [icp_np](https://nlesc.github.io/python-pcl/#pcl.registration.icp_nl), that I can use. What do you think? I think that @eupedrosa has mentioned them before.

* Now I have to compute the enti

[2020-09-28 11:01] miguelriemoliveira commented on #130
Hi @aaguiar96 ,

the images are a bit confusing. I cannot understand them very well.

About the ICP, you are using some code right? Can you test with cloud compare just for one or two cases? I think it should work better (but again, images are difficult to understand). I think it is better than moving towards more complicated GICP etc algorithms.

If you can, send me the dataset with the point clo

[2020-09-28 11:36] aaguiar96 commented on #130
Hi @miguelriemoliveira

It seems to give exacly the same result. (it is expected since I am using PCL funcions)

![image](https://user-images.githubusercontent.com/35901587/94427276-b80c6e80-0186-11eb-9d4f-d648cc1662a5.png)

But you can try out: [test.zip](https://github.com/lardemua/atom/files/5291892/test.zip)

I don't know... What I do is:

* Transform both input point clouds to `base_link`
* A

[2020-09-28 11:38] miguelriemoliveira commented on #130
Hi @aaguiar96 ,

I will call you in 10/15 mins.

[2020-09-28 11:38] aaguiar96 commented on #130
Ok, thanks! :)

[2020-09-28 11:42] aaguiar96 opened #235 "Generate noisy initial guesses the original one"
Generate new initial guesses from the one set in the input `json` file.

Do it as @miguelriemoliveira wrote:

[2020-09-28 14:14] eupedrosa commented on #130
So, what are the news after the phone call?

[2020-09-28 14:16] eupedrosa commented on #130
By the way @aaguiar96, can you post the command (and its parameters) you used for `icp_stereo_to_lidar_calib.py`. I requires the frame names and I do not know them.

[2020-09-28 14:27] aaguiar96 commented on #130
I @eupedrosa. So, about the ICP, the conclusion for the bad performance is that the point clouds are very different. One (ZED'S) is very dense and imprecise, and other (velodyne's) is sparse and precise. Both cloudCompare and PCL are giving the same result. In any case, @miguelriemoliveira will try out to tune cloudCompare's parameters to see if we can improve the performance. Also, I'll add the o

[2020-09-28 19:52] miguelriemoliveira commented on #130
Hi @aaguiar96 ,

I think I got a bit better results, take a look:

https://youtu.be/kYYHYsDGelY

we can discuss tomorrow ...

[2020-09-28 20:03] aaguiar96 commented on #130
That looks really better!

Thanks, I'll call you tomorrow then.

[2020-09-30 10:42] aaguiar96 opened #236 "Get atomic tranformation from sensor-to-sensor calibration"
Hi @miguelriemoliveira and @eupedrosa

I was thinking on this problem, and this is what we have:

![icp](https://user-images.githubusercontent.com/35901587/94673571-d3a28100-030e-11eb-8976-f4721933c4f4.png)

So, if we anchor the velodyne, we want to change `zed_camera_center-zed_camera_left_frame` atomic transformation, according to the ICP calibration `tf` (or opencv/ZED factory in the other case

[2020-09-30 10:49] miguelriemoliveira commented on #236
Hi @aaguiar96 ,

can you zoom now?

[2020-09-30 10:50] aaguiar96 commented on #236
Yes!

[2020-09-30 10:51] eupedrosa commented on #236
Zoom?

[2020-09-30 10:55] eupedrosa commented on #236
I am alone in the Zoom ... :disappointed:

[2020-09-30 13:30] aaguiar96 commented on #236
Ok guys, here's my plan:

* Implement script to convert pointcloud from a frame into another, and save it as a pcd
* Compute ICP between both pcls for each collection and save the result in a file
* Implement script that reads each result and re-writes the transformation in the json.

Btw, @miguelriemoliveira and @eupedrosa, I checked and the ZED's pointcloud is in `zed_left_camera_frame`.

I'll s

[2020-09-30 14:31] miguelriemoliveira commented on #236
Hi @aaguiar96 ,

a couple of suggestions:

I think these should be in a single script. Remember you must have all transformations in order to manipulate them as we discussed this morning. If that's in separate scripts it is more difficult.

Ok, great.

That's really strange. I am almost sure this is a problem. One easy to do trick that I often use is to check the Z coordinate of all points. Do you

[2020-10-01 10:53] aaguiar96 commented on #235
Hi @miguelriemoliveira and @eupedrosa

This is implemented!
The result is interesting. With 10% of noise, for example, the calibration goes starts from diverging for weird solutions, and then slowly converges to a solution similar to the ones we obtained before, with no noise!

[2020-10-01 10:54] aaguiar96 commented on #235
I'll put these results on the paper, and all the atom results are generated.

[2020-10-01 11:08] eupedrosa commented on #235
Do you have a video (or a gif) that show the effect?

[2020-10-01 11:33] aaguiar96 commented on #235
This was due to an error on the conversion from quaternion-to-euler. Now the behavior is standard.

Here's an example of a starting point from a 10% noise addition.

![rviz_screenshot_2020_10_01-12_32_23](https://user-images.githubusercontent.com/35901587/94804150-40d31680-03e2-11eb-8e34-da74fa3f8cf7.png)

[2020-10-01 11:36] eupedrosa commented on #235
And what about 50%, 70%, 100%, 200%, etc..

[2020-10-01 11:51] aaguiar96 commented on #235
Here's an example with 50%.
The result is not so good, but I think it's quite acceptable for this amount of noise.

[](https://youtu.be/-G_qDZjmeqU)

[2020-10-01 13:08] miguelriemoliveira commented on #235
Hi, good news, and great results.

Just a comment: because we are talking about angles I think we should go at most to 20-25% of noise.

I was actually thinking of something like 0.1%, 1%, 5%, 10%. A 10% error for an angle is a lot.

Great work, congratulations.

[2020-10-01 13:10] aaguiar96 commented on #235
I just finished generating the papers results for atom.
I considered 5%, 10%, and 50%. Even with 50%, the results are great... Do you think I should change?

I tested with 100% and the calibration was not converging for the right spot, so I stopped at 50% eheh!

[2020-10-01 13:17] eupedrosa commented on #235
How many times did you obtained the results for each % level ? Remember, if it is random, just doing an experiments is not enough.

[2020-10-01 13:19] aaguiar96 commented on #235
I opted for not doing it randomly. If the user chooses 1% error, I add 1% error to each component of the transform to be calibrated.

[2020-10-01 13:25] eupedrosa commented on #235
That is not the definition of noise. It is just adding offsets to the initial guess. And you can be adding bias to that offset...
Using random is more work I know. If you want I can also run experiments.

@miguelriemoliveira, what is your opinion?

[2020-10-01 13:28] eupedrosa commented on #235
By the way, @aaguiar96, you pushed an empty script in 1ac7ba7e54f7b9d227314b17d6ba2a3e83ca1902, see `convert_pcl.py`.

[2020-10-01 13:29] aaguiar96 commented on #235
Yes, but it has the same effect using our initial guess setter toolbox, right? If I use this tool, I can add this offset to the initial guess, and end up with a worst initial guess right?

But I understand what your saying. I can re-do this if you think it's appropriate.

[2020-10-01 13:29] aaguiar96 commented on #235
Sorry, I'll remove it.

[2020-10-01 13:33] miguelriemoliveira commented on #235
I agree with @eupedrosa , if we call it random then it should not be a bias, and because its random we should run it 3 ou 4 times each configuration.

The easy way out is not to call it noise but just a "bad", "reasonable", "good" and "excelent " first guesses ...

[2020-10-01 13:35] aaguiar96 commented on #235
Ok thanks. I'll re-do the experiences so that we consider noise.

[2020-10-01 13:37] eupedrosa commented on #235
No, it is more generic. The toolbox is an instantiation of possible errors.

True, but that is subjective to our appreciation. The random search is more elegant.

It has to be more. @aaguiar96, if you commit the script I can use our servers to do a battery of tests.

[2020-10-01 13:53] aaguiar96 commented on #235
Ok @eupedrosa, that is nice. The code is available now.
You just have to add the flag `-nig` with a float number representing the percentage of noise (e.g. 2.0 for 200%).

[2020-10-01 13:54] aaguiar96 commented on #235
So, you will run the experiments for a given number of noise percentages?

[2020-10-01 14:11] eupedrosa commented on #235
Yes and yes.

But there are a few things that needs to be changed from the script. For example:
https://github.com/lardemua/atom/blob/ffd6125ec495587962b72f2d32b0d163803c7aba/atom_core/src/atom_core/dataset_io.py#L669-L670

Here you are applying proportional error, which is not what we want. For example, angle zero will result in an angle with zero error.
Furthermore, you are also adding noise to

[2020-10-01 14:15] aaguiar96 commented on #235
Ok, makes sense. What do you suggest? For angles the percentage can be in relation with 360º, and for translation in relation with 1 meter, for example.

Right, I'll correct that.

[2020-10-01 14:25] eupedrosa commented on #235
What I suggest is  100% corresponds to the 1.0 of the measurement unit.
For example, for translation 75% corresponds to 0.75 * 1 meter, and for rotation corresponds to 0.75 x 1 radian.

[2020-10-01 14:31] aaguiar96 commented on #235
Ok, that's what I suggested... :+1:
I'll do it, and commit soon.

[2020-10-01 14:36] aaguiar96 commented on #235
Done @eupedrosa!

[2020-10-01 14:44] eupedrosa commented on #235
Nice :+1:

Now I need the datasets that you are considering for the tests. Can you send them to me?

[2020-10-01 14:53] aaguiar96 commented on #235
Yes. You must run the calibrations in the `train_dataset`, and then the experiment scripts in the `test_dataset`.

Here:
* train: [https://drive.google.com/file/d/12I0T_Fb54HUPpQkNyNCzKuieilZl-BBs/view?usp=sharing](https://drive.google.com/file/d/12I0T_Fb54HUPpQkNyNCzKuieilZl-BBs/view?usp=sharing)
* test: [https://drive.google.com/file/d/1vAJ0OdoWc3FjKG_cy974k2znxd19T_HL/view?usp=sharing](https://

[2020-10-01 14:54] aaguiar96 commented on #235
Thanks for the help!

[2020-10-02 11:49] eupedrosa commented on #235
@aaguiar96, I am having some trouble with your datasets. The errors are to high from the expected.

[2020-10-02 11:52] aaguiar96 commented on #235
That is strange... I'm having good results with the datasets.

Do you want to meet after lunch?

[2020-10-02 11:53] eupedrosa commented on #235
Ok.. We can meet after launch

[2020-10-02 11:54] aaguiar96 commented on #235
Ok, 14h? Zoom?

[2020-10-02 12:09] eupedrosa commented on #235
Ok

[2020-10-02 12:46] aaguiar96 commented on #236
Hi @miguelriemoliveira and @eupedrosa

I think I was able to implement a generic function to do this.
I created a utilities script in atom_evaluation for these functions.

Here's the idea (that is entirely based on our conversation).
Given this generic configuration graph:

![Untitled Diagram](https://user-images.githubusercontent.com/35901587/94924254-18681c80-04b5-11eb-9782-497af6320364.png)

To

[2020-10-02 13:35] aaguiar96 commented on #221
Hi @miguelriemoliveira and @eupedrosa

Sadly the training dataset has not any complete collection, so I cannot use it on OpenCV stereo calibration...
Can I use the test dataset instead (that has some complete collections), and evaluate OpenCV also in the test dataset? Or, in alternative, can I use other dataset to calibrate OpenCV (such one from @eupedrosa)?

I know that this is not ideal, but I d

[2020-10-02 13:44] aaguiar96 commented on #221
EDIT: Actually, the train dataset has 8 complete collections. Do you think that it is enough?

[2020-10-02 14:23] aaguiar96 commented on #221
I'm obtaining this result:

[code]

It does no seem correct. The translation vector `T` does not have the 12cm baseline.
Any ideas?...

[2020-10-02 14:41] eupedrosa commented on #221
Yes, 8 collections is short. Do you want to try with my dataset? I will send you by email

[2020-10-02 14:51] aaguiar96 commented on #221
Yes @eupedrosa, it works well with yours!
What do you think I should do? I can consider two datasets on the paper, and generate all the results for the two datasets.
And, in OpenCV use only this one, since it is the only suitable...

[code]

[2020-10-02 15:03] eupedrosa commented on #221
Yes, you can consider multiple datasets. In fact, it is good for us. We less information we can achieve the same or better results.

[2020-10-02 15:04] aaguiar96 commented on #221
Ok, I'm working on this.
For characterization (there are a lot of results and table lines) I will leave it as it is, only with my dataset.
For comparison of atom with other methods, I'll add your dataset, and in this way our problems are solved.

Thanks! :)

[2020-10-02 15:30] eupedrosa commented on #221
By the way, the benchmark ir running for the noise, 1000 runs for each level of percentage.
![2020-10-02-162725_1527x1379_scrot](https://user-images.githubusercontent.com/6196901/94941160-0b9ef500-04c4-11eb-84b3-124e7f75dfb8.png)

[2020-10-02 15:31] aaguiar96 commented on #221
That's really nice! Thanks!

[2020-10-02 15:43] eupedrosa commented on #221
This may take a week or more in some cases. But I think we have  time.

[2020-10-02 15:46] aaguiar96 commented on #221
I will write the other sections of results I leave that for the end.

The only missing results are ICP and those of the impact of the initial guess.

[2020-10-02 16:12] aaguiar96 commented on #221
Hi @miguelriemoliveira and @eupedrosa

**FINALLY** I was able to generate OpenCV results. The script is pretty generic!
With an input json and two cameras, it calibrate them, and re-writes a json with the not anchored sensor transformation updated, using the sensor-to-sensor calibration and the function that I posted here before.

Here's the result with @eupedrosa's training dataset, and the gener

[2020-10-02 16:16] aaguiar96 commented on #221
You can test it like this:

[code]

Since @eupedrosa's dataset is old, and do not have some features recently added, you have to comment these two lines:
https://github.com/lardemua/atom/blob/27447a0589106e9aec8c15037459415909c5f549/atom_core/src/atom_core/dataset_io.py#L102-L105

[2020-10-02 19:15] miguelriemoliveira commented on #221
Hi guys,

great work. Sorry for not answering before, this afternoon I was offline.

[2020-10-02 19:29] miguelriemoliveira commented on #236
Hi @aaguiar96 ,

looks really nice. I just have a suggestion (I always do have at least one suggestion, because that's what boring people have :- )

The getTransform function is really flexible, and I think that instead of doing:

[code]

which is the transform from **anchored_sensor_link** to **other_sensor_parent_link** you can simplify by just calling

[code]

You can even compute both ways to

[2020-10-05 10:52] aaguiar96 commented on #236
Hi @miguelriemoliveira

Thanks for the tips! I'll do that, as soon as I have some time.
I'll close this issue since it's solved!

[2020-10-05 10:52] #236 closed

[2020-10-05 10:52] aaguiar96 commented on #221
Thanks @miguelriemoliveira

Closing this since it's solved.

[2020-10-05 10:52] #221 closed

[2020-10-05 10:53] aaguiar96 commented on #207
Closing this, it's solved.

[2020-10-05 10:53] #207 closed

[2020-10-06 19:29] aaguiar96 commented on #130
Hello @miguelriemoliveira and  @eupedrosa

Can somebody help me performing a slerp of many quaternions?
I am trying to use [scipy slerp](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.transform.Slerp.html) but I do not get what the `times` parameters mean...

[2020-10-06 19:31] miguelriemoliveira commented on #130
Hi

I can try tonight.

I miss a good challenge :)

On Tue, Oct 6, 2020, 20:29 André Aguiar <notifications@github.com> wrote:

[2020-10-06 19:32] aaguiar96 commented on #130
Thanks @miguelriemoliveira :)

[2020-10-06 21:10] eupedrosa commented on #130
The *times* parameter defines the interpolation point. Like in an linear interpolation. You have A em B and you interpolate between [0, 1].

The idea for SLERP is the same. You provide rotation A and B, and get interpolation by providing a value between 0 and 1.  However, I believe that scipy offers an API that is more generic. You provide a rotation and its associated point in time. Why time? Bec

[2020-10-06 21:12] aaguiar96 commented on #130
Hi @eupedrosa, thanks. After reading a little bit more, I interpreted it the same way.
I implemented some code, but I'm not sure it's working.

I'm waiting for @miguelriemoliveira's solution to compare.

[2020-10-06 21:16] eupedrosa commented on #130
Can you post your solution?

[2020-10-06 21:42] miguelriemoliveira commented on #130
Hi @aaguiar96 ,

this is what we did a couple of years ago.

https://github.com/lardemua/Optimization/blob/478e877e1d380550075839c3418af371fafa98b4/OpenConstructorOptimization/costFunctions.py#L15-L54

The transformations are represented a bit differently, each defined by a tuple ( (tx, ty, tz), (qw, qx, qy, qz) ), and the function receives as input a list of those transformations.

The slerp is t

[2020-10-07 08:07] aaguiar96 commented on #130
Is something like this:

[code]

What do you think? My idea was to interpolate on the medium point, but I don't know if it is correct.

[2020-10-07 08:09] aaguiar96 commented on #130
I @miguelriemoliveira, as long as it works it's awesome!
I'll copy to atom_core and test then!

Thanks

[2020-10-07 08:47] miguelriemoliveira commented on #130
Hi @aaguiar96 ,

it did work for an M.Sc. thesis, so it should work.

I don't know if you can do that. What does the function **key_rots = R.from_quat(quats)** do exactly?

[2020-10-07 08:51] aaguiar96 commented on #130
Great, I'll use it then.

It creates an intance of the class [Rotation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.transform.Rotation.html#scipy.spatial.transform.Rotation) to use in the slerp function.

[2020-10-07 09:04] miguelriemoliveira commented on #130
yes, but what I do not understand is how this is done with an input of a list of quaternions, rather than a quaternion.

[2020-10-07 14:22] aaguiar96 commented on #130
Hi @miguelriemoliveira and @eupedrosa

@miguelriemoliveira's approach worked. But now I'm stuck at ICP...

So, I have a script that reads the transformations obtained in cloud compare.
I apply the transformations to the source pcl and visualize in RVIZ that it alignes with the target pcl.

However, when I input this transformation in the `getAtomicTfFromCalibration` function, the output is strange

[2020-10-08 12:47] aaguiar96 commented on #235
Hi @eupedrosa, any news?

[2020-10-08 15:18] eupedrosa commented on #235
It is delayed due to some unforseen circumstances. But the experiments are running now. Tomorrow we can share results as planned.

[2020-10-08 16:04] aaguiar96 commented on #235
Really nice @eupedrosa!

I'll send an email now to talk about tomorrow's meeting.

[2020-10-09 15:38] aaguiar96 commented on #234
This is a mystery...

The problem can only be in the ICP transformation...

I performed the following test:

* Read a calibrated json file, and get the sensor-to-sensor calibration from it
[code]

* Pass to it to the function to get the atomic transformation
[code]

* First test: the atomic transformation corresponds to the one present in the json? Yes.
* Second test: save the results in a json an

[2020-10-09 18:35] aaguiar96 commented on #130
Hi @miguelriemoliveira

@eupedrosa helped me solving the problem...
The problem was that I did not pay attention to CloudCompare, so, I was aligning manually sensor A to sensor B, and then performing the ICP from sensor B to sensor A... So, the solution was `M = np.dot(m2, np.linalg.inv(m1))`.

This one was tricky. Thanks, guys for the patience! :)

Now I'm able to generate the results for ICP!

[2020-10-09 20:18] miguelriemoliveira commented on #130
Great news!!!

On Fri, Oct 9, 2020, 19:36 André Aguiar <notifications@github.com> wrote:

[2020-10-12 16:55] aaguiar96 commented on #130
Results for ICP generated. It was a long run!

Closing this.

[2020-10-12 16:55] #130 closed

[2020-10-12 17:03] aaguiar96 opened #237 "Colorize point clouds on atom_evaluation package"

[2020-10-12 17:16] aaguiar96 commented on #234
Hi @miguelriemoliveira and @eupedrosa

I just added now the RMS images feature to camera to camera atom evaluation script.
Here is the result for *ATOM full*:

* Before calibration

![raw_cam2cam](https://user-images.githubusercontent.com/35901587/95773747-f80b3f80-0cb6-11eb-808f-06166b975a10.png)

* After calibration

![calibrated_cam2cam](https://user-images.githubusercontent.com/35901587/957737

[2020-10-12 17:16] eupedrosa commented on #235
I have some results about the first guess *noise*.

This one is for distance:
![noise-dist](https://user-images.githubusercontent.com/6196901/95773707-87602500-0cae-11eb-9e3c-6c80cdd30eb9.png)

And this one is for angle
![noise-angle](https://user-images.githubusercontent.com/6196901/95773701-83340780-0cae-11eb-9cee-8e6070d1bdf1.png)

What are your opinions?

[2020-10-12 17:21] aaguiar96 commented on #235
Seems really great, and the results are expected, right?

The calibration is much more sensitive to orientation errors on first guess, the execution time increases for bad first guesses, and ATOM can deal with realistic first guesses.

I think we got all we need, right? Or are you thinking to generate more results?

[2020-10-12 17:22] eupedrosa commented on #234
@aaguiar96, for now remove the x and y limits, and let matplotlib do it automatically. It will provide better images.

This images already tell us something. Before calibration we have wide spreead errors with an offset. And the calibration fixes that. However, there are some (or just one?) collections with an offset. I believe this final offset is due to a skew in data synchronization.

[2020-10-12 17:24] aaguiar96 commented on #234
Hi @eupedrosa. I fixed the limits because these are the images that go to the paper, and I think it is better to have the same limits in all of them.

Yes, there is one "bad" collection here. And I agree, it may be due to synchronization problems!

[2020-10-12 17:25] eupedrosa commented on #235
Yes, the values are expected.
I only run 10 trial for each step in angle/distance. But it may be enough, but I am doing a run with 100 trials for each step, just in case. I was to do 1000 trials but it would take forever....

[2020-10-12 17:27] aaguiar96 commented on #235
Ok, when you have your final results, just add the pictures to the paper please!

[2020-10-12 17:38] miguelriemoliveira commented on #130
Congratulations!

On Mon, Oct 12, 2020, 17:55 André Aguiar <notifications@github.com> wrote:

[2020-10-12 17:42] miguelriemoliveira commented on #234
Hi. Setti g the same limits is a good idea. I just suggest symetric axis, e.g. -5 to 5 instead of -10 to 5.

We could remove the bad collection, but for comparison purposes with other approaches perhaps we can leave it as is..

[2020-10-12 17:45] miguelriemoliveira commented on #235
It looks great. And the results are the expected which is also great... sometimes I wonder why we take so much time to get results we were already expecting : - )

[2020-10-12 18:13] eupedrosa commented on #235
https://www.youtube.com/watch?v=v02L4xE_smk
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/v02L4xE_smk/0.jpg)](https://www.youtube.com/watch?v=v02L4xE_smk)

[2020-10-13 08:21] miguelriemoliveira commented on #235
: - )

[2020-10-13 21:00] aaguiar96 commented on #237
I @miguelriemoliveira and @eupedrosa

I created the script to colorize the point cloud.
The result is a bit strange.

I checked the projection of the point into the image and they are correct.
However, the colorizing process does not seem ok... The points behind the velodyne are also mapped to the image.

Here:

![rviz_screenshot_2020_10_13-21_56_42](https://user-images.githubusercontent.com/35901

[2020-10-13 21:33] miguelriemoliveira commented on #237
Hi André,

I do not have time to try right now (only during the weekend), but I
suspect this has something to do with you not checking whether the z
coordinate of the point (when represented in the camera's reference frame)
is > 0. Only those should be colored.

Take a look at this paper

http://www.cvc.uab.es/~asappa/publications/J__Elsevier_IF_Vol_24_July_2015_pp_108-121.pdf

fig 4, I think that

[2020-10-14 08:15] aaguiar96 commented on #237
Ok @miguelriemoliveira thanks!

@eupedrosa  can you try it and see the result? I don't find it very appealing visually...

[2020-10-14 13:22] miguelriemoliveira commented on #237
I will try to test it saturday. Sorry for the delay, I have 23 hours of classes this week : - (

[2020-10-14 13:24] aaguiar96 commented on #237
Hi @miguelriemoliveira! No problem, we have time. I'll continue writing today!

[2020-10-14 14:16] eupedrosa commented on #237
And I think it will never be. The velodyne has a considerable gap between horizontal scans and that makes it look bad.
Did you already try @miguelriemoliveira suggestion?

[2020-10-14 14:18] aaguiar96 commented on #237
So, but is this still interesting for the paper?...

Not yet.

[2020-10-14 14:20] eupedrosa commented on #237
It is **NOT** interesting for the paper.

[2020-10-14 14:21] aaguiar96 commented on #237
Ok, so I'll close the issue. I was just working on this because we agreed in the previous meeting that we'll put these colored point clouds in the paper...

[2020-10-14 14:21] aaguiar96 commented on #237
Can I close it?

[2020-10-14 14:24] eupedrosa commented on #237
If it is hard to get any kind of information from the colorization, then it is not worth the time. So yes, close it.

[2020-10-14 21:33] miguelriemoliveira commented on #237
Hi guys, I am late as always these past weeks : - (.

One suggestion is to try it the other way arround. Project the lidar points onto the image and show the points on the image.

Take a look at this image

http://www-personal.acfr.usyd.edu.au/akas9185/AutoCalib/AutoLaserCamDoc/index.html

[2020-10-15 12:05] aaguiar96 commented on #237
Hi @miguelriemoliveira, thanks for the hint.
I substituted the colorizing script by a generic projection script in `atom_evaluation`.

Usage:

[code]

Result (the colormap represents depth):

![image](https://user-images.githubusercontent.com/35901587/96120855-15265500-0ee7-11eb-9138-15afa979d118.png)

These ones are great for the paper right?

[2020-10-15 12:53] miguelriemoliveira commented on #237
Hi @aaguiar96 ,

yes, the picture looks nice. We can see changes in color (abrupt changes in the measured depth) in the lidar jump edges.
Thats a great image for the paper.

I think the color of hte lidar points could be improved ... which colormap are you using?

[2020-10-15 12:55] eupedrosa commented on #237
I think it can be improved:
* Use filled circles with anti-aliasing.
* The colour mapping needs more resolution.
* Maybe crop the image bottom, it has no information.

[2020-10-15 12:55] aaguiar96 commented on #237
I am using this one:

[code]

[2020-10-15 12:58] eupedrosa commented on #237
You should find the minimum and maximum depth that are visible in the image. Then use that range to improve the colour gamut.

[2020-10-15 12:59] aaguiar96 commented on #237
Ok, good idea. I can add also more resolution.

[2020-10-15 13:16] miguelriemoliveira commented on #237
Hi @aaguiar96 ,

another thing, for this case in particular we should use a progressive colormap, meaning that the color will change progressively.
That way, large jumps in color will denote large jumps in depth.

tab20b is not progressive, take a look:
https://stackoverflow.com/questions/43938425/matplotlib-change-colormap-tab20-to-have-three-colors

all of the first 14 colormaps here are progres

[2020-10-19 12:53] aaguiar96 commented on #235
Hi @eupedrosa, do you have the results? Can you send me the images, or put them on the paper please?

Also, when you have some time, can you write section 2.3? Its just a paragraph on residuals normalization.

[2020-10-19 13:32] eupedrosa commented on #235
I will put the results' graphics in Overleaf.

I am going to read the full paper today and *maybe* :wink:  I will write something in section 2.3.

[2020-10-19 13:35] aaguiar96 commented on #235
Thanks! I don't like that *maybe*, but thanks! :rofl:

[2020-10-19 17:57] aaguiar96 commented on #234
Hi @miguelriemoliveira  and @eupedrosa

Today I was writing and organizing the paper.
What I've done:

- Write the results sections with exception of the results discussion
- Make four videos (initial estimate, labelling, data collection, calibration) and put the links on the paper
- Reformat all the images of the paper to have subfigures with (a), (b) ...
- Reformat all the equations to have the

[2020-10-20 13:52] miguelriemoliveira opened #238 "Add agrob videos to atom readme"
Hi @aaguiar96 ,

its your fault, you made really nice videos : - )

[2021-02-07 11:27] miguelriemoliveira opened #239 "Joint Hand eye bag file"
Hi @eupedrosa ,

I deleted the bag file for the joint hand eye, and now I need it to configure the calibration package.

Can you share again? This is the one I need ...

[2021-02-07 12:47] miguelriemoliveira opened #240 "How do I simulate the ur10e in Gazebo?"
Hi @eupedrosa ,

I need this for creating a gazebo world for the paper.

Also, @danifpdra  should be using this for the intelligent cell in the Bosch project.

Can you tell me how you do it? I am using your iris_ur10e repo ...

Thanks in advance.

[2021-02-08 09:41] eupedrosa commented on #240
There is a launch file for that. If you execute `rosrlaunch iris_ur10e sim.launch` a simulation is launched.
You can then check the launch file and create you our simulation environment.

[2021-02-08 09:52] eupedrosa commented on #239
Hi @miguelriemoliveira, check your email.

[2021-02-08 11:56] miguelriemoliveira commented on #239
Thanks. I am downloading right now.

[2021-02-08 11:56] #239 closed

[2021-02-08 15:14] miguelriemoliveira commented on #240
Thanks @eupedrosa ,

I have tried it. It is working with rviz only. Did you integrate gazebo in this or not?

Thanks in advance

[2021-02-08 15:20] eupedrosa commented on #240
The Gazebo GUI is disabled, nonetheless the simulation is working. Try `roslaunch iris_ur10e sim.launch gui:=true`

[2021-02-08 15:25] miguelriemoliveira commented on #240
Thanks. It does not work but I think it is related to me using ros noetic. I will try in melodic and get back to you.

[2021-02-08 16:58] miguelriemoliveira commented on #240
It works. I was missing the ros-noetic-joint-trajectory-controller. Thanks for the help!

[2021-02-08 16:58] #240 closed

[2021-02-09 18:45] miguelriemoliveira opened #241 "Setting up mmtbot for using as case study in the paper"
Hi @eupedrosa and @aaguiar96 ,

Just prepared a robotic system to use as case study

![image](https://user-images.githubusercontent.com/11350998/107411437-6d243f80-6b06-11eb-8d0c-5b68695adfc2.png)

the tf tree

[mmt.pdf](https://github.com/lardemua/atom/files/5953582/mmt.pdf)

Any comments are welcome.

[2021-02-09 19:25] aaguiar96 commented on #241
Hi @miguelriemoliveira, wow!!

Looks really nice. Will you test ATOM in this setup and include the results on the paper?
What type of calibration will you make? This can mix the hand-eye and LiDAR calibration scenarios, right?

Do you have a picture of the real setup? I'm curious. :-)

[2021-02-09 19:51] miguelriemoliveira commented on #241
Hi André,

it does not exist. It is just a conceptual robotic system. If all goes well
we will calibrate it using simulated data.

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-

[2021-02-11 02:52] miguelriemoliveira commented on #241
Hi guys,

I have the simulation almost complete. It is nice because we can get sensor data and we can also move the manipulator as well as the pattern.

I think we can extract a nice "virtual" bag file which we can use to test the calibration. And the good thing is that we will have ground truth (because we are simulating everything)!

Here's a video:

https://youtu.be/e8wEC8DjxDc

[2021-02-11 09:37] aaguiar96 commented on #241
Hi @miguelriemoliveira,

Looks really really nice!
Have you checked if you can detect the pattern corners on the simulated image?

[2021-02-11 09:51] miguelriemoliveira commented on #241
Thanks.

Not yet. I will record a bag file soon, and then i will test.

Any ideas are welcome.

On Thu, Feb 11, 2021, 09:38 André Aguiar <notifications@github.com> wrote:

[2021-02-11 09:54] aaguiar96 commented on #241
Ok @miguelriemoliveira, nice!
This seems important, since from the image I could not see the pattern squares with clarity.
Have you considered making the scene white to increase contrast?

[2021-02-11 10:00] miguelriemoliveira commented on #241
It is the light of the scene. I will add more lights and it will be better.
I will post an image soon.

On Thu, Feb 11, 2021, 09:54 André Aguiar <notifications@github.com> wrote:

[2021-02-11 10:26] eupedrosa commented on #241
Looks great... But do you know what would be awsome??? Two robotic arms :smile: , so we could also calibrate the transformation between the arms.

[2021-02-11 10:55] miguelriemoliveira commented on #241
We can do that. I think Atom could work with that.

But the example for the paper would turn out very large graphs.

I will create this scenario and then we decide.

Thanks for the feedback.
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Uni

[2021-02-14 18:48] miguelriemoliveira commented on #241
Hi @aaguiar96 and @eupedrosa,

https://youtu.be/wRW2SyDoLp8

[2021-02-15 08:30] miguelriemoliveira opened #242 "Branch Ros Noetic"
Hi @eupedrosa and @aaguiar96 ,

I opened this branch since now I am working on Ubuntu 20.04.

Will commit changes to this branch and then we decide when to move the master branch to noetic (and python3).

[2021-02-15 08:41] miguelriemoliveira commented on #241
I have a first bag file collected from the mmtbot.

https://drive.google.com/file/d/1VgsDDFW9gK3ZyEv6bZObFxYka5MChXaW/view?usp=sharing

[2021-02-15 10:15] eupedrosa commented on #241
Cool :+1:

The current version of ATOM can calibrate this system, right?

[2021-02-15 12:32] miguelriemoliveira opened #243 "summary.pdf does not show all the optimized transformations in blue"
Here's an example

[summary.pdf](https://github.com/lardemua/atom/files/5981533/summary.pdf)

[2021-02-15 13:45] miguelriemoliveira opened #244 "Check frames given in the config.yml are in the xacro / bagfile"
This is what is causing #243 . Will close that one and work here.

[2021-02-15 13:46] miguelriemoliveira commented on #243
Close. Problem that causes this is reported in #244.

[2021-02-15 13:46] #243 closed, assigned to miguelriemoliveira

[2021-02-15 20:19] miguelriemoliveira commented on #244
Solved, here's the new pdf:
[summary.pdf](https://github.com/lardemua/atom/files/5983917/summary.pdf)

[2021-02-15 20:21] #244 closed, assigned to miguelriemoliveira

[2021-02-17 09:26] miguelriemoliveira commented on #242
Hi @eupedrosa and @aaguiar96 ,

What is your opinion about moving towards ros noetic / Ubuntu 20.04.

I have made ATOM work up until the collecting of a dataset. Had to change a lot of things, but in most of them I think
the change was more or less obvious.

If you can please revise the commits in the noetic branch to see if it makes sense for you.

https://github.com/lardemua/atom/tree/ros_noetic

[2021-02-17 09:39] aaguiar96 commented on #242
I @miguelriemoliveira, I also started using Ubuntu 20.04 and ROS noetic. Even so, I think the master should have the version most people still use. I think for now is melodic right? (not sure)

I also started working on ROS2, maybe in the future, we can support it too.

[2021-02-17 10:29] miguelriemoliveira commented on #242
Hi @aaguiar96 ,

not sure what is the most used ros distro.

We had it working on melodic before, my suggestion is to create a melodic branch and leave it in the current state, and migrate the master branch to the noetic.

@eupedrosa are you ok with this? Does it make sense?

About ROS2, let's see how it goes but for now I would say definitely not a priority.

[2021-02-17 11:29] eupedrosa commented on #242
In the ROS community, the most common thing is to have a branch for each ROS version. For example:
* `kinetic-devel` for kinetic
* `melodic-devel` for melodic
* `noetic-devel` for noetic

Then, in GitHub repo options, set the default branch to whatever you want. If your main target is melodic just use that branch as default.

What I do with [iris_lama](https://github.com/iris-ua/iris_lama), is to

[2021-02-17 12:16] miguelriemoliveira commented on #242
Sounds good to me as @eupedrosa suggests.

But in practice the melodic part should not be touched by our research group.
I mean, if some outsider raises an issue about melodic that's ok, but we should be coordinated in using all the same distro.
So the question is: @eupedrosa , can you also jump to noetic and we advance the development there?

[2021-02-17 12:41] miguelriemoliveira commented on #241
Hi @eupedrosa and @aaguiar96 ,

So we have a new bag file:

https://drive.google.com/file/d/1Q-aRLCZhoJ7xhopbsg9nvW6XJcbDzEOs/view?usp=sharing

And I created a test dataset from it (just a couple of collections):

https://drive.google.com/file/d/1byrQmiy_8iJdLi3o7sMPsxITUOGnlKkm/view?usp=sharing

All seems to be fine ... which is nice since I had to change a lot of code because of #242 .

[2021-02-17 12:41] miguelriemoliveira commented on #241
Next is trying to run a simple calibration procedure...

[2021-02-17 12:42] miguelriemoliveira commented on #241
We are all convinced it can ... gulp : )

[2021-02-17 13:50] eupedrosa commented on #242
I do not know if it is a good idea to "neglet" the **melodic** version. Along with **kinetic**, they are the most used versions.
I am willing to maintain the **melodic** version.

[2021-02-17 15:23] miguelriemoliveira commented on #242
That's great if you can take the melodic branch.

Notice, what I meant is when we develop a new functionality are you going to translate it to melodic? I think this is very time consuming, but if you can great.

[2021-02-17 15:31] miguelriemoliveira commented on #242
Did the changes we discussed.

Two branches

   - noetic-devel (default)
   - melodic-devel (old master renamed)

Github says we must run this locally to update properly.

git branch -m noetic-devel <BRANCH>
git fetch origin
git branch -u origin/<BRANCH> <BRANCH>

We will need to do a similar thing with the optimization utils, but first lets see if this goes smooth...

[2021-02-18 11:34] miguelriemoliveira opened #245 "Charuco detection in simulated images is failing"
Hi @eupedrosa and @aaguiar96 ,

Can you tell me if this config for this pattern makes sense?

![Screenshot from 2021-02-17 21-12-41](https://user-images.githubusercontent.com/11350998/108351015-d712a800-71dc-11eb-9868-d13b2f539c61.png)

I copied the configuration from agrob (which uses the same pattern) as follows:

[code]

But I am not being able to detect the pattern ...

When I have time I will

[2021-02-18 12:09] eupedrosa commented on #242
That is exactly what I was saying

[2021-02-18 12:10] eupedrosa commented on #245
I believe the dictionary is not the same, @aaguiar96 what dictionary you use to generate the image?

[2021-02-18 12:12] aaguiar96 commented on #245
In agrob I used `5X5_100`... Here: https://github.com/aaguiar96/agrob/blob/master/agrob_calibration/calibration/config.yml

[2021-02-18 12:45] eupedrosa commented on #245
That is for the real pattern. I was asking for the 3D model.

[2021-02-19 09:22] aaguiar96 commented on #245
Sorry about the late response guys...
You mean the colada file right?

I looked for the respective commit and I founded this: https://github.com/lardemua/atom/commit/07955dede712c19bf999bf3134ec094670418757#diff-311fe3abefb2e039187006d73a477430f29daa264e167e2a1ed78b625a1a3ec5

So I think that it is the dictionary `charuco_5X5_800x600.dae`.

[2021-02-19 10:20] miguelriemoliveira commented on #245
Thanks @aaguiar96 ,

that's what I was using and I can't seem to be able to detect anything ... I will try again later ...

[2021-02-20 11:43] miguelriemoliveira commented on #245
Hi guys,

so the dict is what you said: DICT_5X5_100

the problem is I can only detect when very close...

![image](https://user-images.githubusercontent.com/11350998/108594259-d4e15280-7370-11eb-947b-d1c9d4a45dc4.png)

[2021-02-20 11:49] aaguiar96 commented on #245
Hi @miguelriemoliveira

It's a start! One problem that might be happening is the image contrast... The supposed white pixels of the pattern do not seem very white. So the detector may be struggling to find the corners.

[2021-02-20 11:51] miguelriemoliveira commented on #245
Hi @aaguiar96 ,

its the size of the pattern in the image. Its too small. Gazebo is producing 640x480 images and in agrob you had 1280x720.

I will try to increase the image resolution in gazebo ...

[2021-02-21 06:51] #245 closed, assigned to nobody

[2021-02-21 07:54] miguelriemoliveira opened #246 "Read and write PCDs in python3"
Hi @aaguiar96 ,

the code of reading and writing pcds is one of the codes which has been the hardest to convert to python3.

I had a log of trouble with the write pcd code but eventually was able to make it work by forcing that the
output file was written in ascii.

Check here what I changed.

https://github.com/lardemua/atom/compare/melodic-devel...noetic-devel#diff-7afaa9ac850ab3f038b763d652e44e

[2021-02-21 07:56] miguelriemoliveira commented on #246
Can we try to use something like this?

https://github.com/dimatura/pypcd
https://www.programmersought.com/article/68501859395/

[2021-02-21 12:01] aaguiar96 commented on #246
I @miguelriemoliveira

I'll look at it this week. Maybe we can try a new library as you suggested.

[2021-02-21 17:47] miguelriemoliveira commented on #246
Hi @aaguiar96 ,

sorry, had a little time and could not resist working on this ... if you had the bureaucracy that I have to do you would understand : ).

So I found out that pypcd for python3 is much more advanced in a specific fork

https://github.com/klintan/pypcd

I installed (the ros way) and did a simple python test which is working.

https://github.com/lardemua/atom/blob/noetic-devel/atom_c

[2021-02-23 16:32] aaguiar96 commented on #241
Hi @miguelriemoliveira

Can you send me the lataste bagfile of mmbot?

[2021-02-23 16:43] miguelriemoliveira commented on #241
Here it goes:

https://drive.google.com/file/d/1mnzHkKeuQmjPCMyq_iGF67GByIx4sQk-/view?usp=sharing

and the dataset

https://drive.google.com/file/d/1Vr_mSSZU24fMTfJdCmcwA9dumiedEbl2/view?usp=sharing

[2021-02-23 16:51] miguelriemoliveira commented on #241
Just updated the readme with more info.

Anything else let me know with an issue.

[2021-02-23 17:08] aaguiar96 commented on #241
Hi @miguelriemoliveira  and @eupedrosa

I'm trying to set up mmbot.
I'm stuck in this issue:

[code]

This a python3 issue, since in python3 the module name should be `socketserver`.
@miguelriemoliveira how does this work for you?

[2021-02-23 18:12] eupedrosa commented on #241
@aaguiar96, that script is a fake controller for the gripper, you can disable it.
Search for the file `ur10e.launch` in the directory `ur_e_gazebo/launch` and comment the line that launches the `fake_gripper`.

[2021-02-23 18:26] miguelriemoliveira commented on #241
Hi @aaguiar96 ,

this happens when you run which command?

[2021-02-23 22:02] aaguiar96 commented on #241
Hi @eupedrosa, thanks.
I had to disable it in mmbot launch file (`mmtbot/mmtbot_gazebo/launch/mmtbot.launch`).

@miguelriemoliveira, this one:
[code]

[2021-02-24 11:23] miguelriemoliveira commented on #241
Hi,

good that its solved. But it would be best, if possible, to understand why it works for me and not for you ...

Let's discuss this afternoon.

[2021-02-24 11:32] miguelriemoliveira opened #247 "Assess how we could use image_projection package"
@eupedrosa mentioned this. It would be interesting to use this package to validate calibrations.

https://github.com/tu-darmstadt-ros-pkg/image_projection

[2021-02-24 11:47] miguelriemoliveira commented on #241
Hi @aaguiar96 ,

just talked to @eupedrosa about how to manage the two repos we need, ur10e and ur10e_calibration, and the solution was to create a noetic-devel branch in both.

You should use these branches instead. Let me know if it runs or not ...

[2021-02-24 16:48] miguelriemoliveira opened #248 "mmtbot minimal test"
So the idea is to understand why we get a large error in the world camera and not in the hand camera.

The minimal test would be:

- only 2 cameras, no lidar
- single collection
- a single execution of the objective function
- do not touch the original simulation generated sensor poses, which would make the first guess a "perfect initial guess"

And the error should be close to 0 on both cameras i

[2021-02-24 16:52] miguelriemoliveira commented on #248
Collected a new bagfile

https://drive.google.com/file/d/14SAEUC2wQI3EnBJMfi3et7J3agPmaYw3/view?usp=sharing

and dataset

https://drive.google.com/file/d/14dl56sBWCCktH1ogeKqUtk364zK9Qrog/view?usp=sharing

using the constraints above. Manipulator does not move in the bag

[2021-02-24 16:57] miguelriemoliveira commented on #248
rosrun tf tf_echo world hand_camera_link

[code]
rosrun tf tf_echo world world_camera_link

[code]

and the output of the first execution of the objective function is ...

[code]

Conclusions:

1. In this new dataset the world to hand_camera transform is the same using rosrun tf tf_echo and in the objective function (because the manipulator did not move) and it is the same also for the world camer

[2021-02-24 18:57] eupedrosa commented on #248
I do not have any idea yet. But I tried to optimize an old dataset and it worked :partying_face:
However, there are some datasets that fail to load the pcds, @miguelriemoliveira, whas this the problem you ask @aaguiar96  to solve?

Can it be the size of the virtual charuco? In the configuration file we use a value of 6cm, is it correct?

[2021-02-24 20:31] miguelriemoliveira commented on #248
Hi @eupedrosa and @aaguiar96,

got it! The problem is that, for each collection we have to estimate the initial pattern pose i.e., world_T_pattern.

We do this by:

world_T_pattern = world_T_sensor x sensor_T_pattern

where we get sensor_T_pattern throught opencv's pnp and world_T_sensor. Note that this is done once for each collection, but once we find a sensor (camera) that allows us to do this

[2021-02-24 21:16] aaguiar96 commented on #248
Hi @miguelriemoliveira

Good news, nice catch!
You can try now a calibration with a different initial guess right? If it works, we are close to having results for the paper!

[2021-02-24 21:29] eupedrosa commented on #248
I also reached the same conclusion, but in my opinion it is not the end of it.
The system corrects the error by changing the pose of the sensor, however, the sensor are in the correct position, this behavior should not happen.

What should be changing are the estimates of the pattern, and this (change) is not happening. But why it is not changing?
In my opinion, it can be explain by a lack of dive

[2021-02-24 23:15] miguelriemoliveira commented on #248
Yeah, lets advance. I think I will not resist to do the test I mentioned above, just to make sure I really trust the objective function.

What dataset are you using? Perhaps you could create a new issue and describe your test in more detail ...

[2021-02-24 23:16] miguelriemoliveira commented on #248
I will close this one.

[2021-02-24 23:16] #248 closed, assigned to miguelriemoliveira

[2021-02-25 16:19] miguelriemoliveira commented on #230
I will work on this since now is the right time because the change in pypcd #246 will  deprecate the datasets.

[2021-02-25 20:04] miguelriemoliveira commented on #230
Hi @aaguiar96 talked to @eupedrosa ... I will work on this ...

[2021-02-27 07:56] miguelriemoliveira opened #249 "The strange case of charuco detection refinement"
Hi @eupedrosa ,

just found a curious thing while working on #230 .

When creating the dataset, in the data_collector code, we do the detection **and refinement** of the chessboards or charucos:

https://github.com/lardemua/atom/blob/041e771b385514d71fbb62f68db1e47e535e6d58/atom_calibration/src/atom_calibration/collect/interactive_data_labeler.py#L334-L361

This is done by calling a method **detec

[2021-02-27 07:57] #241 closed

[2021-02-27 07:57] #242 closed, assigned to miguelriemoliveira

[2021-02-27 08:18] miguelriemoliveira opened #250 "Read images and pcds only from collections that will be used"
Right now when I use for example:

   rosrun atom_calibration calibrate -json ~/datasets/mmtbot/dataset_21_02_2021/data_collected.json  -csf 'lambda name: int(name) < 1"

what happens is that the system reads the images and point clouds for all the collections in the dataset (which takes around 1 sec per collection), only to discard them immediately afterwards.

I will fix this.

[2021-02-27 08:44] miguelriemoliveira opened #251 "Store point cloud idxs instead of point coordinates"
Hi @aaguiar96 because of #230 I was reviewing you code to label the 3d point cloud data which is currently in the calibrate script

https://github.com/lardemua/atom/blob/041e771b385514d71fbb62f68db1e47e535e6d58/atom_calibration/scripts/calibrate#L175-L251

The dictionary  you produce for each collection, which we call  **labels**,  is something like:

[code]

my question is: why do you store the p

[2021-02-27 15:23] eupedrosa commented on #249
The function exists because the older datasets do not had the *corner refinement* step.
Now that all collected corners goes throuhg this step we can remove it from the calibrate code.

[2021-02-27 16:08] miguelriemoliveira commented on #249
OK, but does it make sense to refine corners in the case of the charuco? Because this is not being done at the data collector ...

[2021-02-27 18:52] eupedrosa commented on #249
If we are refining the corners in the calibration stage, than it makes sense to make it in the data collection stage.

However, I have one argument against doing the corner refinement in the data collection stage. I noticed that some times, the corner refinement fails and provides a wrong "solution". Specially if the search windows size is too large. I guess if we use a small window like the `(3,3

[2021-02-28 06:41] miguelriemoliveira commented on #249
OK, thanks.

[2021-02-28 06:43] #249 closed, assigned to eupedrosa

[2021-02-28 06:47] miguelriemoliveira commented on #250
This is the problem ...

[code]

[2021-02-28 08:13] miguelriemoliveira commented on #250
Working:

[code]

[2021-02-28 08:14] #250 closed, assigned to miguelriemoliveira

[2021-02-28 08:18] miguelriemoliveira commented on #168
Same as #244. implemented.

[2021-02-28 08:18] #168 closed

[2021-02-28 08:19] miguelriemoliveira commented on #251
Hi @aaguiar96 ,

I will proceed. I think it makes sense. If you don't agree for some reason I can't see right now we can always rollback.

[2021-02-28 11:56] aaguiar96 commented on #251
Hi @miguelriemoliveira

Yes I agree! We're doing that for the entire point cloud right? So it makes sense to maintain the same approach in these cases. :)

[2021-02-28 12:11] miguelriemoliveira commented on #251
Hi André.

Entrevista point cloud???

On Sun, Feb 28, 2021, 11:56 André Aguiar <notifications@github.com> wrote:

[2021-02-28 14:05] aaguiar96 commented on #251
Hi @miguelriemoliveira

I corrected it! :)

[2021-03-01 11:59] aaguiar96 commented on #246
Hi @miguelriemoliveira  and @eupedrosa

This is solved with 07312f2.
Closing it.

[2021-03-01 11:59] #246 closed, assigned to aaguiar96

[2021-03-01 12:03] aaguiar96 opened #252 "Problem with calibration visualization"
Hi @miguelriemoliveira

I was able to run the entire pipeline (configure, collect data, calibration) but I am having trouble with visualization.

I can only see the pattern labels (etc) in `world` reference frame and not on `base_link`'s. Is this normal?

Also, check these images:

![rviz_screenshot_2021_03_01-11_56_21](https://user-images.githubusercontent.com/35901587/109494628-0b605100-7a86-11e

[2021-03-01 12:09] miguelriemoliveira commented on #252
Hi @aaguiar96 ,

thanks for working on this. I will try to take a look by this afternoon / night. Until there I wont have time.

The visualization is indeed broken, I did not have time to handle it yet.

The large tripod I know how to solve.

Will get back to you soon,

[2021-03-01 12:09] miguelriemoliveira commented on #246
So you testes and it works fine? Writing and loading? Great!

[2021-03-01 12:10] miguelriemoliveira commented on #246
And the code is so much simpler : - )

[2021-03-01 12:16] eupedrosa commented on #246
@aaguiar96, I believe the authorship and licencse for `pcdpy.py` is missing. It is not completly ours, am I right?

[2021-03-01 12:22] eupedrosa commented on #246
@aaguiar96, I already add the licence to the file, so everything is good now.
But we have to be mindfull with this kind of things.

[2021-03-01 12:46] aaguiar96 commented on #246
Hi @eupedrosa

I just extracted the absolutely necessary routines for read and write.
But yes, it makes sense anyway.

Thanks!

[2021-03-01 12:48] aaguiar96 commented on #246
Yes @miguelriemoliveira
I removed some old code that was useless on `dataset_io`.

And I think the added code does not have any external dependency. :)

[2021-03-04 13:50] miguelriemoliveira commented on #251
I @aaguiar96 ,

its been really crazy lately. I woke up at 7h and started working on this today at 7h30 but of course my daughter decided to wake up at 8h : - )

I advanced a bit so let me try to finish tonight or tomorrow.

Will get back to you later.

[2021-03-04 14:21] aaguiar96 commented on #251
Hi @miguelriemoliveira

Good luck with that! :)

[2021-03-04 22:57] miguelriemoliveira commented on #251
Ok, reorganized 3d lidar labelling code so that it only uses indices and cached functions.

Much more straightforward now. This last commit still has the commented old code, for easy reference.

I will commit again soon with the old code removed.

[2021-03-04 23:08] miguelriemoliveira commented on #251
This new commit is clean. No old code commented. The code is still in calibrate.

Later, will move it into the data collector later under #230.

[2021-03-05 09:57] aaguiar96 commented on #235
This can be closed.

[2021-03-05 09:57] #235 closed

[2021-03-05 09:58] aaguiar96 commented on #234
This is done.

[2021-03-05 09:58] #234 closed

[2021-03-05 09:58] aaguiar96 commented on #197
Closing this.

[2021-03-05 09:58] #197 closed

[2021-03-05 10:31] miguelriemoliveira commented on #234
I see today is githhub maintenance day!

[2021-03-05 13:45] miguelriemoliveira commented on #230
This is implemented. Image and PointCloud2 msg types are now fully labelled in the data collector.

2D lidar messages are still not labelled, will re-open this issue once this being implemented.

[2021-03-05 13:49] miguelriemoliveira opened #253 "Slow 3d visualization with mmtbot when running the calibration"
related to #241 ...

[2021-03-05 16:04] miguelriemoliveira opened #254 "Initiate Daniela into ATOM"
Lets use mmtbot as example.

1. Install ATOM
2. Install mmtbot
3. download a bag file
4. Try the steps of the atom calibration pipeline
5. Set intial estimate
6. collect data
7. calibrate

[2021-03-05 17:04] miguelriemoliveira commented on #253
Changed the iterations in the setup visualization function and it is now working fine.

[2021-03-05 18:18] miguelriemoliveira opened #255 "mmtbot Tripod is too big"

[2021-03-05 18:19] miguelriemoliveira commented on #255
Implemented usage of scale from the xacro into the rviz marker. Working well.

[2021-03-05 18:19] #255 closed, assigned to miguelriemoliveira

[2021-03-06 20:36] miguelriemoliveira commented on #251
I am having problems in the optimization and it has to do with the limit points. So I am opening this one.

[2021-03-06 21:32] miguelriemoliveira commented on #251
Hi @aaguiar96 ,

I need your help here. There is a strange thing concerning the extraction of the 3d lidar limit points.

I changed a lot of code since last week and only now understood that it occurred last week.

The problem is the limit points all have very very small values for x,y and z, e.g.

[code]
I spent a lot of time trying to find what I did wrong, and kept rolling back and back the com

[2021-03-06 22:36] aaguiar96 commented on #251
Hi @miguelriemoliveira

We can meet on Monday to discuss this.
But maybe it has something to do with the pypcd read/write approaches...

Is it possible that they use a different axis convention?...

[2021-03-07 08:51] miguelriemoliveira commented on #251
Hi @aaguiar96 ,

thanks. I have investigated a little more, and the problem I report above is because of using old datasets with the new way of writing and reading the pcds. I recommend we archive  all previous datasets so this does not happen again.

The problem is that the code does not break, but the point coordinates are very small.

I still have the limit points error though ... will continue

[2021-03-07 10:42] miguelriemoliveira commented on #251
Hi again @aaguiar96 ,

so I was going crazy trying to find out what was wrong in your code. A lot of np stuff, which is really hard to follow.

After many attempts I decided I could not understand the code and correct it so I went to my comfort zone: dictionaries.

I have a new implementation that extracts limit points based on dictionaries which, in my opinion, is much easier to follow.

It works

[2021-03-07 13:45] miguelriemoliveira commented on #180
Closing this one. Deprecated.

[2021-03-07 13:45] #180 closed

[2021-03-07 13:49] miguelriemoliveira commented on #125
Miguel Pina is going to be working on this from this repo.

https://github.com/MiguelDRPina/RVIZ_Plugin_SensorCalibration

[2021-03-07 14:02] miguelriemoliveira commented on #212
No response from Tiago, closing.

[2021-03-07 14:02] #212 closed

[2021-03-07 14:02] miguelriemoliveira commented on #225
No news from @eupedrosa ... closing.

[2021-03-07 14:02] #225 closed

[2021-03-07 14:03] miguelriemoliveira commented on #238
Hi @aaguiar96 , can you add these videos to the readme? If not please close the issue.

[2021-03-07 14:24] miguelriemoliveira opened #256 "calibrate -> patterns marker does not scale mesh adequately"
This is what happens:

![image](https://user-images.githubusercontent.com/11350998/110243074-c2f6d680-7f50-11eb-995f-91be80002e3c.png)

[2021-03-07 14:41] miguelriemoliveira commented on #256
Got it. It was just providing the proper mesh in the config.yml file.

![image](https://user-images.githubusercontent.com/11350998/110243661-431e3b80-7f53-11eb-8492-fcec0d133fb6.png)

[2021-03-07 14:42] #256 closed, assigned to miguelriemoliveira

[2021-03-07 17:28] miguelriemoliveira opened #257 "Phased execution of calibrate"
The idea is to be able to run and keep running and visualizing the system before entering optimization, and then doing the same after optimization.

[2021-03-07 17:28] #257 closed, assigned to miguelriemoliveira

[2021-03-07 17:30] miguelriemoliveira commented on #254
Hi @danifpdra ,

I solved all pending issues this weekend. Can you work tomorrow? From 10h30 ou 11h? I am not sure when, but I can call when available ...

[2021-03-07 18:01] danifpdra commented on #254
Hi @miguelriemoliveira ,

I can work tomorrow at that time, yes. But I haven't had much time to work this weekend. Is this ok with you or should I work by myself first? I can do it before our meeting.

[2021-03-07 18:30] danifpdra commented on #254
@miguelriemoliveira, can you tell me where I can find the bag files?

[2021-03-07 18:31] miguelriemoliveira commented on #254
No problem. We can meet anyway. I solved all problems, so I just want to
walk you through all the procedure so you can repeat it later on.

I have some urgency since I will have to start preparing SVPI classes soon,
so if you could meet tonight it would be even better ...

If not we meet tomorrow around 11h.

Thanks,
Miguel
*  Miguel Riem de Oliveira                                             *
D

[2021-03-07 18:32] miguelriemoliveira commented on #254
Sure, you have some mmtbot bag files in the mmtbot readme page.

https://github.com/miguelriemoliveira/mmtbot

[2021-03-07 18:36] danifpdra commented on #254
@miguelriemoliveira, tonight will be difficult for me, can we meet tomorrow morning?

[2021-03-07 18:55] miguelriemoliveira commented on #254
Sure. Tomorrow I call you around 11h.

See you,
Miguel
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Sun,

[2021-03-08 09:35] miguelriemoliveira commented on #81
Not sure why this stopped working, but its online again. It is very helpfull. Just use the

-ipg
--initial_pose_ghost

flag in the calibrate script

[2021-03-08 09:35] #81 closed

[2021-03-08 09:35] miguelriemoliveira commented on #81
![image](https://user-images.githubusercontent.com/11350998/110302867-a2cb2400-7ff1-11eb-8696-67d8bc9529d4.png)

[2021-03-09 14:53] miguelriemoliveira opened #292 "Integration with Rviz Panel - Create rviz pannel to read write the calibration config file variables"

[2021-03-09 15:01] aaguiar96 commented on #238
Done!

Closing this.

[2021-03-09 15:01] #238 closed

[2021-03-09 15:07] aaguiar96 opened #258 "Save repository release/tag"
Hi @miguelriemoliveira and @eupedrosa

I was thinking... When will we make the first release of atom?
After testing and validating mmtbot, what is missing for the first stable release of our repo?

- [ ] OptimizationUtils (?)
- [ ] ...

[2021-03-09 15:09] aaguiar96 commented on #251
I @miguelriemoliveira

As we talked, the code is much better with your version.
For me, you can close this issue.

[2021-03-09 16:20] miguelriemoliveira commented on #251
Hi @aaguiar96 ,

ok, thanks for the reply. I will now try to move the new code to the data collector and labeller (#230).

Closing this one.

[2021-03-09 16:20] #251 closed, assigned to miguelriemoliveira

[2021-03-09 16:21] miguelriemoliveira commented on #238
Hi @aaguiar96 ,

They look great. Thanks.

[2021-03-09 16:23] miguelriemoliveira commented on #258
Hum, good question. I would say we should try to sync the submission (or the acceptance) of the new paper with the release.

Some functionalities that come to mind are, 2D lidar, RGBD cameras (depth component), better integration of optimization utils, I think we are close ...

[2021-03-09 16:24] miguelriemoliveira commented on #258
@aaguiar96 , FYI me and @eupedrosa have a student working on an rviz plugin for atom https://github.com/MiguelDRPina/atom_rviz_plugin

[2021-03-09 16:24] aaguiar96 commented on #258
I @miguelriemoliveira

I do not have access to that repo, but that is great. :-)

[2021-03-09 16:36] danifpdra commented on #254
Fatal error opening the bagfile: [FATAL] [1615307465.689518373]: Error opening file: /opt/ros/noetic/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/daniela/bagfiles/mmtbot/21_02_2021.bag

@miguelriemoliveira, can you help me?

[2021-03-09 16:40] eupedrosa commented on #258
I can create a release for the melodic version. It was working right?
However, I notice that ATOM's README does not have an install section. Should I add it??????

[2021-03-09 16:48] miguelriemoliveira commented on #254
Hi @danifpdra ,

which command are you running when you get that error? (please edit the post above to include that information)

Also, do you have that bagfile? Where?

[2021-03-09 16:51] miguelriemoliveira commented on #258
well, that's complicated. It was, but I never know _..._

Yes it should, definitely, @danifpdra can I ask you to create one since you are doing the installation of atom right now?

[2021-03-09 16:58] miguelriemoliveira commented on #258
I asked the student to invite you. You should receive an invitation soon.

[2021-03-09 16:59] danifpdra commented on #254
@miguelriemoliveira , I have the bagfile in the home/daniela/bagfiles/mmtbot folder. I created an env variable $ROS_BAGS pointing to to home/daniela/bafiles .

When I run roslaunch mmtbot_calibration set_initial_estimate.launch it give me a fatal error: FATAL] [1615309043.508660631]: Error opening file: /opt/ros/noetic/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/us

[2021-03-09 17:02] miguelriemoliveira commented on #254
Hi @danifpdra ,

just a comment w.r.t. the style of posting. I usually do it like this, it is better to read:

@miguelriemoliveira , I have the bagfile in the **home/daniela/bagfiles/mmtbot** folder. I created an env variable $ROS_BAGS pointing to to **home/daniela/bafiles** (this is wrong, the g in bag is missing. Is it a typo?).

When I run:

`   roslaunch mmtbot_calibration set_initial_estimate

[2021-03-09 17:04] miguelriemoliveira commented on #254
Now about the content:

Which bagfile have you configured in your **mmtbot_calibration/calibration/config.yml**?

https://github.com/miguelriemoliveira/mmtbot/blob/d9fe3efc12f9b0a2ac221fd2c4aeca3b397edcbb/mmtbot_calibration/calibration/config.yml#L35-L39

[2021-03-09 17:07] danifpdra commented on #254
Yes, it is a typo. Sorry.

I have the same bag configured in **mmtbot_calibration/calibration/config.yml**:

`bag_file: "$ROS_BAGS/mmtbot/21_02_2021.bag"

[2021-03-09 17:08] danifpdra commented on #258
Yes, I can add it.

[2021-03-09 17:10] miguelriemoliveira commented on #254
OK, how about your **$ROS_BAGS** environment variable. If you type  (in the same terminal as you are launching the set initial estimate)

`echo $ROS_BAGS`

what do you get?

Di you try replacing $ROS_BAGS by the absolute path (not a good solution, but just to try)

[2021-03-09 17:11] miguelriemoliveira commented on #258
Thanks.

[2021-03-09 17:15] danifpdra commented on #254
It outputs

`/opt/ros/noetic/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/daniela/bagfiles`

It works when replaced with the absolute path.

[2021-03-09 17:21] miguelriemoliveira commented on #254
that's not correct. Mine outputs (as it should):

/home/mike/bagfiles

How did you create this variable?

[2021-03-09 17:22] danifpdra commented on #254
Like this:

`ROS_BAGS="/home/daniela/bagfiles"`

[2021-03-09 17:23] miguelriemoliveira commented on #254
Where? .bashrc?

Mine is as follows:

export ROS_BAGS="/home/mike/bagfiles"
export ATOM_DATASETS="/home/mike/datasets"

This should be like this in the instructions ...

[2021-03-09 17:26] danifpdra commented on #254
Yes, it was not right, it works now. Thank you and sorry for the trouble.

[2021-03-09 17:48] miguelriemoliveira commented on #254
No problem.

[2021-03-10 10:13] #230 closed

[2021-03-10 10:14] miguelriemoliveira commented on #230
This is done. Tested and it seems to be working.

@eupedrosa @aaguiar96 and @danifpdra all previous datasets should be discarded.

[2021-03-10 10:42] miguelriemoliveira commented on #253
I am having problems again with this when running for multiple collections

[2021-03-10 10:46] danifpdra commented on #254
Hi @miguelriemoliveira,

The charuco doesn't appear on the image. Am I doing something wrong?

![image](https://user-images.githubusercontent.com/47574905/110617549-bb704100-818d-11eb-9ce4-6a0476485e94.png)

[2021-03-10 10:50] miguelriemoliveira commented on #254
Hi @danifpdra ,

lets create one issue for each new topic. It will be easier to find the problems later on.

This issue should be named something like "problems with $ROS_BAG configuration".

And the last question should be an issue like "Cannot visualize charuco in cameras".

Please create this second issue and then I will respond there.

[2021-03-10 10:51] miguelriemoliveira commented on #254
and sorry for being such a nit-picker, but I am really convinced the organization helps, especially in complex projects like this.
Also, I am trying to teach you my methodologies so please be patient :  - )

[2021-03-10 10:52] danifpdra opened #259 "Charuco not appearing on camera image"
Hi @miguelriemoliveira,

When using the command

`roslaunch mmtbot_bringup sim.launch gui:=true`

The charuco doesn't appear on the camera image. Am I doing something wrong?

![image](https://user-images.githubusercontent.com/47574905/110618401-9fb96a80-818e-11eb-88f5-758771eff491.png)

[2021-03-10 11:14] miguelriemoliveira commented on #259
OK, you should always write the command you are using ... I suspect it is the?

`roslaunch mmtbot_bringup sim.launch gui:=false`

[2021-03-10 11:16] danifpdra commented on #259
gui:=true. I already edited the initial comment.

[2021-03-10 11:18] miguelriemoliveira commented on #259
Ok, so what do you see in the gazebo frontend? Where is the pattern? Can you post a screenshot of gazebo?

[2021-03-10 11:19] danifpdra commented on #259
The pattern does not appear in gazebo.

![image](https://user-images.githubusercontent.com/47574905/110621778-84e8f500-8192-11eb-89d2-0e78dfb547b4.png)

[2021-03-10 11:24] miguelriemoliveira commented on #259
OK, what the code is doing is sending the pose of the pattern to the gazebo. Sometimes (I could not understand why) the communication between the rviz and the gazebo fails. The initial pose of the pattern in  gazebo is  under the ground, which is why you don't see it.

Try one of these:

1. move the pattern around in rviz (using the pattern's interactive marker) and see if gazebo updates
2. Just f

[2021-03-10 11:24] miguelriemoliveira commented on #259
Just an additional comment: The charuco should appear only in the world camera, since the hand camera is pointing to the ground.
After solving the first issue and seeing the charuco in the world camera, you must then move the manipulator (using moveit) to point the hand camera to the pattern.

[2021-03-10 11:28] danifpdra commented on #259
The hand camera is not point to the ground:

![image](https://user-images.githubusercontent.com/47574905/110622579-8ff05500-8193-11eb-9aa4-6eedf68ddf69.png)

I have already tried to move the pattern in rviz but it does not update in the gazebo. I can't move the pattern in gazebo because it is not there. I selected from the tree and it points to nothing.

[2021-03-10 11:30] miguelriemoliveira opened #260 "Calibrate - Publish static transforms"
One of the problems with #253 could be the large number of published transforms. One way of reducing it would be to publish static transforms wherever the transformations are fixed ...

[2021-03-10 11:33] miguelriemoliveira commented on #259
Right, you moved the arm already. My bad.

About the gazebo, I will post a video in a moment.

[2021-03-10 11:34] miguelriemoliveira commented on #259
One possibility is that your machine is not good enough. Can you post your specs? Also, what is the reported Real time factor in gazebo? Mine is 0.4 ...

[2021-03-10 11:35] danifpdra commented on #259
Mine is 0.29

[2021-03-10 11:44] danifpdra commented on #259
![image](https://user-images.githubusercontent.com/47574905/110624325-f0809180-8195-11eb-8287-095b36411767.png)

[2021-03-10 11:49] miguelriemoliveira commented on #259
See if this helps https://youtu.be/L_e2gHEY4BM

[2021-03-10 11:49] miguelriemoliveira commented on #259
About the computer ... it is a fantastic ... torradeira : -)

[2021-03-10 12:39] miguelriemoliveira opened #261 "Do we stilld need to publish the agrob wheels transforms?"
Hi @aaguiar96 ,

Because we could not see agrob's wheels I did this in the visualization (which, apart from this, is completely general).

https://github.com/lardemua/atom/blob/db1a402516fa95782bbe493bf72f4ca5d5b1915d/atom_calibration/src/atom_calibration/calibration/visualization.py#L452-L465

But I would like to remove. Do you know if we still need this? Do you have the agrob joint states for th

[2021-03-10 15:51] miguelriemoliveira commented on #259
export GAZEBO_MODEL_PATH="`rospack find mmtbot_gazebo`/models:${GAZEBO_MODEL_PATH}"

[2021-03-11 00:08] miguelriemoliveira commented on #253
Working for now. Had to run the publication of tfs more frequently than the marker publication.

[2021-03-11 00:08] #253 closed, assigned to miguelriemoliveira

[2021-03-11 00:09] miguelriemoliveira commented on #259
This is working now, according to @danifpdra .

[2021-03-11 00:09] #259 closed, assigned to danifpdra

[2021-03-11 00:10] miguelriemoliveira commented on #254
This could also be closed?

[2021-03-11 00:11] miguelriemoliveira commented on #260
For now things are running smooth. Check #253. As such, I will give this one a low priority.

[2021-03-11 10:50] miguelriemoliveira opened #262 "Instructions for evaluating on readme"
Hi @aaguiar96 ,

could you write down some instructions on how to evaluate the results of a calibration and compare them against the standard methods?

If you did this we could ask @danifpdra to validate those instructions by  evaluating  the calibration of mmtbot.

Is that a good idea?

[2021-03-11 13:41] danifpdra opened #263 "Problems calibrating"
Hi @miguelriemoliveira ,

I am having a problem when trying to calibrate the system, that produces the error:

`Traceback (most recent call last):
  File "/home/daniela/catkin_ws/devel/lib/atom_calibration/calibrate", line 15, in <module>
    exec(compile(fh.read(), python_script, 'exec'), context)
  File "/home/daniela/catkin_ws/src/atom/atom_calibration/scripts/calibrate", line 530, in <module>

[2021-03-11 13:49] miguelriemoliveira commented on #263
Hi Daniela,

Did you git pull optimization utils?

On Thu, Mar 11, 2021, 13:42 Daniela Rato ***@***.***> wrote:

[2021-03-11 13:52] danifpdra commented on #263
It's already up to date.

[2021-03-11 14:12] miguelriemoliveira commented on #263
Hum, I don't think so. Lets zoom for 10 mins?
Now?

[2021-03-11 14:13] danifpdra commented on #263
yes, now

[2021-03-11 15:07] aaguiar96 commented on #261
Hi @miguelriemoliveira

You can delete that code. I will create four static transforms in the `agrob` package to solve this as soon as I have some time.
It is a better workaround since it does not requires hardcode in atom.

[2021-03-11 15:08] aaguiar96 commented on #262
I @miguelriemoliveira

Yes, it is a good idea.
I will do that soon.

[2021-03-11 15:54] miguelriemoliveira commented on #262
Hi @aaguiar96 ,

just remembered. This is not yet migrated to python3.

Can you do it?

@danifpdra , when you have them send two datasets to @aaguiar96 (calibrated train and test) so he can try the code.

[2021-03-11 15:55] miguelriemoliveira commented on #261
Exactly! Thanks.

[2021-03-11 15:56] aaguiar96 commented on #262
Yes @miguelriemoliveira, I'll do it. :-)

[2021-03-11 16:03] danifpdra opened #264 "Large .json file resulting from the calibration"
Hi @miguelriemoliveira and @aaguiar96,

The **atom_calibration.json** file generated after using

`rosrun atom_calibration calibrate -json /home/daniela/datasets/dataset_11_03_2021/data_collected.json -csf 'lambda name: int(name) < 50' -nig 0.02`

has a size of 202MB. Is this a bug?

[2021-03-11 16:09] miguelriemoliveira commented on #262
Thanks!

[2021-03-11 16:12] miguelriemoliveira commented on #264
That's strange, my bagfile has only 3 MB.

I see that the recording of the calibrated json is done at

https://github.com/lardemua/atom/blob/ba744e21b9746bb36992531d7d5530e2dcc7c4b5/atom_calibration/scripts/calibrate#L476-L480

@aaguiar96 , that should go through your new code right? How does it behave if the images and point clouds already exist? It should skip the recording and create a "data_fi

[2021-03-11 16:12] miguelriemoliveira commented on #264
@danifpdra when reporting a bug it is always important to say which command you were using. Can you edit your initial comment?

[2021-03-11 16:14] danifpdra commented on #264
Done

[2021-03-11 16:16] miguelriemoliveira commented on #264
My test was without the **nig** flag, can you run a calibration without it and see if the bagfile is still huge?

[2021-03-11 16:16] aaguiar96 commented on #264
Hi @miguelriemoliveira, are you referring to the point cloud write/read new routines? That's only what I've changed. It should not interfere with the atom's workflow...

[2021-03-11 16:17] aaguiar96 commented on #264
@danifpdra can you check if the point clouds are being written to the output optimization files? That is, what's the difference between the input and the output json?

[2021-03-11 16:21] miguelriemoliveira commented on #264
Hi @aaguiar96 , yes, it should not but I saw binary arrays inside the calibrated json, so it seems the mechanism to save (or not save if the file already exists) is not working properly ...

@danifpdra , can you scan the json file and look for a "data:" or the "data_file:" pattern and output here. Something like:

`   grep "\"3dlidar\":" atom_calibration.json -A 4 -B 4`

My output is a lot of this

[2021-03-11 16:28] danifpdra commented on #264
I did a calibration with it and the output has the same size.

[2021-03-11 16:30] danifpdra commented on #264
`  },
    "description_file": "package://mmtbot_description/urdf/mmtbot.urdf.xacro",
    "max_duration_between_msgs": 1000,
    "sensors": {
      "3dlidar": {
        "child_link": "3dlidar_base_link",
        "link": "3dlidar",
        "parent_link": "tripod_left_support",
        "topic_name": "/3dlidar/points"
--
  "collections": {
    "0": {
      "additional_data": {},
      "data": {

[2021-03-11 16:31] danifpdra commented on #264
The output is huge. Do you want me to paste it here?

[2021-03-11 16:33] danifpdra commented on #264
I can't even open the file properly. The idx are being written in the file but I don't think that the point clouds are.

[2021-03-11 16:39] miguelriemoliveira commented on #264
You mean without it (without the nig flag)?

[2021-03-11 16:39] danifpdra commented on #264
Yes, without the nig flag, the output has the same size.

[2021-03-11 16:40] miguelriemoliveira commented on #264
No, just verify that bellow the **"3dlidar":** pattern we always have **"data_file":** instead of **"data":** ...

You can post a single instance as I did above

[2021-03-11 16:42] danifpdra commented on #264
Is this what you mean?

`    "12": {
      "additional_data": {},
      "data": {
        "3dlidar": {
          "data_file": "3dlidar_12.pcd",
          "fields": [
            {
              "count": 1,
--
          "width": 1280
        }
      },
      "labels": {
        "3dlidar": {
          "detected": true,
          "idxs": [
            5190,
            5206,
`

[2021-03-11 16:59] aaguiar96 commented on #261
Closed with https://github.com/aaguiar96/agrob/commit/171c30faac76cef9a74fac3fbdb1a4c01b99c314.

[2021-03-11 16:59] #261 closed, assigned to aaguiar96

[2021-03-11 17:07] aaguiar96 commented on #264
Hi @miguelriemoliveira  and @danifpdra

I found the cause of the problem. The image data is being written to the output json file...

[2021-03-11 17:09] aaguiar96 commented on #264
Here:

[code]

[2021-03-11 17:09] miguelriemoliveira commented on #264
Ah, so I guess a

grep "\"world_camera\":" atom_calibration.json -A 4 -B 4

Would show the **data:** instead of the **data_file** ... can you confirm @danifpdra ?

[2021-03-11 17:09] miguelriemoliveira commented on #264
OK, I will try to take a look why this is occurring later tonight. Thanks @aaguiar96 for finding the problem.

[2021-03-11 17:17] danifpdra commented on #264
This command does not output anything.

[2021-03-11 17:24] miguelriemoliveira commented on #264
Strange ... is the name of the sensor correct?

Try to find some camera ...

[2021-03-11 17:27] danifpdra commented on #264
The command was not right, the \ were missing.

It outputs a million characters like:

`/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8+/v7

[2021-03-11 17:30] miguelriemoliveira commented on #264
So that confirms, as @aaguiar96 said, we are writing the binary blob for cameras, which is why the file is 200MB. It contains 52 images inside (26 collections x 2 cameras ).

I will look into it tonight,

[2021-03-11 17:55] aaguiar96 commented on #262
Hi @miguelriemoliveira  and @danifpdra

I migrated the `atom_evaluation` code to python3 and tested the three scripts with a mmtbot test calibration.
It worked really well.

I will now explain the process on the readme file.

[2021-03-11 17:59] miguelriemoliveira commented on #262
Great news. How did you get the datasets? You made some by yourself?

[2021-03-11 18:00] aaguiar96 commented on #262
Yes, I made one just for test purposes.

[2021-03-11 18:37] aaguiar96 commented on #262
Done!

@danifpdra let me know if you have any doubt.

[2021-03-11 18:37] #262 closed, assigned to aaguiar96

[2021-03-11 18:46] miguelriemoliveira commented on #262
Thanks @aaguiar96 ,

I looked at it and it looks really nice.

Thanks. @danifpdra its on you. Let us know if you need something else.

[2021-03-11 23:58] miguelriemoliveira commented on #264
Solved it. It was a problem with the conversion from the dictionary back to message, which could not have the field data_file.
Now I remove the field in a copy of the dictionary, rather than the dataset. IT is working. The json now has 3MB instead of 200MB.

@danifpdra can you try it and confirm it is working? If so please close the issue ...

[2021-03-12 00:00] miguelriemoliveira commented on #263
Closing. It was a problem with not using the correct branch.

[2021-03-12 00:00] #263 closed, assigned to danifpdra

[2021-03-12 10:59] danifpdra commented on #264
I confirm that this is solved.

[2021-03-12 10:59] #264 closed, assigned to miguelriemoliveira, aaguiar96

[2021-03-13 10:17] MiguelDRPina opened #294 "Integration with Rviz Panel - Adding GUI as a new display instead of a new panel"

[2021-03-13 10:20] miguelriemoliveira commented on #294
Hi @MiguelDRPina ,

did you find / try any tutorial for this?

I can search some if you want, but tell what you already tried ...

[2021-03-13 10:33] MiguelDRPina commented on #294
Hi @miguelriemoliveira ,

I have tried several, I don't have the links to all of them, some that I can remember are the following (there's more that I am forgetting to link and not all of them are exclusively for new display type, but I tried to adapt them):
http://docs.ros.org/en/indigo/api/rviz_plugin_tutorials/html/index.html
https://qiita.com/RyodoTanaka/items/4924af4f7b1e91f3a5b9   (this one

[2021-03-13 10:35] miguelriemoliveira commented on #294
Thanks. I will try to find some time to look into it and let you know.

[2021-03-13 11:54] miguelriemoliveira commented on #294
Hi @MiguelDRPina ,

the first one you mention

http://docs.ros.org/en/indigo/api/rviz_plugin_tutorials/html/display_plugin_tutorial.html

seems to do what we want.

![image](https://user-images.githubusercontent.com/11350998/111029151-f1fac580-83f2-11eb-8e25-4907c35b82ae.png)

Could you make it work as is? If not, what was the problem?

[2021-03-13 12:32] MiguelDRPina commented on #294
I am able to create a new DisplayType. My problem is that most of the displays examples that I found are like that one you are showing, where you can see and alter properties like color, etc, and I want a display where I can see the actual GUI (just like with the panel, where I was able to add the .ui file).

From everything I tried so far the one that I actual think I got close to (at least it wa

[2021-03-13 12:41] miguelriemoliveira commented on #294
Hi @MiguelDRPina , ok I can try.

The only plugin I remember has a panel associated with a new display is the moveit plugin ...

[2021-03-13 12:46] miguelriemoliveira commented on #294
Not sure if you've seen this already ...
https://github.com/ros-visualization/visualization_tutorials/tree/noetic-devel/rviz_plugin_tutorials

[2021-03-13 13:20] miguelriemoliveira commented on #294
Hi @MiguelDRPina ,

I was looking around and found some interesting stuff:

This I think will be your bible for the next few months
http://docs.ros.org/en/hydro/api/rviz/html/c++/index.html

They talk about displays and panels here
http://library.isr.ist.utl.pt/docs/roswiki/rviz(2f)PluginAPI.html#Changes_to_Plugin_API

An example of a general plugin with a panel.
https://github.com/davetcoleman/mo

[2021-03-13 13:25] miguelriemoliveira commented on #294
@eupedrosa can you help here?

[2021-03-13 15:23] eupedrosa commented on #294
Just like before, clean the project, rebuild and re-source.
The plugin system is very sensitive to this kind of things.

[2021-03-13 15:45] MiguelDRPina commented on #294
Thanks, I will look into all of these.

[2021-03-13 15:45] MiguelDRPina commented on #294
I have done that, just like we did the other day. Still didn't work.

[2021-03-15 09:50] eupedrosa commented on #294
I think the problem is here:
https://github.com/MiguelDRPina/atom_rviz_plugin/blob/1471bbde9bee110e2258ec48f18649b8a4715dac/new_display/plugin_description.xml#L1-L9

I believe the plugin is not correctly defined. You can easilly comparare with the panel plugin:

https://github.com/MiguelDRPina/atom_rviz_plugin/blob/1471bbde9bee110e2258ec48f18649b8a4715dac/atom_rviz_plugin/plugin_description.xml#L1

[2021-03-15 10:34] MiguelDRPina commented on #294
Hi @eupedrosa ,
I believe the name is right and I think the library can be defined both ways. Regardless, I changed them to match how I had defined the panel and rebuilt the package, but the error was the same.

[2021-03-15 10:47] miguelriemoliveira commented on #294
Hi @MiguelDRPina ,

just to be sure ... after changing, did you remove the catkin_ws build and devel folders and then recompile again?

[2021-03-15 10:54] MiguelDRPina commented on #294
Yes, I did. It must be something about the code itself, because it did look to simple the way the code is, and if it were that simple there would be more plugins made that way, instead of only the moveit one. I will keep trying to see if I can make this work, and in the meantime I will look into de rest of what I have to do.

[2021-03-15 10:56] miguelriemoliveira commented on #294
Hi @MiguelDRPina ,

well, I said above that also the image display and the camera display also show a panel ... so its not just moveit, do you agree? Or is there some difference I am missing?

[2021-03-15 11:06] MiguelDRPina commented on #294
You're right, there's that too. It doesn't seem to be done quite the same way as with the moveit, but it might work too. I'll keep looking into that.

[2021-03-15 13:44] danifpdra opened #265 "colect_data.launch not saving collections"
Hi @miguelriemoliveira , @aaguiar96 ,

When I run

`roslaunch mmtbot_calibration collect_data.launch  output_folder:=$ATOM_DATASETS/dataset_15_03_2021/ bag_rate:=0.5 overwrite:=true`

I get the following error:

`[ERROR] [1615815232.706686, 1244.637140]: bad callback: <bound method InteractiveMarkerServer.processFeedback of <interactive_markers.interactive_marker_server.InteractiveMarkerServer obj

[2021-03-15 13:56] danifpdra commented on #265
This is solved. Integers were not being converted to strings.

[2021-03-15 14:26] miguelriemoliveira commented on #265
Great.

[2021-03-15 14:27] miguelriemoliveira commented on #265
Hi @danifpdra ,

You should push the new version that fixes this issue, otherwise it is only solved for you.

Do a commit with reference to this issue and the word close in the commit message, for example:

This is solved. Integers were not being converted to strings. Close (#265)

and the commit will close the issue.

[2021-03-15 14:28] danifpdra commented on #265
Hi @miguelriemoliveira ,

I already did a commit with this, I forgot yo reference this issue but it«s already fixed.

[2021-03-15 14:30] miguelriemoliveira commented on #265
Ah, in that case you can say something like:

This was fixed by commit 5541ab5d73e7f8463aaf462b28562d262fbb0e25

[2021-03-15 14:31] danifpdra commented on #265
Ok, sorry

[2021-03-15 14:32] danifpdra commented on #265
This was fixed by commit 5541ab5d73e7f8463aaf462b28562d262fbb0e25 .

[2021-03-15 14:32] #265 closed, assigned to miguelriemoliveira, aaguiar96

[2021-03-15 14:32] miguelriemoliveira commented on #265
No problem, you are learning : - )

[2021-03-15 22:57] danifpdra opened #266 "ATOM calibration evaluation"
Hi @aaguiar96,

Is this the right way to use this?

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/dataset_15_03_2021_2/atom_calibration.json -test_json $ATOM_DATASETS/dataset_11_03_2021/data_collected.json -ss world_camera -ts world_camera`

The json train file is the atom_calibration and the test is the data_collected? What should be the source and target sens

[2021-03-15 23:31] aaguiar96 commented on #266
Hi @danifpdra

To generate the results, we use two different datasets:

- Train dataset: `atom_calibration.json` of the dataset used to obtain the calibration
- Test dataset: `data_collection.json` of a dataset taken for evaluation

So, you should record two different datasets, use one of them to calibrate the system, and then input both in the evaluation.

We do this so that we can test the calib

[2021-03-15 23:33] aaguiar96 commented on #266
Thus, the proper way to run the camera-to-camera evaluation is something like this:

[code]

[2021-03-15 23:35] danifpdra commented on #266
Hi @aaguiar96 ,

Thanks for the explanation. I have two datasets, yes.

So this is right? Are the results ok? I don't know what is expected.

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/dataset_15_03_2021_2/atom_calibration.json -test_json $ATOM_DATASETS/dataset_11_03_2021/data_collected.json -ss hand_camera -ts world_camera`

Starting evalutation...
If you e

[2021-03-15 23:37] aaguiar96 commented on #266
I @danifpdra

The results are really bad.
All of them are in pixels, except the translation and rotation errors... So, the error is huge.

What calibration did you use? @miguelriemoliveira told me he obtained some good calibrations for mmtbot. Did you try with one of @miguelriemoliveira's calibrations?

[2021-03-15 23:38] aaguiar96 commented on #266
You should get errors not greater than 2/3 pixels...

This means that your calibration is not accurate.

[2021-03-15 23:41] danifpdra commented on #266
The final calibration errors were really small, I don't know what happened.

[2021-03-15 23:43] aaguiar96 commented on #266
Ok. So, maybe the problem is in the test dataset.

Did you make sure that the arm was not moving when you recorded the collections?

Try to set the `--test_json` equal to the `--train_json` just to test the calibration in the collections used to calibrate.

[2021-03-15 23:48] danifpdra commented on #266
Is the final line (All) the mean of the 29 lines?

[2021-03-15 23:54] aaguiar96 commented on #266
Look here:

https://github.com/lardemua/atom/blob/5541ab5d73e7f8463aaf462b28562d262fbb0e25/atom_evaluation/scripts/camera_to_camera_evalutation.py#L369-L374

The last line is the average `x` and `y` errors as well as their standard deviations. Also, the average translation and rotation errors.

[2021-03-15 23:56] aaguiar96 commented on #266
Just be careful with the last two columns.

If you see here, in the lines the translation and rotation errors are in mm and degrees. In the final line they are in meters and radians.

https://github.com/lardemua/atom/blob/5541ab5d73e7f8463aaf462b28562d262fbb0e25/atom_evaluation/scripts/camera_to_camera_evalutation.py#L319-L322

If you want, you can change all to meters and radians and commit. :-)

[2021-03-16 00:04] danifpdra commented on #266
Thank you, I will look it up tomorrow and get back to you.

[2021-03-16 10:02] danifpdra commented on #266
Hi @aaguiar96,

I tested this code in both datasets (the one made by me and the one made by @miguelriemoliveira) with the same dataset for training and testing and both results were bad. But both datasets give good final errors when running calibration.

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/dataset_11_03_2021/atom_calibration.json -test_json $ATOM_DATA

[2021-03-16 10:05] aaguiar96 commented on #266
Hi @danifpdra

Can you post here both datasets, please?
I will check the problem today, but only at night.

I will let you know when I have some news.

[2021-03-16 10:07] danifpdra commented on #266
[datasets.zip](https://github.com/lardemua/atom/files/6147936/datasets.zip)

Here it is. Sorry for the trouble.

[2021-03-17 00:12] aaguiar96 commented on #266
Hi @danifpdra

Sorry, I was not able to look at this today, and tomorrow I'll not have time to. Only thursday...

Meanwhile, @miguelriemoliveira if you have some time can you look at this?

This is what I would do:

- Test the evaluation script in a dataset collected in the agrob scenario (use one of the old datasets from our paper): it must work.
- Re-test the evaluation with mmtbot: first, test

[2021-03-17 22:30] miguelriemoliveira commented on #266
Hi @aaguiar96 ,

sorry, I back to teaching so its been terrible. I will try to do what you ask (actually I wanted to learn this) but cannot promise to do it until tomorrow. If I can I will post.

[2021-03-17 22:36] aaguiar96 commented on #266
Hi @miguelriemoliveira and @danifpdra

If you want we can meet tomorrow for 1 hour to solve this. Are you available?

[2021-03-17 22:48] miguelriemoliveira commented on #266
Sure. In the afternoon around 14h30?

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Wed, 17 Mar 2021 at 22:37, André Agu

[2021-03-17 22:49] danifpdra commented on #266
Yes, for me 14h30 is OK.

[2021-03-17 22:52] aaguiar96 commented on #266
Yes, deal.

[2021-03-18 12:20] miguelriemoliveira commented on #266
Hi @aaguiar96 and @danifpdra ,

I just ran on my machine:

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/mmtbot/dataset_11_03_2021/data_collected.json -test_json $ATOM_DATASETS/mmtbot/dataset_11_03_2021/data_collected.json -ss hand_camera -ts world_camera
`

Here are the results (@danifpdra this is a better way of showing the results, see how I did it)

[code]

[2021-03-18 12:23] miguelriemoliveira opened #267 "shebang line for python3"
Hi @eupedrosa @danifpdra and @aaguiar96 ,

In my system, the shebang line

`#!/usr/bin/env python`

calls python2. Not sure if that's just my system configuration, but I would propose to force running with python3
by changing the shebang line of our scripts to

`#!/usr/bin/env python3`

Makes sense? You opinion?

[2021-03-18 14:12] miguelriemoliveira opened #268 "Camera to camera evaluation script improvements"
Hi @aaguiar96 ,

could we change the convention displayed in the images for the **camera_to_camera_evalutation.py**

![image](https://user-images.githubusercontent.com/11350998/111640206-e3961a80-87f3-11eb-8e3b-4d17eb032bdb.png)

Could we change + to dots? Because that's the convention we use in the calibrate script, and it should be uniform.

[2021-03-18 14:16] miguelriemoliveira commented on #268
Could you also check that the target and source sensors exists and output accordingly if they don't?
Right now I get:

[code]

Thanks.

[2021-03-18 14:20] eupedrosa commented on #267
Yes, it makes sense.

[2021-03-18 14:26] miguelriemoliveira commented on #268
Another error:

[code]

I had the same error when passing to python3, you want me to fix it?

[2021-03-18 15:38] aaguiar96 commented on #266
Hi @miguelriemoliveira and @danifpdra

b82abbd implemented the solution suggested by Miguel, but it does not seem to have impact.

I do not have any more time today. If you want to take a look... :) Otherwise, tomorrow I'll get back to it.

[2021-03-18 16:19] miguelriemoliveira commented on #266
I am on it.

[2021-03-18 17:16] miguelriemoliveira commented on #268
Lets use meters always ... SI forever!

[2021-03-18 17:16] miguelriemoliveira commented on #266
Got it. It was a matter of generalizing some more code in which you were using the selected_collection_key.

Results are actually very nice!!

[code]

@aaguiar96 when you have time can you do the improvements in #268? Then I guess we can start transporting the results to the paper.

[2021-03-18 17:17] miguelriemoliveira commented on #266
The avg of the Terr column does not make any sense ... different units?

[2021-03-18 17:18] aaguiar96 commented on #266
Great @miguelriemoliveira

I'll look at your commit and do the same for the LiDAR-camera case as soon as possible.

[2021-03-18 17:18] aaguiar96 commented on #266
Yes. The `All` are in SI but the others not... Sorry :-)

[2021-03-18 17:22] miguelriemoliveira commented on #266
Ahh, this is a deliberate, evil, approach to confuse people and make them feel bad and question their ability to average some values ... worked with me :)

[2021-03-18 17:23] aaguiar96 commented on #266
Hi @miguelriemoliveira

Is this correct?

https://github.com/lardemua/atom/blob/dbb24c47b9b8a3bbd61b3c870b7e4471b32ff2d3/atom_evaluation/scripts/camera_to_camera_evalutation.py#L178-L184

You want to copy to the `test_dataset` right?

[2021-03-18 17:23] aaguiar96 commented on #266
Muahahahahah!

[2021-03-18 17:24] miguelriemoliveira opened #269 "Generalize camera_to_range_sensor.py evaluation script to eye in hand cases."
After #266 we notice that this script should also be generalized to eye in hand cases.

[2021-03-18 17:25] miguelriemoliveira commented on #266
Thanks. #269

[2021-03-18 17:28] miguelriemoliveira commented on #266
No. Will commit a fix in a minute.

It worked nonetheless because my train dataset was optimized without optimizing the intrinsics, so they were the same in both datasets.

[2021-03-18 17:28] aaguiar96 commented on #266
Right! :)

[2021-03-19 14:34] aaguiar96 commented on #269
This is implemented with bc30055. @danifpdra can you test, please?

[code]

![image](https://user-images.githubusercontent.com/35901587/111793776-7f3f8d80-88bd-11eb-8624-d20f1090b1b1.png)

[2021-03-19 14:55] danifpdra commented on #269
Hi @aaguiar96,

I tested it with a different train and test dataset:
`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/dataset_15_03_2021_2/atom_calibration.json -test_json $ATOM_DATASETS/dataset_11_03_2021/data_collected.json -ss hand_camera -ts world_camera`

And the results were:

[code]

I think it is working well. What do you think of the results?

[2021-03-19 14:57] aaguiar96 commented on #269
Hi @danifpdra

The results are fine. But I was asking you to test the `camera_to_range_sensor.py` evaluation script.

Follow the instructions in the README file and if you have any question feel free to ask.

[2021-03-19 15:01] eupedrosa commented on #269
I would say that for a virtual dataset the results could be better.
Most of the errors seems to be in the X axis.

@miguelriemoliveira, @aaguiar96 and @danifpdra, what is you opinion?

[2021-03-19 15:04] danifpdra commented on #269
@aaguiar96 , can you explain me what should be the `ef <path_to_output_annotation_json_file>`?

[2021-03-19 15:05] danifpdra commented on #269
Hi @eupedrosa ,

I induce error in the calibration with the -nig flag, maybe that is why.

[2021-03-19 15:05] aaguiar96 commented on #269
I @eupedrosa
I don't know how careful was this calibration (we are still experimenting).

[2021-03-19 15:09] aaguiar96 commented on #269
In the LiDAR-to-Camera evaluation, you will have to annotate the pattern limits.
To do so you should activate the `-ua` flag. When you finish the annotation&evaluation a json file will be written with the pattern limits in the path specified by the `-ef` flag.

Thus, if you want to re-run the evaluation for the same input datasets, you can deactivate the `-ua` flag to disable the annotation and se

[2021-03-19 15:18] danifpdra commented on #269
@aaguiar96 , I am doing something wrong, can you help me?

![image](https://user-images.githubusercontent.com/47574905/111802864-6091c480-88c6-11eb-91d8-a1fb6bcc6773.png)

[2021-03-19 15:23] miguelriemoliveira commented on #269
Nice drawing : -)

On Fri, Mar 19, 2021, 15:19 Daniela Rato ***@***.***> wrote:

[2021-03-19 15:28] aaguiar96 commented on #269
Yes, you are. :-)

You want to annotate four classes, one for each edge.
The flow is:

(1) [click + s] from one corner of the edge to the other
(2) [p] to change the class
(3) When you've annotated the four classes [4 times p pressed] the result will appear
(4) [space] to move to the next image

From the image you are showing, you are annotating only one class for all the borders (you did not clic

[2021-03-19 15:30] danifpdra commented on #269
@aaguiar96 , what about in this case where we don't see the 4 corners? Should I do just 3 ou 5, 3 corners and 2 points in the limits ?

[2021-03-19 15:30] aaguiar96 commented on #269
This is what you should see.

All the classes annotated (before pressing the last time on p)
![image](https://user-images.githubusercontent.com/35901587/111804405-f712b580-88c7-11eb-8aee-7ea58b823cce.png)

(After clicking on p for the last time)
![image](https://user-images.githubusercontent.com/35901587/111804454-03970e00-88c8-11eb-9a75-21c385039ec6.png)

[2021-03-19 15:33] aaguiar96 commented on #269
In that case, you annotate the left/rightmost pixels of each edge as in the pictures above.

[2021-03-19 15:36] danifpdra commented on #269
![image](https://user-images.githubusercontent.com/47574905/111805359-d5fe9480-88c8-11eb-860e-d3e26c1a7fbb.png)

Is this ok?

Should I repeat for all collections?

[2021-03-19 15:39] aaguiar96 commented on #269
Hi @danifpdra

You're almost there. The only thing missing is that you have not started in each corner for all the classes. When you pass from one class to another, you have to click again on the corner to add it to the new class.

Yes, you should repeat for all the collections of the test dataset. Once you've done it and if you want to re-run the evaluation, you can simply load the annotations fr

[2021-03-19 15:44] eupedrosa commented on #269
I have to say, this is nothing but an easy procedure.
Furthermore, the "user" error will be propagated to the final errors.

Is there a better way to do this? Like, something automatic, or semi-automatic?
Just to follow the instructions you have to be a PhD student. Luckily @aaguiar96 and @danifpdra are such people.
But I am not :smile:

In my opinion, this should be improved. I bet @miguelriemoli

[2021-03-19 15:48] aaguiar96 commented on #269
Hi @eupedrosa

The procedure is very easy if you're familiar with it.
And, like every user-annotated metric, it has errors associated but I think that they are not significant. This approach is used in almost all the DL/ML evaluation metrics...

If you have an automatic procedure perhaps the pattern limits detection will have more error than the ones produced by annotation.

What is your idea for

[2021-03-19 15:50] danifpdra commented on #269
I agree that it is not very easy, and it is time-consuming. What if we had 100 collections?

And what if I get one point in the wrong place? There is no way to delete it?

[2021-03-19 15:53] aaguiar96 commented on #269
This happens in all the annotation processes. When you are annotating a Deep Learning dataset with 10,000 images, you just have to do it...
Of course, if there is some automatic way of doing this, it would be better, but I don't see how.

Here I agree that we should add this feature. Currently, there is no way of deleting.

[2021-03-19 15:56] aaguiar96 commented on #269
@danifpdra if you have some suggestions to ease the process, report them and I can implement them. :)

[2021-03-19 15:57] danifpdra commented on #269
Don't you think it would be more accurate with lines instead of points?

[2021-03-19 15:57] eupedrosa commented on #269
Here is one idea:
1. We detect the pattern (we sould already have that)
2. Calculate the 4 corners of the pattern (I believe this is also done somewhere else)
3. Add intermediate points between edges.
4. profit :partying_face:

Can this be done?

[2021-03-19 15:57] aaguiar96 commented on #269
No, because due to distortion, the pattern edges are not lines but curves.

[2021-03-19 15:58] eupedrosa commented on #269
We know the distortion .... we can calculate the line points and then project

[2021-03-19 16:00] aaguiar96 commented on #269
This is a good idea @eupedrosa. The only thing is that in 3. you will have to know the distortion to compute points in the boundaries. Will this work with accuracy? We can try. :)

[2021-03-19 16:01] eupedrosa commented on #269
If you do not trust in 3), let it be the only thing the user has to do.

[2021-03-19 16:01] aaguiar96 commented on #269
Add points? This is the only thing the user has to do by now...

[2021-03-19 16:03] aaguiar96 commented on #269
If you want to make this automatic, I think we should implement your entire suggestion. Otherwise, it will not be worthy.

[2021-03-19 16:04] eupedrosa commented on #269
I agree with your last comment.

[2021-03-19 16:05] danifpdra commented on #269
Well I've done it but I made a mistake in two collections and it affected all the results...

[code]

I think this is the major problem of this method.... Is there a way of repeating just the two collections?

[2021-03-19 16:06] aaguiar96 commented on #269
Let @miguelriemoliveira talk too. I am afraid that we will not achieve an accurate solution.

Annotation is accurate (the errors are despicable). But we can try of course! :)

[2021-03-19 16:07] aaguiar96 commented on #269
There is but is a trick. I will implement a feature to do this, delete annotations in real-time. If you have any other suggestions please let me know.

@danifpdra do you consider the process complex?

[2021-03-19 16:11] danifpdra commented on #269
@aaguiar96, I don't think it is complex after you get it but I wouldn't have gotten there alone with the explanation on the readme. Maybe this should be improved.

I think it is a bit time consuming and as I mentioned before, I believe the biggest fault is the fact that we can't delete the points or correct the wrong collections.

Anyhow, are the results in the collections that were not badly anno

[2021-03-19 16:13] aaguiar96 commented on #269
Can you do this please? You have a better notion of how much the use have to know to replicate the process.

Ok, I will work on this.

The results are in pixels, and as @eupedrosa said before, for a simulation we should get better results (less than 1 pixel I guess).

[2021-03-19 16:16] danifpdra commented on #269
Ok, I will update the readme.

Maybe we should, but as I said before, I induce error in the calibration with the -nig flag. I don't know how much this affects the results.

[2021-03-19 16:17] aaguiar96 commented on #269
You can try to recalibrate the system without this flag for the same dataset and see how the error changes.

[2021-03-19 16:22] danifpdra commented on #269
If I do that with the same collections, I don't need to annotate again, right?

[2021-03-19 16:23] aaguiar96 commented on #269
Right. Just use the annotations file that was saved (disable the `ua` flag).

[2021-03-19 16:33] danifpdra commented on #269
@aaguiar96, I have just notice that the annotation file was not save previously, with the error:

`Saving the json output file to /home/daniela/datasets/annotation/, please wait, it could take a while ...
Traceback (most recent call last):
  File "/home/daniela/catkin_ws/src/calibration/atom/atom_evaluation/scripts/range_sensor_to_camera_evaluation.py", line 341, in <module>
    createJSONFile(eva

[2021-03-19 16:37] aaguiar96 commented on #269
No, the `-ef` flag is a path to a file.
Look here:

[code]

[2021-03-19 16:38] danifpdra commented on #269
Yes but if there file doesn't exist, shouldn't it be created there? Do I have to previously create an empty file?

[2021-03-19 16:40] aaguiar96 commented on #269
The file is automatically created after annotation.

[2021-03-19 16:41] danifpdra commented on #269
But I have to choose the file name? I thought it was like the calibration where the atom_calibration.json is automatically created...

I will repeat the annotation later.

[2021-03-19 16:43] aaguiar96 commented on #269
Yes, you have. Is just to have the same parameter for input and output. But we can change this also.

[2021-03-19 16:47] danifpdra commented on #269
I think it would be easier and would become more uniform with the rest of the ATOM framework.

[2021-03-19 17:51] aaguiar96 commented on #269
Hi @danifpdra @miguelriemoliveira and @eupedrosa

I just committed a new version of the evaluation script.
New features:

- Don't need to press any key everytime we want to add a point. So, the flow is just [click, click, click, ..., c, click, click, ..., c ...]. **c** (denotes for change) is to change the class.
- It is now possible to correct annotations. For each image, if you want to start ove

[2021-03-19 17:54] eupedrosa commented on #269
@aaguiar96, Is there any visual hint that shows which class is active?

[2021-03-19 17:55] aaguiar96 commented on #269
Yes, the color of the dots.

[2021-03-19 17:57] eupedrosa commented on #269
But that only tells you which class is active after clicking..
What about a simple print in the terminal that says which class, by name, is active. Or you can write its name directly in the image, a small label in some corner.

[2021-03-19 18:00] eupedrosa commented on #269
All of this may seem obvious to you @aaguiar96, because you develop it.
But if we want more people to use it we have to make an effort to make the tool "understandable".
Didn't you have any `human-computer interaction` class?

[2021-03-19 20:08] aaguiar96 commented on #269
Hi @eupedrosa

That makes sense. I'll do that. :)

[2021-03-20 08:34] miguelriemoliveira commented on #269
Hi @aaguiar96 @eupedrosa and @danifpdra ,

A large discussion. Sorry, I was not online yesterday.
I will try to go topic by topic.

---------------------------------------------------------------------------------------------

I think @aaguiar96 and @danifpdra gave good reasons. We were just trying to get a compete calibration working. Also, Daniela
was using some noise in the sensor pose first gu

[2021-03-20 15:56] aaguiar96 commented on #269
Hi @miguelriemoliveira

I agree. I'll make a video tutorial soon.
@danifpdra have you had the opportunity to try the script with the new features? Did it get easier?

[2021-03-21 09:46] danifpdra commented on #269
Hi @aaguiar96, I've just tested it. Much easier and intuitive now!

[2021-03-22 09:38] aaguiar96 commented on #269
Great @danifpdra. Can you please update the README with the new flow of the script? I will make a video soon.

Are we ready to start generating results for the paper? (@danifpdra, @miguelriemoliveira, @eupedrosa)

[2021-03-22 09:41] danifpdra commented on #269
Yes, I will do that.

[2021-03-22 09:46] danifpdra opened #270 "-nig flag doesn't seem to be affecting LiDAR data"
Hi @eupedrosa,

The -nig flag doesn't seem to be affecting LiDAR data.

For example with -nig 0.01 I get the following errors

`Sensor 3dlidar 0.004305327277845061
Sensor hand_camera 1.4203569325689398
Sensor world_camera 1.063220630675486`

And without the -nig flag I get

`Sensor 3dlidar 0.004314974079740526
Sensor hand_camera 0.7702079446835115
Sensor world_camera 0.5920475494334818`

Is this e

[2021-03-22 09:55] miguelriemoliveira commented on #270
@eupedrosa can you see this one please?

[2021-03-22 09:56] miguelriemoliveira commented on #269
Don't we need #270 solved first?

I would like to have a talk just to try to define the tables ... can we talk wednesday afternoon @danifpdra and @aaguiar96 ?

If all goes well #270 is solved by then ...

[2021-03-22 09:58] aaguiar96 commented on #269
Yes and yes. :)

[2021-03-22 09:58] danifpdra commented on #269
I have a presential meeting from 14h to 15h, so maybe after 15h30 for me to have time to get home.

[2021-03-22 10:04] eupedrosa commented on #270
Ok, I will take a look.

[2021-03-22 10:22] eupedrosa commented on #270
@danifpdra, is any of the sensors defined as "anchored"?

[2021-03-22 10:27] danifpdra commented on #270
@eupedrosa, I don't think so, in config.yml I have:

`anchored_sensor: ""`

This is it, right? I'm not entirely familiar with ATOM framework.

[2021-03-22 10:40] eupedrosa commented on #270
It is correct.

I have to say that the noisy initial guess is working. Maybe the 3d lidar was favoured by the gods of random and got a 0 in the initial guess. You need to makes more than one test to get better conclusions.

[2021-03-22 10:42] danifpdra commented on #270
But I tested it several times and this always happened. Can it be because of the pixel and millimetres difference?

[2021-03-22 10:46] eupedrosa commented on #270
Yes, it can be.
But it should also be expected to have the cameras with an error similar to running the optimization without the -nig flag.

[2021-03-22 10:48] eupedrosa commented on #270
Are these the parameters that you are using to optimize?
https://github.com/lardemua/atom/blob/dae9751c1658db648195edfa173aec57a2594334/atom_calibration/scripts/calibrate#L467

The optimization may be finishing before reaching the local minimum.
Try somehing like `1e-6` or even `1e-8`

[2021-03-22 10:50] miguelriemoliveira commented on #270
Thanks.

[2021-03-22 10:51] danifpdra commented on #270
No, the parameters are already

`options = {'ftol': 1e-8, 'xtol': 1e-8, 'gtol': 1e-8, 'diff_step': None, 'x_scale': 'jac'}`

[2021-03-22 10:52] miguelriemoliveira commented on #269
OK, wednesday 15h30.

@Eurico Pedrosa ***@***.***> do you want to come as well?

Regards,
Miguel

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago,

[2021-03-22 10:53] eupedrosa commented on #270
Try a big value for -nig parameter, for example `-nig 1.0` and see what happens.

[2021-03-22 10:56] eupedrosa commented on #269
Ok.

[2021-03-22 10:59] danifpdra commented on #270
The errors are:

`Final errors:
Sensor 3dlidar 0.004289071412951691
Sensor hand_camera 6.872915025914711
Sensor world_camera 3.3463363659081486`

[2021-03-22 11:00] eupedrosa commented on #270
@danifpdra, can you tell me, or point me to where the dataset is? So I can try it?

[2021-03-22 11:02] danifpdra commented on #270
[dataset_15_03_2021_2.zip](https://github.com/lardemua/atom/files/6181594/dataset_15_03_2021_2.zip)

This is the dataset I've used.

[2021-03-22 11:54] eupedrosa commented on #270
I runned the following
[code]
And I was able to get
[code]

This was only possible by turning off the `normalizer`.

@miguelriemoliveira, I need your atention to this. I believe this has something to do with the error of the 3d lidar, which in my opinion is very low.

[2021-03-22 14:03] miguelriemoliveira commented on #270
I will look into it on Wednesday, sorry : - (

[2021-03-24 09:03] miguelriemoliveira commented on #292
Hi @MiguelDRPina ,

any progress? Do you want to meet tonight?

[2021-03-24 13:09] MiguelDRPina commented on #292
Hello, @miguelriemoliveira ,
Yes, I have been making some progress. Forgot to commit, sorry. As soon as I get home I'll do that.

Maybe not tonight, I am having a little trouble reading the calibration_pattern/border_size and calibration_pattern/dimension parameters because they are a dictionary, but I want to give it another try later today. If today I am not able to do it, we can arrange an hour

[2021-03-24 16:30] miguelriemoliveira opened #271 "Review normalization"

[2021-03-24 16:38] miguelriemoliveira opened #272 "Tables and graphs for atom framework paper"
**Results:**
- [x]  camera to camera evaluation
- [ ]  opencv stereo
- [ ]   Image with error dispersion in pixels
- [x]   lidar to camera1 evaluation
- [x]   lidar to camera2 evaluation
- [ ]   ICP????

**Characterization**
- [ ]   impact number of collections
- [ ]   impact number of incomplete collections
- [ ]   impact number of partial collections ???
- [x]   impact noise of initial estimate

[2021-03-25 09:56] miguelriemoliveira commented on #292
Hi @MiguelDRPina ,

agreed. Lets try to arrange during the weekend. Please keep updating the github.

[2021-03-27 08:24] MiguelDRPina commented on #292
Hello @miguelriemoliveira,
I have already updated the github. I am still missing the part for reading the /calibration_pattern/border_size and /calibration_pattern/dimension parameters from the config file because they are dictionaries. From what I understood, I am supposed to use XmlRpc to do it, but haven't quite figured out how.

[2021-03-27 08:35] miguelriemoliveira commented on #292
Yes, I can help you with it. I think I did it before. Before that, did you try this?

https://wiki.ros.org/roscpp/Overview/Parameter%20Server#Retrieving_Lists

[2021-03-27 09:02] MiguelDRPina commented on #292
Yes, I have also tried to use getParam and store it in a std::map and the code compiles with no error. But then I don't know how to see the content of the map variable I created.

[2021-03-27 09:10] miguelriemoliveira commented on #292
Hi Miguel,

https://www.google.com/search?q=animatedcharts&oq=animatedcharts&aqs=chrome..69i57j0i13l4.7316j0j9&client=tablet-android-samsung-nf-rev1&sourceid=chrome-mobile&ie=UTF-8#

This helps?

On Sat, Mar 27, 2021, 09:02 MiguelDRPina ***@***.***> wrote:

[2021-03-27 09:13] MiguelDRPina commented on #292
AnimatedCharts? Is that the right link?

[2021-03-27 10:23] MiguelDRPina commented on #292
I was able to read the first value, just by doing something like this:

`std::map<std::string, double> dict_param;

  nh.getParam("/calibration_pattern/border_size", dict_param);

  ROS_INFO_STREAM(dict_param.begin()->first);

  ROS_INFO_STREAM(dict_param.begin()->second);`

The 'first' returns the key and the 'second' returns its value. In this case, it is returning 'x' for the first, and 0.04 fo

[2021-03-27 10:24] miguelriemoliveira commented on #292
This one

https://thispointer.com/stdmap-tutorial-part-1-usage-detail-with-examples/

Sorry

On Sat, Mar 27, 2021, 09:14 MiguelDRPina ***@***.***> wrote:

[2021-03-27 10:25] miguelriemoliveira commented on #292
Thats it. The example i sent iterates all dict keys.

On Sat, Mar 27, 2021, 10:23 MiguelDRPina ***@***.***> wrote:

[2021-03-27 13:35] MiguelDRPina commented on #292
You're right, that example works. Thank you!

[2021-03-29 17:57] #270 closed, assigned to eupedrosa

[2021-03-29 17:58] eupedrosa commented on #271
This was reviewed and fixed by me and @miguelriemoliveira.

[2021-03-29 17:58] #271 closed, assigned to eupedrosa, miguelriemoliveira

[2021-03-29 22:38] miguelriemoliveira commented on #270
@danifpdra now you can start with getting the results.

[2021-03-30 22:19] miguelriemoliveira opened #273 "How to batch launch several calibrate executions"
@danifpdra wants to run several tests in batch.

@eupedrosa how did you run your tests for the sensitivity to the initial estimate?

I can put an example of a python script that calls the calibrate in sequence, but perhaps @eupedrosa has a more advanced technique ...

[2021-03-31 09:46] danifpdra opened #274 "Add tictoc to calibration output"
Hi @miguelriemoliveira,

Can you add a tictoc to the calibration output?

[2021-03-31 09:48] danifpdra opened #275 "Python script to call the calibration function in loop"
Hi @miguelriemoliveira,

Can you give me a draft to create a script that allows me to call the calibration function in a loop and retrieve a part of its output?

[2021-03-31 11:46] eupedrosa commented on #273
My advance technique is a bash script with greps and stdout redirects. I usualy change the python script to output the data that I want with a prefix that I can easily filter with `grep`.

[2021-03-31 11:54] miguelriemoliveira commented on #275
Hi @danifpdra . This is the same as #273. Closing this one. Lets continue the discussion there.

[2021-03-31 11:54] #275 closed, assigned to nobody

[2021-03-31 11:55] miguelriemoliveira commented on #273
Thanks @eupedrosa

Hum ... if that's the case then I prefer to do it with  python. @danifpdra I started yesterday night and will continue tonight, so give me today to come up with an example ok?

[2021-03-31 11:56] miguelriemoliveira commented on #274
Sure, will work on it soon.

[2021-03-31 12:57] aaguiar96 commented on #271
Hi @miguelriemoliveira  and @eupedrosa

I am curious. Can you summarize what was the issue?

[2021-03-31 12:58] aaguiar96 commented on #269
This is closed right?

[2021-03-31 12:58] aaguiar96 commented on #268
This is also closed.

[2021-03-31 12:58] #268 closed, assigned to aaguiar96

[2021-03-31 12:59] #269 closed, assigned to aaguiar96

[2021-03-31 13:01] danifpdra commented on #273
Ok @miguelriemoliveira

[2021-03-31 13:03] danifpdra commented on #272
Hi @aaguiar96 and @miguelriemoliveira,

In camera-camera evaluation, how do you compare with OpenCv if all the agrob train datasets have partial detections?

@miguelriemoliveira told me to have one dataset with partial detection and another one without them, but I checked the agrob datasets and both of them have partial detections.

[2021-03-31 13:14] eupedrosa commented on #271
TLDR; The calculation of the  `noisy initial guess` was wrong. The optimization failed due to super duper uber unrealistic initial guesses.

[2021-03-31 13:28] aaguiar96 commented on #272
I @danifpdra

There was one dataset of agrob that had some non-partial collections. And that was the one we used.
But why do you need agrob datasets? I think you can test with `mmtbot`.

I will just adapt it to hand eye case and is good to go.

[2021-03-31 13:30] danifpdra commented on #272
I don't need the agrob datasets, I just want to make the mmtbot datasets uniform with the agrob datasets.

According to this table you always have partial detections.

![image](https://user-images.githubusercontent.com/47574905/113152017-97a09800-922d-11eb-835a-170556a5049e.png)

[2021-03-31 13:31] aaguiar96 commented on #272
Yes, I had. But I only use non-partial collections for the opencv calibration. This is a limitation of opencv.

[2021-03-31 13:32] danifpdra commented on #272
I know that, that's why I was asking. I thought that I was supposed to have a dataset with partial detections and another one without.

[2021-03-31 13:39] aaguiar96 commented on #272
For a real scenario is really difficult to have a dataset only with non-partial collections. But in simulation, you can try! :)

[2021-03-31 13:44] aaguiar96 commented on #272
I just corrected the opencv evaluation script for python3 and executed it with a `mmtbot` dataset. Here's what you should get:

[code]

[2021-04-01 11:20] #254 closed, assigned to danifpdra

[2021-04-01 11:25] miguelriemoliveira commented on #273
Hi @danifpdra ,

I created a python script which runs a set of commands (could the several executions of calibrate, could be anything).

I think this way you can batch run several experiments.

Take a look and let me know if it works well:

https://github.com/lardemua/atom/blob/noetic-devel/atom_evaluation/scripts/batch_execution

[2021-04-01 15:01] danifpdra opened #276 "Problems with incomplete collections"
Hi @miguelriemoliveira ,

How does ATOM work with incomplete collections?

When running:

`rosrun atom_calibration calibrate -json /home/daniela/datasets/dataset_31_03_2021/data_collected.json 'lambda name: int(name) < 50' -nig 0.05 0.025 -ss 1`

I just got the error:

`Removing collection 1 -> pattern was not found in sensor hand_camera (incomplete collection).
Traceback (most recent call last):