[2019-03-19 11:34] afonsocastro opened #1 "Merge 6DOF and Menu marker python test"

[2019-03-19 11:35] afonsocastro opened #2 "Show atlacar cad in rviz"

[2019-03-19 11:36] afonsocastro opened #3 "Create a simple test for atlascar calibration optimization"
Get inspiration from:

https://github.com/miguelriemoliveira/OptimizationUtils

[2019-04-17 09:53] miguelriemoliveira opened #4 "Use a urdf parser for reading the robo description"
That should be the best approach to reading the information and fiding out which sensors the robot has...

[2019-05-09 22:40] miguelriemoliveira opened #5 "Store initial guess, pre and post transform"
@FYI @afonsocastro

[2019-05-09 22:42] miguelriemoliveira opened #6 "add input parameter for storing the common reference frame"

[2019-05-09 22:46] miguelriemoliveira commented on #6
will use https://docs.python.org/3/library/argparse.html

[2019-05-09 22:50] #6 closed

[2019-05-10 12:40] #1 closed

[2019-05-10 12:40] #2 closed

[2019-05-10 12:43] afonsocastro commented on #4
Done

[2019-05-10 12:43] #4 closed

[2019-05-11 17:51] miguelriemoliveira opened #7 "Reorganize code to make it easier to make changes ..."

[2019-05-11 19:39] #3 closed

[2019-05-11 22:44] miguelriemoliveira commented on #3
Hi @afonsocastro ,

when you close an issue try to state why you are closing it. Is it implemented completely, fully functional? Something missing, etc.

[2019-05-12 01:09] #5 closed

[2019-05-12 01:11] miguelriemoliveira commented on #7
Hi @afonsocastro ,

I tried to reorganize your code to make it easier for future changes. Take a look and see if you agree with the changes. We can discuss afterwards.

[2019-05-12 01:12] miguelriemoliveira commented on #7
Did you just commit?

I was just about to do a push as well ...

[2019-05-12 01:15] miguelriemoliveira commented on #7
and we were doing exactly the same thing ... damn. Well, I will send you my code by email. If you agree with it I can merge you your code later ...

[2019-05-12 01:18] afonsocastro opened #8 "Sensors first guess's orientation isn't correctly saved"
`     for joint in robot.joints:
            for sensor in robot.sensors:
                if sensor.parent == joint.child:
                    optimization_parent_link = joint.parent
            for mp in marker_poses:
                (trans, rot) = listener2.lookupTransform(optimization_parent_link, mp.child_frame_id,rospy.Time(0))
                if joint.child + "_first_guess" == mp.child_frame

[2019-05-12 01:19] #7 closed

[2019-05-12 01:20] miguelriemoliveira commented on #8
Hi @afonsocastro ,

try it out with my code, I think it is working ...

[code]

[2019-05-12 01:20] miguelriemoliveira commented on #8
And don't forget to assign someone to this issue as well ...

[2019-05-12 01:25] afonsocastro commented on #7
what a coincidence! I commited yes, I'll see your code now.

[2019-05-12 01:28] miguelriemoliveira opened #9 "Create a tweked robot_description param"
The goal is to have our code read through a parameter (lets called initial_robot_description).

Then, we tweak this by adding the sufix "_initial" to all  links  which are listed in the sensors.

But I am not sure this is really needed because of how the new tf handles the fixed transforms (probably as static transforms),

[2019-05-12 01:31] miguelriemoliveira opened #10 "Record a bag file from the atlascar so it is possible to watch sensor data while creating the first guess"
Not sure we will need #9 for this functionality or not. But we must record a bag file anyway.

@afonsocastro , lets do it on monday afternoon? Meet at 14h?

[2019-05-12 07:21] miguelriemoliveira opened #11 "Reset marker poses"
Hi @afonsocastro,

we should have an additional option in the rviz menu to reset all marker poses to the original position. Can you implement?

[2019-05-12 07:23] afonsocastro commented on #11
Hi @miguelriemoliveira,
yes, it's better. I'll implement

[2019-05-12 07:23] miguelriemoliveira opened #12 "Decide which code formulation to use"
After simlutaneously doing  #7, we need to define which code we are going to use, or if some hybrid. You make that decision. We must know this in order to continue the development in a sinlge code.

[2019-05-12 07:27] miguelriemoliveira opened #13 "Devise initial camera to camera optimization"
Hi @afonsocastro ,

I think we are now very close to point where we will start with the optimizations.

So you have a new task which is to study the examples in

https://github.com/miguelriemoliveira/OptimizationUtils/tree/master/test

in particular these ones

**simple optimization that changes image colors**
https://github.com/miguelriemoliveira/OptimizationUtils/blob/master/test/global_color_ba

[2019-05-12 07:28] miguelriemoliveira commented on #11
So you still did not go to bed????? :-)

[2019-05-12 11:00] miguelriemoliveira opened #14 "Add variables in sensor xml to represent opt, pre and post transforms"
@afonsocastro FYI.

Since you added the functionality of reading the xml tag sensor in the urdfdom_py, I think we can also add the elements we required for out calibration.

Will add them and change the code accordingly.

[2019-05-12 11:03] miguelriemoliveira commented on #14
So the idea that out node can infer the pre, opt and post transformations from the information in the xml.

Before we were using information about the sensor name, but that is clearly not the best way.

I propose our xml sensor tag contains two more elements, opt_parent_link and opt_child_link.
Here is an example:

[code]

@afonsocastro do you agree? Makes sense like this? I will update the python

[2019-05-12 14:06] afonsocastro commented on #8
yap, it's working well with your code

[2019-05-12 14:06] #8 closed

[2019-05-12 14:51] miguelriemoliveira commented on #12
OK. Thanks.

[2019-05-13 13:33] miguelriemoliveira opened #15 "Use PR2 for complete tf trees"

[2019-05-13 13:53] miguelriemoliveira opened #16 "Create a graph of the pre, calibration and post transforms"
@afonsocastro wating for #15 to continue ...

[2019-05-13 19:31] miguelriemoliveira commented on #9
We confirmed that we do not need this. Closing the issue.

[2019-05-13 19:31] #9 closed

[2019-05-13 19:32] miguelriemoliveira commented on #14
Implemented and working.

[2019-05-13 19:32] #14 closed

[2019-05-13 19:32] miguelriemoliveira commented on #10
We should now have a longer bag file with camera data as well.

[2019-05-15 12:02] #11 closed

[2019-05-15 13:28] miguelriemoliveira commented on #11
Is it working?

A Qua, 15/05/2019, 13:02, afonsocastro <notifications@github.com> escreveu:

[2019-05-15 15:05] miguelriemoliveira commented on #11
:)

[2019-05-15 15:07] miguelriemoliveira commented on #11
Confirmed. Congrats.

It is working. BTW, did you have to reposition also the markers?

[2019-05-15 15:28] miguelriemoliveira opened #17 "Solve warning "xacro.py is deprecated; please use xacro instead""

[2019-05-15 15:29] #17 closed

[2019-05-15 15:30] miguelriemoliveira commented on #15
Hi @afonsocastro , I am not sure it is very easy to collect data from a PR2 as was your task.

I will try to find a rosbag file of a real PR2 in my backups. Will get back to you on this...

[2019-05-15 15:31] miguelriemoliveira commented on #10
How is this? Did you make progress in the last days? Let's meet tomorrow to advance further?

14h?

[2019-05-15 15:42] miguelriemoliveira commented on #12
Hi Afonso, I still see the python script **interactive_marker_test.py** .

After this issue we are focusing on developing only on **create_first_guess.py**, am I right?

If so, this should be deleted to avoid confusions. Git stores a copy in the previous versions, even if you delete the file.

[2019-05-15 15:48] miguelriemoliveira opened #18 "Why the f*%$k is the car model misplaced?"
This occurs on my system but not in @afonsocastro 's system. They are git synced so I am really not sure what is happening.

@afonsocastro , can you test it on a third system to see if it is your system or mine that is out of the norm?

[2019-05-15 17:44] afonsocastro commented on #15
I was trying to get one already. Actually, it's not the simplest thing... i will wait for that rosbag

[2019-05-15 18:10] afonsocastro commented on #18
I've already found the problem! you need to put on your .bashrc file this command:

export LC_NUMERIC="en_US.UTF-8"

It probably have to do with the comma/point system (american or european). I tried without this line on my .bashrc and the car model showed up misplaced too. This command is on Read.me already.

[2019-05-15 18:10] #18 closed

[2019-05-15 18:39] afonsocastro commented on #12
Yes, you're right. There's no more interactive_marker_test.py

[2019-05-15 18:39] #12 closed

[2019-05-15 18:41] afonsocastro commented on #15
Right now, i have this. It's needed to set 'false' the car_model parameter when we run the launch file in order to see the pr2 robot instead of the car model

[2019-05-15 21:41] miguelriemoliveira commented on #15
Great. I will search for the bag file and get back to you ...

[2019-05-15 21:46] miguelriemoliveira commented on #18
Great. So what was needed was the expletive? It is amazing the amount of stuff that starts working once we start cursing :-) ...

[2019-05-16 08:20] afonsocastro commented on #11
The resetToInitialPose function put de markers in the initial pose too, not only the sensors

[2019-05-16 09:01] afonsocastro commented on #15
When it comes to parse the PR2 xacro, there are some problems occurring as the 'type' attribute and the 'compensator' tag are unknown in some links. I'll review this later

[2019-05-16 09:32] miguelriemoliveira commented on #15
Not very important I think. I will create a low priority issue for this.

[2019-05-16 09:33] miguelriemoliveira opened #19 "PR2 xacro: 'type' attribute and the 'compensator' tag are unknown in some links"
low priority for this one ...

[2019-05-16 15:18] afonsocastro opened #20 "Create new launch file for each robot model"
And add each rviz config

[2019-05-16 15:18] afonsocastro commented on #20
testing

[2019-05-16 17:11] miguelriemoliveira commented on #15
Hi @afonsocastro . I email my friend. Let's see what he replies.

Also I found this. Can you check if you can find a bag file with multiple sensors?

http://projects.csail.mit.edu/stata/downloads.php

[2019-05-16 22:25] miguelriemoliveira commented on #15
I took a look and recomend this bag:

2012-01-25-12-14-25.bag

http://infinity.csail.mit.edu/data/2012/2012-01-25-12-14-25.bag

Should contain multiple cameeas and lasers.

[code]

[2019-05-16 22:26] miguelriemoliveira commented on #15
It contains over 1000 secs and is a 40GB file.

I have no space for this ... @afonsocastro can you download and create a smaller bag file, say with 1 or 2 minutes only?

[2019-05-16 22:26] miguelriemoliveira commented on #15
How to split a bag file:
https://answers.ros.org/question/99711/how-to-split-a-recorded-rosbag-file/

[2019-05-16 22:31] miguelriemoliveira opened #21 "Create or get a bag file of a PR2"
Related to #15

[2019-05-16 22:32] miguelriemoliveira opened #22 "Create or get a bag file of an autonomous vehicle (or Instrumented Car)"
Related to #21

[2019-05-16 22:38] miguelriemoliveira commented on #22
Found some bags fro mthe MIT autonomous car at lars.mec.ua.pt//home/lardata/bags/Thesis_mriem/sequence1.bag

[2019-05-16 22:38] miguelriemoliveira commented on #22
Another interesting dataset is

https://epan-utbm.github.io/utbm_robocar_dataset/

[2019-05-17 06:10] miguelriemoliveira commented on #22
Concerning https://epan-utbm.github.io/utbm_robocar_dataset/ , I cannot find a bagfile with images. Only with lasers ...

@afonsocastro can you?

[2019-05-17 10:14] afonsocastro commented on #22
I have a bag with images. This bag has one camera and 7 lasers. 520 seconds of recording. The bag was recorded last year from the atlascar2

[2019-05-17 11:27] miguelriemoliveira commented on #22
Great! Please copy paste here the output of

[code]

[2019-05-17 12:08] miguelriemoliveira opened #23 "Error parsing PR2 description"
@Hi @afonsocastro ,

I have an error when I launch create_first_guess.py using the PR2.

[code]

Do you have the same problem?

[2019-05-17 13:13] afonsocastro commented on #22
path:        Volta_UA.bag
version:     2.0
duration:    8:40s (520s)
start:       May 18 2018 17:23:22.46 (1526660602.46)
end:         May 18 2018 17:32:02.97 (1526661122.97)
size:        22.8 GB
messages:    643939
compression: none [5694/5694 chunks]
types:       diagnostic_msgs/DiagnosticArray          [60810da900de1dd6ddd437c3503511da]
             geometry_msgs/PoseStamped                [d38

[2019-05-17 13:15] afonsocastro commented on #22
![Captura de ecrã de 2019-05-17 14-14-16](https://user-images.githubusercontent.com/47828797/57930572-3a580380-78ae-11e9-9b64-89ab8d62b6b3.png)
![Captura de ecrã de 2019-05-17 14-15-42](https://user-images.githubusercontent.com/47828797/57930585-45129880-78ae-11e9-8a46-da710e0bf1a8.png)

[2019-05-17 13:18] afonsocastro commented on #22
I think this is what we need. i have some others bags too, with less recording duration

[2019-05-17 13:20] afonsocastro commented on #15
Yes, i'll do it

[2019-05-17 14:34] miguelriemoliveira commented on #22
Great. We can start working on this one.

When you copy better to copy the text only. See [this example](https://github.com/lardemua/AtlasCarCalibration/issues/15#issuecomment-493252565) .

We do not need a bag file with a large duration. Just a minute would be ok. Can you crop the bagfile into a smaller one that can be shared around?

[2019-05-17 19:58] miguelriemoliveira commented on #23
The problem I think is related to this

https://github.com/ros/urdfdom/issues/36

[2019-05-17 19:59] miguelriemoliveira commented on #23
I was trying to make this work all day and could not do it.

As a backup solution, I am now using **pr2_no_arms.urdf.xacro** which works because the problem was in an element of the arms.

[2019-05-17 20:21] miguelriemoliveira opened #24 "Consider dynamic transforms for the pre and post transfoms"
Hi @afonsocastro ,

this is related to what Jorge Almeida said.

I realized that there is yet another problem. Some sensors are mounted on dynamic kinematic chains. For example the cameras on the PR2 are on top of a moving head.

I think the Sensor class must be re-engineered to support this. The good thing is that it would also solve the problem Jorge Mentioned.

Lets talk about it.

![frames](ht

[2019-05-17 23:55] miguelriemoliveira commented on #16
Done in 6dd1f4be0026cfe686a403e3b4b729cf845a205b

Here is an example of the PR2

[calibration_transformations_pr2.gv.pdf](https://github.com/lardemua/AtlasCarCalibration/files/3193411/calibration_transformations_pr2.gv.pdf)

[2019-05-20 14:56] miguelriemoliveira commented on #21
Got it. Cannot upload to github since it is 4GB.

Adjusted a launch file just for the PR2.

![Screenshot from 2019-05-20 15-55-21](https://user-images.githubusercontent.com/11350998/58031173-cfaa0080-7b17-11e9-99a0-6833ea008054.png)

[2019-05-20 16:15] miguelriemoliveira opened #25 "Create a json file from data collected during a calibration acquisition"

[2019-05-21 09:36] miguelriemoliveira commented on #22
Hi @afonsocastro  ,

Tiago Crispin (@hellxberg ) also needs the bag file you have.

Can you give it to him.

Also, for me it would be interesting that we have a smaller demo version of this bag file. Small enough to upload to github so everyone could test with the demo bag file.

Can you crop just a minute or two and upload it? I will explain Tiago how this is done and then he can help you if you

[2019-05-21 13:33] miguelriemoliveira opened #26 "rviz crashes when changing desktops"
When running

[code]

whenever I change desktops rviz crashes with the following error:

[code]

[2019-05-21 13:33] miguelriemoliveira commented on #26
Hi @tiagomfmadeira ,

I remember you had the same problem. Did you find out how to solve it?

[2019-05-21 13:43] miguelriemoliveira commented on #26
well I found out that this is related to the camera marker...

[2019-05-21 13:50] miguelriemoliveira commented on #26
Moreover, it happens only if I am running a rosbag playback ... weird.

Anyway, I will use an Image marker instead. For now it should suffice.

Will close but @tiagomfmadeira if you have any good ideas please tell me.

[2019-05-21 13:50] #26 closed

[2019-05-21 13:50] tiagomfmadeira commented on #26
Hello @miguelriemoliveira,

Can confirm this is also a problem in elementary OS 5 Juno. Perhaps because it's based on Ubuntu 18.04.2 LTS (Bionic Beaver).

Did not find a solution for it unfortunately.

[2019-05-21 13:52] miguelriemoliveira commented on #26
OK, thanks!

[2019-05-21 13:53] miguelriemoliveira commented on #24
In 0a56727cf13fd7d9bfe42f64760b08b408b10bcc dynamic transforms are already considered. Closing.

[2019-05-21 13:53] #24 closed

[2019-05-21 14:03] miguelriemoliveira commented on #21
Only missing a way to put the bag files online ...

[2019-05-21 14:05] miguelriemoliveira commented on #20
I created a launch file for the PR2. @afonsocastro , please see if you agree with the structure and replicate to the ATLASCAR2.

[2019-05-21 14:05] miguelriemoliveira commented on #23
Same as #19. Closing this one.

[2019-05-21 14:05] #23 closed

[2019-05-21 14:08] #15 closed

[2019-05-21 14:09] miguelriemoliveira commented on #16
Done. Some examples:

![calibration_full](https://user-images.githubusercontent.com/11350998/58102962-12341180-7bda-11e9-86fa-06a7785a1f24.png)

![calibration_per_sensor](https://user-images.githubusercontent.com/11350998/58102970-14966b80-7bda-11e9-9ddd-8a088c3a2b4d.png)

[2019-05-21 14:10] miguelriemoliveira commented on #10
Replicated in #22 . Closing.

[2019-05-21 14:10] #16 closed

[2019-05-21 14:10] #10 closed

[2019-05-21 16:42] miguelriemoliveira opened #27 "Code Reorganization"
This is already done in commit d07f214257d409476dcf67308b44afecb530d25a

Followed best practices from:

http://wiki.ros.org/rospy_tutorials/Tutorials/Makefile

and

http://wiki.ros.org/PyStyleGuide

[2019-05-21 16:42] #27 closed

[2019-05-22 08:53] miguelriemoliveira commented on #25
This is complete.

Images are saved to disk.

Right now the script is saving a json file similar to  this one

[code]

[2019-05-22 08:53] #25 closed

[2019-05-22 12:04] miguelriemoliveira commented on #13
Prepared a picture to explain the steps of the calibration procedure. The idea is to include it in the paper...

Incompliete yet ...

[2019-05-22 12:05] miguelriemoliveira commented on #13
Must install yed

https://www.google.com/search?q=yed+install+ubuntu&oq=yed&aqs=chrome.0.69i59j69i57j69i59j69i60l3.1122j0j7&sourceid=chrome&ie=UTF-8

[2019-05-22 12:05] miguelriemoliveira commented on #13
and open graphml file

[2019-05-23 15:28] miguelriemoliveira commented on #13
![calibration_schema](https://user-images.githubusercontent.com/11350998/58265522-c28b4c80-7d77-11e9-98de-6aa294f346f8.png)

[2019-05-23 22:48] miguelriemoliveira opened #28 "Data collector save image - path should be relative to dataset folder"
Otherwise it is not portable ...

[2019-05-24 00:12] miguelriemoliveira opened #29 "Create a data labeller"

[2019-05-25 09:31] miguelriemoliveira opened #30 "Data Collector change structure of dictionaries containing collected data"

[2019-05-25 09:41] miguelriemoliveira commented on #30
Made mistake. Commit 3f836d521e63451a951421d452ee6cd065695e95 was meant to close #28

[2019-05-25 09:42] miguelriemoliveira commented on #28
Closed via 3f836d521e63451a951421d452ee6cd065695e95

[2019-05-25 09:42] #28 closed

[2019-05-25 10:04] miguelriemoliveira commented on #30
After talkng to @afonsocastro I realized the structure of the collected data was not very good. Namely the fact that we had two dictionaries with the same key, one for the transforms, another for the data.

New structure is more clean as follows:

[code]

[2019-05-25 10:22] #30 closed

[2019-05-27 01:02] miguelriemoliveira commented on #29
Data labeler embedded on the collector and rviz. Much better like this.

[2019-05-27 18:53] miguelriemoliveira commented on #22
Got one today with the atlascar2. Also, it contains views of chessboards.

[2019-05-27 18:54] miguelriemoliveira opened #31 "New atlascar bag file contains incorrect stuff"
I guess we need a new bag file.

[2019-05-27 18:54] miguelriemoliveira commented on #31
The message contains all zero values as follows:

[code]

[2019-05-27 18:56] miguelriemoliveira opened #32 "Calibrate frontal camera"
follow this

http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration

[2019-05-27 19:21] miguelriemoliveira commented on #31
Before the new bag file we must calibrate the camera (all cameras if possible, if not the frontal one).

Created #32 for that.

[2019-05-27 19:22] miguelriemoliveira commented on #22
There is a problem with the camera_info message. Will close this one. Continue on #31

[2019-05-27 19:22] #22 closed

[2019-05-27 19:22] miguelriemoliveira commented on #21
Got it.

[2019-05-27 19:22] #21 closed

[2019-05-27 19:24] #20 closed

[2019-05-27 19:28] miguelriemoliveira commented on #31
So far, incorrect stuff is:

1. camera_info message contains zero value
2. no left and right laser scans
3. image from frontal camera is very slow rate and seems like it is not debayered

[2019-05-27 19:28] miguelriemoliveira commented on #31
@afonsocastro I told this never works on the first attempt :). Lets try it again on Thursday, 9h30?

[2019-05-27 22:02] miguelriemoliveira opened #33 "no left and right laser scans in bag file"

[2019-05-27 22:03] miguelriemoliveira opened #34 "Image from frontal camera is very slow rate and seems like it is not debayered"

[2019-05-27 22:23] miguelriemoliveira commented on #13
Hi @afonsocastro ,

I suppose that you have already studied the scripts in Optimization Utils. So now you have a new task: I will create a new issue for that in the repository OptimizationUtils.

[2019-05-27 22:36] miguelriemoliveira commented on #32
@tmralmeida can you do this with @afonsocastro ? Do you have experience with this?

[2019-05-28 21:50] miguelriemoliveira commented on #32
Hi @hellxberg do you have the yaml file for the front camera ? You used the intrinsic value did you not?

@tmralmeida or @bernardomig did you backup the disk on the computer when you installed ubuntu 18.04?

[2019-05-29 09:25] afonsocastro commented on #31
we can try again with atlascar, or we can use the bag that i have. I will crop the bagfile

[2019-05-29 13:23] miguelriemoliveira commented on #31
The bag file you have does not have chessboards, so it does not work.

A Qua, 29/05/2019, 10:25, afonsocastro <notifications@github.com> escreveu:

[2019-05-29 13:25] hellxberg commented on #32
Hi @miguelriemoliveira, I did use intrinsic value of the camera but i didn't use any yaml file. I recorded all the information i have with "rosbag play".

[2019-05-29 17:37] miguelriemoliveira commented on #32
Ok, can you please copy paste here the result of a rostopic echo /.../camera_info

[2019-05-30 23:00] miguelriemoliveira commented on #32
Here are the contents of a new calibration yaml.

[code]

[2019-05-30 23:02] #32 closed

[2019-06-07 18:36] miguelriemoliveira commented on #31
Now we have a nice bag file with everything we need for now. Closing.

[2019-06-07 18:36] #31 closed

[2019-06-07 18:37] miguelriemoliveira commented on #13
Closing this one. Will continue on optimization utils.

[2019-06-07 18:37] #13 closed

[2019-06-07 18:37] miguelriemoliveira commented on #34
Solved in the new bag file. Closing.

[2019-06-07 18:37] #34 closed

[2019-06-07 19:17] miguelriemoliveira commented on #29
This is complete. Here is an example of a calibration data collected. It contains labels for 2D lidar and image as well.

[2019-06-07 19:18] miguelriemoliveira commented on #29
Closing.

[2019-06-07 19:18] #29 closed

[2019-06-07 19:19] miguelriemoliveira commented on #29
@afonsocastro and @tiagomfmadeira

The labeller is already working, so we should get started with the optimization code. Will open an issue for that and put you both as assignees :)

[2019-09-28 15:47] afonsocastro opened #35 "Lidar data labelling"
Hi @miguelriemoliveira ,
I tested to label the lidar data as you asked and it worked! For now, the labeller allows NaN in range measurements, but we have the problem of only recording some ranges between all the important points. More than that, the size of the cluster collected change in every capture and for each laser...

[2019-09-28 18:08] miguelriemoliveira opened #36 "Implement Lidar data cost function"

[2019-09-28 18:08] miguelriemoliveira commented on #35
Hi @afonsocastro

yes, the size of the clusters will change and the measurements are irregular.

That could only be changed with a new calibration pattern (non reflective paper?).

However, remember that our best guess for a LIDAR data cost function was to use only the extrema points  of the cluster. Since our pattern has a white canvas, we should always have measurements in those regions.

I will

[2019-09-30 16:01] afonsocastro opened #37 "Sensors Pose First Guess not loaded"
If we launch _roslaunch interactive_calibration atlascar2_calibration.launch_ and then _rosrun interactive_calibration create_first_guess.py -w base_link_, we can move the sensors freely and see directly the changes of the point clouds and the images (as it was expected).

Then we can save our best eye-belief config for the sensors pose. The problem is when I try to re-run the launch file with the

[2019-09-30 21:42] miguelriemoliveira commented on #37
I will look into it right now ...

[2019-09-30 22:37] afonsocastro commented on #37
I have a tip that might be related:
I was trying to get some calibration (collecting some snapshots and then optimize the pose), but I realized that the json file created by the data_collector_and_labeler script didn't store any transforms... This means that there were no transforms being published by the bag file, am I right?
That's why I think it's all related to this new bag

[2019-09-30 22:44] miguelriemoliveira commented on #37
Sorry, had a phone call until now. I will look into it now ...

[2019-09-30 22:52] miguelriemoliveira commented on #37
Not sure if I will have time to work on this tonight. If not sooner
tomorrow...

A Seg, 30/09/2019, 23:37, afonsocastro <notifications@github.com> escreveu:

[2019-10-01 22:11] miguelriemoliveira commented on #37
Hi @afonsocastro ,

Sorry for the delay. It was a crazy day. I am working on this now.

this is very strange. The first time I tested your procedure it worked!!! The sensor poses were saved.

Then I did it a second time and ... does not work!!!

Will keep looking into it.

[2019-10-01 23:01] miguelriemoliveira commented on #37
Hi @afonsocastro ,

got it. This one was not easy, there was a tf_static topic on the bag file (should it be there, not sure) which overlapped (only sometimes) the tf_static published by the robot_state_publisher (using the first guess file).

I had to remap the tf_static topics in the bag file when playing to avoid the conflict.

[code]

You must now indicate the path to the "first guess" file so

[2019-10-02 13:17] afonsocastro commented on #37
Hi!
well, it was, as I thought, about the published topics... But I really needed your help :)
It all works just fine now, thank you @miguelriemoliveira.
I will have some results and conclusions soon, for this bag

[2019-10-02 13:36] miguelriemoliveira commented on #37
Great. We should meet next week for discussing you writting the thesis. Perhaps Tuesday, take it as the deadline for having some results. Then you **must** start writting. We can always continue the work after the thesis is written.

[2019-10-02 15:03] afonsocastro commented on #37
Ok, next Tuesday I can bring a skeleton of the thesis with some topics of what I think it should be said in each section of the document. That and some camera-to-camera calibration results.

[2019-10-02 17:05] miguelriemoliveira commented on #37
Great!

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Wed, 2 Oct 2019 at 16:03, afonsocastro <notifications@github.com> wrote:

[2019-10-08 11:59] afonsocastro commented on #37
Hi @miguelriemoliveira,
my thesis skeleton is ready. We will talk about it tomorrow, as well?

[2019-10-08 12:02] miguelriemoliveira commented on #37
Yes. we must.

Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Tue, 8 Oct 2019 at 12:59, afonsocastro <notifications@github.com> wrote:

[2019-10-30 14:44] eupedrosa opened #38 "Dangerous piece of code"
[code]

What would you do if a third party software did this on your computer without explicit permission? :thinking:

[2019-10-30 15:55] miguelriemoliveira commented on #38
I think this is the one which erased @Afonso Castro <afonsocastro@ua.pt>
's desktop stuff already two times.

Can you insert at least a question like "this is dangerous, would you like
to continue"

Thanks,
Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Camp

[2019-10-31 13:52] #38 closed

[2019-11-05 07:28] miguelriemoliveira opened #39 "Note on github about installing flycap"
Hi @afonsocastro, (@tiagomfmadeira , @eupedrosa )

flycap is needed for this package to compile. Add a note on the readme about that please.

[2019-11-05 08:50] afonsocastro commented on #39
Done, but not tested yet. Today we meet?

[2019-11-05 09:28] miguelriemoliveira commented on #39
Yes, at 9h30.

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Tue, 5 Nov 2019 at 08:50, afonsocastro <notifications@github.com> wrote:

[2019-11-05 11:15] afonsocastro opened #40 "Transforms dict should be within the collections key value"
This change implies an adaption of collect_and_label_data.py. Also in main.py, objective_function.py, results_visualization.py, getter_and_setters.py from OptimizationUtils/test/sensor_pose_json_v2, stereocalib_v2.py. Anywhere else?

[2019-11-05 11:24] afonsocastro opened #41 "Detected and stored data is the same for different cameras"
The collect_and_label_data.py stores the images and the detected chess corners pixel indexes of the top right camera for both camera sensors. There is double equal information when it should be distinct data for distinct cameras.

[2019-11-05 12:17] #41 closed

[2019-11-05 12:48] miguelriemoliveira opened #42 "Collect a bag file with the UR10 for calibrating camera w.r.t. robot"

[2019-11-05 12:51] miguelriemoliveira opened #43 "Reference Optimization utils in the readme"
@eupedrosa  was trying to test and could not find a reference to the OptimizationUtils. Should be there.

[2019-11-05 12:53] miguelriemoliveira opened #44 "Tracking of chessboard in 3D"
To use the asus xtion check https://wiki.ros.org/openni2_launch

[2019-11-05 16:25] #40 closed

[2019-11-06 09:11] miguelriemoliveira commented on #39
Thanks.

[2019-11-06 09:11] #39 closed

[2019-11-06 09:11] miguelriemoliveira commented on #19
Hi @afonsocastro This is not important anymore, since we don't need to extend the xacro right?

[2019-11-06 13:34] afonsocastro commented on #19
yes, you're right. The new methodology also simplifies the approach!

[2019-11-08 14:29] eupedrosa commented on #42
First bag created. Here is a single image.

![example](https://user-images.githubusercontent.com/6196901/68483705-f37f1100-0233-11ea-8512-bb36db7b3b3a.png)

Do you think that this kinda of data will be enough? The light conditions are not the best.

[2019-11-08 14:40] miguelriemoliveira commented on #42
It looks good. I think it looks fine, but the only way to know is to see if the checkerboard is detected in the images.

We use this line to perform the detection:

https://github.com/lardemua/AtlasCarCalibration/blob/a652897ec55d63126fabc8a13d822cef120f0870/interactive_calibration/src/interactive_calibration/interactive_data_labeler.py#L231

Perhaps you can create a simple test script with receiv

[2019-11-08 14:44] #19 closed

[2019-11-08 14:45] miguelriemoliveira commented on #37
Hi @afonsocastro , if this is solved please close.

[2019-11-08 14:46] miguelriemoliveira commented on #35
This is done as well, right?

[2019-11-08 14:46] #35 closed

[2019-11-08 14:51] miguelriemoliveira opened #45 "Run an optimization with only the cameras to make sure we did nothing wrong in last Tuesday's changes."
@afonsocastro , can you do this?

[2019-11-08 14:55] eupedrosa commented on #42
I will do this!! I will add the script to the interaction_calibration for future use.

Yes!!. And I will add the xacros to "my robot".

[2019-11-08 15:02] miguelriemoliveira commented on #42
Great. Push when you can. I am eager to take a look!

[2019-11-08 15:20] eupedrosa commented on #42
Here we have good example:
![good_chess](https://user-images.githubusercontent.com/6196901/68487404-ec0f3600-023a-11ea-8c9b-2ed6726cdfb4.png)

And here we have a bad example:
![bad_chess](https://user-images.githubusercontent.com/6196901/68487435-faf5e880-023a-11ea-82e1-b39462854a98.png)

I think that I'm going to create a new bag with this utility window opened :smiley:

[2019-11-08 15:21] miguelriemoliveira commented on #42
the utility is already becoming useful :)

[2019-11-08 16:04] #37 closed

[2019-11-08 16:05] afonsocastro commented on #45
yes, i can

[2019-11-08 16:05] afonsocastro commented on #45
yes, i can

[2019-11-09 18:47] afonsocastro commented on #45
It is all working just fine.
Here are the results obtained for the optimization with only cameras vs calib camera:
![Captura de ecrã de 2019-11-09 18-31-29](https://user-images.githubusercontent.com/47828797/68533359-91033f00-031f-11ea-98ef-01bfb31f6d07.png)

AVERAGE ERROR (our optimization):
x = 2.20814818259 pix ;   y = 0.732894332321 pix

AVERAGE ERROR (openCV stereo calibration):
x = 285.96161

[2019-11-09 18:59] #43 closed

[2019-11-11 11:27] miguelriemoliveira commented on #45
The values for the stereo calibration do not make sense ... do you know what is the problem?

[2019-11-12 10:25] miguelriemoliveira opened #46 "Create a -configuration_file command line parameter"
This would be useful to avoid a lot of command line arguments. We could use a json config file instead.

[2019-11-12 10:36] miguelriemoliveira opened #47 "Enhance documentation of the creation of a new optimization"

[2019-11-12 11:13] miguelriemoliveira commented on #44
First step is done. @tiagomfmadeira can already cluster the point clouds ...

[2019-11-12 11:19] tiagomfmadeira commented on #44
Here is the result using Open3D's _cluster_dbscan_

![Screenshot from 2019-11-12 11-15-58](https://user-images.githubusercontent.com/15963210/68667569-34ca3600-053e-11ea-827c-1d4ce4d36a98.png)

[2019-11-12 12:08] afonsocastro commented on #45
After finding and solving the problem of the stereo calibration implementation, here are the obtained results:

![Captura de ecrã de 2019-11-12 12-03-24](https://user-images.githubusercontent.com/47828797/68670391-bfae2f00-0544-11ea-8e61-73f55b2bad9c.png)

AVERAGE ERROR (our optimization):
x = 2.20814818259 pix ;   y = 0.732894332321 pix

AVERAGE ERROR (openCV stereo calibration):
x = 1.8782336791

[2019-11-12 15:23] eupedrosa commented on #45
What was the error? You should also provide the error deviation to better judge the data. Just the mean error is not enough.

[2019-11-12 15:33] miguelriemoliveira commented on #45
Hi, yes std would be interesting, but we also get a feeling of the data deviation from the graphic.
Nonetheless, If you can add the info that would be another plus ...

[2019-11-12 15:34] miguelriemoliveira commented on #45
Also, I would close this issue since the title seems to have been completely fulfilled...

[2019-11-12 16:08] miguelriemoliveira opened #48 "How to configure catkin build"
Hi @eupedrosa ,

can you tell me what must be done to configure catkin build?

Thanks,
Miguel

[2019-11-12 16:13] miguelriemoliveira commented on #48
I remember you configured something with /opt/ros ...

[2019-11-12 16:16] eupedrosa commented on #48
I will leave here the full steps:

### Install
```$ sudo apt install python-catkin-tools```
### First use
In the topmost directory of your code, i.e. the one that has a `src` directory, execute
[code]
### Onward
[code]

[2019-11-12 16:31] miguelriemoliveira commented on #48
Thanks!

[2019-11-12 16:31] #48 closed

[2019-11-12 16:32] miguelriemoliveira commented on #48
BTW, this

should be:

[2019-11-12 16:36] eupedrosa commented on #48
Sorry, I wrote it from memory!

[2019-11-12 16:53] miguelriemoliveira commented on #46
Hi @eupedrosa

aparently this is off-the-shelf with argparse, the library we're using

https://stackoverflow.com/questions/3609852/which-is-the-best-way-to-allow-configuration-options-be-overridden-at-the-comman

[2019-11-13 02:33] miguelriemoliveira opened #49 "Drawing strange lines in Optimization utils"
The 3d drawing of the optimization has some weird lines.

Here's an example:

![Screenshot at 2019-11-13 02-31-41](https://user-images.githubusercontent.com/11350998/68727998-ed838a00-05bd-11ea-9da4-34170a4820f5.png)

[2019-11-13 02:48] miguelriemoliveira commented on #36
FYI @afonsocastro For now just testing with the current cost function to see if it makes sense ...

[2019-11-13 02:55] miguelriemoliveira opened #50 "Better 3D plotting?"
Hi @afonsocastro , @tiagomfmadeira and @eupedrosa ,

we are using matplotlib for drawing the 3D graphs, but the quality of the figures is not very good.
Here's an example:

![Screenshot at 2019-11-13 02-31-41](https://user-images.githubusercontent.com/11350998/68729071-e90ca080-05c0-11ea-951f-d8ee080e8b68.png)

I looked around and found [this](https://docs.enthought.com/mayavi/mayavi/auto/examples

[2019-11-13 03:01] miguelriemoliveira commented on #36
Hi @afonsocastro ,

I made the following test: **built a json file with a bad first guess** [images are not very nice but for that we have #50 ].

![Screenshot at 2019-11-13 02-58-16](https://user-images.githubusercontent.com/11350998/68729345-a1d2df80-05c1-11ea-9bac-70589914e0ed.png)
![Screenshot at 2019-11-13 02-58-25](https://user-images.githubusercontent.com/11350998/68729348-a26b7600-05c1-11e

[2019-11-13 03:02] miguelriemoliveira commented on #36
... what else could we try? An optimization without cameras? not sure it would / should provide more information ... any ideas ?

[2019-11-13 03:10] miguelriemoliveira opened #51 "New command line argument to show images for each camera"
Hi @afonsocastro @tiagomfmadeira @eupedrosa

for large optimizations (e.g. 30+ collections) it is not possible to show all camera images. For that reason I added an argument -si or --show_images to the optimization utils sensor_pose_v2/main.py which must be given if you want to see the images.

Example:

`test/sensor_pose_json_v2/main.py -json ~/datasets/calib_bad_first_guess/data_collected.json -

[2019-11-13 03:12] miguelriemoliveira commented on #51
closed by https://github.com/miguelriemoliveira/OptimizationUtils/tree/16769142a9217b535d7aced49942a1e2cc6c39d6

[2019-11-13 03:12] #51 closed

[2019-11-13 03:15] miguelriemoliveira commented on #50
here's another interesting one
https://plot.ly/python/#3d-charts

[2019-11-13 09:51] eupedrosa commented on #46
I Will take a look at it.

[2019-11-13 09:56] eupedrosa commented on #50
[Plotly](https://plot.ly/)  looks interesting :+1:
Do you want to test it, @miguelriemoliveira ?

[2019-11-13 09:59] eupedrosa commented on #36
Maybe we should try an optimization without cameras and see what happens. The lasers may not align on the z-axis but they should align on xy-axis.

[2019-11-15 11:21] eupedrosa opened #52 "Saving first guess does not work."
Now that we are not using URDF parser (with custom entities), saving the URDF with the first guess does not work. We have to revise this.

Does it make sense to save the first guess to a urdf file? Or maybe we should add the first guess to the json configuration file?

I understand that the initial idea was to augment the urdf but using the json would be simpler (in my opinion). However, I still b

[2019-11-15 18:59] miguelriemoliveira commented on #52
Hi @eupedrosa ,

we can discuss on Tuesday if it makes sense.

@afonsocastro what do you think?

[2019-11-16 00:03] miguelriemoliveira commented on #50
I am on it ...

[2019-11-16 00:09] afonsocastro commented on #45
std info is already added.
I will commit and close this issue soon

[2019-11-16 00:31] afonsocastro commented on #52
I think the approach should be as clean, organized and homogeneous as possible. This means that everything should make sense.
I agree with the idea of creating a JSON file to store the poses first guess. The philosophy is: files that are created/changed by the calibration procedure are always JSON, and robot xacro files are "untouchable".
The goal is to not change the robot description structure,

[2019-11-16 01:44] #45 closed

[2019-11-16 23:56] miguelriemoliveira commented on #50
So I tried to dive into plotly but could not as of now find a way to update a graph as we need in our application. I posted a question in the forum, lets see...

[2019-11-18 09:54] miguelriemoliveira commented on #52
Hum, I am not so keen as you in going into the json. I am not sure it will all work without us having to do a specialized json parser for this ... In any case, we all agree this is a low priority one right?

[2019-11-18 10:12] eupedrosa commented on #52
Tomorrow (19 nov 19), I will try to sell you, @miguelriemoliveira, the json approach.

I've realized that outputting an `.urdf` as the final result of the calibration is something that I would like to have. Just like you said it would be. However, I think that the intermediate steps of the calibration should stay out of the xacro/urdf. It seems that @afonsocastro also agrees.

For my use case this

[2019-11-18 22:25] tiagomfmadeira commented on #44
I have integrated the previously described method of clustering with the rest of the implementation.
It is now possible to read the clouds from the **/camera/depth/points** topic, extract the clusters, and publish a colored portion of the cloud in /camera/depth/points/labeled.
However, the clustering seems to be too slow, at least with the parameters I'm currently experimenting with... Will look i

[2019-11-18 22:43] miguelriemoliveira commented on #44
Great news! It looks great. The problem of being to slow, can you quantify, how many hz?

We had the idea of clustering in the image space, we could go into that ...

[2019-11-21 17:32] miguelriemoliveira commented on #52
@eupedrosa says problem solved with #53

[2019-11-21 17:32] #52 closed

[2019-11-21 17:33] miguelriemoliveira commented on #50
After discussion with @eupedrosa and @afonsocastro we decided the best and fastest way to go is to use rviz. Will work on it.

[2019-11-21 17:34] miguelriemoliveira commented on #46
After #53 which pushed some parameters into the calibration configuration file, this is not relevant anymore.

[2019-11-21 17:34] #46 closed

[2019-11-22 16:06] miguelriemoliveira opened #54 "Add parent and child link information to transforms in json file"
It would be useful to pulish back the transforms to ROS...

![image](https://user-images.githubusercontent.com/11350998/69441124-fe609800-0d41-11ea-934d-6eddd70d96ca.png)

[2019-11-22 18:09] eupedrosa commented on #54
You want the full **tf** tree?

[2019-11-23 10:51] miguelriemoliveira commented on #54
We have it already, but the parent and child links were not there. I am currently deducing them from the transform name, but it is best to have this information explicit.

[2019-11-24 23:41] miguelriemoliveira commented on #49
This is deprecated after  #50

[2019-11-24 23:41] #49 closed

[2019-11-24 23:48] miguelriemoliveira commented on #50
Made some progress. Right now I am showing the car and sensor models, the tfs, the images and the laser data. Here's an example:

https://youtu.be/M22ZAQuAusw

Will include the chessboards and other inportant features in the near future.

[2019-11-25 10:40] miguelriemoliveira opened #55 "Reorganize optimization dictionaries"
Hi @afonsocastro

I am doing the visualization and getting really confused about the dictionaries we have in our optimization.

So there are:

1. dataset_sensors, which is read from the file, contains keys **sensors** and **collections**
(It is weird that a **dataset_sensors** contains a key **sensors**)
2. We then augment the dataset_sensors by adding another key, **chessboards**
3. Then we have

[2019-11-25 12:03] miguelriemoliveira commented on #50
Now we are drawing the chessboards for each collection ...

![image](https://user-images.githubusercontent.com/11350998/69539028-939aa100-0f7b-11ea-9dcd-0f6e056d6a56.png)

[2019-11-25 13:17] eupedrosa commented on #50
:+1: nice

[2019-11-25 15:56] eupedrosa opened #56 "matplotlib in the optimizer code base."
I noticed that the `Optimizer` class depends on `matplotlib`.
What is the reasoning behind this coupling?
For example, in #50 RViz is being used for visualization, however a `matplotlib` figure stills *pollutes* the screen. Should we try to decouple this?

[2019-11-25 16:08] miguelriemoliveira commented on #56
This is for displaying the figure showing the residuals, which is a figure detached from the particular optimization problem you have configured.

So I think at least for now this should stay as is...

[2019-11-25 16:09] miguelriemoliveira commented on #56
If you agree please close ...

[2019-11-25 16:21] eupedrosa commented on #56
Ok, I understand. For now it is useful to stay as it is. In the future we may address this issue again if necessary.

[2019-11-25 16:21] #56 closed

[2019-11-25 16:26] eupedrosa opened #57 "Location, location, location..."
In which package should I put an the *arm_and_camera* optimization problem? In the `OptimizationUtils`  or  `interactive_calibration`?
Being a calibration problem, I think that is should go to the `interactive_calibration` package. What is your opinion?

[2019-11-25 17:32] miguelriemoliveira commented on #57
Yes, you are doing a code which is parallel to the
https://github.com/miguelriemoliveira/OptimizationUtils/tree/master/test/sensor_pose_json_v2
folder

Regards,
Miguel

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portu

[2019-11-26 00:04] miguelriemoliveira opened #58 "Cannot run First guess"
Hi @eupedrosa ,

cannot run the first guess. The output is:

Perhaps I am not running it well. Can you please replace this command for running the first guess by the new appropriate command?
https://github.com/lardemua/AtlasCarCalibration#usage-instructions

Thanks,
Miguel

[2019-11-26 10:28] miguelriemoliveira opened #59 "Create the concept of an anchored sensor"

[2019-11-26 11:28] miguelriemoliveira opened #60 "Refactor atlascar2_calibration.json to calib_config.json"

[2019-11-26 11:29] #58 closed

[2019-11-26 13:21] miguelriemoliveira opened #61 "Optimization plot global error over time"

[2019-11-26 13:24] #59 closed

[2019-11-26 13:24] miguelriemoliveira opened #62 "Display the anchored sensor in rviz"

[2019-11-26 13:30] eupedrosa opened #63 "Add configurable boundaries to sensors."
Certain sensors should have boundaries during optimization.

[2019-11-26 15:32] eupedrosa opened #64 "Data collector should consider min/max laser ranges"

[2019-11-26 16:25] #50 closed

[2019-11-26 19:01] miguelriemoliveira opened #65 "New intrinsic calibration of both cameras"
Hi @afonsocastro ,

this is important to make sure we do not have problems from this part. The ideal case would be to calibrate the intrinsics using the bagfile ... can you try?

[2019-11-26 19:01] miguelriemoliveira commented on #57
We talked about this today.

[2019-11-26 19:01] #57 closed

[2019-11-26 22:16] afonsocastro commented on #65
Yes, I will try with the bagfile

[2019-11-26 23:13] miguelriemoliveira commented on #65
Great!

[2019-11-27 10:49] eupedrosa opened #66 "Python style guide."
Yesterday, @miguelriemoliveira, mentioned that he is using [PEP8](https://www.python.org/dev/peps/pep-0008/) style guide for python code. In my opinion we should all adopt this style guide.

What do you all think? Or maybe I was the only one not following pep8.

[2019-11-27 10:55] miguelriemoliveira commented on #66
Hi,

To the best of my knowledge, Tiago and Afonso are also using pycharm and
thus should be compliant with pep8.

There is only one thing I can recall where we are not complying: function
names should be lowercase.

We may change this in the future.

A Qua, 27/11/2019, 10:49, Eurico F. Pedrosa <notifications@github.com>
escreveu:

[2019-11-27 14:35] eupedrosa commented on #66
As I suspected. It was only me.
I will close this issue and assume that pep8 should be respected.

[2019-11-27 14:35] #66 closed

[2019-11-27 23:29] afonsocastro commented on #65
Bad news: our bagfile isn't good enough to enable an intrinsic calibration...
After all bag recorded time, and 33 samples added by the ROS camera calibrator, here's the calibrator:

![Captura de ecrã de 2019-11-27 23-06-17](https://user-images.githubusercontent.com/47828797/69765650-a4f6cf80-116c-11ea-96ca-6c57f41b7a5f.png)

X and Y coordinates and the chessboard size haven't changed sufficiently.

[2019-11-27 23:54] miguelriemoliveira commented on #61
@eupedrosa , @tiagomfmadeira and @afonsocastro , Implemented this one. It was more or less easy to do.

https://www.youtube.com/watch?v=8e7WcwB3ink&feature=youtu.be

[2019-11-27 23:54] #61 closed

[2019-11-28 00:01] miguelriemoliveira opened #67 "List known calibration procedures"
https://github.com/ethz-asl/kalibr

https://github.com/mikeferguson/robot_calibration

[2019-11-28 00:10] miguelriemoliveira commented on #65
You could just use a matlab camera calibration which reads from a folder of png images

https://www.mathworks.com/videos/camera-calibration-with-matlab-81233.html

and then adapt the output of matlab to produce the yaml.

But I think it is best to calibrate the camera using ros.

[2019-11-28 02:40] afonsocastro commented on #65
Ok, I just uploaded the yaml files with the values of the matlab intrinsic calibration of each camera.
They have less information than the yaml files returned by the ROS calibration, but I think we only need the intrinsic matrix and the distortion parameters.
I am not very confident about this, we can discuss it tomorrow

[2019-11-28 11:16] tiagomfmadeira commented on #44
Attempting a 2D approach to the clustering for optimization purposes using FloodFill and image contours.
![Screenshot from 2019-11-26 16-39-43](https://user-images.githubusercontent.com/15963210/69802028-83c7ca80-11d0-11ea-8466-b3b799442078.png)

[2019-11-28 12:09] miguelriemoliveira commented on #65
Calibrate in ROS 3 times in a row to make sure we have a good calibration.

[2019-11-28 12:11] miguelriemoliveira commented on #36
Try out new orthogonal residuals for all the points

![image](https://user-images.githubusercontent.com/11350998/69805233-2899d600-11d8-11ea-8155-9693fa73274b.png)

[2019-11-28 12:14] miguelriemoliveira opened #68 "New bag file of the ATLASCAR2"
If possible we should include 3d cameras already mounted. Talk to João Figueiredo.about the intel real sense

Talk to @tiagomfmadeira about asus xtion

T

[2019-11-28 12:17] miguelriemoliveira commented on #64
For reference, while this is not working we have to remove from the calibration_26nov2019 dataset collections:

5 6 7 12 13 14 15

[2019-11-28 15:34] miguelriemoliveira commented on #36
Example of launchig the code

`test/sensor_pose_json_v2/main_ros_visualization.py -json ~/datasets/calibration_26nov2019/data_collected.json -cradius .5 -csize 0.101 -cnumx 9 -cnumy 6 -vo -si -csf "lambda x: not str(x) in ['5', '6', '7', '12', '13', '14', '15']  and int(x)<7" -ssf "lambda name: name=='top_left_camera' or name=='right_laser'"`

[2019-11-28 16:03] miguelriemoliveira commented on #64
Also consider the problem of removing a percentage of points at the border.

[code]

[2019-11-28 16:50] eupedrosa commented on #55
*Dictionary* Everything!!! :smile:

[2019-11-29 10:05] miguelriemoliveira commented on #55
Actually I am all for it. We don't have to try to memorize complex data structures, they're all dictionaries.

And you can just save them to a json on the fly ...

[2019-11-29 10:49] eupedrosa opened #69 "[OptimizationUtils] Optimizer will fail if visualization function is not set."
I got the following error:

[code]

Is forcing a visualization function an intended behavior?

[2019-11-29 10:50] miguelriemoliveira commented on #69
No, not really. How are you launching you code?

Are you using the command line parameter -vo (--view_optimization)?

[2019-11-29 11:03] eupedrosa commented on #69
I am trying to create a new optimization script for the *eye in the world* problem. Not the ones that already exist. I already understand what is happening, not a big issue. The variable `self.always_visualize` is not initialized at the `__init__` function.

[2019-11-29 11:05] miguelriemoliveira commented on #69
OK, but if it was me I would just copy paste to maintain a similar structure and then change what was needed.

[2019-11-29 11:10] miguelriemoliveira commented on #69
Great, please close if solved.

[2019-11-29 11:12] eupedrosa commented on #69
True, but that way I will not learn. You already know how it works. Anyhow, I am trying to follow the structure that you already have. The filtering stuff is very useful.

[2019-11-29 11:14] #69 closed

[2019-11-29 11:30] miguelriemoliveira commented on #69
Great! My goal was just to have the more silimar structure as possible because, remember, in the future, the objective could be to merge both these codes to do sensor extrinsic + hand in eye + eye in world calibration all in one.

[2019-11-29 13:05] eupedrosa opened #70 "Chessboard detection is not invariant to orientation."
I noticed that, while collecting data, the chessboard detection can have different orientations. Look at the bottom right of the images:
![collect0](https://user-images.githubusercontent.com/6196901/69870722-b93fe700-12a8-11ea-8a3c-c2e1bc32b6b2.png)

![collect1](https://user-images.githubusercontent.com/6196901/69870743-c8269980-12a8-11ea-9a08-ee136f3fa8b7.png)

Is this something that you are awar

[2019-11-29 13:09] miguelriemoliveira commented on #70
I was aware of this and this is a problem: if it happens on the dataset it will ruin your calibration (intrisinc, extrinsic, whatever).

We have a calibration pattern with oddxeven number of corners. This I think makes the detection more robust to these situations.

However, whenever we note this occurs, we just thrash the dataset and start a new one.

@afonsocastro  you should also be carefull wi

[2019-11-29 13:10] miguelriemoliveira commented on #70
@eupedrosa is your chessboard odd x even (or  even x odd) or is it even x even (or odd x odd)?

[2019-11-29 13:18] eupedrosa commented on #70
It is a odd x odd chessboard. Do I have to change it? I think I can try to solve this with software!!!!

[2019-11-29 13:47] miguelriemoliveira commented on #70
Changing it will improve I think  but I am not sure it will solve the whole problem.

Solving with software is cumbersome since you would have to make some kind of assumption which is not general and, furthermore, you would have to add this new software to the opencv chessboard detection code, and ask for a pull request.

If you say solve with software only for our calibration (which means you com

[2019-11-29 14:10] eupedrosa commented on #70
It happens way to often.
I solved it with a *hack*. It is not very ugly. It adds 3 lines of code and 1 line change. However, it adds the assumptions that the chessboard will maintain an angle bellow 90 degrees. Is this bad?

[2019-11-29 14:12] miguelriemoliveira commented on #70
Where is this hack located?

[2019-11-29 14:13] miguelriemoliveira commented on #70
I like the "not very ugly" expression ...

[2019-11-29 14:24] eupedrosa commented on #70
The hack is located at `interactive_data_label.py`.
Check line 232
[code]
It just verifies the x coordinate difference between the first corner and the last corner in the same row.
If the difference is positive it means that it is flipped. I just reverse the corner array.

[2019-11-29 14:32] miguelriemoliveira commented on #70
It looks great. Does it work? Is the drawing rotated back to the propper place? Do you think it may have problems in other scenarios?

If it works my opinion is to include it. I would just recomend you do a ros warn every time you do this, to notify the user we are doing it.

[2019-11-29 14:35] miguelriemoliveira opened #71 "Run a test in the optimization_utils before the optimization starts to verify if the objective function returns the correct number of the number of residuals"
@afonsocastro , @tiagomfmadeira @eupedrosa , anyone with nothing to do : - )

[2019-11-29 14:40] eupedrosa commented on #70
Yes, it draws the chessboard in the proper place. I do not thing it may cause any problem beyond the one that I already mention. The ROS warn is a good idea. I will test it a little bit more.

[2019-11-29 14:52] miguelriemoliveira commented on #70
Sounds great. Can you post some images showing you solved the problem of
the images you posted prevuously?

A Sex, 29/11/2019, 14:40, Eurico F. Pedrosa <notifications@github.com>
escreveu:

[2019-11-29 15:42] eupedrosa commented on #70
I give you moving images (without the hack and with the hack)
![not_reversed](https://user-images.githubusercontent.com/6196901/69879112-87d21600-12be-11ea-9df5-f3918cfbac2b.gif) ![reversed](https://user-images.githubusercontent.com/6196901/69879125-91f41480-12be-11ea-9146-07228046dd7a.gif)

Not synchronized but..

[2019-11-29 16:52] miguelriemoliveira commented on #70
This is really nice, gifs. I got to do that as well.

Not syncronized ... booo !

[2019-11-29 16:53] miguelriemoliveira commented on #70
:+1:

[2019-11-29 16:53] miguelriemoliveira commented on #70
Reopenning, the commit should close the issue ...

[2019-11-30 02:03] #64 closed

[2019-11-30 11:32] miguelriemoliveira commented on #70
Hi @eupedrosa ,

Just remembered we also will have this problem in

https://github.com/miguelriemoliveira/OptimizationUtils/blob/20058582f784469088dd621f61e55c97d6307ef8/test/sensor_pose_json_v2/chessboard.py#L227

Actually, the idea already in a json there was not to redetect the chessboard but to use the corners from the initial detection contained in the json.

@eupedrosa can you do this with @

[2019-12-01 11:28] miguelriemoliveira commented on #71
Woring on it ...

[2019-12-01 11:35] miguelriemoliveira commented on #71
Done in https://github.com/miguelriemoliveira/OptimizationUtils/commit/9fb71ef161bf45105ab892aac03cd846a80ed119

[2019-12-01 11:35] #71 closed

[2019-12-01 11:55] miguelriemoliveira opened #72 "Data collector not saving the data that is labelled"
This is a big bug. When looking at the

https://github.com/lardemua/AtlasCarCalibration/blob/6264bec39e22645006f33b4346872adada4a1ef4/interactive_calibration/src/interactive_calibration/data_collector_and_labeler.py#L137

in particular

https://github.com/lardemua/AtlasCarCalibration/blob/6264bec39e22645006f33b4346872adada4a1ef4/interactive_calibration/src/interactive_calibration/data_collector_an

[2019-12-01 12:05] miguelriemoliveira opened #73 "Not saving up to date transforms in json file!!!"
Hi @afonsocastro and @eupedrosa ,

I was looking at the https://github.com/lardemua/AtlasCarCalibration/blob/master/interactive_calibration/src/interactive_calibration/data_collector_and_labeler.py

and the
https://github.com/lardemua/AtlasCarCalibration/blob/master/interactive_calibration/src/interactive_calibration/interactive_data_labeler.py

and noticed a problem of that the data being labelle

[2019-12-01 12:09] #54 closed

[2019-12-01 13:48] eupedrosa commented on #73
For the *eye in world* it is a problem if the transformations are not correct. I did not notice because I was not there yet. In fact, it was my next step.

I am yet to understand the problem in #72. Last week we did some data collection, right? And it was working, or not?

[2019-12-01 15:02] miguelriemoliveira commented on #72
Hi @eupedrosa ,

the problem here is that you have the timercallback inside the **interactive_data_labeller** periodically clustering the data, but when the user saves a collection the **data_collector_and_labeller** actually waits for new messages which have not been labelled.

Perhaps it is not noticeable for high streaming frequencies, but we should save to the json the sensor data message with

[2019-12-01 15:04] miguelriemoliveira commented on #73
@tiagomfmadeira you should also know about this since you are using the collector for 3d points clouds. Also, check #72 ...

[2019-12-01 15:05] miguelriemoliveira commented on #73
It worked (more or less) because the sensor frequencies are high and we only store collections after we see a static scene for a couple of seconds. Then again, perhaps the errors we've seen (or part of then) were related to this ...

[2019-12-01 15:26] eupedrosa commented on #72
Now I understand.
This explains something that happened to me. I clicked to collect data when the chessboard was properly detected but the one that was actually save failed to detect. I was using a replay with a rate of 0.5.

[2019-12-01 16:18] eupedrosa commented on #73
Well, this needs to be fixed. The transformations are the same for all collections. This is OK for AtlasCar but not OK for the arm, for obvious reasons.

I believe that may be another problem. Time synchronization. The transformations should be from the same (or approximate) timestamp as the rest of the data. This may not be necessary if we assume that the user collects data when the system is ste

[2019-12-01 16:23] miguelriemoliveira commented on #73
Yes, for now we just collect tfs all at the same time. I am on it ...

Latter on we may try to devise a less naive approach, but the idea was to assume that the environment was static arround the moment of collecting the data.

It should be enough I think ...

[2019-12-01 16:36] #72 closed

[2019-12-01 16:37] miguelriemoliveira commented on #73
Solved, @eupedrosa when you can please try it out with the UR10.

[2019-12-01 16:37] miguelriemoliveira commented on #72
Solved. @eupedrosa if you see again what you described let me know ... it should not happen ...

[2019-12-02 16:30] eupedrosa commented on #73
The transformations are empty in JSON file. I guess that @miguelriemoliveira's common cold was underestimated.

[2019-12-02 17:27] #73 closed

[2019-12-02 17:32] miguelriemoliveira commented on #73
Thanks. I did not understand you had solved it so I went to look at it and changed a bit.
The main thing was as you say to read the abstract transforms after building the list of sensors...

[2019-12-02 23:00] miguelriemoliveira commented on #68
Hi @afonsocastro , don't forget to commit the new xacro.

It should go to the atlas2-description , right?

[2019-12-02 23:01] miguelriemoliveira commented on #68
Here is a xacro of an asus xtion to copy from ...

https://github.com/tu-darmstadt-ros-pkg/hector_models/blob/kinetic-devel/hector_sensors_description/urdf/asus_camera.urdf.xacro

[2019-12-02 23:03] miguelriemoliveira commented on #68
and the video from @eupedrosa I told you about is on issue #70, it is really nice.

[2019-12-02 23:05] miguelriemoliveira commented on #42
Hi @eupedrosa I was looking at the images you have in the video and thinking that you'll need also images with the chessboard rolled and pitched, as in an intrinsic calibration.

[2019-12-03 00:10] miguelriemoliveira commented on #70
@eupedrosa  and @afonsocastro , just did it what I suggested above. Closing issue.

[2019-12-03 00:10] #70 closed

[2019-12-03 11:25] miguelriemoliveira opened #74 "Record all transforms to the json"
In #42 there was the need to record transforms not present in the sensor chains. Now we should record all tfs.

[2019-12-03 11:26] #74 closed

[2019-12-03 16:21] afonsocastro commented on #65
First attempt:

[code]

[2019-12-03 16:23] afonsocastro commented on #65
http://wiki.ros.org/openni_launch/Tutorials/IntrinsicCalibration

[2019-12-03 16:49] afonsocastro opened #75 "Compressed Depth image and republish"

[2019-12-03 18:51] miguelriemoliveira opened #76 "Change the name of the frontal_rgbd_camera to top_frontal_rgbd_camera"
Hi @afonsocastro ,

a refactor should help to do this. I can help.

[2019-12-03 18:53] miguelriemoliveira opened #77 "Change the xacro of the frontal rgbd camera to place it on the top of the roof"

[2019-12-03 23:00] miguelriemoliveira commented on #75
From what I read here this should work. I will try once I have time and a camera nearby.

https://wiki.ros.org/compressed_depth_image_transport

[2019-12-03 23:03] miguelriemoliveira commented on #76
I am on it ...

[2019-12-03 23:07] miguelriemoliveira commented on #76
Done, changed to "top_center_rgbd_camera" to be more consistent with "top_left_camera". Cannot verify if it is working, @afonsocastro , can you test tomorrow?

If it works please close the issue ...

[2019-12-03 23:10] afonsocastro commented on #76
I will test it now, im working on atlascar

[2019-12-03 23:12] miguelriemoliveira commented on #76
Thanks!

[2019-12-03 23:13] eupedrosa commented on #75
You should also take a look at this https://wiki.ros.org/dynamic_reconfigure
Specially the `dynparam` command-line tool. It can be uses to change the parameters.

[2019-12-03 23:19] afonsocastro commented on #76
It all works! but rviz gives a warning:

![Screenshot from 2019-12-03 23-18-43](https://user-images.githubusercontent.com/47828797/70098257-58efd300-1623-11ea-84c6-c875dc24317e.png)

[2019-12-03 23:19] miguelriemoliveira commented on #75
Thanks, but this is the same functionality as when we did:

`rosparam set/get <param_name> <param_value>`

https://wiki.ros.org/rosparam

Or am I missing something?

[2019-12-03 23:21] miguelriemoliveira commented on #76
I think that was there before this afternoon (@eupedrosa can you conform?), so I would say the refactor worked.

Waiting for @eupedrosa to close.

Thanks @afonsocastro !

[2019-12-03 23:28] miguelriemoliveira commented on #75
@afonsocastro since you are at the atlascar can I also ask you to check the frequency of the topic

/top_center_rgbd_camera/depth/image/compressedDepth (or something similar)

using a

rostopic hz <topic name>

[2019-12-04 00:08] afonsocastro commented on #75
frequency = 3.6 hz ?

![Screenshot from 2019-12-04 00-07-05](https://user-images.githubusercontent.com/47828797/70100592-167dc480-162a-11ea-828c-9acbc7244633.png)

[2019-12-04 00:37] afonsocastro commented on #65
TOP LEFT CAMERA:

1 attempt:
[code]
2 attempt:

[code]

3 attempt:

[code]

[2019-12-04 01:07] afonsocastro commented on #65
TOP RIGHT CAMERA

1 attempt:
[code]
2 attempt:

[code]

3 attempt:

[code]

[2019-12-04 01:22] afonsocastro commented on #65
TOP CENTER RGB-D CAMERA (RGB)
1 attempt:
[code]

2 attempt:
[code]

3 attempt:
[code]

[2019-12-04 02:02] afonsocastro commented on #65
About this last 3 intrinsic calibrations:
1 - All four calibrator parameters (X, Y, Size, Skew) were green = enough different detected chessboard poses
2 - all intrinsic calibrations (3 per rgb camera) were computed with a database of (more or less) 50 image samples
3 - any of the chess corners was detected misplaced: whenever that happened, I aborted the calibration and started a new one (referen

[2019-12-04 02:03] afonsocastro opened #78 "Depth camera cannot detect chessboard"

[2019-12-04 02:07] afonsocastro commented on #65
It wasn't yet possible to perform the intrinsic calibration of the depth camera (top_center_rgbd_camera). The related problems are discussed in #78

[2019-12-04 02:17] afonsocastro commented on #78
Tried to calibrate according to http://wiki.ros.org/openni_launch/Tutorials/IntrinsicCalibration .
Here is the calibrator:

![Screenshot from 2019-12-04 01-28-14](https://user-images.githubusercontent.com/47828797/70106269-12a66e00-163b-11ea-9f39-b2e308c49976.png)

It never detected the chessboard.
I tried without any light source, but also nothing... Tried with only the car presence lights (cover

[2019-12-04 11:53] miguelriemoliveira commented on #75
Yes, this is the problem we had yesterday, the frequency is too slow ...

[2019-12-04 12:03] miguelriemoliveira commented on #65
Hi @afonsocastro ,

very nice work, and great work also on documenting what you did.

Analysing the results I noticed we get very different values in the 3 calibrations.
For example, for **top_left_camera**, **fx** (zoom factor along x axiss, which is one of the parameters that most influences the projections) is **[1250.153116 ; 1137.131374  ; 1214.399004]**

Average is 1200 and **standard deviat

[2019-12-04 12:05] miguelriemoliveira commented on #78
Hi @afonsocastro , which command do you use?

Also, did you cover the IR projector as stated here "The simplest solution is to cover the projector (lone opening on the far left) with one or two Post-it notes, mostly diffusing the speckles"

[2019-12-04 12:14] eupedrosa commented on #78
@afonsocastro, I think that you are using the wrong image. You should use the `/camera_name/ir/image` topic (or something similar).

[2019-12-04 12:17] eupedrosa commented on #75
You are missing something, `dynparam` is used to tell the a node to load the parameters from the param server.

https://wiki.ros.org/dynamic_reconfigure

[2019-12-04 13:35] eupedrosa commented on #76
It is a strange warning. I think the warning we saw was different. Maybe it is worth trying to understand what is happening.

[2019-12-05 15:29] miguelriemoliveira commented on #75
Closed by https://github.com/lardemua/atlas-core/commit/417ca9e5aef489ca12851b61d3bf7f607b3c3772

[2019-12-05 15:29] #75 closed

[2019-12-05 16:23] #77 closed

[2019-12-05 16:24] #65 closed

[2019-12-05 16:25] #76 closed

[2019-12-05 17:00] afonsocastro commented on #68
`rosrun rqt_bag rqt_bag` to cut a big bagfile

[2019-12-05 20:02] afonsocastro commented on #68
created

[2019-12-05 20:02] #68 closed

[2019-12-06 10:11] miguelriemoliveira commented on #77
Hi @afonsocastro

I think you did not commit the last changes where we placed the model frame on top of the base_footprint.

![image](https://user-images.githubusercontent.com/11350998/70315094-c90f7c00-1810-11ea-9900-65c843209199.png)

I will do it here and push, please stash the changes in the atlascar2 when you can.

[2019-12-06 10:20] miguelriemoliveira commented on #77
Here it is ...
https://github.com/lardemua/atlas-core/commit/18598440e6bf9e3376821457af6fd7e83dec5048

[2019-12-06 10:20] miguelriemoliveira opened #79 "Generate point clouds when playing back bagfile"

[2019-12-06 10:44] miguelriemoliveira commented on #79
Hi @eupedrosa ,

I think we should have saved the

` /top_center_rgbd_camera/depth/image_raw/compressedDepth`

instead of

` /top_center_rgbd_camera/depth/image/compressedDepth`

Now I am trying to generate the point clouds using the openni2_launch with the "load_drivers" argument set to false, and the output is:

So they are waiting for the image_raw rather than the image ,,,

will keep looking i

[2019-12-06 11:03] eupedrosa commented on #79
You should not use `openni2_launch`. I would recommend to use the node `depth_image_proc/point_cloud_xyz` from http://wiki.ros.org/depth_image_proc.
This way we can skip the openni2 in the replay.

[2019-12-06 11:05] miguelriemoliveira commented on #79
Yep, I was investigating just that, however there are nodelets rather than nodes and it becomes a whole different thing.

![image](https://user-images.githubusercontent.com/11350998/70318492-1d6a2a00-1818-11ea-8b33-a89379d03f87.png)

I would have to launch a nodelet manager, then plugin the propper nodelet, I have done this kind of stuff in the RACE project and it is quite dificult.

I would vote

[2019-12-06 11:07] miguelriemoliveira commented on #79
So, if I would be trying to get a new bag file next week (I will try to come help Afonso), perhaps I will also try to improve the chessboard with the velcro or velvet idea...

[2019-12-06 11:16] eupedrosa commented on #79
It's not that hard..
By the way, did you try remapping the topic to `../image_raw` ? Try using `image_raw` as the topic output in the `republish` node.

[2019-12-06 11:17] miguelriemoliveira commented on #79
Just setup a nodelet manager and a nodelet to generate point clouds, making this read from the depth/image (rather than the usual depth/image_raw) , it launches but when I subscribe to the point cloud the nodelt aborts with the message

I am guessing he's complaining he's complaining that the depth image is float32 rather that the required uint16, which, in other words is, he's waiting for depth/i

[2019-12-06 11:18] eupedrosa commented on #79
It is complaining about message type mismatch. It was expecting a `CameraInfo` and it got an `Image`.

[2019-12-06 11:28] miguelriemoliveira commented on #79
done.

did it now and it works!

![image](https://user-images.githubusercontent.com/11350998/70319628-a71af700-181a-11ea-9335-cde98950eebe.png)

Colored point cloud does not work, but I think this is more than enough for @tiagomfmadeira

In any case, @eupedrosa I think we should fix it to save in the bag the image_raw data. You agree?

@afonsocastro , my fault (read above) but we are probably goin

[2019-12-06 11:28] miguelriemoliveira commented on #79
Thanks for the quick help @eupedrosa

[2019-12-06 11:36] eupedrosa commented on #79
I agree.

:+1:

[2019-12-06 11:41] miguelriemoliveira commented on #79
https://github.com/lardemua/atlas-core/commit/aad11187edcb64ae13238e7f51b2739087906cff

[2019-12-06 16:09] eupedrosa opened #80 "Houston, we cannot transform to root."
I need to get the transformation from the `chessboard_link` to the root frame.  I believe there is _no_ function in the Optimization package that provides this functionality. The `getAggregateTransform()` only works if the parent is the root link. This works for AtlasCar, but not for the arm that has several links in the middle.

[2019-12-06 19:46] miguelriemoliveira commented on #80
Roger that. Only tonight or tomorrow I will be able to take a look. In the
meantime you can meditate in deep space ...

A Sex, 6/12/2019, 16:09, Eurico F. Pedrosa <notifications@github.com>
escreveu:

[2019-12-06 20:00] eupedrosa commented on #80
I have an outer space solution.
Use https://github.com/safijari/tiny_tf to replicate ROS tf. I will work on this :smiley:

[2019-12-07 00:36] miguelriemoliveira commented on #80
Hi @eupedrosa

From what you describe

I think it should work. Just provide the propper chain. The function is like this:

[code]

So I would just get a chain from the chessboard_link to the root frame. The chain is actually a list of dictionaries. Here  is an example of how its built.

https://github.com/lardemua/AtlasCarCalibration/blob/7c7b6958fc8457b8e4d73b8c1e747bc69e2caa0d/interactive_calibr

[2019-12-07 00:46] #79 closed

[2019-12-07 00:48] miguelriemoliveira commented on #80
Actually, I can do a function **GetAggregateTransformFromFrames** (the only thing I miss in python from c++ is function overload) which will create the chain and call **getAggregateTransforms**.

Should I do it?

[2019-12-07 00:49] miguelriemoliveira opened #81 "Show initial sensor poses"
Should help to understand how much (if any) the optimization moved each sensor.

[2019-12-07 08:58] miguelriemoliveira commented on #80
Hi again,

after sleeping on it I realized that you are doing this in your optimizer code and as such you don't have access to the ros ecosystem anymore, so no tfs, so this solution

https://github.com/lardemua/AtlasCarCalibration/blob/7c7b6958fc8457b8e4d73b8c1e747bc69e2caa0d/interactive_calibration/src/interactive_calibration/data_collector_and_labeler.py#L89-L98

will not work.

What we need is

[2019-12-07 09:16] eupedrosa commented on #80
We will then compare solutions. As I mentioned before, I used a package I
found in GitHub that replicates the TF outside ROS.
I already have code that is optimizing :)
But I only achieve it moments before turning off the computer, so I have to
make more test to make sure it is working properly.

A sábado, 7 de dez de 2019, 08:58, Miguel Riem de Oliveira <
notifications@github.com> escreveu:

[2019-12-07 09:35] miguelriemoliveira commented on #80
Moments before fallin asleep? Should be full of bugs : -)

Yes, great. We will compare then. I am having a lot of fun with this and already have the restored tf tree from the json file (no ros ecosystem):

![restored_tf_tree](https://user-images.githubusercontent.com/11350998/70372285-e0b03880-18d4-11ea-8269-0b6481f893dd.png)

[2019-12-07 11:11] miguelriemoliveira commented on #80
I think its done. Took a while because we had to consider also the possibility of the chain providing the inverse transforms when compared to the existing ones.

Should be working. I tested with:

[code]

and it worked fine. For example when doing

[code]

I get the expected identity 4x4 matrix .

Tested with some other frames and they work fine.

You must make a new dataset, cannot use previous o

[2019-12-07 17:15] eupedrosa opened #82 "Do you like my Pose?"
Hi,
Good News Everybody !!
I got an initial version of the optimization running (and working!!!). Here is a short clip with the poses provided by the optimization.
![first_optimization](https://user-images.githubusercontent.com/6196901/70378141-ffceba80-1914-11ea-9d45-003b4888552c.gif)

[2019-12-07 17:23] eupedrosa commented on #82
For reference, this was the *first guess*
![reference_pose](https://user-images.githubusercontent.com/6196901/70378270-3f49d680-1916-11ea-9e2e-a6e249198037.gif)

[2019-12-07 18:38] miguelriemoliveira commented on #82
This is really nice. In the first video, the overlap of the virtual robot arm with the video from the calibrated camera looks fantastic. Congratullations!

One more paper to write :-)?

[2019-12-07 18:38] miguelriemoliveira commented on #42
This is done, right?

[2019-12-07 18:43] miguelriemoliveira commented on #82
For writting a paper it would be nice to get a calibration usin standard tools (visp eye in world). You said your students succsessfully did this?

also, the comparison should be numeric, so you should compute the reprojection error for all collections and plot it.

@afonsocastro did this before, perhaps he can tell you how to do it  really quick ...

[2019-12-07 18:43] miguelriemoliveira commented on #82
@tiagomfmadeira you should see this as well ...

[2019-12-07 18:45] miguelriemoliveira commented on #82
white background everywhere for the papers please :-)

[2019-12-07 19:19] eupedrosa commented on #42
Yes. This can be closed.

[2019-12-07 19:19] #42 closed

[2019-12-07 19:34] eupedrosa commented on #82
I was surprised that it work so well. I used 25 collections and it took 16 seconds to optimize.
But there are a few details we have to discuss before moving forward. Next Tuesday would be nice.

I have to re-check this next week. Last time I asked them they said *yes*, but I need more details.

[2019-12-08 21:24] afonsocastro commented on #82
This looks very nice!! The poses really improved from the first guess. Yes, I can help with the visualization of the reprojection errors.

[2019-12-10 10:39] eupedrosa opened #83 "Acquiring Callibration Targets"
https://calib.io/

[2019-12-10 13:53] miguelriemoliveira commented on #81
![image](https://user-images.githubusercontent.com/11350998/70535183-77d6f380-1b54-11ea-918b-236e0b3de58d.png)

[2019-12-10 13:56] miguelriemoliveira opened #84 "Pass calibration_config json file ccontent to data_collected.json"
Some calibration configurations are required for the optimization.

[2019-12-10 13:57] miguelriemoliveira commented on #84
First we must ensure calibConfig funcion creates a dictionary

[2019-12-10 14:05] miguelriemoliveira opened #85 "List problems in the 5th of December bag file"
Please add everything you notice ...

A lot of time with chessboard not seen from cameras ...

![image](https://user-images.githubusercontent.com/11350998/70536117-16178900-1b56-11ea-97ef-6e4611612d7f.png)

[2019-12-10 15:20] tiagomfmadeira opened #86 "Interactive markers glitch"
Interactive markers used while labelling the data suddenly disappear and then reappear with no obvious cause.

[2019-12-10 15:21] tiagomfmadeira commented on #85
Keep the chessboard away from the holder's body to ease segmentation.

[2019-12-10 16:30] miguelriemoliveira opened #87 "Consider the detection of a charuco board"

[2019-12-10 16:31] miguelriemoliveira opened #88 "Enhance the collect and label to check delta between msgs stamps"
If delta is large give out a warning or do not insert into the json.

[2019-12-10 22:41] miguelriemoliveira commented on #83
Hi @afonsocastro , @tiagomfmadeira  and @eupedrosa , don't forget to add the issues to our project, otherwise I miss them ...

[2019-12-10 22:42] miguelriemoliveira commented on #86
@tiagomfmadeira , @afonsocastro and @eupedrosa , _deja vu_ ...

[2019-12-10 22:44] miguelriemoliveira commented on #85
my bad, my bag ...

[2019-12-10 22:50] miguelriemoliveira commented on #84
Hi @eupedrosa , you will fix this? Leave it open?

[2019-12-10 22:51] miguelriemoliveira commented on #86
I will take a look.

[2019-12-10 22:54] eupedrosa commented on #67
@miguelriemoliveira take a look at https://github.com/tudelft-iv/multi_sensor_calibration

[2019-12-10 22:55] eupedrosa commented on #84
I will fix this.

[2019-12-10 23:09] miguelriemoliveira commented on #86
I think this should be related to the detection of chessboards in the camera, or more specifically when this detection fails ... here's a printout of the time each interactive labeller takes to label the data

The screenshot was captured when the markers disappear from rviz. Notice how the chessboard latellers are taking 200 milisecs to "try to detect".

I think this is what is delaying everything

[2019-12-10 23:10] miguelriemoliveira commented on #86
nots sure how to solve it though ... because this is inside the

https://github.com/lardemua/AtlasCarCalibration/blob/954137668c1db7705eaa759b332b5fc093ee9b6b/interactive_calibration/src/interactive_calibration/interactive_data_labeler.py#L284-L285

[2019-12-10 23:12] miguelriemoliveira commented on #86
is it a problem really? What would be the expected behaviour @tiagomfmadeira and @eupedrosa ?

[2019-12-10 23:13] miguelriemoliveira commented on #88
for now lets compute the max stamp delta and print it

[2019-12-10 23:17] eupedrosa commented on #86
The interactive markers have a timeout?

About detection times. Maybe it can be improved by #87. I will do some tests with the charuco board tomorrow and will report back.

[2019-12-10 23:26] miguelriemoliveira commented on #67
Gravilla is a huge name in autonomous driving, I think he is the guy from Mercedes ...

[2019-12-10 23:54] #88 closed

[2019-12-11 11:26] eupedrosa commented on #87
I got the charuco detection working.

![charuco](https://user-images.githubusercontent.com/6196901/70617186-f3de4380-1c07-11ea-898f-eb3abfd257a7.gif)

The detection time is around 10ms, even if there is no board or only a partial part is detected.
Here is an image of a partial detection.
![charuco_partial](https://user-images.githubusercontent.com/6196901/70617350-4ddf0900-1c08-11ea-99b9-d855e7b25

[2019-12-11 13:05] miguelriemoliveira commented on #87
Hi @eupedrosa
Looks good. What about the failures, i.e. when there is no charuco board for example, how does it behave?

[2019-12-11 13:15] eupedrosa commented on #87
Behaves very well!!!! It is faster when there is *no* board. It is the opposite from the class chessboard detector.

[2019-12-11 19:53] miguelriemoliveira commented on #87
Sounds good, but to change all the code to arucos right now would be a gigantic task ... are you moving forward with the aruco hand in eye calibration? We, on our side, can just read the json and for now, if the marker is an aruco, abort sayin "unsuported marker type" ...

[2019-12-11 19:53] miguelriemoliveira commented on #87
but what about the data collector and labeller ...

[2019-12-11 20:13] eupedrosa commented on #87
Maybe not. The charuco board also provides the corners of pattern. The information is the same but extracted with a different method. My idea is to support both patterns and atlas car dataset will work without a problem.

Yes I am. Using charuco boards is a breeze.
Stay tuned...

[2019-12-11 23:45] miguelriemoliveira opened #89 "collect_and_label crashes with error"
Hi @tiagomfmadeira ,

I think this is something you did, I remember you talking about contours. Strange how your cv findcountours is diferent from mine ... what open / python are you using?

We have python 2.7

[code]

[2019-12-11 23:48] miguelriemoliveira commented on #44
Hi @tiagomfmadeira ,

about the part of the calibration config json

[code]

I would suggest to put the name **top_center_rgbd_camera_depth_frame** to **top_center_rgbd_camera_depth** since it is the name of the sensor.

[2019-12-11 23:53] miguelriemoliveira commented on #44
Hi again @tiagomfmadeira ,

reviewing your code ... this

https://github.com/lardemua/AtlasCarCalibration/blob/de74c5f561d7d3cfb68a93008437efd6acc2b76a/interactive_calibration/src/interactive_calibration/interactive_data_labeler.py#L344

looks strange since a depth image should be floar or 16C1, but not 8C1

[2019-12-11 23:57] miguelriemoliveira commented on #89
Hi @tiagomfmadeira ,

found this
https://stackoverflow.com/questions/25504964/opencv-python-valueerror-too-many-values-to-unpack

and changed the line to

`_,contours, hierarchy = cv2.findContours(thresh, cv2.RETR_TREE, cv2.CHAIN_APPROX_SIMPLE)`

works for me, will commit, try to see if it works for you.

[2019-12-12 01:20] afonsocastro commented on #36
Done

[2019-12-12 01:20] #36 closed

[2019-12-12 11:01] #84 closed

[2019-12-12 13:49] eupedrosa commented on #82
More news Everbody!!!
This is the eye-in-hand problem, solved by our framework.
![eye_in_hand](https://user-images.githubusercontent.com/6196901/70717279-edbe9480-1ce5-11ea-8d50-85dff29a6eec.gif)

I tried to change the background to white but without success :cry:

[2019-12-12 16:00] miguelriemoliveira commented on #82
Congratullations , looks great! One question: the reference frame we see in the image is **detected**, right? If so, it is not a measure of how good the calibration is the good fit of the reference frame w.r.t the chess. Thus I would hide it. We just look at the perfect overlap between real robot and robot image.

You are doing it with charucos, great!

Can't find a way to set the background to wh

[2019-12-12 16:01] miguelriemoliveira commented on #82
:1st_place_medal:

[2019-12-12 16:31] miguelriemoliveira opened #90 "Create a good dataset from the 5th december bag"
Hi @eupedrosa @afonsocastro and @tiagomfmadeira

I was trying to do a good dataset from which we could extract conclusions with confidence.

I used the collect_and_label with time stamp verification (see #88 ) and ran about 300 seconds collecting 28 collections.

In the end removed mannualy one collection, so we have **27 collections** in this dataset.
All or almost all collections have labels for

[2019-12-12 16:38] miguelriemoliveira commented on #90
Optimization for calibration of the ATLASCAR2's sensors.

Using only two cameras in this case.

The right camera (not anchored) is very clore to the initial position (which was measured carefully). For this reason, **the calibration seems to be working fine in this case**.

Check it here

https://www.youtube.com/watch?v=xzS9jdMaMnE&feature=youtu.be

[2019-12-12 16:46] miguelriemoliveira commented on #90
Optimization for calibration of the ATLASCAR2's sensors.

Using only top left camera and left laser.

The left camera (not anchored) is a bit to the front of the initial position (which was measured carefully). For this reason, the calibration seems to not be working fine in this case. Perhaps the camera's intrinsics?

Check it here:

https://www.youtube.com/watch?v=eNY2g4Hw-NY&feature=youtu.be

[2019-12-12 16:46] miguelriemoliveira commented on #90
Please take a look, analyse and share opinions ...

[2019-12-12 17:03] eupedrosa commented on #82
The reference frame that you see in the image is **not detected**. It is the pose of the pattern provided by the optimization.

I got the easy part!!!

[2019-12-12 22:53] miguelriemoliveira commented on #82
Even better then. There are really nice results.

[2019-12-13 10:52] miguelriemoliveira opened #91 "Measure a good first guess for the anchored sensor"
This is critical to the subsequent analysis of the optimization results.

One possible source of errors is that we have been using the center of the frontal laser as the base link, which is not correct.

![image](https://user-images.githubusercontent.com/11350998/70794882-97f5f500-1d96-11ea-9538-242ad2daf2c7.png)

[2019-12-14 01:06] miguelriemoliveira commented on #89
Hi @tiagomfmadeira this is solved right? If so please close ...

[2019-12-16 00:17] miguelriemoliveira commented on #91
First shot using the rgbd camera. The idea is that the 3d point cloud allows for a much better first guess positioning. Tried to place the rgbd camera as best as possible using hte criteria that the points should be aligned with the ground.

![image](https://user-images.githubusercontent.com/11350998/70871643-3782d580-1f99-11ea-9cd5-53cbe960dd57.png)

![image](https://user-images.githubusercontent

[2019-12-16 12:32] miguelriemoliveira opened #92 "Produce xacro from the optimization results"
First stage would be to print out things to copy to the xacro

[2019-12-16 12:38] afonsocastro opened #93 "New distance to chessboard for lasers cost function"
The computed distance from each point to the chessboard should not be orthogonal to the chess plan.
Instead, it should be the distance measured in the laser beam direction.

[2019-12-16 12:40] miguelriemoliveira opened #94 "Compute error per collection"

[2019-12-16 12:46] miguelriemoliveira opened #95 "Pre calibration of anchored sensor to car chassis"

[2019-12-16 15:25] miguelriemoliveira commented on #44
http://docs.ros.org/kinetic/api/image_geometry/html/python/index.html

[2019-12-16 15:28] miguelriemoliveira commented on #44
rospy get param https://wiki.ros.org/rospy_tutorials/Tutorials/Parameters#Getting.2C_Setting.2C_and_Deleting_Parameters

[2019-12-16 16:53] afonsocastro commented on #93
Working! doesn't have a visualization function, but I am pretty sure that it is all correct! :D
For the skeptic ones, we could always develop this visual tool later....

[2019-12-17 16:53] miguelriemoliveira commented on #89
Closed without feedback : - (

[2019-12-17 16:53] #89 closed

[2019-12-17 16:54] #90 closed

[2019-12-17 16:58] miguelriemoliveira commented on #92
Xacro file is being written automatically. Check out a replay of the bagfile after optimization

![image](https://user-images.githubusercontent.com/11350998/71017300-4cbd4880-20ee-11ea-98a1-74708081d482.png)

![image](https://user-images.githubusercontent.com/11350998/71017352-5e065500-20ee-11ea-8363-4f79de529f31.png)

[2019-12-17 16:58] #92 closed

[2019-12-17 17:08] miguelriemoliveira opened #96 "Document how eye_in_base.py should be launched and provide an example dataset"
Hi @eupedrosa ,

I was trying to go back to issue #80 to see if my approach worked as yours, but could not run your
**eye_to_base_calib.py** code.

Can you write [here](https://github.com/miguelriemoliveira/OptimizationUtils#usage) how to use your eye_to_base_calib.py optimization code? I know it is not the best place, but all the others are there and when we change we will change all of them in o

[2019-12-17 17:08] miguelriemoliveira commented on #91
Same as #95, closing.

[2019-12-17 17:08] #91 closed

[2019-12-17 19:42] eupedrosa commented on #96
Hi @miguelriemoliveira,
I will try to solve this issue ASAP. I have time tomorrow morning.
I am trying to make to code generic and I think that I am almost there.

[2019-12-17 19:43] #87 closed

[2019-12-17 23:25] miguelriemoliveira commented on #83
Hi,

was looking at this. I think we should get a couple of calibration patterns. Not sure how the 2d lidar behaves, but in any case ...

I vote for this

https://calib.io/products/charuco-targets?variant=9400455004207

it is a charuco with 800x600 mm

[2019-12-17 23:26] miguelriemoliveira commented on #83
I can talk to Vitor to see if we have funding ...

[2019-12-17 23:27] miguelriemoliveira commented on #86
Yes, I am convinced that with the charuco  detection we should be fine. Lets close this one for now.

[2019-12-17 23:27] #86 closed

[2019-12-18 00:21] miguelriemoliveira opened #97 "KeyPressManager quits with error"
Only occurs when we press "q" for quiting, but it i anoying...

Error is:

[2019-12-18 10:52] eupedrosa commented on #96
Hi @miguelriemoliveira.
I update the optimization code in the repo. Use this data collection to run the optimization:
[snaps2-eye-to-base.zip](https://github.com/lardemua/AtlasCarCalibration/files/3977957/snaps2-eye-to-base.zip)

It should work without problems. I had to delete your testing code (sorry).

[2019-12-18 13:47] miguelriemoliveira commented on #96
Hi @eupedrosa

thanks, I will try it out.

No problem, I did not mean to commit it ... I will rewrite it.

[2019-12-19 19:26] miguelriemoliveira opened #98 "Something wrong with the eye_in_base.py transformations?"
Hi @eupedrosa ,

I was doing the comparison between the two ways of getting the transformations from the json file. The context is #80 .

I have diferent results than _your_ approach. Further testing showed that my results are consistent with the information in the dicitonary of transforms for direct transformations, while your approach is not. I may be missing something, but I think there is a pr

[2019-12-19 19:29] miguelriemoliveira commented on #98
Here is the test It brakes the code, but it will be removed once this is clarified (sorry, perhaps there is a better way of doing this)

https://github.com/miguelriemoliveira/OptimizationUtils/blob/5ddde6b3e13d49048d9bd90f8427fe90bea68bd2/test/eye_to_base_calib.py#L58-L84

[2019-12-19 19:30] miguelriemoliveira commented on #80
Working on #98, closing this one.

[2019-12-19 19:30] #80 closed

[2019-12-19 19:32] miguelriemoliveira commented on #96
Was able to run it without problems. Thanks.

[2019-12-19 19:32] #96 closed

[2019-12-21 00:12] miguelriemoliveira opened #99 "Parsing json file"
Hi @eupedrosa ,

I have a problem with the parsing of hte json file. I think we have diferent jsons, and thus the parser is getting confusing.

Where is your calibration  json file? I could not find it.

Also, I looked into your SimplePatternDetector class, where you abstract from which pattern is being used , and in particular here

size = (options['num_x'], options['num_y'])
length = options['le

[2019-12-21 10:24] miguelriemoliveira commented on #99
Hi again,

sorry, last night I was trying to work into the night and was really sleepy ... so this issue was quite confusing. What I meant to say is:

In principle, I try not to create new variables to represent others. When this is needed (we want to copy to the propperties of an instance), keep the same name or similar.

I got confused because in the calibration json there are two keys, **dimens

[2019-12-21 10:35] miguelriemoliveira commented on #98
@eupedrosa told me this was working correctly. Will create a separate test script

[2019-12-21 10:40] eupedrosa commented on #99
No need to try and solve. I think that already solved it. Chek https://github.com/lardemua/AtlasCarCalibration/commit/3abfa2e32a9db06ee3a50676f920b4515d0aacc3

I already noticed on those kind of incoherence. It usually happen for some reason but then we tend to forget why. I use `size` in the code because opencv calls it size.
At some point we should dedicate some time to address this issue.

[2019-12-21 10:44] eupedrosa opened #100 "Seek and Destroy (incoherent name calling)"
An example of this issues was reported in #99 by @miguelriemoliveira

[2019-12-21 10:48] eupedrosa commented on #99
@miguelriemoliveira I made a mistake in the calibration file. Please checkout https://github.com/lardemua/AtlasCarCalibration/commit/f492092e22e240b1982c3a3db3eb901c36d5cf36

[2019-12-21 10:51] miguelriemoliveira commented on #98
Hi, I tried to create the test script but your code is too intricate(1) and I got lost. Since this is low priority (tinytf is working for you) I will not continue.

(1) We should talk in January to try to come up with a common style. I have a lot to learn with your code, but I also have some suggestions (mostly to simplify : - ) )

[2019-12-21 10:51] #98 closed

[2019-12-21 10:58] miguelriemoliveira commented on #99
Working fine ... collect_and_data.py now runs smoothly ... thanks!

[2019-12-21 10:58] #99 closed

[2019-12-21 10:59] miguelriemoliveira commented on #100
My suggestion: We get toghether for an afternoon in early January and refactor everything we think is needed ... what do you think?

[2019-12-21 11:03] eupedrosa commented on #100
:+1: I agree. We should dedicate some time just to solve this *small* things.
Early January is fine.

[2019-12-21 11:16] miguelriemoliveira commented on #62
![image](https://user-images.githubusercontent.com/11350998/71307239-462b1b80-23e3-11ea-84a3-eacc6b9e2b10.png)

[2019-12-21 11:17] #62 closed

[2019-12-21 11:19] miguelriemoliveira opened #101 "Compare eye-in-hand (and similars) with VISP using reprojection error"
Hi @eupedrosa ,

yesterday while discussing you told me to create an issue, don't remember what it was about. do you remember? For now this is a meta-issue to create the issue : - )

[2019-12-21 11:20] miguelriemoliveira commented on #100
#47 #55 and #60 should also be included in this sweep ...

[2019-12-21 11:25] miguelriemoliveira commented on #100
**collect_and_label** should be **label_and_collect**, that's the correct sequence ...

[2019-12-21 11:29] miguelriemoliveira opened #102 "Are we recording the transforms at the correct time?"
When recording a collection the transforms are stored as follows

https://github.com/lardemua/AtlasCarCalibration/blob/491d44a4cfa9c07a6cea24f1927bae262e4869ac/interactive_calibration/src/interactive_calibration/data_collector_and_labeler.py#L134-L137

but how do we know these are captured at a time synced with the sensor data ... My suggestion is to compute the average time of all sensor data mes

[2019-12-21 11:35] miguelriemoliveira commented on #93
This is not working, reopening

![image](https://user-images.githubusercontent.com/11350998/71307411-e5511280-23e5-11ea-8a1b-9c32b9dac243.png)

[2019-12-21 11:36] miguelriemoliveira commented on #93
Hi @afonsocastro ,

when will you have time to work on this? If you do not have time I will try to implement it myself ...

[2019-12-21 12:24] miguelriemoliveira commented on #102
How to average ros times:

https://answers.ros.org/question/205487/get-mean-of-two-rostime-stamps/

Can't we just do the direct average of all nsecs?

[2019-12-21 12:39] miguelriemoliveira commented on #102
From what I read the best idea is to fix a time t1, then compute the duration betwwen t1 and all times.

Then average all these durations ...

Will try to implement.

[2019-12-21 20:13] miguelriemoliveira commented on #102
Implemented. Here's the node's output. Example of a failed attempt to collect.

In a successfull attempt, notice  the stamps of the messages, and the time at which the transforms are collected (average time):

[2019-12-21 20:14] #102 closed

[2019-12-21 20:15] miguelriemoliveira commented on #102
I am not sure about the impact this could have in the previous tests ...

[2019-12-22 11:13] miguelriemoliveira commented on #94
Hi @eupedrosa ,

I did what you asked. Here's the output of the objective function now (we can plot this info either using rqtplot or matplotlib, for now I am just printing for debug).

[2019-12-22 11:15] #94 closed

[2019-12-22 16:19] eupedrosa commented on #101
I think it was about the average re-projection error. But I am not sure.

[2019-12-23 00:30] miguelriemoliveira commented on #101
Yes, that was it. Use reprojection error plot to measure how well the eye-in-hand and eye-to-base and both behave vs visp.

[2019-12-23 00:31] miguelriemoliveira commented on #101
Glad you remembered ... now you have more work : - )

[2019-12-23 16:01] eupedrosa opened #103 "Create a generic visualization for errors."

[2019-12-23 16:17] miguelriemoliveira commented on #93
Drawing is always better ... I am never sure if the code is working before drawing ... (**actually I am sure it is not working**)

![image](https://user-images.githubusercontent.com/11350998/71368338-96e77380-259f-11ea-9e14-5ccbdf79774d.png)

[2019-12-23 16:34] miguelriemoliveira commented on #93
![image](https://user-images.githubusercontent.com/11350998/71369126-b8495f00-25a1-11ea-875b-86dcc096417c.png)

![image](https://user-images.githubusercontent.com/11350998/71369202-ed55b180-25a1-11ea-84ef-f4c8e12d7090.png)

![image](https://user-images.githubusercontent.com/11350998/71369221-f9da0a00-25a1-11ea-8ec2-327261e440de.png)

New function is working as intended. Here's some pictures.

[2019-12-23 16:35] miguelriemoliveira commented on #103
@afonsocastro can help if needed. He already did the results_visualization.py

[2019-12-23 17:12] miguelriemoliveira commented on #93
One more picture just to piss off @afonsocastro : - )

![image](https://user-images.githubusercontent.com/11350998/71370926-60adf200-25a7-11ea-9875-036ff0ff2f59.png)

[2019-12-23 17:20] miguelriemoliveira commented on #93
and another using two lasers ...

![image](https://user-images.githubusercontent.com/11350998/71371271-7ff94f00-25a8-11ea-8cc6-e228bacf0576.png)

[2019-12-23 17:22] miguelriemoliveira commented on #93
The results are similar to the ones before ...

![image](https://user-images.githubusercontent.com/11350998/71371373-d23a7000-25a8-11ea-94ff-98b6469a29ac.png)

[2019-12-23 17:26] #93 closed

[2019-12-23 17:29] miguelriemoliveira opened #104 "Should we normalize the residuals?"
Hi @afonsocastro , @tiagomfmadeira  and @eupedrosa ,

after #94 we now have a lot of information on the residuals, computing the partial residuals per sensor, collection, msg_type, etc.

The question is: **Should we use this information to normalize the residuals**? For example, does it make sense a camera has only four residuals per sensor per collection, while the laser has over 100 ...

Any sug

[2019-12-23 17:30] miguelriemoliveira commented on #82
Can we close this @eupedrosa ? This is the issue that leaves me very jealous : -)

[2019-12-23 17:50] eupedrosa commented on #93
@miguelriemoliveira do you have the intrinsic optimization on?

[2019-12-23 17:55] eupedrosa commented on #82
Yes. I think that we can close this issue.

[2019-12-23 17:55] #82 closed

[2019-12-23 18:12] eupedrosa commented on #104
This is something that has to be done carefully. Maybe we should take a look at this book [Bundle Adjustment — A Modern Synthesis](https://hal.inria.fr/inria-00548290/document) and check if there is something about this problem.

[2019-12-23 23:47] miguelriemoliveira commented on #93
Yes.

https://github.com/miguelriemoliveira/OptimizationUtils/blob/5e9d06de886662c83106465b42ab09f1e38bfe7f/test/sensor_pose_json_v2/main.py#L222-L226

[2019-12-26 16:24] afonsocastro commented on #93
Yap, visual feedback is essential! And now it's working just fine, thanks :)

[2019-12-26 17:56] afonsocastro commented on #104
I couldn't find anything directly related to this problem in that book. Chapter 3 (3.1 and 3.2, to be more precise) talk about the residuals of linear and non-linear least-squares problems...
In my opinion, all residuals should be normalized and both cameras and lasers cost function should return the same number of residuals. That's the best way to ensure that none of the sensors is more important

[2019-12-26 18:09] afonsocastro commented on #104
I notice that the cameras have fewer residuals but with a bigger value, which results in a total error with a similar magnitude of the laser's total error. I don't know if this disables the effect of normalizing the residuals...

[2019-12-26 18:10] afonsocastro commented on #103
yes, I can help!

[2019-12-26 18:31] miguelriemoliveira commented on #104
Hi,

I did not have time to read the book. I am glad @afonsocastro  did.

Bundle Adjustment is a problem typically for images or cameras. No other sensors are involved.

I agree with @afonsocastro in that we should normalize so that the sensors all have similar weight.

We could give a weight per sensor which is then distributed to the set of n residuals of each sensor ... would it work?

[2019-12-26 18:32] miguelriemoliveira commented on #104
Yes, but if we change to 9x6 points per camera, or remove the inner points for the laser, the balance is lost ...

[2019-12-26 18:47] miguelriemoliveira commented on #104
Also, we should consider the balance intra-sensor. For example, consider the residuals of a laser in a collection containing 100 points in the chessboard cluster. The residuals are:

2 (extrema) + 100 (beam) + 18 inner

Since extrema and inner are longitudinal error, we have
orthogonal -> 100 pts
longitudinal -> 18 pts

this is also not well balanced ...

[2019-12-26 19:32] miguelriemoliveira opened #105 "Displaying camera during the optimization"
It is now possible to view a camera inside rviz during the optimization. This is helpful for monitoring and analyzing the optimization. Some example images:

![image](https://user-images.githubusercontent.com/11350998/71488036-5cd3d700-2816-11ea-93df-580379ddae32.png)

![image](https://user-images.githubusercontent.com/11350998/71488060-71b06a80-2816-11ea-83e5-795e2236f3b5.png)

Had to republish t

[2019-12-26 19:36] #105 closed

[2019-12-26 19:55] eupedrosa commented on #105
Looks nice :+1:

[2019-12-26 20:07] eupedrosa commented on #104
Could it be possible to transform the laser error to a re-projection error?
In least square we can use an information matrix (or inverse co-variance matrix) to scale the residuals.
Next year we can discuss this in more detail.

[2019-12-26 21:05] miguelriemoliveira opened #106 "Is there a bug when optimizing a single image?"
Running the optimization for a single image, it seems the overlay of the chessboard in the image is not perfectly aligned as it should be ...

![image](https://user-images.githubusercontent.com/11350998/71490602-79c2d700-2823-11ea-858d-c56455825f5b.png)

Strange ... there is no other sensor in the optimization, the chessboard should move freely to zero out the error

[2019-12-27 07:40] miguelriemoliveira commented on #106
After a lot of work I was able to trace to problem down to a disparity between our function **utilities.projectToCamera** and ROS **camera.project3dToPixel** from image geometry.

Here's the output of these projections of the same points:

**utilities.projectToCamera**:
[code]

and **camera.project3dToPixel**:

[code]

[2019-12-27 08:11] miguelriemoliveira commented on #106
Ok, I think the problem is that the pinhole camera model from ros uses the camera_info message, in particular the **P** matrix (where we use the **K** matrix).

Our camera info message is:

[code]

which shows that **K** and **P** are not the same. From what I read [here](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/CameraInfo.html) they should have P[1:3,1:3] = K, and this does not happen

[2019-12-27 08:13] miguelriemoliveira commented on #106
I've checked and this comes directly from the bag file ...

[code]

[2019-12-27 08:18] miguelriemoliveira commented on #106
Was checking #65 and the K and P are in fact different ... for all cameras

[2019-12-27 08:22] miguelriemoliveira commented on #106
Using P instead of K I as able to get the same results in both **projectWithoutDistortion** and **camera.project3dToPixel**. Had to use the function for projection without distortion, i.e. **utilities.projectWithoutDistortion**

[2019-12-27 08:39] miguelriemoliveira opened #107 "Use matrix P instead of K for optimizing the intrinsics"
related to #106

[2019-12-27 08:40] miguelriemoliveira commented on #106
Ok, now we get a **perfect alignment!**.

![image](https://user-images.githubusercontent.com/11350998/71509723-3ba9cf80-2884-11ea-8771-4f6cc963056b.png)

If we want to optimize intrinsics still then we must use the projetion matrix P rather than K. Opened #107 for that.

This one is solved. Will close with the commit.

[2019-12-27 08:43] #106 closed

[2019-12-27 16:50] miguelriemoliveira opened #108 "Why is our Camera Projection Matrix different from the camera Matrix"
Following #106 we found out that in our intrinsic camera calibrations the camera_info_msgs have different **P** and **K** matrices.

for monocular cameras they should be the same:

https://answers.ros.org/question/223318/camera_calibration-projection-matrix-and-camera-matrix-not-the-same/

This is a question from 2015 with no answers ...

[2019-12-27 16:53] miguelriemoliveira commented on #108
@eupedrosa and @afonsocastro , do you know anything about this?

[2019-12-27 18:01] miguelriemoliveira opened #109 "Lidar objective function - simple optimization tests"
Try to figure out if the current cost function for 2D lasers is working and sufficient.

Right now we have the following residuals:

- extrema points
- beam (orthogonal)
- inner points

Simplest test: only right laser as sensor, anchored sensor right laser, only one collection.

![image](https://user-images.githubusercontent.com/11350998/71527297-b00b5f80-28d2-11ea-89dc-8ea09173aa1b.png)

There se

[2019-12-27 18:32] miguelriemoliveira commented on #109
Hi @afonsocastro,

I need your help. The laser orthogonal distance is returning negative values (see figure bellow). I know you and @eupedrosa had a big discussion on whether we could or could not have the errors in absolute. What was the result of that discussion? Residuals can be absolute, right?

![Uploading image.png…]()

[2019-12-28 08:44] miguelriemoliveira commented on #109
Redesigned the inner points distance (there are some things about Afonso's implementation I did not understand.

Tried several stuff to get better results:

 - Using only the vertical inner points
 - Using absolute beam distance
 - Using several collections
 - Discarding leftmost and rightmost detected inner points, which are often outliers

Still cannot converge to a satisfactory result. I believ

[2019-12-28 12:30] miguelriemoliveira opened #110 "Develop a tool to inspect each collection (and possibly edit the labels)"
In #109 I was having wrong results in part because of this collection's labels

![image](https://user-images.githubusercontent.com/11350998/71543686-b3075e00-296d-11ea-9eab-e55ec2c24a83.png)

We should have a tool to be able to remove a collection from the json, or edit the labels manually.

[2019-12-28 12:43] miguelriemoliveira commented on #109
For collection 3 converges to this ... strange

![image](https://user-images.githubusercontent.com/11350998/71543838-93713500-296f-11ea-848e-cce57ea5c971.png)

[2019-12-28 13:20] eupedrosa commented on #108
The **P** and **K** have the same values in my dataset. The cameras are a Kinect and an Orbbec Astra.

[2019-12-28 13:23] eupedrosa commented on #110
I think we can use this opportunity to revise the data that goes to the JSON and how it is organized. We can discuss this at the same time as #100.

I agrred that we should have a tool to manipulate the collections from the JSON.

[2019-12-28 13:38] eupedrosa commented on #109
So many things to discuss. @miguelriemoliveira, what a *productive* Christmas.

The residuals can be negative as long as the derivative is in agreement. We are using numerical differentiation so, no problem there.

If I am not mistaken, the laser labels are not validated, right? We could fit a line to make sure it is a line. Then, we could use that line to interpolate points or even extrapolate th

[2019-12-28 15:00] miguelriemoliveira commented on #108
Well, now this is even more confusing. If you read through #65 can you spot anything you did different?

@afonsocastro how did you do your intrinsic calibration? https://wiki.ros.org/camera_calibration ?

And this scale slider was on which number?

![image](https://user-images.githubusercontent.com/11350998/71545420-b6591480-2982-11ea-8cd1-34173088ea17.png)

[2019-12-28 15:01] miguelriemoliveira commented on #100
Revise the structure of the json collections file

[2019-12-28 15:02] miguelriemoliveira commented on #110
Hi @eupedrosa ,

we can discuss changing the structure of the json, although it is a big change that will affect just about everything.

In any case, if I have time before january I will start with the inspection tool. I am thinking of a way to put the stuff of a single collection in rviz, nothing much different from what we are doing.

[2019-12-28 15:05] miguelriemoliveira commented on #109
Hi @eupedrosa , thanks, but the holiday season is not over yet : -).

For me it would be much easier to use the absolute value ... is that ok?

That's a good idea, and perhaps an alternative to #110. Can you please create an issue for that?

[2019-12-28 15:08] eupedrosa commented on #109
Yes, it is ok.

I will open the issue.

[2019-12-28 15:11] eupedrosa opened #111 "Validate laser labels with line fitting."
Laser labels, to be valid, should define a line. The line could also be used to interpolate points or even extrapolate the edge points.

[2019-12-28 15:18] miguelriemoliveira commented on #109
Thanks.

[2019-12-28 15:19] miguelriemoliveira commented on #111
This functionality could deprecate the one described in #110

[2019-12-29 00:49] miguelriemoliveira commented on #109
Still the same problem.

![image](https://user-images.githubusercontent.com/11350998/71551010-99e5c800-29d4-11ea-9a89-a0c193304c66.png)

Reduced the complexity of the problem:

  - Only using residual extrema left (not extrema right)
  - Not using inner residuals
  - Tried without beam residuals (same result)

The solution never converges to the left limit of the chessboard ... bug bug ...

Tomorr

[2019-12-29 08:44] miguelriemoliveira commented on #109
Found the problem ... the limit points also contain the point 0,0.
In this image the magenta capsules are all the limit points. 0,0 is also there!

![image](https://user-images.githubusercontent.com/11350998/71554465-64160300-2a17-11ea-9310-bcc7d9861a11.png)

This cause the optimization to converge to positioning the left extrema at 0,0

[2019-12-29 08:53] miguelriemoliveira opened #112 "Refactor creation of chessboard points in chessboard.py"
Hi @afonsocastro ,

I will try to refactor your code for the creation of chessboard points, i.e. limit_points, inner_points etc.

In #109 we found a bug in the limit points. I was looking at your code and it is difficult for me to understand (I have a different style). I will refactor and then you may look at both codes and decide which should stay ok?

One thing you should do is to try to separat

[2019-12-29 09:51] miguelriemoliveira commented on #109
Without the limit point at 0,0 now it converges as it should ...

![image](https://user-images.githubusercontent.com/11350998/71555163-bc053780-2a20-11ea-8bfc-adee7b183580.png)

[2019-12-29 09:56] miguelriemoliveira commented on #109
@afonsocastro this was a nasty bug! You owe me a coffee!

[2019-12-30 15:54] miguelriemoliveira commented on #109
OK, so now I am working on getting the optimization to converge with multiple collections. Using the lidar only it seems to work perfectly, e.g. for 3 collections:

![image](https://user-images.githubusercontent.com/11350998/71589232-0c14f480-2b1c-11ea-94d0-cbe580e04d96.png)

![image](https://user-images.githubusercontent.com/11350998/71589240-1636f300-2b1c-11ea-9639-342be3dfc1b3.png)

Average cos

[2019-12-30 15:57] miguelriemoliveira commented on #109
So what does it mean? Adding the camera made the optimization loose a degree of freedom. Since the camera is anchored, the pose of the chessboards is also fixed, or the residual related with the camera will rise.

But 9 centimeters error is too much, there should a better solution ... I am confused ...

[2019-12-30 16:14] miguelriemoliveira commented on #109
Using hte intrinsics does not help at all ...

![image](https://user-images.githubusercontent.com/11350998/71590011-e6d5b580-2b1e-11ea-87f8-b90e79bb1f88.png)

What is strange about these results is that from the image above and the dark blue collection, it seems that the laser must move back (negative xx) to make the measurements better fit the chessboard, but this image:

![image](https://user-im

[2019-12-30 16:19] eupedrosa commented on #109
Did you try the optimization without optimizing the intrinsic?

[2019-12-30 16:57] miguelriemoliveira commented on #109
Here is the dataset I am using.

[dataset_23_dez_2019.tar.gz](https://github.com/lardemua/AtlasCarCalibration/files/4010409/dataset_23_dez_2019.tar.gz)

[2019-12-30 17:41] miguelriemoliveira commented on #109
Using orthogonal error instead of beam resulted in the same problem ...

[2019-12-30 17:46] miguelriemoliveira commented on #109
Dividing all image residuals by 100, e.g. this code on 212 of objective_function.py

`local_residuals = [x/100 for x in local_residuals]`

gets good results:

![Screenshot at 2019-12-30 17-37-31](https://user-images.githubusercontent.com/11350998/71593392-bea08380-2b2b-11ea-9144-6bda24fcccf2.png)

![Screenshot at 2019-12-30 17-30-02](https://user-images.githubusercontent.com/11350998/71593401-c660

[2019-12-30 17:50] miguelriemoliveira commented on #109
I think it also worked using many collections

![image](https://user-images.githubusercontent.com/11350998/71593652-ce6c9780-2b2c-11ea-8c96-827d9516a89f.png)

And what's better, the height of the laser scans seems reasonable. We are not using inner points residuals here ...

[2019-12-30 17:55] miguelriemoliveira commented on #109
So I guess we should explore #104 . Next I should try with a reasonable first guess (including of the anchored sensor) to see if the pose of the laser w.r.t the car chassis makes any sense.

[2019-12-30 18:04] miguelriemoliveira commented on #109
Using inner residuals the av errors are similar, the result places the laser beam much higher in the chessboard, which seems more realistic ...

![image](https://user-images.githubusercontent.com/11350998/71594182-d3324b00-2b2e-11ea-92d1-8548e51a4792.png)

I am not sure this test about using the inner points is conclusive ...

[2019-12-30 22:59] #107 closed

[2019-12-30 23:07] miguelriemoliveira commented on #109
Closing this issue. Conclusions taken from all these tests:

  - inner points, beam, orthogonal (not used), and extrema all seem to be working as intended (refactored some code by @afonsocastro )
  - Chessboard poses inferred by the cameras are not consistent with those from the lidars (top_left_camera and right_laser tests). This inconsistency makes it so that either the residuals of the cameras

[2019-12-31 15:05] #109 closed

[2020-01-01 02:52] miguelriemoliveira commented on #104
Inter collection-sensor pair normalization done. We assume each collection-sensor pair only has a single slot to return error, and so if a collection-sensor pair returns 15 errors, these will all be divided by 15. Something like this:

`weighted_residuals.extend([x/len(local_residuals) for x in local_residuals])`

Some open issues:

 -  We are not yet dealing with inter measurements (i.e. image pi

[2020-01-05 00:05] #104 closed

[2020-01-05 00:06] miguelriemoliveira commented on #104
Some nice optimization results, 25 collections, 4 sensors.

![image](https://user-images.githubusercontent.com/11350998/71773136-25200a00-2f4f-11ea-9e66-9ddde4a5fd8e.png)

![image](https://user-images.githubusercontent.com/11350998/71773138-2fda9f00-2f4f-11ea-9b3f-f3b6ec8ea9fa.png)

[2020-01-05 00:07] miguelriemoliveira commented on #112
Some changes. Closing for now.

[2020-01-06 14:31] eupedrosa opened #113 "Time drift fails detection when only one sensor is used"
@miguelriemoliveira, the data collector fails when only one sensor is available.

https://github.com/lardemua/AtlasCarCalibration/blob/e59f5a0da14c47a3a03bd368fc96a11dff18aae1/interactive_calibration/src/interactive_calibration/data_collector_and_labeler.py#L163

`max_delta` return `None`

[2020-01-06 14:44] miguelriemoliveira commented on #113
I am on it...

[2020-01-06 14:52] miguelriemoliveira commented on #113
Hi @eupedrosa ,

I think I solved it. Can you test and close the issue if its working?

[2020-01-06 15:06] eupedrosa commented on #113
Yes, it works. :+1:

[2020-01-06 15:06] #113 closed

[2020-01-15 11:38] eupedrosa opened #114 "Translate our dataset to Ali et. al."
The source is available here: https://github.com/ihtishamaliktk/RWHE-Calib
Note that you have to change directory slashes from windows "\\" to linux "/"

[2020-01-15 11:40] miguelriemoliveira opened #115 "Hand-eye static visualization"
The idea is to show all robot poses at the same time ... using serveral robot descriptions of a custom rviz marker with a mesh ...

[2020-01-15 11:42] eupedrosa opened #116 "Hand-eye dynamic visualization"
The idea is to show the pose of the robot moving. Also, put the calibration pattern in a mesh with a texture.

Related to #115.

[2020-01-15 11:42] miguelriemoliveira commented on #115
@eupedrosa is doing the dynamic motion visualization by publishing the joint values to make the robot move ... #116.

[2020-01-16 05:09] miguelriemoliveira commented on #112
Partially complete. will not improve it for now. Closing.

[2020-01-16 05:09] #112 closed

[2020-01-16 05:10] miguelriemoliveira commented on #114
Hi @eupedrosa ,

when you can please post your snaps for me to try to do the translation.

Thanks

[2020-01-16 10:18] eupedrosa commented on #114
Here it goes:
[eye_in_hand.zip](https://github.com/lardemua/AtlasCarCalibration/files/4070555/eye_in_hand.zip)
[eye_in_hand5.zip](https://github.com/lardemua/AtlasCarCalibration/files/4070556/eye_in_hand5.zip)

[2020-01-16 10:45] miguelriemoliveira commented on #114
Thanks.

[2020-01-16 15:12] miguelriemoliveira commented on #44
Complete. Will continue to work on #117.

[2020-01-16 15:13] miguelriemoliveira opened #117 "Flood fill implementation for chessboard plane segmentation"

[2020-01-21 11:44] eupedrosa opened #118 "We were wrong!!!"
We were wrong!!!

Optimizing the intrinsic works and works well. Here are some results:
![both_eyes](https://user-images.githubusercontent.com/6196901/72802359-84fefc00-3c43-11ea-8e14-d06e25acd64e.png)

With enough collections we may not need an a priori intrinsic calibration.

[2020-01-21 11:47] miguelriemoliveira commented on #118
? did you loose it for good? :-)

[2020-01-21 11:48] eupedrosa commented on #118
Check it now...

[2020-01-21 11:50] miguelriemoliveira commented on #118
RMSE is is pixels? What do you mean by combined? Summed?

[2020-01-21 11:56] eupedrosa commented on #118
RMSE = Root Mean Squared Error (in pixels).
Combined means without separation, as if all errors belonged to an unique sensor.

[2020-01-21 12:11] miguelriemoliveira commented on #118
Hum ... and the code for optimizing the intrinsics was not changed?

We should talk in person, but if I get this straight, the title should be "We were wrong!!! **But that's a very good thing.THE FU#*º"NG INTRINSICS ARE OPTIMIZED AS WELL!**"

Am I right? Man, you really need to start working on your positivity:

https://wheniwork.com/blog/18-simple-ways-to-keep-a-positive-attitude-at-work/

:-)

[2020-01-21 12:28] miguelriemoliveira commented on #114
Finally I got the matlab code up and running. Had to install **optimization toolbox**, **aerospace toolbox** and **Mapping toolbox**.

Also had to change "\" to "/" ... windows people ...

I am using a fork so we can keep things synced,

https://github.com/miguelriemoliveira/RWHE-Calib

Will put our translated datasets there if possible as well.

[2020-01-21 12:29] eupedrosa commented on #118
The title is click bait :wink:

This also my reaction..

By the way, I did intrinsic calibration of both cameras using the camera calibrator from ROS and Matlab -- the Matlab calibrator is very nice. The results are similar to the ones obtained with our optimization process.

[2020-01-21 12:32] miguelriemoliveira commented on #118
Well, if that was your reaction then you also are in need of this

https://www.wellandgood.com/good-advice/how-to-stop-swearing/

Every sentence I read sounds off like "this must be in the paper". We should have a subsection of results comparing hte intrinsinc calibrations from matlab, ros and ours

[2020-01-21 12:36] eupedrosa commented on #114
:+1:

[2020-01-21 13:18] eupedrosa commented on #118
Yes, we should.

[2020-01-21 13:18] #118 closed

[2020-01-21 17:22] eupedrosa commented on #114
[eye_to_base.zip](https://github.com/lardemua/AtlasCarCalibration/files/4092467/eye_to_base.zip)

[2020-01-21 17:37] miguelriemoliveira commented on #114
Hi @eupedrosa

The conversion script is

[code]

Don't forget to use this matlab so we are synced

https://github.com/miguelriemoliveira/RWHE-Calib

For now I can convert the the **eye_to_base** dataset then run the matlab code with it. It goes all the way until the end without errors but the reported errors seem to be too high, check it out.

`

EvalForm    Time_sec    Rerr_deg    terr_mm    repr

[2020-01-21 17:40] miguelriemoliveira commented on #114
and I an not entirely sure if this is ok, but I think so.

[code]

[2020-01-21 17:42] eupedrosa commented on #114
Is the converter already in the repo?

[2020-01-21 21:50] eupedrosa commented on #114
I was able to make it work :tada:

|Method | RMSE|
|----------|-----------|
|Tsai | 4.7161|
|HoraudDornaika | 2.8941|
|ParkMartin  | 2.894|
|Li | 2.1581|
|Shah | 1.7736|
|Xc1  | 3.1817|
|Xc2  |2.305|
|TabbZc1 | 2.1051|
|TabbZc2 | 2.1869|
|RX  | 1.505|
|Tabbrp1  |  0.61708|
|RZ | 0.62402|
|*ours* w/ matlab intrinsincs|0.61763|
|*ours* w/ optimization intrinsics|0.59606|

[2020-01-21 22:02] miguelriemoliveira commented on #114
This is great! Great work. Did you change a lot of stuff?

A Ter, 21/01/2020, 21:50, Eurico F. Pedrosa <notifications@github.com>
escreveu:

[2020-01-21 22:11] eupedrosa commented on #114
I had to invert the arm transformations, maybe because it is a *eye-to-base* problem?.
Tomorrow I will gather a dataset with a regular chessboard for the *eye-in-hand* to run it through the testing suite.

[2020-01-22 12:08] miguelriemoliveira commented on #114
Once you push the changes please close.

[2020-01-22 12:08] miguelriemoliveira commented on #115
Will start working on this ...

[2020-01-22 14:48] eupedrosa commented on #114
I created a new *eye-in-hand* dataset for the matlab calibrator. *Our* solution got 0.684343364887 while *theirs* got 0.74166 (value are RMSE).

Should I upload the dataset to the repo with the matlab calibrator?

[2020-01-22 15:04] miguelriemoliveira opened #119 "Where to store the datasets"
Hi @eupedrosa and @tiagomfmadeira ,

we should have a place to put the datasets, and a well defined methodology to upload and download them.

A couple of years ago me and @tiagomfmadeira did an attempt with a script for automatic download
which is here
https://github.com/miguelriemoliveira/OCDatasetLoader/blob/master/test/download_dataset.py

and used a xml like this
https://github.com/miguelriemo

[2020-01-22 15:05] miguelriemoliveira commented on #114
Check #119, lets discuss tomorrow what to do.

[2020-01-23 11:47] miguelriemoliveira opened #120 "Two sensor optimizing the same transform - How to handle it?"
Discussed this with @eupedrosa this today ... should be possible

[2020-01-24 15:42] #83 closed

[2020-01-24 15:55] miguelriemoliveira commented on #115
Hi @eupedrosa , can you tell me what stuff needs to be installed to use the ur10e?

I will need the urdf and the 3d models for this issue ...

[2020-01-24 16:03] eupedrosa commented on #115
I updated the repo with configuration files for the ur10e. For the ur10e main description file you must checkout https://github.com/iris-ua/iris_ur10e.git

[2020-01-24 16:21] miguelriemoliveira commented on #115
Thanks. I will look into it.

[2020-01-24 18:04] eupedrosa commented on #103
@miguelriemoliveira, was this kinda of error reporting that you were talking about?

![etb](https://user-images.githubusercontent.com/6196901/73092064-bc83d780-3ed3-11ea-999c-72afcc1780b5.png)

[2020-01-24 18:16] miguelriemoliveira commented on #103
Yes! It looks great! Congrats!

BTW, it is funny how your errors seem to resemble the structure of the chessboard ... this also occurs in (1), look at Fig 10 B.
This means we are on the right track.

Some nitpicking though (otherwise you'll think its perfect): put the legend always on the same position for consistency, and the characters should be larger.

nitpicking number 2: if we could draw the

[2020-01-24 23:13] miguelriemoliveira commented on #115
Moving forward. Am able to draw the robot at each collection ...

![image](https://user-images.githubusercontent.com/11350998/73110558-b9eaa780-3efe-11ea-8d55-3321b50b5520.png)

![image](https://user-images.githubusercontent.com/11350998/73110605-fcac7f80-3efe-11ea-93db-57e9d6e81283.png)

![image](https://user-images.githubusercontent.com/11350998/73110629-0df58c00-3eff-11ea-9ab2-beafb5beb1df.png)

[2020-01-25 11:59] miguelriemoliveira opened #121 "Where's my gripper?"
Hi @eupedrosa ,

working on #115 , I could not draw the gripper. I was debugging until I realized that the transformations from the ee_link to the gripper_link are not in the json file.

![image](https://user-images.githubusercontent.com/11350998/73120739-a9234b80-3f69-11ea-991e-4ed241847edc.png)

I need this to properly draw the robot ... any idea why it is not there?

I remember at one point we

[2020-01-25 12:45] eupedrosa commented on #121
Hi @miguelriemoliveira,
It is a known "bug" for older datasets. Try this 2 datasets.
[eye_in_hand_9_10.zip](https://github.com/lardemua/AtlasCarCalibration/files/4112022/eye_in_hand_9_10.zip)

[2020-01-25 12:46] eupedrosa commented on #115
Looks nice. We can use this visualization to depict the hand-eye problem.

[2020-01-25 15:22] miguelriemoliveira commented on #121
Thanks!

[2020-01-25 17:05] miguelriemoliveira commented on #121
Solved with new datasets.

[2020-01-25 17:07] miguelriemoliveira commented on #101
Hi @eupedrosa , it does not make sense to keep this one alive after having success in #114

[2020-01-25 17:07] #101 closed

[2020-01-25 17:07] miguelriemoliveira commented on #114
Closing.

[2020-01-25 17:07] #114 closed

[2020-01-25 17:09] miguelriemoliveira commented on #103
Hi @eupedrosa , this looks nice, but I did not get it ... is it generic?

[2020-01-25 17:12] miguelriemoliveira commented on #115
Ok, I think all issues are solved. Will arrange  the code better once I have a chance but for now it is functional.

A nice bonus, we can also produce images with colors associated with each collection, so that we can refer to the figures you've shown in #103. Check it out.

![image](https://user-images.githubusercontent.com/11350998/73124580-eb15b700-3f94-11ea-84e6-8b178988fcc1.png)

![image](htt

[2020-01-25 17:17] #121 closed

[2020-01-25 17:20] eupedrosa commented on #103
Not yet... but it is a start!!

[2020-01-25 17:21] eupedrosa commented on #115
:+1:

[2020-01-26 14:21] miguelriemoliveira commented on #103
Its a great start!

[2020-01-26 19:42] miguelriemoliveira opened #122 "and ... where's my camera?"
Hi @eupedrosa ,

still about #115 , I do not draw the camera because there is no camera in the xacro file.

I see in the launch file that you launch a kinect frames publisher as a way to solve the problem, but we should have it on the xacro file.

You have an orbec astra right?

I looked around and found this:

https://github.com/turtlebot/turtlebot/tree/kinetic/turtlebot_description/urdf/sensors

[2020-01-27 10:07] eupedrosa commented on #122
Hi @miguelriemoliveira,
I will take care of this.

[2020-01-27 10:13] miguelriemoliveira commented on #122
Thanks. If you need we have examples in the atlascar xacro, but I don't think you do.

[2020-01-28 16:51] eupedrosa commented on #122
I added a mesh for the camera. Do not forget to update your local iris-ua/iris_ur10e repo.

[2020-01-28 16:51] #122 closed

[2020-01-28 17:35] miguelriemoliveira commented on #122
Thanks @eupedrosa .

[2020-01-28 17:59] miguelriemoliveira opened #123 "Unnecessary parameters data model in hand in eye"
Hi @eupedrosa ,

I noticed you have the data model **parameters** . There is no need to have this, you could just optimize some of the transformations which are in the collections transforms data model.

That was the whole idea, not to have intermediate data structures just because of the optimization. I remember you said this was for you to learn and test the OptimizationUtils api.

Can I try to

[2020-01-28 18:20] eupedrosa commented on #123
I understand your point. Make a proposal with a pull request.

[2020-01-30 20:28] miguelriemoliveira commented on #123
Hi @eupedrosa ,

I am working on this. It was actually quite hard to make small changes and thus I have made my changes in a different file "eye_to_base_calib_miguel.py"

The good thing is that I used your idea of creating the parameters with the names of the transforms rather than the sensors (as discussed in #120 ).

Will give you more feedback tomorrow and then we can talk.

I still will cleanu

[2020-01-30 20:34] miguelriemoliveira commented on #123
The visualization shows the camera in a strange place

![image](https://user-images.githubusercontent.com/11350998/73487918-d58efb80-439f-11ea-936e-4b6445c207fe.png)

This is not where the camera is, right?

Should be some bug ...

[2020-01-30 20:35] miguelriemoliveira commented on #120
First attend was done in eye_to_base ... #123

Using parameter names derived from the transformations, rather than from the sensors. Here is an excel with the sparse matrix ... seems to be ok ... @eupedrosa does it make sense to you?

https://docs.google.com/spreadsheets/d/1ysUhEgy7xfSNev5M95eXON0_1amHUuk3hQkSB5Z3fCI/edit#gid=0

[2020-01-31 08:38] eupedrosa commented on #123
Yes, that looks like a bug. But the mesh is OK in the robot description.

[2020-01-31 10:32] miguelriemoliveira commented on #123
Well but that was by the end of the optimization. At the start (i.e. before any optimization) the camera is here ...

![image](https://user-images.githubusercontent.com/11350998/73532571-d746d680-4414-11ea-904e-fca62d04f41e.png)

![image](https://user-images.githubusercontent.com/11350998/73532585-e037a800-4414-11ea-8fad-e825d9bc25f8.png)

![image](https://user-images.githubusercontent.com/1135099

[2020-01-31 11:35] miguelriemoliveira commented on #123
Hi @eupedrosa ,

Here is the drawing of a calibrated camera ...

![image](https://user-images.githubusercontent.com/11350998/73535912-9b177400-441c-11ea-8134-ed081805d49b.png)

And a video of the calibration process during the optimization ...

https://youtu.be/8tz4qkvfj88

Looks nice no? and the camera ends up in the place where it is mounted right?

[2020-01-31 12:59] eupedrosa commented on #123
Very nice. The initial position is very far from the final position, did
you set that on purpose?

A sexta, 31 de jan de 2020, 12:35, Miguel Riem de Oliveira <
notifications@github.com> escreveu:

[2020-01-31 13:30] miguelriemoliveira commented on #123
No, that was your first guess I think ...

From what I understood from your code, the origin field here

https://github.com/lardemua/AtlasCarCalibration/blob/master/interactive_calibration/calibrations/ur10e/eye_to_base/config.json

contains the translation and roll pith yaw angles of the first guess, to be used when we have a fixed sensor, right?

Can you give me a dataset with a non fixed patter

[2020-01-31 15:35] miguelriemoliveira commented on #123
I am closing this one. @eupedrosa , when you can please give me a non fixed pattern dataset.

[2020-01-31 15:35] #123 closed

[2020-01-31 15:54] miguelriemoliveira commented on #115
Hi @eupedrosa ,

I am done with adding visualization and a refactoring suggestion to the hand in eye code.
I changed a lot of stuff but most of them are just suggestions.
We could meet some time next week and talk about them and, if you want, we can roll back.

Also, that talk could decide about  #55 and #100 .

Hand in eye code can visualize the robot in all collections, as well as see the images

[2020-02-01 17:12] eupedrosa commented on #120
Yes they make sense. Did you test it?

[2020-02-01 17:22] eupedrosa commented on #115
This look very nice.
However, something in the camera poses that do not seem right to me. Although, the end pose looks what I was expecting. I will do some tests to make sure everything is OK..

Nonetheless great visualization :+1:
We will definitely use this....

[2020-02-01 18:07] eupedrosa commented on #115
@miguelriemoliveira, what is the procedure to view the ros visualization?

[2020-02-01 18:10] miguelriemoliveira commented on #115
Hi @eupedrosa ,

thanks. To run the code with visualization I first launch rviz (which launches the roscore as well)

`roslaunch` interactive_calibration eye_calibration_view_optimization.launch rviz:=true

Then, from OptimizationUtils we run:

`clear && test/hand_in_eye/eye_to_base_calib_miguel.py -json ~/datasets/eye_in_hand10/data_collected.json -csf "lambda x: int(x) <50" -rv -si`

Note the ne

[2020-02-01 18:37] eupedrosa commented on #115
It works :+1:

You can now find a model of the pattern at https://github.com/lardemua/AtlasCarCalibration/tree/master/interactive_calibration/meshes

[2020-02-02 00:54] miguelriemoliveira commented on #115
Here we have a charuco pattern ...

![image](https://user-images.githubusercontent.com/11350998/73601284-88a15580-4556-11ea-971a-4fe5d06debde.png)

[2020-02-04 15:18] miguelriemoliveira commented on #115
This is complete. Closing.

[2020-02-04 15:18] #115 closed

[2020-02-05 12:05] eupedrosa opened #124 "Draw camera frustum"

[2020-02-05 12:06] eupedrosa commented on #115
More data
[eye_to_base_2.zip](https://github.com/lardemua/AtlasCarCalibration/files/4159367/eye_to_base_2.zip)

[2020-02-05 23:36] miguelriemoliveira opened #125 "RVIZ plugin wishlist"
This would be a place to start.

http://wiki.ros.org/rviz_plugin_tutorials

@eupedrosa and @tiagomfmadeira , if we were to start developing and rviz plugin such as the one of move it (here's a [picture](https://www.google.com/imgres?imgurl=https%3A%2F%2Fuser-images.githubusercontent.com%2F19317207%2F44474072-c2e79300-a5ff-11e8-905f-a67455d81ba6.png&imgrefurl=https%3A%2F%2Fgithub.com%2Fros-planning

[2020-02-06 09:40] eupedrosa opened #126 ""Both Eyes" Optimization is not working after code merging."
I tried optimizing the "both eyes" dataset and it is not working. It works with the old code.
[both_eyes.zip](https://github.com/lardemua/AtlasCarCalibration/files/4164276/both_eyes.zip)

However, I created a new dataset with the new pattern and it is _not_ working with any version of the code. This is not good !!
[both_eyes_2.zip](https://github.com/lardemua/AtlasCarCalibration/files/4164278/both

[2020-02-06 10:38] miguelriemoliveira commented on #126
Hi @eupedrosa ,

OK, if you need help let me know. I can try to help this afternoon.

Regards,
Miguel

[2020-02-06 12:24] eupedrosa commented on #126
This is know fixed. Both problems.
I was able to get "both eyes" working for the new dataset. The solution is stranger, I just disabled "x_scale" and it then worked. I was able to get an RMSE of 0.436376327963.

[2020-02-06 12:24] #126 closed

[2020-02-06 14:02] miguelriemoliveira commented on #126
hum ... I am a bit uncomfortable with the solution since it seems to be a bit ad hoc ... anyway, the more robotic systems we calibrate, the better we will understand what's going on and how to solve it .

[2020-02-06 14:17] eupedrosa commented on #126
Welcome to the world of optimization. From what I understand, the scaling of the "x" values is preventing the optimizer from converging.

[2020-02-10 10:45] miguelriemoliveira opened #127 "Translate Ali et. al to our json format"
Inverse problem is #114

[2020-03-02 09:57] miguelriemoliveira commented on #83
Hi @aaguiar96 read this

[2020-03-02 14:23] miguelriemoliveira opened #128 "Create bag file of the zed+velodyne robot"

[2020-03-02 14:25] miguelriemoliveira opened #129 "Create a GMM optimization example"

[2020-03-02 14:26] miguelriemoliveira commented on #129
@eupedrosa  ...

[2020-03-02 14:38] aaguiar96 opened #130 "Test ZED camera and Velodyne 3D calibration using ICP"
@miguelriemoliveira @eupedrosa

[2020-03-02 14:39] miguelriemoliveira commented on #130
As discussed before you can use CloudCompare for this
https://www.danielgm.net/cc/

[2020-03-02 14:39] miguelriemoliveira commented on #130
... and don't forget to always add the project field to the issue, so it appears in

https://github.com/lardemua/AtlasCarCalibration/projects/2

[2020-03-02 15:15] miguelriemoliveira opened #131 "How do you handle the "anchored sensor" in hand in eye?"
Hi @eupedrosa , can you answer, I'm curious ...

[2020-03-02 15:20] eupedrosa commented on #131
It is ignored. The "anchor" is the arm's base.

[2020-03-02 15:22] miguelriemoliveira commented on #131
OK, so we could put 'None' for example no?

[2020-03-02 15:22] #131 closed

[2020-03-02 23:28] aaguiar96 commented on #129
Gaussian Mixed Model estimation using 3 Gaussians. (@miguelriemoliveira, @eupedrosa)
I'm going now to had input parameters to set the number of Gaussians and the respective coefficients.

![output](https://user-images.githubusercontent.com/35901587/75727597-354d2f00-5cdd-11ea-8eef-44c1c08fa0a6.gif)

[2020-03-03 04:48] miguelriemoliveira commented on #129
Looks great! Can you add the video on youtube an then link here? Gifs have the problem of being too small. I am curious to see this working with N gaussians...

[2020-03-04 19:54] miguelriemoliveira opened #132 "A change in the json file format - labels"
Hi @eupedrosa ,

I am working on the RWHE converter and looking into the chessboard detection.

I think you changed the format of the json file, in the collections->labels dictionary.

Before it was:

https://jsoneditoronline.org/#left=local.qeweju&right=local.wigozi

and now you have

https://github.com/lardemua/AtlasCarCalibration/blob/71148546811bdb1a868400865819c47e23b0de1a/interactive_calibra

[2020-03-04 20:28] eupedrosa commented on #132
It only breaks very old hand-eye datasets. I no longer use those dataset. It does not break Atlas datasets.
The change adds an extra entry to the dictionary which can be safely ignore.

[2020-03-04 22:57] miguelriemoliveira commented on #132
OK, thanks for the quick reply. I will use the latest format then.

[2020-03-04 23:07] miguelriemoliveira commented on #132
Sorry again ... but I was again looking at the change and I think it breaks some things ... namely the calibration code ... look here

https://github.com/miguelriemoliveira/OptimizationUtils/blob/0205a64b2b06d356d863b1cf957214b23be8d7cb/test/sensor_pose_json_v2/objective_function.py#L157

Am I missing something?

I mean, I agree with the change, I just want to be sure everything else keeps working

[2020-03-04 23:16] eupedrosa commented on #132
No, but I believe that you are reading it wrong. There are two keys, "idxs" and "ids".
The first is for labels and the seconds for corners.

[2020-03-04 23:23] miguelriemoliveira commented on #132
I am already a bit sleepy, but I feel lost. I have for example your dataset **eye_in_hand_10** and the labels are like this:

[code]

but when I look and the code here the dictionary that is produced in different (for example, it contains a new key 'keypoints')...

https://github.com/lardemua/AtlasCarCalibration/blob/71148546811bdb1a868400865819c47e23b0de1a/interactive_calibration/src/interactive_

[2020-03-04 23:34] eupedrosa commented on #132
You really should go to sleep. The **eye_in_hand_10** is a recent dataset.
You are looking at half the code. That is just what the "Pattern" detects. Then, the `interactive_data_labeler.py` is the one that creates the output json.

Look here:
https://github.com/lardemua/AtlasCarCalibration/blob/71148546811bdb1a868400865819c47e23b0de1a/interactive_calibration/src/interactive_calibration/interactive

[2020-03-05 04:12] miguelriemoliveira commented on #132
Hi @eupedrosa ,

got it (finally :)). Thanks.

[2020-03-05 04:12] #132 closed

[2020-03-05 15:39] aaguiar96 commented on #128
@miguelriemoliveira, @eupedrosa Here is the link for the [rosbag file](https://drive.google.com/file/d/1Zjsf2oDxGfafgsz2Bdt5Fb0Sge2YJmVk/view?usp=sharing). It has 20 seconds with the ZED stereo and depth images, and velodyne point cloud.

I leave here a picture of the data displayed on rviz (use the fixed frame "velodyne" to watch the point cloud).
What do you think about the data?

![data](https:

[2020-03-05 16:37] miguelriemoliveira commented on #128
Hi @aaguiar96 ,

thanks for the work. I looked into the bag file contents:

[code]

I notice we are missing the **camera_info** topics for both cameras. I think we will need this to compute the stereo and others. Can you do another bag file with this information. @eupedrosa , do you remember something else we may need?

André, can you run a

`rostopic list`

of your system and post it here,  so we

[2020-03-05 16:51] eupedrosa commented on #128
Maybe the `\tf_static` ?

[2020-03-05 16:57] miguelriemoliveira commented on #128
Rigjt,  if there is one ...

On Thu, Mar 5, 2020, 16:51 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-03-05 17:09] aaguiar96 commented on #128
Thanks for the clarification.
I'll post here the rosbag with the camera_info topics soon.

I am using our robotic platform, AgRob V16.
Should I place the launch file in `AtlasCarCalibration/interactive_calibration/launch/`. Also, should I post in the repo the playback launch but also the record one?

I don't think we have a `\tf_static` topic, but I will check it out.

[2020-03-05 17:52] miguelriemoliveira commented on #128
Hi André

We only need the playback launch file to run your bag files.

Miguel

On Thu, Mar 5, 2020, 17:09 André Aguiar <notifications@github.com> wrote:

[2020-03-06 00:14] miguelriemoliveira commented on #129
Hi @aaguiar96,

the video looks very nice. I would just draw also the gaussian components both for the ground truth as well as the estimated model.

What do you mean with "the estimation fails" ... there is no convergence?

That's odd,  @eupedrosa for example is using it with six values, check here

https://github.com/miguelriemoliveira/OptimizationUtils/blob/0205a64b2b06d356d863b1cf957214b23be8d7

[2020-03-06 01:58] miguelriemoliveira commented on #127
Hi @eupedrosa ,

I have a first functional version. Instructions for using at

https://github.com/lardemua/AtlasCarCalibration#convert-to-and-from-rwhe-datasets

Can you test and tell me if its working?

[2020-03-06 09:59] aaguiar96 commented on #128
@miguelriemoliveira, I replaced the rosbag file with [another](https://drive.google.com/open?id=1Zjsf2oDxGfafgsz2Bdt5Fb0Sge2YJmVk) containing the `camera_info` topics for both cameras.
I placed the playback launch into `interactive_calibration/launch/agrobv16_playback` and the rviz configuration file into `interactive_calibration/calibrations/agrobv16/calibration.rviz`.
You just have to change the

[2020-03-06 12:26] eupedrosa commented on #127
It was almost working. I did the necessary changes. You can pull them.
The script only works for the dataset kuka_1, am I right?

[2020-03-06 13:11] miguelriemoliveira commented on #127
Hi @eupedrosa ,

great that its working.

I did not not test it but I would say it should work with the other kuka-chessboard datasets.

For other datasets if they have different cameras or patterns you must create a new

interactive_calibration/calibrations/rwhe_kuka/config.json

for that purpose.

but I think its pretty general ...

Should I close the issue? Do you need anything else?

[2020-03-06 13:23] miguelriemoliveira commented on #128
Hi @aaguiar96 ,

Thanks for the work. From what I see we should have, in addition to the topics we already have, I would ask you to include the following:

**/lidar1/scan**  (we are working on a new calibration method with 2D lidars, we could try it our with this lidar1)
**/tf_static** (as @eupedrosa , we may need this)

About the  camera_info, which are you recording?

**/zed/zed_node/left/camera

[2020-03-06 13:45] miguelriemoliveira opened #133 "Create a description of the Agrob robotic system"
Hi @aaguiar96 ,

So, lets assume the name of your system will be  **agrob**, ok?

For calibrating, we need a description of the robotic system to be calibrated (if you read the paper I think you understand our non-intrusive approach to the calibration of robotic systems).

This description is normally in the form of an urdf or a xacro file(s), and is  placed
in the **agrob_description** ros packag

[2020-03-06 14:52] eupedrosa commented on #127
I think you can close the issue. I was able to generate kuka_2 and kuka_3.

[2020-03-06 15:05] #127 closed

[2020-03-06 19:35] eupedrosa opened #134 "Small improvement to the optimization."
@miguelriemoliveira, I did a small change in the objective function and now the optimization takes 12.899 seconds for the both-eyes dataset  instead of 16.431 seconds. We also have an improvement in the errors.

![both-eyes_(old)_rmse](https://user-images.githubusercontent.com/6196901/76115716-95dfb300-5fe0-11ea-8155-2e50569724e5.png)
![both-eyes_(new)_rmse](https://user-images.githubusercontent.c

[2020-03-09 14:52] miguelriemoliveira commented on #133
https://github.com/tu-darmstadt-ros-pkg/hector_models/tree/kinetic-devel/hector_sensors_description/meshes/vlp16

[2020-03-09 14:56] miguelriemoliveira commented on #133
https://github.com/lardemua/atlas-core/blob/master/atlas2_description/urdf/atlas2_macro.urdf.xacro

[2020-03-10 19:36] aaguiar96 commented on #129
Hi @miguelriemoliveira  and @eupedrosa

I've solved all the issues, and now the GMM estimation is fully working.
The problem was on the definition of both `getter` and `setter` functions.

Now, the program allows the user to input as many gaussians as he wants.
Additionally, I changed the initial guess to the ground truth plus a gaussian noise.

I think the code is ready to commit, what do you thi

[2020-03-10 23:23] miguelriemoliveira commented on #129
Hi @aaguiar96 ,

the video looks great. Congratulations!

Yes I think you should commit. Actually, my philosophy is to commit as much as possible (I often do it several times a day, take a look https://github.com/lardemua/AtlasCarCalibration/commits/master).

This is of course subject to making sure we are not breaking anyone's code with our commit. In this particular case, however, you were worki

[2020-03-11 09:17] aaguiar96 commented on #129
That makes sense @miguelriemoliveira.

I've committed `gmm.py`.
You can try it out! :)

[2020-03-11 09:23] aaguiar96 commented on #133
Hi @miguelriemoliveira

I've been studying this issue and a college of mine also introduced me this topic.

So, our robot's base is a Husky which provides the `xacro` [here](https://github.com/husky/husky/tree/melodic-devel/husky_description).
Additionally, I found the [urdf file](https://github.com/stereolabs/zed-ros2-wrapper/tree/master/zed_wrapper/urdf) for the ZED camera. Is that enough or do

[2020-03-11 09:43] eupedrosa commented on #133
A `xacro` is a macro language based on `xml`. It help maintaining complex urdf files and promotes the re-usability of description files. You should read more about it http://wiki.ros.org/xacro

[2020-03-11 18:26] eupedrosa opened #135 "Create dataset translator for tabb et al"
code: https://github.com/amy-tabb/RWHEC-Tabb-AhmadYousef

dataset: https://data.nal.usda.gov/dataset/data-solving-robot-world-hand-eyes-calibration-problem-iterative-methods

[2020-03-12 12:20] aaguiar96 commented on #128
Hi @miguelriemoliveira and @eupedrosa

Here are two pictures of both **/zed/zed_node/left/camera_info** and **/zed/zed_node/left_raw/camera_info** respectively.

![Screenshot from 2020-03-12 10-07-31](https://user-images.githubusercontent.com/35901587/76520517-ee88d300-645a-11ea-96c9-07c5f25f0357.png)
![Screenshot from 2020-03-12 10-07-39](https://user-images.githubusercontent.com/35901587/7652052

[2020-03-12 12:56] miguelriemoliveira commented on #128
Hi @aaguiar96 ,

my hope was that both had the same information on the camera_info, which is not the case ...

I understand your idea of recording  **/zed/zed_node/left_raw/camera_info**  but I am not really sure ... whatever you decide to record, you should have corresponding image and camera info topic  ... we are recording **/zed/left/image/compressed** but I really don't know which camera_info

[2020-03-12 12:59] miguelriemoliveira commented on #128
(Small tip): when giving information from the terminal it is preferable to copy paste here, rather than pasting a print screen. It makes looking into the information more simple, take a look

This:

[code]

is better than this:

![image](https://user-images.githubusercontent.com/11350998/76523918-22ff8d80-6461-11ea-9cfe-33a61e0f36f8.png)

[2020-03-12 13:05] eupedrosa commented on #128
@aaguiar96, the output of the camera_info is not what I was expecting. If this is the raw images, then then the camera info if from an _not_ calibrated camera.

This must be the distortion from the lens. The raw_image is not rectified.
But our system works well in raw images. It takes into account the K matrix and D coefficients.

[2020-03-12 13:37] aaguiar96 commented on #128
Sure Miguel, much better! :)

[2020-03-12 13:39] aaguiar96 commented on #128
Ok nice @eupedrosa. But will the ChaRuCo detector also work with this distortion?

[2020-03-12 13:50] miguelriemoliveira commented on #128
Can you post a distorted image here?
Can t run the bag file right now ...

On Thu, Mar 12, 2020, 13:39 André Aguiar <notifications@github.com> wrote:

[2020-03-12 13:57] eupedrosa commented on #128
I sure hope so. OpenCV has a function to calibration cameras using charuco output https://docs.opencv.org/3.4.0/d9/d6a/group__aruco.html#ga54cf81c2e39119a84101258338aa7383

[2020-03-12 15:46] miguelriemoliveira commented on #128
I agree with @eupedrosa , we should have the undistorted image recorded (and the corresponding camera_info topic), so I guess we should record:

**/zed/left/image/compressed**
**/zed/zed_node/left_raw/camera_info**

@aaguiar96 , if we are not entirely sure then just record the second camera info topic as well.

[2020-03-13 00:07] miguelriemoliveira commented on #129
Hi @aaguiar96 ,

You can close this issue ... it was working fine.

[2020-03-13 09:27] #129 closed

[2020-03-14 15:00] aaguiar96 commented on #133
Hi @miguelriemoliveira and @eupedrosa

What do you think? :)

![xacro](https://user-images.githubusercontent.com/35901587/76684512-765e1100-6604-11ea-9ea8-8771888b9e57.png)

[2020-03-14 18:20] miguelriemoliveira commented on #133
Hi @aaguiar96 ,

looks really nice. Can you post picture for comparison?

Once this is complete we can start working on the calibration, not sure if we should start next week or do a hiatus because of the fct project ,,,

[2020-03-14 19:04] eupedrosa commented on #133
https://www.fct.pt/noticias/index.phtml.pt?id=508&/2020/3/Concurso_de_Bolsas_de_Doutoramento_2020_e_Concurso_de_Projetos_de_IC&DT

Maybe you should ignore this.....

[2020-03-14 19:33] miguelriemoliveira commented on #135
I think I got the first version working ... here's the dataset.json for hte DS7

https://jsoneditoronline.org/#left=local.yotigu&right=local.xivasu

I tested with DS1 and with DS7 and it seems to be working.

This one takes more time since we calibrate the sensors intrinsics everytime the script is called.

How to call for DS1

[code]

and for DS7

[code]

[2020-03-14 19:35] miguelriemoliveira commented on #135
@eupedrosa , I think it is working, please try it out.

I will do the opposite conversion later on ...

[2020-03-14 19:41] eupedrosa commented on #135
Nice.. I'm gonna test it.

[2020-03-14 21:58] aaguiar96 commented on #133
Here is the real tower @miguelriemoliveira

![491302_1_En_13_Fig1_HTML](https://user-images.githubusercontent.com/35901587/76691092-e6898880-663e-11ea-97f9-73f44cdf13f4.png)

[2020-03-15 11:19] eupedrosa commented on #135
It is not working, it does not converge to a solution. I'm still investigating why. Maybe a bad first guess? Or something in the data import?

[2020-03-15 13:48] miguelriemoliveira commented on #135
Hi Eurico.

Could be something  in the conversion.

There was no first guess so I just put 0 0 0 0 0 0 for x y z r p y.

Tell me how I can help.

On Sun, Mar 15, 2020, 11:19 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-03-15 19:00] eupedrosa commented on #135
I think I solved it.
The transformation had to be inverted and the translation were in milimeters.

[2020-03-15 19:14] miguelriemoliveira commented on #135
Great!

On Sun, Mar 15, 2020, 19:01 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-03-16 08:37] miguelriemoliveira commented on #133
The picture and the model look very similar. I think it was a good work. Another thing I would ask you to post is the tf tree for this model (after that I think we can close the issue).

I think we should work on the fct project for now (at least we should kick start it), and then go back to the calibration.

The flir camera we can also ignore for now. Once we are calibrating more stuff on the agr

[2020-03-16 15:50] miguelriemoliveira opened #136 "Remove atlas-core repository - now called atlascar2"
After this huge change https://github.com/lardemua/atlascar2/commit/a1bd0f7b91209aedf0a46bb8328ac6fa5a6f40b5 , if you are using the atlas-core  repository (which is now called atlascar2), you should remove the repository and clone again from github

https://github.com/lardemua/atlascar2

Also, you should cleanup your catkin_ws and recompile.

[2020-03-17 10:50] aaguiar96 commented on #133
Here it is! :)

![frames](https://user-images.githubusercontent.com/35901587/76849288-0ab2b880-683d-11ea-9675-51285f44feb0.png)

I agree. I've already created the document. So, we can start writing!

[2020-03-17 16:13] eupedrosa commented on #135
The Tabb dataset is, in my opinion, not great. It has no rotations and most of the views are perpendicular to the pattern plane (i.e. ccd and and patern plane are parallel). This is specially noticeable when optimizing the intrinsic parameters and I get a value of 30 to the skew and the orientation of the sensor is compensated for this. This means that there is a degree of freedom that is neglecte

[2020-04-08 14:21] miguelriemoliveira commented on #135
Startting to work to the inverse process of translation ...

[2020-04-08 15:34] miguelriemoliveira commented on #135
I agree with what you say.

[2020-04-08 15:35] miguelriemoliveira commented on #135
Hi @eupedrosa ,

I have a convert_to_tabb script functional. Can you test it?

Instruction on how to use here:

https://github.com/lardemua/AtlasCarCalibration#to-convert-to-an-tabb-dataset-run

Be careful about this note:

https://github.com/lardemua/AtlasCarCalibration/blob/16f3622d2698829e0419c28f30643e06c1f71389/interactive_calibration/scripts/convert_to_tabb_dataset.py#L113-L114

Tell me if i

[2020-04-18 19:41] miguelriemoliveira opened #137 "Chessboard is drawn in the wrong side of the board?"
Hi @eupedrosa ,

I think the chessboard is being draw on the wrong side of the board.

If I run this

`roslaunch interactive_calibration eye_calibration_view_optimization.launch`

and then this

`./test/general_hand_eye/general_hand_eye.py -si -rv -json ~/datasets/eye_to_base/data_collected.json -i  -csf "lambda x: int(x)%4==0"`

I get an image like this:

![Screenshot at 2020-04-18 20-36-28](http

[2020-04-18 19:55] eupedrosa commented on #137
It is not a *bug* it is a *feature*.

The chessboard is being drawn with correct side. The chessboard detector uses a *left-hand* axis but we assume to be a *right-hand* axis. This results in a mirror effect when drawing the chessboard. The charuco detectors uses a *right-hand* axis, therefore, optimizations with that type chessboard results in a correct draw. Did you understand the *bug*?

[2020-04-18 19:59] miguelriemoliveira commented on #137
Hum, not sure I understood fully why this happens, but can't we do something to change it? I mean, the reviewer will just say, "why is the camera is on the wrong side of the charuco", won't he?

[2020-04-18 20:35] eupedrosa commented on #137
We can always argue that we model has the pattern drawn in both sides.

[2020-04-18 21:41] miguelriemoliveira commented on #137
Yes but that way there are some perspectives which we cannot show, because
they show an empty board.

I can try to see if i can solve it with a flag which we use just to get
nice drawings...

On Sat, Apr 18, 2020, 21:35 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-04-18 22:45] miguelriemoliveira opened #138 "eye-on-hand or eye-in-hand???"
the most important existential doubt that ever existed ...

@eupedrosa , which one are we using after all?

[2020-04-18 23:41] miguelriemoliveira commented on #137
That's strange ... for the eye in hand the charuco seems to be drawn on the correct side

![image](https://user-images.githubusercontent.com/11350998/79673962-830eef80-81d6-11ea-947d-d69421f96829.png)

[2020-04-19 11:16] eupedrosa commented on #137
I guess you did not read my reply in full.. ;)

Yes, the charuco draws on the correct side.
The chessboard has its origin in the top left side, while the charuco has its origin in the top bottom side. Check how the axis are drawn with TF in RVIZ.

[2020-04-19 11:22] eupedrosa commented on #138
*on* - preposition
1. physically in contact with and supported by (a surface). "on the table was a water jug"
2. forming a distinctive or marked part of the surface of. "a scratch on her arm"

*in* - preposition
1. expressing the situation of something that is or appears to be enclosed or surrounded by something else. "I'm living in London"
2. expressing a period of time during which an event happ

[2020-04-19 11:52] miguelriemoliveira commented on #138
Great, it is setteled then. Thanks.

[2020-04-19 11:52] #138 closed

[2020-04-19 11:55] miguelriemoliveira commented on #137
Hi @eupedrosa ,

Sorry, I am still confused. I get it that we are using a different convention form the aruco detector, and that that mirrors the pattern.

But why the difference between both use cases? They both have charucos ...

Thanks,
Miguel

[2020-04-19 11:58] miguelriemoliveira commented on #137
Got it ... they are both charucos but in the eye-to-base case you are using a chessboard detector ... here's the config.json

[code]

while in the eye-on-hand you use a charuco detector

[code]

but why on earth do you not use a charuco detector in the eye-to-base use case?

[2020-04-19 12:00] eupedrosa commented on #137
Check the dataset images and verify that it uses charuco. If is uses a charuco we should change the detector.

[2020-04-19 12:10] miguelriemoliveira commented on #137
Yes, it does, check new fig 3 of the paper. That was why I was getting confused ...
I will change it.
Thanks

[2020-04-19 12:11] miguelriemoliveira commented on #137
Hi @eupedrosa , can you please change it instead of me?

I am not sure if I should also change the other parameters ...

[2020-04-19 12:20] eupedrosa commented on #137
Changing the calibration pattern in `data_collecte.json` changes nothing.
I may have to send you the datasets that I am using for the paper. We have a lot of datasets and we may not be in sync.

[2020-04-19 12:25] miguelriemoliveira commented on #137
yes, please send me what you are using. We should be synced.

Thanks,
Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Sun, 19 Apr 2020 at 13:21, Eurico F

[2020-04-19 14:07] miguelriemoliveira commented on #137
Thanks, @eupedrosa .

Now everything is clear. Once we create new datasets we will also need to change

interactive_calibration/calibrations/ur10e/eye_in_hand/config.json

[2020-04-19 14:07] #137 closed

[2020-04-20 09:53] aaguiar96 opened #139 "Create labelling procedure for 3D LiDAR scans"

[2020-04-20 09:54] aaguiar96 opened #140 "Add Agrob description to playback launch file"

[2020-04-20 10:38] miguelriemoliveira commented on #139
Start with a standalone python code that isolates the points from the pattern board using ransac on the point cloud (or a subset of it)

Ransac in python can be taken from
https://github.com/miguelriemoliveira/RansacPlaneDetection

[2020-04-20 10:40] miguelriemoliveira commented on #140
The file is there as a copy of another calibration ... you must change it now.

[2020-04-20 17:42] aaguiar96 commented on #140
@miguelriemoliveira should I also place the agrob xacro description on `AtlasCarCalibration/interactive_calibration/urdf/` folder and load it from the launch file?

[2020-04-20 18:55] aaguiar96 commented on #139
Hi @miguelriemoliveira  and @eupedrosa

I created a standalone repo so that you can follow the code.
You can find it [here](https://github.com/aaguiar96/3DScanLabeler).

I've written the PCL callback today, and now I'll start the algorithm itself. :)

[2020-04-21 00:00] miguelriemoliveira commented on #139
Hi André,

when I said standalone I means a standalone file. It did not have to be an
entirely new repository,

In any case, the important thing is that you are moving forward!

Regards,
Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica,

[2020-04-21 00:02] miguelriemoliveira commented on #140
Hi André,

Take the atlascar as an example. I think the xacros should be in your
robot's package.

in the atlascar the xacro files are in the atlascar2 folder.

Hope it helps,
Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidad

[2020-04-21 15:56] aaguiar96 commented on #140
Hi @miguelriemoliveira and @eupedrosa

I think it is done, you can check it.
The only difference to atlascar2 was that the velodyne PCL, when recorded, was on the `/velodyne` referential frame, and the `urdf` generates a link with the name `vlp16_frame`. So, I had to add a static dummy link from `/vlp16_frame` to `/velodyne` so that the PCL can be visualized on Rviz without the tf's generated by t

[2020-04-21 16:09] aaguiar96 commented on #140
Hi @miguelriemoliveira and @eupedrosa

I think it is done, you can check it.
The only difference to atlascar2 was that the velodyne PCL, when recorded, was on the `/velodyne` referential frame, and the `urdf` generates a link with the name `vlp16_frame`. So, I had to add a static dummy link from `/vlp16_frame` to `/velodyne` so that the PCL can be visualized on Rviz without the tf's generated by t

[2020-04-21 16:39] aaguiar96 commented on #140
Also, I've already written the `config.json` file for agrob.
I leave here the tf tree generated by the agrob `xacro`.

![frames](https://user-images.githubusercontent.com/35901587/79890202-10308f00-83f7-11ea-97dc-66e1b38a86f0.png)

[2020-04-21 20:19] miguelriemoliveira commented on #140
Hi @aaguiar96 ,

I am in my teaching inferno. Will only be over tomorrow by the end of the afternoon.

I will take a look on Thursday.

[2020-04-21 20:21] miguelriemoliveira commented on #140
Great! I will take a look on Thursday.

See you,Miguel

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Tue, 21 Apr 2020 at 17:42, André Aguiar <notifications@g

[2020-04-21 23:44] miguelriemoliveira commented on #140
Hi @aaguiar96

and you do this in the xacro?

[2020-04-22 08:35] aaguiar96 commented on #140
I've done it with static_transform_publisher.

[2020-04-23 10:38] aaguiar96 commented on #139
Hi @miguelriemoliveira and @eupedrosa

I think RANSAC works... :)

![plane](https://user-images.githubusercontent.com/35901587/80090052-d2e31300-8556-11ea-8669-5e2a5c0eaf0a.png)
![plane1](https://user-images.githubusercontent.com/35901587/80090054-d4144000-8556-11ea-8f84-708c76c9a187.png)

[2020-04-23 10:42] aaguiar96 commented on #139
Now, my idea is to:

- Validate the results more extensivelly
- Use the `Publish Point` of Rviz to set the seed point (now I'm setting it on the code)
- Trank the chessboard points frame-by-frame

What do you think?

[2020-04-23 10:50] miguelriemoliveira commented on #139
Great! Looks good. But I think now is the time to integrate with the data_collector and labellor

Because the second functionality we have it already implemented ...

Not sure what's best, but I think this may be a good time to start integrating ... If you want we can meet and I guide you through the process.

[2020-04-23 10:55] aaguiar96 commented on #139
Ok, sure.
We can integrate and then implement the missing features.

Ok Miguel, we can meet. I'll send you an e-mail.

[2020-04-23 16:07] aaguiar96 commented on #139
I think I found a solution much simpler than RANSAC.
Just selecting the middle point of the chessboard on the initialization, and then tracking it gives a great result.
In the gif, the white points are the points estimated to be on the chessboard, and the big white point is the seed point, resulting from the tracking.

![output](https://user-images.githubusercontent.com/35901587/80121643-7c8cc900-

[2020-04-23 18:33] eupedrosa commented on #139
There are a few points in white that belong to the user, they are _unwanted_.

This may work.

[2020-04-23 20:03] miguelriemoliveira commented on #139
Hi @aaguiar96 ,

results look really nice. I think @eupedrosa  is right about doing ransac as a post processing to refine the results.

I did not really understand how you did the tracking part:

Can you give more details? I am interested.

[2020-04-23 21:42] aaguiar96 commented on #139
Since RANSAC was not working as well as expected, I tried out a simple tracking approach.
So, the user initializes the system selecting a point on the chessboard (close to the middle one preferably).
Then, the chessboard is clustered using its approximate real size.
The tracking is done computing the seed point in each iteration by the average of all points in the cluster. :+1:

[2020-04-24 12:45] aaguiar96 commented on #139
Ok, I think this approach is working.
I was having problems with RANSAC because I forgot to reset the number of inliers to 0 before starting RANSAC, for each frame received. Also, I added the feature of checking if the three selected points are colinear.

This is the result with `distance_threshold = 0.02` and 100 iterations, feeding the RANSAC only with the tracked points.

![output](https://user

[2020-04-24 13:23] miguelriemoliveira opened #141 "Integrate 3d lidar detection into data collector and labeller"
After #139 is complete we need to integrate that feature into the data collector and labeller.

I will first prepare the stuff and then @aaguiar96  will do the integration.

[2020-04-24 13:25] miguelriemoliveira commented on #139
Hi  @aaguiar96 ,

it looks really nice. I would say lets try with this one and then if we need a more accurate detection we revisit the problem.

For now I would say we need to integrate with the collect_and_label script (on me for now, #141) .

Then, the goal is to generate a dataset from the agrob bagfile. I would close this one and work on #141 from now on ...

[2020-04-24 13:38] aaguiar96 commented on #139
Yes sure @miguelriemoliveira

Ok, I agree.
I'll close the issue then. Thanks for the support @miguelriemoliveira

[2020-04-24 13:38] #139 closed

[2020-04-24 13:42] aaguiar96 commented on #140
@miguelriemoliveira, I think we can close this one too. What do you think?

[2020-04-24 13:43] miguelriemoliveira commented on #136
I think this is done. Nobody else is using it right now, so it works :)

[2020-04-24 13:43] #136 closed

[2020-04-24 13:44] miguelriemoliveira commented on #134
I @eupedrosa ,

I will close this issue, but the images look really nice. I did not remember how nice they looked. Don't forget to add some in our paper.

[2020-04-24 13:44] #134 closed

[2020-04-24 13:45] miguelriemoliveira commented on #140
Hi @aaguiar96 ,

we tested today and it seems to be working.

Problems to solve in the next bag file:

1. camera_info topic matching the image topic
2. velodyne lidar reference frame

[2020-04-24 13:45] #140 closed

[2020-04-24 13:56] miguelriemoliveira commented on #140
Telepathy :)

[2020-04-24 15:01] miguelriemoliveira opened #142 "cv2.aruco_DetectorParameters object has no attribute 'doCornerRefinement'"
Hi @eupedrosa ,

for #141 we need to run data_collector_and_labeller using charucos, but I get and error as follows:

I had another error before which required the pip installation of **opencv-contrib-python**, but now this:

[code]

Can you help?

[2020-04-24 15:07] eupedrosa commented on #142
Hi @miguelriemoliveira.
Can you remove that line, line 52, and try again? It was some tests that I was doing, but that is only present in a higher version of opencv.

[2020-04-24 15:13] miguelriemoliveira commented on #142
Will try it and get back to you ...

[2020-04-24 15:16] miguelriemoliveira commented on #142
It works! I will push this version with that line commented. Thanks.

[2020-04-24 15:20] #142 closed

[2020-04-24 15:47] miguelriemoliveira commented on #141
Hi @aaguiar96 ,

the code is prepared for integration. Take a look at what I changed in
https://github.com/lardemua/AtlasCarCalibration/commit/0f0ffc2ffbc842775f4b348c054351fa6583db2c

in particular the files:
data_collector_and_labeler.py
interactive_data_labeler.py

My comments will guide you I think, but we can alsways talk if you get stuck.

To run, you must do:
[code]

and then to label:

[co

[2020-04-24 15:50] miguelriemoliveira commented on #141
Oh, and don't forget to install new dependencies

`roscd interactive_calibration && pip install -r requirements.txt`

[2020-04-24 15:52] aaguiar96 commented on #141
Ok @miguelriemoliveira

Thank you. I let you know when I have some news! :)

[2020-04-26 23:28] miguelriemoliveira opened #143 "Need a bagfile"
Hi @eupedrosa ,

for the paper, I wanted to run the bagfile to record videos and save snapshots.

I only have the datasets, which means I cannot show for example the interactive sensor positioning.

Can you send the bagfiles to me? If possible send me both use cases (and also the both-eyes), since I am thinking of having a video for each.

Thanks,
Miguel

[2020-04-26 23:38] miguelriemoliveira opened #144 "Should we add a field in the config.json to indicate the type of message we have?"
Hi @TiagoaTavares @eupedrosa and @aaguiar96 ,

for now, our config  json files did not have information about how the data should be labelled and later on optimized.

The reason for that is that we assumed that it would be the **message type**, which is not in the json, it is inferred by the **data collector** from the **message topic**, which is in the config file.

An example of the json bellow.

[2020-04-27 13:01] eupedrosa commented on #143
Ok, pay attention to you email. I will send them to you during the afternoon.

[2020-04-27 13:12] miguelriemoliveira commented on #143
OK, thanks.

[2020-04-27 21:34] aaguiar96 commented on #144
Hi @miguelriemoliveira

I am not entirely acquainted with the approach of @tiagomfmadeira but given that we have the same data types, at least the labeling procedure should be equal on both sides, in my opinion. In other words, each type of message should have a labeling procedure, independent of the type of sensor, don't you think?
Just a thought, I don't know if this is actually doable. :)

[2020-04-29 14:24] miguelriemoliveira opened #145 "Create config.json parameter to override sensor handling based on message type (default)"
Derived from #144 .

Close #144.

[2020-04-29 14:24] miguelriemoliveira commented on #144
Hi @aaguiar96 ,

thanks for the feedback. In fact @eupedrosa gave a great idea by phone: we take the best of both worlds. We will use the message type as you say, but also have the functionality of having a parameter which can override the message type.

I will implement once I have time (#145)

[2020-04-29 14:24] #144 closed

[2020-04-29 14:25] miguelriemoliveira commented on #143
Just finished downloading. Thanks @eupedrosa .

[2020-04-29 14:25] #143 closed

[2020-04-29 14:26] miguelriemoliveira commented on #135
Hi @eupedrosa

this is working right? Should we close?

[2020-04-29 14:26] miguelriemoliveira commented on #141
Hi @aaguiar96 ,

any news? Did you find some time to work on this. If you need help tell me, I am eager to work on this stuff :)

[2020-04-29 14:31] eupedrosa commented on #135
Yes, we can close.

[2020-04-29 14:31] #135 closed

[2020-04-29 15:25] aaguiar96 commented on #141
Hi @miguelriemoliveira

I'm sorry, I had a lot of work these days. I will start working on this issue tomorrow morning!
Tomorrow I hope to have some news. :)

[2020-04-30 09:24] aaguiar96 commented on #141
Ok Miguel, I'm back! Sorry about the delay... :)

So, I think I was able to run the whole system.
Let me know if I understand:

- the interactive_data_labeler is where the labels for the different sensors are generated;
- the data_colector_and_labeler collects the data, use interactive_data_labeler and publishes the labels;
- you already created one topic `/velodyne_points/labelled` where I must p

[2020-04-30 11:33] miguelriemoliveira commented on #141
I @aaguiar96 ,

no problem, we work on this when we have time.

yes

yes, but publishing the labels is a just a bonus feature for better debugging, the real goal is to write the json file which will be the input for the calibration procedure

Yes, that's it. The points from the velodyne point cloud that your code thinks belong to the chessboard should be published (an rviz marker with spheres, per

[2020-04-30 11:34] aaguiar96 commented on #141
I @miguelriemoliveira

I think I've got the code almost (missing the json file generation) integrated (see .gif bellow)
![output](https://user-images.githubusercontent.com/35901587/80705517-7a73be80-8ade-11ea-8456-88cc69b330c2.gif)

However, most of the times the system does not work and gets stuck at this issue:
[code]
I tried to add a `listener.waitForTransform` but it did not solve the issue...

[2020-04-30 11:38] miguelriemoliveira commented on #141
Looks good!
I would recomend transparent spheres as the marker types, because with them you can still see the point cloud data poins bellow. Check the 2D lidar example.

Concerning the tf exception, that's strange, can you upload the tf tree?

[2020-04-30 11:39] miguelriemoliveira commented on #141
Also, show us a gif where you move the seed marker (the rviz interactive marker around to should that it starts selecting other objects). Is it possible?

[2020-04-30 11:46] aaguiar96 commented on #141
Ok Miguel, I'll change it.

![frames](https://user-images.githubusercontent.com/35901587/80706395-2e297e00-8ae0-11ea-8277-4a743444d487.png)

Yes sure. Here:

![output](https://user-images.githubusercontent.com/35901587/80706637-85c7e980-8ae0-11ea-8f77-0b0be6fdae19.gif)

[2020-04-30 12:43] aaguiar96 commented on #141
@miguelriemoliveira is this what you were talking about, or do you want me to decrease the `alpha` parameter of the labeled points?

![output](https://user-images.githubusercontent.com/35901587/80711584-81073380-8ae8-11ea-891e-ee27828bf87a.gif)

[2020-04-30 13:56] miguelriemoliveira commented on #141
Hi,
I think that's ok.

Thanks,
Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Thu, 30 Apr 2020 at 13:43, André Aguiar <notifications@github.com> wrote:

[2020-04-30 14:01] aaguiar96 commented on #141
Ok @miguelriemoliveira.
Regarding the creation of the .json file.
Two things:

- I read the `PointCloud2` msg into a `numpy array` since it was the more efficient way of doing it that I found, using `ros_numpy`. So, I consider that the indexes to save on the dictionary are directly the indexes of that array. Is that ok?

- When I try to save an annotation, I get the following warning:
[code]

Is t

[2020-05-01 11:49] miguelriemoliveira commented on #141
Hi @aaguiar96 ,

I would say the labels can be the indexes of the array. This convention will be used in the optimization code, in particular the cost function portion you are going to write. So, if you use the same convention on both ends its ok.

This is a protection we did to make sure we have a reasonably synchronized  data from sensors. It is the max delta allowed between all the sensor messa

[2020-05-01 11:50] miguelriemoliveira commented on #141
BTW, can you measure how long your labelling procedure takes? It seems quite fast ...

[2020-05-01 11:52] aaguiar96 commented on #141
By labelling you mean the scan callback frame rate?

@miguelriemoliveira Do you want to meet this afternoon to close this issue and start thinking on the optimization procedure?

[2020-05-01 11:55] miguelriemoliveira commented on #141
Hi @aaguiar96 ,

I mean the time your code takes from the moment a message is received until you produce the labels for the point cloud.

We can meet from 14h20 onward. Just call me and let me know when you are free.

[2020-05-01 11:58] aaguiar96 commented on #141
Ok, I'll measure it. :)

Nice, I call you then. See you soon! :)

[2020-05-01 16:48] aaguiar96 commented on #141
@miguelriemoliveira the index issue is solved (see last commit).

You can try it out! :)

[2020-05-01 16:51] aaguiar96 opened #146 "Charuco detections not working on agrob bag file"
Hi @eupedrosa

We already have the labeler for the velodyne PCL. While generating the .json annotations, we noticed that the charuco is not being detected. Can you help us understand the reason?

Thank's in advance. :)

[2020-05-01 16:53] aaguiar96 opened #147 "Synchonize agrob zed-velodyne timestamps on next recordings"
Since the ZED and velodyne are in different machines, the timestamps are different in the current bagfiles.

Miguel's idea: use the `--clock` while executing `rosbag record` to use only the master's timestamp.

[2020-05-01 18:09] eupedrosa commented on #147
This is the major weakness of ROS. Non synchronized clock. Different machines, different clocks.
The most common solution is to use the ROS_MASTER as an NTP server. The others computers should synchronize at boot.

This changes require access to the hardware, something that right now is not possible. Miguel´s  idea requires two things: something publishing the clock, and the data to be produce wit

[2020-05-01 18:12] eupedrosa commented on #146
Yes, I can help.

The problem is here: https://github.com/lardemua/AtlasCarCalibration/blob/655a91859344afdb50d65c2b7b2abbe50c8c16a9/interactive_calibration/src/interactive_calibration/patterns.py#L45

I am 100% certain the dictionary you used is not this one. Change the dictionary to `DICT_4X4_50`.

[2020-05-01 19:11] miguelriemoliveira commented on #146
Hi,

I suggest to have the dict type in the config.json.

Can tou do it André?

On Fri, May 1, 2020, 19:13 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-05-01 19:11] miguelriemoliveira commented on #146
Thanks @eupedrosa .

@aaguiar96 , if this works, can you add a parameter on the config.json for the selection of the charuco type?

[2020-05-01 19:13] miguelriemoliveira commented on #141
Great! We're almost there.

[2020-05-04 08:45] aaguiar96 commented on #146
So, I changed the dictionary to `DICT_4x4_50` but I'm getting the following error:
[code]

After that, I tried `DICT_4x4_250` but did not obtain any detection with this dictionary, even when the chessboard is really close to the camera...

[2020-05-04 08:47] miguelriemoliveira commented on #146
Hi @aaguiar96 ,

take a look at this

https://stackoverflow.com/questions/53269495/error-215assertion-failed-id-byteslist-rows-in-function-drawmarker

do you know which dictionary you used to produce your printable charuco? How did you do it?

[2020-05-04 08:48] aaguiar96 commented on #146
I've already seen that issue, that's why I changed to `DICT_4x4_250`.

Like @eupedrosa said, I'm pretty sure that I used `DICT_4x4` - this [one](https://calib.io/pages/camera-calibration-pattern-generator).

[2020-05-04 08:59] aaguiar96 commented on #146
Ok, perhaps it could be related with the Charuco parameters one the config.json.
Does the detector use the `pattern_size`, `border_size`, `dimension`, etc?

[2020-05-04 09:03] miguelriemoliveira commented on #146
yes it does. Check here

https://github.com/lardemua/AtlasCarCalibration/blob/655a91859344afdb50d65c2b7b2abbe50c8c16a9/interactive_calibration/src/interactive_calibration/patterns.py#L40-L72

Those numbers should be well configured

[2020-05-04 09:04] aaguiar96 commented on #146
Yes, you're right. It might be it...
I'm trying to refine the dimensions to see if I can get detections.

[2020-05-04 09:20] aaguiar96 commented on #146
@eupedrosa can you tell me what is the difference between the `size` and the `inner_size` parameters? Is the `inner_size` being used?

[2020-05-04 09:27] eupedrosa commented on #146
The `size` is the checker width and the `inner_size` is the width of the aruco marker (usally 5mm smaller than checker width).

[2020-05-04 09:30] aaguiar96 commented on #146
Ok, these are my settings for agrob:
[code]

I think they are quite close to the real values (measured it in rviz), but there might be some errors.
Could these errors lead to the non detection?

[2020-05-04 09:34] eupedrosa commented on #146
Did you try? Did you change the dictionary to `DICT_4x4_50`?

This has nothing to do with the detection, but for your use-case `fixed` should be `false`.

[2020-05-04 09:35] aaguiar96 commented on #146
Yes, I'm using `DICT_4X4_50`.

Ok. :)

[2020-05-04 09:41] eupedrosa commented on #146
Use the `view_pattern.py` script  to quick iterate the debug process.

[2020-05-04 09:54] aaguiar96 commented on #146
With that script, I can see detections in a few frames (1%) when the chessboard is close to the camera. It's strange because there are very frames where the chessboard is quite noticeable but no detections are found.

[2020-05-04 09:57] eupedrosa commented on #146
Can you show an image where it detects and one where not?

[2020-05-04 10:02] aaguiar96 commented on #146
![Screenshot from 2020-05-04 10-59-54](https://user-images.githubusercontent.com/35901587/80955170-b36da500-8df6-11ea-8058-215c15368496.png)
![Screenshot from 2020-05-04 10-59-56](https://user-images.githubusercontent.com/35901587/80955174-b5cfff00-8df6-11ea-9804-e5a76a6bbb41.png)
![Screenshot from 2020-05-04 10-59-58](https://user-images.githubusercontent.com/35901587/80955175-b6689580-8df6-11ea-

[2020-05-04 10:06] eupedrosa commented on #146
The images are to dark and the detection is on black & white. Maybe some pre-processing? @miguelriemoliveira you are the expert here, in this type of things.

[2020-05-04 10:07] aaguiar96 commented on #146
Ok, that makes sense.
@eupedrosa I also noticed that the detections only take place in the first few frames. Coincidence right?

[2020-05-04 10:11] eupedrosa commented on #146
Most likely.

[2020-05-04 10:34] miguelriemoliveira commented on #146
How to make the images brighter? Perhaps an histogram stretch would help ...

I will runsome tests on the view script.

André can you push the latest well configured json?

On Mon, May 4, 2020, 11:11 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-05-04 10:39] aaguiar96 commented on #146
Done @miguelriemoliveira  :)

[2020-05-04 10:42] miguelriemoliveira commented on #146
Thanks, will get back to you.

[2020-05-04 10:53] miguelriemoliveira commented on #146
Hi @aaguiar96 ,

I cannot see a single detection ... am I running this right?

`rosrun interactive_calibration view_pattern.py -t charuco -x 13 -y 8 -L 0.029 -l 0.021 /d/zed_node/left/image`

[2020-05-04 10:55] aaguiar96 commented on #146
@miguelriemoliveira, I only saw one or two detections at the beginning of the bag (first two seconds) with the command:

[code]

[2020-05-04 11:08] miguelriemoliveira commented on #146
Ah, so the config.json is incorrect (x=13). That could be the problem. Let me check.

[2020-05-04 11:10] aaguiar96 commented on #146
The config.json already considers x=11.

[2020-05-04 11:13] miguelriemoliveira commented on #146
ups, forgot to pull ... my bad :). Which bag file are you using?

I am working with

agrob_2020-03-12-10-09-49_1.bag

and never see the pattern as close as you show  in the images above. You are always further away ...

[2020-05-04 11:18] aaguiar96 commented on #146
I'm using `calibration_2020-03-12-10-09-49_1.bag` too. From seconds 0 to 10 I am close to the camera. In the first two seconds, I am quite close. :)

[2020-05-04 11:35] miguelriemoliveira commented on #146
Hi again,

I found the portion of the bag you mention. I did some stuff on the launch files. You can run

`roslaunch interactive_calibration agrob_calibration.launch bag:=/home/mike/bagfiles/agrob/agrob_2020-03-12-10-09-49_1.bag bag_duration:=4`

To playback only the first 4 secs.

Then I run

rosrun interactive_calibration view_pattern.py -t charuco -x 11 -y 8 -L 0.029 -l 0.024 /zed/zed_node/left

[2020-05-04 11:42] aaguiar96 commented on #146
Now I cannot see any detection either...
The image now looks really good. Is hard to understand why no detections are found.

@eupedrosa can you try it out? Or maybe, if you want, we can meet to talk about this. :)

[2020-05-04 11:46] miguelriemoliveira commented on #146
I can meet around 14h

On Mon, May 4, 2020, 12:42 André Aguiar <notifications@github.com> wrote:

[2020-05-04 11:47] aaguiar96 commented on #146
I have team meeting at 14h. Can you meet later? 14h45/15h?

[2020-05-04 11:52] eupedrosa commented on #146
I have one at 14h and another at 15h. What about around 16h30?

[2020-05-04 11:52] miguelriemoliveira commented on #146
14h45 ok. Call me once you are ready

On Mon, May 4, 2020, 12:47 André Aguiar <notifications@github.com> wrote:

[2020-05-04 11:53] miguelriemoliveira commented on #146
I have one at 16h15 ...

On Mon, May 4, 2020, 12:52 Eurico F. Pedrosa <notifications@github.com>
wrote:

[2020-05-04 11:53] eupedrosa commented on #146
By the way, you are using the wrong numbers, it should be
rosrun interactive_calibration view_pattern.py -t charuco -x 10 -y 7 -L 0.029 -l 0.024

[2020-05-04 11:59] aaguiar96 commented on #146
I can meet anytime after 14h45 and before 19h30! :)

Ok, actually that helped. Now it detects the chessboard when it is close to the camera.
@miguelriemoliveira have you tried it out? Are those detections enough for testing the optimization

[2020-05-04 13:06] aaguiar96 commented on #146
@miguelriemoliveira and @eupedrosa I added the `dictionary` option to config.json file.
The default value for the charuco dictionary is `DICT_5X5_100` - the one you were using.

To run with the `view_pattern.py` script, the following input as to be passed: `-d DICT_4X4_50`.

[2020-05-04 13:39] miguelriemoliveira commented on #146
Hi @aaguiar96 ,

I have a code in which I had to configure the aruco detector's parameters to detect the arucos.

https://github.com/miguelriemoliveira/OCDatasetLoader/blob/858e7d9f5ffe8dc2efb071982fecf2bf691f645f/OCDatasetLoader/OCArucoDetector.py#L96-L110

I think the problem is that the arucos are too small, but perhaps experimenting with these values we could get a better detection

Here's a l

[2020-05-04 13:41] aaguiar96 commented on #146
Thanks @miguelriemoliveira, I'll try it out.

I'm still on a meeting. I need more 15 minutes. Can you meet at 15h?

[2020-05-04 13:43] miguelriemoliveira commented on #146
15h ok.

See you.
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Mon, 4 May 2020 at 14:42, André Aguiar <notifications@github.com> wrote:

[2020-05-04 13:51] miguelriemoliveira commented on #146
I think it is ok if @eupedrosa is not there. I can show you the first steps of the objective function.

[2020-05-04 14:30] miguelriemoliveira commented on #141
Here's the first dataset
[agrob_first_test.zip](https://github.com/lardemua/AtlasCarCalibration/files/4575249/agrob_first_test.zip)

[2020-05-04 15:10] aaguiar96 opened #148 "Show agrob decription during the optimization procedure"

[2020-05-07 08:41] aaguiar96 opened #149 "Compute agrob zed-velodyne cost function"

[2020-05-07 08:42] aaguiar96 commented on #149
Hi @miguelriemoliveira
I've been busy these days. Trying to start working on this today. :)

[2020-05-07 10:17] miguelriemoliveira commented on #149
Hi André,

we're synced. I also did not have any time to devote to this until tonight
or tomorrow.
Miguel
*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Thu, 7

[2020-05-10 19:52] miguelriemoliveira commented on #148
I am on it.

[2020-05-10 20:04] aaguiar96 commented on #148
Thanks Miguel! Starting to work on this again tomorrow! :)

[2020-05-10 20:09] miguelriemoliveira commented on #148
Ok, we can talk if you want, but I will be busy from 16h onward, so it has to be before.

[2020-05-10 20:11] aaguiar96 commented on #148
I'll try to develop the cost function in the morning. We can talk at 15h if you want.

[2020-05-10 20:14] miguelriemoliveira commented on #148
ok.

See you tomorrow.

Miguel

*  Miguel Riem de Oliveira                                             *
email:    mriem@ua.pt    |    m.riem.oliveira@gmail.com
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Sun, 10 May 2020 at 21:12, André Aguiar <notifications@github.com> wrote:

[2020-05-11 02:18] miguelriemoliveira commented on #148
Working on it ... it is already shows the robot but we still havea lot of loose ends ... tomorrow .

![image](https://user-images.githubusercontent.com/11350998/81518489-21a1f280-9336-11ea-9647-421b9b1aac56.png)

[2020-05-11 02:22] miguelriemoliveira opened #150 "Create a collada file with your charuco"
Hi @aaguiar96 ,

we need a collada file (dae) of your charuco.

Check what @eupedrosa did for the eye in hand case:

package://interactive_calibration/meshes/charuco_5x5.dae

For now, this is hardcoded here (will try to make it dynamic later on)

https://github.com/miguelriemoliveira/OptimizationUtils/blob/27a6546d4b8ae302fe655103c2788167971576c0/test/sensor_pose_json_v2/visualization.py#L88

[2020-05-11 10:34] miguelriemoliveira opened #151 "Fix the first_agrob dataset"
Hi @aaguiar96 ,

we have a problem in the first agrob dataset: collection "1" does not have the pattern detected from the right camera, take a look at the json;

[code]

one fix would be to manually find the chessboard points and add them to the json file, so we would have the minimum two collections for testing the optimization.

I am not sure the pixel valie should be the center of the arucos or

[2020-05-11 10:36] aaguiar96 commented on #151
I @miguelriemoliveira

Maybe it is better to try to record a new collection, don't you think?
I think I will have to do it anyway because I realized today that I need the `PointCloud2` message information to read the pcl properly using `ros_numpy`.

I'm now trying to add these fields to the collection, just like you did for `camera_info` topic.

[2020-05-11 10:42] miguelriemoliveira commented on #151
Hum, I think it is already there is it not? lines 84-132 o the data_collected.json  (for the case of collection '0', I think)

Take a look

![image](https://user-images.githubusercontent.com/11350998/81553101-83854b00-937c-11ea-9cd9-8504c83ca865.png)

[2020-05-11 10:45] aaguiar96 commented on #151
Oh... Lost so many time on this!
Thanks @miguelriemoliveira, you saved me a lot of time.

Regarding the fix of the agrob dataset, I think I'll try to create a new dataset. If I can't, I'll follow your suggestion.

[2020-05-11 14:28] aaguiar96 commented on #150
Hi @eupedrosa

Did you write the collada file for you charuco from scratch?

[2020-05-11 14:41] miguelriemoliveira commented on #141
Hi @aaguiar96 ,

had to edit your part of the objective function because it was crashing.

Added a comment, take a look.

[2020-05-11 14:45] miguelriemoliveira commented on #141
Fixed. It should be working now.

https://github.com/miguelriemoliveira/OptimizationUtils/commit/4b19635963f69443356a7f6022ea8189824feec8

[2020-05-11 14:48] eupedrosa commented on #150
NO :smile: I used blender.
[charuco.zip](https://github.com/lardemua/AtlasCarCalibration/files/4610232/charuco.zip)

To generate the charuco image I used this: https://github.com/opencv/opencv_contrib/blob/3.4.0/modules/aruco/samples/create_board_charuco.cpp

But you must convert meters to pixels. You can use you own scale.

[2020-05-11 14:48] aaguiar96 commented on #141
Thanks @miguelriemoliveira :)

[2020-05-11 14:58] aaguiar96 commented on #150
Blender exports the mesh in meters, and I have to manually convert them to pixels?

[2020-05-11 15:15] eupedrosa commented on #150
Yes. But then in blender, that scale must reflect the dimension of the 3D object.

[2020-05-11 15:17] aaguiar96 commented on #150
That's hard... I don't know the real size of the chessboard (only approximately), and consequently, don't know the size of the markers in pixels...

I'll try to approximate it.

[2020-05-11 15:20] aaguiar96 commented on #146
Closing this issue since we are using the dataset obtained by @miguelriemoliveira, with two collections. Then, we are going to use a more accurate chessboard.

[2020-05-11 15:20] #146 closed

[2020-05-11 15:22] aaguiar96 commented on #151
@miguelriemoliveira, the `Save Collection` works with `bag_rate` close to 1.

I'll work with what we have for now.
I think we can close this issue, right?

[2020-05-11 15:32] aaguiar96 commented on #149
Hi @miguelriemoliveira

is this output normal for the `agrob_view_optimization`?

[code]

Also, I'm getting this error when launching the `test/sensor_pose_json_v2/main.py`:

[code]