[2021-04-01 18:51] miguelriemoliveira commented on #276
Hi @danifpdra ,

I think it was a problem of having to adjust this particular code to python3. I've done it.

Cannot test because you did not give me the **dataset_31_03_2021**. Can you test and close if its fixed?

[2021-04-01 19:18] danifpdra commented on #276
It works when removing the incomplete collections. If I use the -uic flag I get the following error:

`Removing collection 8: at least one detection by a camera should be present.
Traceback (most recent call last):
  File "/home/daniela/catkin_ws/devel/lib/atom_calibration/calibrate", line 15, in <module>
    exec(compile(fh.read(), python_script, 'exec'), context)
  File "/home/daniela/catkin_ws/

[2021-04-01 19:55] miguelriemoliveira commented on #276
I will try tonight. Give me the dataset please.

On Thu, Apr 1, 2021, 20:18 Daniela Rato ***@***.***> wrote:

[2021-04-01 20:03] danifpdra commented on #276
Here it is: [dataset_31_03_2021.zip](https://github.com/lardemua/atom/files/6246239/dataset_31_03_2021.zip)

[2021-04-01 22:15] #276 closed, assigned to miguelriemoliveira

[2021-04-01 22:17] miguelriemoliveira commented on #276
I think now its solved. Tested and it works. Let me know if you need anything else.

Also I would like to discuss with you the organization of the results in a new repository or some shared folder. Can we talk 15 ou 20 mins? Tell me when you have time in the next days (or next week).

[2021-04-01 22:35] miguelriemoliveira commented on #274
Now the optimization code will print:

[code]

Will also include information about the time of execution (of the complete batch command) for #273.

[2021-04-01 22:35] #274 closed, assigned to miguelriemoliveira

[2021-04-02 00:53] miguelriemoliveira commented on #273
Hi @danifpdra ,

I could not resist and implemented a functionality to read the commands to be executed in batch from a yaml file.

Just run something like:

[code]

The commands you want to execute are defined in the yaml file, e.g.:

[code]

We are using jinja2 for rendering this template file.

Can you try it out and see if it works?

[2021-04-02 10:05] danifpdra commented on #276
I don't have anything scheduled for the next few days. Give me a call whenever you want to meet.

[2021-04-02 13:10] miguelriemoliveira commented on #273
Implemented recursive variable substitution. Now its possible to nest variables in the configuration file.
An example:

[code]

[2021-04-06 09:53] danifpdra commented on #272
Hi @aaguiar96 ,

After I get this, what are the results that should go to the tables in the paper?

[2021-04-06 10:18] aaguiar96 commented on #272
Hi @danifpdra

As you see, this script outputs a json file:

[code]

This `json` has the same format as the ones exported by ATOM, so all you have to do is use it in the camera-to-camera evaluation script as you already did for ATOM.

You should use the same train and test datasets to compare fairly with ATOM.

[2021-04-06 15:21] danifpdra commented on #272
Hi @aaguiar96 ,

I did that but the errors were huge, did I do something wrong?

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/train_dataset_1/cv_calibration.json -test_json $ATOM_DATASETS/test_dataset/data_collected.json -ss hand_camera -ts world_camera`

[code]

[2021-04-06 15:39] aaguiar96 commented on #272
Hi @danifpdra

I don't see anything wrong in the process. This worked well for agrob, but maybe it needs some adaptation for the hand-eye scenario. Can you send me the datasets and I will try to see what's missing?

Just to be sure, @miguelriemoliveira and @eupedrosa. Does this make sense? I.e., in theory, we can use OpenCV stereo calibration even if one of the cameras is moving right? I'm a littl

[2021-04-06 15:43] danifpdra commented on #272
Here it is: [dataset_31_03_2021.zip](https://github.com/lardemua/atom/files/6246239/dataset_31_03_2021.zip)

_Originally posted by @danifpdra in https://github.com/lardemua/atom/issues/276#issuecomment-812140369_

[2021-04-06 15:47] aaguiar96 commented on #272
Thanks @danifpdra

@miguelriemoliveira and @eupedrosa, regarding my previous question: OpenCV also has a hand-eye calibration toolbox. Should we use it?

Correct me if I am wrong, but I think the OpenCV stereo calibration uses all collections to find a single relative homogeneous transformation between the cameras. I don't think it is prepared for a moving camera... This is why we had to implement

[2021-04-06 16:28] danifpdra opened #277 "Problems with camera-lidar evaluation for the hand eye case"
Hi @aaguiar96,

When I use the atom_evaluation range_sensor for the 3dlidar and world_camera, it works fine, but when I use it for the 3dlidar and the hand_eye camera this happens:

`rosrun atom_evaluation range_sensor_to_camera_evaluation.py -train_json $ATOM_DATASETS/train_dataset_1/atom_calibration.json -test_json $ATOM_DATASETS/test_dataset/data_collected.json -ss 3dlidar -ts hand_camera -si -

[2021-04-06 16:37] eupedrosa commented on #272
The hand-eye calibration toolbox from OpenCV only calculates the position of the camera on the end-effector using a fixed pattern. If I am not mistaken, it will not work with a moving pattern.

However, in the hand-eye paper we already test our solutiong agains the one implemented by openCV.

I believe your are correct. It calculates a transformation of fixed cameras.

I am not sure about this one

[2021-04-06 16:37] aaguiar96 commented on #277
Hi @danifpdra

I thought it would work since I included the fix made by @miguelriemoliveira in the camera-to-camera evaluation script of changing the test dataset with the optimized atomic transformations on the train dataset.

So, at first sight I don't see what's happening, but I will take a look.

[2021-04-06 16:40] aaguiar96 commented on #272
Ok, so it is not suitable for calibrating a moving camera with a fixed camera...

[2021-04-06 16:41] aaguiar96 commented on #272
I was the one that implemented that routine. My question was that if we need to do this for OpenCV, then it means that opencv computes a sensor-to-sensor transformation. Since one sensor is moving, the calibration will fail.

[2021-04-06 16:44] eupedrosa commented on #272
My mistake.

Yes, OpenCV computes a sensor-to-sensor transformation and will break with a moving sensor.

[2021-04-06 16:44] aaguiar96 commented on #277
Hi @danifpdra

Can you send me the annotations and the test dataset please?

[2021-04-06 16:46] danifpdra commented on #277
This is the train and test dataset and the annotations.

[datasets.zip](https://github.com/lardemua/atom/files/6266296/datasets.zip)

[annotation.zip](https://github.com/lardemua/atom/files/6266299/annotation.zip)

[2021-04-06 16:48] miguelriemoliveira commented on #272
`@miguelriemoliveira and @eupedrosa, regarding my previous question: OpenCV also has a hand-eye calibration toolbox. Should we use it?`

Right, we cannot use opencv for this case. It just does not work. Actually, nor will the hand eye case work because it will only calibrate a moving camera but not the fixed.

This is what we call the **joint-hand-base use case** in the T-RO paper which, to the be

[2021-04-06 16:53] aaguiar96 commented on #277
The annotations are not coherent with the dataset. Can you check if the is the right command?

[code]

[2021-04-06 16:57] miguelriemoliveira commented on #277
Hum ... not sure about this one. I mean, one thing are the evaluations (those should work for moving sensors). Another thing is a calibration method such as opencv, which does not support moving sensors ...

Makes sense @aaguiar96 ?

[2021-04-06 16:59] aaguiar96 commented on #277
Yes @miguelriemoliveira. This should work. What I was saying is that this seems to the problem we had for the camera-to-camera evaluation script for hand-eye. However, I made that fix also for range-to-camera script. I will check if something is missing.

[2021-04-06 17:08] miguelriemoliveira commented on #277
alright. Let me know if I can help...

[2021-04-07 09:53] aaguiar96 commented on #277
Hello @danifpdra and @miguelriemoliveira

I am having trouble finding the issue. I recorded new datasets and tested other calibrations and the error persists.

This may mean that the problem is on the evaluation script (?). However, I reduced the problem to the simple projection of the 3dlidar points into the image, and it fails...

Also, I used the same train and test dataset to eliminate the pos

[2021-04-07 09:59] miguelriemoliveira commented on #277
Hi @aaguiar96 ,

I will try to look into it this afternoon or tomorrow and get back to you.

[2021-04-07 22:40] miguelriemoliveira commented on #277
Hi @aaguiar96 ,

I was thinking about this now. I looked at your code and I think using the selected collection key does not make sense.

Note that we have in each **dataset['collections'][collection_key]['transforms']** all the transforms in the system, both the ones being optimized and the others. So we have a pool of transforms per collection.

We use the selected_collection_key when we are sur

[2021-04-08 08:54] aaguiar96 commented on #277
Thanks, @miguelriemoliveira, it makes sense. And it works! :)

@danifpdra can you try it, and if it works, close this issue, please?

[2021-04-08 10:15] miguelriemoliveira commented on #277
Great!

On Thu, Apr 8, 2021, 09:54 André Aguiar ***@***.***> wrote:

[2021-04-08 10:17] danifpdra commented on #277
Yes, this is working now. Thanks.

[2021-04-08 10:17] #277 closed, assigned to eupedrosa, miguelriemoliveira, aaguiar96, danifpdra

[2021-04-08 16:35] danifpdra commented on #273
Hi @miguelriemoliveira ,

Can you help me figuring out these loops?  https://github.com/lardemua/atom/blob/noetic-devel/atom_evaluation/scripts/batch_example.yml

I get the error
`jinja2.exceptions.UndefinedError: 'item' is undefined`

But I did this according to the ansible documentations (https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html)

[2021-04-08 19:14] miguelriemoliveira commented on #273
Hi @danifpdra ,

better to leave the batch_example.yml as was before so it can be used by others, and instead create one for you, which should not go into atom BTW, I think it should go into mmtbot.

I don't think I am using ansible. I will try to get an example with loops working and get back to you.

[2021-04-09 15:56] MiguelDRPina opened #278 "Show/Hide functionality for set_initial_estimate"
Hello, @miguelriemoliveira !

Can you add a functionality for the set_initial_estimate to show/hide the sensor when it's asked on the panel plugin?

[2021-04-09 16:39] miguelriemoliveira commented on #278
Hi @MiguelDRPina

I already have a skeleton for the communication. We will use a service to the name

/set_initial_estimate/<sensor>/set_visible

and the service type is a std_srv SetBool
http://docs.ros.org/en/api/std_srvs/html/srv/SetBool.html

For testing, I used with

`rosservice` call /set_initial_estimate/world_camera/set_visible "data: false"

Everything works but the hiding of the markers,

[2021-04-10 17:40] miguelriemoliveira commented on #278
Hi @MiguelDRPina ,

It was tricky but I was able to make it work. Check this:

https://youtu.be/A5gc-yb-Emg

I will assign this issue to you so you can integrate with the rviz pannel.

[2021-04-10 21:41] MiguelDRPina commented on #278
Hi @miguelriemoliveira ,
Thank you, I will integrate it with the panel first thing tomorrow.

[2021-04-11 12:12] miguelriemoliveira opened #279 "Integration with rviz panel - set initial estimate"
Hi @MiguelDRPina ,

Please list all other functionalities we need to develop for the set_initial_estimate. I can remember the following:

- [x] hide / show interactive marker controls (#278)
- [x] change scale of controls
- [x] button to save and and reset sensor pose (#280)
- [x] micro movements of the control (#285)

[2021-04-11 14:25] miguelriemoliveira commented on #278
Hi @MiguelDRPina ,

sorry about the change, but because of #279 which defines more functionalities I decided to change the service that we use.

Its is now the **SetSensorInteractiveMarker.srv**, which allows to set the visibility and the scale (and anything else we may need in the future).

https://github.com/lardemua/atom/blob/noetic-devel/atom_msgs/srv/SetSensorInteractiveMarker.srv

This is is

[2021-04-11 14:26] miguelriemoliveira commented on #279
New service created in 4c67a17f4e38dd155e608f4440d5c9a0efedc7df called SetSensorInteractiveMarker.srv

https://github.com/lardemua/atom/blob/noetic-devel/atom_msgs/srv/SetSensorInteractiveMarker.srv

It should support most of the listed functionalities. Changing scale is already working, just call the service above with different scale values.

[2021-04-11 14:37] miguelriemoliveira opened #280 "Integration with rviz panel - set initial estimate - Buttons for save and reset"
Hi @MiguelDRPina

About the buttons for saving and reset, there is a topic **/set_initial_estimate/feedback**
on which rviz publishes a msg everytime the user presses either the save or the reset button.

You can listen to the topic using

`rostopic echo /set_initial_estimate/feedback`

and then pressing the buttons (right click the sphere of any contro and a menu pops upl).

Doing this you get **

[2021-04-11 15:27] MiguelDRPina commented on #278
Hi, @miguelriemoliveira ,
Ok, I will keep that in mind, but I am still struggling with implementing it with the rviz panel, because I am trying to use a service from another package (trying to use the SetSensorInteractiveMarker service from the atom package in the atom_rviz_plugin package).

[2021-04-11 17:05] miguelriemoliveira commented on #278
Hi @MiguelDRPina

you can push the code and ask for help. It could be from my side, i.e., the atom_msgs package is missing something ...

[2021-04-12 11:13] MiguelDRPina commented on #278
Hi @miguelriemoliveira ,

The code is committed, but for the service there's not much to see there, because what I have tried so far haven't worked yet. I tried following the [tutorial](http://wiki.ros.org/ROS/Tutorials/WritingServiceClient%28c%2B%2B%29) for the client but am having problems creating the client. My questions are:

- Am I supposed to add something to the CMakeLists file (or any oth

[2021-04-12 12:58] miguelriemoliveira commented on #278
Hi @MiguelDRPina ,

I will try to work with you a little bit, but I have classes until 18h. Can we meet tonight?

[2021-04-12 14:41] MiguelDRPina commented on #278
Hi @miguelriemoliveira ,
Yes, we can meet tonight at any hour after 21h30/22h, if that works for you. But if you think it's too late, we can schedule for another time, no problem.

[2021-04-12 16:15] miguelriemoliveira commented on #278
Hi @MiguelDRPina ,

so I was able to compile no problems. Can you compile?

[2021-04-12 16:27] MiguelDRPina commented on #278
I can, because the code for calling the service is not there. I have tried by following the tutorial as I said earlier (https://github.com/lardemua/atom/issues/278#issuecomment-817723207  but with no success.

I might be missing something, either something I should add in the CMakeLists, or something that allows me to use a service created in a different package, but I am not exactly sure what.

[2021-04-12 16:39] miguelriemoliveira commented on #278
Hi @MiguelDRPina ,

I think I solved it. Give it a try and if you still need we meet tonight.

[2021-04-12 17:44] MiguelDRPina opened #293 "Integration with Rviz Panel - set initial estimate - calling service to get the state of visible and marker scale"
Hi @miguelriemoliveira ,
Can you add a new service that, when called, returns the current state of the services 'visible' and 'scale' (addressed here: https://github.com/lardemua/atom/issues/278)?

[2021-04-13 09:09] miguelriemoliveira commented on #293
Hi @MiguelDRPina ,

done. It's a new service called **/set_initial_estimate/\<sensor\>/get_sensor_interactive_marker**

example:

`rosservice call /set_initial_estimate/world_camera/get_sensor_interactive_marker "{}"`

returns:

[code]

[2021-04-13 09:09] miguelriemoliveira commented on #293
Please transfer this issue to the ATOM repository.

[2021-04-13 09:13] miguelriemoliveira commented on #293
This is the commit that solves this issue: https://github.com/lardemua/atom/commit/8f7224b830903e6e0d208e81c9d42ae2113df1c4

[2021-04-13 09:13] miguelriemoliveira commented on #293
Passing to you Miguel for integration with rviz pannel.

[2021-04-13 10:46] MiguelDRPina commented on #293
Hi @miguelriemoliveira ,
Thank you, I will integrate with the panel today.
As for transferring this issue to the ATOM repository, I don't know if there's any sort of permission you need to give me to be able to do so, but when I go to Transfer Issue, it doesn't let me transfer it.

[2021-04-13 13:32] miguelriemoliveira commented on #293
Try again. I just added you to the atom repo.

[2021-04-13 14:01] MiguelDRPina commented on #293
Still doesn't appear as an transfer option...
![Screenshot from 2021-04-13 14-59-14](https://user-images.githubusercontent.com/73201389/114565147-e8ba7e00-9c68-11eb-9a96-e97b44224fed.png)

[2021-04-13 14:05] miguelriemoliveira commented on #293
did you accept the collaboration invitation first? Did you receive any in
your email?

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  P

[2021-04-13 14:08] miguelriemoliveira commented on #293
I was looking around

https://docs.github.com/pt/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

I think only in some special cases we can transfer. Anyway, the best is to create the issues always in ATOM.

For this particular case lets just leave it here, agree?

[2021-04-13 14:11] MiguelDRPina commented on #293
Right, from now on I will create my issues there.

[2021-04-13 15:24] MiguelDRPina commented on #293
Hi @miguelriemoliveira ,
[code]

Doing this, I am getting the following ERROR message:
error: ‘GetSensorInteractiveMarker’ is not a member of ‘atom_msgs’; did you mean ‘SetSensorInteractiveMarker’ .

Do you know what could be wrong? The code is committed if you want to take a better look at it.

[2021-04-13 15:25] miguelriemoliveira commented on #293
I am on it ...

[2021-04-13 15:28] miguelriemoliveira commented on #293
You were missing the include for the get service

`#include <atom_msgs/GetSensorInteractiveMarker.h>`

[2021-04-13 15:29] MiguelDRPina commented on #293
Yes, I was. Thank you.

[2021-04-13 15:33] danifpdra opened #281 "3D plot surfaces of calibration error vs initial estimate don't make sense"
Hi @miguelriemoliveira,

I used batch execution to calibrate the mmtbot setup with initial estimates from 0-2m in translation and 0-40 degrees in rotation. I don't think these results make much sense. Can you tell me your opinion?

![image](https://user-images.githubusercontent.com/47574905/114579096-70a68500-9c75-11eb-92c0-72178a906d27.png)
![image](https://user-images.githubusercontent.com/47574

[2021-04-13 15:42] MiguelDRPina commented on #293
Already getting the states of each service as desired. Thanks for the help. Closing the issue...

[2021-04-13 16:03] #278 closed, assigned to MiguelDRPina

[2021-04-13 22:48] danifpdra commented on #281
Hi @miguelriemoliveira,

The batch execution got stuck on

`rosrun atom_calibration calibrate -json /home/daniela/datasets/train_dataset_1/data_collected.json  -csf 'lambda name: int(name)<1' -nig 0.10 0.30 -ss 1`

for like 5 hours. I don't think this is very normal. I've tried to run the same command separately and it finished really quickly.

[2021-04-14 10:41] MiguelDRPina commented on #280
Hi @miguelriemoliveira ,
I already have the code for publishing the messages when the save/reset buttons are pressed. However, I am not sure what to put on some of the message parameters. For example, the mouse_point coordinates.
Also, how do I get the marker's pose?

[2021-04-14 12:42] danifpdra commented on #281
New data:

![image](https://user-images.githubusercontent.com/47574905/114711692-2bdb2680-9d27-11eb-83a8-ad3e0f512275.png)
![image](https://user-images.githubusercontent.com/47574905/114711708-309fda80-9d27-11eb-9fb5-e4a76558114e.png)
![image](https://user-images.githubusercontent.com/47574905/114711723-34336180-9d27-11eb-95c8-d3d64de8494c.png)
![image](https://user-images.githubusercontent.com/47

[2021-04-14 13:15] miguelriemoliveira commented on #280
Its not used. Just put 0 for all. Only the menu entry is used.

On Wed, Apr 14, 2021, 11:41 MiguelDRPina ***@***.***> wrote:

[2021-04-14 13:16] danifpdra commented on #281
More resultion: distance and angle 0.5 to 0.5, 21 points each.

I can only run the batch execution with the calibrate file options like this:

`options = {'ftol': 1e-4, 'xtol': 1e-4, 'gtol': 1e-4, 'diff_step': None, 'x_scale': 'jac'}`

@miguelriemoliveira , do you have any idea why?

![image](https://user-images.githubusercontent.com/47574905/114716314-d9e8cf80-9d2b-11eb-96ab-f7fa474a3630.png)
![i

[2021-04-14 13:25] MiguelDRPina commented on #280
None of other msg parameters is used? I assume at least the marker_name is used, no? Or by pressing the save/reset button does it save/reset for all sensors?

[2021-04-14 13:31] MiguelDRPina commented on #280
I think it's working fine now.

[2021-04-14 14:23] #280 closed, assigned to miguelriemoliveira

[2021-04-14 14:31] miguelriemoliveira commented on #280
Not even that one i think.

On Wed, Apr 14, 2021, 14:26 MiguelDRPina ***@***.***> wrote:

[2021-04-14 14:43] MiguelDRPina commented on #280
I got it working. The client_id, marker_name and event_type also seemed to be needed.
From issue #279, the only functionality left is the micro movement of the marker through panel.

[2021-04-14 14:50] miguelriemoliveira commented on #280
Hi @MiguelDRPina ,

great news. Job's not finished though. You have to record a demo video and create a section in your Readme (to be imported later on to the atom readme) in which you explain how to operate the panel.

I am not sure that functionality should have a high priority. Perhaps we should instead move on to the functionalities of the data_collector. What is your opinion?

[2021-04-14 15:03] MiguelDRPina commented on #280
Yes, I haven't updated the Readme file for a while, I will do that and the demo video.

I also think we can move on to the data_collector.

[2021-04-14 15:37] danifpdra commented on #281
Even more resolution. From 0 to 0.75, 50 points each

![image](https://user-images.githubusercontent.com/47574905/114738133-9ac47980-9d3f-11eb-9dc9-d518ce8d2461.png)
![image](https://user-images.githubusercontent.com/47574905/114738147-9e580080-9d3f-11eb-933b-4ae1d8de8894.png)
![image](https://user-images.githubusercontent.com/47574905/114738162-a31cb480-9d3f-11eb-8f86-e65a2156a211.png)
![image](h

[2021-04-14 16:30] miguelriemoliveira commented on #280
Ok, so lets meet tomorrow 14h? for me to set you up with the data collector ok?

@eupedrosa can you jump in?

[2021-04-14 17:05] eupedrosa commented on #280
Hi @miguelriemoliveira. Yes I can.

[2021-04-14 18:06] danifpdra commented on #281
Hi @miguelriemoliveira ,

The file to generate the plots is here: https://github.com/miguelriemoliveira/mmtbot/blob/c8f9ba72c1b2e50a737eea8e8d39cae80ee515a9/mmtbot_calibration/scripts/mmtbot%20analysis.ipynb

[2021-04-14 18:08] danifpdra commented on #281
This file also generates the commands to a txt file that you can copy to the batch file. You just need to choose the initial and final value and the number of points for each vector.

[2021-04-14 19:03] MiguelDRPina commented on #280
14h works for me too, talk to you both tomorrow.

[2021-04-15 08:21] miguelriemoliveira commented on #281
Hi @danifpdra ,

I am trying to debug this,  but its very hard because your **batch_mmtbot,yml** is very large, its running now for 10 minutes and still going...

By the way, you did not say but I assume the command is:

`./batch_execution -v -f batch_mmtbot.yml`

My question is: do you have a smaller example where it crashes? I mean, a smaller batch config file? Otherwise its nearly impossible to

[2021-04-15 08:37] miguelriemoliveira commented on #281
I think I finally got stuck here:

[code]

The parameters are not the ones you have, so I suspect it has nothing to do with the command parameters, rather with something in the batch...

and the processors fall to 0% (before they were at 100%), as if the code just freezes or halts ... is this similar to what occurs with you?

[2021-04-15 08:46] danifpdra commented on #281
Yes, this is what happens to me. But I have run a batch with 2500 calibration and it worked well as you have seen so I don't know what is happening.

[2021-04-15 08:56] miguelriemoliveira commented on #281
Hi @danifpdra ,

I think I may have solved it. Can you try it please?

Also, I could try to make a batch execution which would run commands in parallel, but I am not really sure if this is very high priority. What do you think?

[2021-04-15 08:59] danifpdra commented on #281
I will try it, yes.

I don't think it is important. It is working the way it is, just might take longer but it's no big deal.

[2021-04-15 09:02] miguelriemoliveira commented on #281
OK, lets forget about it for now. About the fix, I am now running trial 69 of a 10-8 setting and going fine ...

[2021-04-15 09:04] miguelriemoliveira opened #282 "organization of code of results for a paper or robot"
Hi @danifpdra,

About the new results for mmtbot. I already had this in mind for the papers of @eupedrosa and @aaguiar96 .
The problem is that the results, unlike everything else, are lost in the computers of the person which is taking the results. I discussed with @eupedrosa some alternatives, but in the end we did not advance.

This is what I think we need.:

1. a single place where the data, th

[2021-04-15 09:16] danifpdra commented on #281
I will try to run the big calibration with the 10e-8 and see what happens. That way we can even see the difference in the surfaces of that.

[2021-04-15 10:22] miguelriemoliveira commented on #281
Right now I am running trial 453 and still going. I think that problem is solved.

[2021-04-15 15:37] MiguelDRPina opened #283 "Integration with Rviz panel - read/write config file - Button to (re)load the configuration file"
In the first tab of the panel, we are able to read the configuration file and also change its parameters. Yet, we should have a 3rd button that given the path of the file it would load it.

[2021-04-15 15:44] MiguelDRPina opened #284 "Integration with Rviz panel - set initial estimate - Reset sensor/Reset All"
In the work done in issue #280, we created a reset button that resets the initial estimate for all sensors.
It would be nice to have an extra button to reset just a given sensor.

The same could maybe be done later for the save button, if seen fit.

[2021-04-15 15:52] MiguelDRPina opened #285 "Integration with Rviz panel - set initial estimate - micro movements of the control"
The functionality left to do from the functionalities mentioned in issue #279 is the micro movements of each sensor.

In the panel we should maybe have boxes for each xyz and rpy coordinates and as we changed them, it would send a pose message with those coordinates that would change the sensors position.

[2021-04-15 15:56] MiguelDRPina opened #286 "Integration with Rviz Panel - set initial estimate - Listing all sensors"
In the panel, we currently have a drop-down box with the sensors.
It could maybe be more intuitive to change it for a list box that would allow us to see all sensors.

[2021-04-15 15:58] MiguelDRPina opened #287 "Integration with Rviz Panel - Collect Data - Save collection"
Title says it. We have to be able to save the collections made.

[2021-04-15 15:59] MiguelDRPina opened #288 "Integration with Rviz Panel - Collect Data - Get collection state"
We should be able to show the collections made.

[2021-04-15 16:01] MiguelDRPina opened #289 "Integration with Rviz Panel - Collect Data - Delete collection"
We should be able to delete a particular collection made, if desired.

[2021-04-15 22:57] danifpdra commented on #281
Hi, plots for the same distances and angles with 10e-8:

![image](https://user-images.githubusercontent.com/47574905/114948095-47891e80-9e46-11eb-9680-04f62b3eb2e7.png)
![image](https://user-images.githubusercontent.com/47574905/114948106-4b1ca580-9e46-11eb-8ad2-d4a86ea5df07.png)
![image](https://user-images.githubusercontent.com/47574905/114948109-4e179600-9e46-11eb-8a04-04a7da2de615.png)
![image

[2021-04-16 08:06] miguelriemoliveira commented on #281
Hi @danifpdra ,

tell me your opinion about these new results.

Mine is that they look good. I would say no need to get more results of this kind...

I will try to beautify the graphs a bit more and then ask for your opinion.

[2021-04-16 08:17] danifpdra commented on #281
Ok. I've updated the code for plotting these surfaces: https://github.com/miguelriemoliveira/mmtbot/blob/c8f9ba72c1b2e50a737eea8e8d39cae80ee515a9/mmtbot_calibration/scripts/mmtbot%20analysis.ipynb.

[2021-04-16 08:20] miguelriemoliveira commented on #281
Ok, thanks, but the new version generates the images above?

[2021-04-16 08:22] miguelriemoliveira commented on #273
Closing this one. Implemented and working.

[2021-04-16 08:22] #273 closed, assigned to miguelriemoliveira

[2021-04-16 08:23] miguelriemoliveira commented on #266
Is this complete? Please close if so ...

[2021-04-16 08:25] miguelriemoliveira commented on #288
Hi @MiguelDRPina ,

could I ask you to create an issue for grouping all the issues in Integration with Rviz Panel - Collect Data, as in

https://github.com/lardemua/atom/issues/279

Because we have a lot of issues now, and it would be helpful...

[2021-04-16 08:26] miguelriemoliveira commented on #282
@danifpdra what is your opinion about this? If you agree I can reorganize, no problem.

[2021-04-16 08:50] danifpdra commented on #281
Yes, it does.

[2021-04-16 08:51] danifpdra commented on #282
Hi @miguelriemoliveira  ,

I agree with you. I think the data should be available for all. Your solution seems good.

[2021-04-16 09:26] MiguelDRPina opened #290 "Integration with Rviz Panel - Collect Data"
Functionalities to develop for the collect_data:

- [x] Save Collection (#287)
- [x] Get Collection state (#288)
- [x] Delete Collection (#289)

We can add more functionalities later if we can remember more.

[2021-04-16 09:27] MiguelDRPina commented on #288
Hi @miguelriemoliveira ,

Done (issue #290)

[2021-04-16 09:30] miguelriemoliveira commented on #288
Thanks

[2021-04-16 09:31] eupedrosa commented on #281
Wouldn't it be better to use something like a heat map? Or contour map ?

Although these graphics are interesting,  and somewhat expeted. Their non-smothness is not very appealling.

[2021-04-16 09:39] miguelriemoliveira commented on #281
Yes, also something else: we are using two degrees of freedom (height and color) to display a single variable.

@danifpdra , can you try something like the matriz de risco that we see for the pandemic situation? Basically a top down view.

Also, the colors should perhaps be more intuitive: a green (good) to red(bad) colormap perhaps is more suited?

[2021-04-17 09:35] miguelriemoliveira commented on #284
Hi @MiguelDRPina ,

done. Take a look at the video https://youtu.be/sf9JkdeGKrU

The video shows which messages you need to send for each case.

Will assign the issue to you.

[2021-04-17 09:40] miguelriemoliveira commented on #287
Hi @MiguelDRPina ,

the save collection integration with the rviz panel is as simple as the **reset all sensors** functionality for the set_initial_estimate.

Because we have a menu before, you just have to use the currently existing menu once and see the message that rviz sends on the topic "feedback".

Then your panel code just has to mimic this message when the corresponding button is pressed.

[2021-04-18 20:50] MiguelDRPina commented on #284
Hello @miguelriemoliveira,
Sorry I took so long to respond, I had a very busy weekend.
I have seen the video, thank you. Tomorrow morning I'll try to have that done.

[2021-04-18 22:28] miguelriemoliveira commented on #284
Hi @MiguelDRPina ,

no problem. Let me know if you need some help.

[2021-04-19 10:26] danifpdra commented on #281
Is this better?

![image](https://user-images.githubusercontent.com/47574905/115221502-a75f1e00-a101-11eb-9d70-88751aace367.png)

[2021-04-19 11:15] MiguelDRPina commented on #284
Hi @miguelriemoliveira ,

So, I was able to do it. The only thing is, the reset sensor and reset all are sending me to different places. If I move the sensors and then click on Reset All, it is going to the last position saved, as it was doing already. But when I move a sensor and then try to reset just that sensor it always goes to the same position, like this:

![duvida](https://user-images.gith

[2021-04-19 13:04] miguelriemoliveira commented on #284
Hum, sounds like a bug from my side. Push your code and I will check.

[2021-04-19 13:17] MiguelDRPina commented on #284
The code is pushed.

[2021-04-19 13:20] miguelriemoliveira commented on #281
Hi @danifpdra ,

much better! Nice work.

For a paper in a top journal we still need to improve the following:

What do the axes represent (including units)?

I like the one on the left, but the xtick tics should perhaps be similar. You have 5 values (0 0.2 0.4 0.6 and 0.8 ) in x and many more on y. Can you fix it?

The figure on the right requires a legend that explains what is green and what is

[2021-04-19 13:23] miguelriemoliveira commented on #284
Hi @MiguelDRPina , when you push code related to an issue add a reference to that issue in the commit message. That way the commit appears in these conversations and I will know automatically that you pushed code related to this. Check this example above:

![image](https://user-images.githubusercontent.com/11350998/115243377-c61dde80-a11a-11eb-8cc6-720cb2b90cc3.png)

I will work on this and get ba

[2021-04-19 13:34] MiguelDRPina commented on #284
I am pretty sure I did. Maybe it's because I only referenced "#284" in the commit but because my side is on a different package ([this package](https://github.com/MiguelDRPina/atom_rviz_plugin)), it didn't show up here. How would I reference an issue from a different package in the commit?

[2021-04-19 13:37] miguelriemoliveira commented on #284
Hi @MiguelDRPina ,

Right, this happens to me also. I think this is how to do it:

https://github.com/gogs/gogs/issues/360

[2021-04-19 13:48] MiguelDRPina commented on #284
Just did a commit to test it and it worked. Thank you.

[2021-04-19 15:28] danifpdra commented on #281
Is this better? Do you prefer the matlab (previous plot) or python (this one) plots ?

![image](https://user-images.githubusercontent.com/47574905/115262098-21a49800-a12c-11eb-8921-738531da14e1.png)

[2021-04-19 15:31] danifpdra commented on #281
This is the python version

![image](https://user-images.githubusercontent.com/47574905/115262575-95df3b80-a12c-11eb-98b1-9245998cbc28.png)
![image](https://user-images.githubusercontent.com/47574905/115262598-9a0b5900-a12c-11eb-9f32-b46dece46624.png)
![image](https://user-images.githubusercontent.com/47574905/115262629-9e377680-a12c-11eb-9055-b6a27873fd25.png)
![image](https://user-images.githubu

[2021-04-19 16:40] miguelriemoliveira commented on #281
Hi @danifpdra ,

this is getting much better. I would say python, since its completely integrated into atom.

Some more comments:

In the paper the title of the graphs should be removed.
Initial estimate distance -> Linear distance from initial estimate to ground truth (meters)
Initial estimate angle -> Angular distance from initial estimate to ground truth (degrees)
Time -> Appears on top of the

[2021-04-19 16:55] danifpdra commented on #281
Is this what you meant?

Yes, I agree.

![image](https://user-images.githubusercontent.com/47574905/115274298-69312100-a138-11eb-931a-6dc471e72a4a.png)

[2021-04-19 22:26] miguelriemoliveira commented on #281
Yes, looks much better than at the start of the issue. Congratullations.

I think the axis labels have the correct text now but its too large, so its better to add symbols and then refer to them in the figure caption.

So for example you can use

l (meters) and then in the caption explain what l is
a (degrees) and then in the caption explain what a is

But it looks great. I would move it into the

[2021-04-20 09:11] miguelriemoliveira commented on #284
I investigated a bit, and using the spheres (the original control it works).

Using the 3dlidar as a case study, the message that is send when the spheres are selected is (**and this works as intended**):

[code]

Using your code (pressing the reset sensor button in the panel), the message is:

[code]

I think the problem should be in the different in value of the field marker_name: "3dlidar_menu"

[2021-04-20 09:51] danifpdra commented on #281
I inserted the plots in the paper. Can you check if it's alright?

[2021-04-20 09:58] miguelriemoliveira commented on #281
Hi @danifpdra ,

hum, not just yet, because the vertical axis legend is colliding with the ztick values.

Also, for reference, never have in a graph text which is smaller that the smallest text in the body of the document, which is normally the figure captions or the footnotes. That means you will have to increase the size of the font of the ticks and the legend a bit.

The colorbar with the legen

[2021-04-20 10:38] danifpdra commented on #281
Is this ok?

![image](https://user-images.githubusercontent.com/47574905/115382691-de4e3600-a1cc-11eb-9d2a-10705da004ab.png)

[2021-04-20 10:42] danifpdra commented on #281
Is this better?

![image](https://user-images.githubusercontent.com/47574905/115383275-87952c00-a1cd-11eb-9333-f7ad21105541.png)

[2021-04-20 12:40] MiguelDRPina commented on #284
Hi @miguelriemoliveira ,
Yes, that was it. Sorry, my bad.
It's working now, thank you. I will be closing this issue.

[2021-04-20 12:40] #284 closed, assigned to MiguelDRPina

[2021-04-20 13:00] miguelriemoliveira commented on #284
Great. One less.

[2021-04-20 13:00] miguelriemoliveira commented on #284
BTW, do you need me to develop any more functionalities? I think I will go into the one of getting information about collections... Any other ideas?

[2021-04-20 13:24] miguelriemoliveira commented on #281
Hi @danifpdra ,

yes, definitely. I don't think the colorbar is needed. I would remove.
The values in Angular distance are strange .. they are not in degrees, are they?

Also, the values of the error are strange. Are you sure those are pixels? Are they not meters? If so perhaps consider using millimeters in the graph for a better visualization.

[2021-04-20 13:31] danifpdra commented on #281
You are right,  the angular distance is in rad, not degrees. Do you want me to convert to degrees or should I just change the labels?

Yes, that particular plot is from LiDAR, the errors are in mm. Sorry, I copy-pasted and didn't notice it. I have already changed it.

[2021-04-20 13:35] miguelriemoliveira commented on #281
Ahah ... everytime I catch one more typo in the graph you owe me a coffee :).

I would prefer degrees, its more intuitive

[2021-04-20 13:47] danifpdra commented on #281
Did I get it right this time?

![image](https://user-images.githubusercontent.com/47574905/115406547-31cd7d80-a1e7-11eb-9b11-038003521abe.png)

[2021-04-20 14:16] miguelriemoliveira commented on #281
No : - ), the z axis values are in meters and you are saying in the legend that they are millimeters.

Can you multiply those values by 1000?

Do I get my coffee : - )?

[2021-04-20 22:47] danifpdra commented on #281
I'm confident that this is still not correct :-)

![image](https://user-images.githubusercontent.com/47574905/115472963-bdb8c700-a232-11eb-91d9-b1e34f7704a0.png)

[2021-04-21 09:10] miguelriemoliveira commented on #281
Its great. Thanks for the patience : - ). I hope you agree that now its much better than at the beginning ...

And don't forget my coffee!

[2021-04-21 09:13] danifpdra commented on #281
Yes, I agree. Thanks!

It's already on its way, I sent it on high priority mail :-)

[2021-04-21 10:45] miguelriemoliveira commented on #282
Hi @danifpdra ,

do you want me to start with this reorganization? I can give it a try ...

[2021-04-21 11:06] danifpdra commented on #282
hi @miguelriemoliveira,

As you wish. Do you prefer if I do it? I can do it if you want.

[2021-04-21 11:07] miguelriemoliveira commented on #282
I will do the first round and then you adjust as you want ok? Do you have everything pushed?

[2021-04-21 11:11] danifpdra commented on #282
I've just pushed everything now.

[2021-04-21 15:42] MiguelDRPina commented on #286
Hi @miguelriemoliveira ,

Today I have been on this issue, but I came across some difficulties that I will do my best to explain. Basically, when RViz opens, it's supposed to run some functions, and they do run. The problem is with the services to get the state of visibility/scale (issue #278 references this service).

For some reason I am not able to read the state right away, only when some acti

[2021-04-21 15:47] miguelriemoliveira commented on #286
Hi @MiguelDRPina do you have your code pushed? Where is the code for the test tab?

[2021-04-21 16:23] miguelriemoliveira commented on #286
Hi @MiguelDRPina ,

I did some debugging and added a PFLN in two methods.

[code]

and I think the problem is that your two calibration panel class methods **constructor** and **onInitialize**are only called when the panel is called again. If we load rviz with a configuration where the panel  already existed these methods are not called. Perhaps you can use the event for changing the tab to test t

[2021-04-21 16:24] miguelriemoliveira commented on #286
oops, forgot to add the correct git message ... https://github.com/MiguelDRPina/atom_rviz_plugin/commit/b5713799ef5b4f19759be4b213d0605c073c7a55

[2021-04-21 16:29] miguelriemoliveira commented on #286
Hi @MiguelDRPina ,

I think I got it wrong the last time. These two methods run either on rviz initialization, when they are configured in the rviz config file, or when we go to panels -> add display -> atom_calibration.

Now for me the problem is that the list of sensors has nothing ...

[2021-04-21 16:46] miguelriemoliveira commented on #286
my bad ... the list of sensors prints correctly. I forgot to do the

`rosparam load config.yml`

You could create a launch to make this easier.

Now I am a bit lost:

which service do you mean? Which code line?

[2021-04-21 16:54] MiguelDRPina commented on #286
I don't think I can create a launch file for that, because I don't have permission to edit the mmtbot package (don't give me permission though, at least for now, sometimes as I make changes it's good to know I can't mess anything up there).

It's the service GetSensorInteractiveMarker, I call the setTable function at the end of the calibration_panel.cpp file (line 86) and the code for that functio

[2021-04-21 17:25] miguelriemoliveira commented on #286
Ok so the problem is that the service call fails. This is the correct way to call a service

http://wiki.ros.org/ROS/Tutorials/WritingServiceClient%28c%2B%2B%29

[code]

Now im trying to figure out why it fails ...

[2021-04-21 17:32] MiguelDRPina commented on #286
But did it fail when you tested it? Because it was calling the service correctly before. If you watch the GIF I sent, when I change a sensor in the combobox (set_initial_estimate tab), it calls the service with no problem and I am able to set the checkbox and spinbox according to the state of the visible/scale values returned by the service.

The problem is that that is not happening when I first

[2021-04-21 17:36] miguelriemoliveira commented on #286
Hi @MiguelDRPina,

The service **was being called**, the problem was that the call was failing.

The reason for that was that the service server sometimes takes some time to be ready to operate, and the client was initializing much faster, which meant that when the service client called the service, the server was not yet ready.

The solution is to wait until the service is ready.

https://answers

[2021-04-21 17:38] miguelriemoliveira commented on #286
yes, but in that case, because you use some interaction, you will always call the service after the server is ready. The test tab was calling it on initialization, when the server was not ready.

I think it does happen (the service call, I mean). Check my prints and PFLNs. I left them there.

[2021-04-21 17:42] MiguelDRPina commented on #286
Ok, so then is there a way to get the server ready and call the service, both in initialization?

[2021-04-21 17:43] MiguelDRPina commented on #286
Oh, I just pushed the code. And it is working.

[2021-04-21 17:45] MiguelDRPina commented on #286
Nevermind, I understand what you did. Thank you.

[2021-04-21 17:48] miguelriemoliveira commented on #286
Great.

[2021-04-22 17:40] #286 closed, assigned to MiguelDRPina

[2021-04-23 09:43] MiguelDRPina commented on #290
Hi @miguelriemoliveira,

I ran into some problems with running the collect_data launchfile. I launch the file,  everything is good but whenever I try to add the panel, it just takes too long until eventually I get a message saying Rviz is not responding and I have to close it.

I tried opening other panels that I had here (simpler panels, only 1 tab and 1 button) and they open, but the one we've b

[2021-04-23 10:01] MiguelDRPina commented on #290
Hi again @miguelriemoliveira ,
I figured it out. It was because of the service that is being called upon initialization of the panel (issue #286) for the set_initial_estimate part, it is just waiting for a service endlessly. I have (temporarily) commented that part of the code to work on the collect data part and I was able to add the panel. But long term, how could we solve this problem?

[2021-04-23 10:20] #287 closed, assigned to MiguelDRPina

[2021-04-23 10:50] miguelriemoliveira commented on #290
Hi @MiguelDRPina ,

One option would be to replace the infinite wait for the service:

`client.waitForExistence(); // Wait for the service to be available before calling`

with a wait for a fixed reasonable time such as wait for 2 secs, then call the service.

If the service call still fails then you could disable that panel.

Another idea:

The service should be called not on initialization of th

[2021-04-23 11:01] miguelriemoliveira commented on #290
a third option:

[code]

[2021-04-23 11:04] eupedrosa commented on #290
There is no need for initializations or even use a `ServiceClient`. ROS also provides a [simpler API](https://docs.ros.org/en/api/roscpp/html/namespaceros_1_1service.html#33d9fb0f32ff8bbac4db4188d657715d) to interact with
services.

When pushing the button you can simple do
[code]

[2021-04-23 11:43] MiguelDRPina commented on #290
Hi @miguelriemoliveira and @eupedrosa ,

At least for now, I've gone with an approach similar to the 2nd suggestion @miguelriemoliveira made (calling the service when the tab changes). That way I am able to keep working on the rest of the issues that might have a bigger priority. After that I can try and test all options on this to see what works best.
Thank you both.

[2021-04-23 17:14] miguelriemoliveira commented on #290
Hi @MiguelDRPina ,

yes, you can use the timeout argument in the wait for service (check @eupedrosa 's link).

In any case, you will have to handle the possibility of the service not being responded, even after waiting. The best way would be to disable that tab...

[2021-04-25 06:06] miguelriemoliveira commented on #288
Hi @MiguelDRPina ,

I implemented the service https://github.com/lardemua/atom/blob/noetic-devel/atom_msgs/srv/GetDataset.srv

I hesitated back and forth and ended up deciding that it made no sense for the python code data_collector to be filtering the information in the dataset. Might as well send you everything and then you decide what you need and take it.
So the solution was for the service to

[2021-04-25 08:37] MiguelDRPina commented on #288
Hi @miguelriemoliveira ,
Ok, thank you. I will take a look into it and I'll say something if I need to.

[2021-04-25 15:58] #283 closed, assigned to nobody

[2021-04-26 10:06] MiguelDRPina commented on #288
Hello @miguelriemoliveira ,

I only had a chance to work on this issue this morning, and I am running into some errors.

I have ran the launchfile for the data collect, saved a few collections and ran the [file](https://github.com/MiguelDRPina/atom_rviz_plugin/blob/main/atom_rviz_plugin/src/test_json_parser.cpp) you made and it all printed out fine. But then I tried just parsing the json file in t

[2021-04-26 13:29] miguelriemoliveira commented on #288
Hi @MiguelDRPina ,

when you run in the data_collect.cpp, is the service call responded successfully, or does it fail?

[2021-04-26 13:42] MiguelDRPina commented on #288
I am not 100% sure, since I am running with the launchfile I can't see what is being printed in the terminal. But I would assume so, because if I comment everything after calling the service, there's no error.
The Rviz crashes only when I insert this line:
[code]

[2021-04-26 13:51] miguelriemoliveira commented on #288
you should fix this, otherwise it will be very difficult to debug.

Your code is running inside rviz, and since we are launching rviz with a launch file we must make sure the output of the node is being redirected to the terminal, i.e., this line should have a **output="screen"**

https://github.com/miguelriemoliveira/mmtbot/blob/8dc4f873b80d95b13359079b7fc9360cf8543908/mmtbot_calibration/launch/p

[2021-04-26 14:00] MiguelDRPina commented on #288
Yes, service called successfully. And the json file is saved on output_folder. The error appears with that line I mentioned.

[2021-04-26 14:30] miguelriemoliveira commented on #288
and what's the output of this?

`ROS_INFO("srv.response.dataset_json=%s", srv.response.dataset_json.c_str());`

[2021-04-26 14:34] MiguelDRPina commented on #288
![Screenshot from 2021-04-26 15-33-35](https://user-images.githubusercontent.com/73201389/116100466-da2a8880-a6a4-11eb-8ab6-ff8032c0f1dd.png)

[2021-04-26 14:39] miguelriemoliveira commented on #288
Hi @MiguelDRPina ,

not sure I understand your response ...  where is the text?

"srv.response.dataset_json = blablabla ..."

from line https://github.com/MiguelDRPina/atom_rviz_plugin/blob/f2618c191b0b77fbe2b3864910c32ce6195b1257/atom_rviz_plugin/src/data_collect.cpp#L43

Did you change the launch file as described here?

[2021-04-26 14:40] MiguelDRPina commented on #288
I did change the launchfile. And I highlighted the line you asked (first line in the terminal).

[2021-04-26 14:59] miguelriemoliveira commented on #288
ah ... sory, did not see it. Better to copy paste the terminal's output rather than posting an image. Its much easier to spot and copy paste.

In any case, this is the problem, your json is empty.

The procedure is:

1. launch
`roslaunch mmtbot_calibration collect_data.launch  output_folder:=/home/mike/datasets/mmtbot/tmp overwrite:=true`

2. get at least one collection by setting the save (use th

[2021-04-26 15:05] MiguelDRPina commented on #288
Well, the way I was doing was: in the function connected to the event of clicking the save Button I had created in the panel (in issue #287) I would call the service and try to read the json so I could then add the collection to the treeWidget in the panel.

[2021-04-26 15:14] MiguelDRPina commented on #288
Ok, I have now tried separately again (one button just to save the collection and one where I call the service and parse the json file just like you did) and it worked. It wasn't working when I tried earlier. But then my question is why can't I do all of this in the same function?
Because for me it makes sense that, as I click on the button to save the collection, that collection would be added to

[2021-04-26 15:14] miguelriemoliveira commented on #288
It should work as you have but I am not sure. If you do it as I suggest does it work?

[2021-04-26 15:15] miguelriemoliveira commented on #288
Push your code so I can try it ...

[2021-04-26 15:15] miguelriemoliveira commented on #288
You, it should work in the same, but let me check from my side ...

[2021-04-26 15:18] MiguelDRPina commented on #288
Code is pushed. The way it is right now is the way that works (parsing the json in a separate function). If you want the way it doesn't work, just uncomment the commented part on the save function.

[2021-04-26 15:19] miguelriemoliveira commented on #288
OK, thanks. A moment please ...

[2021-04-26 15:31] miguelriemoliveira opened #291 "Error launching calibration panel"
Hi @MiguelDRPina,

I can't run .when launching

`roslaunch mmtbot_calibration collect_data.launch  output_folder:=/home/mike/datasets/mmtbot/tmp overwrite:=true`

I get this error

[code]

when I launch the atom calibration panel ...any idea what's wrong?

[2021-04-26 15:32] miguelriemoliveira commented on #288
I am stuck on #291 can you see what's wrong with that so I can test?

[2021-04-26 15:34] MiguelDRPina commented on #291
Yes. Change the file path in line 22 of the [read_write_config](https://github.com/MiguelDRPina/atom_rviz_plugin/blob/f2618c191b0b77fbe2b3864910c32ce6195b1257/atom_rviz_plugin/src/read_write_config.cpp) to your config.yaml absolute path.

[2021-04-26 15:36] MiguelDRPina commented on #291
I intend on maybe having the path being given within the panel, but for now I am setting it in the code.

[2021-04-26 15:37] miguelriemoliveira commented on #291
OK, but you should set that so that it does not break the code. Something like if text is empty do not run these functionalities ...

[2021-04-26 15:42] #291 closed, assigned to MiguelDRPina

[2021-04-26 15:45] miguelriemoliveira commented on #288
I think I know what's happening. The idea is that two functionalities are called in sequence:

1. save a new collection
2. get the state of all collections

The problem is that we are using a message publication for 1. which does not tell us when the process of saving the collection is finished. Note that you should only go into 2. when the collection has finished saving. Having a publish / subscr

[2021-04-26 15:48] MiguelDRPina commented on #288
Ok, thank you.

[2021-04-26 15:57] miguelriemoliveira commented on #288
Done. Tested it. Should work fine. Already changed the data_collect.cpp to call the service. Check it.

Back to you ...

[2021-04-26 16:05] MiguelDRPina commented on #288
Seems to be working fine, I'll work on it from here. Thank you again.

[2021-04-26 16:06] miguelriemoliveira commented on #288
No problem. It is a pleasure to code a bit ...

[2021-04-27 21:33] MiguelDRPina commented on #288
Hello @miguelriemoliveira,

Just 2 quick questions.
[code]
In your json parser, you have 2 cycles like this (forget what's inside the cycles). The first cycle is iterating over the sensors of all collections, but the way I am doing I wanted to iterate over all sensors of JUST the one collection that I am adding when I click on the save button (I have the index of the desired collection). How can I

[2021-04-27 23:00] miguelriemoliveira commented on #288
Hi @MiguelDRPina ,

the collections are named with numbers, i.e. 0,1,2,3, ... .

The last saved one is the highest number. You could use this...

So just print all collection names

[code]

an figure out a way to get the largers value for key (you probably have to convert to numeric to compare).

A tip: copy the contents of the data_collected.json file you have from a dataset and paste them into

[2021-04-28 16:28] MiguelDRPina commented on #289
Hi @miguelriemoliveira,

I have 2 questions about this issue.
1. I am already able to delete the collections that I want in the panel, but I don't do anything with the json itself. How do we do that? Do you create a service that receives the index of the collection I want to delete and delete on the ATOM's side?

2. Should I readjust the names of the collections in the panel as I delete a collecti

[2021-04-28 16:48] miguelriemoliveira commented on #289
Yes, that's it. I can do it.

What you should do is to call the service to delete and when its finished, call again the service to get the collections. That way you are sure you have the updated description of the dataset.

[2021-04-29 11:49] #288 closed, assigned to MiguelDRPina

[2021-04-30 06:39] miguelriemoliveira commented on #289
Hi @MiguelDRPina ,

Implemented the service to delete a collection. Please try it out and let me know if you run into trouble.

Example of calling the service:

`rosservice call /collect_data/delete_collection "collection_name: '"3"'"`

[2021-04-30 06:57] MiguelDRPina commented on #289
HI @miguelriemoliveira ,
Thanks, will implement it today.

[2021-04-30 11:53] MiguelDRPina commented on #289
Hello @miguelriemoliveira ,

It's working. Only one thing... I was testing everything and I just noticed that in your [test_json_parser](https://github.com/MiguelDRPina/atom_rviz_plugin/blob/main/atom_rviz_plugin/src/test_json_parser.cpp), if I have more than 10 collections, those 2 digit collections will come right after their respective first digit. Like this:
![Screenshot from 2021-04-30 12-47-

[2021-04-30 11:54] #290 closed, assigned to nobody

[2021-05-01 09:19] miguelriemoliveira commented on #289
Hi @MiguelDRPina ,

This occurs because the sorting of string variables puts 10 before 2 and so on. In any case, the data structure that we have to store the collections is a dictionary, which means that the order by which the collections appear is not important.

If you want, for visualization purposes you can sort the collections by name (also an option to sort them by aquisition time as you hav

[2021-05-01 09:20] miguelriemoliveira commented on #289
BTW @MiguelDRPina am I missing something to do from my side? Please tell me if you are waiting for me with something ...

[2021-05-01 09:41] miguelriemoliveira commented on #282
Hi @danifpdra ,

I have the first proposal. All the things are in mmtbot_experiments. There is a global readme and a readme for each experiment.

What is missing:
1. Checking the datasets and bagfiles. You are not using mine, we are already desynced which is another reason to get this up and running.
2. Adding a folder with the results. That folder we were putting inside the dataset older should b

[2021-05-01 09:42] miguelriemoliveira commented on #281
Hi @danifpdra . Can we close this issue? Its done, right?

[2021-05-01 12:10] MiguelDRPina commented on #289
Hi @miguelriemoliveira ,
Ok, I will sort it then.

[2021-05-01 12:16] MiguelDRPina commented on #289
Only for issue #285 regarding the micromovement of the sensors for the initial estimate. I already have in the panel 6 spinboxes (3 for xyz and 3 for rpy) and a button that when clicked would send a message/call a service with the pose from those spinboxes and you would change it on the ATOM's side.

Right now there's only an issue for that in the set initial estimate, but I think that if we are d

[2021-05-01 20:21] MiguelDRPina commented on #289
Hi @miguelriemoliveira ,
I only had the chance to work on this now and it seemed easy, but I am not figuring out how to sort this.

You said that right now it is being sorted by aqquisition time, but that's not the case, at least I don't think it is. The collection that is saved as being the 10th collection is indeed the 10th collection being saved. However, when I iterate like in the first line o

[2021-05-02 08:48] miguelriemoliveira commented on #289
Right, I agree.

Since you have a dictionary when you travel through the keys in the dictionary there is no order associated with the keys.

My strategy would be:

1. Travel the dictionary keys and  build a vector of integers (std::vector\<int\>) containing the keys of all collections. Important detail: you will have to cast if needed the collection key to integer.
2. Sort the vector of integers

[2021-05-02 08:56] MiguelDRPina commented on #289
I got the first 2 points you made, and I was already trying to do something similar, in a slightly different way. I guess my problem is with your 3rd point. Having the key of the value I want to retrieve, how can I get its corresponding value?

[2021-05-02 09:12] miguelriemoliveira commented on #289
Hi @MiguelDRPina ,

I think you can do

`j["collections"].at(key)`

does it work?

[2021-05-02 09:32] MiguelDRPina commented on #289
I think it does, I'll confirm it in a sec.

[2021-05-02 09:46] MiguelDRPina commented on #289
Hi @miguelriemoliveira ,
It's working. Thank you.

[2021-05-02 09:47] #289 closed, assigned to MiguelDRPina

[2021-05-02 10:23] MiguelDRPina commented on #293
Hi @miguelriemoliveira ,

Just for matters of organization, I was trying (again) to transfer this and 2 other issues to atom repository, even though this issues are already closed. I still can't do it because the atom repository doesn't appear to me when I try to transfer, but I think it might appear to you. It might have to do with the levels of permission.

Could you try and see if the atom repo

[2021-05-03 07:27] miguelriemoliveira commented on #293
Hi @MiguelDRPina I have tried and I only see your PARI repos as possibilities. Can you google around to see how we could do this? Perhaps you first need to transfer ownership of the repo to me (or to the lardemua organization) before we can transfer the issue.

[2021-05-03 10:02] MiguelDRPina commented on #293
Hi @miguelriemoliveira ,
I am trying to transfer this repo to you:
![image](https://user-images.githubusercontent.com/73201389/116863885-dcd63200-abfe-11eb-9a46-b769f4742716.png)

and I am getting this error:
![image](https://user-images.githubusercontent.com/73201389/116863955-fb3c2d80-abfe-11eb-9f72-51cc2da0a512.png)
What am I doing wrong?

[2021-05-03 10:39] eupedrosa commented on #293
You have an extra '@' in `miguelriemoliveira`

[2021-05-03 13:53] MiguelDRPina commented on #293
Thank you, @eupedrosa, that was it.
@miguelriemoliveira , if you could accept the transfer of the repo to your name and see if you're then capable of transferring the issue.

[2021-05-03 21:27] #292 closed, assigned to MiguelDRPina

[2021-05-03 21:27] #293 closed, assigned to MiguelDRPina

[2021-05-03 21:33] miguelriemoliveira commented on #293
Hi @MiguelDRPina ,

I transferred the repo to the lardemua organization, which is the official group of the DEM Robotics group. Here it is:

https://github.com/lardemua/atom_rviz_plugin

I gave you admin permissions on this repo.

After this I was able to transfer the issues to the atom. Here they are:

https://github.com/lardemua/atom/issues/293
https://github.com/lardemua/atom/issues/294
https:/

[2021-05-03 21:45] #281 closed, assigned to miguelriemoliveira

[2021-05-03 21:52] miguelriemoliveira commented on #285
Hi @MiguelDRPina ,

I think you just have to emulate the messages that are sent when you move the marker. Take a look at the video:

https://youtu.be/9-ocrJhv8qk

[2021-05-04 08:12] MiguelDRPina commented on #293
That's it, yes. Thank you.

[2021-05-04 08:34] MiguelDRPina commented on #285
Hi @miguelriemoliveira ,
Ok, but what would be the control name for changing all xyz and rpy? Or should I be publishing a message for each of the 6? Because in the video you only move in one direction and use the control name "move_y". I tried moving the marker in the sphere to move all to see which message would be published because I remember I used to be able to do that, but for some reason I c

[2021-05-04 09:44] miguelriemoliveira commented on #285
Hi @MiguelDRPina ,

don't use the sphere. Use the arrows and the rings and do a rostopic echo to get the message that you need to replicate.

[2021-05-04 09:51] MiguelDRPina commented on #285
I know, what I meant was, depending on which arrow/ring I use, the control_name will be different (move_y if I move the arrow to for y, 'move_z' for the z arrow, 'rotate_y' if I use the y ring, etc).

My goal was to publish a message to change the entire pose at once, that's why I was asking about the sphere, because with the sphere more than one position was being changed simultaneously, so I was

[2021-05-04 10:46] miguelriemoliveira commented on #285
Hi @MiguelDRPina ,

better that you send a message every time the user pushes the button. You will have 12 buttons I think, minus and plus the 6 DOF. And for each button you send a special message.

That's the best way I think because you get immediate visual feedback after pressing the button

[2021-05-05 16:45] MiguelDRPina opened #295 "Integration with Rviz Panel - read/write in config file - Dump in config.yml"
In the configuration file, the panel is already able to read the configuration file and set the parameters.

However, when we alter the parameters and click on the 'Write' button, it does change the ROS parameters, but I can't change on the .yml file. It would be nice to do this, so the parameters wouldn't have to be set again everytime someone wants to do a calibration.

[2021-05-05 16:50] MiguelDRPina opened #296 "Integration with Rviz Panel - read/write config file - path to the configuration file"
To load the yaml file, the absolute path of the file is needed and as of right now, it is being given inside the code. That's not ideal, because it means that for every robot, that specific line of the code would have to be changed.

In the panel, there should be a file dialog window to choose the file and that file would then be used in the code.

[2021-05-05 16:57] MiguelDRPina opened #297 "Integration with RViz Panel - Testing the panel with other robots"
Hi @miguelriemoliveira ,

In our last meeting, you told me to ask you for the procedure for me to be able to test the ATOM panel on different robots, since right now we've only been testing with [mmtbot](https://github.com/miguelriemoliveira/mmtbot).

[2021-05-05 17:01] MiguelDRPina opened #298 "RViz Panel - Being able to do the entire calibration in the same session"
Right now, we have a launchfile for each step of the calibration. If possible, it would be nice to have only one launchfile for the entire calibration process.

[2021-05-05 17:09] MiguelDRPina opened #299 "Integration with RViz Panel - Calibration - Graphics"
As the calibration process is being done, showing the process graphically.

As a first step, we should try to create a graph in Qt that receives x and y periodically and plots it.

[2021-05-05 17:11] MiguelDRPina opened #300 "Integration with RViz Panel - Calibration - Transparency"
During/After the calibration process, we should be able to set the transparency of the robot.

[2021-05-05 17:16] MiguelDRPina opened #301 "Integration with RViz Panel - Calibration - Visualization on the display panel"
Instead of having everything in the panel, some visualization features (like the transparency, visibility, etc) could be changed in the displays panel tree.

[2021-05-05 17:17] MiguelDRPina opened #302 "Integration with RViz Panel - Calibration"
Issue to discuss the Calibration Tab Widget.

[2021-05-05 17:18] MiguelDRPina commented on #302
Hi @miguelriemoliveira,

There's no hurry as I won't be using them right now, but when you can could you please send me some testing datasets?

[2021-05-06 08:08] miguelriemoliveira commented on #302
Hi @MiguelDRPina ,

here it goes:

https://drive.google.com/drive/folders/1pDKpNwdU-a49MY2BoGq7A9JkP3kHVPz6?usp=sharing

[2021-05-07 16:09] danifpdra opened #303 "Error in batch execution"
Hi @miguelriemoliveira ,

I'm getting this error when trying to execute the batch execution. Can you help me out here?

`Traceback (most recent call last):
  File "./batch_execution", line 95, in <module>
    main()
  File "./batch_execution", line 83, in main
    if not os.path.exists(file):
  File "/usr/lib/python3.8/genericpath.py", line 19, in exists
    os.stat(path)
TypeError: stat: path sho

[2021-05-10 14:57] miguelriemoliveira commented on #303
Hi @danifpdra ,

can you post the entire contents of the config file?

[2021-05-10 15:28] danifpdra commented on #303
here https://github.com/miguelriemoliveira/mmtbot/blob/main/mmtbot_experiments/01_initial_estimate_vs_error/batch_mmtbot_partial.yml

[2021-05-10 15:48] miguelriemoliveira commented on #303
@danifpdra if you run with -v (verbose ) what do you see? (please git pull)

[2021-05-10 15:59] danifpdra commented on #303
I am running in verbose mode.

[code]

[2021-05-10 15:59] miguelriemoliveira commented on #303
how are you running the script ( BTW this should always be in the initial message of the issue)?

I run with

`/home/mike/catkin_ws/src/calibration/mmtbot/mmtbot_experiments/01_initial_estimate_vs_error && rosrun atom_evaluation batch_execution -f batch_mmtbot.yml -v`

[2021-05-10 16:00] miguelriemoliveira commented on #303
Wait, you give two different outputs ? Which one is it?

[2021-05-10 16:01] danifpdra commented on #303
I deleted one. It's the last one. Sorry...

I'm running like this: `roscd atom_evaluation/scripts && ./batch_execution -v -f /home/daniela/catkin_ws/src/calibration/mmtbot/mmtbot_experiments/01_initial_estimate_vs_error/batch_mmtbot_partial.yml > partials.txt`

[2021-05-10 16:11] miguelriemoliveira commented on #303
I found the problem:

[code]

the last dash defines a file to collect which has no name. When the script tries to find file "None" the error occurs. If you remove the dash then it should work. Also I added a more informative message when this happens.

[2021-05-10 16:12] miguelriemoliveira commented on #303
Please close if solved.

[2021-05-10 16:15] danifpdra commented on #303
I'm still getting the same problem after deleting the dash.

[2021-05-10 16:18] danifpdra commented on #303
It works not after the latest commit. Thanks.

[2021-05-10 16:18] #303 closed, assigned to miguelriemoliveira, danifpdra

[2021-05-10 16:20] miguelriemoliveira commented on #303
Great!

[2021-05-19 21:08] MiguelDRPina opened #304 "Error testing collect data tab of the RViz Panel"
Hello @miguelriemoliveira ,

Since our meeting, I have tested this a few times and it seems to be working again. With the zoom meeting, sharing the screen, etc, it must have created some problems. Nonetheless, could you try it yourself and see if it works on your side as well? You should be able to run it with the following command line (just change the output folder for your own datasets director

[2021-06-01 14:26] MiguelDRPina commented on #285
Hi @miguelriemoliveira ,

Today I decided to just pop in for a few moments to try to advance in a few of the issues at hands, before I return to the writing. For this issue, I already send the poses and the sensors move (GIFs below), but I should be able to have their current pose. How can I get it? I thought that I could read it from the /initial_estimate/feedback and /data_labeler/feedback topic

[2021-06-01 15:19] miguelriemoliveira commented on #285
Hi @MiguelDRPina ,

you can subscribe to **/set_initial_estimate/feedback** and you get the pose of the marker published every time you move it.

![image](https://user-images.githubusercontent.com/11350998/120348090-c225d480-c2f4-11eb-870b-f4c1576cc2c6.png)

The feedback message is:

[code]

from this you can get the pose right?

[2021-06-01 15:30] MiguelDRPina commented on #285
What I wanted was to get the position when I click (on the table list of the sensors) in one of the sensors.

For instance, when I first open the panel, all xyz and rpy are at 0 because no sensor is selected. I would select the hand_camera in the list and would see at what position it is, before even moving them. After moving it around, I would then click on 3dlidar and would see the position it i

[2021-06-01 16:16] miguelriemoliveira commented on #285
That could be a problem because the feedback message is only sent when the interactive marker is moved.

In that case you should use the tfs:

![image](https://user-images.githubusercontent.com/11350998/120357344-3f554780-c2fd-11eb-9550-cd8a377cf4d9.png)

[2021-06-01 16:42] MiguelDRPina commented on #285
I am a little confused with something.

![Screenshot from 2021-06-01 17-39-59](https://user-images.githubusercontent.com/73201389/120360228-70834700-c300-11eb-8e57-018afc8550fd.png)

I checked the tf for the hand_camera, like you did and also listened to the /set_initial_estimate/feedback topic. When I moved the hand_camera, the pose on the feedback was different than the one on the tf. Do you kno

[2021-06-01 17:19] miguelriemoliveira commented on #285
Yes, the the transformation should be different.

For example, the pose you get on the feedback of the hand camera is from the end_effector to the hand_camera_link.

When you do a tf_echo you have to select the same frames to get the same transform ...

[2021-06-01 21:22] #296 closed, assigned to nobody

[2021-06-01 21:34] MiguelDRPina commented on #295
Hi @miguelriemoliveira ,
I am able to dump the values in the config.yml file. The only thing is, the comments disappear after the first dump. I've looked around and it seems to be expected. Do you think that is a problem?

![Screenshot from 2021-06-01 22-27-48](https://user-images.githubusercontent.com/73201389/120392767-de436900-c328-11eb-8ae7-aced091b4c9e.png)

I only ask this because the commen

[2021-06-11 22:40] MiguelDRPina opened #305 "Unable to commit"
Hello @miguelriemoliveira ,

I decided to come work just for a little bit on some pending details about the interface and I have tried to commit, without success. And it turns out, the last time I came here (a few days ago), it apparently did not commit as well, but I hadn't noticed.

![Screenshot from 2021-06-11 23-35-59](https://user-images.githubusercontent.com/73201389/121755130-502c6700-cb0e-

[2021-06-11 22:44] miguelriemoliveira commented on #305
Hi Miguel

Did you pull? Do you have conflicts?

I can check it tomorrow.

Miguel

On Fri, Jun 11, 2021, 23:40 MiguelDRPina ***@***.***> wrote:

[2021-06-11 22:51] MiguelDRPina commented on #305
Yes, I did pull. But I keep getting that error saying I do not have permission.

[2021-06-11 22:54] MiguelDRPina commented on #305
Don't know if you changed anything or not, but somehow I was able to push now. Thank you.

[2021-06-11 23:20] miguelriemoliveira commented on #305
Changed nothing. Great!

On Fri, Jun 11, 2021, 23:55 MiguelDRPina ***@***.***> wrote:

[2021-06-12 15:54] #285 closed, assigned to MiguelDRPina

[2021-06-12 15:54] #305 closed, assigned to miguelriemoliveira

[2021-06-12 15:54] #304 closed, assigned to miguelriemoliveira

[2021-06-12 15:56] #279 closed, assigned to miguelriemoliveira

[2021-06-12 16:15] MiguelDRPina commented on #295
Helo @miguelriemoliveira ,

I have two yaml files, [one with](https://github.com/lardemua/atom_rviz_plugin/blob/main/atom_rviz_plugin/src/config.yml) and the [other without](https://github.com/lardemua/atom_rviz_plugin/blob/main/atom_rviz_plugin/src/config_no_comments.yml) comments.

I wanted to be able to get the values from the one without comments to the commented one, without losing the commen

[2021-06-12 16:23] MiguelDRPina opened #306 "Integration with RViz Panel - Data Collect - Type of sensor and marker representing it"
Hi @miguelriemoliveira ,

For the data collection tab, I have a combobox to select which lidar marker I will be moving, like this:

![Screenshot from 2021-06-12 17-18-04](https://user-images.githubusercontent.com/73201389/121782592-2cb2fc00-cba2-11eb-919f-e86b5f426dab.png)

The problem right now is that it has all the sensors in that combobox. My question is, how do I know which of my sensors is a

[2021-06-12 21:49] miguelriemoliveira commented on #306
Hi @MiguelDRPina ,

**First question:**

You have to look and the calibration.yaml, and for each sensor there is a topic_name field for each sensor, e.g.:

[code]

Now given a topic you can extract the type of message that is being published on that topic. In python this is quite easy to do since python has introspection features, e.g.:

https://github.com/lardemua/atom/blob/bef38d1a5fd868b63d2385

[2021-06-12 21:54] miguelriemoliveira commented on #306
Second question:

It should be the topic of the sensor data message, which you find in the calibration.yaml, concatenated with a "/labeled".
Check this marker creation for PointCloud2 message types:

https://github.com/lardemua/atom/blob/bef38d1a5fd868b63d2385a15aabbe1bfcc981e9/atom_calibration/src/atom_calibration/collect/interactive_data_labeler.py#L182-L186

[2021-06-12 23:10] miguelriemoliveira commented on #295
Hi @MiguelDRPina ,

Done. I am using a python package called ruamel. Install with

[code]

Then go the the scripts folder and run the script, e.g.:

[code]

Let me know if it works.

[2021-06-12 23:14] miguelriemoliveira commented on #295
Pushed code to the atom_rviz_plugin repo

https://github.com/lardemua/atom_rviz_plugin/commit/be3772b9066672105e9aa933e75217ddd05e120f

[2021-06-13 21:56] MiguelDRPina commented on #306
Hello @miguelriemoliveira ,

Thank you. I really did not have time today, but tomorrow I will try it and then say something.

[2021-06-14 08:46] MiguelDRPina commented on #295
Hello @miguelriemoliveira ,
It did work on the terminal. But how do I run the script inside the C++ code? I tried using the system() function, like this:

[code]

And it did recognize the script, but got the following error:
[code]

The code is pushed. Any idea on how to solve this?

[2021-06-14 09:23] miguelriemoliveira commented on #295
Hi @MiguelDRPina ,

can you print the command you are running, i.e.,

`cout << command_line << endl;`

I want to check how you are calling the script...

[2021-06-14 09:30] MiguelDRPina commented on #295
Sure. The output was:
[code]

[2021-06-14 10:57] MiguelDRPina commented on #306
Hello @miguelriemoliveira ,

As for the first question, thanks, it worked well. The second one I am not so sure I understood. I launched the collect_data launchfile and listened to the /3dlidar/points/labeled topic in the terminal, and it was constantly receiving the following message:
[code]

Is this what you were referring to? Because I have changed the markers' pose in rviz and none of the info

[2021-06-14 13:18] miguelriemoliveira commented on #295
Hi @MiguelDRPina ,

are you using the up to date code? Because I have nothing in line 40 ...

Please upload the yamls you are using in this example.

[2021-06-14 13:21] MiguelDRPina commented on #295
I did remove some of the imports, one of them was giving me an error and didn't seem that it was being used (the OptimizationUtils one).
But I pushed the code after I changed it.

[2021-06-14 13:29] miguelriemoliveira commented on #295
OK, I was having a problem pulling. How about hte yamls. Are they the ones you sent before or some others?

[2021-06-14 13:30] miguelriemoliveira commented on #295
Just tested with the ymls you gaveSaturday me on . It works. Please send the new yamls.

[2021-06-14 13:35] MiguelDRPina commented on #295
There are no other yamls. The command-line I sent you before works if i run it in the terminal. But using the system() function to run that same command-line inside the C++ code gives me the error that I showed above.

[2021-06-14 15:17] miguelriemoliveira commented on #295
Hi @MiguelDRPina ,

I created a cpp code for testing a system call of the python script

https://github.com/lardemua/atom_rviz_plugin/commit/a89eaf6032eb04f833f2aeae66a207728a05661a

It seems to work fine.

[code]

can you try it?

[2021-06-14 15:28] miguelriemoliveira commented on #306
Hi @MiguelDRPina ,

sorry, I think I forgot about your question in the middle of the answer : ) .

Just listem to the topic rostopic /data_labeler/update, e.g.,

`echo /data_labeler/update`

will give you a lot of markers, you search for the one with the sensor name. Then you can get the pose of the marker w.r.t the frame_id (which is typically the sensor's data frame)

[code]

[2021-06-14 16:40] MiguelDRPina commented on #295
Thank you @miguelriemoliveira. I thought I did this from the start, but apparently not, it is working now. I will be closing this issue now.

[2021-06-14 16:40] #295 closed, assigned to nobody

[2021-06-14 16:47] miguelriemoliveira commented on #295
Great.

[2021-06-14 22:45] MiguelDRPina commented on #306
Hello @miguelriemoliveira ,

I have been trying to do this one, but I am having trouble creating the subscriber and cannot figure out why. I have tried several different ways, but always get some kind of error. Could you take a quick look into the code I pushed? The subscriber is being created in the header file (line 28) and the callback function in the data_collect.cpp (line 23), but it doesn't

[2021-06-14 23:01] miguelriemoliveira commented on #306
So you say that the on message received callback **CalibrationPanel::positionCallback()** is not being called?

Did you put a PFLN there to make sure its not going inside the function?

Also, are you sure that messages are being published on that topic? Did you

`rostopic echo /data_labeler/update`

Do you get any messages?

[2021-06-14 23:05] MiguelDRPina commented on #306
I did not put a PFLN because the code does not compile, always get an error. I have checked for other examples and tried to create the subscriber other ways but I get different errors everytime.

That topic does receive messages, I checked first.

[2021-06-14 23:09] miguelriemoliveira commented on #306
Another suggestion. When using ros subscribers we should declare the class properties  as pointer to the variables we want, instead of the variables. We do this to make sure the subscribers are only created when the class constructor is called.

So instead of

[code]

we should:

[code]

Not sure about the sintax, but I can try in the code if you want ...

What error?

[2021-06-14 23:14] MiguelDRPina commented on #306
The error was something along the lines of 'ros error: invalid use of non-static member function atom_rviz_plugin:CalibrationPanel:positionCallback'

[2021-06-15 08:54] MiguelDRPina commented on #306
Hello @miguelriemoliveira ,
Tried it again this morning. Still can't create a subscriber.

Is there any other way to get the position? Because I really don't know what I am doing wrong, I tried too many different ways and nothing worked.

[2021-06-15 09:13] miguelriemoliveira commented on #306
Hi Miguel,

we can work this afternoon ... 14h?
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Tue, 15 Jun 2021 at 09:54,

[2021-06-15 09:16] MiguelDRPina commented on #306
Hold on, I am seeing some light. It compiled.

[2021-06-15 09:45] MiguelDRPina commented on #306
I have already subscribed to the topic. But now I am not able to retrieve the message I want. Is it ok if we still meet this afternoon at 14h @miguelriemoliveira ?

[2021-06-15 11:51] miguelriemoliveira commented on #306
Better 14h10 ok?

On Tue, Jun 15, 2021, 10:45 MiguelDRPina ***@***.***> wrote:

[2021-06-15 11:54] MiguelDRPina commented on #306
Of course. See you soon.

[2021-06-15 13:18] MiguelDRPina commented on #306
Hey @miguelriemoliveira , I am already in the usual meeting room.

[2021-06-15 14:46] MiguelDRPina commented on #306
Message of topic /data_labeler/update:

[code]

[2021-06-15 22:02] #306 closed, assigned to nobody

[2021-06-16 08:13] miguelriemoliveira opened #307 "Improvement of atom_rviz_plugin readme"
Hi @MiguelDRPina ,

I suggest that you improve the readme with some photos or even videos of the calibration panel.
Use the atom readme as a model.

[2021-06-16 08:22] MiguelDRPina commented on #307
Hello @miguelriemoliveira ,

Yes, I plan on doing so after I have everything in the panel done and the thesis fully written so I can try to do it properly without being in a rush.

[2021-06-16 08:26] miguelriemoliveira commented on #307
Makes sense. I will set low priority then.

[2021-06-17 11:42] MiguelDRPina commented on #302
Hello @miguelriemoliveira ,

I practically finished the Calibration Tab. I only have a few questions about some of the parameters. In the [calibration part of atom readme](https://github.com/lardemua/atom#calibrate-sensors), there are some arguments that I do not have on the panel because there is no explanation of what the arguments are. I have the following ones:
[code]

But in the ATOM reposito

[2021-06-17 13:13] MiguelDRPina commented on #302
And another thing, I am doing this based on the README because I can't run the calibration. When try to do: rosrun atom_calibration calibrate -h to see the arguments, I get the following error:
[code]

How can I install this OptimizationUtils?

[2021-06-17 13:55] miguelriemoliveira commented on #302
These are not used and will be removed, so don't include them.

An example here:

`rosrun atom_calibration calibrate -json ~/datasets/mmtbot/train_dataset/data_collected.json -csf 'lambda name: int(name) == 18' -nig 0.0 0.0 -ss 1 -uic -phased -rv -si
`

The csf and the ssf are strings which are evaluated as python expressions. For example, assume that I have a dataset with 20 collections, and I ju

[2021-06-17 13:57] miguelriemoliveira commented on #302
BWT ... can you update the readme please?

[2021-06-17 14:01] miguelriemoliveira commented on #302
Should have read this first ... did you install OptimizationUtils?

https://github.com/miguelriemoliveira/OptimizationUtils

Also, add this (addapted) to your .bashrc

`export PYTHONPATH="${PYTHONPATH}:/home/mike/workingcopy/OptimizationUtils" `

[2021-06-17 14:02] miguelriemoliveira commented on #302
But so that you don't loose time here's the output of the

`rosrun atom_calibration calibrate -h`

[code]

[2021-06-17 14:10] MiguelDRPina commented on #302
I installed it, but I got the same error when trying to run the rosrun atom_calibration calibrate -h .

[2021-06-17 14:14] MiguelDRPina commented on #302
Thank you. And do I add all of these to the panel? Or do you think that some are not as practical to have in the panel?
![Screenshot from 2021-06-17 15-09-17](https://user-images.githubusercontent.com/73201389/122413604-6d35bf80-cf7e-11eb-8540-350df083ffca.png)

Right now, the panel is as shown in that image (so far only with the arguments that were on the outdated version that was in the readme).

[2021-06-17 14:20] miguelriemoliveira commented on #302
Installing optimizationutils -> lets do a meeting for that.

If you have time, insert all the parameters that we have. Its more complete.

[2021-06-17 14:21] miguelriemoliveira commented on #302
`As you write/click on the checkboxes, the respective argument gets added/removed from the line edit below. The "Copy" button copies the content to the clipboard and can be pasted on the terminal. The "Calibrate" button would run the command directly.`

Yep, that was the idea.

[2021-06-18 09:56] MiguelDRPina commented on #297
Hi @miguelriemoliveira ,
Last meeting we had we tried testing the panel with the agrob robot. I have cloned the repository, made the same adjustments you made in the meeting, added the correct bagfile, and when I tried running the set_initial_estimate, got this error:

[code]
Also, when I tried running the rosrun agrob_calibration configure command, got this:

[code]

Do you know how I can fix thi

[2021-06-18 10:59] miguelriemoliveira commented on #297
I think you are missing the lms1xx ros package

https://github.com/clearpathrobotics/LMS1xx

Git clone to your catkin ws and compile.

[2021-06-18 11:09] MiguelDRPina commented on #297
Yep, that was it. Thank you!

[2021-06-18 11:12] MiguelDRPina commented on #297
The only thing now is in RViz, the interactive markers are not visible and I get the following warning:
[code]

[2021-06-18 11:23] MiguelDRPina commented on #297
And in the collect_data.launch I do not get any error or warning, but the interactive markers do not appear as well.

[2021-06-18 11:30] miguelriemoliveira commented on #297
Lets zoom at 14h?

On Fri, Jun 18, 2021, 12:12 MiguelDRPina ***@***.***> wrote:

[2021-06-18 11:39] MiguelDRPina commented on #297
Yes, see you then.

[2021-06-18 13:52] MiguelDRPina commented on #297
Hi @miguelriemoliveira ,

Could you send me the latest bagfile you have for the [ATLASCAR2](https://github.com/lardemua/atlascar2) robotic system?

[2021-06-18 13:54] MiguelDRPina opened #308 "Python node for tf trees"
Hi @miguelriemoliveira ,

Could you please send me the python node you showed me for making tf trees?

[2021-06-18 13:59] miguelriemoliveira commented on #308
I sent it to the email. Did you receive?

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Fri, 18 Jun 2021 at 14:54, Migue

[2021-06-18 14:01] MiguelDRPina commented on #308
Was just about to answer that email. The file is there, but for some reason I can't download it or open it.

[2021-06-18 14:03] miguelriemoliveira commented on #308
Here it is:

[code]

[2021-06-18 14:04] MiguelDRPina commented on #308
Thank you!

[2021-06-18 14:18] #308 closed, assigned to nobody

[2021-06-18 14:22] miguelriemoliveira commented on #297
Hi @MiguelDRPina ,

here it is:

https://drive.google.com/file/d/1M-vqtvB7q0mfUgIEiWNbMQLLXUxe1b8Y/view?usp=sharing

[2021-06-18 21:19] MiguelDRPina commented on #297
Hello @miguelriemoliveira ,
I only had time to try to look into the atlascar now, I tried to configure and got the following error:
[code]

Trying to launch the set_initial_estimate, got this error:
[code]

Any solution?

[2021-06-18 23:19] miguelriemoliveira commented on #297
Hi @MiguelDRPina ,

this is the problem:

resource not found: pointgrey_camera_description

You must install http://wiki.ros.org/pointgrey_camera_driver

using the command:

sudo apt-get install ros-noetic-pointgrey-camera-driver

[2021-06-19 08:31] MiguelDRPina commented on #297
Hello @miguelriemoliveira ,

I have tried to install it, but I get this error:
[code]

Trying to find the solution online, I then tried running sudo apt install --fix-broken and got this:
[code]

Running sudo apt-get update, got this:
[code]

[2021-06-19 08:48] MiguelDRPina commented on #297
Nevermind, I solved it.

[2021-06-19 08:50] MiguelDRPina commented on #297
Hi @miguelriemoliveira ,
I installed that and I still get the same error.

[2021-06-19 09:02] MiguelDRPina commented on #297
Can we meet sometime today? In the midst of trying to make this work, I must have deleted something, now I can't even run the catkin_make command...

[2021-06-19 10:29] miguelriemoliveira commented on #297
Hi Miguel

Today i have family for lunch. We can talk at night or the end of the
afternoon.  Send me an email around 18h ok?

On Sat, Jun 19, 2021, 10:02 MiguelDRPina ***@***.***> wrote:

[2021-06-19 12:39] MiguelDRPina commented on #297
Ok, I will, thank you.

[2021-06-21 10:53] MiguelDRPina commented on #299
A different approach taken for the calibration tab widget. Closing this issue.

[2021-06-21 10:53] #299 closed, assigned to nobody

[2021-07-12 14:20] miguelriemoliveira opened #309 "Collect results with the atlascar2 for IF paper."
Hi @danifpdra ,

as discussed by phone, you should:

1. get the bag file from the atlascar2
2. create two datasets
3. use one dataset for training, another for testing
4. calibrate the system using atom and opencv
5. Compute pairwise evaluation (left-center, center-right, left-right)
6. Put results in table 3 of the paper

I already created the folder and added a readme to get you started. Please

[2021-07-12 14:27] miguelriemoliveira commented on #309
I think this will get you started. If you need my help let me know.

An important tip: because the detection of chessboards is much slower when compared to the charuco, you should reduce the bage playback rate when creating a collection. Something like this:

`roslaunch atlascar2_calibration collect_data.launch output_folder:=/home/mike/datasets/atlascar2/atlascar2-1 overwrite:=true bag_rate:=0.2`

[2021-07-12 14:31] miguelriemoliveira commented on #282
Closing...

[2021-07-12 14:31] #282 closed, assigned to danifpdra

[2021-07-12 14:32] miguelriemoliveira commented on #272
This is complete I think. Only thing missing are the atlascar2 results which will have to be recomputed but #309 is tracking that. Closing.

[2021-07-12 14:32] #272 closed, assigned to eupedrosa, aaguiar96, danifpdra

[2021-07-13 14:02] danifpdra commented on #309
Hi @miguelriemoliveira ,

I've just tried to collect data with this dataset and after saving a bunch of collections and going through the entire bag file the output folder is empty...

When I run

`roslaunch atlascar2_calibration collect_data.launch output_folder:=$ATOM_DATASETS/atlascar2_train_1 bag_rate:=0.5 `

I get the error

[code]

Is this why? Can you help me?

[2021-07-13 14:05] miguelriemoliveira commented on #309
Give me 15 or 20 mins and I will call you.

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Portugal*

On Tue, 13 Jul 2021 at 15:02, Dan

[2021-07-13 14:06] danifpdra commented on #309
Ok, time to walk my dog!

[2021-07-14 08:41] danifpdra commented on #309
Hi @miguelriemoliveira ,

I'm having huge error when running the camera_to_camera_evaluation.py script with the results I got from the sc_stereo_calib.py :-(

[code]

[2021-07-14 09:37] miguelriemoliveira commented on #309
I need a bit more context. Using ATOM do you get nice results? Which?
Because that validates both ATOM and the evaluation script.

Then you say the opencv stereo is giving bad results, is that it?
Does the opencv calibration give some feedback before running the evaluation? Which is the result?

@aaguiar96 should be in on this since he's the one who worked on the stereo script (I think Afonso crea

[2021-07-14 09:59] danifpdra commented on #309
Hi @miguelriemoliveira,

ATOM's results are good:

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/atlascar2_train_1/atom_calibration.json -test_json $ATOM_DATASETS/atlascar2_test_1/data_collected.json -ts top_left_camera -ss top_center_rgbd_camera_rgb `

[code]

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/atlascar2_train_1/

[2021-07-14 10:08] miguelriemoliveira commented on #309
OK, can you send me the datasets so I put them online? Then we can zoom ...

[2021-07-14 10:09] danifpdra commented on #309
here: [atlascar2_datasets.zip](https://github.com/lardemua/atom/files/6815272/atlascar2_datasets.zip)

[2021-07-14 12:38] danifpdra opened #310 "Problems with camera_to_camera_evaluation.py"
Hi @aaguiar96,

Me and @miguelriemoliveira were both having problems using the camera_to_camera_evaluation.py. Only worked when commenting this

https://github.com/lardemua/atom/blob/b3fdb58beca137552937b46d32f267b61edaf3c1/atom_evaluation/scripts/camera_to_camera_evalutation.py#L356

Can you take and look at this and see why it's not working?

[2021-07-14 13:04] danifpdra commented on #309
Hi @miguelriemoliveira,

I have already added the results to the camera to camera table in the paper.

[2021-07-14 14:14] aaguiar96 commented on #310
I @danifpdra

Thank you. I will take a look.

[2021-07-14 16:54] miguelriemoliveira commented on #309
Thanks. That's it.

@eupedrosa , you can proceed with the analysis of the results.

[2021-07-14 16:54] #309 closed, assigned to danifpdra

[2021-07-15 08:29] miguelriemoliveira opened #311 "Create an atom dataset inspection tool"
Hi @danifpdra ,

I am doing this because I need to fill in the paper's table 2.

Anything you can remember that would be interesting to see in a dataset let me know ...

[2021-07-15 09:19] danifpdra commented on #311
Hi @miguelriemoliveira,

train-1 : 39 collections, 32 incomplete

test-1 : 21 collections, 18 incomplete

I'm not sure if the -rpd flag is not working or if there are no partial detections. When I calibrate with or without -rpd it uses the same number of collections.

[2021-07-15 10:15] miguelriemoliveira commented on #311
Thanks, can you check the style of table 2 of the paper., in particular the last collumn.

Some datasets say the partial collections, others dont.

Some have X collections, Y incimplete, Z partial
some others have X collections, Y incimplete Z of which are partial

Can you homogeneize please?

[2021-07-15 10:18] danifpdra commented on #311
done

[2021-07-15 12:09] miguelriemoliveira commented on #311
Thanks. The paper is getting better and better. Its great that we were able to get these new results for the atlascar2.

[2021-07-15 12:22] danifpdra commented on #311
I agree. Fingers crossed that it's accepted.

[2021-08-05 18:39] miguelriemoliveira opened #312 "Move optimization utils inside ATOM"
Not sure whether to do this or not, but it would make things easier for people to use ATOM.

[2021-08-05 18:51] tiagomfmadeira commented on #312
In my opinion, we should add OptimizationUtils as a git submodule in the ATOM repo.

[2021-08-05 18:54] miguelriemoliveira commented on #312
We've tried this before and it did not work well. Moreover, in your Phd you probably are going to adjust the optimization utils code and it would be better if the calibration is not depending on these experiments ...

[2021-08-06 01:17] tiagomfmadeira commented on #312
How so? Did `git pull --recurse-submodules` work unexpectedly?
Well, we could have a branch in OptimizationUtils for experiments within my PhD... and some tests to make sure the integration didn't break A̶T̶O̶M̶ the main functionalities, when we merged to main.
Still, I'm not against the idea of integrating the needed functionalities into ATOM instead. If it becomes too cumbersome to manage Optimi

[2021-08-06 08:20] eupedrosa commented on #312
In the future, ATOM should be published as a ROS package. Reducing the dependencies is a good ideia. :+1:

[2021-08-08 09:02] miguelriemoliveira opened #313 "Integrate mmtbot with the new UR drivers as in larcc"
This must be done to remove dependencies from the iris_ur10e packages from Eurico which make it impossible to have other robotic systems containing ur10e manipulators.

[2021-09-13 17:29] miguelriemoliveira opened #314 "Remove robotiq fork from larcc"

[2021-09-15 10:15] miguelriemoliveira opened #315 "robotiq script crashes in gazebo"
Error is

We suspect this could be a reason why data collect does not work:

[2021-09-16 17:44] miguelriemoliveira opened #316 "Verify the parent and child links for all sensors in the calibration.yaml"
This is important to verify the validity of the configuration file.

The parent - child pair must be an existing atomic transformation, otherwise the configuration is invalid.

This should be checked in the configure_calibration_pkg.

@danifpdra can you do this? You know how to?

[2021-09-16 17:49] danifpdra commented on #316
I can do it but I don't know how.

I already solved the previous problem tho. We are calibrating successfully!

[2021-09-16 18:50] miguelriemoliveira commented on #316
let me try to help you start. Here's where we are already doing some verifications:

https://github.com/lardemua/atom/blob/06de6901b5c7f93d72411c079d9764488928a3e4/atom_calibration/scripts/configure_calibration_pkg#L160-L243

So we should add one more that checks, for each sensor in the calibration file, if the parent to child transformation exists in the xacro tf treem and if it does if they are

[2021-09-16 19:30] danifpdra commented on #316
OK, I will do that. No problem!

[2021-09-18 13:19] #314 closed, assigned to danifpdra

[2021-09-18 13:19] miguelriemoliveira commented on #313
Done.

[2021-09-18 13:19] #313 closed, assigned to miguelriemoliveira

[2021-09-18 13:20] miguelriemoliveira commented on #310
This is solved, right?

[2021-09-18 13:20] #310 closed, assigned to aaguiar96

[2021-09-18 13:20] miguelriemoliveira commented on #267
Working.

[2021-09-18 13:20] #267 closed, assigned to nobody

[2021-09-18 13:20] miguelriemoliveira commented on #266
You are definitely not "closers" : - )

[2021-09-18 13:20] #266 closed, assigned to aaguiar96

[2021-09-18 13:21] #307 closed, assigned to MiguelDRPina

[2021-09-18 13:21] #302 closed, assigned to nobody

[2021-09-18 13:21] #301 closed, assigned to nobody

[2021-09-18 13:21] #300 closed, assigned to nobody

[2021-09-18 13:21] #298 closed, assigned to nobody

[2021-09-18 13:21] #297 closed, assigned to nobody

[2021-09-18 13:22] #208 closed

[2021-09-18 13:22] #97 closed

[2021-09-18 13:22] #125 closed

[2021-09-18 13:26] miguelriemoliveira commented on #260
Hi @danifpdra when running calibrate with visualization the rviz becomes a bit slow.
Does it happen in your system too?

I think the problem is that we are publishing the larcc's meshes (i.e. gantry, manipulator, sensors, etc) over 20 times, one per collection.

For reference, using big_bag_dataset, my rviz drops to 7 FPS, and the topic bandwidth is:

![Screenshot from 2021-09-18 14-24-39](https:/

[2021-09-18 13:27] danifpdra commented on #260
Hi @miguelriemoliveira,

Of course. Tell me if there's anything else I can help you with.

[2021-09-18 14:32] miguelriemoliveira commented on #260
BTW, there is an override to the automatic detection of whether the robot is static or not. Its the -ajf flag.
Setting this flag results in 18 FPW in RVIZ for me. The solution should give something in between ...

[2021-09-18 18:27] miguelriemoliveira commented on #260
Hi @danifpdra ,

I think I got it. The code now only sends multiple times meshes which are not immovable, which makes it run faster while showing the same.

In my system I now get 15 FPS  and

[code]

Can you confirm it works from your side?

In the future I will change the detection mechanism to make it more general (i.e. to also with the use_tfs option). The idea is to look at the transforms in

[2021-09-19 12:33] miguelriemoliveira opened #317 "Initial Guess noise is different from collection to collection"
@hi @eupedrosa ,

I just found out that the -nig mechanism randomizes noise for sensors, independently for each collection, while working on #260.

I think that should not be the case, we should randomize one sensor pose and then apply it to all collections, right?

FYI @danifpdra

My experiment, if I print the transforms in a dataset inside the calibrate script (after the nig mechanism), with **-

[2021-09-19 12:41] miguelriemoliveira commented on #317
I think I solved it (it was easier than anticipated).

Here's the new addNoise function:

[code]

[2021-09-19 13:02] miguelriemoliveira commented on #260
New version implemented. @danifpdra  when you can please test and if it works you may close the issue.

[2021-09-20 10:07] danifpdra commented on #260
Hi @miguelriemoliveira ,

I've just tried and got this

[code]

So I assume it's working

[2021-09-20 10:20] eupedrosa commented on #317
Should we consider this a bug? We used this for your article. Redo the experiments??? :wink:

[2021-09-20 10:25] miguelriemoliveira commented on #260
Thanks @danifpdra ... how many FPS in RVIZ, before and after?

[2021-09-20 10:26] miguelriemoliveira commented on #317
I think not because the system will use one collection, the selected collection key and then copy the values to the others.
So my guess is that we were lucky that it worked, but were randomizing different initial poses for all collections when in fact only the randomized initial pose of the selected collection key was being used.

[2021-09-20 10:26] #317 closed, assigned to eupedrosa, miguelriemoliveira

[2021-09-20 10:27] miguelriemoliveira commented on #317
NEVER : - )

[2021-09-20 10:27] danifpdra commented on #260
Before around 7, now around 14-15Hz

[2021-09-20 10:29] miguelriemoliveira commented on #260
So it works. Thanks. Closing...

[2021-09-20 10:29] #260 closed, assigned to danifpdra

[2021-09-30 12:45] danifpdra opened #318 "Initial estimate disappears when the computer is rebooted?"
HI @miguelriemoliveira,

Is the initial estimate that was set supposed to disappear when the computer is rebooted?  Shouldn't there be an option to save it?

![image](https://user-images.githubusercontent.com/47574905/135457329-7717857a-4787-482a-bd5b-baf5c23f7b93.png)

[2021-09-30 12:50] miguelriemoliveira commented on #318
It should be stored in the file https://github.com/lardemua/larcc/blob/main/larcc_calibration/urdf/initial_estimate.urdf.xacro

Did you reconfigure the package? Doing so deletes the initial estimate ...

[2021-09-30 12:54] danifpdra commented on #318
No, I didn't reconfigure

[2021-09-30 13:02] miguelriemoliveira commented on #318
Strange ... you'll have to set the initial estimate again, and this time make a local backup of the file above. If it happens again we try to reuse the file.

[2021-09-30 13:03] danifpdra commented on #318
I already did that. Thanks

[2021-09-30 15:58] #252 closed, assigned to miguelriemoliveira, aaguiar96

[2021-10-13 16:14] miguelriemoliveira opened #319 "Restructure data collector"

[2021-10-13 16:23] miguelriemoliveira commented on #319
Hi @eupedrosa and @aaguiar96 ,

I am working with @danifpdra in the calibration of a large robotic system containing 3 velodynes and multiple cameras.

This large set of sensors is an excellent stress test for the atom tools which, for now, have held their ground.
There is a problem now that I am not sure can be solved without restructuring the data collector code https://github.com/lardemua/larcc

[2021-10-13 16:52] eupedrosa commented on #319
I would start to understand why this is happening. My educated guess is that the collector and labeling process takes too long and some messages are dropped.

Maybe we should create a diagram of how this is currently working so we can have a big picture of the process. I tried to look at the code and am still not sure how it is currently working.

I also believe it should be simultaneous.

[2021-10-14 16:00] danifpdra opened #320 "Adding functionality to throttle topics"

[2021-10-20 08:31] danifpdra opened #321 "Deleting /tmp/dscription.urdf when configuring calibration"

[2021-10-20 09:26] miguelriemoliveira commented on #321
Done. Closing.

[2021-10-20 09:26] #321 closed, assigned to miguelriemoliveira

[2021-10-21 15:49] #320 closed, assigned to danifpdra

[2021-10-21 17:45] miguelriemoliveira commented on #319
Hi @eupedrosa ,

sorry for taking so long to reply.

Right now we should be able to avoid restructuring the code because we implemented a
automatic configuration of message throttles. Check https://github.com/lardemua/atom/issues/320.

Lets leave this for later.

Thanks for the feedback.

[2021-11-02 11:19] danifpdra opened #322 "Add sensor id to interactive markers when collecting data"

[2021-11-04 11:33] #318 closed, assigned to miguelriemoliveira

[2021-11-04 11:34] danifpdra opened #323 "Add depth component to ATOM's framework"

[2021-11-09 16:37] danifpdra opened #324 "Create function to examin dataset"
Create a functionality that allows seeing how many incomplete collections, partial detections, etc...

[2021-11-09 17:20] miguelriemoliveira commented on #324
We had an issue for this already #311. Closing this one.

[2021-11-09 17:20] #324 closed, assigned to miguelriemoliveira

[2021-11-09 18:38] miguelriemoliveira commented on #311
Implemented a script that looks into the dataset and prints out some useful information.

![image](https://user-images.githubusercontent.com/11350998/140984188-b2fa10d6-df73-4ac3-8658-9cf23b59f7a3.png)

@danifpdra can you test it? Something like this:

    rosrun atom_calibration inspect_dataset -json data_collected.json

[2021-11-09 18:47] danifpdra opened #325 "Disparities in calibration results"
Hi @miguelriemoliveira ,

I just tested with mmtbot... you can still see the ghost but not like larcc

![image](https://user-images.githubusercontent.com/47574905/140985753-12165a66-2753-4452-90ab-ca79fb2b8816.png)

[2021-11-09 19:14] miguelriemoliveira opened #326 "Improve phased execution"
The phased execution (-phased) argument is very useful to verify results before and after the optimization.
It was working poorly. Did a new implementation based on signals, now should be more robust.

@danifpdra can you test it please and let me know if it works for you?

[2021-11-09 19:27] eupedrosa commented on #311
Now, this is [rich](https://rich.readthedocs.io/en/latest/tables.html):exclamation:

[2021-11-09 21:51] miguelriemoliveira commented on #311
Thanks. Next time I will use that one.

[2021-11-09 22:00] miguelriemoliveira commented on #325
Hi @danifpdra , what was the command to run this mmtbot test?

[2021-11-09 22:05] miguelriemoliveira commented on #325
Hi @danifpdra ,

I cannot run the mmtbot test. I think our bags and datasets are deprecated because of the changes in the description and gazebo packages. Which are you using? Perhaps you can add them to the readme.

Also, let me know the command.

I think that we should clarify why this is also occurring in mmtbot (even if to a lesser extent)

[2021-11-10 09:06] danifpdra commented on #325
The bag is here: https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EQyry8hklGpPn_JPyUTYOy4BMAIDgD43Tosi6w7TafTiJQ?e=8FopnX

The dataset is here: https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EX8xycbjBS9PjEMsbr13bJoBZJcNCRVttXd7xijCj30RHg?e=Jw6VMz

I will add this to the readme also.

I used

`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/mmtb

[2021-11-10 10:41] danifpdra commented on #311
This works. Closing now.

[2021-11-10 10:41] #311 closed, assigned to miguelriemoliveira

[2021-11-10 11:44] miguelriemoliveira opened #327 "RGBD camera simulation in gazebo is not using the proper frame ids"
From the test we made there is only one frame id we can set in the gazebo plugin, and in fact for an RGBD camera we should need two frame ids.

The idea is to try to configure two sensors withtin a single **gazebo reference group** or alternatively, create two gazebo references per camera, one with contains and RGBD camera where the rgb topics are ignored (because we know they are in the wrong pla

[2021-11-10 11:45] miguelriemoliveira commented on #325
Migrating to #327. This seems to be the problem...

[2021-11-10 11:48] miguelriemoliveira commented on #327
Test2 bag and dataset are here
[test2.zip](https://github.com/lardemua/atom/files/7512364/test2.zip)

[2021-11-10 13:57] #326 closed, assigned to miguelriemoliveira

[2021-11-10 18:38] danifpdra commented on #327
Hi @miguelriemoliveira ,

I think I managed to separate the two components... Can you test please?

[2021-11-10 18:50] danifpdra commented on #327
I am still getting a disparity tho

![image](https://user-images.githubusercontent.com/47574905/141174959-022119f2-4628-41c1-976f-cc60fa631a0f.png)

[2021-11-10 19:44] miguelriemoliveira commented on #327
Hum, something is wrong. I will check but I don't know if I can do it tonight.

[2021-11-11 00:02] miguelriemoliveira commented on #327
Hi @danifpdra ,

I could not resist testing.

So I see that we have some confusing topic names:

[code]

So depth is ok, this command

`rostopic echo /world_camera/depth/image_raw --noarr`

returns

[code]
Which has the correct frame_id.

Now for the rgb, I am not sure which is the real one. The other one should have a null topic name so we don't get confused. Something like /null or something.

I

[2021-11-11 10:20] danifpdra commented on #327
Hi @miguelriemoliveira ,

I did as you told, and and put the frame 2 meters away... The frame in rviz changes places, as you see in the image, but the image stays the same... I don't know why this is happening.

![image](https://user-images.githubusercontent.com/47574905/141281041-fd1cdd5b-c48f-4f02-8d84-b579ed33d93a.png)

[2021-11-11 13:27] miguelriemoliveira commented on #327
I am convinced that if you split the two gazebo references it will work. I can try it tonight if you can't.

[2021-11-11 13:32] danifpdra commented on #327
I did that now, the result is the same

![image](https://user-images.githubusercontent.com/47574905/141306761-e749205f-e076-4df6-9e3e-315d47f8da4b.png)

code:
[code]

[2021-11-11 13:34] miguelriemoliveira commented on #327
[code]

should be the rgb optical frame, also you need to change for the depth.

[2021-11-11 13:35] danifpdra commented on #327
![image](https://user-images.githubusercontent.com/47574905/141307253-a5d767fc-f04d-4e36-99ae-5070a538e1b2.png)

it works now

[2021-11-11 13:56] miguelriemoliveira commented on #327
you owe me a coffee!

[2021-11-11 14:00] danifpdra commented on #327
No, you owe me a coffee for discovering all atom's bugs

[2021-11-11 14:09] eupedrosa commented on #327
@miguelriemoliveira owns cofffe to everbody !!!

[2021-11-11 15:07] danifpdra commented on #327
![image](https://user-images.githubusercontent.com/47574905/141321025-4d4068d7-2cf3-4e92-aeb8-3094e480cf0e.png)

The camera is now on top of the ghost!

[2021-11-11 17:23] miguelriemoliveira commented on #327
you just solved a gigantic problem in ATOM. Thanks

About the coffee, you are all very funny ...

[2021-11-11 17:25] danifpdra commented on #327
![image](https://user-images.githubusercontent.com/47574905/141341840-7605768b-4e81-489a-a2be-5d5cc0837604.png)

[2021-11-11 19:17] #327 closed, assigned to miguelriemoliveira, danifpdra

[2021-11-12 15:09] danifpdra opened #328 "Create ids to identify sensors to label instead of identification through message type"

[2021-11-12 15:15] miguelriemoliveira commented on #328
Hi @danifpdra ,

my suggestion is to have in the calibration yaml, for each sensor,  something like an additional key called **labeller**  where we define the labeller we want to use.

This is an optional key, if labeller is not there in the sensor section the default labeller derived from the msg type of the topic specified in **topic_name** is used (what we do right now).

[code]

Does it make s

[2021-11-12 15:18] danifpdra commented on #328
Yes, it makes sense, I agree. I will implement this and get back to you.

[2021-11-12 15:22] miguelriemoliveira commented on #328
:+1:

[2021-11-15 14:43] danifpdra commented on #328
Hi @miguelriemoliveira,

I implemented this already for the configure_calibration_pkg script. The user should identify the sensor, if not or if the sensor is not well identified, it gives a yellow warning saying it was not well identified and that the sensor will be identified by its msg_type. If there is anything wrong with the message type, for example, if it's not image or laserscan or pointclo

[2021-11-15 14:44] danifpdra commented on #328
I just noticed you suggested I used the flag "labeller" and I used "sensor_id" but I can easily change this if you don't agree. I am sorry, I did not notice this before.

[2021-11-15 17:24] danifpdra commented on #328
Hi @miguelriemoliveira,

Just implemented this for the collector. I think it's working.

Should I also apply this to the calibrate and its source functions? I started doing this but I was not sure if you wanted me to do this. But I can test and see if everything continues to work.

[2021-11-15 18:17] miguelriemoliveira commented on #328
Hi @danifpdra,

great work. Let me try to answer point by point:

I don't remember what you must change in the configure_calibration_pkg related to this. Can you try to explain please? I though you only needed to touch the collector ...

I think the best behaviour if the sensor_id is undefined is to abort with error, instead of just a warning and proceed with the default.

I think **labeller** mak

[2021-11-15 18:18] miguelriemoliveira commented on #328
... finally, the most important answer ... not right now, I am preparing for tomorrow's workshop on the optimization utils. We can try tomorrow afternoon ok?

[2021-11-15 18:27] danifpdra commented on #328
I think it makes more sense that the sensors are being identified the same way in all the calibration stages. It wouldn't make sense to me to use msg_type in some cases and sensor_id/labeller in others so I changed everything. If not, we would have the same problem of distinguishing between the depth image and the RGB image anyway... Whether in the collector, of the configure calibration package,

[2021-11-15 18:29] miguelriemoliveira commented on #328
Hi @danifpdra ,

ok, lets talk tomorrow then and figure out the best solution.

[2021-11-16 17:51] danifpdra opened #329 "Create metadata field on dataset"
Create metadata field that has:
- date and hour
- user and computer
- version

Note: the new datasets have a new field called modality that identifies the type of sensor to be calibrated.

@eupedrosa and @aaguiar96 , do you have any ideas about extra information that can be added here?

[2021-11-16 17:52] danifpdra opened #330 "Create conversion script for dataset version 2"
Check if it has metadata. If not, create.

Verify if dataset has sensor_id, if not, create this field using the msg_type

[2021-11-16 18:53] eupedrosa commented on #329
Here are my thoughts:

* Instead of `date` and `hour` I would recomend saving the timestamp, i.e. the number of elapsed seconds since 1970.
* Why do we need to save `user` and `computer`?
* `version` is important !!!

* Maybe a `description` and/or `robot_name` ?

[2021-11-16 23:30] miguelriemoliveira commented on #329
Thanks @eupedrosa

Yes, that may also be usefull, but for human reading it would also be nice to have the date and hour.

We can save both, right?

Just to have an idea of the author of the dataset ...

About this, How should we number the versions? 1.0 to 2.0? @danifpdra will work on a  script that converts an atom dataset 1.0 to an atom dataset 2.0. #330

Right, that makes sense. But all this is

[2021-11-17 09:11] eupedrosa commented on #329
Can it be a privacy issue?? Maybe not, but we are constantly being remembered of the GDPR that now I default to ask as little as possible abou the user.

It can be a simple number that is incremented: 1,2,3,4 ...
Or it can follow the logic of major.minor (e.g. 1.2), both are acceptable. Usually the major.minor can provide some sort of semantics, but I do not know if it is needed in this situation.

[2021-11-17 14:18] danifpdra commented on #323
I am doing some tests with shape detection algorithms.

Simulation looks great:

![image](https://user-images.githubusercontent.com/47574905/142217366-8a6c07ce-8108-40a0-a479-8982e90457e9.png)

I went to the lab to retrieve some real images and the quality is not very good and this algorithm doesn't work in this case.

![real_1](https://user-images.githubusercontent.com/47574905/142217480-56e162d4

[2021-11-17 14:25] eupedrosa commented on #323
Welcome to the reality of Simulation Vs Real :smile:

What are you using to identify the shape?

[2021-11-17 14:34] danifpdra commented on #323
HI @eupedrosa,

I just created a simple program using cv2.findContours to see how it would work. I think one of the problems is this:

![image](https://user-images.githubusercontent.com/47574905/142220300-a2d37465-4f20-49c2-9922-3ce63e8c9cea.png)

[2021-11-17 14:35] danifpdra commented on #323
But I think processing the image is not exactly the right way to go because it could change the shape of the rectangle

[2021-11-17 14:48] eupedrosa commented on #323
You may try a combination of `erode` and `dilate` to handle that specific problem. But it is not a generic solution.

[2021-11-17 15:28] danifpdra commented on #323
![image](https://user-images.githubusercontent.com/47574905/142229877-d571769c-6668-4c20-8397-1a77b21b4e4a.png)

It improves the image but it still doesn't detect the shape.

[2021-11-17 16:36] danifpdra commented on #329
How do we define the version? Should this be a field in the config.yaml? Or should the program automatically calculate the version by using the data? For example... version 1, prior November 2021, version 2 past November 2021?

[2021-11-17 17:00] danifpdra commented on #329
![image](https://user-images.githubusercontent.com/47574905/142246606-2b064f8d-6fd6-4cad-9506-7ba4c23fb8dc.png)

This is ok, right?

[2021-11-17 17:03] eupedrosa commented on #329
The `version` corresponds to the version of the file structure and should not be defined by a user (unless the user knows what it is doing)

[2021-11-17 20:11] miguelriemoliveira commented on #329
Hi @danifpdra ,

it looks good. My suggestion is to call the field _metadata instead of metadata because that way it will be the first one to appear when printing the dictionary. This is a common trick.

[2021-11-17 20:12] miguelriemoliveira commented on #323
What improves the image? Erode?

Take a look at the image type as we discussed ...

[2021-11-17 20:13] miguelriemoliveira commented on #323
Another question: what is the real distance between the pattern and the support bar in the highlighted area?

[2021-11-18 11:15] danifpdra commented on #323
This is a erode followed by a dilate

[2021-11-18 11:16] danifpdra commented on #323
I didn't measure, but as you can see here, they are not very close. I would say 20-30cm
![WhatsApp Image 2021-11-17 at 13 34 57 (6)](https://user-images.githubusercontent.com/47574905/142405452-61435669-6522-4405-b0b9-c90cb13811d4.jpeg)

[2021-11-19 12:10] miguelriemoliveira commented on #323
Hi @danifpdra
![A](https://user-images.githubusercontent.com/11350998/142620536-27d753e6-236d-4bed-9e2a-b77d72ebd9c7.jpg)

I was there in the lab and took this picture. The problem are the partes I painted green? If so, why not cut the bar on the red regions?

[2021-11-19 13:15] danifpdra commented on #323
Why do you think that's the problem? That's not what's visible on the depth image

[2021-11-19 13:48] miguelriemoliveira commented on #323
I thought it was ... in that case lets hope the data compression issue
saves the day ...

On Fri, Nov 19, 2021, 13:15 Daniela Rato ***@***.***> wrote:

[2021-11-19 13:49] danifpdra commented on #329
@miguelriemoliveira can you test this please?

[2021-11-19 13:52] miguelriemoliveira commented on #329
I will to yest this afternoon and get back to you.

On Fri, Nov 19, 2021, 13:49 Daniela Rato ***@***.***> wrote:

[2021-11-19 13:52] danifpdra commented on #329
Thanks

[2021-11-19 18:34] miguelriemoliveira commented on #329
Hi @danifpdra ,

<arg name="bag" default="/home/daniela/bagfiles/tmp.bag"/>

I will put it bash to /tmp/tmp.bag by default. The record.launch crashes in my case because the folder does not exist.

[2021-11-19 18:42] miguelriemoliveira opened #331 "Bug with aruco"
Hi @danifpdra ,

I have a bug when running

`roslaunch mmtbot_calibration collect_data.launch output_folder:=/home/mike/datasets/mmtbot/test_depth2`

[code]

Did you change anything here?

[2021-11-19 18:44] miguelriemoliveira commented on #331
Solved with this

https://stackoverflow.com/questions/45972357/python-opencv-aruco-no-module-named-cv2-aruco

[2021-11-19 18:45] miguelriemoliveira commented on #331
oops, not solved, reopening ...

[2021-11-19 18:46] danifpdra commented on #331
I'm not with my computer right now. But I did not happen with me. Everything worked

[2021-11-19 18:47] miguelriemoliveira commented on #331
OK, the problem is solved. I just followed another answer in the same link.

[2021-11-19 18:47] #331 closed, assigned to miguelriemoliveira, danifpdra

[2021-11-19 18:49] miguelriemoliveira opened #332 "Collector crashes"
Another bug when runniong hte collector

I think this is from your side right?

[2021-11-19 18:49] miguelriemoliveira commented on #332
I know you are not on the computer now, I will pick this up tomorrow again.

[2021-11-19 19:02] danifpdra commented on #332
Are you trying to calibrate depth points? That was the error that was showing when I did that

[2021-11-19 23:07] miguelriemoliveira commented on #332
Yes. I was just using the calibration.yam as you pushed it ... tomorrow i
can try with a different yaml

On Fri, Nov 19, 2021, 19:02 Daniela Rato ***@***.***> wrote:

[2021-11-20 11:18] miguelriemoliveira commented on #332
Humm, actually I don't think I am calibrating depth. Look at the calibration.yml, there is no depth there.

Also, you did not change sensor_id -> modality yet (and put modality to the bottom, since its optional).

[code]

When you make these changes let me know so I can test again ok?

[2021-11-20 11:20] miguelriemoliveira commented on #332
Ah, wait, I actually it seems that you have a depth but are using modality lidar for it.

Perhaps this is the problem.

Please setup the test you want me to do better by pushing the updated versions of the yaml and other files.
Also, if you need me to have a new bag file you should provide it (I had to do a new one yesterday that included depth).

The idea here is that when you ask someone to test

[2021-11-20 11:24] miguelriemoliveira commented on #332
Hi @danifpdra ,

oops, I think I forgot to pull (cannot find the embarrassed emoji).

Let me looks into this again and then I will let you know. Sorry for the confusion.

[2021-11-20 13:08] danifpdra commented on #332
Did you manage to make it work?

[2021-11-20 13:27] miguelriemoliveira commented on #332
Not yet. Give me a couple hours

On Sat, Nov 20, 2021, 13:08 Daniela Rato ***@***.***> wrote:

[2021-11-20 13:42] miguelriemoliveira commented on #332
Hi @danifpdra ,

I have a new crash when running the configure

`rosrun mmtbot_calibration configure`

We did not discuss this robot_name did we? Should it be on the config.yaml?

[2021-11-20 13:47] miguelriemoliveira commented on #332
I remember we discussed a name but it was a dataset_name, to be inserted when running the configure_calibration_pkg ...

[2021-11-20 13:52] miguelriemoliveira commented on #329
I now see you added a robot_name to the config.yaml template on atom. This is a bit tricky, because the other keys we added were all optional (you can add throttle or not, modality or not). This makes it so that the old calibration.yaml still are compatible.

Note that we said we needed a conversion tool but for the old datasets, not the calibration.yaml.

If you think its important to maintain it

[2021-11-20 19:27] miguelriemoliveira commented on #323
I looked into the compression, and in the bag files depth images are of type float 32 bits

[code]

But you save them to files with 8 bits. There is a significant loss of resolution here, which I think may be the problem ,,, I will look into it a bit more

[2021-11-20 19:33] miguelriemoliveira commented on #323
I would need the bag file with real data for testing (10 secs is enough). Can you send it?

[2021-11-21 00:10] miguelriemoliveira commented on #323
Hi @danifpdra ,

pushed a new version which correctly converts float32 image to uint16, the saves, then loads again.

[2021-11-22 13:06] danifpdra commented on #323
https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EdPktvwTI1pEgGgyl-CUy0sBELqYMtU_iuVV-Tmt6J8WoA?e=RvDuKz

[2021-11-22 14:02] miguelriemoliveira commented on #323
I can't donwload such a large bag. Can you produce a 20 sec bag? For testing its more than enough ...

[2021-11-22 14:17] danifpdra commented on #323
https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EQFLR6gFw0JEu7AE_fK6fWIB3O6E5Fc90C-1Wjrx6m07Vw?e=MRxPjO

[2021-11-22 17:07] danifpdra commented on #323
hi @miguelriemoliveira ,

I was looking at this, and I think it should work with floats but the uploaded images appear all black... https://datacarpentry.org/image-processing/edge-detection/index.html

[code]

Are you familiar with scikit image? Could this be because the image is not being read with `image = skimage.io.imread(fname=filename, as_gray=True)` ?

[2021-11-22 17:12] miguelriemoliveira commented on #323
I have never used, only hear about it. I would say keep trying to find a way ... the idea of loading in scikit format sounds interesting.

[2021-11-22 17:37] miguelriemoliveira commented on #323
I @danifpdra ,

if you want I can try to do a floodfill manually for uint16 images ... let me know if you think this would be interesting...

[2021-11-22 18:42] danifpdra commented on #323
No need, I will do it

[2021-11-23 17:08] danifpdra commented on #323
Hi @miguelriemoliveira,

How weird...

I switch the seed point to the top left corner of the chessboard and I get the part of the chess that wasn't appearing before:

[2021-11-25 18:44] #328 closed, assigned to danifpdra

[2021-11-25 18:44] #329 closed, assigned to danifpdra

[2021-11-25 18:47] #332 closed, assigned to danifpdra

[2021-11-30 09:47] danifpdra commented on #323
![image](https://user-images.githubusercontent.com/47574905/144024003-30ca8113-7ab7-4649-8846-aa79dde6d36c.png)
I managed to isolate this for this case

[2021-11-30 13:01] miguelriemoliveira commented on #323
Ok, but this is a very specific algorithm. Your idea is to use this to proceed with real data?

Or are you starting with the simulated data?

[2021-11-30 13:22] danifpdra commented on #323
Why do you say this is a very specific algorithm?

It works on both, I was just making some experiments. I already started to insert code in ATOM's depth modality for labelling but I wasn't sure how to get chessboard points so I started experimenting and it works for both cases... It just depends on the seed point.

[2021-11-30 14:38] danifpdra commented on #323
RL
![image](https://user-images.githubusercontent.com/47574905/144067183-d8e6d8dd-4a48-475e-b466-b26fd60e1cc6.png)
Simulation
![image](https://user-images.githubusercontent.com/47574905/144067379-2d765c83-9967-4ebd-8c17-fb14421f3c6b.png)

[2021-11-30 22:53] miguelriemoliveira commented on #323
Hi @danifpdra ,

now I see this is working fine. I thought it was being fine tuned for that particular case, but it seems to work in all cases. I would say the goal now is to see these labels being shown on rviz while running the data collector.

BTW, how much time does it take to process?

[2021-12-09 01:58] miguelriemoliveira commented on #323
Hi @danifpdra ,

I was working quite a while in the flood fill, trying to use numpy arrays.

Int the end it is slower : (

I did a pyrdown of the image twice and now can get a time of 0.2 secs ... you think this would be ok?

[2021-12-09 11:05] danifpdra commented on #323
Hi @miguelriemoliveira ,

I've saw the published images and it works better, at least when labelling only this one sensor. But there's still the problem with that horizontal line that doesn't occur outside ROS. I will try to look into this

[2021-12-09 12:55] miguelriemoliveira commented on #323
Not sure what you mean. Can you post a bag file with that?

[2021-12-09 14:27] danifpdra commented on #323
Image in test script (outside ros spin)
![canny_screenshot_09 12 2021](https://user-images.githubusercontent.com/47574905/145414624-0c696a97-77b0-4aa8-af2c-714ceff86fea.png)

Image from interactive data labelled (inside ros spin)
![image](https://user-images.githubusercontent.com/47574905/145414779-7d3372e2-6c88-4a7f-8761-cbca85209906.png)

[2021-12-10 18:17] miguelriemoliveira commented on #323
Hi @danifpdra ,

I will take a look at this now...

[2021-12-10 21:34] miguelriemoliveira commented on #323
Hi @danifpdra ,

good news: I have a new version that runs very fast: 0.18 secs (less than the canny) ... for the full resolution image.

If we do the two pyrdowns we get 0.04 secs.

Also, I have an additional idea which I think could makes this even faster, I will try it out if I have the time.

Also, I know what was happening in the image above. It is a bit hard to explain so if you want we can

[2021-12-11 00:12] miguelriemoliveira commented on #323
![image](https://user-images.githubusercontent.com/11350998/145656003-d084bfff-f1d7-41c9-9e0d-828b09633c97.png)

Beautifying the result image.

Missing: adding the points which are going to be in the dictionary

[2021-12-11 09:55] miguelriemoliveira commented on #323
Hi @danifpdra ,

I was wrapping up the labelling depth msg function:

Now it produces a nice output image for visualization:

In simulation:
![image](https://user-images.githubusercontent.com/11350998/145672259-75f27622-cc14-4450-aeaa-747cdd322b6f.png)

and real data:
![image](https://user-images.githubusercontent.com/11350998/145672115-e812532a-b89f-4f70-83b9-f13875023414.png)

Legend:

red dots:

[2021-12-11 10:05] miguelriemoliveira commented on #323
[code]

this is the function and parameters. Take a look and then we can discuss if you think we need more improvements.

[2021-12-11 12:01] danifpdra commented on #323
Hi @miguelriemoliveira ,

I see you got excited about this! :-D I will take a closer look and get back to you

[2021-12-11 13:13] miguelriemoliveira commented on #323
Yes i was. I was bothering me : )

[2021-12-13 10:56] danifpdra commented on #323
Hi @miguelriemoliveira,

I cannot run this, I'm getting this error:

[code]

[2021-12-13 11:27] miguelriemoliveira commented on #323
Hi @danifpdra ,

try to run with the test script first.

https://github.com/lardemua/atom/blob/noetic-devel/atom_calibration/scripts/test_label_depth_msg

I did not adjust the collector yet. First we should validate with the test script, then we move forward to the integration of the collector.

[2021-12-13 11:34] manuelgitgomes opened #333 "Bug when setting initial estimate with a compressed image"
As talked with @miguelriemoliveira, after creating a bag file with this launch file:

https://github.com/miguelriemoliveira/simpleBot/blob/16de3010a43101dbcb0d02ccd2ca9c62012f4c7c/simplebot_bringup/launch/record.launch#L1-L17

It records a compressed image. After creating a calibration package for the robot, when setting the initial estimate using `roslaunch simplebot_calibration set_initial_estim

[2021-12-13 11:36] danifpdra commented on #323
How do I run it?

This doesn't work `rosrun atom_calibration test_label_depth_msg topic:=/world_camera/depth/image_raw`

[2021-12-13 11:41] miguelriemoliveira commented on #323
and you have the bag file running?

[2021-12-13 11:43] danifpdra commented on #323
yes

[2021-12-13 12:13] miguelriemoliveira commented on #323
rosrun atom_calibration test_label_depth_msg depth_image_topic:=/world_camera/depth/image_raw

[2021-12-13 14:02] miguelriemoliveira commented on #333
Hi @manuelgitgomes ,

I will test and get back to you.

[2021-12-13 17:18] miguelriemoliveira commented on #333
Hi @manuelgitgomes ,

can you share the bag file please?

[2021-12-13 17:23] miguelriemoliveira commented on #333
Humnm, it works for me.

I did the calibration configuration

`rosrun simplebot_calibration configure`

and then the set initial estimate:

`roslaunch simplebot_calibration set_initial_estimate.launch`

and my bag file contains the following topics (from a **rosbag info <bagname>**):

[code]

my guess is that you have a new bagfile with different topics and did not reconfigure the calibration pack

[2021-12-13 18:37] danifpdra commented on #323
Hi @miguelriemoliveira ,

I have implemented the frustum functionality for depth cameras

![image](https://user-images.githubusercontent.com/47574905/145869139-6de17975-74e4-43a3-a1f3-101f3cd5e789.png)

[2021-12-14 10:09] manuelgitgomes commented on #333
Good morning. I'm afraid not, for I have used my calibration package. This is my bag file info:
[code]
Nevertheless, my bag file is in [here ](https://we.tl/t-7VAKXf1ogE). I will try defining the calibration package again.

[2021-12-14 10:58] miguelriemoliveira opened #335 "Create dataset playback functionality"

[2021-12-14 11:44] manuelgitgomes opened #336 "Show unlabeled data on dataset_playback"
Show not only labeled data, but unlabeled data as well.

[2021-12-14 11:47] manuelgitgomes opened #337 "Adapt MarkerArray solution to all published Markers"
As previously done on:
https://github.com/lardemua/atom/blob/694f8e939f793d903e4b259f24b5d84d875f074d/atom_calibration/src/atom_calibration/dataset_playback/visualization.py#L598-L605
Adapt this code to other markers published.

[2021-12-14 11:49] DanielCoelho112 opened #338 "Create dataset_playback launch files in an automatic way"
Right now, every time the calibration is run, the dataset_playback launch file will be erased.

[2021-12-14 11:49] manuelgitgomes opened #339 "Change node name and verify if all topic names change aswell"
As seen on the visualization function:
https://github.com/lardemua/atom/blob/694f8e939f793d903e4b259f24b5d84d875f074d/atom_calibration/src/atom_calibration/dataset_playback/visualization.py#L152
The name of the topic still is "calibrate" instead of "dataset_playback". It needs to change and it will need to verify if the topics change aswell.

[2021-12-14 11:52] manuelgitgomes opened #340 "Create an intuitive way to change collections in dataset_playback"
Instead of changing based on a timer, as seen on:
https://github.com/lardemua/atom/blob/694f8e939f793d903e4b259f24b5d84d875f074d/atom_calibration/scripts/dataset_playback2#L162-L164
Change it to a better way, like pressing a specific key. This also needs to be accompanied by a reset on rviz.

[2021-12-14 11:55] miguelriemoliveira commented on #338
Hi @DanielCoelho112 ,

what erases (because it creates new launch files) is the calibration configuration, i.e.:

`rosrun simplebot_calibration configure`

[2021-12-14 17:20] miguelriemoliveira commented on #323
Hi @danifpdra ,

I tested and it look very nice. I have some suggestion for improvement, but perhaps this is not yet the final version. When you have it ready let me know and I will take a more detailed look at it.

[2021-12-14 18:15] danifpdra commented on #323
Hi @miguelriemoliveira,

If you would like to tell me your suggestions, I can improve everything at the same time!

[2021-12-14 19:03] miguelriemoliveira commented on #323
OK, here they are:

![image](https://user-images.githubusercontent.com/11350998/146062546-6047c283-aa3e-4617-9469-e587aca07be6.png)

1. topic name of the frustum should be inside the sensor's namespace, something like

`world_camera/image_raw/frustum`

2. I would be nice to see in the published image the part which is a direct projection of the interactive marker, in order to provide a better visu

[2021-12-15 15:36] danifpdra commented on #323
Hi @miguelriemoliveira

I tested the bag I recorded in the morning. It works well with the test script but when integrated in ROS it's throwing me a bunch of errors. Do you have time for a quick zoom today?

[2021-12-15 16:39] miguelriemoliveira commented on #323
Hi @danifpdra ,

I have now until 17h30

[2021-12-16 14:05] danifpdra commented on #323
Hi @miguelriemoliveira,

The collector is saving the labels:

![image](https://user-images.githubusercontent.com/47574905/146385150-dea09a65-90d6-4361-9a42-5458bea51fec.png)

And it's also saving the image:

![image](https://user-images.githubusercontent.com/47574905/146386582-679fe37e-6058-48ed-8b24-08a82c558a64.png)

I used .tif because I think it's better for uint16 and I also had to normalize

[2021-12-16 16:37] miguelriemoliveira commented on #323
Hi @danifpdra,

Great news. So the interaction part with the projection is all working fine now?

It does not have to be a tiff , we can just save a png with uint16. I say this because png sounds more standard. Or am I missing something?

https://github.com/danifpdra/calibration_scripts/blob/0d286740b62f931be9873e8ca30e96eed4f94e95/extract_images_test_mike.py#L133-L138

Do not agree with the part

[2021-12-16 16:51] danifpdra commented on #323
Hi @miguelriemoliveira ,

Ok, I did that, saved as png and multiplied by 10000.
The bagfile is here:  https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EVgUhNIGNtVElswLcEOEIF8BmYBHyAYGnvB52PlJVuveqg?e=emu2Nv

[2021-12-17 15:57] manuelgitgomes commented on #333
I retested this. It worked with your calibration package but now with mine. Let me see if I can find any differences in the config.yml

[2021-12-17 16:05] manuelgitgomes commented on #333
Found the difference, on the config file I defined topic name as the compressed image instead of the non compressed one! I shall close this issue.

[2021-12-17 16:05] #333 closed, assigned to miguelriemoliveira

[2021-12-17 16:56] miguelriemoliveira commented on #333
Great. Sorry for not being able to answer any sooner.

On Fri, Dec 17, 2021, 16:05 Manuel Gomes ***@***.***> wrote:

[2021-12-20 11:03] manuelgitgomes commented on #335
Good morning! As I ran the command `roslaunch simplebot_calibration dataset_playback.launch` from the [simpleBot repo](https://github.com/miguelriemoliveira/simpleBot)  and the command `rosrun atom_calibration dataset_playback2 -json $ATOM_DATASETS/simplebot/dataset2/dataset.json` , the following RVIZ appears.
![image](https://user-images.githubusercontent.com/58152228/146756767-95362d22-3e81-4d78

[2021-12-20 14:58] miguelriemoliveira commented on #335
Hi @manuelgitgomes ,

could it be that your fixed frame in not well selected? I think it should be world but chek the tf tree ...

[2021-12-20 14:59] miguelriemoliveira commented on #335
I don't think **base_footprint** exists, only **c0_base_footprint**. Use world, that one always exists ...

[2021-12-20 14:59] miguelriemoliveira commented on #335
If you want we can talk in 30 or 45 mins ...

[2021-12-20 15:04] manuelgitgomes commented on #335
base_footprint exist, it's the parent link of all the c*_base_footprint.
![image](https://user-images.githubusercontent.com/58152228/146788029-8ae6bbf6-32c8-4484-ba1d-505a89e6aea5.png)
We can talked at 15:30 if you prefer.

[2021-12-20 16:44] miguelriemoliveira commented on #335
Hi @manuelgitgomes ,

just a tip. You write:

As I ran the command `roslaunch simplebot_calibration dataset_playback.launch` from the [simpleBot repo](https://github.com/miguelriemoliveira/simpleBot)  and the command `rosrun atom_calibration dataset_playback2 -json $ATOM_DATASETS/simplebot/dataset2/dataset.json` , the following RVIZ appears.

It is much easier like this:

As I ran the command

`ro

[2021-12-20 17:10] #335 closed, assigned to manuelgitgomes, DanielCoelho112, Analtino2021

[2021-12-20 17:50] danifpdra opened #341 "Chessboard being poorly detected in RGB with lower resolution"

[2021-12-20 19:08] miguelriemoliveira commented on #341
Give me more information please. What system is this? How far does the pattern have to be? How to I run the debug detector? Can you add a picture?

[2021-12-21 10:43] DanielCoelho112 commented on #335
Hi @miguelriemoliveira  and @manuelgitgomes.

What was the problem here? Should commit 458ad2f solve this problem?
I'm getting the same RViz as you, @manuelgitgomes.

[2021-12-21 10:58] DanielCoelho112 commented on #335
My bad... I forgot to pull the atom repository. Sorry.
The only problem for me now is that the topic with the labeled images is not receiving messages. Was this happening with you too?

[2021-12-21 11:02] manuelgitgomes commented on #335
This is an atom feature. When running the dataset_playback script add the `-si` flag to show the images.

[2021-12-21 11:05] DanielCoelho112 commented on #335
Working!
Thanks @manuelgitgomes

[2021-12-21 15:52] danifpdra commented on #341
Run system:

`roslaunch mmtbot_gazebo mmtbot.launch sim:=true gui:=true moveit:=true`

Run debug:

`python view_pattern.py -t charuco -x 11 -y 8 -L 0.06 -l 0.045 /world_camera/rgb/image_raw`

The pattern has to be pretty close to be detected:
![image](https://user-images.githubusercontent.com/47574905/146959392-0198af9e-363f-49a0-8821-7d138bb51cc8.png)
![image](https://user-images.githubuserconten

[2021-12-21 16:04] miguelriemoliveira commented on #341
Thanks @Daniela Rato ***@***.***> ,

I will try it out and get back to you.

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Ca

[2021-12-21 16:19] DanielCoelho112 commented on #340
Hi,

The part of changing the collection based on some specific key is working in 0289a00. To go to the next collection you have to press the "right arrow" and to go to the previous collection you have to press the "left arrow".

However, the part of resetting the Rviz whenever we change collection is not yet done.

[2021-12-21 16:21] miguelriemoliveira commented on #340
Hi @DanielCoelho112 ,

great. Resetting remotely does not work, but you can reload the configuration file.

https://answers.ros.org/question/225945/can-i-reset-rviz-via-topic/

[2021-12-21 16:33] DanielCoelho112 commented on #340
It makes sense. I'll do that later.

[2021-12-21 17:18] manuelgitgomes commented on #339
Only needed to change one line of code. Pretty simple. Changes were made in commit [`aa753fd5efbcfa72c3b5dbd249494af2285768cd`](https://github.com/miguelriemoliveira/simpleBot/commit/aa753fd5efbcfa72c3b5dbd249494af2285768cd) of [simpleBot](https://github.com/miguelriemoliveira/simpleBot) to conform with these changes.
Closing this issue.

[2021-12-21 17:18] #339 closed, assigned to manuelgitgomes

[2021-12-21 17:37] miguelriemoliveira commented on #339
awesome ... long live ros! Can you put here the result of rostopic list?

[2021-12-22 09:01] miguelriemoliveira commented on #341
Hi @danifpdra ,

I just tried it out. It is also a problem with the light. I just added a couple of lights and the pattern is detected much further away.

![image](https://user-images.githubusercontent.com/11350998/147065741-8b2aa85d-f1b0-4646-918e-cfa4233fe1d5.png)

In any case I will look into the detector's configuration.

[2021-12-22 09:29] miguelriemoliveira commented on #341
Hi @danifpdra ,

I looked into the parameters. They are commented in the detector code here:

https://github.com/lardemua/atom/blob/d5632dd64dfff0735f141add0b9a716b7884b2bb/atom_calibration/src/atom_calibration/collect/patterns.py#L95-L110

You can try to adjust them but do not commit those changes because that code is used by all atom.
I tried but it does not really change anything much. In any c

[2021-12-22 09:32] danifpdra commented on #341
Hi @miguelriemoliveira,

Thanks. I will try it out and let you know.

[2021-12-22 09:38] miguelriemoliveira commented on #341
Ok, if you need more help let me know.

[2021-12-23 16:29] Analtino2021 commented on #337
Hi @DanielCoelho112 , @manuelgitgomes , @miguelriemoliveira,

The method apllied was, as made in the last reunion to create a new MarkerArray that recieves only the data of the collection indicated by the selected_collection_key as shown in the code below.

https://github.com/lardemua/atom/blob/b9bbacafcb8ab0c5812b4e223fcaef2ef0791727/atom_calibration/src/atom_calibration/dataset_playback/visualiz

[2021-12-27 08:46] miguelriemoliveira commented on #337
Hi @Analtino2021 ,

Thanks for the information. I will test sometime this week. If you need some help let me know.

Merry Christmas!

[2021-12-28 17:19] manuelgitgomes commented on #336
Hello! I have a doubt. I have already converted the unlabeled data to a marker. When adding the unlabeled data marker to the labeled data marker array, it published everything correctly.
To try and divide labeled and unlabeled data, in order to better segment the visualization, I created two different publishers, publishing on different topics, which gives me an error seen below:
![image](https://

[2021-12-28 20:17] miguelriemoliveira commented on #336
Hi @manuelgitgomes ,

... hum, not sure that was the best way to go about this ... perhaps we can discuss in a zoom meeting.

You could add two different markers inside a marker array, and then use namespaces to identify each.

My guess is that you are putting some time frame in the marker message that is very far from the time frames you have in the tf messages.

I think a zoom meeting could help

[2021-12-28 20:28] manuelgitgomes commented on #336
Ok, tonight is impossible to me, tomorrow I'm available anytime before 21h.

[2021-12-28 20:54] miguelriemoliveira commented on #336
Hi Manuel,

ok, I will call you tomorrow when I have a break ok?

See you,
Miguel
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveir

[2021-12-29 09:08] manuelgitgomes commented on #336
Deal! See you.

[2022-01-03 14:04] danifpdra commented on #323
Hi @miguelriemoliveira ,

Do you have time to zoom so that we can discuss this?

[2022-01-03 14:26] miguelriemoliveira commented on #323
Hi @danifpdra ,

we can do a fast talk? Start at 14h30?

[2022-01-03 14:27] danifpdra commented on #323
Sure

[2022-01-03 15:35] danifpdra commented on #323
Run visualization:

`roslaunch mmtbot_calibration calibrate.launch dataset_file:=$ATOM_DATASETS/mmtbot/test_depth_labelling/data_collected.json run_calibration:=false`

Run calibration:
`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/mmtbot/test_depth_labelling/dataset.json -nig 0.0 0.0 -rv -ipg -v -phased -si`

[2022-01-03 16:24] danifpdra commented on #323
bag file: https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EfSn0FU4DqBGi5m6RUaTdM4Bx3SBhB05W0NOjAZK-VcPaQ?e=D5iaXV

dataset: [test_depth_labelling.zip](https://github.com/lardemua/atom/files/7802933/test_depth_labelling.zip)

[2022-01-03 16:34] danifpdra commented on #323
@miguelriemoliveira ,

I've figured out what part of the problem is. The function getCvImageFromDictionaryDepth is defined in the dataset_io.py file and it's used in the same file to save a .png image (line 188). In line 190, I printed the image type and it's float32 when we are using the collect_data script to save the collections. This same function is used in the getPointsInDepthSensorAsNPArray

[2022-01-04 03:19] Changhee-Kimm commented on #142
if you remove that line, it may decrease the accuracy of corner refinement.   it means the accuracy of finding corners is decreased.

'doCornerRefinement' is under version of opencv 3.2.0, and above 3.2.0, it is changed to  'cornerRefinementMethod'

so I recommend you to add  cv2.aruco.cornerRefinementMethod = something

[2022-01-04 11:13] danifpdra commented on #323
I've sorted this out but still the idx_limit_points are still not showing in rviz and the depth coordinated systems are floating in the air

![image](https://user-images.githubusercontent.com/47574905/148050956-7c05428a-e96e-4ac9-a7e1-02f7c8e005be.png)

[2022-01-04 17:34] danifpdra commented on #323
![image](https://user-images.githubusercontent.com/47574905/148100092-e6ae3649-620c-4bbe-8148-8fc62291de43.png)

We have points. Just not in the right place

[2022-01-04 18:11] miguelriemoliveira commented on #323
If you push I can take a look ...

[2022-01-04 18:13] danifpdra commented on #323
[test_no_nan.zip](https://github.com/lardemua/atom/files/7809545/test_no_nan.zip)

Pushed. New dataset

[2022-01-04 18:15] miguelriemoliveira commented on #323
OK, let me try ... will get back to you.

[2022-01-04 19:32] miguelriemoliveira commented on #323
Hi @danifpdra ,

still working on it ... can you tell me if the first guess is perfect, meaning the drawing of the points should go on top of the pattern right from the start?

In other words, did you do a set initial estimate on this dataset?

[2022-01-04 19:45] miguelriemoliveira commented on #323
Got it. This was a tricky one.

![image](https://user-images.githubusercontent.com/11350998/148114930-cd57ee47-e251-4822-bdcd-23ad220e0521.png)

I left the code unfinished, full of comments and prints for you to see what I changed. Please revise and delete / correct what you think is best.

[2022-01-05 14:36] danifpdra opened #342 "Check RGB header when loading json file"
https://github.com/lardemua/atom/blob/922e611625e9f94b61e0dff851ed25c2310248e2/atom_core/src/atom_core/dataset_io.py#L83-L86

Check header file after loading. This was a problem when using the same methodology in depth modality. Is the same happening in RGB?

[2022-01-05 14:38] danifpdra commented on #323
Testing with several collections
![image](https://user-images.githubusercontent.com/47574905/148235647-8fc5fc63-9aee-4ee3-b2c9-8d7e2881cf63.png)

[2022-01-05 14:43] danifpdra commented on #323
This is immensely slow calibrating, is this due to not using cache yet?

[2022-01-05 17:33] miguelriemoliveira commented on #323
It depends on how long the function takes, but yes, that would be my first guess.

If using the cache does not work you have to measure the time over several lines in the objective function to see what's taking so long...

[2022-01-06 15:08] danifpdra opened #343 "Updating configure_calibration_pkg to automatically generate RVIZ configurations that include depth cameras topics and markers"

[2022-01-06 15:14] danifpdra opened #344 "Should the seed point for depth labelling be updated automatically as in LiDARS or always given by the interactive marker?"
I changed this to calculate the new seed point as the centroid of the last frame because when collecting data for more than two sensors, it gets really difficult to manage everything and have to constantly be changing the interactive marker along with the movement of the chessboard.

[2022-01-06 15:14] danifpdra opened #345 "Calibrating a simulated system with RGB, LiDAR and Depth"

[2022-01-06 15:18] danifpdra commented on #345
Data collected for:
-2 RGB
-1 Depth
-1 LiDAR

worked fine

[2022-01-06 15:56] danifpdra commented on #343
implemented

[2022-01-06 16:34] danifpdra commented on #345
It takes approximately 5s between each iteration. Is this too much @miguelriemoliveira?

[2022-01-06 16:36] danifpdra commented on #345
Outputs:

[code]

[2022-01-06 16:37] #343 closed, assigned to danifpdra

[2022-01-06 17:00] miguelriemoliveira commented on #344
Makes sense ...

On Thu, Jan 6, 2022, 15:14 Daniela Rato ***@***.***> wrote:

[2022-01-06 17:02] miguelriemoliveira commented on #345
Yes, way too much. How long does it take for lidar3d? Did you tic toc?

What is taking so long?

On Thu, Jan 6, 2022, 16:34 Daniela Rato ***@***.***> wrote:

[2022-01-06 17:02] miguelriemoliveira commented on #343
Great!

On Thu, Jan 6, 2022, 16:37 Daniela Rato ***@***.***> wrote:

[2022-01-06 17:04] miguelriemoliveira commented on #345
Worked fine? More details? A picture and a video would be nice.

Also, were you not working on a smaller subsystem just with one rgb and one
depth?

On Thu, Jan 6, 2022, 15:18 Daniela Rato ***@***.***> wrote:

[2022-01-06 17:13] danifpdra commented on #345
Yes, but the bag had the whole system so I created a dataset to see if it was handling the labelling well.

[2022-01-06 17:14] danifpdra commented on #345
The problem is not the LiDAR, this was already happening just with the RGB and the depth, as I mentioned before. But I didn't have the sensibility to know if it was too much or not.

[2022-01-06 17:16] danifpdra commented on #345
![image](https://user-images.githubusercontent.com/47574905/148423200-c8ffba7f-1f68-4c30-9b90-7996b0f5119c.png)

[2022-01-06 17:17] danifpdra commented on #345
Should we think of some way to differentiate the lidar visual markers and the depth visual markers? They are both there but the colors are the same

[2022-01-06 19:05] miguelriemoliveira commented on #345
Ah, ok I get it.

[2022-01-06 19:06] miguelriemoliveira commented on #345
Yes, I imagine it is the depth component of the objective function. I asked about 3d lidar time just for reference, because I remembered it was the one that took longer (until now )

[2022-01-06 19:13] miguelriemoliveira commented on #345
Definitely, we are using color differentiate the collections, so we cannot use color. We can use shapes.
I propose to use cubes (instead of sphere) to represent the labelled data of depth sensors. It could also be small cubes for the labelled points, and larger cubes for the boundary points.

What do you think? Do you have another idea?

BTW, great work these last few days. Congratulations!

[2022-01-06 19:17] miguelriemoliveira commented on #345
I think these results are quite nice.

and

are in pixels, so that's subpixel accuracy.

are in meters, so that's 1 centimeter accuracy which, considering the depth measurement accuracy of the camera, is also very good. I think we could not get much better ...

[2022-01-07 00:32] #340 closed, assigned to DanielCoelho112

[2022-01-07 00:34] manuelgitgomes commented on #338
Sorry, misplaced the number of the issue. The closed issue should be #336, reopening this one.

[2022-01-07 00:36] manuelgitgomes commented on #336
Commits 2239900a9a1a6b89e9bc536140b20c666085dfcc and ba0045a5b8326416a92e90b7c1730b9ca04a0a44 are mentioning issue #338 while it should be this one. My bad.

[2022-01-07 00:39] manuelgitgomes commented on #340
Used professor's method as it can be seen in here:
https://github.com/lardemua/atom/blob/ba0045a5b8326416a92e90b7c1730b9ca04a0a44/atom_calibration/src/atom_calibration/dataset_playback/visualization.py#L619-L624
When the marker frame_id references the current collection, it should add the marker. When it references the previously selected collection, it deletes the marker.

[2022-01-07 00:46] manuelgitgomes commented on #336
Regarding the 3DLidar data;
A list was created where every pointcloud message is appended:
https://github.com/lardemua/atom/blob/ba0045a5b8326416a92e90b7c1730b9ca04a0a44/atom_calibration/src/atom_calibration/dataset_playback/visualization.py#L321-L328
A publisher for each 3D LIDAR sensor was created:
https://github.com/lardemua/atom/blob/ba0045a5b8326416a92e90b7c1730b9ca04a0a44/atom_calibration/sr

[2022-01-07 00:46] #336 closed, assigned to manuelgitgomes

[2022-01-07 14:51] danifpdra opened #346 "Calibration taking too much time between iterations"
Hi @miguelriemoliveira ,

I did a tictoc in the objective function and the depth camera takes about 10x more time than the lidar

[code]

[2022-01-07 15:55] miguelriemoliveira commented on #346
Hi @danifpdra ,

now you must put a lot of tic tocs inside the depth component of the objective function, with prints, so that you know where in the code we are taking so long.

[2022-01-09 11:17] miguelriemoliveira commented on #342
Implemented. Tested with

`roslaunch mmtbot_calibration calibrate.launch dataset_file:=$ATOM_DATASETS/mmtbot/test_depth_labelling/data_collected.json run_calibration:=false
`

followed by

`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/mmtbot/test_no_nan/dataset.json -rv -ipg -v -phased -si`

and I can see the image on rviz, so it should be working.

[2022-01-09 11:17] #342 closed, assigned to miguelriemoliveira, danifpdra

[2022-01-09 11:19] miguelriemoliveira commented on #325
This was solved, I think. Closing.

[2022-01-09 11:19] #325 closed, assigned to miguelriemoliveira, danifpdra

[2022-01-09 11:21] miguelriemoliveira commented on #346
I also noticed that you do not have the cache on function

def getPointsInDepthSensorAsNPArray(_collection_key, _sensor_key, _label_key, _dataset)

that could be why it take long. In any case I would first diagnose with lots of tic tocs and prints, and then paste here the times.

[2022-01-09 11:22] miguelriemoliveira commented on #342
BTW, nice issue with the code section already there for making the life of the assignee much easier. Congrats!

[2022-01-09 11:29] danifpdra commented on #346
I did cache it. Probably it's just not pushed.

[2022-01-09 11:36] miguelriemoliveira commented on #346
Ahah, caughted ... now its up to  solve the git conflicts

On Sun, Jan 9, 2022, 11:29 Daniela Rato ***@***.***> wrote:

[2022-01-11 14:58] danifpdra commented on #345
Hi @miguelriemoliveira ,

I did the "lots of prints" thing

[code]

What I can see that takes the most time is the calculation of the longitudinal residuals

[2022-01-11 16:02] miguelriemoliveira commented on #345
is it pushed? Perhaps we can look into it tomorrow morning...

[2022-01-11 16:05] danifpdra commented on #345
Yes, it is pushed and yes, we can talk tomorrow

[2022-01-12 09:15] #341 closed, assigned to miguelriemoliveira, danifpdra

[2022-01-12 09:16] miguelriemoliveira opened #347 "Create one file with a function for each component of the objective function."
What do you think @danifpdra ? The objective function is very large already.

If we would do this what would be the input to these functions?

[2022-01-12 09:58] miguelriemoliveira opened #348 "Sample limit points in depth labeller"
@danifpdra

[2022-01-12 10:17] miguelriemoliveira opened #349 "Create rgbd camera xacro which also has a visual component for the depth camera"
We need this to have a visual feedback of the calibration of rgbd cameras.

[2022-01-12 10:23] miguelriemoliveira commented on #349
![image](https://user-images.githubusercontent.com/11350998/149122025-ea15d842-89dd-478e-b7a6-ab7b9632d78c.png)

![image](https://user-images.githubusercontent.com/11350998/149122430-7884db2b-951b-4d42-89ee-131bc4de5ecc.png)

[2022-01-12 10:23] miguelriemoliveira commented on #349
@danifpdra

[2022-01-12 10:39] miguelriemoliveira opened #350 "Simulated experiment mmtbot calibration using only the rgb cameras"

[2022-01-12 10:41] miguelriemoliveira commented on #350
With depth we are not being able to optimize properly. We get this:

![image](https://user-images.githubusercontent.com/11350998/149125004-043e430b-7fd0-47df-8963-73acf6fa3c50.png)

This issue is to debug and (finally) make sure that the rgb component of the of is really working.

[2022-01-12 11:17] miguelriemoliveira opened #351 "Verify that the sensor link frame id is the one in the header of the topic name message"
This passed in the configuration and should have been caught with an exception.

[code]

[2022-01-12 14:54] danifpdra commented on #349
![image](https://user-images.githubusercontent.com/47574905/149163954-c8f02b80-b51e-4b19-8668-5d43350a1ab8.png)

There you go, some nice pink cylinder :-)

[2022-01-12 14:57] danifpdra commented on #351
Just to make clear that the topics are correct:
`rostopic echo /world_camera/rgb/image_raw --noarr`

[code]

`rostopic echo /world_camera/depth/image_raw --noarr`

[code]

[2022-01-12 15:11] danifpdra commented on #341
Hi @miguelriemoliveira,

For what I can see you didn't push the world with the new lights

[2022-01-12 15:52] miguelriemoliveira commented on #349
no comments ...

[2022-01-12 15:53] miguelriemoliveira commented on #351
ok, but the yaml for the calibration was wrong, right?

Or am I missing something?

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Ave

[2022-01-12 15:54] miguelriemoliveira commented on #341
Strange. In any case please add new lights from your side as needed. I can't do it now.

[2022-01-12 17:17] danifpdra commented on #349
2 RGBS -  no initial estimate, no nig

![image](https://user-images.githubusercontent.com/47574905/149186733-79dabbeb-6725-4c19-a5c7-afe6b9e6c572.png)

2RGBS - no initial estimate, nig 0.1 0.1

![image](https://user-images.githubusercontent.com/47574905/149189669-30cec87c-f3ff-4a60-9b4d-be32018cf53f.png)
(the visual component of the world camera didn't move because I changed the calibration parent

[2022-01-12 17:17] danifpdra commented on #349
Calibration summary here:
![image](https://user-images.githubusercontent.com/47574905/149189389-c55427ca-9a3d-432b-a533-7987efe0ca99.png)

[2022-01-12 18:28] danifpdra opened #352 "Check if nig is being applied to the anchored sensor"

[2022-01-13 13:46] danifpdra commented on #352
This is now working

[2022-01-13 13:48] danifpdra commented on #350
hi @miguelriemoliveira ,

good news. I've done new experiments with the anchored sensor and nig and everything works very well:

![image](https://user-images.githubusercontent.com/47574905/149341893-25e5302c-aea7-41f6-98c7-7d1ab0b940b6.png)

[2022-01-13 13:51] #352 closed, assigned to danifpdra

[2022-01-14 15:22] #344 closed, assigned to danifpdra

[2022-01-15 10:00] miguelriemoliveira opened #353 "Flickering display frustrum VisualizationDepthSensors"
Hi @danifpdra ,

I was working on https://github.com/lardemua/atom/issues/348 and for that I am running the data collector.
When I launch

`roslaunch mmtbot_calibration collect_data.launch output_folder:=~/datasets/mmtbot/test_mike overwrite:=true`

rviz launches with a display called **VisualizationDepthSensors** but this is always blinking.
It oscilates between status ok and status warning.

I c

[2022-01-15 11:21] miguelriemoliveira commented on #348
Implemented. Used opencv find contours to get  a clockwise ordered list of points, and then its just a matter of picking up the nth point in the list. New argument in the function limit_sample_step default to 5.

limit_sample_step=5
![image](https://user-images.githubusercontent.com/11350998/149619751-e9e91ef9-81e6-4b76-b5b4-4cbb58d3cc03.png)

limit_sample_step=25
![image](https://user-images.gith

[2022-01-15 11:23] #348 closed, assigned to miguelriemoliveira

[2022-01-15 15:47] miguelriemoliveira commented on #353
I made a lot of changes, but I think now its better.

1. In the interactive marker constructor, changed  declaration of the frustum publisher to occur only for modality depth, because we cannot draw frustum for all sensor modalities. If you want to add it to the rgb modality you can do it after.
2. There was a collision of the topic name, all publishers published to topic "sensor_frustum". Now eac

[2022-01-15 15:47] #353 closed, assigned to danifpdra

[2022-01-15 18:25] miguelriemoliveira commented on #349
Hi @danifpdra ,

I was thinking about this and had and idea. I want you to tell me what you think.

Why don't we have two camera cad models, one anchored on the rgb optical frame and another on the depth optical frame?
We could put them with different colors (none in pink), but that way we would know these two must coincide for the calibration to be successful.

If you like the idea I can try to i

[2022-01-15 18:41] danifpdra commented on #349
Hi @miguelriemoliveira,

But if we are trying to calibrate, for example, from camera_link to camera_rgb frame, how would the camera move? Because at the current state none of them moves now because we are not calibrating the camera's position in relation to the support

[2022-01-15 20:04] miguelriemoliveira commented on #349
if the **camera_link to camera_rgb_frame** moves so will everything after that, including the cad model attached to the **camera_rgb_optical_frame**.

Right now they don't move because the cad model is attached to a coordinate frame before, not after.

You agree?

[2022-01-15 20:37] danifpdra commented on #349
I'm not quite being able to visualize it but if it's possible, I think it's a good idea

[2022-01-16 10:43] miguelriemoliveira commented on #349
Its implemented.

![image](https://user-images.githubusercontent.com/11350998/149656237-7cc95867-8dc9-4785-9b2e-ee152f21bec6.png)

Each frame rgb_optical_frame and depth_optical_frame have a camera stl attached to it

The rgb cad model

![image](https://user-images.githubusercontent.com/11350998/149656720-5013846c-ed19-4d31-8fa8-c833fc378adf.png)

and the depth optical frame

![image](https://user

[2022-01-16 23:15] danifpdra commented on #349
That's fine by me.

[2022-01-16 23:42] miguelriemoliveira commented on #349
What, no comments about the color?

[2022-01-16 23:45] danifpdra commented on #349
I'm very proud of you for embracing your inner pink ahah

[2022-01-17 18:24] danifpdra commented on #345
Hi @miguelriemoliveira ,

I used this bagfile to create a dataset with an anchored camera (world_camera_rgb) and calibrate with nig. I think the results are pretty nice:

![image](https://user-images.githubusercontent.com/47574905/149821273-4a209284-7b46-471e-b0c8-29d774bd17b0.png)

[2022-01-17 18:26] danifpdra commented on #345
another one
starts here:
![image](https://user-images.githubusercontent.com/47574905/149821377-0648905e-12a9-4d65-bb6d-8bca5ed5c470.png)
ends here:
![image](https://user-images.githubusercontent.com/47574905/149821520-ab38abc0-4ac3-488a-ae25-6d0779dc5115.png)
There's only a tiny bit of displacement
![image](https://user-images.githubusercontent.com/47574905/149821596-6b2fe14e-c69e-44d3-bd95-57008c

[2022-01-17 18:46] miguelriemoliveira commented on #345
Great! That means we have the first test where depth calibration is working, right?

[2022-01-17 18:47] danifpdra commented on #345
Yes, I think so! :1st_place_medal:

[2022-01-17 18:57] miguelriemoliveira commented on #345
Congratulations!

[2022-01-17 18:59] danifpdra commented on #345
Can we celebrate now or are you still thinking there are about one million things that can and will go wrong?!

[2022-01-17 21:41] miguelriemoliveira commented on #345
There are about 2 million things still in the way, but you can celebrate.

[2022-01-17 21:43] danifpdra commented on #345
Killjoy!

[2022-01-18 15:18] danifpdra opened #354 "Evaluate depth calibration"
Hi @miguelriemoliveira , when can we talk about this?

[2022-01-18 15:20] miguelriemoliveira commented on #354
Zoom now ok?

[2022-01-18 15:20] danifpdra commented on #354
ok

[2022-01-19 17:20] danifpdra commented on #354
Separated the annotation script.

How to run annotation:
`rosrun atom_evaluation anotate.py -test_json $ATOM_DATASETS/mmtbot/dataset_all_system_anchored_test_small/dataset.json -cs world_camera_rgb -si -ef $ATOM_DATASETS/mmtbot/dataset_all_system_anchored_test_small/eval.json`

where
-test_json: test dataset that will be annotated. MUST BE DIFFERENT THAN THE DATASET THAT WILL BE EVALUATED
-cs:  ca

[2022-01-19 17:45] miguelriemoliveira commented on #354
if you could change the eval.json to annotations.json I would be so much happier : )

@aaguiar96 , you should be receiving these email because you may have some opinion to give.

[2022-01-19 17:49] aaguiar96 commented on #354
Hi @miguelriemoliveira and @danifpdra

Can you provide some context, please?

[2022-01-19 18:05] miguelriemoliveira commented on #354
Sure. Sorry.

@danifpdra is working on the inclusion of depth modality in ATOM. This includes the automatic labelling of depth data, design of the cost function component for depth, and the calibration.

Then we need, like you did when you developed the lidar component, to evaluate the results.

For that we are picking up your evaluation script **range_sensor_to_camera_evaluation.py**.

The first

[2022-01-19 19:28] aaguiar96 commented on #354
Hi @miguelriemoliveira

Yes, thanks!!

Great plan. It would be nice to update the lidar-camera evaluation script to consider the annotator script also.

My only question is if there is something different between the lidar-to-camera evaluation, and the rgbd-to-camera evaluation. The only add-on between LiDAR and depth sensor is color right (one point cloud, and one point cloud with color informati

[2022-01-19 22:46] miguelriemoliveira commented on #354
Hi @aaguiar96 ,

Yes, @danifpdra will do it.

Just to be in sync: we do not view an rgbd camera as a sensor. It is actually two separate sensors which we calibrating.
So for us we call it the depth modality, instead of the rgbd camera. The depth sensor has a range image as input data, but we can using the depth intrinsics and the range measurements convert it to a point cloud without texture. So f

[2022-01-20 15:55] danifpdra commented on #354
@miguelriemoliveira, I have several questions:

-Should the folder for the annotation file be given by us, as it is now? Or should it automatically be the folder of the dataset?
-The name of the annotation file should be given by us, as it is now? The name of the annotation.json should be annotation? Or should it be annotation_{sensor_name}? Because if we have several RGB cameras it may be confusi

[2022-01-21 12:19] aaguiar96 commented on #354
So for us we call it the depth modality, instead of the rgbd camera. The depth sensor has a range image as input data, but we can using the depth intrinsics and the range measurements convert it to a point cloud without texture. So from what we discussed, we came to the conclusion that the evaluation script is almost the same as the lidar to rgb but has this additional prior step of converting the

[2022-01-21 14:49] danifpdra commented on #354
I implemented this for depth but it's not very well. I don't know if it was something I did wrong or if it's the calibration itself. I used a test_dataset with few collections just for testing.

![image](https://user-images.githubusercontent.com/47574905/150547252-457fcf0a-313b-4d44-9b3b-7fdd871d6889.png)

[2022-01-21 15:03] danifpdra commented on #354
OOOOppps I have made a mistake. It is ok now:
![image](https://user-images.githubusercontent.com/47574905/150549707-0415f56c-5a17-4335-8835-d4421eb4e132.png)

[2022-01-21 15:21] miguelriemoliveira commented on #354
Great!

On Fri, Jan 21, 2022, 15:03 Daniela Rato ***@***.***> wrote:

[2022-01-21 20:49] miguelriemoliveira commented on #354
Thanks @aaguiar96 . We will ask you if something is needed.

[2022-01-24 16:07] danifpdra commented on #354
Hi @miguelriemoliveira,

When I calculate the min euclidean distance, I get only a distance an not a x,y distance. So when calculating the errors I get the avg_error and the stdev, and not avg_error_x, avg_error_y, stdev_x and stdev_y as in the other evaluations. Should this be like this or should I convert it to x,y?

[2022-01-24 16:41] danifpdra commented on #354
Ok, I did that:

[code]

[2022-01-24 16:41] danifpdra commented on #354
This runs like this `rosrun atom_evaluation depth_to_lidar_evaluation.py -train_json $ATOM_DATASETS/mmtbot/dataset_all_system_anchored/dataset.json -test_json  $ATOM_DATASETS/mmtbot/dataset_all_system_anchored_test_small/dataset.json -cs world_camera_depth -rs lidar`

[2022-01-24 16:41] danifpdra commented on #354
Currently there is no visualization in this evaluation. Do you think there should be?

[2022-01-24 17:03] danifpdra commented on #354
I'm also having a problem with this

[code]

I get this error
[code]

But this doesn't make sense because we are also getting this transformation here:
https://github.com/lardemua/atom/blob/2934a356d9c75a5e8a01c9536361ea203c3f6af3/atom_calibration/src/atom_calibration/calibration/objective_function.py#L489-L491

[2022-01-25 09:18] miguelriemoliveira commented on #354
You could compute all: the average x, average y, and the average Euclidean.

[2022-01-25 09:19] danifpdra commented on #354
Yes, I already did that in the mean time.

[2022-01-25 09:20] miguelriemoliveira commented on #354
Yes, as much as possible. What do we visualize in the camera to lidar script? At least do the same as we do there. If you have other ideas. One idea for a paper is the Fig 11 of the T-Ro paper. Check it out.

[2022-01-25 09:23] miguelriemoliveira commented on #354
Can you print the

from_frame and the to_frame to see what they are?

From this message

it seems you are using a lidar reference frame ... does it exist? Also, post here the tf tree here please.

[2022-01-25 09:24] miguelriemoliveira commented on #354
Great.

[2022-01-25 09:25] danifpdra commented on #354
This ` print(lidar_frame, pattern_frame)` outputs this `lidar pattern_link`

The tf tree is here:
[summary.pdf](https://github.com/lardemua/atom/files/7932249/summary.pdf)

[2022-01-25 09:26] danifpdra commented on #354
We can visualize in the camera to lidar script because we are projecting lidar points into the image and that doesn't happen here.

[2022-01-25 09:36] miguelriemoliveira commented on #354
Perhaps two colored point clouds like you have in your paper? To visually appreciate the alignment ...

[2022-01-25 09:38] miguelriemoliveira commented on #354
Hum, not really sure. Let's meet this afternoon? around 14h is ok?

PS: Could you please stop finding bugs in ATOM : )

[2022-01-25 09:45] danifpdra commented on #354
But these scripts are not integrate in ROS, so how could we do that?

[2022-01-25 09:46] danifpdra commented on #354
Yes, we can meet at that time.

I'm not sure if this is a bug, because the exact same code was used in the objective_function.py. Maybe I did something wrong.

[2022-01-25 09:47] miguelriemoliveira commented on #354
https://matplotlib.org/2.0.2/examples/mplot3d/scatter3d_demo.html

[2022-01-25 09:49] danifpdra commented on #354
Oh ok, you mean just a plot. I will do that once we solve the problem at hands.

[2022-01-25 18:54] danifpdra commented on #354
Hi @miguelriemoliveira ,

I just implemented the lidar-depth evaluation. I also added a functionality to close all windows in the end because it was constantly blocking the windows.

If you could please test, I will leave you here the train and test datasets.

[dataset_all_system_anchored.zip](https://github.com/lardemua/atom/files/7936345/dataset_all_system_anchored.zip)
[small_test.zip](https://

[2022-01-26 09:50] miguelriemoliveira commented on #354
Thanks @danifpdra ,

I will try it later on.

[2022-01-28 16:04] danifpdra opened #355 "Depth labeling in real world"
Can you take a look at this @miguelriemoliveira https://youtu.be/AA85rR2qwOk ?

[2022-01-29 11:47] miguelriemoliveira commented on #354
Hi @danifpdra ,

finally had some time to test this.
First of all I am very happy with the details you give in the post above for testing. That way its a pleasure to do the tests.

Now some comments:

![image](https://user-images.githubusercontent.com/11350998/151659309-ed70a1c3-6ad5-46da-b59b-7b4fb80c79ff.png)

It worked fine. Some suggestions:

1. I would remove the print with the image full nam

[2022-01-29 11:50] danifpdra commented on #354
Hi @miguelriemoliveira,

Thanks for the suggestions, I will implement them. Btw, the yellow lines are there, but because the points are so close together, you can't see them...

[2022-01-29 12:22] miguelriemoliveira commented on #354
About this:

Generally, all comments from above, smaller points, etc.

When the last image is show and I press a key, I get this error:

[2022-01-29 12:27] miguelriemoliveira commented on #354
About this:

I would add more info to the instructions, namely explaining that the goal is to separately annotate each boundary side of the patten.

it talks about a fourth class but does not explain what it is.

There should be an option to quit without saving.

The points should have more bright colors, to be clearly visible in the image.
Points from different classes should be colored different

[2022-01-29 12:27] miguelriemoliveira commented on #354
Ah, ok.

[2022-01-29 12:43] miguelriemoliveira commented on #355
Hi @danifpdra ,

ah, the pains of real data.

Here, did you have your arms outstretched or were you cheating?

![image](https://user-images.githubusercontent.com/11350998/151661432-8a9e6d12-5d56-40b8-9708-8fd671956cae.png)

Post the bagfile so I can try to figure out what's happening.

[2022-01-31 11:00] danifpdra commented on #355
Here it is: https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EY9bfg9lI39FpfRGA7Z9Qn0BMoEX0Iiw4KBSUOc0U8xsEQ?e=6OMza0

I had my arms as stretched as it was possible for me. Nevertheless, I think the biggest problem is the black holes inside the chessboard.

[2022-01-31 11:51] miguelriemoliveira commented on #355
10GB? Can't you give me a smaller bag file just for testing ... downloading 15 mins left ...

[2022-02-01 10:07] danifpdra commented on #355
I think it would be best to use the whole one because it has different problems as the bag goes... The real data is very heavy.

[2022-02-01 10:12] miguelriemoliveira commented on #355
Ok, let me try it out and get back to you.

[2022-02-01 10:13] danifpdra opened #356 "Lidar to lidar evaluation"
Hi @miguelriemoliveira ,

I should I calculate the error in the LiDAR to LiDAR evaluation? I have two 3D point clouds, but I can't project them into the pattern so it doesn't make sense to use longitudinal and orthogonal errors. Should I use 3D distances?

[2022-02-01 10:17] miguelriemoliveira commented on #356
Yes, I would use 3D distances.

For each point in laser A, find the distances to all points in laser B and retrieve the minimum.

This is called Hausdorff distance.

https://pt.wikipedia.org/wiki/Dist%C3%A2ncia_Hausdorff

I think @tiagomfmadeira developed a python code for that. Do you remember @tiagomfmadeira ?

[2022-02-01 11:05] miguelriemoliveira commented on #355
Hi @danifpdra ,

I get this error when running

    rosrun mmtbot_calibration configure

please push the properly configured calibration.yaml file.

Thanks

[2022-02-01 11:06] danifpdra commented on #355
This is not mmtbot... This is larcc

[2022-02-01 11:07] tiagomfmadeira commented on #356
Hello @miguelriemoliveira and @danifpdra,

Yes! However, there's a quite efficient implementation of the algorithm in Open3d. I've recently used it in a cost function for the optimization of point cloud poses with OptimizationUtils.
Here it is: http://www.open3d.org/docs/latest/tutorial/Basic/pointcloud.html#Point-Cloud-Distance
Maybe give it a go?

[2022-02-01 11:09] miguelriemoliveira commented on #355
Ok, did not realize that. I think I have the same problem still. I don't have the correctly configured calibration.yaml

    rosrun larcc_calibration configure

returns

[2022-02-01 11:10] danifpdra commented on #355
I have pushed the code. Did you pull?

[2022-02-01 11:10] miguelriemoliveira commented on #356
Thanks @tiagomfmadeira .

[2022-02-01 11:12] miguelriemoliveira commented on #355
Now its working. Thanks.

[2022-02-01 12:44] miguelriemoliveira commented on #355
Hi @danifpdra ,

I tested and I think its better. I am now using the convex hull insteam of the opencv find contors which failed often.

Check the test_label_depth_msg script to the correct setting of the parameters of the function.

![image](https://user-images.githubusercontent.com/11350998/151970468-24e74bd1-a246-486a-9930-93dc9c79ca85.png)

![image](https://user-images.githubusercontent.com/11

[2022-02-01 12:45] miguelriemoliveira commented on #355
Let me know how it worked (or not)

[2022-02-03 10:38] DanielCoelho112 opened #357 "Mesh Tools - Installation"
Hi @miguelriemoliveira,

I'm having some issues with the installation of Mesh Tools.
According to [mesh_tools](https://github.com/uos/mesh_tools), the command to install is:
`sudo apt install ros-noetic-mesh-tools`

But that returns the following error:
`Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that

[2022-02-03 11:21] miguelriemoliveira commented on #357
Yep. I get the same error. When that does not work we compile from the source.

I cloned the repo

    git clone https://github.com/uos/mesh_tools.git

if you compile with catkin make it says lvr2 is missing. Clone the lvr2 repo

    git clone https://github.com/uos/lvr2.git

This is not a ros repo. Compiled and installed from the instructions on the webpage (takes a long time to compile).

Then c

[2022-02-03 11:45] miguelriemoliveira commented on #357
my compilation fails with

[code]

So from https://github.com/uos/mesh_tools/issues/4

I installed

    sudo apt install opencl-clhpp-headers

and it works!!!! After 1 hour of compilations ...

Thanks for the nice morning challenge ... this one was tricky : - )

[2022-02-03 11:48] miguelriemoliveira commented on #357
Not sure its working still, I launched rviz and looked for a display related to mesh tools and could not find one.
Also tried to add a new panel, nothing related to mesh tools.

Something perhaps is still missing ...

[2022-02-03 15:14] DanielCoelho112 commented on #357
Thanks for the effort!

I'll compile from source and then I'll look into it.

[2022-02-03 16:18] DanielCoelho112 commented on #357
Hi @miguelriemoliveira,

It worked for me too.

In my case I have access to a RViz plugin:
![image](https://user-images.githubusercontent.com/73063947/152381299-7f93335f-d54c-4c41-8746-664b06d76384.png)

I think you have to install  [this](https://mirrors.sjtug.sjtu.edu.cn/ros/ubuntu/pool/main/r/ros-noetic-rviz-mesh-plugin/).

In the ROS wiki they refer to a RViz mesh plugin and RViz Map plugin, b

[2022-02-03 16:52] miguelriemoliveira commented on #357
How did you install that one?

I tried to copy the repo to the catkin_ws/src folder, then run

     catkin_make_isolated

again. It gives an error:

[code]

[2022-02-03 17:52] DanielCoelho112 commented on #357
I was hoping you knew a fancy way to do this.
I copied the debian folder to the catkin_ws/src folder, and then run:

    cd ~catkin_ws/src
    ./debian/rules

and only then

    cd ~catkin_ws
    catkin_make_isolated

But now if I run the ./debian/rules I get an error... I dont know why.

Right now, the debian folder looks like this:

![image](https://user-images.githubusercontent.com/73063947/152

[2022-02-03 19:14] DanielCoelho112 opened #358 "3D Lidar - Dataset Reviewer"
Hi @miguelriemoliveira,

I was exploring the mesh_tools plugins and found that the ClusterLabel only works with Map3D.  To create a Map3D we need a mesh. So I tried to create a mesh based on our point clouds. The result is the following:

![image](https://user-images.githubusercontent.com/73063947/152411549-12f2dd1b-e7d2-4d37-b3df-9488a02bb789.png)

I'm not sure about the suitability of mesh tools

[2022-02-03 19:31] miguelriemoliveira commented on #358
Hi @DanielCoelho112 ,

I would like to try and install. Can we meet tomorrow morning to see if you can help me?

About this, I think we should insist a bit more to have a better assessment. We have a point cloud but we could transform it to a mesh I think. Let's discuss it tomorrow. In any case we can consider other alternatives, although I am not sure which ones. Perhaps open3d ...

[2022-02-03 21:00] DanielCoelho112 commented on #358
Yes, I can. Have all day.
Hours?

[2022-02-04 08:32] miguelriemoliveira commented on #358
9h is ok for me, but it can be later.

Let me know when you are available.

Miguel

*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Ave

[2022-02-04 09:03] DanielCoelho112 commented on #358
I'm ready at 9:30

[2022-02-04 09:12] miguelriemoliveira commented on #358
Ol 9h30

On Fri, Feb 4, 2022, 09:03 Daniel Coelho ***@***.***> wrote:

[2022-02-04 15:38] danifpdra opened #359 "Lidar to Lidar evaluation"
To do in the future

![image](https://user-images.githubusercontent.com/47574905/152557364-9ad4cbec-0f28-4182-a6a9-e0ab3d366dac.png)

[2022-02-04 16:02] danifpdra opened #360 "Can I inspect this dataset?"
[train_dataset.zip](https://github.com/lardemua/atom/files/8004470/train_dataset.zip)

[2022-02-04 16:08] danifpdra opened #361 "Matplotlib very slow in lidar to lidar evaluation"
Hi @miguelriemoliveira

Can you help ?

I'm running evaluating lidar to lidar in the twolidarbot with the following test and train datasets

[train_dataset.zip](https://github.com/lardemua/atom/files/8004502/train_dataset.zip)
[test_dataset.zip](https://github.com/lardemua/atom/files/8004517/test_dataset.zip)

You can run the evaluation with

`rosrun atom_evaluation lidar_to_lidar_evaluation.py -l

[2022-02-08 22:49] DanielCoelho112 commented on #357
Closing because this package is not suitable for the dataset reviewer

[2022-02-08 22:49] #357 closed, assigned to nobody

[2022-02-08 23:01] DanielCoelho112 commented on #358
Hi @miguelriemoliveira,

I pushed the first version of 3d lidar labeling. Right now we can load a dataset, choose the new labels for each collection and save the corrected dataset. This is just a checkpoint to see if this is the right direction.

To retrieve the information from the RVIZ I used this: https://github.com/DanielCoelho112/selected_points_publisher .
Using this plugin we can access the

[2022-02-09 12:38] miguelriemoliveira commented on #358
Hi @DanielCoelho112 ,

we can meet 14h-15h ok?

[2022-02-09 12:56] DanielCoelho112 commented on #358
Hi @miguelriemoliveira,
Deal.
See you.

[2022-02-09 13:45] danifpdra opened #362 "Trying to add frustum visualization to set_initial_estimate"
Hi @miguelriemoliveira ,

I'm trying to add the frustum for cameras to the set_initial_estimate, to facilitate the positioning of the sensors. The topic is being published but the frustum doesn't appear. Can you take a quick look at this if you have the time?

What I added was this

https://github.com/lardemua/atom/blob/bddf08226226a10796a036d91bc0a1040483645c/atom_calibration/scripts/set_initial_

[2022-02-10 10:54] miguelriemoliveira commented on #362
Hi @danifpdra ,

I have been very very busy. Sorry. I can try to look at this but only perhaps in the weekend. Is it hampering your progress?

[2022-02-10 10:56] danifpdra commented on #362
Hi @miguelriemoliveira ,

At this moment no, but I think it would be helpful to position the depth cameras without overlapping later.

[2022-02-17 22:45] DanielCoelho112 commented on #358
Hi @miguelriemoliveira,

Implemented in d821e6b a version of the lidar3d - dataset reviewer that comprises all features: add center labels, add border labels and remove labels.

I had to give up on the markers, I was having some compatibility issues with the plugin and the markers. Right now, the colors of the points are used to differentiate the center labels from the border labels, see image:

!

[2022-02-18 09:28] miguelriemoliveira commented on #358
Hi @DanielCoelho112 ,

looks very nice. Let's discuss it this afternoon at 16h.

See you,
Miguel

[2022-02-18 14:20] miguelriemoliveira commented on #358
Hi @DanielCoelho112 ,

cannot clone, do not have permissions. This command

    git clone git@github.com:DanielCoelho112/selected_points_publisher.git

Fails with

[code]

[2022-02-18 17:19] DanielCoelho112 commented on #358
Hi @miguelriemoliveira,

Try this one:

    git clone https://github.com/DanielCoelho112/selected_points_publisher

[2022-02-20 13:36] miguelriemoliveira commented on #358
Hi @DanielCoelho112 ,

perhaps I wait until you integrate with the atom repo, creating an atom_rviz_plugins package, and only then I try it ok?

Let me know when I can test.

[2022-02-20 19:53] DanielCoelho112 commented on #358
Hi @miguelriemoliveira,

sounds good to me. I plan to do that tomorrow.
I'll let you know when I have news.

[2022-02-21 16:10] DanielCoelho112 commented on #358
Hi @miguelriemoliveira,

the integration is completed. The following changes were made:

-  add letter **c** to clear all labels from the selected sensor
-  add another field in the point cloud msg related to the sensor index
-  to save the new dataset, Ctr+C is still needed, but this time the user gets a confirmation question (**I need to talk with you**)
-  create a **folder** named atom_rviz_pl

[2022-02-21 16:21] DanielCoelho112 commented on #358
@miguelriemoliveira, one other thing, one point is either center label or border label, or it can be both labels simultaneously? Right now, when we pick a point to be border label, it automatically gets removed from the center labels. Is this the right approach?

[2022-02-22 13:42] miguelriemoliveira commented on #358
Hi @DanielCoelho112 ,

The limit points (that's how we refer to them) should be a subset of the labelled points (what you call the center labels).
That is, all limit points are also labelled points.

This is how we label automatically so it is best the manual labeller also does this. Can you implement?

[2022-02-22 13:43] miguelriemoliveira commented on #358
Thanks. I will get back to you when I can.

[2022-02-23 11:57] DanielCoelho112 commented on #358
Hi @miguelriemoliveira,

Done.

I think I found an issue with the corrected dataset. Can you check the dataset.json and the dataset_corrected.json?

https://uapt33090-my.sharepoint.com/:f:/g/personal/danielsilveiracoelho_ua_pt/EtxIFiOFMPRHvlvf9B3zeUsB6g_z7zlNDK2q_NQf9rbmYg?e=FWWFm3

The dataset.json looks like this:
![image](https://user-images.githubusercontent.com/73063947/155314376-9465c2d9-f19

[2022-02-23 12:03] DanielCoelho112 opened #363 "3D LiDAR labeling inconsistency"
Hi @miguelriemoliveira,

As discussed, it looks like we are applying some downsampling technique in the lidar labeling:
![154581747-afbcad5a-9d02-4e39-95ba-82719c08adc1](https://user-images.githubusercontent.com/73063947/155315451-42418d18-9def-4a18-9c57-cbd327b7c4cc.png)

This image was taken in the dataset_reviewer stage, so it should not be downsampled. Can you track down the problem?

[2022-02-23 12:07] DanielCoelho112 opened #364 "Dataset with 2 LiDARs - Dataset Reviewer"
Hi @danifpdra,

do you have a dataset with 2 lidars? I'm planning to test the dataset reviewer in a more complex dataset.

[2022-02-24 15:56] danifpdra commented on #364
Hi @DanielCoelho112 ,

Can it be simulation or do you want real world?

[2022-02-24 16:54] DanielCoelho112 commented on #364
@danifpdra.

for now, I think simulation is better.

[2022-02-24 18:23] danifpdra commented on #364
[train_dataset.zip](https://github.com/lardemua/atom/files/8134851/train_dataset.zip)

Here it is. Two lidars and one camera

[2022-02-24 22:27] DanielCoelho112 commented on #364
Thanks @danifpdra

[2022-02-24 22:27] #364 closed, assigned to danifpdra

[2022-02-28 10:06] miguelriemoliveira opened #365 "Fix getPointsInDepthSensorAsNPArray"
Hi @danifpdra ,

I was looking for this

https://github.com/lardemua/atom/blob/8c1553a0fd15ebd56f962c4290bc6dbe6ecd90e3/atom_calibration/src/atom_calibration/calibration/objective_function.py#L89-L138

and noticed you still have lots of debug stuff there. Can you remove this mike stuff please?

Thanks

[2022-02-28 10:33] #365 closed, assigned to danifpdra

[2022-02-28 12:37] miguelriemoliveira commented on #365
Hi Daniela,

Did you do it? You did not respond ...

On Mon, Feb 28, 2022, 10:33 Daniela Rato ***@***.***> wrote:

[2022-02-28 16:12] danifpdra commented on #365
I didn't answer because I did it and pushed it:

![image](https://user-images.githubusercontent.com/47574905/156017530-180774b7-13ad-4d60-9f0f-b6d08f81a15e.png)

[2022-02-28 17:03] miguelriemoliveira commented on #365
OK, thanks @danifpdra .

[2022-03-08 14:38] miguelriemoliveira commented on #363
Don't have time for taking a look now. Will leave it for later.

[2022-03-11 14:13] manuelgitgomes opened #366 "Creation of a simulated AtlasCar2 enviornment"
This task consists of subtasks:

- [x] - Create models for AtlasCar2's wheels and AtlasCar2 without the wheels;
- [x] - Create a generic Ackermann vehicle simulation;
- [x] - Search gazebo simulated worlds, such as a city, a highway, etc...;
- [x] - Fuse previously created models, world and simulation;

Due date: 25 of March.

[2022-03-11 15:13] vitoruapt commented on #366
Check the previous works of Ricardo Silva (http://lars.mec.ua.pt/public/LAR%20Projects/RobotNavigation/2018_RicardoSilva/) or Manuel Ferreira (http://lars.mec.ua.pt/public/LAR%20Projects/RobotNavigation/2019_ManuelFerreira/) because they used the ATLASCAR2 model in Gazebo. Maybe you can find something useful for your work!

[2022-03-11 15:19] manuelgitgomes commented on #366
Thank you professor!

[2022-03-12 15:17] danifpdra commented on #355
Hi @miguelriemoliveira,

This labeller is throwing me errors when running `roslaunch larcc_calibration collect_data.launch output_folder:=$ATOM_DATASETS/larcc_real/3lidars_4cams_1/ bag_rate:=0.3 overwrite:=true` with real data.

[code]

[2022-03-12 15:21] miguelriemoliveira commented on #355
Hi @danifpdra ,

can you run the test labeller with the same bag file? Does it work fine?

[2022-03-12 15:25] danifpdra commented on #355
@miguelriemoliveira , can you remind me how to run it?

[2022-03-12 15:31] danifpdra commented on #355
I've figure it out. It's working

[2022-03-12 15:32] danifpdra commented on #355
But in the labeller it's throwing

[code]

[2022-03-12 15:33] danifpdra commented on #355
And also

[code]

Which makes no sense because the real world xacro does not have a robot

[2022-03-12 15:38] miguelriemoliveira commented on #355
Hum, there are two problems. Not sure if they are connected.

About the tf tree you can add the tf tree here?

Then we think about the other problem ...

Also, in which which code is the error?

[2022-03-12 15:45] danifpdra commented on #355
I know what the problem was. Sorry, it's working.

[2022-03-12 15:46] miguelriemoliveira commented on #355
Tell me please ... I am blowing up in curiosity!

[2022-03-12 15:47] danifpdra commented on #355
But by the way, the collector gives me a pop up image and this debugs:

[code]

Is this development debug or is it to keep?

[2022-03-12 15:47] danifpdra commented on #355
Well we have two xacros, one with the robot for simulation, one without the robot for real world. The configuration file was set to the one with the robot but the bag has no robot so it was crashing with the tfs.

[2022-03-12 16:04] miguelriemoliveira commented on #355
OK, I got it. Thanks.

The prints should be commented I think.

[2022-03-14 14:31] danifpdra opened #367 "Interactive manual data labeller does not show for third LiDAR"
Hi @miguelriemoliveira,

I am trying to calibrate larcc but the manual data labelled doesn't appear in the data collector, I don't know why. The topic is there and shows no errors.

![image](https://user-images.githubusercontent.com/47574905/158193598-c2f538ba-ea6f-49e2-b2f9-3fac564c9d76.png)
![image](https://user-images.githubusercontent.com/47574905/158193655-a5770ddb-0604-4dae-be1d-e848e7ae242f

[2022-03-14 14:34] miguelriemoliveira commented on #367
Hi @danifpdra ,

not really. I will try to look into it later today.

Miguel

[2022-03-14 14:38] danifpdra commented on #367
I turned it on and off 3 times and now it appear but it's not labelling anything

[2022-03-14 14:42] danifpdra commented on #367
Now it doesn't show again. The depth labelling is also frozen

[2022-03-14 14:43] miguelriemoliveira commented on #367
Send me the things needed for testing later this afternoon ...

[2022-03-14 14:44] danifpdra commented on #367
The rosbag is 40GB, are you sure you want it?

[2022-03-14 14:52] danifpdra commented on #367
https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/ES7KyRKDfH1JlcrlqRRwxKABqmRuEef1XpLWstcBZuuKLw?e=5pavub

[2022-03-14 14:58] miguelriemoliveira commented on #367
Well, can't you make it easier for me and crop just 30secs or 1 min?

[2022-03-14 15:55] danifpdra commented on #367
https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/Eb6g5GLqpYFLlNKAeYs5lxcBY2QC78h5x13Jm9VBz6gMAA?e=lBdjsV

[2022-03-14 19:00] miguelriemoliveira commented on #367
1 min, 10GB, uau! I am trying to take a look ...

[2022-03-14 19:06] miguelriemoliveira commented on #367
ufff, it says its going to go for another hour.

While I try to see this perhaps you could try to label what you can and then use the Atom Dataset Reviewer Tool to fix de missing labels.

Can you try it? @DanielCoelho112 could you try to help @danifpdra make a review of a dataset from the bag above?

@danifpdra perhaps you can upload a dataset you already recorded and identify a collection where s

[2022-03-14 19:20] DanielCoelho112 commented on #367
Hi @miguelriemoliveira and @danifpdra,

I haven't tested the dataset reviewer with multiple point clouds but I can test it now. Last time I tried, I think I had to have access to the repo of the robot, can you add me?

When you have a dataset, pls share it.