[2022-03-14 20:43] miguelriemoliveira commented on #367
I added you @DanielCoelho112 .

I would say for now you could even just have an input argument specifying the sensor name. But if it works for many sensors even better.

[2022-03-15 13:55] danifpdra commented on #367
We really need to talk @miguelriemoliveira because none of the labellers is working. They all stop after some seconds. I was focusing on depth but RGB and LiDAR eventually stop too. Something is not right. I can't record a dataset with some missing information because all the labels are missing. I was at it all morning and I can't figure out what's wrong.

[2022-03-17 16:26] miguelriemoliveira commented on #367
Hi @danifpdra ,

my command

    roslaunch larcc_calibration collect_data.launch output_folder:=~/datasets/larcc/test_1min overwrite:=true

crashes with the following msg:

 Do you know anything about this?

[2022-03-17 16:36] danifpdra commented on #367
It was an old experiment... Did you push?

[2022-03-17 16:45] miguelriemoliveira commented on #367
perhaps I did. Not sure. Can you fix it? Do you know how to?

[2022-03-17 16:47] miguelriemoliveira commented on #367
Do you want to zoom?

[2022-03-17 16:50] danifpdra commented on #367
Sure, we can zoom

[2022-03-17 16:52] miguelriemoliveira commented on #367
ok, I am there.

[2022-03-17 17:56] miguelriemoliveira commented on #367
running with

    roslaunch larcc_calibration collect_data.launch output_folder:=~/datasets/larcc/test_1min overwrite:=true bag_rate:=0.4 ssl:='lambda name: name in ["lidar_1", "lidar_2", "lidar_3"]'

[2022-03-17 17:57] miguelriemoliveira commented on #367
Created this very small dataset:
[test_1min.zip](https://github.com/lardemua/atom/files/8288728/test_1min.zip)

[2022-03-17 18:04] miguelriemoliveira commented on #367
Hi @DanielCoelho112 ,

we already were able to produce a dataset. Can you tell us how to use the dataset playback?

[2022-03-17 21:34] manuelgitgomes commented on #366
Good evening, I'm having a bit of trouble editing the mesh for atlascar. Do we have access to a normal model (.sldpart, .step, etc..)?

[2022-03-17 21:42] miguelriemoliveira commented on #366
Not really. Can't you convert it?

On Thu, Mar 17, 2022, 21:35 Manuel Gomes ***@***.***> wrote:

[2022-03-17 21:47] manuelgitgomes commented on #366
I can, but it was taking too long due to the detail of the mesh.
I'll leave it converting overnight, tomorrow morning I will bring news.

[2022-03-18 11:51] miguelriemoliveira commented on #366
That's strange. The mesh should be small, or else it will hamper rviz ...

[2022-03-18 18:09] DanielCoelho112 commented on #367
Hi @miguelriemoliveira  and @danifpdra,

The dataset_reviewer already works with the larrc.
See video of the demonstration: https://uapt33090-my.sharepoint.com/:f:/g/personal/danielsilveiracoelho_ua_pt/Et9ODaKK3c9Pp0o3yfckG4gB_cqIswh95v-AclJaxfy_Rg?e=W51L9z

commands:

    roslaunch larcc_calibration dataset_playback.launch
    rosrun atom_calibration dataset_playback2 -json $ATOM_DATASETS/larcc/t

[2022-03-18 18:10] DanielCoelho112 commented on #358
This is now totally functional. Works with multiple point clouds.

[2022-03-18 18:10] #358 closed, assigned to DanielCoelho112

[2022-03-20 13:13] manuelgitgomes commented on #366
Solved the first task in this issue.
The mesh was indeed large and after I tried various software programs to convert the mesh to a solid body, I used the program blender to edit the mesh and created the two needed meshes.
The files can be found on [this commit](https://github.com/manuelgitgomes/atlascar2/commit/54b31e106f7e085e5a7c3158acbb6136443625a7), on a fork of the atlascar2 repo.

[2022-03-21 14:58] danifpdra commented on #367
Hi @DanielCoelho112 ,

Great, I will try to produce a bigger dataset and test this.

Just a curiosity: this dataset playback only works to correct LiDARs or it also works with cameras and depth cameras?

[2022-03-21 15:51] DanielCoelho112 commented on #367
Hi @danifpdra,

Ok, if you have any issues or suggestions let me know.

In the future I believe it will also work with different modalities, but at the moment it only works with point clouds.

[2022-03-21 17:21] manuelgitgomes commented on #366
Task number 3 done on commit https://github.com/manuelgitgomes/atlascar2/commit/0e4c36a15ee349c64031f1afe8ca4800ec88b24e (bad comment placed it on issue #336). The world can be seen in the following picture and was found on this [repo](https://github.com/chaolmu/gazebo_models_worlds_collection).

![image](https://user-images.githubusercontent.com/58152228/159327371-9e220def-925d-4b9d-8222-f5ad43bd

[2022-03-21 17:26] danifpdra opened #368 "Problems with depth labelling"
Hi @miguelriemoliveira,

There are some problems with the depth labelling...

![image](https://user-images.githubusercontent.com/47574905/159329761-ad753e3f-e4fc-47c6-9f00-df990cdd4a34.png)

Do you think there is some way to fix it or to add the depth modality to the dataset playback so we can fix it afterwards? (@DanielCoelho112)

[2022-03-21 22:08] miguelriemoliveira commented on #368
Hi @danifpdra ,

yes, we were counting on this. However, I think that we should label the image, rather than the point cloud in this case. As such, this is more similar to the work of @manuelgitgomes .

The problem is this was not finished, right @manuelgitgomes . It was not functional yet, was it?

Since we are pressed to have some results fast I can try to work on this on wednesday and thursday.

[2022-03-21 22:13] miguelriemoliveira commented on #367
Yes, the plan is to also have it working for rgb and depth. @manuelgitgomes was working on it...

[2022-03-21 22:17] miguelriemoliveira commented on #366
Hi @manuelgitgomes ,

the city looks great.

I did not understand the problem with the models very well. Can you please explain?

[2022-03-21 22:55] miguelriemoliveira commented on #367
Very nice video... Add it to the ATOM readme please.

[2022-03-22 00:10] manuelgitgomes commented on #366
Hello @miguelriemoliveira!
Basically, for the same mesh, some programs show it correctly, while others show it with faults.
Gazebo is one of the ones who see it faulty.
I don't know why this happens, but will try to figure it out tomorrow.

[2022-03-22 00:11] manuelgitgomes commented on #367
That's true, I can work on it next week!

[2022-03-22 00:13] manuelgitgomes commented on #368
Hello to both @danifpdra and @miguelriemoliveira!
As shown on issue #367, the functionality does not exist yet.

[2022-03-22 19:22] miguelriemoliveira commented on #366
Ok. I remembered that the collada files has some configurations that were not supported by rviz ...

[2022-03-22 19:22] miguelriemoliveira commented on #367
Because this is more or less urgent, I will try to pick it up (for the depth modality) tomorrow / thursday. Then we assess what's missing.

[2022-03-22 23:40] manuelgitgomes commented on #366
I found a workaround and the mesh is now functional.
![image](https://user-images.githubusercontent.com/58152228/159593806-ae4e56c0-3680-47cc-9ba0-4a5790c7f1f0.png)
Instead of editing the mesh used on the link Prof. Vitor sent, I edited the one in atlascar2 repo.

[2022-03-23 10:29] danifpdra opened #369 "Disparities between simulation and real world in the collector"
Info from simulated bag:

[code]

info from real bag:

[code]

I checked and the real lidars are outputting at 10hz and simulation at 8hz but the simulated time kinda messes with this.

Also, in the real world the RGB cameras are outputting at 10hz (I don't know why, probably due to the changed resolution) and in simulation also at 8hz, except for depth which is at 30hz in both.

[2022-03-23 16:06] danifpdra opened #370 "Adding function to save collection by collection"
Hi @DanielCoelho112,

Can you implement a feature to save the new labelled collection with the S key or maybe they are saved automatically in a new dataset.json each time we move on to the next collection?

Because this crashed a lot and once it crashed we lose our previous labelled collections...

[2022-03-23 16:14] danifpdra opened #371 "Dataset_playback crashing"
Hi @DanielCoelho112 ,

This is crashing when I click P...

![image](https://user-images.githubusercontent.com/47574905/159745516-e4d2ad79-760d-42a6-9293-3a80a63f8fed.png)

Can you help me? I need to label lidar_3 for all collections. Here is the dataset if you want to take a look at it
[test_ssl.zip](https://github.com/lardemua/atom/files/8334683/test_ssl.zip)

[2022-03-23 16:18] DanielCoelho112 commented on #370
Hi @danifpdra,

Yes I can. But I think the best way for now is after each collection you save the dataset. Then if the program crashes, you can load the dataset_corrected.json and start from there. In this way, you never lose any labeled collection.

[2022-03-23 16:21] DanielCoelho112 commented on #371
Hi @danifpdra,

Hm, that is strange...

Yes, I'll look into it. I'm just finishing something, I'll come back to you in 30 min +/-.

[2022-03-23 16:23] danifpdra commented on #370
Yes, I understand that, but it would be much easier if each collection would be automatically saved each time we move on to another one

[2022-03-23 16:27] danifpdra commented on #371
Maybe I'm doing something wrong. I tried to follow your video...

[2022-03-23 17:10] danifpdra commented on #371
Also, why is the dataset topic lidar_1/velodyne_points but when I run the dataset_playback I had to change the rviz configuration to lidar_1/points?

[2022-03-23 17:28] DanielCoelho112 commented on #371
On my computer, it runs smoothly...

I labeled 5 collections:
[test_ssl.zip](https://github.com/lardemua/atom/files/8335198/test_ssl.zip)

Sometimes I wasn't sure about the limits points, so I think you should check my labeled data.

I also think you are making something wrong in the dataset reviewer, if you want we can meet to see what you are doing.

Btw, pls pull the atom again, I made a minor

[2022-03-23 17:30] DanielCoelho112 commented on #371
The topic name in this tool will always be:

     str(sensor_key) + '/points'

[2022-03-23 17:31] danifpdra commented on #371
On my computer it doesn't work... I've tried multiple times. Would you be able to label the lidar_3 for all the collections in that dataset? I really need to calibrate this system ASAP.

And yes, if you can we can meet to see if I'm doing anything wrong

[2022-03-23 17:32] danifpdra commented on #371
Ok... I will adapt the configure_calibration_package to prevent mistakes in the future.

[2022-03-23 17:32] miguelriemoliveira commented on #371
Hi @DanielCoelho112 ,

if you could implement this automatic recording of the output dataset once we change collection that would be nice.

About this:

I think you should extract the topic name from the config file which was loaded, check this for example for the larcc

https://github.com/lardemua/larcc/blob/12d9254e00b8b9af21ffde57b693ec92fc37d1d6/larcc_calibration/calibration/config.yml#L128

[2022-03-23 17:34] miguelriemoliveira commented on #371
perhaps this is also for @danifpdra because the configure calibration pkg should also check the configuration file ...

[2022-03-23 17:35] danifpdra commented on #371
This what was already being done previously but the names didn't match because the dataset playback always had the "points" so i fixed it to always having 'points'... it's working now but if you change the dataset_playback to read the topic name I will change it back to it's previous state

[2022-03-23 17:36] miguelriemoliveira commented on #371
Yes, I think in this case the fix should be done by @DanielCoelho112  ...

[2022-03-23 17:37] DanielCoelho112 commented on #371
Yes I'll do it, no problem.

Can you meet now? Since I'll label the dataset, I need some advice about the limits points.

[2022-03-23 17:38] danifpdra commented on #371
Sure, enter here https://videoconf-colibri.zoom.us/j/89511191795

[2022-03-23 17:40] DanielCoelho112 commented on #371
Yes, I can, I'll do it after we produce these results.

Ok, I'll change it.

[2022-03-23 18:19] danifpdra commented on #371
![ezgif com-gif-maker](https://user-images.githubusercontent.com/47574905/159768600-5325422b-4adb-4e17-a41f-e311719d5f99.gif)

Sorry to bother you again @DanielCoelho112 ... My plugin stopped working. I don't know why. It was working fine until at some moment it did not work anymore. I tried turning the rviz off and on and the problem presists. Did this happen to you at some point? Do you know how

[2022-03-23 18:32] DanielCoelho112 commented on #371
No, never happen before.

Yes, I will. I'll post it here when I'm done.

No problem, if the tool was working fine you wouldn't bother me :)

[2022-03-24 01:10] DanielCoelho112 commented on #371
Hi @danifpdra,

here it is: [test_ssl.zip](https://github.com/lardemua/atom/files/8337569/test_ssl.zip)

sorry for the delay but I had to fix 1000 problems... It turns out that this code was not prepared for more than 9 collections; long story, but @miguelriemoliveira you owe me my 2 hours back:

https://github.com/lardemua/atom/blob/5660fd170144b1436145060c41059c256c989073/atom_calibration/src/at

[2022-03-24 10:05] danifpdra commented on #371
Thank you very much @DanielCoelho112.

It's when we need stuff that we realise that it has a million errors.

And I believe @miguelriemoliveira owes like a hundred coffee to his PhD students... Just saying.

[2022-03-24 10:17] miguelriemoliveira commented on #371
What is this? A rebellion?

@DanielCoelho112 I wrote those lines just to see if you were paying attention and would notice the error ...

[2022-03-24 10:24] manuelgitgomes commented on #366
Car spawn is successfully done, as can be seen below.
![image](https://user-images.githubusercontent.com/58152228/159895810-f6ae01c3-8c35-4d44-b962-a12c187305a3.png)

Car collisions are also displayed bellow as orange solids:
![image](https://user-images.githubusercontent.com/58152228/159896039-510f1cc9-4f8d-4d1e-8509-53b9dda57106.png)

Next step is to develop the controller!

[2022-03-24 12:37] danifpdra commented on #371
Hi @DanielCoelho112 ,

I just tested you script. It's sooooooooooooooo much better! I can even make big square ahah. Thank you!

[2022-03-24 14:15] DanielCoelho112 commented on #371
I'm sure it was :)

Nice! But I wouldn't make squares too big ahaha

[2022-03-24 14:36] danifpdra commented on #371
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/47574905/159940091-3906df06-15f4-4327-99f5-9e60068f83bb.gif)

Life is too short to be making small squares :-)

[2022-03-24 15:57] miguelriemoliveira commented on #366
Looks very nice! Can you use joint state publisher to change the steering angle?

[2022-03-25 14:35] danifpdra commented on #371
Hi  @DanielCoelho112 ,

FYI, I made some adaption in your dataset_playback2 script because the generated json files were not including the metadata field in the dataset. This field is mandatory now and used by other scripts so I added it to your script. I hope you don't mind.

[2022-03-25 15:45] DanielCoelho112 commented on #371
Hi @danifpdra,

Great, I wasn't aware that we were not including the metadata field... We should keep everything the same to prevent future complications.

Not at all. This way, the next time the script fails I can say it is your fault :)

[2022-03-25 17:13] danifpdra commented on #371
I also made a copy of your script and created dataset_playback_lidar3d (we are separating the revision by modality) with an automatic saving when clicking on S. Sorry, didn't resist!

[2022-03-26 00:14] miguelriemoliveira commented on #369
So here's something really strange ... I implemented the distributed labelers and lidar_3 is still crashing the labeler ...

Will investigate ...

[2022-03-26 00:42] miguelriemoliveira commented on #369
Got it, This was the faulty line.

https://github.com/lardemua/atom/blob/284b7943e467e53a3258de6f673cf852b07654cb/atom_calibration/src/atom_calibration/collect/label_messages.py#L72

it was blocking here trying forever to find three non colinear points.

The problem is there were only two points in the list, so the loop was never ending.

We had a safeguard for when we had 0 points

https://github

[2022-03-26 00:42] miguelriemoliveira commented on #369
@danifpdra , please close if fixed.

[2022-03-26 08:42] miguelriemoliveira opened #372 "Add text to each sensor's interactive marker"
When we have 3 lidar's we have 3 labelers and we don't know which is which ... a text near the marker would help to distinguish.

We could use the description field for that but the color is fixed to white which is not visible  with our white background.

[2022-03-26 08:45] miguelriemoliveira commented on #372
Implemented. @danifpdra what do you think? Does it help?

![image](https://user-images.githubusercontent.com/11350998/160231940-824288b8-6b69-44d5-9b5a-818751c91fe0.png)

[2022-03-28 10:12] danifpdra opened #373 "Configure calibration package with different config.yaml files"
Hi @miguelriemoliveira ,

So I have been saving previous/relevant configuration in larcc like this:

![image](https://user-images.githubusercontent.com/47574905/160376368-5de72cf3-3bc0-405d-88a9-1bbabebb3534.png)

Previously we've thought about having different config.yaml and different calibration folder... But now I was thinking, couldn't we add an option to specify the config.yaml file to some

[2022-03-28 11:33] manuelgitgomes commented on #366
The controller is working with a few bugs, as can be seen [here](https://www.youtube.com/watch?v=UCiW6hJ80Iw).
In the video the steering angle of the wheels is erratic. When moving in front they generally lock in a position where they stop the movement of the vehicle. When turning, they generally function well, sometimes also locking in a certain position.
The problem is not on the collision box o

[2022-03-28 15:58] miguelriemoliveira commented on #373
Hi @danifpdra ,

I agree.

[2022-03-29 10:17] manuelgitgomes commented on #366
I rebuilt the simulation from a stable ackermann vehicle and the problem remained. The problem started appearing after changing the length of the axle, that is, the distance between left and right wheels. It aggravated after correcting the weight.

I also tested the simulation with the vehicle placed on top of a box. The results are shown [here](https://www.youtube.com/watch?v=u-kMuT7NBLo). When a

[2022-03-29 11:38] manuelgitgomes opened #374 "Dataset reviewer - Depth modality"
As seen in issue #368, there are some issues in labelling on the depth modality.
To ease the process, a manual labelling tool should be developed.
Some features:
- Detect a click in the image box and draw it;
- After reclicking the first point (or in its vicinity), a polygon should be drawn inside the points prieviously clicked;
- If needed, a painting tool should be added, to add or remove areas

[2022-03-29 12:47] danifpdra opened #375 "How do I pass arguments from the configure script in package_calibration to the configure calibration package?"
Hi @miguelriemoliveira ,

Can you help me with this?

In each calibration package we have the configure script which has this, for example:

https://github.com/miguelriemoliveira/mmtbot/blob/d347f28c158e101eb7617273f92f315cffecfe3a/mmtbot_calibration/scripts/configure#L1-L4

So I need to pass an option argument -cfg to the configure_calibration_pkg, which specifies a different config.yml, so we wo

[2022-03-29 12:51] danifpdra opened #376 "Adapt configure_calibration_package to not reset the package_calibration/urdf/optimized/ folder and its contents"

[2022-03-29 12:57] #369 closed, assigned to miguelriemoliveira, danifpdra

[2022-03-29 12:58] #371 closed, assigned to DanielCoelho112

[2022-03-29 12:58] #367 closed, assigned to miguelriemoliveira, danifpdra

[2022-03-29 15:16] miguelriemoliveira commented on #375
Hi @danifpdra ,

perhaps we can change the configure script from a shell script to a python script, and then we can easily use arguments?

What do you think? Do you know how to do it?

[2022-03-29 15:26] miguelriemoliveira commented on #376
I think the script is already doing this

https://github.com/lardemua/atom/blob/52d010ba64b365b17c2701a12d7017a4b7de1258/atom_calibration/scripts/configure_calibration_pkg#L102-L108

strange thing, the script had two exit(0) used for debugging. Shouldn't be working.

I removed both exit(0) instructions.

[2022-03-29 15:27] miguelriemoliveira commented on #366
Hi @manuelgitgomes ,

I think you're in the right path. Keep going.

[2022-03-29 15:29] danifpdra commented on #376
Yeah, it was me, I was trying to see if the flag was working so I was stopping it there. Sorry

[2022-03-29 15:30] danifpdra commented on #375
Hi @miguelriemoliveira ,

Ok, I can do it after the demonstration.

[2022-03-29 15:31] miguelriemoliveira commented on #376
No problem.

[2022-03-29 15:31] miguelriemoliveira commented on #375
Ok.

[2022-03-29 17:26] danifpdra commented on #376
i confirm, this folder is not being deleted. closing this now

[2022-03-29 17:34] danifpdra opened #377 "inconsistencies in lidar 3d labelling in real data"
![image](https://user-images.githubusercontent.com/47574905/160670807-d13a720a-65a8-44f7-82a9-bb0820184d93.png)
![image](https://user-images.githubusercontent.com/47574905/160670891-1ed20f2a-d2e1-48f0-a977-b1b758076e1d.png)
![image](https://user-images.githubusercontent.com/47574905/160671062-bd08723d-41c0-479f-8d06-88816955c762.png)
![image](https://user-images.githubusercontent.com/47574905/1606

[2022-03-30 11:23] miguelriemoliveira commented on #377
Hi @danifpdra ,

I wonder if this **threshold** must be tuned.

https://github.com/lardemua/atom/blob/f3ee867bd7806ec72d7654276d0b17d86bd2001f/atom_calibration/src/atom_calibration/collect/label_messages.py#L30

Can you change it to a larger value and see if it works better?

The function call is here:

https://github.com/lardemua/atom/blob/f3ee867bd7806ec72d7654276d0b17d86bd2001f/atom_calibration

[2022-03-30 13:21] danifpdra commented on #374
Hi @manuelgitgomes , @miguelriemoliveira ,

Here is a plugin that I found that is supposed to allow to click on an image

https://github.com/jolting/rviz/commit/fc6922cc2316aecc7d04ffc9073bdd287fe9596c#diff-eb98af8580ee7e9732645c3cbe9b5fc9782cec01a77d04be884ae109728e1a65

[2022-03-30 13:22] manuelgitgomes commented on #374
Thanks! I will look into it!

[2022-03-31 10:37] danifpdra commented on #375
Hi @miguelriemoliveira ,

I learned how to pass arguments and write if statements in shell scripts. I think it works now. I also changed the create_calibration_pkg to comprehend this changes. Can you test with:

`rosrun mmtbot_calibration configure -c config_cameras.yml`

and

`rosrun mmtbot_calibration configure`

?

You can see which file is being loaded in the beginning of the output text.

WAR

[2022-03-31 11:47] miguelriemoliveira commented on #375
Looks good. I do not have time to test now, but if you tested it should be
working.
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Ave

[2022-03-31 12:58] danifpdra commented on #375
ok, closing. Reopen if you come across any problem

[2022-03-31 12:58] #375 closed, assigned to miguelriemoliveira, danifpdra

[2022-03-31 13:02] danifpdra commented on #374
Hi @manuelgitgomes ,

I have here a dataset with unlabelled depth images if you need to test anything: https://we.tl/t-NqYHC5b3mG

Do you need any help with something related with ATOM ou larcc?

[2022-03-31 13:05] manuelgitgomes commented on #374
Thank you @danifpdra! I was going to start to work on this now. If I have any doubts I will mention you

[2022-03-31 13:05] danifpdra commented on #373
Implemented,

Use

`rosrun yourpackage_calibration configure -c new_config_file.yml`

To configure with a different file.

[2022-03-31 13:05] #373 closed, assigned to miguelriemoliveira, danifpdra

[2022-03-31 17:35] manuelgitgomes commented on #366
Issue (finally) solved, as can be seen [here](https://www.youtube.com/watch?v=UWo4ndSZ1XU). The vehicle runs as intended, as can be seen in the video. Thank you to @Sarxell for helping me find the major bug, which was in the conversion from twist to ackermann. Combining this with the reduction of the wheel weight made the vehicle fulfil its purpose.
A minor bug was found, when the car is travellin

[2022-03-31 18:02] miguelriemoliveira commented on #366
Congrats. Looks very nice.

[2022-03-31 23:17] miguelriemoliveira commented on #374
Hi @manuelgitgomes ,

I was looking into the possibility of having and integrated visualization with everything in rviz. I think I can already do what we want. Check the initial result:

![image](https://user-images.githubusercontent.com/11350998/161164594-b2f3a8b9-eacc-4aee-8299-2e5a386a2eda.png)

I am already printing where the mouse was clicked. Its not a finished product, but perhaps we can me

[2022-03-31 23:20] miguelriemoliveira commented on #366
... and thanks @sarxell for the help. I added you as a collaborator already.

[2022-04-01 09:34] manuelgitgomes commented on #374
Hello @miguelriemoliveira!
Sorry for the late response. Sure, 11 seems fine to me!

[2022-04-01 10:13] manuelgitgomes commented on #374
Hello @miguelriemoliveira and @danifpdra!
When compiling my catkin workspace after downloading the [Universal Robotics Repo](https://github.com/lardemua/universal_robot) I got an error in an include:
`<moveit/kdl_kinematics_plugin/chainiksolver_pos_nr_jl_mimic.hpp>`
I found an issue (ros-industrial/universal_robot#403) solving this problem, albeit not in the default `kinectic-devel` branch. Due to

[2022-04-01 10:17] danifpdra commented on #374
Hi @manuelgitgomes ,

You have to use the calibration_devel to use universal_robot with larcc, not the default one!

[2022-04-01 10:18] miguelriemoliveira commented on #374
Sorry i am blocked at the bank. Will call you soon

On Fri, Apr 1, 2022, 10:34 Manuel Gomes ***@***.***> wrote:

[2022-04-01 10:28] manuelgitgomes commented on #374
It works, thank you very much!

[2022-04-01 10:37] danifpdra commented on #374
Not a problem. Let me know if you need anything else

[2022-04-01 10:41] miguelriemoliveira commented on #374
Is this info somewhere in the installation section of the readme?

[2022-04-01 10:42] danifpdra commented on #374
It was not but now it is

[2022-04-01 10:50] #376 closed, assigned to miguelriemoliveira

[2022-04-01 10:50] miguelriemoliveira opened #378 "Creating an image display rviz plugin with clicking functionality"
For the atom dataset reviewer to be fully integrated we need this functionality.

The idea is to develop an rviz plugin in a package called

atom_rviz_plugin which will have this functionality ...

@manuelgitgomes will work with me on this.

@danifpdra FYI ...

[2022-04-01 10:51] danifpdra commented on #372
Hi @miguelriemoliveira ,

Would it be possible that the color of the marker's text matches the color of the cloud labeller? It would be easier to identify which is which

[2022-04-01 12:10] miguelriemoliveira commented on #378
Publication is working now

![image](https://user-images.githubusercontent.com/11350998/161260629-66c3523b-9dd3-43ce-b2bd-8e1d44a86a80.png)

[2022-04-01 12:13] miguelriemoliveira commented on #378
Now for the topic type I suggest to use this:

http://docs.ros.org/en/api/geometry_msgs/html/msg/PointStamped.html

will try to implement this afternoon ...

[2022-04-01 12:56] miguelriemoliveira commented on #372
Hi @danifpdra ,

the problem is that the color of each sensor is created in the configure_calibration_pgk

https://github.com/lardemua/atom/blob/2d2aeeb2a90a9881124d11eb289287470c82a293/atom_calibration/scripts/configure_calibration_pkg#L103-L104

and this marker is being created on the collector ... I will try to do it, will get back to you.

[2022-04-01 13:04] danifpdra commented on #372
The colormap can't be created in the same way in the collector?

[2022-04-01 13:08] danifpdra opened #379 "Data with tripod"
Hi @miguelriemoliveira and @vitoruapt , FYI

![image](https://user-images.githubusercontent.com/47574905/161269828-79ccece5-8184-47f6-bb7b-1777dfb2b046.png)

[2022-04-01 13:08] miguelriemoliveira commented on #372
Yes, that's my idea, although its not ideal because once you change the first, you'll forget to change the second.

[2022-04-01 13:11] danifpdra opened #380 "Depth labelling is not discarding edges in the image limits?"
@miguelriemoliveira , I was looking at the depth labelling and it seems we are not discarding the depth edges that coincide with the images' limits. Or is it just a visualization "problem"?

![image](https://user-images.githubusercontent.com/47574905/161270043-49123809-209c-4ddb-a3e1-b43c4264f285.png)

[2022-04-01 13:12] danifpdra commented on #372
Isn't there a way to get the color automatically?

[2022-04-01 13:15] danifpdra commented on #380
I was checking here where the idx_limits are set and I don't see any filtering. Am I missing it?

https://github.com/lardemua/atom/blob/2d2aeeb2a90a9881124d11eb289287470c82a293/atom_calibration/src/atom_calibration/collect/label_messages.py#L530-L575

[2022-04-01 13:35] miguelriemoliveira commented on #380
Right, I don't see any. It should be implemented.

Another option which I am not sure its better (we should discuss) is to set the detected to false if we see that the pattern is near the borders.

I say this because I am not sure if the objective function is not misled by the fact that we have borders missing.

In any case, the objective function is surely misled if we have incorrect borders dues

[2022-04-01 13:37] miguelriemoliveira commented on #372
There is the one in the code above, but if I change the colormap for example I must do it also in the other place.

[2022-04-01 13:42] danifpdra commented on #380
We have partial detections in the LiDAR and seems to handle well those collections... Isn't the philosophy the same?

[2022-04-01 13:44] danifpdra commented on #372
Couldn't we save the colors somewhere when we run the configure_calibration_pkg and read them in the collector?

[2022-04-01 13:54] miguelriemoliveira commented on #378
Some progress. Now the topic name is automatically configured. For example, if the image topic is

    camera_1/rgb/image_raw

then the topic which will contain the clicked coordinates will be:

    camera_1/rgb/image_raw/click

Also, it works if we change the image topic on runtime.

[2022-04-01 13:56] miguelriemoliveira commented on #380
Do we? I though we never had partial detections in the lidars ... Am I missing something? Can you show an example?

[2022-04-01 13:58] miguelriemoliveira commented on #372
We could but I think this would complicate things even more. My suggestion is to do the same colormap code line in both, and add a note near that line saying if we change this we should also change it on file x, line y. Can you do it @danifpdra ?

[2022-04-01 14:00] danifpdra commented on #380
For example here there is a corner missing
![image](https://user-images.githubusercontent.com/47574905/161278694-d3155fda-478a-47d9-a9ba-3397cbd0bb08.png)

[2022-04-01 14:01] danifpdra commented on #372
ok, no problem

[2022-04-01 14:05] miguelriemoliveira commented on #380
You are right.

Now thinking better about this, all we do is pick up these points and see how far they are from any border in the ground truth of the pattern.

If this is definitely the way we do it (I mean, it cannot be the other way around), then the objective function should not be misled if we just delete some boundaries.

That's exactly what happens here, the top and the bottom boundaries are

[2022-04-01 14:47] danifpdra commented on #380
So the conclusion is that we should implement the filtering of those edge points?

[2022-04-01 15:02] miguelriemoliveira commented on #380
Yes. We dont need to make the entire label false, just remove those points
near the image borders.

On Fri, Apr 1, 2022, 15:47 Daniela Rato ***@***.***> wrote:

[2022-04-01 15:04] danifpdra commented on #380
Ok. Should I implement or you rather do it yourself?

[2022-04-01 15:07] miguelriemoliveira commented on #380
Please do it. I am working on the rviz plugin ...

On Fri, Apr 1, 2022, 16:04 Daniela Rato ***@***.***> wrote:

[2022-04-01 15:58] danifpdra commented on #380
https://we.tl/t-ugvspPNkEY

[2022-04-01 16:07] danifpdra opened #381 "Kinect depth images not correctly saved"
![depth_camera_1_0](https://user-images.githubusercontent.com/47574905/161301066-66877988-4e82-4b40-a442-03bedaeb03a1.png)

[2022-04-01 17:39] manuelgitgomes commented on #366
Documentation of this feature was made. Issue closed.

[2022-04-01 17:39] #366 closed, assigned to manuelgitgomes

[2022-04-01 17:52] miguelriemoliveira commented on #378
Hi @manuelgitgomes ,

Just commited a first functional version. Call me when you want to look into it.

[2022-04-01 17:55] manuelgitgomes commented on #378
Thank you professor @miguelriemoliveira!
I think tomorrow morning I will work on jt!

[2022-04-02 14:25] miguelriemoliveira commented on #378
![image](https://user-images.githubusercontent.com/11350998/161387705-65edddd7-96e4-415e-b846-3a3cbecfc4c8.png)

Made a simple example of a python node that subscribes the click msgs and draws lines on the image...

[2022-04-02 14:27] miguelriemoliveira commented on #378
Hi @manuelgitgomes ,

This last commit creates a complete pipeline of what we want. I will now stop working on this and leave it for you ok?
If you need help just let me know.

[2022-04-02 14:32] manuelgitgomes commented on #378
Ok, sorry for not doing it this morning.
Thank you very much!

[2022-04-02 14:34] miguelriemoliveira commented on #378
The idea was you worked with me. But its not a problem. Now if you need help let me know.

The goal is to have a python node that receives the click messages and allows the user to define the boundary of the pattern.

[2022-04-02 14:34] miguelriemoliveira commented on #378
Perhaps a new issue?

[2022-04-02 14:55] danifpdra commented on #380
Hi @miguelriemoliveira ,

![image](https://user-images.githubusercontent.com/47574905/161388937-d75239fa-2023-4cb9-a2d8-9a1c87bd6022.png)

Working

[2022-04-02 15:01] danifpdra commented on #376
Hi @miguelriemoliveira, can you pull larcc so you have this updates? You are pushing other versions before pulling and it's causing merge conflits

[2022-04-04 09:04] manuelgitgomes commented on #378
I have the issue #374 for that!

[2022-04-04 09:06] #380 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-04 11:27] manuelgitgomes commented on #378
Added the "black bars on the side" functionality. I believe with this everything on this plugin is done, now work can be done on a dataset_reviewer for depth/rgb images. Results can be seen [here](https://youtu.be/JlDUARzRtGMl).
I believe this issue can be close, with further work in #374.

[2022-04-04 16:00] miguelriemoliveira commented on #378
I @manuelgitgomes .

Nice. Agree, the issue can be closed for now. Perhaps later we could include some key pressing event.

[2022-04-04 16:01] miguelriemoliveira commented on #378
ok, great.

[2022-04-04 16:04] miguelriemoliveira commented on #376
Already pulled.

[2022-04-04 16:32] danifpdra opened #382 "Error when running calibration script"
Hi @miguelriemoliveira

The calibration script is throwing me this error... Do you know what this is about?

[code]

[2022-04-04 16:34] danifpdra commented on #382
Dataset: https://we.tl/t-en7fH5qt8t

Commands:
`roslaunch larcc_calibration calibrate.launch dataset_file:=$ATOM_DATASETS/larcc_real/train_dataset/dataset_correct.json run_calibration:=false`

`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/larcc_real/train_dataset/dataset.json -nig 0.00 0.00  -ipg -si -rv -ssf 'lambda name: name in ["lidar_1","lidar_2","lidar_3", "camera_2", "camera_

[2022-04-04 16:34] miguelriemoliveira commented on #382
Yes, the error appears when we set the upper bound to the same value as the lower bound.

Can you tell me how to replicate to see if I get the same error? (I was writing it and received the post above, uau, what efficiency)

[2022-04-04 16:34] miguelriemoliveira commented on #382
Let me try it.

[2022-04-04 16:35] danifpdra commented on #382
I am always a step ahead

[2022-04-04 16:39] danifpdra commented on #382
Btw I updated the xacro, you might have to pull

[2022-04-04 16:40] miguelriemoliveira commented on #382
I confirm the problem. I also just pulled. Will look into it...

[2022-04-04 16:40] danifpdra commented on #382
It was working fine in my previous dataset

[2022-04-04 16:44] miguelriemoliveira commented on #382
did you run with the previous xacro? Does it run? I am investigating but will have a meeting now. Will tell you something later.

[2022-04-04 16:48] danifpdra commented on #382
I only changed the table's position, shouldn't influence anything. Anyway in the calibration I think the xacro isn't used... only in the collector and everything worked there

[2022-04-04 17:37] miguelriemoliveira commented on #382
Expanded the optimization utils class printParameters method to also show the min and the max values per parameter.

![image](https://user-images.githubusercontent.com/11350998/161598852-03a8dcf4-ef76-4e1a-9478-b34145f9a631.png)

You have to go to the right to visualize. Problem is for some links (i.e. for those related with the rectangularbeam2_gantry-lidar_2_base_link_x, which I assume are the o

[2022-04-04 17:38] miguelriemoliveira commented on #382
See if it works for you...

[2022-04-04 17:39] danifpdra commented on #382
It's weird, the lidar_2 is the anchored sensor... It shouldn't even be optimizing

[2022-04-04 17:40] danifpdra commented on #382
I confirm that it's working, thanks

[2022-04-04 17:42] miguelriemoliveira commented on #382
in fact anchored sensors are optimized as well, but with min and max values very close to the initial value of the parameter, so in practice they do not move.

[2022-04-04 17:51] danifpdra commented on #382
Ok, thank you for the help. Closing this now

[2022-04-04 17:51] #382 closed, assigned to danifpdra

[2022-04-05 09:33] danifpdra opened #383 "Weird labels on RGB images"
Hi @miguelriemoliveira ,

Is this normal during calibration?

![image](https://user-images.githubusercontent.com/47574905/161724813-427636ce-45da-416c-a5fa-0ce1a776d326.png)

[2022-04-05 20:53] miguelriemoliveira commented on #383
Hi @danifpdra ,

I think so, because:

   - squares are the ground truth
   - dots are the current projections of the pattern corners to the image, using the currently estimated transformations (and intrinsics)
   - crosses are the projection obtained using the initial values of the transformations

So in the end what we want are the dots inside the squares. That's what's happening, so it seems fi

[2022-04-06 08:58] miguelriemoliveira opened #384 "View pattern with smaller images"

[2022-04-06 09:01] miguelriemoliveira commented on #384
FYI @danifpdra

[2022-04-06 10:04] danifpdra commented on #384
Is this fixed?

[2022-04-06 11:08] miguelriemoliveira commented on #384
Not yet... you need it now?

On Wed, Apr 6, 2022, 11:04 Daniela Rato ***@***.***> wrote:

[2022-04-07 08:59] manuelgitgomes commented on #378
Hello @miguelriemoliveira and @danifpdra!
I'm reopening this issue due to a bug on this plugin. When opening an image_click window with an image window open or vice versa, rviz crashes with this error:

`
[ WARN] [1649321690.502808192]: SEVERE WARNING!!! A namespace collision has occured with plugin factory for class atom_rviz::ImageDisplayWithClick. New factory will OVERWRITE existing one. This s

[2022-04-07 09:32] manuelgitgomes commented on #378
Found this [website](https://answers.ros.org/question/321679/nodelet-namespace-collision-warning/) giving some answers.
I think I will leave this issue behind and work fully on issue #374 for now

[2022-04-07 10:04] #381 closed, assigned to danifpdra

[2022-04-07 10:42] miguelriemoliveira commented on #378
Hi @manuelgitgomes ,

I had this problem also, but it was a warning only, rviz did not crash.

I will try to solve.

[2022-04-07 11:56] miguelriemoliveira commented on #378
I did several tests but for now could not make it work ... Will continue in the afternoon.

[2022-04-07 13:05] manuelgitgomes commented on #378
Ok, thank you very much.
To verify I also had this writing after the warning. It may help us better understand the problem

`
[ WARN] [1649336619.799353577]: OGRE EXCEPTION(4:ItemIdentityException): SceneManager instance called 'ImageDisplay0' already exists in SceneManagerEnumerator::createSceneManager at /build/ogre-1.9-kiU5_5/ogre-1.9-1.9.0+dfsg1/OgreMain/src/OgreSceneManagerEnumerator.cpp (lin

[2022-04-07 13:37] miguelriemoliveira commented on #378
Thanks @manuelgitgomes ,

I searched around. Actually, these are different errors. The Ogre one only occurs when you have in rviz both a display of type **ImageDisplayWithClick** and another of **ImageDisplay**.

I was able to solve this problem, however, the first warning about the namespace collision I still don't know how to solve ...

[2022-04-07 14:19] manuelgitgomes commented on #378
Hello @miguelriemoliveira!
Solving this OGRE problem, rviz does not crash anymore.
There is a bug that might possibly be from the namespace warning.
When loading an **ImageDisplayWithClick** window when an **ImageDisplay** window is already open, the first one always displays the same as the second one. When the **ImageDisplay** window is closed, the **ImageDisplayWithClick** displays the "No Imag

[2022-04-07 15:03] danifpdra opened #385 "Is there any way to make the depth labeler less sensitive to the black holes in the chessboard?"
![image](https://user-images.githubusercontent.com/47574905/162230363-d01a5b4d-e5a7-477e-825e-733abdec6e25.png)
![image](https://user-images.githubusercontent.com/47574905/162230380-1085505a-6ad4-4a11-94cd-ebd5b60cb347.png)

[2022-04-07 17:36] manuelgitgomes commented on #374
I have implemented a rudimentary version of the depth labeller. Currently, the dataset reviewer subscribes points from the _image with click_ plugin. After receiving a point, it draws a square around it. When clicking another time, a line is drawn between the points, and so on and so forth. When the user clicks in a tolerance radius around the first point, the script assumes the polygon is complet

[2022-04-07 17:41] danifpdra commented on #374
Hi @manuelgitgomes ,

The new dataset is here: https://we.tl/t-clTzUIwq95

[2022-04-07 17:41] manuelgitgomes commented on #374
Thank you very much!

[2022-04-07 18:19] danifpdra commented on #374
Looks good!

[2022-04-07 18:34] miguelriemoliveira commented on #374
I agree. I think the sampling is not going well. I see to few points on the sides ...

[2022-04-07 18:40] miguelriemoliveira commented on #378
I have tried all afternoon to bring stuff from rviz that is needed. I am now with 10 copied files from rviz in an attempt to compute our image_display_with_click.

I give up for now.

Another even more interesting avenue would be to have this functionality integrated into rviz.

I wrote a message here.

https://github.com/ros-visualization/rviz/issues/916

Let's see the replies.

[2022-04-07 19:34] danifpdra opened #386 "(Another) error when trying to calibrate"
Hi @miguelriemoliveira ,

I am having another error when trying to calibrate...

[code]

Can you help?

How to replicate...

`roslaunch larcc_calibration calibrate.launch dataset_file:=$ATOM_DATASETS/larcc_real/dataset_paper/dataset_correct.json run_calibration:=false`

and

`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/larcc_real/dataset_paper/dataset_corrected.json -nig 0.05 0.05

[2022-04-08 08:14] miguelriemoliveira commented on #386
Good morning. I am working on it. You want to join on zoom?

[2022-04-08 08:19] miguelriemoliveira commented on #386
I can replicate the error. Thanks for the easy setup...

[2022-04-08 08:21] miguelriemoliveira commented on #386
BTW, the code takes a long time with initializations, do you have the same error whilst using less collections ?
That would simplify the debugging ...

DID it, same error for using only collection 0

`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/larcc_real/dataset_paper/dataset_corrected.json -nig 0.05 0.05 -ipg -si -rv -ssf 'lambda name: name in ["lidar_1","lidar_2","lidar_3", "cam

[2022-04-08 08:24] miguelriemoliveira commented on #386
So the problem is having nan in some residuals (I used verbose mode to check the errors):

[code]

Will now try to find why this happens ... strange that it happens both for and rgb sensor (camera_1) and a depth_sensor (depth_camera) ...

[2022-04-08 08:27] miguelriemoliveira commented on #386
Printing the parameters to see if there were some nans there ... all seems normal:

[code]

[2022-04-08 08:29] miguelriemoliveira commented on #386
I think I have to dig in the objective function. I will start with the rgb since its more familiar to me ...

[2022-04-08 08:30] danifpdra commented on #386
Hi. Sorry for the late response. Do you still want to zoom?

[2022-04-08 08:32] miguelriemoliveira commented on #386
ok, turning on now...

[2022-04-08 10:39] miguelriemoliveira commented on #386
Hi @danifpdra , can you push the new code please ?

[2022-04-08 10:39] miguelriemoliveira commented on #386
Also, can you give us a 1 min bag for testing...

FYI @manuelgitgomes

[2022-04-08 10:40] miguelriemoliveira commented on #386
Sorry I mean we need a dataset, not a bagfile.

[2022-04-08 10:49] danifpdra commented on #386
The code is pushed, I will give you a bagfile in case you want to run the test_label_depth but the dataset will take me a few time

[2022-04-08 11:02] danifpdra commented on #386
small bagfile here https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EUlU4WxpgLNPsyEk2HFBh1EBVoQ8f7U2Nudrbbqh_B3Upw?e=DnSZyy

[2022-04-08 12:56] danifpdra commented on #386
I think this dataset will do for what you need https://we.tl/t-wSqazuswDq

[2022-04-08 17:40] miguelriemoliveira commented on #374
Finally the labelling is working much better now.

When the edges are on top of a nan in the depth image, we find the nearest white pixel.

Before manual labelling:

![image](https://user-images.githubusercontent.com/11350998/162493519-278a7023-2a35-4443-b84b-be5465f8e4f0.png)

We define the polygon with little care about being close to the pattern

![image](https://user-images.githubusercontent.c

[2022-04-08 17:40] miguelriemoliveira commented on #374
thanks @manuelgitgomes for all the help.

[2022-04-08 17:46] miguelriemoliveira commented on #385
Don't think so. In these extreme cases better use the manual labeller.

I am closing the issue.

[2022-04-08 17:46] #385 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-08 17:52] miguelriemoliveira commented on #374
Hi @manuelgitgomes ,

One improvement is to find the closest pixel bellow a certain distance, to allow for cases where the boundary of the pattern has a black region. What do you think?

[2022-04-08 17:57] miguelriemoliveira opened #387 "Why are the kinect images with channels inverted?"
![camera_2_27](https://user-images.githubusercontent.com/11350998/162495979-9ba43d9a-cf5b-41c9-8ed6-633a21832a2f.jpg)

Our fanuc looks like a motoman!

@danifpdra can you try to fix this?

[2022-04-08 18:04] manuelgitgomes commented on #374
Hello!
When do those cases occur?

[2022-04-08 18:08] danifpdra commented on #387
Hi @miguelriemoliveira ,

That's not the Kinect... That's the Astra. And that only happens when collecting data, the bagfile is fine.

[2022-04-10 16:06] eupedrosa commented on #387
OpenCV uses by default BGR and not RGB...

[2022-04-10 18:17] miguelriemoliveira commented on #387
Hum, strange. I will look into it.

[2022-04-10 18:23] miguelriemoliveira commented on #374
Hi @manuelgitgomes ,

I saw a case a couple of weeks ago but now cannot locate it. Let's leave it at that.

@danifpdra can you test the labelling (auto and manual) to see if its ok?

[2022-04-10 18:24] danifpdra commented on #374
Hi @miguelriemoliveira,

Can you tell me how?

[2022-04-10 18:29] miguelriemoliveira commented on #374
Just try to do a data collect in larcc and see if the depth labelling is working fine.

Then you can run a dataset and see if the playback dataset is able to redo the labellings ok.

We just some external feedback to see if all is well.

[2022-04-11 09:42] miguelriemoliveira commented on #378
I was able to integrate this in rviz and just created a pull request. Lets see it is accepted.

https://github.com/ros-visualization/rviz/pull/1737

@manuelgitgomes  and @danifpdra , in the meantime you could use my rviz fork which works fine:

https://github.com/miguelriemoliveira/rviz

Just do a

    sudo apt-get remove ros-noetic-rviz

and then git clone to your catkin_ws.

[2022-04-11 10:50] manuelgitgomes commented on #378
That's great! Thank you!

[2022-04-12 01:22] miguelriemoliveira commented on #374
Hi @danifpdra ,

me and @manuelgitgomes were working on this. It should be working well for multiple collections. Can you try?

s for save, q for quit (also works)

[2022-04-12 08:37] danifpdra commented on #374
hi @miguelriemoliveira,

The selected Points Publisher for lidar now doesn't work and all the keyboard keys stopped working at collection 5. I couldn't go back, go forward or even save so I lost what I had... With the CTRL+C it was possible to save when this happened because it was a signal callback but now it isn't. For depth this isn't a big problem, but for lidar it is because it's very time co

[2022-04-12 09:11] manuelgitgomes commented on #374
Hello @danifpdra.
@miguelriemoliveira and I will work on this ASAP.
Thank you for the feedback.

[2022-04-12 09:21] danifpdra commented on #374
Hi @manuelgitgomes ,

Also, in these prints:

[code]

We start with collection 0 and when we change, it says collections 0 again e it's always one collection behind...

[2022-04-12 09:29] #386 closed, assigned to miguelriemoliveira

[2022-04-12 09:30] #383 closed, assigned to danifpdra

[2022-04-12 09:34] danifpdra opened #388 "Calibration stops after Computing sparse matrix...."
Hi @miguelriemoliveira ,

When trying to calibrate using

`roslaunch larcc_calibration calibrate.launch dataset_file:=$ATOM_DATASETS/larcc_real/dataset_test/dataset_corrected.json run_calibration:=false`

and

`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/larcc_real/dataset_test/dataset_corrected.json -nig 0.05 0.05  -ipg -si -rv -ssf 'lambda name: name in ["lidar_1","lidar_2","lida

[2022-04-12 10:46] #388 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-12 15:13] danifpdra commented on #374
Hi @manuelgitgomes, @miguelriemoliveira ,

Why is the sample_solid_points not working in the dataset_playback?

I changed it in both the collector and dataset_playback to 3...

From collector:

![image](https://user-images.githubusercontent.com/47574905/162995051-7782d08b-6eb2-46cc-b6a9-3c4356d7ca8b.png)

After manual labelling:

![image](https://user-images.githubusercontent.com/47574905/16299527

[2022-04-12 18:07] manuelgitgomes commented on #374
Hello @danifpdra and @miguelriemoliveira.
In regards to the lidar3d manual labeller, when the user clicks on "c", all the idxs for the selected sensor are erased. Should it stay like this or should it erase everything?

[2022-04-12 18:23] miguelriemoliveira opened #389 "Daniel test issue"
https://github.com/lardemua/atom/blob/5e6ef3d7d6813c76e3e511438061e109fb7df50e/atom_calibration/scripts/dataset_playback#L493

[2022-04-12 18:23] #389 closed, assigned to nobody

[2022-04-12 18:38] miguelriemoliveira commented on #374
like this I think ...

[2022-04-12 19:20] manuelgitgomes commented on #374
The code seems to function, though further tests are needed.
Functionalities added are the auto-saving of the labels when changing collections.
Some bugs were fixed:

- The program after sending an empty message through the selected_points_publisher. Solved by not computing if the pointcloud message is empty;
- The program would not listen to the keyboard after a non-letter key was pressed (ctrl,

[2022-04-12 21:09] miguelriemoliveira commented on #374
Hi @manuelgitgomes ,

thanks for the detailed list of changes. I will pick up from here and try to fix this bug, and eventually try to improve the style here and there. If you want to join give me a call...

[2022-04-12 23:39] miguelriemoliveira commented on #374
Sory @manuelgitgomes did not advance tonight. I was for 3 hours configuring vscode : - )

I will try to do a bit more tomorrow...

[2022-04-13 08:13] miguelriemoliveira opened #390 "We should talk to Daniel to understand why sorting was a problem."
[code]

https://github.com/lardemua/atom/blob/4b49504966a7af7cf2160b4f508f175678fda830/atom_calibration/scripts/dataset_playback#L58

[2022-04-13 08:13] miguelriemoliveira commented on #390
This issue was created directly in vscode ... uau! Now I don't have any effort to give you guys additional work ...

[2022-04-13 08:33] DanielCoelho112 commented on #390
vscode is awesome :)

The problem with sorting is that we are sorting characters and not integers. So if we have more than 10 collections, the sorted collections will be: ['0', '1','10','11','2']. I didn't want to change the code, so I replicated the functions.

With the sorting as it is, when we are moving from collection to collection, we jump from 1 to 10...

[2022-04-13 08:59] miguelriemoliveira commented on #390
Ah, ok. I will try to solve it in a better way, because having duplicate functions is not ideal.

[2022-04-13 08:59] miguelriemoliveira commented on #390
But I am lost  because this latest version is commented. Is that you @manuelgitgomes ?

[2022-04-13 09:10] manuelgitgomes commented on #390
Yes! I compared the used one with the original one and no difference was found, so i commented it.

Obter Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Miguel Riem de Oliveira ***@***.***>
Sent: Wednesday, April 13, 2022 10:00:09 AM
To: lardemua/atom ***@***.***>
Cc: Manuel Gomes ***@***.***>; Mention ***@***.***>
Subject: Re: [lardemua/atom] We should talk to

[2022-04-13 09:17] miguelriemoliveira commented on #390
Thanks @manuelgitgomes ,

I will try to fix the bug of crashing when we select many points.

[2022-04-13 10:56] miguelriemoliveira commented on #390
This was a very hard one. @DanielCoelho112 , now it's working:

![image](https://user-images.githubusercontent.com/11350998/163165812-adaa5036-05f0-47a1-9c16-17ac62764851.png)

In commit 152aa3ffc39aa342124470c59cd1fef55cb83e08

[2022-04-13 11:16] danifpdra commented on #388
@miguelriemoliveira ,

Are you trying to cause me bugs on purpose?!?!?!

![image](https://user-images.githubusercontent.com/47574905/163168683-9cdd9221-1c50-4884-9108-21923d127609.png)

[2022-04-13 12:11] miguelriemoliveira commented on #388
Sorry ... not on purpose ...

[2022-04-13 12:51] danifpdra opened #391 "Depth labellings displacement when calibrating"
Hi @miguelriemoliveira ,

This is not normal, right?

![image](https://user-images.githubusercontent.com/47574905/163183776-6f6eccd1-6f16-4af6-9324-da62a44fcdb6.png)

[2022-04-13 13:08] DanielCoelho112 commented on #390
Great!! @miguelriemoliveira

1h30 with me and we get nothing. You try for 5 min, and you solve it... Looks like I was slowing you down ahah

[2022-04-13 13:15] miguelriemoliveira commented on #390
It was luck ...

On Wed, Apr 13, 2022, 14:08 Daniel Coelho ***@***.***> wrote:

[2022-04-13 13:19] miguelriemoliveira commented on #391
Not normal. Can you try to calibrate using a dataset which has not been
manually labeled?
Same  problem?

On Wed, Apr 13, 2022, 13:51 Daniela Rato ***@***.***> wrote:

[2022-04-13 13:21] danifpdra commented on #391
Sure, I can do that...

Do you have time to zoom today? I'm having some problems regarding your rviz inventions

[2022-04-13 13:42] danifpdra commented on #391
Same dataset but calibrating using dataset.json and not dataset_corrected.json ... It does not occur.

I think I know what the problem might be

![image](https://user-images.githubusercontent.com/47574905/163193866-2a18d34d-1456-4d42-bf95-1b56b5853119.png)

[2022-04-13 13:45] danifpdra commented on #391
I think it's those little displacements in the idxs_limit_points that sometimes go out of the chessboard

![image](https://user-images.githubusercontent.com/47574905/163194312-352cccf6-31bf-430b-b484-147fbb19084c.png)
![image](https://user-images.githubusercontent.com/47574905/163194346-e8997ebd-5e9b-4e95-ac7f-c78f04c91ff7.png)
![image](https://user-images.githubusercontent.com/47574905/163194388-

[2022-04-13 13:59] danifpdra opened #392 "Gantry Xacro in front of calibrated camera in Rviz"
With Xacro on

![image](https://user-images.githubusercontent.com/47574905/163197318-96c08106-52a8-4b22-9373-ad09963b5af4.png)

Without xacro on

![image](https://user-images.githubusercontent.com/47574905/163197396-7c8140b0-2885-4f90-ae6f-e64e473ea7ce.png)

[2022-04-13 14:03] danifpdra commented on #391
The depth calibration using the optimized xacro is very good

![image](https://user-images.githubusercontent.com/47574905/163197727-ff8421a9-ff85-4649-9166-0043b417226c.png)

You can check this using

`roslaunch larcc_calibration playbag.launch optimized:=true`

If you use the 1min bag that I gave you that was recorded in the tripod (bag_tripod_1min.bag https://uapt33090-my.sharepoint.com/:u:/g/pe

[2022-04-13 18:21] miguelriemoliveira commented on #392
Hi @danifpdra ,

how about the alignment of teh lidars with the xacro? How is it? Can you post an image?

[2022-04-13 18:22] miguelriemoliveira commented on #391
Congratulations @danifpdra on the great work.

@vitoruapt did you see these results from Daniela?

[2022-04-13 19:07] miguelriemoliveira commented on #391
Which dataset are you using? Which collection?

[2022-04-13 19:15] danifpdra commented on #391
This dataset

https://we.tl/t-lMIcbGFA3M

There are many collections with that problem, it's better if you check it with the dataset_playack

`roslaunch larcc_calibration dataset_playback.launch`

`rosrun atom_calibration dataset_playback -json $ATOM_DATASETS/larcc_real/dataset_train/dataset_corrected.json -uic -si`

[2022-04-13 19:20] miguelriemoliveira commented on #391
Thanks. Just another thing: the problem that you are having is on the idxs or the idxs_limits, i.e., what do the colored cubes stand for?

[2022-04-13 19:25] danifpdra commented on #391
The problem is the idxs_limits

[2022-04-13 19:26] miguelriemoliveira commented on #391
Hi @danifpdra ,

I tested. In these cases I think we have to be carefull defining the polygon, like this:

![image](https://user-images.githubusercontent.com/11350998/163255051-216e0c96-db04-4af5-8598-5b22d10ce979.png)

and it works:

![image](https://user-images.githubusercontent.com/11350998/163255122-4b8f74b9-3b05-47b2-9735-325380b33ae2.png)

I am using collection 3. Am I missing something?

[2022-04-13 19:36] danifpdra commented on #391
I was really careful but sometimes even as careful as can be it still includes those edges

[2022-04-13 21:46] miguelriemoliveira commented on #391
It is better to cut a portion of the pattern than to get data from outside the pattern.

I am not sure if this needs some additional code or not.

[2022-04-13 21:48] miguelriemoliveira commented on #390
I tested today and the collections are presented in order I think.

I am closing this issue, lets reopen if needed.

[2022-04-13 21:48] #390 closed, assigned to manuelgitgomes, DanielCoelho112

[2022-04-13 22:50] miguelriemoliveira opened #393 "Is it really necessary to define the buff_size?"
[code]

https://github.com/lardemua/atom/blob/baff374982775c72b7ca2ea789e12009f4827c0f/atom_calibration/scripts/dataset_playback#L250

[2022-04-14 06:48] miguelriemoliveira opened #394 "Manual annotation of rgb images"
[code]

https://github.com/lardemua/atom/blob/d0540838cc041af59c7d17fc427962e27098d946/atom_calibration/scripts/dataset_playback#L219

[2022-04-14 07:00] miguelriemoliveira opened #395 "Daniel, we should you told me about this one but I would like to talk to you again ... although this function is somewhere else, in the other place it uses the dataset as cache..."
[code]

https://github.com/lardemua/atom/blob/baff374982775c72b7ca2ea789e12009f4827c0f/atom_calibration/src/atom_calibration/dataset_playback/visualization.py#L49

[2022-04-14 07:21] miguelriemoliveira commented on #384
This can be closed right?

[2022-04-14 07:21] miguelriemoliveira commented on #372
Hi @danifpdra , can we close this?

[2022-04-14 07:25] miguelriemoliveira commented on #363
I think this is due to the sampling of solid points that can be configured, so it should be a feature, not a bug.

[2022-04-14 07:25] #363 closed, assigned to miguelriemoliveira

[2022-04-14 07:28] miguelriemoliveira opened #396 "Print a list of keys than the user can use"
I never remember which keys I should use. There should be a print indicating the keys.

Assignees: @DanielCoelho112
Labels: enhancement

https://github.com/lardemua/atom/blob/42a661848d45aa05e7f5974888c1d42d5ac57222/atom_calibration/scripts/dataset_playback#L222

[2022-04-14 07:29] miguelriemoliveira commented on #395
Actually, I was reading about how to pass arguments to decorators and its a bit complicated, so let's leave it as is.

[2022-04-14 07:29] #395 closed, assigned to miguelriemoliveira, DanielCoelho112

[2022-04-14 07:30] miguelriemoliveira commented on #368
This is solved I think.

[2022-04-14 07:30] #368 closed, assigned to danifpdra

[2022-04-14 07:31] #360 closed, assigned to manuelgitgomes, DanielCoelho112, Analtino2021

[2022-04-14 07:32] #346 closed, assigned to danifpdra

[2022-04-14 07:33] #354 closed, assigned to danifpdra

[2022-04-14 07:33] #356 closed, assigned to danifpdra

[2022-04-14 07:33] miguelriemoliveira commented on #359
This is done, right?

[2022-04-14 07:33] #359 closed, assigned to danifpdra

[2022-04-14 07:34] miguelriemoliveira commented on #355
Closing this one. I think with the tripod for holding the pattern and the recent additions to the manual labelling this is not so important.

[2022-04-14 07:34] #355 closed, assigned to danifpdra

[2022-04-14 07:35] miguelriemoliveira commented on #370
Implemented by @manuelgitgomes .

[2022-04-14 07:35] #370 closed, assigned to DanielCoelho112

[2022-04-14 07:55] miguelriemoliveira opened #397 "Is the dataset reviewer fully functional?"
Hi @danifpdra ,

Me, @manuelgitgomes and @DanielCoelho112 worked on the dataset reviewer in the last days.

I think now we have a fully functional solution, but I wanted you to tell us if something is missing.

List of related issues (Please edit and add if any is missing).

- [x] https://github.com/lardemua/atom/issues/396
- [x] https://github.com/lardemua/atom/issues/394
- [x] https://github.com

[2022-04-14 08:04] miguelriemoliveira commented on #387
When I do a

    roslaunch larcc_calibration playbag.launch

the images seem fine ...

![image](https://user-images.githubusercontent.com/11350998/163341540-fa66fb75-f13c-4127-b9ba-2647d1991420.png)

[2022-04-14 08:09] manuelgitgomes commented on #397
That's great, congrats to all! I will test this ASAP.

[2022-04-14 08:48] danifpdra commented on #391
That's not possible at the current state

![image](https://user-images.githubusercontent.com/47574905/163349220-c28e02af-d048-4a72-a06f-861a3e97c631.png)

[2022-04-14 08:49] danifpdra commented on #387
I've told you before, the problem is saving the images, not the bag

[2022-04-14 08:51] danifpdra commented on #387
![image](https://user-images.githubusercontent.com/47574905/163349789-c3614e6b-063f-4bad-826b-cc9b6f8c1b67.png)

The images are also fine in the collector

[2022-04-14 09:38] miguelriemoliveira commented on #391
Don't understand. I will call you.

On Thu, Apr 14, 2022, 09:48 Daniela Rato ***@***.***> wrote:

[2022-04-14 10:00] DanielCoelho112 commented on #396
Hi @miguelriemoliveira,

good idea, I'll do that next week. Or do you need that feature ASAP?

[2022-04-14 10:02] DanielCoelho112 commented on #393
Hi @miguelriemoliveira,

I don't think so, I don't even remember why I did that. Maybe I copied it from somewhere in ATOM.

[2022-04-14 10:16] miguelriemoliveira commented on #396
I think next week is fine. @danifpdra , you know the keys already right?

[2022-04-14 10:18] danifpdra commented on #396
Yes, I know everything. This is not a priority for my work.

[2022-04-14 10:20] DanielCoelho112 commented on #396
Anyway, you have the keys in the plugin_description file:

https://github.com/lardemua/atom/blob/noetic-devel/atom_rviz_plugins/selected_points_publisher/plugin_description.xml

[2022-04-14 10:26] miguelriemoliveira commented on #387
Fixed. Had to convert from rgb8 to bgr8 images before calling imwrite. Tested collecting a dataset and loading with dataset playback. Its working. Will close.

@danifpdra , if you notice something wrong let me know.

[2022-04-14 10:28] #387 closed, assigned to danifpdra

[2022-04-14 10:28] miguelriemoliveira commented on #393
ok, I'll fix it then.

[2022-04-14 10:31] #393 closed, assigned to DanielCoelho112

[2022-04-14 10:41] miguelriemoliveira commented on #396
Hi @DanielCoelho112 ,

I was working on that and since you gave the string with the instructions I used it and it is already implemented in 1c3b238bf3b4564f645b927f1a878b3b6b3c8588.

[2022-04-14 10:41] #396 closed, assigned to DanielCoelho112

[2022-04-14 10:59] danifpdra commented on #391
![image](https://user-images.githubusercontent.com/47574905/163378123-aaa4ed3e-d263-44bc-9785-17b5e5de07dc.png)

[2022-04-14 11:13] miguelriemoliveira opened #398 "Calibration visualization markers with all the namespaces"
@danifpdra

[2022-04-14 11:13] danifpdra commented on #391
![image](https://user-images.githubusercontent.com/47574905/163379969-cf281daa-892c-4fac-9c00-79ba25e763b1.png)

[2022-04-14 11:15] miguelriemoliveira opened #399 "Create an eraser functionality that allows the user to click to erase some boundary points in the depth modality"
Visualize depth data in 3D and allow the user to remove some points. @danifpdra

[2022-04-14 11:24] miguelriemoliveira commented on #398
This was supposed to work like this, e.g. there is a single topic called **~/labeled_data** which will have all rviz markers.

[code]

Then we have for rgb and depth images also the publishing of depth messages on topic

`topic_name = '~c' + str(collection_key) + topic + '/labeled'`

Perhaps it is the articulation between the rviz config files being generated by the configure calibration package t

[2022-04-14 11:33] miguelriemoliveira commented on #398
I think the problem is here in configure_calibration_pkg

[code]

for all sensors its always topic **calibrate/labeled_data**.

If you compare with the examples above of generating rviz for the collect data you see its different.

I will try to fix this afternoon.

[2022-04-14 12:59] danifpdra commented on #398
The problem has to come before that, because all the labelled data is being assigned to the same topic and it should be one marker array per sensor, no?

[2022-04-14 13:11] danifpdra commented on #391
Some calibration results

![image](https://user-images.githubusercontent.com/47574905/163397825-06626790-dc97-4956-a74c-5db0179385bf.png)

[2022-04-14 13:21] danifpdra commented on #384
No, this is not working

[2022-04-14 13:25] danifpdra commented on #384
Fixed. Tested and working. Closing

[2022-04-14 13:25] #384 closed, assigned to miguelriemoliveira

[2022-04-14 14:28] miguelriemoliveira commented on #398
There are two types of labels:

Per sensor labels:
   for rgb sensors, labeled images
   for depth sensors, (should be) labeled depth images

The we have one topic for all 3d information about labels
   for 3dlidar sensors, point clouds and point clouds of the labeled points
   for depth sensors, (sould be) point clouds and point clouds of the labeled points

So its normal to have a single topic w

[2022-04-14 15:24] danifpdra commented on #398
I think maybe it would be more user-friendly in these cases where we only want to see sensor x or sensor y, no?

[2022-04-14 15:36] miguelriemoliveira commented on #398
Ok, i will do it.

On Thu, Apr 14, 2022, 16:25 Daniela Rato ***@***.***> wrote:

[2022-04-14 15:47] miguelriemoliveira commented on #391
I think these are very very good results. I don't think I have seen such a complex system ever being calibrated with a single procedure. When you can post accuracy values.

I told @manuelgitgomes that now he should start assisting you win getting the results, running the evaluations, etc. Feel free to speak to him, I am sure he will help.

We should have a meeting to prepare a scheme of the paper.

[2022-04-14 16:52] danifpdra commented on #391
[code]

Yes, I will do that, thanks.

Sure, I have already a proposal in overleaf...

[2022-04-15 12:48] miguelriemoliveira commented on #398
I think I have done it. For now its only available in the **calibrate** visualization, but will extend to the **dataset_playback**  later on.

We can visualize the labeled data (i.e. the 3D data) separately per sensor.

The script configure calibration package was updated to be aligned with this, so when you try you should reconfigure your calibration package.

![image](https://user-images.githubu

[2022-04-15 12:50] miguelriemoliveira opened #400 "Show projections from the pattern in the depth image"
Hi @danifpdra ,

During calibration, It would be nice to see in the depth image the projections of the pattern. This would give use an idea of whether the calibration is aligning well.  Right now we only show the labeled data.

![image](https://user-images.githubusercontent.com/11350998/163572893-2b096b4b-55b3-47f6-b40f-0c72d467f6de.png)

[2022-04-15 16:08] miguelriemoliveira opened #401 "Verify if the standard folders of a calibration package exist"
[code]

https://github.com/lardemua/atom/blob/4ff75a6c0b2b407c93eae19534803ef617c76bdd/atom_calibration/scripts/configure_calibration_pkg#L185

[2022-04-15 16:27] miguelriemoliveira opened #402 "Does not work if some of the collections in the middles, e.g. '1' are removed. An easy test is to run a -csf "lambda x: x in ['0', '2']""
[code]

https://github.com/lardemua/atom/blob/c061428a5af2bcd59b3cf0139b9594f2d55fb388/atom_calibration/scripts/dataset_playback#L53

[2022-04-16 08:37] #378 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-04-16 08:43] miguelriemoliveira opened #403 "Segmentation fault when selecting many points in rviz"
After all commit 152aa3ffc39aa342124470c59cd1fef55cb83e08 did not solve the problem.

doing :

[code]

will always activate and the point coordinates will never be inserted properly. @DanielCoelho112 I told you it was luck, I just did not know it was **bad luck**. Will look into this.

[2022-04-16 18:45] #403 closed, assigned to miguelriemoliveira, DanielCoelho112

[2022-04-16 18:45] miguelriemoliveira commented on #403
This mandates a new larcc_package reconfiguration, since some topic names have been changed.

Also, you need to recompile the selected_points_publisher.

[2022-04-16 18:58] miguelriemoliveira opened #404 "Separate displays per sensor in calibrate"

[2022-04-16 18:59] miguelriemoliveira commented on #398
Will continue in #404. Closing this one.

[2022-04-17 08:17] miguelriemoliveira commented on #404
Got it

![image](https://user-images.githubusercontent.com/11350998/163706474-b593b40c-fb70-49fd-bdc9-9dc7cf8eb35e.png)

Also revised the topic naming to be more consistent.

[2022-04-17 08:22] #404 closed, assigned to miguelriemoliveira

[2022-04-17 08:26] miguelriemoliveira opened #407 "Separate displays per sensor in dataset_playback"
Following #404 this is the same for dataset_playback.

[2022-04-17 14:56] miguelriemoliveira commented on #398
Working separately of #407 and #404

[2022-04-17 14:56] #398 closed, assigned to miguelriemoliveira

[2022-04-17 14:58] miguelriemoliveira commented on #401
Implemented.

[2022-04-17 14:58] #401 closed, assigned to miguelriemoliveira, manuelgitgomes, Analtino2021

[2022-04-17 14:59] #350 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-17 15:01] miguelriemoliveira commented on #319
Now its working fine for larcc, and also now we have the manual annotator so its less important to do this.

[2022-04-17 15:01] #319 closed, assigned to miguelriemoliveira

[2022-04-17 15:05] miguelriemoliveira commented on #145
We have done this. The field is called modality and it is optional.

[2022-04-17 15:05] #145 closed

[2022-04-17 15:06] #258 closed, assigned to eupedrosa, miguelriemoliveira, aaguiar96

[2022-04-18 08:00] miguelriemoliveira opened #409 "Configure_calibration_package - Generate rviz config for sensors using alphabetic order"
[code]

Because we are following the arbitrary order of the sensors dictionary we have camera 1, then lidar_1, then camera_2, etc.
It would be better to have camera_1, camera_2, lidar_1, etc.

[2022-04-18 09:18] #407 closed, assigned to miguelriemoliveira

[2022-04-18 09:32] miguelriemoliveira opened #411 "This is strange here"
Can we remove this?

[2022-04-18 09:51] #409 closed, assigned to miguelriemoliveira

[2022-04-18 09:58] miguelriemoliveira opened #413 "Dataset playback only shows robot model for collection 0"

[2022-04-18 10:01] miguelriemoliveira commented on #402
To reproduce:

    clear && rosrun atom_calibration dataset_playback -json $ATOM_DATASETS/larcc/dataset_train/dataset.json -csf "lambda x: x in ['0', '2'] " -uic -si  -ow

crashes with:

[code]

[2022-04-18 10:51] #402 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-04-18 18:03] danifpdra commented on #411
whatt??

[2022-04-18 18:39] miguelriemoliveira commented on #411
Sorry, I thought it send directly a link to the code.

This one:

https://github.com/lardemua/atom/blob/76f6f44ca369d13c8a7dada4fc762188e272458a/atom_calibration/scripts/configure_calibration_pkg#L654-L659

[2022-04-18 18:40] danifpdra commented on #411
I was trying to implement the frustum visualization but couldn't. There's an issue about that

[2022-04-18 18:41] danifpdra commented on #411
https://github.com/lardemua/atom/issues/362

[2022-04-18 18:51] miguelriemoliveira commented on #411
Ok, got it. Will try to work on that when possible.

[2022-04-18 21:29] miguelriemoliveira opened #415 "Verify existence of calibration yaml files"
[code]

undefined

[2022-04-18 21:30] miguelriemoliveira commented on #415
For testing, same as #316

[2022-04-18 21:30] #415 closed, assigned to miguelriemoliveira, DanielCoelho112

[2022-04-19 09:06] danifpdra commented on #400
Ok, I will work on that.

[2022-04-19 09:37] miguelriemoliveira commented on #400
Hi @danifpdra , great but give priority to getting results and the paper.

BTW, you have to git pull everything, recompile the atom code and  reconfigure your calibration package to have it working.

[2022-04-19 10:07] danifpdra commented on #400
Well now I'm already finishing it... Can you zoom for 5 minutes just to give me your input?

[2022-04-19 11:35] miguelriemoliveira commented on #400
I with classes this morning, and a meeting at 14h. We can talk 10 mins at 16h?

[2022-04-19 12:36] danifpdra commented on #400
Ok

[2022-04-19 15:48] danifpdra opened #416 "Calibrate throwing error on "camera_3" because it doesn't have detections in any collection"
@miguelriemoliveira

`rosrun atom_calibration calibrate -uic -json $ATOM_DATASETS/larcc_real/dataset_train/dataset_corrected.json -nig 0.0 0.0  -ipg -si -rv -ssf 'lambda name: name in  ["camera_3","depth_camera_1"]' -csf 'lambda x: int(x) < 1'`

[2022-04-19 16:11] #400 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-20 09:10] miguelriemoliveira opened #417 "Configure calibration package disable camera displays"
@danifpdra FYI

[2022-04-20 09:26] miguelriemoliveira commented on #416
Confirm the error:

[2022-04-20 09:28] miguelriemoliveira commented on #416
Here's the output of the inspection of the dataset

![image](https://user-images.githubusercontent.com/11350998/164197359-49b6449e-f8b6-4aed-b796-ea6f03199671.png)

[2022-04-20 09:44] miguelriemoliveira commented on #416
Fixed. Error msg is the following:

[2022-04-20 09:46] #416 closed, assigned to miguelriemoliveira

[2022-04-20 10:13] miguelriemoliveira commented on #417
Cannot do this. The problem is that, although there is an enabled flag for the camera Display in the rviz config file, setting it to false does not work because there is also a change in the key QMainWindow State, which is a large binary number that we cannot reset.

![image](https://user-images.githubusercontent.com/11350998/164205734-41a4aaa1-65af-41de-93d7-eb966b71fe1b.png)

[2022-04-20 10:13] #417 closed, assigned to miguelriemoliveira

[2022-04-20 10:20] miguelriemoliveira commented on #413
To replicate:

    roslaunch larcc_calibration dataset_playback.launch

and then

    clear && rosrun atom_calibration dataset_playback -json $ATOM_DATASETS/larcc_real/dataset_train/dataset.json -csf "lambda x: x in ['0', '2'] " -uic -si  -ow

[2022-04-20 10:42] #413 closed, assigned to miguelriemoliveira

[2022-04-20 10:42] miguelriemoliveira commented on #413
Done.

[2022-04-20 10:49] miguelriemoliveira commented on #391
Hi @danifpdra is this fixed?

[2022-04-20 10:49] #372 closed, assigned to miguelriemoliveira

[2022-04-20 10:51] miguelriemoliveira commented on #322
Implemented in #372

[2022-04-20 10:51] #322 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-20 10:53] miguelriemoliveira commented on #377
Hi @danifpdra ,

I think I know what happens here. In order to figure out the selection of some points rviz uses an image to compute the selection.
If the resolution is low some objects may shadow others. From my experience, if you want to select all points in the pattern get close to it starting to create the selection rectangle.

[2022-04-20 10:53] #377 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-20 10:57] miguelriemoliveira commented on #374
I think this is fully functional.

[2022-04-20 10:57] #374 closed, assigned to manuelgitgomes

[2022-04-20 11:52] danifpdra commented on #377
This problem was related to the automatic labelling, not the manual labelling.

[2022-04-20 11:53] danifpdra commented on #391
Not exactly but I don't see any solution for those points

[2022-04-20 12:01] miguelriemoliveira commented on #377
Right, sorry. Perhaps you can try the ransac suggestion above? Or give me the instructions on how to replicate...

[2022-04-20 12:01] miguelriemoliveira commented on #391
Give me a dataset and a collection where this occurs so I can try to pinpoint the problem.

[2022-04-20 12:08] danifpdra commented on #391
It's here... You have the dataset, collection 10...

[2022-04-20 12:09] danifpdra commented on #377
Yes, I can try it, maybe after the paper? I've manage to correct the problem with the dataset_playback for now, so this wasn't/isn't really a priority

[2022-04-20 12:11] danifpdra opened #420 "Dataset playback - depth labelling doesn't work with simulation"
FYI @manuelgitgomes @miguelriemoliveira

![image](https://user-images.githubusercontent.com/47574905/164227521-e730d99a-b6ab-43b2-af55-bc9aa89dcc21.png)

[2022-04-20 12:29] miguelriemoliveira commented on #391
Thanks, which dataset is it?

[2022-04-20 12:29] miguelriemoliveira commented on #377
Agree.

[2022-04-20 12:31] miguelriemoliveira commented on #420
Another problem ...

let me look into it. In the meantime you can work on the real data only.

[2022-04-20 12:31] danifpdra commented on #391
this

[2022-04-20 12:58] miguelriemoliveira opened #421 "Improve calibration examples"
[code]

https://github.com/lardemua/atom/blob/f106e302749806c9c7fc88f0f3ba25b87d63546a/README.md#L304

[2022-04-20 13:14] miguelriemoliveira opened #422 "Daniela, add here instructions for the depht to camera and depth to lidar calibrations!-->"
[code]

https://github.com/lardemua/atom/blob/f106e302749806c9c7fc88f0f3ba25b87d63546a/README.md#L420

[2022-04-20 13:27] danifpdra opened #423 "Weird output when inspecting dataset"
When running

`rosrun atom_calibration inspect_dataset -json $ATOM_DATASETS/larcc_real/dataset_train/dataset_corrected.json`

I got this

[code]

(Problem: **Sensor camera_3 is not a camera. All detections are complete.**)

There's some kind of problem here...

[2022-04-20 13:29] danifpdra commented on #423
It also says

`Sensor depth_camera_1 has 29 partial detections: ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '3', '4', '5', '6', '7', '8', '9']`

And the table doesn't show that, and it makes no sense...

![image](https://user-images.githubusercontent.com/47574905/164241331-5f9ec692-af1b-4dbe-a682-54663b0bd512.png

[2022-04-20 13:32] danifpdra commented on #422
I have to check this. I don't remember the commands. I will do it when I'm evaluating the datasets

[2022-04-20 13:38] danifpdra commented on #423
I belive the problem is here

https://github.com/lardemua/atom/blob/cf09906acc512979a31a61b6b3a9018e3e406767/atom_calibration/scripts/inspect_dataset#L157-L169

As in the first collection the pattern is not detected on camera_3 it fails this if and assumes it's not a camera

[2022-04-20 13:56] #423 closed, assigned to miguelriemoliveira

[2022-04-20 16:08] miguelriemoliveira commented on #423
Thanks.

[2022-04-20 16:20] miguelriemoliveira commented on #420
Waiting for https://github.com/lardemua/larcc/issues/45 ...

or you could give me a simulated bagfile...

[2022-04-20 16:29] miguelriemoliveira opened #424 "Implement multi-lidar calibration approach from https://github.com/yinwu33/multi_lidar_calibration"
We could consider doing this for the paper. To discuss tomorrow.

https://github.com/yinwu33/multi_lidar_calibration

[2022-04-20 18:26] miguelriemoliveira commented on #391
Here's collection 10

![image](https://user-images.githubusercontent.com/11350998/164297603-22827175-5520-468f-bdb9-f20c8b38dbcb.png)

labelling manually

![image](https://user-images.githubusercontent.com/11350998/164297685-bc0b214a-2935-46b2-8706-cb792fdc6a61.png)

results in

![image](https://user-images.githubusercontent.com/11350998/164297740-cb7814ee-ae5d-47df-90c0-1bc36c3c5db9.png)

[2022-04-20 19:15] manuelgitgomes opened #425 "Calibrating a robot which uses a tf_prefix"
Hello @miguelriemoliveira and @danifpdra.
I'm having difficulties calibrating atlascar2 when using tf_prefix.
I tried using two cases. When using the prefix in the config.yml, the
[code]
does not work, giving the error:
[code]
This is due to the tf_tree retrieved from the urdf does not have the prefix.
When configuring the package without the prefix, the previous command runs without a problem.
Th

[2022-04-20 22:06] danifpdra commented on #420
A dataset is enought right?

[train_dataset.zip](https://github.com/lardemua/atom/files/8525751/train_dataset.zip) (THIS IS SIMULATION, I HAVE IT UNDER LARCC_SIM IN THE DATASET FOLDER)

[2022-04-20 22:16] danifpdra commented on #425
Can you put the bagfile here for testing?

[2022-04-20 22:19] manuelgitgomes commented on #425
Sure!
https://uapt33090-my.sharepoint.com/:u:/g/personal/manuelgomes_ua_pt/EXeIt_g78tRKs9b4m-FCzncBQ7nHnvf4KYCrocctxBLmfw?e=4D4oeD

Obter Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Daniela Rato ***@***.***>
Sent: Wednesday, April 20, 2022 11:16:35 PM
To: lardemua/atom ***@***.***>
Cc: Manuel Gomes ***@***.***>; Assign ***@***.***>
Subject: Re: [lardemua/ato

[2022-04-20 22:21] danifpdra commented on #425
Thanks. I will have a look tomorrow if you still haven't figure it out.

[2022-04-21 08:28] miguelriemoliveira commented on #425
Hi @manuelgitgomes ,

There are two options to calibrate:

1. You calibrate a robotic system that does not move, in which case you should use the xacro. For this you have to set the world_link in the config file to **base_link** or **base_footprint**, i.e., the root node of your robotic system.

2. If we are aiming at calibrating the sensor poses w.r.t. the odom frame, then we cannot use the xacro

[2022-04-21 17:43] miguelriemoliveira commented on #391
Hi @danifpdra ,

I was experimenting with this. Now we can visualize the depth labels directly in 3D and the dataset playback.

Then it is a matter of finding out which part of the pattern we can cut in order to not have those strange 3D points.

https://www.youtube.com/watch?v=LBkJi6pKXzI

For now its a matter of using this methodology, but I agree its not ideal, #399 continues to make sense.

[2022-04-21 17:43] #391 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-21 17:46] miguelriemoliveira commented on #391
@danifpdra , you have to git pull and reconfigure the calibration package in order to have the new rviz marker configured.

[2022-04-21 18:03] miguelriemoliveira commented on #420
Hi @danifpdra ,

thanks. I think its enough, but without the bagfile I cannot reconfigure the package.

I just tested this. If I label like this

![image](https://user-images.githubusercontent.com/11350998/164521657-ad838f69-53f5-4a6d-bbc5-379041635cbf.png)

then I get a bad labelling like this:

![image](https://user-images.githubusercontent.com/11350998/164521753-7f5b0c60-3229-462f-af18-edec6a88

[2022-04-21 18:30] manuelgitgomes commented on #425
Hello @miguelriemoliveira!
Yes, it did help. However, I calibrated when the robotic system is not moving but, due to the use of a tf_prefix, the `use_tfs` flag was needed.
Nevertheless, everything worked, so this issue is closed to me!

[2022-04-21 18:47] miguelriemoliveira commented on #425
Hi @manuelgitgomes ,

just for me to understand which approach did you use? 1 or 2?

[2022-04-21 18:47] manuelgitgomes commented on #425
Number 2!

[2022-04-21 18:50] miguelriemoliveira commented on #425
OK, perhaps you could try number 1, because I suspect 2 is causing https://github.com/lardemua/atlascar2/issues/32

[2022-04-21 18:51] manuelgitgomes commented on #425
But number 1 created the errors shown in this issue, due to the tf_prefix.

[2022-04-21 18:52] miguelriemoliveira commented on #425
even doing this?

[2022-04-21 18:54] manuelgitgomes commented on #425
Yes, I tired using those nodes and the ones with prefix, i.e. atlascar2/base_link.

[2022-04-21 18:54] miguelriemoliveira commented on #425
hum, ok let me try this also then.

[2022-04-21 19:27] miguelriemoliveira commented on #425
Hi @manuelgitgomes ,

so I was downloading the bag file forever and decided to do one of my own.

First thing I discovered was that this https://github.com/lardemua/atlascar2/blob/manuelgitgomes/issue32/atlascar2_bringup/launch/record_sensor_data.launch

was not adjusted to the topic names provided in simulation.

So I created another file called

record_sensor_data_sim.launch which contains the f

[2022-04-21 19:31] miguelriemoliveira commented on #425
Committed here

[b4410f7c4f2720b44bad6e0bd6769e563f28083f](https://github.com/lardemua/atlascar2/commit/b4410f7c4f2720b44bad6e0bd6769e563f28083f)

bag file here

https://drive.google.com/file/d/1A8xcDFRCfA32Eb8MCNmsxOL2LO7SVtZJ/view?usp=sharing

[2022-04-22 09:07] danifpdra commented on #420
![image](https://user-images.githubusercontent.com/47574905/164674820-2e87205a-e978-49ad-871e-0e0746ae4283.png)

But on the first collection This corner never is labelled well

[2022-04-22 10:28] miguelriemoliveira commented on #420
With this annotation

![image](https://user-images.githubusercontent.com/11350998/164680857-e5392df3-4382-4b3e-90c2-60b77e499a4a.png)

![image](https://user-images.githubusercontent.com/11350998/164680941-fc66e3fb-238b-4a1d-80d7-738cceda530c.png)

it works more or less ... I can try to improve it later on ...

[2022-04-22 10:31] miguelriemoliveira opened #427 "Lidar 2 does not move in larcc calibration"

[2022-04-22 10:34] danifpdra commented on #427
https://we.tl/t-abeVemWSzN

[2022-04-22 10:36] miguelriemoliveira commented on #427
![image](https://user-images.githubusercontent.com/11350998/164698411-06ba3bea-13d1-4ade-aa5a-caf05326d109.png)

[2022-04-22 14:08] danifpdra commented on #427
FYI @miguelriemoliveira ,

This xacro is an optimization that went well. It is in the larcc_calibration/urdf/optimized/ folder. You can replace the optimized xacro in the playbag.launch (i did that and pushed just for visualization if you want to check it)

I'm pasting it here just to save it

[well_optimized.urdf.zip](https://github.com/lardemua/atom/files/8541632/well_optimized.urdf.zip)

[2022-04-23 09:59] #420 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-04-25 17:26] manuelgitgomes commented on #425
Hello! I tried it with your method, and option 1 was successful. The package was successfully configured.
However, a similar error as the one presented in lardemua/atlascar2#32 was found when trying to set an initial estimate or collect data.
Whenever I am trying to run one of these commands:

[code]

[code]

This error appears:

[code]

This is the same type of error, when a script calls for a tf

[2022-04-26 09:53] miguelriemoliveira commented on #425
I confirm the error. It has to do with frames

atlascar2/front_right_wheel_link
and
atlascar2/front_right_steer_link

so I suspect this has to do with the recent improvements you did.

The tf tree is like this:

![frames](https://user-images.githubusercontent.com/11350998/165273936-309cb747-1898-43e2-866d-ed4c448cd3d6.png)

and I think the problem is related with the most recent transform being 80

[2022-04-26 10:01] miguelriemoliveira commented on #425
I get the same when running the simulation, so my guess is there is something wrong with the timestamps in simulation

![image](https://user-images.githubusercontent.com/11350998/165275593-47cc0028-d506-4059-af03-c0234bade96a.png)

[2022-04-26 10:59] miguelriemoliveira commented on #425
@manuelgitgomes ,

I think the problem is here, but I know you are quite busy this week. Talk to me next week and we get back to this ok?

[2022-04-27 11:36] miguelriemoliveira commented on #427
First I tried to create some form of decay function that would give more strength to the errors of the anchored sensor at start, and then as the optimization progressed would start leveling out with the other sensors. For that I needed https://github.com/miguelriemoliveira/OptimizationUtils/issues/68 which is implemented, but the result in the optimization was not good.

[2022-04-27 13:08] danifpdra commented on #427
bag: https://uapt33090-my.sharepoint.com/:u:/g/personal/danielarato_ua_pt/EUlU4WxpgLNPsyEk2HFBh1EBVoQ8f7U2Nudrbbqh_B3Upw?e=1WsX25

[2022-04-27 18:11] miguelriemoliveira commented on #427
Hi @danifpdra ,

I just created a new **dataset_corrected.json** which is has some fixes when compared with the one you sent. Perhaps you can replace yours ...

[dataset_corrected.json.zip](https://github.com/lardemua/atom/files/8575394/dataset_corrected.json.zip)

[2022-04-28 10:26] #427 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-28 10:27] miguelriemoliveira commented on #427
This is solved with the two stage calibration procedure for anchored sensors.

[2022-04-28 10:44] miguelriemoliveira opened #429 "Test two stage procedure for anchored sensors"
Hi @danifpdra,

can you test this novel two stage procedure for anchored sensors?

It is documented in the readme

https://github.com/lardemua/atom/blob/noetic-devel/README.md#advanced-usage---two-stage-calibration-for-robotic-systems-with-an-anchored-sensor

Let me know if you have any problems.

[2022-04-28 10:45] miguelriemoliveira commented on #397
Closing this one. Both opened issues are defined as low priority.

[2022-04-28 10:45] #397 closed, assigned to danifpdra

[2022-04-28 10:46] miguelriemoliveira commented on #337
This is deprecated I think.

[2022-04-28 10:46] #337 closed, assigned to Analtino2021

[2022-04-28 10:46] miguelriemoliveira commented on #323
Done.

[2022-04-28 10:46] #323 closed, assigned to danifpdra

[2022-04-28 10:51] #330 closed, assigned to danifpdra

[2022-04-28 10:51] #247 closed, assigned to nobody

[2022-04-28 10:51] miguelriemoliveira commented on #110
Implemented. Its the dataset_playback.

[2022-04-28 10:51] #110 closed

[2022-04-28 10:53] miguelriemoliveira commented on #411
Working on #362. Close this one.

[2022-04-28 10:53] #411 closed, assigned to danifpdra

[2022-04-28 10:54] #345 closed, assigned to danifpdra

[2022-04-28 10:59] miguelriemoliveira opened #430 "Beautify error report during calibration"

[2022-04-28 11:47] miguelriemoliveira commented on #430
Got it.

![image](https://user-images.githubusercontent.com/11350998/165745323-7bd92772-a4bd-41cb-aadd-6eb2f1f9d0fe.png)

[2022-04-28 11:48] #430 closed, assigned to miguelriemoliveira

[2022-04-28 21:06] miguelriemoliveira opened #432 "Error saving dataset in calibrate script"
[code]

[2022-04-29 06:02] #432 closed, assigned to miguelriemoliveira

[2022-04-29 06:24] miguelriemoliveira opened #434 "Should we remove command line arg output_xacro?"
[code]

https://github.com/lardemua/atom/blob/60e58277d2655f914cbb0a2028e894d3964f95fb/atom_core/src/atom_core/dataset_io.py#L214

[2022-04-29 06:27] miguelriemoliveira commented on #338
This is done.

[2022-04-29 06:27] #338 closed, assigned to nobody

[2022-04-29 06:27] miguelriemoliveira commented on #95
Addressed in #429

[2022-04-29 06:28] miguelriemoliveira commented on #63
Anchored sensors have these. Do not think this will be useful. Closing.

[2022-04-29 06:28] #63 closed

[2022-04-29 06:28] miguelriemoliveira commented on #124
Done.

[2022-04-29 06:28] #124 closed

[2022-04-29 06:28] miguelriemoliveira commented on #294
Not relevant.

[2022-04-29 06:28] #294 closed, assigned to nobody

[2022-04-29 06:53] miguelriemoliveira commented on #392
Hi @danifpdra ,

so you are absolutely sure that the xacro is correctly defined and in accordance with the real dimensions of the cell?

[2022-04-29 09:07] danifpdra commented on #434
Yes, it can be removed

[2022-04-29 09:08] danifpdra commented on #392
I'm not absolutely sure because there is no way to measure the simulated xacro... But according to my calculations yes

[2022-04-29 09:44] #434 closed, assigned to danifpdra

[2022-04-29 09:45] miguelriemoliveira commented on #434
Removed.

[2022-04-29 09:50] miguelriemoliveira commented on #392
Ok, so let's try to work on this when we are both at LAR.

[2022-04-29 19:18] #316 closed, assigned to miguelriemoliveira, danifpdra

[2022-04-30 00:07] miguelriemoliveira opened #436 "rosrun atom_evaluation annotate.py -test_json dataset_corrected.json -cs front_left_camera -si"

[2022-05-02 21:19] Analtino2021 opened #437 "Remove and add points in the rgb annotation tool"

[2022-05-03 09:08] manuelgitgomes commented on #425
Hello @miguelriemoliveira!
I am looking at this, and tried on a turtlebot robot (one built for PSR), and the tf tree is similar:
![image](https://user-images.githubusercontent.com/58152228/166427874-dc05ba37-cac9-404f-9147-e1b6b45783e2.png)
So the error should also appear here? I don't know, I will keep searching for something

[2022-05-03 11:05] markushillemann opened #438 "Calibrating with the synthetic datasets of Ali et al. 2019"
Hi @miguelriemoliveira and @eupedrosa,

first of all, thank you for sharing this repository! I read your paper on hand-eye calibration and saw that you used the real data sets from Ali et al 2019 for your research. Is it also possible to do the calibrations for the synthetic datasets from Ali et al 2019? If so, I would appreciate some guidance!

[2022-05-03 15:48] miguelriemoliveira commented on #438
Hi @eupedrosa ,

can you check this please? Let me know if I can help ...

[2022-05-03 15:49] miguelriemoliveira commented on #425
Right ... so in that case we should meet online I think ...
Tomorrow 9h, or tonight 22h? What do you prefer?

[2022-05-03 15:54] manuelgitgomes commented on #425
Tonight at 22!

[2022-05-03 15:57] miguelriemoliveira commented on #425
... are you sure you don't want at 7 A.M. tomorrow : )?

[2022-05-03 16:01] manuelgitgomes commented on #425
If you prefer ;)

[2022-05-03 17:32] manuelgitgomes opened #439 "Atom Evaluation larcc"
Hello @miguelriemoliveira and @danifpdra.
When evaluating the datasets given to me, some results seemed off to me.
On the camera to camera pairing, the RMS shown was around 3 pixels, larger than the one previously talked about.

Now, on the camera to lidar pairing, the camera_2/lidar_2 pairing came out looking like this:
![image](https://user-images.githubusercontent.com/58152228/166506320-b55b433

[2022-05-03 20:52] manuelgitgomes commented on #439
Also, another error found on the labelling of the chessboard in the depth sensor
![image](https://user-images.githubusercontent.com/58152228/166563889-eb189bbc-c797-43db-9c35-d01c20ab8b1f.png)

[2022-05-04 09:13] danifpdra commented on #439
Did you use the dataset_corrected.json on the test dataset?

[2022-05-04 09:14] miguelriemoliveira commented on #439
I also think that may be the problem. You probably are correcting the **dataset.json** using the dataset playback, which results in the **dataset_corrected.json**.

Bu then you are calibrating using still the **dataset.json**. Could that be the problem?

[2022-05-04 09:16] danifpdra commented on #439
No, I calibrated with the dataset_corrected.json... I think that the evaluation was run with the dataset.json

[2022-05-04 09:39] miguelriemoliveira commented on #439
Bad collections from test_dataset: 4,5, 9, 10, 11,12,13

[2022-05-04 10:27] manuelgitgomes opened #440 "Create flag to ignore anchored sensor"
Create a flag in the calibrate script to ignore the anchored sensor

[2022-05-04 10:29] manuelgitgomes opened #441 "Change collection denomination to two digits"
In order to solve the ordering issue, the collections should be of the form "00, 01, 02, ..., 99"
If needed, change instead to three digits - "000, 001, ..., 099, 100, ..., 999"

[2022-05-04 10:29] miguelriemoliveira opened #442 "Computing averages in calibrate does not tackle incomplete collections"
[code]

[2022-05-04 15:37] miguelriemoliveira commented on #312
Hi @danifpdra and @eupedrosa ,

I have a working solution for #312. Can you test it before we consider the integration into ATOM? A lot of stuff changes...

Its in branch https://github.com/lardemua/atom/tree/miguelriemoliveira/issue312

[2022-05-04 15:48] miguelriemoliveira commented on #440
Implemmented.

[2022-05-04 15:48] #440 closed, assigned to miguelriemoliveira

[2022-05-04 16:02] miguelriemoliveira commented on #442
Verified using

    clear && rosrun atom_calibration calibrate -json ~/datasets/larcc_real/dataset_train/dataset_corrected.json -rv -v -si -csf 'lambda x: int(x)< 2' -uic

It also prints a warning

[code]

[2022-05-04 16:37] manuelgitgomes commented on #425
Hello! The errror was the use_sim_time being disabled when recording the bag file.
However, another error (re)appeared:

[code]
Basically, what I believe it's happening is on this line:

https://github.com/lardemua/atom/blob/045e2f34cfd912789ad25d1e1961274590204583/atom_calibration/src/atom_calibration/collect/data_collector_and_labeler.py#L351

An URDF parse is being done in order to find the rob

[2022-05-04 16:50] miguelriemoliveira commented on #442
Much better now:

[code]

[2022-05-04 16:51] #442 closed, assigned to miguelriemoliveira

[2022-05-04 17:30] manuelgitgomes commented on #425
I found out why this is happening. When the macro values are used inside a parameter of a macro, this error does not occur.
To solve this, I believe the only option is to place everything inside a macro.

[2022-05-04 19:09] manuelgitgomes commented on #425
This was solved with a reformation of the atlascar2 urdf.
Another problem arouse, as no chessboard can be detected by the camera. Can it be due to the brightness of the lights on the chessboard?
![top_right_camera_1](https://user-images.githubusercontent.com/58152228/166808169-e8b4fccc-dfe5-4962-95b8-2ed752df38b2.jpg)

[2022-05-04 19:09] miguelriemoliveira commented on #425
Did not have time to get all the details but if you solved it Great!

[2022-05-04 19:13] miguelriemoliveira commented on #425
Yes, that is typically the problem. To solve it we add lights in gazebo. until the detections are working fine, and then save the world model (the sdf file).

There is one catch though, we should save the model without the robot and without the pattern otherwise when we spawn we will have two robots and patterns.

The second most common problem is that the pattern is too far away from the camera,

[2022-05-04 19:24] manuelgitgomes commented on #425
This is a picture captured by the camera!

That worked, thanks!
![image](https://user-images.githubusercontent.com/58152228/166810660-0dda00fd-95e2-4db2-a69c-a3b1d5336b92.png)

[2022-05-04 19:28] miguelriemoliveira opened #445 "Methodology to have a common file tree with datasets and bagfiles"
Hi @vitoruapt ,

me, @danifpdra and @manuelgitgomes  are working together on larcc and its getting realty difficult to manually synchronize
all the files from the bag files and datasets.

Then the problem would be how to synchronize. Manual synchronization is I think out of the question. This is what we are doing now and it leads to erros and constant problems.

There are several options, please l

[2022-05-04 21:16] vitoruapt commented on #445
You could try the solutions offered by sTIC: https://www.ua.pt/pt/stic/page/27947 or post a request on bud.ua.pt for assistance about possible alternative solutions.
Currently neither deeplar nor lars.mec.ua.pt have 200 GB free, but on lars there old backups and logs that could perhaps be freed!
But in the larcc computer there should space (we bought some Terabytes in SSDs) and, if needed, another

[2022-05-05 00:38] miguelriemoliveira commented on #445
Hi @vitoruapt ,

thanks for the comments. I checked https://www.ua.pt/pt/stic/page/27947 but I think it does not apply. Its more for websites.

But lars.mec.ua.pt already has this access, right? Or do you mean open some special tcp port to be accessed by ftp?

[2022-05-05 00:49] #441 closed, assigned to miguelriemoliveira

[2022-05-05 01:13] miguelriemoliveira commented on #351
Hi @danifpdra and @eupedrosa ,

I was going to start working on this and then realized: why do we have to ask the user to fill the field **link**?
I mean, if the **link** must always be the same as the **header/frame_id** field on the messages the go on that topic, then the configure_calibration_pkg should read a message and create this information from the **topic_name** as the sole user input.

[2022-05-05 01:16] miguelriemoliveira commented on #436
??? do not remember what was the problem here ...

[2022-05-05 01:16] #436 closed, assigned to miguelriemoliveira

[2022-05-05 08:10] vitoruapt commented on #445
sTIC also offers housing besides hosting, but we can use lars.mec.ua.pt, of course! We just need to either add a new storage disk or free some space by backing up the existing data. I propose backing up the existing data into an external disk, and then free space... So, the mission is: let's try to find an external disk and I can perform that back up and free the space...

[2022-05-05 08:50] miguelriemoliveira commented on #445
Find a disk? You mean this?

https://mediamarkt.pt/pages/search-results-page?q=disco+externo&page=1&rb_product_type=Discos+R%C3%ADgidos+3.5%22+Externos

Or find somewhere in the laboratory?

[2022-05-05 09:03] danifpdra commented on #439
What do you mean by bad collections?

[2022-05-05 09:05] manuelgitgomes commented on #439
They had a mislabeled pattern in the depth sensor. I am solving that!

[2022-05-05 09:37] miguelriemoliveira commented on #439
Hi @danifpdra ,

yes, we noticed several collections which were not correctly labeled in the depth. I think the reason was that the tool to visualize the depth labels in 3d was not yet developed when you annotated.

In any case I am working with @manuelgitgomes and we will do a new calibration and then an evaluation and give you the new results.

[2022-05-05 09:37] miguelriemoliveira commented on #439
BTW are you feeling better?

[2022-05-05 09:40] danifpdra commented on #439
Not 100% but better, the medication is helping. Thanks for asking

[2022-05-05 09:41] miguelriemoliveira commented on #439
No problem, if you are only feeling 80% that means 80% of the paper is done : )

[2022-05-05 09:46] danifpdra commented on #439
Of course, me at 80% is still quite good. Ah ah ah :-D

[2022-05-05 13:00] miguelriemoliveira commented on #439
More bad collections

depth camera collection 10
lidar_2  collection 14

[2022-05-05 13:01] miguelriemoliveira opened #447 "Change name dataset_playback to dataset_review"

[2022-05-05 13:10] manuelgitgomes commented on #439
[code]
First results with the new calibration with 10e-4

[2022-05-05 13:34] manuelgitgomes opened #448 "Remove annotation from non detected camera image"
This happen on collection 9 of the test_dataset:
![image](https://user-images.githubusercontent.com/58152228/166934334-085bb1a5-8fd0-47d2-a08a-38b7b060b681.png)

[2022-05-05 16:36] miguelriemoliveira commented on #445
So I was reading a bit and I think I can do a script based on rsync to copy the datasets and the bagfiles from and to lars.

https://electrictoolbox.com/rsync-ignore-existing-update-newer/
https://www.digitalocean.com/community/tutorials/how-to-use-rsync-to-sync-local-and-remote-directories-pt

I will start working on the datasets first since they are small in size. Hopefully, in the meantime we c

[2022-05-05 16:52] vitoruapt commented on #445
The LAR server has limited space for now, as you can see:
[code]
So, I created the link **/home/public/atom** that points to  **/mnt/raid_data/atom** where you have right now about 90 GB that may help while we solve the problem of space, which, by the way, is going to be freed on that same partition, so you do not have to move your stuff again later! Hence, just use the path you suggested (/home/p

[2022-05-05 16:55] miguelriemoliveira commented on #445
Thanks @vitoruapt ,

I will report any progress

[2022-05-05 18:42] miguelriemoliveira commented on #445
I have a working solution. If @danifpdra or @manuelgitgomes  or @vitoruapt can try that would be nice.

https://github.com/lardemua/lars_datasync

For testing I am using only a directory $ATOM_DATASETS/test_datasets

@vitoruapt you have to set this env variable

https://github.com/lardemua/atom#setup-you-environment

The remote is

lars.mec.ua.pt/home/public/atom/datasets

[2022-05-05 21:27] manuelgitgomes commented on #445
Good night!
I am currently trying, although I do not have a lars user/pass!
![image](https://user-images.githubusercontent.com/58152228/167028126-d67c3a52-526e-4872-b4bb-b3313704fc70.png)

[2022-05-05 23:07] vitoruapt commented on #445
You need to have a user account.
@miguelriemoliveira, we must create user account in lars for all the involved collaborators.

[2022-05-06 08:03] miguelriemoliveira commented on #445
Hi @vitoruapt ,

I don't know how. I can search online, but perhaps its best that you do it? If you want m to do it just give some tips

Is it like this?

    sudo useradd -m username

https://linuxize.com/post/how-to-create-users-in-linux-using-the-useradd-command/

Thanks

[2022-05-06 08:11] vitoruapt commented on #445
Yes, that's the main command... but if you prefer I can do it. Just give me the user names to create; I can do it later after my meetings today...

[2022-05-06 08:15] miguelriemoliveira commented on #445
For now it is just Manuel for testing the system. Daniela already has access. Then we add also Analtino etc.

@manuelgitgomes you should have the same username in lars.mec.ua.pt as you have in your laptop, or else you must use the script with the --user flag.

What is your username in your laptop?

@vitoruapt , when its possible please create the user for Manuel.

[2022-05-06 10:39] miguelriemoliveira commented on #438
Hi @markushillemann ,

I would assume that yes, it is possible.

I know that we had to convert their datasets into the atom dataset format and were using these scripts to do it:

https://github.com/lardemua/atom/tree/noetic-devel/atom_calibration/scripts/conversions

but I am not sure if these are not deprecated since atom changed a lot in the last few months.

In any case  you can explore those a

[2022-05-06 10:40] miguelriemoliveira commented on #119
Working on #445

[2022-05-06 10:40] #119 closed

[2022-05-06 11:00] miguelriemoliveira commented on #445
Improved the readme at https://github.com/lardemua/lars_datasync

[2022-05-06 11:42] markushillemann commented on #438
Thank you for the help. From my understanding, i first need to create and configure a calibration package, convert the dataset, and then run the calibration on the converted dataset, right? For configuration of the calibration package, i need to specify the urdf-file in config.yml. As i'd like to use synthetic data, there is no real robot and consequently no urdf file and also no bag-files.
How do

[2022-05-06 12:36] vitoruapt commented on #445
@manuelgitgomes , what is the user name that you want to use in lars.mec.u.pt?

[2022-05-06 12:38] miguelriemoliveira commented on #438
Hi @markushillemann ,

in atom we always need a xacro or urdf file. Even if you have a simulated system you can create a xacro.

Take a look at mmtbot, for example:

https://github.com/miguelriemoliveira/mmtbot

About the config files I do not have them. Only @eupedrosa , lets wait for his response.

[2022-05-06 13:16] manuelgitgomes commented on #445
My PC's username is "nel", and I would not mind to use the same one on lars. If that's not a possibility, "manuelgomes" can be my lars username!

[2022-05-06 13:17] manuelgitgomes commented on #445
My PC's username is "nel", and I would not mind to use the same one on lars. If that's not a possibility, "manuelgomes" can be my lars username!

[2022-05-06 15:59] manuelgitgomes commented on #425
(Finally), a functional calibration can be seen [here](https://youtu.be/WXyIU33BrlM).
Closing issue.

[2022-05-06 15:59] #425 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-05-06 17:28] vitoruapt commented on #445
nel user created
Password is nel2000
please change and test the access.
Let me know if you need further assistance.

[2022-05-06 17:36] manuelgitgomes commented on #445
Tested and functioned.
How to change password?

[2022-05-06 17:45] miguelriemoliveira commented on #445
Hi @manuelgitgomes

https://www.cyberciti.biz/faq/change-a-user-password-in-ubuntu-linux-using-passwd/

[2022-05-06 17:55] manuelgitgomes commented on #445
Changed! Thanks!

[2022-05-06 17:58] miguelriemoliveira opened #449 "Why is larcc rgb sensor calibration not producing single pixel accuracies?"
I was with @manuelgitgomes  trying this. The strange thing is even when calibrating only two cameras of larcc we still get bad results around 3 pixels of error ...

[2022-05-06 18:01] miguelriemoliveira commented on #449
Running command

    clear && rosrun atom_calibration calibrate -json ~/datasets/larcc_real/dataset_train/dataset_corrected.json -csf 'lambda x: int(x)< 55' -uic -ias  -v -rv -ssf 'lambda x: x in ["camera_2", "camera_4"]'

Results in:

[code]

[2022-05-06 18:02] manuelgitgomes commented on #449
Also, the lidar and depth evaluations have good metrics.
The values of the camera calibration are also good in the train dataset

[2022-05-06 18:07] miguelriemoliveira commented on #449
Evaluation is executed with:

    rosrun atom_evaluation camera_to_camera_evaluation.py -train_json $ATOM_DATASETS/larcc_real/dataset_train/atom_calibration.json -test_json $ATOM_DATASETS/larcc_real/test_dataset/dataset_corrected.json -si -c1 camera_2 -c2 camera_4

and results in:

[code]

which has an error of 2 pixels on average ...

[2022-05-06 18:10] miguelriemoliveira commented on #425
Great. Nice video.

[2022-05-06 18:20] vitoruapt commented on #445
Yes... as simple as issuing the command "passwd" :-)

[2022-05-06 18:34] miguelriemoliveira commented on #449
I suspect there is a bug, because I now ran the evaluation using the as the **test dataset** also the train dataset. That means that the results should be similar to the ones obtained during optimization, since we are estimating also the reprojection error.

With command:

    rosrun atom_evaluation camera_to_camera_evaluation.py -train_json $ATOM_DATASETS/larcc_real/dataset_train/atom_calibration

[2022-05-06 21:08] miguelriemoliveira commented on #449
So I did an even simpler test to reduce the problem to the smallest case. Calibration using a single collection (collection 0), and the two cameras.

[code]

and the evaluation results are:

[code]

So the same occurs even for a single collection...

[2022-05-07 08:14] miguelriemoliveira opened #450 "Copying sensors to json at the end of the optimization can go wrong"

[2022-05-07 08:47] miguelriemoliveira commented on #449
I found (one of the) problem(s). By removing the code that was refining corners (does npt make sense to refine the corner positions at this stage) the result now is:

[code]

[2022-05-08 09:17] manuelgitgomes commented on #449
Thats great!!!

[2022-05-12 16:38] #448 closed, assigned to nobody

[2022-05-12 16:39] manuelgitgomes commented on #448
Now the evaluation only happens when it's detected by all the involved sensors, as it was on the camera to camera evaluation

[2022-05-12 18:50] manuelgitgomes commented on #439
Camera 2 to Camera 3
[code]

[2022-05-12 19:05] manuelgitgomes commented on #439
Real dataset: (these boxes are being filled...)

camera 2 to camera 3:

[code]

camera 2 to camera 4:

[code]

camera 3 to camera 4:

[code]

camera_2 to lidar_1

[code]

camera_2 to lidar_2

[code]

camera_2 to lidar_3

[code]

camera_3 to lidar_1

[code]

camera_3 to lidar_2

[code]

camera_3 to lidar_3

[code]

camera_4 to lidar_1

[code]

camera_4 to lidar_2

[code]

camera_4 to lidar_3

[code

[2022-05-12 21:53] manuelgitgomes opened #451 "Lidar to Depth Evaluation problem"
Good night @miguelriemoliveira and @danifpdra.
![image](https://user-images.githubusercontent.com/58152228/168173069-3647c147-fb9f-4c16-b1e5-114fd6fac161.png)
When there is a partial detection of the pattern on the depth sensor, the value of the error increases dramatically. I believe this is due to some lidar border points do not have their depth counterpart, so they search for the closest one. w

[2022-05-12 21:57] miguelriemoliveira commented on #451
Hi @manuelgitgomes ,

one idea: right now we only have the concept of partial detection for the rgb modality. If we extend the partial detection concept to the depth modality, we could use it.

First, to assess whether or not a detection is partial in the depth modality I suggest that we look for pattern boundary labels which are close enough to the image canvas.

Then, if we know that a given col

[2022-05-12 22:08] manuelgitgomes commented on #451
Hello!

Makes sense, but it decreases the versatility of our tool. But if the current time frame does not allow for a better solution, I can try this.

[2022-05-13 06:27] miguelriemoliveira commented on #451
You mean that we are throwing away collections that we could use?

OK, so another idea: this error is computed by projecting lidar 3D points onto the depth image, and then, for each projected 3d lidar point, measuring the minimum distance to all depth labelled boundary points.

We could assess if the projected lidar point is near the canvas of the depth image and, if so, say that we shouldn't expe

[2022-05-13 06:30] miguelriemoliveira commented on #451
Additional tips for better visualization: We should keep consistency of colors throughout atom. For depth labeled boundary points, we are using magenta color. Can you change this @manuelgitgomes ?

Also the thickness of the points is too much, they often hide the blue dots.

[2022-05-13 07:59] manuelgitgomes commented on #451
Exactly

Yes!

Sure!

[2022-05-13 09:41] manuelgitgomes commented on #451
Problem solved! Changed the colour of depth to magenta and reduced the thickness, made the lidar points draw on top of the depth ones.
![image](https://user-images.githubusercontent.com/58152228/168256092-47c9dbf5-484c-44eb-8ba9-9499e4ba94f9.png)
These changes also applied to the camera to depth evaluation:
![image](https://user-images.githubusercontent.com/58152228/168256827-ced11d2f-d027-4c85-ab

[2022-05-13 09:41] #451 closed, assigned to miguelriemoliveira, danifpdra, manuelgitgomes

[2022-05-13 09:52] miguelriemoliveira commented on #451
Thanks @manuelgitgomes looks good.

One question (I always have a question : ) )

what is the tolerance? Perhaps we should have an argument for it.
The tolerance should be in percentage of width / height, because if you set an absolute value of 10 pixels it may make sense for 640x480 images but perhaps it will be inadequate for 1920x1080 images.

[2022-05-13 09:55] manuelgitgomes commented on #451
Sure, it makes sense. I can see how it's done in the auto-labelling of the depth sensor. Ideally, it would be the same.  I will check this out.

[2022-05-13 10:11] miguelriemoliveira commented on #451
BTW, can you post the same image as the first showing how the approach now solves the problem?

[2022-05-13 10:24] manuelgitgomes commented on #451
It's the same, collection 12!

![image](https://user-images.githubusercontent.com/58152228/168264677-a86254cc-51e4-4369-9370-708911fa401f.png)
![image](https://user-images.githubusercontent.com/58152228/168264691-a2e54019-e704-4179-ad20-cac33478625f.png)

[2022-05-13 10:32] miguelriemoliveira commented on #451
Right, you had done it already. Thanks.

So now we don't see long yellow lines, which makes sense.

[2022-05-13 11:02] manuelgitgomes commented on #451
Changes done!

[2022-05-13 11:24] miguelriemoliveira commented on #449
I finished working on this. Created a new script called

**rgb_to_rgb_evaluation** which is very similar to the old **camera_to_camera_evaluation.py**  but is much better documented.

Problem is: we are getting even worse results with this new script. Just a little bit worse, but I trust these results more.
I would use this script @manuelgitgomes

In any case I still think we could improve the res

[2022-05-13 11:24] #449 closed, assigned to miguelriemoliveira

[2022-05-13 11:36] #450 closed, assigned to miguelriemoliveira

[2022-05-13 12:02] miguelriemoliveira commented on #450
Fixed by selectively copying only the sensors which were not being used in the optimization.

[2022-05-13 12:10] miguelriemoliveira commented on #449
Hi @manuelgitgomes ,

I also fixed #450  and now we can optimize the intrinsics (-oi flag) during the calibration

Evaluation results are better (I am using the new rgb_to_rgb_evaluation script)

[code]

From my side I think its done. I will now leave the results to you @manuelgitgomes .Perhaps you should add results with and without intrinsic optimization to the tables.

Now I will shift focus to

[2022-05-13 18:03] miguelriemoliveira commented on #445
So this is working. I was using a test folder but I propose to move into the real thing.
Perhaps the best is if me, @danifpdra and @manuelgitgomes do it together in a zoom session because we must be sure which files should remain ...

[2022-05-13 18:05] miguelriemoliveira commented on #361
Not anymore I think .

[2022-05-13 18:05] #361 closed, assigned to miguelriemoliveira

[2022-05-13 18:18] manuelgitgomes commented on #439
With the changes implemented in #449, the calibration result on the real dataset:

[code]

[2022-05-13 18:26] manuelgitgomes commented on #439
Real dataset with intrinsic optimization: (WIP)
camera 2 to camera 3:

[code]

camera 2 to camera 4:

[code]

camera 3 to camera 4:

[code]

camera_2 to lidar_1

[code]

camera_2 to lidar_2

[code]

camera_2 to lidar_3

[code]

camera_3 to lidar_1

[code]

camera_3 to lidar_2

[code]

camera_3 to lidar_3

[code]

camera_4 to lidar_1

[code]

camera_4 to lidar_2

[code]

camera_4 to lidar_3

[code]

[2022-05-13 18:32] miguelriemoliveira commented on #439
Hi @manuelgitgomes ,

how did you produce the tables from the second post on top of this one? The collections should be ordered. Please create an issue and I can fix it ...

[2022-05-13 18:36] manuelgitgomes commented on #439
I ran this command:
[code]

[2022-05-13 18:37] manuelgitgomes opened #454 "Order collection table in calibrate"
As seen here, the order is not correct.

[code]

[2022-05-13 23:07] #454 closed, assigned to miguelriemoliveira

[2022-05-13 23:09] miguelriemoliveira commented on #454
Hi @manuelgitgomes , just pushed a version with the ordered collections.

[2022-05-14 14:51] miguelriemoliveira commented on #312
Implemented. Could have some bugs but lets see what happens.

[2022-05-14 14:51] #312 closed, assigned to miguelriemoliveira

[2022-05-14 14:55] #429 closed, assigned to danifpdra

[2022-05-14 14:56] #351 closed, assigned to miguelriemoliveira, danifpdra

[2022-05-15 11:27] miguelriemoliveira commented on #437
Near to finalizing a new script

![image](https://user-images.githubusercontent.com/11350998/168470425-5ab6a469-cb73-4b9d-add9-89508609fc7e.png)

[2022-05-15 11:28] miguelriemoliveira commented on #437
![image](https://user-images.githubusercontent.com/11350998/168470463-814a7ef8-c85d-444c-8e04-c2638c404d24.png)

[2022-05-15 12:55] miguelriemoliveira commented on #437
The annotations file now has a new format. I will adapt the code for the scripts:

depth_sensor_to_camera_evaluation.py
range_sensor_to_camera_evaluation.py

to adjust to this.

[2022-05-15 13:26] miguelriemoliveira commented on #437
New colors and interpolation between annotated points functional.

![image](https://user-images.githubusercontent.com/11350998/168475227-82cb8e75-8f4a-42aa-8c37-60b9a1f7cdd7.png)

[2022-05-16 10:28] eupedrosa commented on #438
Hi @markushillemann, sorry for the late reply.

I actually used the scripts that @miguelriemoliveira refereced:
https://github.com/lardemua/atom/tree/noetic-devel/atom_calibration/scripts/conversions

The output was a dataset ready to be calibrated, no xacro needed -- Ali's dataset should have all the data that you need.
Running `rosrun atom_calibration calibrate ...` using the dataset as input wo

[2022-05-16 16:49] manuelgitgomes opened #457 "Error in atlascar2 odom frame calibration"
Hello @miguelriemoliveira!
When calibrating the atlascar2 dataset named `gazebo_move`, which is currently in lars, this error appears:
[code]

I tried to see the table generated in errorReport, and it looks like this:

[code]

So, no errors were calculated. I am currently trying to find this out, but if you can give me a hand that would be appreciated!

[2022-05-16 16:55] manuelgitgomes commented on #457
In here, the residuals exist, but the value of v always stays `[]`, making the next if clause not applicable
https://github.com/lardemua/atom/blob/3000f117005ddaf74319223e57dbc1d25c5fee37/atom_calibration/src/atom_calibration/calibration/objective_function.py#L59-L61

[2022-05-16 18:10] eupedrosa commented on #457
I believe @miguelriemoliveira has cracked the calibration code and now the error is ZERO, hence the division by zero.

[2022-05-16 18:12] miguelriemoliveira commented on #457
Hi @manuelgitgomes ,

can you post the command you use to calibrate?

[2022-05-16 18:56] danifpdra opened #458 "Create frustums as filled polygons with transparency"
Hi @miguelriemoliveira,

I created a new branch for RGB frustums, the branch is called **frustum**...

You can see the frustum with

`roslaunch larcc_calibration collect_data.launch output_folder:=~/datasets/larcc_sim/tests_for_paper overwrite:=true bag_rate:=0.1 bag_start:=0
`

The idea is to get some images like this
![frustum_grelha](https://user-images.githubusercontent.com/47574905/168662765-

[2022-05-16 19:58] manuelgitgomes commented on #457
Sure!
[code]

[2022-05-17 11:34] manuelgitgomes commented on #439
The calibration result on the simulated dataset:
[code]

[2022-05-17 15:39] manuelgitgomes commented on #439
Sim dataset: (these boxes are being filled...)

camera 2 to camera 3:

[code]

camera 2 to camera 4:

[code]

camera 3 to camera 4:

[code]

camera_2 to lidar_1

[code]

camera_2 to lidar_2

[code]

camera_2 to lidar_3

[code]

camera_3 to lidar_1

[code]

camera_3 to lidar_2

[code]

camera_3 to lidar_3

[code]

camera_4 to lidar_1

[code]

camera_4 to lidar_2

[code]

camera_4 to lidar_3

[code]

[2022-05-17 16:03] manuelgitgomes commented on #439
Hello @miguelriemoliveira!
When running rgb to rgb evaluation with this command:
[code]

I retrieved these errors:
[code]

Where collections 5 and 11 are way off the mark. They look like this:
![image](https://user-images.githubusercontent.com/58152228/168856559-4efd4b99-69a2-4fb9-a8c7-79a844696074.png)
![image](https://user-images.githubusercontent.com/58152228/168856682-48487c71-6df7-4062-9943-c

[2022-05-17 16:28] manuelgitgomes commented on #439
Collections 5, 11 and to a less degree collection 12 are having poor results in the camera to lidar, depth to camera and depth to lidar. This might be due to the specific pose the pattern is w.r.t. the lidar or the camera. I have already done the dataset_playback and everything seemed alright.
If the issue is intrinsic to the pose of the pattern, the other calibration methods will also fail in the

[2022-05-17 17:28] miguelriemoliveira commented on #439
Hi @manuelgitgomes ,

not sure what is the problem. Do you want to zoom tonight? We could try to also fix the other problem you had ...

[2022-05-17 17:30] manuelgitgomes commented on #439
Hello! Tonight I'm not available, but tomorrow I am!

[2022-05-17 19:08] miguelriemoliveira commented on #439
Ok, lets talk tomorrow in the morning to see where we are in terms of the paper. I am meeting @danifpdra at 9h15, if you can be there it would be nice, if not later on we can talk.

[2022-05-17 20:08] manuelgitgomes commented on #439
I can be there!

[2022-05-17 22:40] miguelriemoliveira commented on #457
Hi @manuelgitgomes ,

got it. The problem was because we changed the collection's denomination  https://github.com/lardemua/atom/issues/441

from 0,1,2,3, ..., 9, 10,11 etc
to 000, 001, 002, 003, ..., 009, 010, 011, etc

You atlas car dataset is the first to use this new naming system. I solved the problem you were having but I would expect trouble in other places . Let me know if you run into tro

[2022-05-17 22:43] #457 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-05-17 23:55] miguelriemoliveira commented on #437
Ok, changed range_sensor_to_camera_evaluation .

![image](https://user-images.githubusercontent.com/11350998/168930655-6abd5706-6ee2-4f6e-959e-8545c639a238.png)

[2022-05-18 08:49] danifpdra opened #460 "Add rotation and translation error to all evaluation scripts (similar to RGB)"

[2022-05-18 08:52] danifpdra opened #461 "Think about a better way to evaluate lidar-lidar evaluation (for example point to line distance)"

[2022-05-18 09:32] manuelgitgomes opened #462 "Adding a new camera calibration tool for comparision"
@miguelriemoliveira suggested this [repo](https://github.com/MT-MRT/MRT-Camera-Calibration-Toolbox), which is based on opencv:
"Based on OpenCV, an open source calibration toolbox has been developed to support non-experts in calibrating single and stereo camera systems and to improve the calibration results." - from [their article](https://ieeexplore.ieee.org/document/9178752)
I will search for mo

[2022-05-18 10:25] manuelgitgomes commented on #439
New values without collection 5, 11 and 12 are already available. @danifpdra don't forget to change the table of the number of collections!

[2022-05-18 10:36] manuelgitgomes commented on #439
Open CV Calibration Results/Evaluation:

Real:

Camera 2 to camera 3:

- Calibration result:
[code]
- Calibration evaluation:
[code]
Camera 2 to camera 4:

- Calibration result:
[code]
- Calibration evaluation:
[code]
Camera 3 to camera 4:

- Calibration result:
[code]
- Calibration evaluation:
[code]

Sim:

Camera 2 to camera 3:

- Calibration result:
[code]
- Calibration evaluation:
[code]
Camer

[2022-05-18 13:20] miguelriemoliveira commented on #462
Hi @manuelgitgomes ,

I was searching around quite a lot and could not find anything.

The only other is kalibr:

https://github.com/ethz-asl/kalibr/wiki/installation

but we have used in the past with poor results

https://www.researchgate.net/publication/341152457_A_ROS_Framework_for_the_Extrinsic_Calibration_of_Intelligent_Vehicles_a_Multi-Sensor_Multi-Modal_Approach

I will call you.

[2022-05-18 14:05] miguelriemoliveira opened #463 "Implement ICP calibration from open3d"

[2022-05-18 14:14] miguelriemoliveira commented on #463
Hi @manuelgitgomes ,

I just pushed the code we've been working on. If you need help to continue please let me know.

Its it atom_evaluaton/scripts/other_calibrations

[2022-05-18 15:11] danifpdra opened #464 "LiDAR resolution"
FYI @miguelriemoliveira

I made measurements for all the LiDARs and all of them were around 10cm

(length in the bottom left corner)

![image](https://user-images.githubusercontent.com/47574905/169075239-6477216e-5cac-41b0-a927-84968639ed1c.png)
![image](https://user-images.githubusercontent.com/47574905/169075333-acb7138c-880a-4582-a4ff-9d2ac303a4f0.png)

[2022-05-18 15:13] miguelriemoliveira commented on #464
ok, and how far from the sensor is the pattern?
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiag

[2022-05-18 15:14] danifpdra commented on #464
around 2 and 2.5 meters depending on the sensor

[2022-05-18 15:40] danifpdra opened #465 "point cloud projection to image"
Hi @miguelriemoliveira
I was checking the point cloud projection to image script and i get this...

![image](https://user-images.githubusercontent.com/47574905/169084297-a9f9898a-11cf-4dde-9700-341ee10b8d96.png)

But in the agrob paper we had this
![image](https://user-images.githubusercontent.com/47574905/169084452-ce561c73-f349-4aaa-a24d-a8bba48b3109.png)

with a colormap instead of a fixed colo

[2022-05-18 22:12] miguelriemoliveira commented on #464
Ok, so you can use this to justify the apparent lack of accuracy in the lidar to lidar evaluation.

[2022-05-18 22:22] miguelriemoliveira commented on #465
Hi @danifpdra ,

I am investigating. Let me know how you run this please...

[2022-05-18 22:35] miguelriemoliveira commented on #465
No need. I was able to run. Did some changes and now we have this

![image](https://user-images.githubusercontent.com/11350998/169166564-fc966e03-a8ae-4ce7-af2a-bdda34506695.png)

[2022-05-18 22:35] miguelriemoliveira commented on #465
@danifpdra , See if it helps.

[2022-05-18 23:42] manuelgitgomes commented on #463
Hello! In relation to this, I believe it is working but it is really difficult due to the bad quality of the initial estimate. As far as I know, the dataset already has the transformations and changing the initial estimate will need the generation of a new dataset, which is not optimal in the current situation. I can generate a new one just for this purpose, that might be the option. Tomorrow I wi

[2022-05-19 07:56] miguelriemoliveira commented on #463
Thanks for the work.

You are right, in order to use the initial estimate we would need to generate a new dataset. The problem is that if you would do that, then the comparison between ATOM and ICP would be unfair. If one approach was better than the other we would not be able to tell if this was due to the intrinsic qualities of the approach or the fact that the dataset that approach was using wa

[2022-05-19 08:01] miguelriemoliveira commented on #463
Looked around ... 2 is here: http://www.open3d.org/docs/0.9.0/tutorial/Advanced/interactive_visualization.html#manual-registration

[2022-05-19 08:15] miguelriemoliveira commented on #465
Hi @danifpdra ,

I think this is solved.

[2022-05-19 08:15] #465 closed, assigned to danifpdra

[2022-05-19 08:24] miguelriemoliveira commented on #437
Visual output from range_sensor_to_camera_evaluation script

![image](https://user-images.githubusercontent.com/11350998/169248660-c7525f03-e569-4a1f-a1b6-f4520aa3873a.png)

[2022-05-19 08:27] miguelriemoliveira commented on #437
Also renamed script to range_to_rgb_evaluation

[2022-05-19 09:05] danifpdra commented on #465
Thanks. I will take a look into it.

[2022-05-19 09:14] danifpdra commented on #461
Hi @miguelriemoliveira and @manuelgitgomes ,

I am really bothered by this...

![image](https://user-images.githubusercontent.com/47574905/169257827-eb082ce8-715d-44cb-8518-f4320fc8d9d7.png)

As I told you in the other issue, the distance between two LiDAR scans is 10cm which is 100mm. That means that when projecting transforming the point clouds from one coordinate system to the other we could ac

[2022-05-19 09:19] miguelriemoliveira commented on #461
Well, we could use that point to line idea. Do you think we should work on it for this paper?

[2022-05-19 09:28] danifpdra commented on #461
I don't know, I explained what was happening in that section but I think the reviewers can devalue our results, don't you think?

[2022-05-19 09:32] miguelriemoliveira commented on #461
Let me read your discussion and then see if it leaves that impression.
Also, @manuelgitgomes working on icp calibration #463 so we can later compare and see of the calibration using icp is also "bad".

[2022-05-19 09:36] manuelgitgomes commented on #461
I'm not 100% sure I understood, but we can argue that if the results are under 50mm, the calibration was successful in achieving the best it could regarding the sensor's resolution. If they are over 50mm, some improvements need to be taken. So we can argue that the calibration inside the simulated environment reached its peak while the one in the real world can be improved.

[2022-05-19 09:41] danifpdra commented on #461
I don't think we can argue that... Because, as I said, it can just be a case of luck. For example in lidar2 to lidar3 we have 13mm, that means the we could have had the luck of the lidar scans aligning. And when in lidar 1 to lidar2 we have higher results that means that we could just have had bad luck and the lidar scans ended up with a 50mm alignment. Which really means that those results do not

[2022-05-19 09:44] manuelgitgomes commented on #463
Ok, it seems the better option! That wouldn't also be "unfair" to atom? Nevertheless, it seems easy to implement

[2022-05-19 09:49] manuelgitgomes commented on #461
Ok, that makes sense. And an error of 50 can mean two different things. It can mean a correct calibration with the point in between two points or it can mean a displacement in the vertical or horizontal direction of 50 mm, which is not a correct calibration, right?

[2022-05-19 09:50] danifpdra commented on #461
Yes, exactly that!

[2022-05-19 09:57] miguelriemoliveira commented on #461
the way I think about it is that we cannot expect a calibration to be more accurate than the sensor's resolution. So if the resolution is about 50mm and we calibrate with an error of 10, we were probably lucky. But if, for example we get an error or 80 mm then it means the calibration could be better and is therefore not accurate. So I think I agree with @manuelgitgomes when he says this part:

@d

[2022-05-19 10:01] miguelriemoliveira commented on #463
Yes it would, because ICP would get and initial manual help. But, not to be seen as a conspiracy theory crackpot : ) , ATOM is always  treated unfairly in these comparisons because it calibrates all sensors altogether, while the other approaches calibrate the single pair of sensors that will then be evaluated in order to see which methodology performs best.

[2022-05-19 10:01] miguelriemoliveira commented on #463
Lets call it ICP with manual alignment ...

[2022-05-19 10:09] manuelgitgomes commented on #461
An error of 50mm can mean the projection in red, which is correct, just unlucky, but it can also mean the projection in blue, which is incorrect.
![2022_05_19_0ik_Kleki](https://user-images.githubusercontent.com/58152228/169269223-f85f2e56-44d0-4879-961e-f062f89c2279.png)
![2022_05_19_0ij_Kleki](https://user-images.githubusercontent.com/58152228/169269233-8c77db43-cf37-4cbc-b76e-a1b3bfc7379c.png)

[2022-05-19 10:13] miguelriemoliveira commented on #461
I think I still do not understand. Let's talk, perhaps its better.

[2022-05-19 10:20] manuelgitgomes commented on #461
Zoom?

[2022-05-19 10:22] miguelriemoliveira opened #466 "Depth intrinsics optimization possible bug"
[code]

undefined

[2022-05-19 10:23] miguelriemoliveira commented on #466
This is line 90, depth to rgb evaluation

[2022-05-19 10:24] manuelgitgomes commented on #463
I think something else might be wrong here. The first picture is the ICP without any calibration. It's visible that the pattern is on opposite sides of the room.
![image](https://user-images.githubusercontent.com/58152228/169271565-8f4055b3-a5ac-4fce-a961-68366d7d0b3e.png)

But then, when running the dataset_review, this is the inital estimate, which is visibly different than this.
![image](https:

[2022-05-19 10:32] miguelriemoliveira commented on #463
Sounds like a bug. Our idea from yesterday of using the transformation in the dataset perhaps will be enough.

[2022-05-19 10:55] miguelriemoliveira opened #467 "Create a conversion tool from annotations file format 1.0 to 2.0"
@manuelgitgomes FYI.

Because of #437 I changed the format of the annotations. Before it was something like:

![image](https://user-images.githubusercontent.com/11350998/169277545-f97695ae-77d8-4052-80d2-ca66b3e9f090.png)

and now we have

![image](https://user-images.githubusercontent.com/11350998/169277590-31cab9ee-8f48-486b-82f5-e128ece3d56d.png)

To avoid having to reannotate the images (altho

[2022-05-19 11:24] manuelgitgomes commented on #463
Bug solved, the transform was applied to the source instead of the target:
![image](https://user-images.githubusercontent.com/58152228/169282325-4ee773db-688c-41c9-b104-a08a1bbe122e.png)

Nevertheless, the results are not impressive. We can do the manual alignment and present both in the paper.
![image](https://user-images.githubusercontent.com/58152228/169282240-ba578156-0454-414e-8cd4-2e342f9e79

[2022-05-19 11:35] miguelriemoliveira commented on #463
Great, Lets discuss this afternoon.

[2022-05-19 12:06] miguelriemoliveira commented on #437
Hi @manuelgitgomes ,

I have been working onthis the past week and am now read to change the annotations and the evaluation scripts.
This should be coordinated, so lets talk about this. For now changes are in branch

https://github.com/lardemua/atom/tree/miguelriemoliveira/issue437

[2022-05-19 13:36] miguelriemoliveira opened #468 "Tool to rename atom datasets"

[2022-05-19 13:44] miguelriemoliveira opened #469 "Restructure file tree of atom datasets"
[code]

[2022-05-19 14:10] danifpdra commented on #458
Check this https://github.com/DavidB-CMU/rviz_tools_py

[2022-05-19 21:34] #437 closed, assigned to miguelriemoliveira

[2022-05-19 21:54] manuelgitgomes commented on #463
Hello @miguelriemoliveira and @danifpdra!
ICP is mostly implemented with some user experience flaws.
Currently, it's saving 4 JSON files:

- ICP_calibration_initial_average: Uses the average value of all ICP calibrations with the same initial estimate as ATOM;
- ICP_calibration_initial_best: Uses the best value (lower_rmse) of all ICP calibrations with the same initial estimate as ATOM;
- ICP_cali

[2022-05-19 22:01] miguelriemoliveira commented on #463
Hi @manuelgitgomes ,

great work.

I think it makes sense to save these 4 files.
#469 is in the backlog for now., so lets put the files in the root folder for now.

About  the evaluations: we should always think in the rmse. The others are not realy important.
About the  numbers:. What do we get using ATOM? Better or worse?

[2022-05-19 22:01] miguelriemoliveira commented on #463
About the open3d questions, I am sure @tiagomfmadeira can help. He worked on this already. @tiagomfmadeira can you give some tips to @manuelgitgomes ?

[2022-05-19 22:04] manuelgitgomes commented on #463
ATOM, on this dataset and this pair of sensors, has this results:
[code]
Which is slightly worse than the alligned_best, which is the best one of them all! So, I think we are doing well!

[2022-05-19 22:14] miguelriemoliveira commented on #463
Great. Notice our argument usually is not to say ATOM is more accurate in comparison to other methods (in fact most often it is not). The argument we make is that ATOM is  as accurate as other methods, but that it is so when calibrating complete systems instead of only the sensor pair which is being evaluated.

Moreover, in this case we gave ICP a big help with the enhanced manual first guess.

I

[2022-05-19 22:16] manuelgitgomes commented on #463
If you need anything else from me for this paper, I can tie these ends later. If not, I will try to do it in the next couple of days!

[2022-05-19 22:22] miguelriemoliveira commented on #463
Well, now that we are at it I would say we can use ICP to also have depth to lidar results.

For the depth we save range images, but these can be converted to points clouds:

https://github.com/lardemua/atom/blob/db8d143cfbba3fd42337918c7cb3cb3cef8e1bff/atom_evaluation/scripts/depth_to_rgb_evaluation#L60-L91

Then it's just a matter of running a very similar script to ICP calibration.

That would

[2022-05-19 22:27] manuelgitgomes commented on #463
Seems like a cool idea!

[2022-05-20 09:49] manuelgitgomes commented on #439
ICP calibration results:

Real:

Lidar 1 to Lidar 2:

- ICP initial average:
[code]

- ICP initial best:
[code]

- ICP aligned average:
[code]

- ICP aligned best:
[code]

Lidar 1 to Lidar 3:

- ICP initial average:
[code]

- ICP initial best:
[code]

- ICP aligned average:
[code]

- ICP aligned best:
[code]

Lidar 2 to Lidar 3:

- ICP initial average:
[code]

- ICP initial best:
[code]

- ICP ali

[2022-05-20 09:56] miguelriemoliveira commented on #458
We have our first filled frustum

![image](https://user-images.githubusercontent.com/11350998/169503949-f555d33e-a8cf-474e-b6a6-7e561c93184f.png)

[2022-05-20 10:01] miguelriemoliveira commented on #458
and for the entire larcc

![image](https://user-images.githubusercontent.com/11350998/169504867-12f9cc33-749a-4d45-8ab1-9182a11684ca.png)

[2022-05-20 10:06] miguelriemoliveira opened #471 "Daniela can you complete?"
[code]

https://github.com/lardemua/atom/blob/081c3a10e5e6c9e13a2919695ce78c6d01fd8eec/atom_calibration/src/atom_calibration/collect/interactive_data_labeler.py#L108

[2022-05-20 10:09] manuelgitgomes commented on #463
Hello! I have added functionalities to the script:

- When no points are selected, the collection is skipped. This is to be used when two pointclouds in the same collection are too different to align manually.
- When less than 3 points are selected or a different number of points is selected between pointclouds, the script does not break anymore. Now the collection reappears to reselect the points

[2022-05-20 10:12] danifpdra commented on #458
Looks great! Is it possible to see them in real time running the bag? Or just offline?

[2022-05-20 10:14] miguelriemoliveira commented on #458
Sure it is. I changed the colors from random to fixed. We are now defining a colormap Pastel2 https://matplotlib.org/3.5.0/gallery/color/colormap_reference.html to define the sensor's color based on its index.

Looks even better:

![image](https://user-images.githubusercontent.com/11350998/169506866-db45151d-360d-4394-a8ee-3818e50fef6f.png)

I will commit in a moment.

[2022-05-20 10:15] danifpdra commented on #458
Great! You should have been a designer

[2022-05-20 10:16] #458 closed, assigned to miguelriemoliveira

[2022-05-20 10:17] miguelriemoliveira commented on #458
Wasn't it a doctor?

Ok, this is operational and in the master branch. Deleted the frustum branch.

Have fun with the images for the paper.

[2022-05-20 10:21] miguelriemoliveira commented on #463
It makes sense. The best is the best only for a given collection, and the evaluation is done over all collections.

[2022-05-20 10:24] danifpdra commented on #458
You are multi-talented!

Thanks, will do.

[2022-05-20 14:35] danifpdra commented on #463
Hi @manuelgitgomes ,

Are the results above final? Can I put them on the paper? I am a bit lost, sorry

[2022-05-20 14:37] manuelgitgomes commented on #463
Hello @danifpdra! The results are being first written at #439, but when they are all taken I will write them on the spreadsheet!

[2022-05-20 14:39] danifpdra commented on #463
Okay, thanks :-)

[2022-05-20 15:38] manuelgitgomes commented on #439
Hello @miguelriemoliveira and @danifpdra! After evaluating ICP calibration in a simulated environment, I found that the initial transformation is better than the one given by the manual alignment. This might be due to the initial estimate being the one given in the URDF. Should I try to add a -nig to this calibration, to make it more "fair"?

[2022-05-20 15:42] danifpdra commented on #439
Hi @manuelgitgomes ,

When I calibrate the simulated environment I used the -nig 0.1 0.1...

[2022-05-20 15:43] manuelgitgomes commented on #439
Yes, but I am asking if I should do the same for the ICP?

[2022-05-20 15:43] danifpdra commented on #439
I would think the same values, yes

[2022-05-21 15:12] manuelgitgomes opened #473 "New evaluation script - sensor to frame evaluation"
Create a new evaluation script, evaluating differences in transforms of the sensor w.r.t. a specific frame.

[2022-05-21 15:15] miguelriemoliveira commented on #473
![image](https://user-images.githubusercontent.com/11350998/169657879-53be8170-a738-4c7b-91c7-91acdbd254ee.png)

[2022-05-21 15:15] #467 closed, assigned to miguelriemoliveira

[2022-05-21 15:34] manuelgitgomes opened #474 "Annotation bug"
With the new annotations, when one or more sides are empty, the program crashes. This can be seen on the dataset `gazebo_move` of atlascar2, on collection 30 and on the `top_left_camera` sensor.

You can use the command:
[code]
to reach the desired collection.

[2022-05-21 15:44] #474 closed, assigned to miguelriemoliveira

[2022-05-21 15:45] miguelriemoliveira commented on #474
Hi @manuelgitgomes ,

just fixed it. Also datasyned the new annotation file with the correct labels (it was ok before, but I updated it)

[2022-05-21 17:08] miguelriemoliveira commented on #468
Implemented. Use with

   clear && rosrun atom_calibration rename_dataset -d ~/datasets/larcc/larcc_real/dataset_train -n train_dataset

I actually already renamed the

~/datasets/larcc/larcc_real/dataset_train

to

~/datasets/larcc/larcc_real/train_dataset

So please @manuelgitgomes  remove manually your ~/datasets/larcc/larcc_real/dataset_train and resync

[2022-05-21 17:08] #468 closed, assigned to miguelriemoliveira

[2022-05-21 17:11] miguelriemoliveira commented on #462
Hi @eupedrosa ,

we searched and could not find anything other than opencv. So if you can get results with kalibr that would be nice.

[2022-05-21 21:23] manuelgitgomes commented on #439
@danifpdra the ICP results are on the spreasheet!

[2022-05-22 15:01] manuelgitgomes commented on #463
Hello! The ICP implementation pipeline is done. However. there are some logical flaws I might need your help solving.
When using the initial estimate, everything is aligned correctly, which is great!

![image](https://user-images.githubusercontent.com/58152228/169700880-76a2803e-6901-42d0-bdbb-a71a23c39255.png)

When picking points for the manual alignment in the depth sensor, the problem arises.

[2022-05-22 16:36] miguelriemoliveira commented on #463
Hi @manuelgitgomes ,

that's strange. Let me look into it, although I have little experience with open3d...

[2022-05-22 17:06] miguelriemoliveira opened #475 "Use CamelCase for functions and class methods, with the first character being small, like saveICPCalibration."
Snake case we use for variables. It is better if we all use the same style.

Assignees: @manuelgitgomes
Labels: enhancement

https://github.com/lardemua/atom/blob/bbe7bbe566280a00fb6a58e83e4422318847e1bb/atom_evaluation/scripts/other_calibrations/icp_calibration.py#L82

[2022-05-22 17:08] manuelgitgomes commented on #475
Ok! I will change that!

[2022-05-22 17:11] miguelriemoliveira commented on #463
Hi @manuelgitgomes ,

I am lost. Should we not have an icp calibration from lidar to lidar, and another icp calibration script from depth to lidar?

This script handles both modalities? How?

[2022-05-22 17:12] manuelgitgomes commented on #463
Hello! Yes, the script detects the modality of the sensor and, depending on the modality, it loads the pointcloud. After the pointcloud is loaded, the process is the same.

[2022-05-22 17:13] miguelriemoliveira commented on #463
Also, can you post how you run the code?

[2022-05-22 17:13] miguelriemoliveira commented on #463
Where?

[2022-05-22 17:13] manuelgitgomes commented on #463
`rosrun atom_evaluation icp_calibration.py -json $ATOM_DATASETS/larcc/larcc_sim/train_dataset/dataset_corrected.json -ss depth_camera_1 -st lidar_3 -nig 0.1 0.1 -si`

[2022-05-22 17:14] manuelgitgomes commented on #463
https://github.com/lardemua/atom/blob/9c38093feda85bd6d6566c4c8de2624a679330d5/atom_evaluation/scripts/other_calibrations/icp_calibration.py#L147-L162

[2022-05-22 17:16] manuelgitgomes commented on #463
If you need some help we can meet!

[2022-05-22 17:18] miguelriemoliveira commented on #463
OK, lets meet. I will turn on zoom.

[2022-05-22 17:22] manuelgitgomes commented on #473
Hello! A first iteration of this evaluation was developed. You can try it by running the command:
[code]
It currently retrieves the transform between a sensor and a frame. The first results are:
[code]

Does this make sense? The ground truth transform does not change between collections, so does it make sense to calculate in every collection?
And how can this translate to the real world?
Is there

[2022-05-22 17:37] miguelriemoliveira opened #476 "Move this to atom core"
[code]

https://github.com/lardemua/atom/blob/9c38093feda85bd6d6566c4c8de2624a679330d5/atom_evaluation/scripts/other_calibrations/icp_calibration.py#L23

[2022-05-22 19:36] #475 closed, assigned to nobody

[2022-05-22 19:44] manuelgitgomes commented on #463
Hello! I corrected the bug and added some suggestions:

- Now manual alignment is a flag from argparse `-ma`, which only runs if called. This results in only 2 calibrations being saved now, the average and the best one. If no `-ma` flag is presented, it uses the initial estimate. If it is present, manual alignment takes place and that is used as a starting point
- The subsampling is now a flag fro

[2022-05-22 19:52] manuelgitgomes commented on #466
Due to some reformulations, this is now on here:
https://github.com/lardemua/atom/blob/b64fb6afc193f433d47b1188a1ac60131b315b06/atom_core/src/atom_core/vision.py#L194

[2022-05-22 20:58] miguelriemoliveira commented on #475
Thanks

On Sun, May 22, 2022, 20:36 Manuel Gomes ***@***.***> wrote:

[2022-05-23 06:38] miguelriemoliveira commented on #473
Thanks Manuel.  I did not antecipate this but its true: we will have the
same resilt for all collections, it makes sense.

One test l use for assessing if the script is functioning properly is: if
you run using the same datasets both for train and test, is the error zero?

On Sun, May 22, 2022, 18:22 Manuel Gomes ***@***.***> wrote:

[2022-05-23 07:04] markushillemann commented on #438
Hi @eupedrosa and @miguelriemoliveira,

I needed to change some lines in the conversion scripts (Python2 -> Python3) but now it seems to work. I still need to verify it. The reprojection error for the kuka_1 dataset is 2.26px, which is actually a bit smaller than reported in the paper.

Thank you again for the help. This issue can be closed from my side.

[2022-05-23 08:24] miguelriemoliveira commented on #438
Thanks @markushillemann .

If you can share you improvements please create a PR. We will look into it.

Also, we are trying to keep a list of the systems which are calibrated using ATOM.
If you could provide some information for us to include in the webpage that would be great.
Something like this https://github.com/lardemua/atom#larcc

Regards,
Miguel

[2022-05-23 08:31] manuelgitgomes commented on #473
Ok, I will test this later

[2022-05-23 10:33] eupedrosa commented on #462
Hi @miguelriemoliveira.

I guess we can use kalibr, it now compiles with noetic. To calibrate I need a ROS bag. The bag can be created this way: https://github.com/ethz-asl/kalibr/wiki/bag-format

Can you provide the images and the pattern dimensions?

[2022-05-23 12:47] danifpdra commented on #463
Hi @manuelgitgomes and @miguelriemoliveira

Is the ICP lidar-lidar evaluation that is on google sheets complete? If yes, which of them should go on the paper? All of them? Only the best (ICP aligned average)?

Thanks @manuelgitgomes for these results

[2022-05-23 12:52] manuelgitgomes commented on #463
Hello!

It is!

I believe the initial idea was to place all of them. If you do not have space, I would still suggest placing the initial average and the aligned average. This is to compare how ICP works with the same initial estimate as ATOM, which usually is worse, and how it works with a better initial estimate. But let's see what @miguelriemoliveira says.

[2022-05-23 12:55] danifpdra commented on #463
Ok, i can put them all, no problem. Can you just explain briefly the difference between all of them so I can explain the tables?

[2022-05-23 12:57] manuelgitgomes commented on #463
The difference between initial and aligned:

- Initial has the same initial estimate as ATOM;
- Aligned has a better initial estimate, given my manually aligning the pointclouds.

The difference between best and average:

- Average gives the average transformation estimated between all collections;
- Best gives the estimated transformation with the least amount of error.

[2022-05-23 12:58] danifpdra commented on #463
So why is the average better than the best?

[2022-05-23 13:01] manuelgitgomes commented on #463
I also had that doubt but professor answered me:

[2022-05-23 13:21] danifpdra commented on #463
![image](https://user-images.githubusercontent.com/47574905/169828687-d4cbdc33-5739-47f1-9ddd-d2462af8bc01.png)

I think it looks good, what do you think?

[2022-05-23 13:28] miguelriemoliveira commented on #463
Looks great. Congratullations.

Agree with all you said.

[2022-05-23 13:31] miguelriemoliveira commented on #466
Thank @manuelgitgomes .

for now this is low priority.

[2022-05-23 16:42] miguelriemoliveira commented on #438
This is done. Thanks again to @markushillemann .

[2022-05-23 16:42] #438 closed, assigned to eupedrosa, miguelriemoliveira

[2022-05-23 17:02] miguelriemoliveira commented on #462
Hi @eupedrosa ,

Thanks for the help.

From what I see above all you need are the datasets, since from then you can generate the csvs and later the kalibr rosbags, right?

In the paper the table we want to change is Table 3: Performance comparison of methods for RGB to RGB camera evaluation.

![image](https://user-images.githubusercontent.com/11350998/169868617-eb66bac0-4343-4bdc-b768-da0e31b160ba

[2022-05-24 09:25] danifpdra commented on #462
Hi,

Yes, I do have the atlascar datasets. Here they are
[atlascar2_t.zip](https://github.com/lardemua/atom/files/8761309/atlascar2_t.zip)

[2022-05-24 10:45] #471 closed, assigned to danifpdra

[2022-05-24 16:01] eupedrosa commented on #462
@danifpdra , the `_test` dataset is the one used for evaluating, correct?

[2022-05-24 16:03] danifpdra commented on #462
yes, correct

[2022-05-24 16:06] miguelriemoliveira commented on #462
ai ai ai, these names. We have a dataset renaming tool working. After this paper is submitted we should change the name.

[2022-05-24 16:08] danifpdra commented on #462
why do you say that? it's well named
![image](https://user-images.githubusercontent.com/47574905/170082147-7f5c5c1e-c8b9-4407-9bfa-11ec1040ba52.png)

[2022-05-24 16:27] eupedrosa commented on #462
Are you sure that the `_test` dataset is the one used for the evaluation in the paper? The results that I got using this one is very different from the ones in the paper.

For example, the center-camera to left-camera has a RMSE of 3 pixels in the paper, using the `_test` for evaluating Kalibr I got an RMSE of ~1.0. The defiference is very high.

[2022-05-24 16:31] danifpdra commented on #462
I am absolutely sure... I saved all the commands are results that I took at that time.

The used command was (for that pair, for example):

`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/atlascar2_train_1/atom_calibration.json -test_json $ATOM_DATASETS/atlascar2_test_1/data_collected.json -ts top_left_camera -ss top_center_rgbd_camera_rgb `

And I got
[code]

[2022-05-24 16:43] miguelriemoliveira commented on #462
@eupedrosa , perhaps use the old camera_to_camera evaluaton just to make sure its the same script.

https://github.com/lardemua/atom/blob/noetic-devel/atom_evaluation/scripts/old/camera_to_camera_evaluation_old.py

perhaps that accounts for some difference.

[2022-05-24 16:44] miguelriemoliveira commented on #462
yes it is. I was @eupedrosa  that wrote just _test and I thought that was one of the datasets... sorry.

[2022-05-24 17:39] eupedrosa commented on #462
@danifpdra, do you also have the command for the right camera to center camera?

[2022-05-24 17:41] danifpdra commented on #462
`rosrun atom_evaluation camera_to_camera_evalutation.py -train_json $ATOM_DATASETS/atlascar2_train_1/atom_calibration.json -test_json $ATOM_DATASETS/atlascar2_test_1/data_collected.json -ss top_right_camera -ts top_center_rgbd_camera_rgb`

[code]

[2022-05-24 17:52] eupedrosa commented on #462
Thanks @danifpdra.

@miguelriemoliveira, I finished calibrating with Kalibr. I was not able to use extract the correct data from the full calibration with Kalibr. I had to do pairwise calibration.

Here is the data:

![Screenshot from 2022-05-24 18-46-35](https://user-images.githubusercontent.com/6196901/170099706-c3c6f5a8-c31d-4077-97ee-8a5cf8d7fba0.png)

[2022-05-24 17:55] danifpdra commented on #462
@eupedrosa ,

Can you tell me how did you obtain these results? Did you create a script in ATOM to replicate this for other calibration systems or did you just replicate kalibr? I wanted to replicate it for Larcc

[2022-05-24 18:02] eupedrosa commented on #462
I had two create 2 scripts:
- **dataset_to_bag.py**:  will create a ROS bag from an ATOM dataset.
- **kalibr_stereo_calib.py**: will read the ATOM dataset and the Kalibr output file and will create `kalibr_calibration.json` that can be used with the ATOM toolset.

Right now it assumes that we are calibrating stereo. This may be changed to accept any number of cameras.

I will commit the scripts.

[2022-05-24 18:03] danifpdra commented on #462
Thank you very much! I will try it out.

[2022-05-25 09:37] miguelriemoliveira commented on #462
Thanks @eupedrosa ,

great work. I think this is a big step in getting the paper accepted.

I will try to complete the rest this week.

[2022-05-25 13:47] danifpdra commented on #439
Hi @manuelgitgomes ,

Did you took results for the depth-lidar pairs? I'm sorry, I'm a bit lost between all the issues and couldn't keep up

[2022-05-25 13:50] manuelgitgomes commented on #439
Hello! Sorry I did not have time. Tonight I will take care of it, sorry for the delay!

[2022-05-25 13:54] danifpdra commented on #439
Do you need me to do it? I can if you are busy with other works :-)

[2022-05-25 14:39] manuelgitgomes commented on #439
Sure, if you can! @danifpdra
The commands are:
[code]

For simulated datasets, use the `-nig 0.1 0.1` flag. If you want to see images, use `-si` flag.
To manually align, use the flag `-ma`, and pick at least 3 points in both images. The instructions are played on the terminal.
If you need any help, let me know.
I can still do them tonight.

[2022-05-25 14:50] danifpdra commented on #462
@eupedrosa ,

Can you tell me which parameters you used to run kalibr?

[2022-05-25 14:52] danifpdra commented on #439
I am taking results right now for camera-camera pairs using kalibr. I will try to do that if I have time after. Can you just tell me how do I do that best/average and initial/aligned stuff?

[2022-05-26 08:23] danifpdra opened #478 "ATOM inspect dataset changed?"
Hi @miguelriemoliveira ,

This file changed https://github.com/lardemua/atom/blob/de8e171ec7ffb3083e0cabe74b0700978f3a28b6/atom_evaluation/scripts/inspect_atom_dataset

it doesn't show the green and red table anymore and it's just a list of all collections... why? it's must harder to read

[2022-05-26 08:23] danifpdra commented on #478
What do the two last lines mean?

[code]

[2022-05-26 08:53] miguelriemoliveira commented on #478
If it changed it was not intentional. I will add it to my todo list.

[2022-05-26 09:20] manuelgitgomes commented on #439
Hello! Sorry, I thought I had sent an email with the instructions, my bad. I will do this today.

[2022-05-26 09:36] danifpdra commented on #439
Hi @manuelgitgomes ,  @miguelriemoliveira  already explained me how to do it. Thanks

[2022-05-26 14:06] danifpdra commented on #463
Hi @manuelgitgomes ...

I'm sure I'm doing something wrong.

First:  are the results for the manual alignment suppose to be this bad? for lidar-lidar pairs they were not....

average aligned lidar 1 depth 1
[code]

average aligned lidar1 depth 1
[code]

I used the command

`rosrun atom_evaluation icp_calibration.py -j $ATOM_DATASETS/larcc_sim/train_dataset/dataset_corrected.json -ss depth_camera_1

[2022-05-26 14:09] manuelgitgomes commented on #463
Hello! No, that is corrected. But you need to pick them at the same order in both pointclouds.

Which command did you ran here?

[2022-05-26 14:11] danifpdra commented on #463
I did that but sometimes I'm not sure because half the chessboard is missing....

This

`rosrun atom_evaluation icp_calibration.py -j $ATOM_DATASETS/larcc_sim/train_dataset/dataset_corrected.json -ss depth_camera_1 -st lidar_2 -nig 0.1 0.1 -seed 2`

and then this

`rosrun atom_evaluation lidar_to_depth_evaluation -train_json $ATOM_DATASETS/larcc_sim/train_dataset/ICPCalibration_average_depth_camer

[2022-05-26 14:12] danifpdra commented on #463
Btw the results of lidar-depth evaluation are in pixels, so those results are really bad...

[2022-05-26 14:15] manuelgitgomes commented on #463
Yes, it's tricky to do. Usually when it's hard to do, just click on `q` without selecting any points. If you do that, the current collection is not counted.

Interesting, do these results apply for the initial estimate as well?
Also, try the dataset_corrected like this:
[code]

[2022-05-26 14:28] danifpdra commented on #463
Yes, I did that. But still, these results were not suppose to happen, right?

Yes, I used the corrected. I copied from the wrong place. It happens for aligned and not aligned. best and average

[2022-05-26 14:30] manuelgitgomes commented on #463
Weird. Let me try it. I will get back to you in a moment

[2022-05-26 14:45] manuelgitgomes commented on #463
[code]
For the same initial estimate, this was the result. It's bad, but not as bad as yours. Let me try it with manual alignment.

[2022-05-26 14:46] danifpdra commented on #463
How did I not obtain that?

[2022-05-26 14:46] danifpdra commented on #463
Maybe you improved your datasets and they are different?

[2022-05-26 14:47] manuelgitgomes commented on #463
That might be it! I spent some time on dataset reviewer for both train and test dataset

[2022-05-26 14:48] danifpdra commented on #463
yeah, maybe that's difference :/

[2022-05-26 14:49] manuelgitgomes commented on #463
You were comparing a simulation calibration with a real test dataset! That might be it!

[2022-05-26 14:51] danifpdra commented on #463
Again, that was a me coping the wrong command...

![image](https://user-images.githubusercontent.com/47574905/170513735-890e3877-4b40-4e0e-bbb2-e4cdcd1f53f6.png)

[2022-05-26 14:58] manuelgitgomes commented on #463
If you want, I can do it!

[2022-05-26 15:00] danifpdra commented on #463
I know you have a lot to do... I just don't understand why the values are so different between you and me. It doesn't make sense to put this on the paper if I'm doing it wrong

[2022-05-26 15:02] manuelgitgomes commented on #463
Neither do I.

Then I can do it. It's only three calibration procedures!

[2022-05-26 15:04] danifpdra commented on #463
I'm sure I must be doing something wrong.

It's actually 6... 3 for simulation and 3 for real.

[2022-05-26 15:32] manuelgitgomes commented on #439
ICP calibration depth to lidar:

Real:

Depth 1 to Lidar 1:

- ICP Initial Average:
[code]

- ICP Initial Best:
[code]

- ICP Aligned Average:
[code]

- ICP Aligned Best:
[code]

Depth 1 to Lidar 2:

- ICP Initial Average:
[code]

- ICP Initial Best:
[code]

- ICP Aligned Average:
[code]

- ICP Aligned Best:
[code]
Depth 1 to Lidar 3:

- ICP Initial Average:
[code]

- ICP Initial Best:
[code]

- I

[2022-05-26 15:41] miguelriemoliveira commented on #463
Thanks to both. If you need help let me know.

[2022-05-27 11:01] manuelgitgomes commented on #439
Hello @danifpdra! The depth-lidar ICP results are already on the spreadsheet!

[2022-05-27 12:50] danifpdra commented on #439
Thank you so much @manuelgitgomes

[2022-05-28 08:51] miguelriemoliveira commented on #478
Mistery solved. There were two files:

1. atom_calibration/inspect_dataset (which was doing what we expected)

and

2. atom_evaluation/inspect_atom_dataset (which was printing old stuff)

I am deleting 2, and renaming 1 to be

atom_calibration/inspect_atom_dataset

[2022-05-28 08:56] #478 closed, assigned to miguelriemoliveira

[2022-05-28 08:57] miguelriemoliveira commented on #362
@danifpdra is this solved?

[2022-05-28 09:52] danifpdra commented on #362
No, it's not solved

[2022-05-28 09:52] danifpdra commented on #478
ok, thanks

[2022-05-28 10:11] #362 closed, assigned to miguelriemoliveira

[2022-05-29 14:02] #464 closed, assigned to miguelriemoliveira, danifpdra, manuelgitgomes

[2022-05-31 15:11] danifpdra opened #479 "Error launching collector"
Hi @miguelriemoliveira ,

When running

`roslaunch larcc_calibration collect_data.launch output_folder:=~/datasets/larcc_sim/tests_for_paper overwrite:=true bag_rate:=0.1 bag_start:=0`

I am getting this error

[code]

I have a feeling we've had this error before... Did you change anything? Does it also happen to you? Do you know how to solve it?

[2022-05-31 15:41] danifpdra commented on #479
Fixed it with

`!pip install pyyaml==5.4.1`

Closing.

[2022-05-31 15:41] #479 closed, assigned to miguelriemoliveira, danifpdra

[2022-05-31 15:55] miguelriemoliveira commented on #479
Great!

[2022-05-31 16:06] danifpdra opened #480 "New frustum don't allow to move interactive markers"
![image](https://user-images.githubusercontent.com/47574905/171219235-bc590729-e3ab-44f1-b64c-7c150e3204db.png)

[2022-05-31 17:39] miguelriemoliveira commented on #480
Perhaps you need to turn them off or find a viewpoint where they are not in front?
I think there is the namespace with only the wireframe, that should work

[2022-06-01 08:33] eupedrosa commented on #462
Sorry for the late reply @danifpdra.

Here is an example for atlascar

[code]

And the `target.yaml` is

[code]

[2022-06-03 12:37] manuelgitgomes opened #481 "Bug found in set initial estimate initiation"
When retrieving images for my dissertation, I found a bug while running:

[code]

The error is as follows:

[code]

The problem was solved when placing a `time.sleep` before the initiation of the sensors. So the script changed from this:
https://github.com/lardemua/atom/blob/71e1f78fce2f723e8a991b35f8591167adfd84e4/atom_calibration/scripts/set_initial_estimate#L57-L73

To this:

[code]

This might

[2022-06-03 13:08] miguelriemoliveira commented on #481
Yes, I think it makes sense to do so.

Thanks @manuelgitgomes

[2022-06-03 13:09] manuelgitgomes commented on #481
Ok, then I'll commit my changes!

[2022-06-03 13:13] #481 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-06-03 13:33] #463 closed, assigned to manuelgitgomes

[2022-06-04 22:37] miguelriemoliveira opened #483 "Standarizing the scripts in ATOM"
Hi @danifpdra and @manuelgitgomes ,

I am writing the documentation for ATOM and I noticed that there is no standard for launching the scripts in atom.

The original idea was to call everything with ros launch files, but in fact we are calling python scripts in many places.

I would say that the best would be to use the launch files for setting up the ros stuff such as rviz, but then always call t

[2022-06-04 23:03] miguelriemoliveira opened #484 "Visualization of sensor frustums on set initial estimate"
Hi @danifpdra ,

Right now we are showing the sensor fustrums during the collect data stage.

I was wondering  does it not make more sense to run this in the set_initial_estimate?

[2022-06-05 08:14] miguelriemoliveira opened #485 "Depth camera labeling using image clicks"
Hi @danifpdra ,

I am thinking about changing the depth camera automatic labeling seed point selection to an image click mechanism.
Something like "just click inside the pattern".

It would be better that the current approach, right?

[2022-06-05 08:31] manuelgitgomes commented on #483
Hello! Sure, it makes sense!
However, will the script be the one on atom_calibration or will a new one be created for each specific calibration package?

[2022-06-05 08:58] danifpdra commented on #484
Yes, it would, but we put them initially there because we can't give the seed point to the depth image without it... the RGB was just for the paper

[2022-06-05 08:59] danifpdra commented on #483
Why not everything just with one command? It gives the user more trouble to use two

[2022-06-05 09:25] danifpdra commented on #485
Yes, sure

[2022-06-05 10:03] miguelriemoliveira commented on #484
Ok, I get it. But if we do #485 the this could  go into the set initial estimate right?

[2022-06-05 21:01] miguelriemoliveira commented on #483
Hi @danifpdra and @manuelgitgomes ,

thanks for your replies.

Right. that would be better. The problems with that are:

   1. All prints are flushed to the same terminal (including the one from the rosbag play), which makes it difficult to see anything.
   2. it is not consistent throughout atom, sometimes we have launch files, sometimes scripts ... sometimes launch files and scripts
   3. The co

[2022-06-06 08:19] danifpdra commented on #483
Hi,

I think that some things that are standard for every script should be customized using templates... For example when launching the dataset reviewer we need to launch the visualization plus a python script but we need to give that script all the information, why not also configure that script with the configure_calibration_pkg and the roslaunch launches the visualization plus the script and it

[2022-06-06 08:32] miguelriemoliveira commented on #483
Hi @danifpdra and @manuelgitgomes ,

perhaps we can have a meeting to discuss this?

14h15 is ok for you?

[2022-06-06 08:34] manuelgitgomes commented on #483
Hello! Sorry, today is impossible as I will be on atlascar.
Tommorrow morning maybe?

[2022-06-06 08:35] miguelriemoliveira commented on #483
Tomorrow is not good for me.

Let's do it Wednesday 9h?

[2022-06-06 08:36] danifpdra commented on #483
I can't Wednesday morning. Just in the afternoon

[2022-06-06 08:45] danifpdra commented on #484
Sure, that would do

[2022-06-06 09:00] manuelgitgomes commented on #483
Sure, wednesday at 14?

[2022-06-06 10:24] danifpdra opened #486 "Mismatch between messages timestamps"
Hi @miguelriemoliveira ,

When I am trying to collect data for the RGB-D calibration I get this

[code]

Do you know what this is about? The bagfile seems well recorded

[2022-06-06 14:20] miguelriemoliveira commented on #483
This is difficult :-). Wednesday afternoon I am busy.

Lets do it Thursday 14? In the meantime I will work on the documentation.

[2022-06-06 14:24] miguelriemoliveira commented on #486
Hi @danifpdra ,

did you upload the bag file to the lars already?

[2022-06-06 14:33] danifpdra commented on #486
Hi @miguelriemoliveira ,

The problem is the bag, I am trying to fix it. I haven't upload it to lars because I'm still not sure how to log in. I'll see to it right away.

[2022-06-06 14:34] danifpdra commented on #483
That works for me.

[2022-06-06 15:09] danifpdra commented on #486
I fixed this. Closing

[2022-06-06 15:09] #486 closed, assigned to danifpdra

[2022-06-06 16:36] danifpdra opened #487 "Dataset playback not working?"
Hi @miguelriemoliveira  and @miguelriemoliveira ,

Is the dataset_playback working for you?

First I could not run it because it got stuck here https://github.com/lardemua/atom/blob/53c2efba7a90f043ca97306cc7e27b394ceea66b/atom_calibration/src/atom_calibration/dataset_playback/visualization.py#L241

I had to comment that line... And now it runs normally but no image appears

![image](https://user-

[2022-06-06 16:53] miguelriemoliveira commented on #485
Got it

https://youtube.com/shorts/OuLHvp95UBI?feature=share

Will commit in a sec

[2022-06-06 16:56] miguelriemoliveira commented on #485
Done in d3faa4576fd0db611f5ee107fe8b0346a73aa736 . Please try it @danifpdra

[2022-06-06 16:56] #485 closed, assigned to miguelriemoliveira

[2022-06-06 19:55] manuelgitgomes commented on #487
This is weird, I will try this later today!

[2022-06-06 23:08] manuelgitgomes commented on #487
Hello! I do not have the camerabot repo, so I cannot run these commands!

[2022-06-07 08:38] danifpdra commented on #487
Everyhting is here:

![image](https://user-images.githubusercontent.com/47574905/172335864-46f46f24-2bc1-4990-b18d-9eeb0e763429.png)

but no image or pointcloud is being published although in the terminal everything looks fine. Did some of you change the way to launch this?

![image](https://user-images.githubusercontent.com/47574905/172336035-c2d59cb7-0c9d-409c-9b56-366acb8e3724.png)

[2022-06-07 09:11] miguelriemoliveira commented on #487
Hi @danifpdra ,

first thing is we have to meet so you start using the lars_datasync. We have to stop sending datasets as attachments.

I also do not have the camerabot. Can you run the dataset playback with larcc or another robotic system? Is the problem just for the camerabot or not?

[2022-06-07 09:14] miguelriemoliveira commented on #483
@manuelgitgomes , can you?

[2022-06-07 09:17] manuelgitgomes commented on #483
@miguelriemoliveira yes! I reacted to your comment with a thumbs up. These reactions are not sent through email, next time I will answer the "normal" way!

[2022-06-07 09:24] miguelriemoliveira commented on #483
Ah, ok, my bad.

You can do the emojis, no problem.

See you Thursday 9h then.

[2022-06-07 09:25] danifpdra commented on #487
I already put the camerabot dataset there....

No, I tried the larcc and the same happens.

[2022-06-07 09:27] danifpdra commented on #483
Thursday at 9 or 14? You said 14 and now you said 9

[2022-06-07 09:56] miguelriemoliveira commented on #483
Sorry 14h

On Tue, Jun 7, 2022, 10:28 Daniela Rato ***@***.***> wrote:

[2022-06-07 10:33] miguelriemoliveira commented on #487
Working for me ...

![image](https://user-images.githubusercontent.com/11350998/172359346-38756bd4-63a4-40a2-8b4a-d8be8b09247e.png)

I ran:

    roslaunch larcc_calibration dataset_playback.launch

and then:

    clear && rosrun atom_calibration dataset_playback -json $ATOM_DATASETS/larcc/larcc_real/test_dataset/dataset_corrected.json -csf "lambda x: int(x) <= 55" -uic -si  -ow

and it worked fine

[2022-06-07 10:41] danifpdra commented on #487
It does not work for me...

![image](https://user-images.githubusercontent.com/47574905/172360861-e10ea94d-f891-4db3-bddd-24fd5a702f51.png)

My code is up to date

[2022-06-07 10:47] miguelriemoliveira commented on #487
We can meet tomorrow morning and I can try to help ...

In the meantime are you using the commands I posted?

Miguel
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenha

[2022-06-07 10:48] danifpdra commented on #487
I can't tomorrow morning...

Yes, I copied them

[2022-06-07 10:52] miguelriemoliveira commented on #487
Ok, thursday after discussing with Manuel, 15h?
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiag

[2022-06-07 13:59] danifpdra commented on #487
I rebooted my computer and it now works... Go figure. Closing

[2022-06-07 13:59] #487 closed, assigned to miguelriemoliveira, manuelgitgomes

[2022-06-07 14:31] miguelriemoliveira commented on #487
Lol.

On Tue, Jun 7, 2022, 14:59 Daniela Rato ***@***.***> wrote:

[2022-06-09 13:00] miguelriemoliveira opened #489 "Create a documentation site for ATOM"
Hi @DanielCoelho112, @danifpdra , @eupedrosa , @vitoruapt , @manuelgitgomes and @aaguiar96 ,

I have been working on the ATOM documentation.

The github repo storing the documentation's source files is here:

https://github.com/lardemua/atom_documentation

and you can see the documentation here:

https://lardemua.github.io/atom_documentation/

It is not complete, but there is a lot there already.

[2022-06-10 22:24] manuelgitgomes commented on #439
Closed because results are taken

[2022-06-10 22:24] #439 closed, assigned to nobody

[2022-06-13 15:50] danifpdra opened #490 "Collecting data crashing when seed points "leaves" the image borders"
Hi @miguelriemoliveira ,

The collector for the depth modality is crashing since you implemented #485 when the seed points "touches" the image's borders

[code]

[2022-06-13 15:52] miguelriemoliveira commented on #490
Hi @danifpdra ,

I will try to fix it soon.

[2022-06-13 16:10] danifpdra commented on #489
Hi @miguelriemoliveira ,

I think it looks very good. I don't have any suggestions to improve right now but if I remember something in the mean time I will let you know!

[2022-06-13 16:17] miguelriemoliveira commented on #489
Thanks @danifpdra,

ok, if your remember something let me know.

[2022-06-13 16:32] vitoruapt commented on #489
Yes, nice looking documentation! It almost compels us to read it ;-)

[2022-06-13 16:41] miguelriemoliveira commented on #489
Thanks @vitoruapt  ... I can see nobody is going to read it ... : - )

[2022-06-14 11:13] #490 closed, assigned to miguelriemoliveira

[2022-06-14 11:59] miguelriemoliveira commented on #490
Hi @danifpdra ,
can you explain hoe you fixed it?

[2022-06-14 12:51] danifpdra commented on #490
Hi @miguelriemoliveira ,

It was not being checked if the seed point went out of the image and because we are doing the pyrdown seed points really close to the edges were being converted to the edges and throwing errors in neighbour masks...

So I added a test that sees where the seed point is and if it is near the edges (near being the same percentage we use to filter the edges in the labelling a

[2022-06-14 14:02] miguelriemoliveira commented on #490
OK, got it.

On the else perhaps it would be best to say the new xy is the same as the previous xy ...
Thanks,
Miguel

[2022-06-14 14:10] danifpdra commented on #490
I don't think so because if the seed point is being automatically calculated and it's moving towards the edge, and we say it's the previous edge points it will come back to being next to the edge and it will be an endless loop... while if it is the middle of the chessboard we can then correct it manually to the chessboard area. Because this problem happens when the algorithm starts tracking a movi

[2022-06-14 14:49] miguelriemoliveira commented on #490
That is what happens in your dataset. It could be in some other that the pattern is moved to the edge of the image, and if that's the case it would not make sense to "assume the  pattern is back at the middle of the image".

I think it is better to assume that if the tracked object disappeared near and image edge, then it should be close to that edge, not the middle of the image.

[2022-06-14 14:54] danifpdra commented on #490
I'm not assuming that the object is near the image. I am assuming that I've reached a point where I don't know where the pattern is because if the center of mass of the tracked object is in the edge it is because there is almost no object visible. I am assuming I am going back to center and manually find the object again, because when I was running this script with the click on image and the seed

[2022-06-14 15:12] peci1 opened #491 "IMU pose calibration?"
Hi, this project looks very interesting. I'm wondering if you have plans to also add calibration of IMU pose with respect to the defined base_link frame. I know this is a very different problem than the other calibrations you offer in Atom, but maybe you have a clue how to do it right.

[2022-06-14 15:32] miguelriemoliveira commented on #491
Hi @peci1 ,

Thanks for the nice words. BTW we are preparing a documentation for atom. If you use ATOM this should be helpful.
We are releasing it soon but I will share it here.

https://lardemua.github.io/atom_documentation/

We are not considering expanding ATOM to the calibration of IMUs in the near future. Perhaps if I get a M.Sc. Thesis student in september ...

In any case I know that Kalibr

[2022-06-14 15:46] peci1 commented on #491
Thank you for the quick reply. We're not using Atom (yet), but I'm considering it as it seems really straightforward.

If we get to using it and find some issues, we'll let you know.

One thing that I was missing when reading the Readme was the requirement for how many poses and what calibration boards are needed. Can that information be somehow generalized and mentioned in the tutorial?

Feel fre

[2022-06-14 15:50] miguelriemoliveira commented on #491
Hi @peci1 ,

Great!

We use about 20 to 30 collections for training and its generally enough. That's about the same you need when calibrating a stereo system with opencv for example.  In any case thanks for the tip, I will include this information.

[2022-06-14 15:50] #491 closed, assigned to nobody

[2022-06-14 15:53] peci1 commented on #491
Thanks for possible updates of the documentation. It would probably be best to estimate the numbers in per-pair or per-sensor or per-fov-degree units. For example, our robots have 4-6 cameras pointing to all directions and an omnidirectional lidar, so it would be useful to know that it is enough to e.g. have 10 samples per a camera-lidar pair.

[2022-06-14 16:02] miguelriemoliveira commented on #491
Well, that's a tricky one because ATOM is able to calibrate everything altogether, so it does not work in pairs. Of course ATOM need several collections were several sensors see the pattern, but I cannot have a good estimate for how many. Nonetheless, ATOM provides several evaluation scripts to be run post calibration which will tell you the reprojection errors between sensors.

So you could try w

[2022-06-14 17:57] danifpdra commented on #489
I notice that there are some commas missing here

![image](https://user-images.githubusercontent.com/47574905/173657465-dd08a6e9-2c96-447b-b221-3fd59384ea75.png)

[2022-06-15 09:32] peci1 commented on #491
One more thing that I found unclear from the docs - does the framework expect that the RGB/D cameras are already calibrated for their intrinsics, or is even the intrinsics calibration a part of ATOM optimization?

[2022-06-15 10:47] miguelriemoliveira commented on #491
Thanks @peci1 ,

In ATOM we consider an RGB-D camera as two separate sensors, which are to be calibrated just like any other two sensors in the system. In fact we are now running experiments where we compare the extrinsic calibration between the depth and rgb sensor of an RGDD camera produced by ATOM with the factory calibration of the device.

ATOM also supports intrinsic camera calibration (for

[2022-06-15 13:53] miguelriemoliveira commented on #489
Thanks @danifpdra . Fixed.

[2022-06-16 11:03] manuelgitgomes opened #492 "Mininum number of detected point in evaluation"
Hello @miguelriemoliveira  and @danifpdra!
When taking results for my thesis, a particular situation caught my attention. When evaluating RGB to RGB, one collection appeared like this:
![image](https://user-images.githubusercontent.com/58152228/174055759-87f536f7-9d9d-4227-83e9-231c22b95eb9.png)
Only one correspondent point between the source and the target image. This collection skews the results

[2022-06-16 15:45] miguelriemoliveira commented on #492
I vote for the first. In fact, when we say that for this dataset we have 0.8 pixels of average error, we are doing the what?

If we are doing the average of each collection, and then the average of the averages I think its wrong.

It should be the average of the weighted averages, were the weight corresponds to the number of points divided by the total number of points for all collections.

So I v

[2022-06-20 10:35] danifpdra commented on #492
Hi @manuelgitgomes and @miguelriemoliveira ,

I find this strange because the RGB image in each collection is only considered detected if it detects more than 25% of the pattern...

[2022-06-20 10:40] miguelriemoliveira commented on #492
@danifpdra I think that's for the calibration, this is in the evaluation...

[2022-06-23 15:06] danifpdra opened #494 "Bug when trying to collect data"
I configured the calibration package with a bag called `bag_robot.bag`... I can run the playbag.launch and so on. When I try to calibrate all starts normally with

[code]

Where we can see that the correct bag is being loaded and then I get this error:

[code]

Where it says that a bag with a different name does not exist.

Do you know what this is about @miguelriemoliveira ?

[2022-06-23 15:07] danifpdra commented on #494
The configuration of the calibration package runs as expected:

[code]

[2022-06-23 15:09] danifpdra commented on #494
I discovered what the problem was. I will fix this now.

[2022-06-23 15:14] #494 closed, assigned to nobody

[2022-06-23 15:18] miguelriemoliveira commented on #494
Hi @danifpdra ,

sorry, only now I am reading this. Can you describe what the problem was?

[2022-06-23 15:22] danifpdra commented on #494
Yes, the problem was that the data_collector_and_labeller.py reads a calibration_file that is given by the collect_data.launch, and because now we can configure the calibration with different configuration files with different names (and I was doing that), I noticed that the template for the collect_data.launch had a static argument:

`<arg name="config_file" default="$(find {{ c.package_name }})/

[2022-06-23 16:13] miguelriemoliveira commented on #494
OK. great. Does it only occur for the data collector? No other module uses the config, right?

How about the set initial estimate?

[2022-06-23 21:40] manuelgitgomes opened #495 "Cross collection evaluation"
Create an evaluation script that evaluates cross collection in reference to odom.

[2022-06-23 21:46] manuelgitgomes opened #496 "Evaluation scripts retrieving the intrinsics of test dataset"
In evaluation. the intrinsic parameters used are the ones from the test dataset and not the ones optimized from the train dataset.
Should this be like this?
https://github.com/lardemua/atom/blob/60f89351f7d518f107c35036eb29a45551621681/atom_evaluation/scripts/rgb_to_rgb_evaluation#L208-L211

[2022-06-23 22:28] miguelriemoliveira opened #497 "Use getMixedDataset in all evaluations"

[2022-06-23 22:28] miguelriemoliveira commented on #496
Hi @manuelgitgomes ,

actually they are copied from the train to the test dataset some lines above:

https://github.com/lardemua/atom/blob/60f89351f7d518f107c35036eb29a45551621681/atom_evaluation/scripts/rgb_to_rgb_evaluation#L188-L194

But I don't like this way of doing it, because its confusing.

We should have a train dataset, a test dataset, and a mixed dataset.
This way its more explicit.

I

[2022-06-23 22:29] manuelgitgomes commented on #496
Ok, thank you!

[2022-06-23 23:56] manuelgitgomes commented on #495
Hello @miguelriemoliveira! First results!!!
Without a for cycle, so every sensor_source is compared to the sensor_target in collection 002.
[code]

To compare, the regular rgb_to_rgb_evaluation.

[code]

As it can be seen, collection 002 presents the same results, as expected.
However, both translation and rotation are considerably higher in the cross collection. Is this large of a difference expe

[2022-06-24 08:01] manuelgitgomes commented on #495
The translation and rotation error was fixed!
Results here:
[code]

[2022-06-24 08:21] manuelgitgomes commented on #495
I believe the RGB to RGB cross collection is done! From the 10 used collections, 45 pairs can be formed, and they are presented here:

[code]

[2022-06-24 08:32] miguelriemoliveira commented on #495
Why @manuelgitgomes ,

why only 45 pairwise combinations? Because you need a detection on both sensors, right?

So we get 0.5 in the intra collection evaluation, and 1 pixel error in the cross collection evaluation?

These results are very plausible I think.

[2022-06-24 08:37] manuelgitgomes commented on #495
From the 18 collections, only 10 collections have a detection in both sensors.
I only considered one-way pairings, that is, if collection 000 is already paired with 002, then collection 002 does not need to be paired with collection 000.
To calculate the number of pairs in 10 objects I used [this website](https://www.calculatorsoup.com/calculators/discretemathematics/combinations.php), which gave

[2022-06-24 08:37] miguelriemoliveira commented on #495
Forgot to say before: congratulations. The results look great.

BTW, the odom frame should be a command line argument, since its name may change from system to system. Called the fixed frame. In our case It is fixed by the odometry, but it could be fixed using slam, gps, or some other form of localization.

I can't resist to say now you should try cross collection evaluation also with cross sensor

[2022-06-24 08:43] miguelriemoliveira commented on #495
Yes, it makes sense since its the same sensor. But for the cross sensor results you will have to take into account the two-way pairing.

This is done directly in python:

https://stackoverflow.com/questions/36429507/python-combinations-without-repetitions

we use it here:

https://github.com/lardemua/atom/blob/671e301310a0543ab91a99ba7c7ef9a4dbd33551/atom_core/src/atom_core/ros_utils.py#L45-L56

[2022-06-24 08:47] manuelgitgomes commented on #495
I used the world_link from the dataset, which should change accordingly to the fixation method. Should I change that to an argument?

So, two different tables, one from sensor a - sensor b and one from sensor b - sensor a? Or the same table with the two-way pairings?

Thanks!

[2022-06-24 08:51] miguelriemoliveira commented on #495
Same table I think. The goal is to assess how  sensors sa sb are calibrates
w.r.t each other.

On Fri, Jun 24, 2022, 09:47 Manuel Gomes ***@***.***> wrote:

[2022-06-24 08:52] miguelriemoliveira commented on #495
About the world link i am not sure, but I think the user should specify.

On Fri, Jun 24, 2022, 09:47 Manuel Gomes ***@***.***> wrote:

[2022-06-24 09:01] manuelgitgomes commented on #495
Another question. Should the PnP be calculated only for the source sensor or for both? If both, should a table be double the size of the number of permutations (2x10x10=200), half of it calculated with one PnP and the other with another?

Sure!

[2022-06-24 09:28] manuelgitgomes commented on #496
In the lidar_to_rgb_evaluation, this creates false results, as in here:
https://github.com/lardemua/atom/blob/6ccf25d521dae877c98d591ace3ebc128bf50a7c/atom_evaluation/scripts/lidar_to_rgb_evaluation#L59-L60

The test dataset intrinsic parameters are used and they are not copied from the train one. This can massively influence results.
This was already implemented on my thesis, but here is an examp

[2022-06-24 09:42] manuelgitgomes commented on #495
Because I did not understood fully the assignment, I moved on to rgb_to_lidar_cross_collection_evaluation. I did a two way pairing and the results are as follows.

Top left camera to top lidar:

[code]

This RMS of 3.27 is slightly high than the intra-collection one, which is 2.61

Top right camera to top lidar:

[code]

This RMS of 2.60 is slightly high than the intra-collection one, which is 2.0

[2022-06-24 09:43] manuelgitgomes commented on #495
I also changed the rgb/rgb to two-way pairing, with results:

[code]

[2022-06-24 10:36] miguelriemoliveira commented on #495
We have the same dilema in the standard rgb to rgb evaluation, and have decided to choose only one sensor.

[2022-06-24 10:38] manuelgitgomes commented on #495
Ok, so I do not understand what is asked when the professor asks for a cross-sensor evaluation!

[2022-06-24 10:40] miguelriemoliveira commented on #496
Not sure what you mean. I will call you later.

[2022-06-24 11:07] sensorCalib opened #498 "Too many measurements at collect data step"
Hi,

at step 4. when trying to collect data, we seem to get a dimension mismatch. This is the error occuring:

`[ERROR] [1656064461.734798, 1656052507.736720]: bad callback: <bound method InteractiveDataLabeler.sensorDataReceivedCallback of <atom_calibration.collect.interactive_data_labeler.InteractiveDataLabeler object at 0x7f3929d15d60>>
Traceback (most recent call last):
  File "/opt/ros/noetic

[2022-06-24 11:18] miguelriemoliveira commented on #495
Hi @manuelgitgomes ,

results also look very good. Congrats.

[2022-06-24 11:19] miguelriemoliveira commented on #495
Hi @manuelgitgomes ,

I mean we select one sensor to use the PNP.

[2022-06-24 11:21] manuelgitgomes commented on #495
Sorry, can I call you?

[2022-06-24 11:23] miguelriemoliveira commented on #495
I will call you in a moment ok?
*  Miguel Riem de Oliveira                                             *
Diretor de curso Mestrado Eng. Automação Industrial
email:    ***@***.***    |    ***@***.***
zoom: https://videoconf-colibri.zoom.us/j/7155402102
office: 22.2.18                 |    ext: 23887
Dep. de Engenharia Mecânica, Universidade de Aveiro
*Campus Universitário de Santiago, 3810-193  Por

[2022-06-24 11:36] manuelgitgomes commented on #496
Remove train_dataset and test_dataset after mixed is created

[2022-06-24 14:05] miguelriemoliveira commented on #498
Hello,

Before we help, could you please provide more information? What robotic system are you calibrating? How many sensors? Of which modality?

It seems you have just created this account in github. Also, you do not identify yourself. If you could provide some more information that would be very helpful.

[2022-06-24 14:16] manuelgitgomes commented on #495
Rgb to rgb cross collectios / same sensor done!

[2022-06-24 14:39] miguelriemoliveira commented on #495
Nice. Now you have to write everything down!

[2022-06-27 08:39] sensorCalib commented on #498
Hello,

thanks for the feedback, I'll gladly provide you with more information.

Robotic system: ROS Noetic, working with noetic-devel branch
How many sensors: two (ouster os1, zed 2i) The error happens with the ouster.
Which modality: ouster os1 has modality lidar3d, zed 2i has modality rgb

I am a commercial user and working on a research project about environment detection.

[2022-06-27 10:33] manuelgitgomes opened #499 "Why does this transform is from the target sensor to the source instead of backwards?"
https://github.com/lardemua/atom/blob/6ccf25d521dae877c98d591ace3ebc128bf50a7c/atom_evaluation/scripts/lidar_to_lidar_evaluation#L133

[2022-06-27 10:35] manuelgitgomes commented on #499
@miguelriemoliveira  The transformation in here:
https://github.com/lardemua/atom/blob/6ccf25d521dae877c98d591ace3ebc128bf50a7c/atom_evaluation/scripts/lidar_to_lidar_evaluation#L133-L137

Is from the target to source, instead of backwards. Why is this? How does it work?

[2022-06-27 12:16] manuelgitgomes commented on #499
Solved

[2022-06-27 12:16] #499 closed, assigned to miguelriemoliveira

[2022-06-27 12:17] manuelgitgomes opened #500 "Create a system evaluation script"
Create a script that evaluates every sensor pair possible inside a robotic system. Exports the results in .csv of .pdf.

[2022-06-27 13:00] miguelriemoliveira commented on #498
Hi @sensorCalib ,

I have never worked with this sensor before, but it should be very similar to velodyne.

To investigate I would need your calibration.yml file (or a link to your calibration repository) and also a bag file with the sensor data. IT can be just a small 1 min bag or something.

Could you provide this please?

[2022-06-27 15:17] sensorCalib commented on #498
Hello @miguelriemoliveira ,

yes, of course I can share these files with you. The bag files become quite huge quickly, so I only recorded several seconds. Hopefully, this is sufficient.

https://www.dropbox.com/scl/fo/o40e4s4vu32bpn99p1j2e/h?dl=0&rlkey=0ugua76pvhx1jsnxwbvanyz6p

[2022-06-27 17:18] manuelgitgomes commented on #495
Created lidar to lidar cross collection, but something is weird with the results.
Here are the results for the simulation dataset without anchor:

[code]

And with anchor:
[code]

The results are very similar, although not equal. On the anchored sensor dataset, should the values be all 0? Because the sensor is placed in the correct spot. Or does this have to do with #461? The error can be inherent

[2022-06-27 18:35] miguelriemoliveira commented on #495
Hi @manuelgitgomes ,

when we use an anchored sensor we have one sensor not moving. But this is a lidar to lidar evaluation, if you did not anchor one of the lidar sensors in the evaluation then perhaps results should be quite similar...

[2022-06-27 19:58] manuelgitgomes commented on #495
Hello @miguelriemoliveira! This is same sensor cross collection evaluation!

[2022-06-27 21:55] miguelriemoliveira commented on #495
and was this sensor the anchored sensor or was it another one?

[2022-06-27 21:57] manuelgitgomes commented on #495
On the first results, no, but on the second ones, yes

[2022-06-27 21:59] miguelriemoliveira commented on #495
Can we talk 5 mins?

[2022-06-27 22:00] manuelgitgomes commented on #495
Sure

[2022-07-01 06:11] miguelriemoliveira commented on #498
Hi @sensorCalib ,

I have downloaded the bag and yml. Thanks.

SI created a calibration package of my own since you did not share yours, but now to configure the calibration package I need this xacro file:

"/home/user/ws/src/base/description/urdf/system.urdf.xacro"

Can you provide it?

Thanks

[2022-07-01 06:16] miguelriemoliveira commented on #498
I have compared the ouster lidar ros messages that you have

[code]

with the ones we use from velodynes:

[code]

I think the problem is, as you discussed above, the fact that the ouster point cloud is not flattened (i.e. height=1) as is the velodyne point cloud.

Let me investigate further.

[2022-07-01 06:42] miguelriemoliveira commented on #498
Hi @sensorCalib ,

I changed the label messages code to be able to handle both velodynes and the ouster lidars.

In the standalone test I did it works:

https://github.com/lardemua/atom/blob/noetic-devel/atom_calibration/scripts/tests/test_ouster_lidar

Please test and let me know if it runs.

I suspect we will have additional problems with the ouster lidar in some other places, but without the xa